Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team

Improve authentication hook tests and error handling
  .quality-metrics-history.json
  tests/unit/auth-hooks.test.tsx
Owners: @koveogestion/tech-leads

Ensure AI analysis automatically creates multiple actionable items
  attached_assets/image_1755358141128.png
  server/routes.ts
  server/services/gemini-analysis.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Organize user management under the manager menu
  client/src/components/layout/sidebar.tsx
Owners: @koveogestion/tech-leads

Ensure permissions file loads correctly in new Node.js environment
  config/validate-permissions.ts
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1755358619075.png
Owners: @koveogestion/tech-leads

Fix app startup crash by ensuring permissions file is included
  DEPLOYMENT_FIXES.md
  attached_assets/image_1755358661303.png
  config/index.ts
  config/validate-permissions.ts
  scripts/build-server.ts
  scripts/build.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Streamline administrative access by removing the 'owner' role
  client/src/App.tsx
  client/src/components/admin/bulk-actions-bar.tsx
  client/src/components/admin/invitation-management.tsx
  client/src/components/admin/send-invitation-dialog.tsx
  client/src/components/admin/user-list.tsx
  client/src/components/layout/sidebar.tsx
  client/src/pages/admin/dashboard.tsx
  client/src/pages/admin/documentation.tsx
  client/src/pages/admin/permissions.tsx
  client/src/pages/admin/pillars.tsx
  client/src/pages/admin/quality.tsx
  client/src/pages/admin/roadmap.tsx
  client/src/pages/admin/suggestions-with-filter.tsx
  client/src/pages/admin/suggestions.tsx
  client/src/pages/admin/user-management.tsx
  client/src/utils/component-loader.ts
  config/README.md
  config/index.ts
  config/permissions-schema.ts
  config/permissions.json
  config/test-permissions.ts
  migrations/0000_sparkling_korg.sql
  scripts/create-admin-user.ts
  server/auth/invitation-rbac.ts
  server/routes.ts
  shared/schema.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins, @koveogestion/quality-team, @koveogestion/security-team, @koveogestion/api-team

Created a checkpoint
  config/permissions-schema.ts
  config/validate-permissions.ts
Owners: @koveogestion/tech-leads

Improve application startup by delaying database optimizations and adding health checks
  server/index.ts
  server/routes.ts
Owners: @koveogestion/api-team, @koveogestion/tech-leads

Stabilize application by fixing deployment and ensuring uptime
  scripts/post-build.sh
  server/index.ts
  server/routes.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads, @koveogestion/api-team

Add immediate health checks and defer initialization to improve deployment stability
  server/index.ts
  server/routes.ts
Owners: @koveogestion/api-team, @koveogestion/tech-leads

Add visual asset for system documentation
  attached_assets/image_1755361450108.png
Owners: @koveogestion/tech-leads

Move email service initialization to background process
  attached_assets/image_1755361507355.png
  server/index.ts
  server/routes.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Enhance user management and security features across the platform
  client/src/components/admin/bulk-actions-bar.tsx
  client/src/components/admin/invitation-management.tsx
  client/src/components/admin/send-invitation-dialog.tsx
  client/src/components/admin/user-list.tsx
  client/src/components/auth/password-strength-indicator.tsx
  client/src/components/auth/registration-wizard.tsx
  client/src/components/auth/steps/password-creation-step.tsx
  client/src/components/auth/steps/profile-completion-step.tsx
  client/src/components/auth/steps/quebec-privacy-consent-step.tsx
  client/src/components/auth/steps/token-validation-step.tsx
  client/src/pages/admin/permissions.tsx
  client/src/pages/admin/user-management.tsx
  client/src/pages/auth/invitation-acceptance.tsx
  client/src/pages/owner/permissions.tsx
  client/src/utils/memory-monitor.ts
  client/src/utils/password-validation.ts
  config/permissions-schema.ts
  config/validate-permissions.ts
  scripts/build-server.ts
  scripts/build.ts
  server/api/permissions.ts
  server/auth/index.ts
  server/auth/invitation-rbac.ts
  server/index.ts
  server/routes.ts
  server/services/email-routes.ts
  server/services/email-service.ts
  server/services/metric-validation.ts
  tests/e2e/invitation/complete-flow.test.ts
  tests/integration/invitation/rbac-system.test.ts
  tests/integration/quality-metrics-api.test.ts
  tests/integration/ssl-api.test.ts
  tests/integration/ssl-management-e2e.test.ts
  tests/mobile/accessibility.test.tsx
  tests/unit/notification-service.test.ts
  tests/utils/coverage-automation.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team, @koveogestion/security-team, @koveogestion/api-team, @koveogestion/mobile-team

Improve deployment readiness and health checks for all environments
  server/index.ts
  server/routes.ts
Owners: @koveogestion/api-team, @koveogestion/tech-leads

Adjust server to correctly use Cloud Run port settings
  server/index.ts
Owners: @koveogestion/api-team, @koveogestion/tech-leads

Update user interface with new visual elements
  attached_assets/image_1755363138429.png
  attached_assets/image_1755363160548.png
Owners: @koveogestion/tech-leads

Integrate SendGrid for sending application emails
  .replit
  package-lock.json
  package.json
  server/services/email-service.ts
Owners: @koveogestion/tech-leads

Prevent application crashes and improve health check reliability
  config/validate-permissions.ts
  server/index.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Update health check endpoints and static file serving for deployment
  attached_assets/image_1755365007885.png
  server/index.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Add new security compliance features for the platform
  attached_assets/image_1755365365862.png
Owners: @koveogestion/tech-leads

Grant owners access to user management pages and features
  attached_assets/image_1755365483127.png
  attached_assets/image_1755365528276.png
  client/src/pages/admin/user-management.tsx
  config/permissions.json
Owners: @koveogestion/tech-leads

Introduce a public-facing home page and update navigation logic
  attached_assets/image_1755365697788.png
  client/src/App.tsx
  client/src/hooks/use-auth.tsx
  client/src/pages/home.tsx
Owners: @koveogestion/tech-leads

Update user role permissions to remove owner
  client/src/pages/admin/user-management.tsx
  config/permissions.json
Owners: @koveogestion/tech-leads

Fix logout functionality to properly terminate sessions
  client/src/components/layout/sidebar.tsx
Owners: @koveogestion/tech-leads

Show user's name and profile picture in the sidebar menu
  attached_assets/image_1755366112030.png
  client/src/components/layout/sidebar.tsx
Owners: @koveogestion/tech-leads

Add cookie file for session management
  cookies.txt
Owners: @koveogestion/tech-leads

Refine user roles and permissions across the system
  attached_assets/image_1755366786249.png
  server/api/permissions.ts
  server/api/ssl.ts
  server/api/users.ts
  server/routes.ts
  server/services/notification_service.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Refine application behavior and fix duplicate styling
  client/src/App.tsx
  client/src/components/admin/invitation-management.tsx
  client/src/components/admin/user-list.tsx
  client/src/utils/memory-monitor.ts
  config/validate-permissions.ts
  package-lock.json
  server/routes.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Improve documentation and remove unused code across components
  client/src/components/admin/bulk-actions-bar.tsx
  client/src/components/admin/invitation-management.tsx
  client/src/components/admin/send-invitation-dialog.tsx
  client/src/components/admin/user-list.tsx
  client/src/components/auth/password-strength-indicator.tsx
  client/src/components/forms/feature-form.tsx
Owners: @koveogestion/tech-leads

Add user management features and update permission tests
  client/src/lib/i18n.ts
  config/test-permissions.ts
Owners: @koveogestion/tech-leads

Update script logging to use warnings and improve output clarity
  client/src/components/admin/bulk-actions-bar.tsx
  client/src/components/admin/invitation-management.tsx
  scripts/build-server.ts
  scripts/build.ts
  scripts/coverage-monitor.ts
  scripts/create-admin-user.ts
  scripts/generate-security-report.ts
  scripts/quebec-security-check.ts
  scripts/run-quality-check.ts
  scripts/run-quality-metric-tests.ts
  scripts/seed-features.ts
  scripts/seed-suggestions.ts
  scripts/test-auth-security.ts
  scripts/test-jest-config.ts
  scripts/test-quality-validator.ts
  scripts/update-db-schema.ts
  scripts/validate-language.ts
  scripts/validate-llm-form-mapping.ts
  scripts/validate-ssl-management.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team

Update role names and user management permissions for clarity
  attached_assets/image_1755368571654.png
  client/src/lib/i18n.ts
  client/src/pages/admin/user-management.tsx
Owners: @koveogestion/tech-leads

Update password strength validation to meet enhanced security requirements
  attached_assets/image_1755368927833.png
Owners: @koveogestion/tech-leads

Improve password strength validation to ensure user account security
  attached_assets/targeted_element_1755369060757.png
Owners: @koveogestion/tech-leads

Update password strength validation rules for enhanced account security
  attached_assets/image_1755369293599.png
Owners: @koveogestion/tech-leads

Remove sidebar from the home page for all users
  attached_assets/image_1755369380265.png
  client/src/App.tsx
Owners: @koveogestion/tech-leads

Improve invitation system and add translation for new features
  client/src/components/admin/send-invitation-dialog.tsx
  client/src/lib/i18n.ts
  scripts/validate-ssl-management.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Saved your changes before starting work
  attached_assets/image_1755370825602.png
  attached_assets/targeted_element_1755370976184.png
Owners: @koveogestion/tech-leads

Update sidebar to display user information more accurately
  client/src/components/layout/sidebar.tsx
Owners: @koveogestion/tech-leads
