Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team

Catch a wider range of database errors in MCP write tools
  replit.md
  server/mcp/server.ts
  tests/unit/api/mcp-write-error-extended-codes.test.ts
Owners: @koveogestion/tech-leads

Task #259: Fix SiLinkedin missing-icon crash
  client/src/components/layout/StandardFooter.tsx
  client/src/components/layout/sidebar.tsx
  client/src/pages/auth/forgot-password.tsx
  client/src/pages/auth/invitation-acceptance.tsx
  client/src/pages/auth/login.tsx
  client/src/pages/auth/reset-password.tsx
Owners: @koveogestion/tech-leads

Fix buildSha deploy-marker staleness in get_mcp_info (task #247)
  server/mcp/server.ts
  server/tests/mcp-tools.test.ts
Owners: @koveogestion/tech-leads

docs(changelog): note list_buildings organizationId is now required
  CHANGELOG.md
Owners: @koveogestion/tech-leads

Task #249: Clarify invitation audit log role field names
  server/mcp/server.ts
  server/services/invitation-soft-replace.ts
  tests/unit/api/mcp-cancel-invitation.test.ts
  tests/unit/api/mcp-get-invitation-history.test.ts
Owners: @koveogestion/tech-leads

feat(invitations): switch duplicate invites to explicit 409 conflict (Task #250)
  CHANGELOG.md
  server/api/users.ts
  server/mcp/server.ts
  server/services/invitation-soft-replace.ts
  tests/integration/invitation-soft-replace-rest.test.ts
  tests/unit/api/mcp-invite-user-soft-replace.test.ts
Owners: @koveogestion/tech-leads

Git commit prior to merge
  attached_assets/image_1776811607538.png
Owners: @koveogestion/tech-leads

Task #261: Translate the duplicate-invite error for French users
  client/src/components/admin/send-invitation-dialog.tsx
  client/src/lib/i18n.ts
Owners: @koveogestion/tech-leads

Task #252: delete_residence full cascade teardown
  server/mcp/server.ts
  server/tests/mcp-tools.test.ts
Owners: @koveogestion/tech-leads

Implement a unified bill numbering system across the platform
  server/api/bills.ts
  server/api/organizations.ts
  server/mcp/server.ts
  server/services/bill-generation-service.ts
  server/services/bill-number-generator.ts
  server/services/consolidated-financial-service.ts
  server/utils/feature-flags.ts
  shared/schema.ts
  shared/schemas/bill-number.ts
  shared/schemas/financial.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Task #256: auto-retry transient DB failures inside MCP write tools
  replit.md
  server/mcp/server.ts
  tests/unit/api/mcp-with-retryable-db-call.test.ts
Owners: @koveogestion/tech-leads

Post-merge setup completed successfully
  .replit
  scripts/post-merge.sh
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Fix naming inconsistencies and type errors across the application
  client/src/components/maintenance/projects/ProjectElements.tsx
  client/src/components/maintenance/projects/ProjectNotes.tsx
  client/src/components/maintenance/projects/ProjectTimeline.tsx
  client/src/components/maintenance/projects/StatusStepper.tsx
  client/src/components/ui/carousel.tsx
  client/src/components/ui/standard-form.tsx
  client/src/lib/apiHelpers.ts
  client/src/lib/formUtils.ts
  client/src/pages/manager/maintenance/projects/ProjectDetailsPanel.tsx
  client/src/pages/manager/maintenance/projects/ProjectsOverview.tsx
  shared/schemas/development.ts
Owners: @koveogestion/tech-leads

Task #257 — Surface friendlier DB error messages in REST responses
  server/api/bills.ts
  server/api/documents.ts
  server/api/users.ts
  server/utils/rest-db-error.ts
Owners: @koveogestion/tech-leads

Restore the MCP tools test suite (task #258)
  __mocks__/child_process.js
  __mocks__/drizzle-orm.ts
  __mocks__/drizzle-orm/index.js
  __mocks__/drizzle-orm/pg-core.js
  jest.config.cjs
Owners: @koveogestion/tech-leads

Task #260: Require organization scope on remaining MCP list tools
  CHANGELOG.md
  server/mcp/server.ts
  tests/unit/api/mcp-list-pending-invitations.test.ts
Owners: @koveogestion/tech-leads

Remove deprecated InvitationSoftReplaceRaceLostError alias (Task #262)
  server/services/invitation-soft-replace.ts
  tests/unit/api/mcp-invite-user-error-sanitization.test.ts
  tests/unit/api/mcp-with-retryable-db-call.test.ts
  tests/unit/api/mcp-write-error-extended-codes.test.ts
Owners: @koveogestion/tech-leads

Fix preview-not-available text with translations
  client/src/lib/i18n.ts
Owners: @koveogestion/tech-leads

Task #265: Cascade-delete dependents in delete_building MCP tool
  server/mcp/server.ts
  server/tests/mcp-tools.test.ts
Owners: @koveogestion/tech-leads

Task #266: Cover the new residence cascade with a real end-to-end integration test
  tests/integration/mcp-delete-residence-cascade.test.ts
Owners: @koveogestion/tech-leads

Git commit prior to merge
  __mocks__/drizzle-orm.ts
  __mocks__/drizzle-orm/index.js
  __mocks__/drizzle-orm/pg-core.js
  replit.md
Owners: @koveogestion/tech-leads

Task #273: Cover the building cascade with a real end-to-end test against Postgres
  .replit
  tests/integration/mcp-delete-building-cascade.test.ts
Owners: @koveogestion/tech-leads

Git commit prior to merge
  jest-resolver.js
  tests/integration/mcp-delete-building-cascade.test.ts
  tests/integration/mcp-delete-residence-cascade.test.ts
  tests/integration/user-residences-end-residency.test.ts
Owners: @koveogestion/tech-leads

Task #275: real-Postgres integration test for MCP delete_bill cascade
  server/mcp/server.ts
  tests/integration/mcp-delete-bill-cascade.test.ts
Owners: @koveogestion/tech-leads

Task #278: Auto-sync the integration DB schema before tests run
  jest.config.cjs
  jest.global-setup.cjs
Owners: @koveogestion/tech-leads

Make Koveo installable as a PWA on mobile
  client/index.html
  client/public/apple-touch-icon.png
  client/public/favicon-32.png
  client/public/icon-192.png
  client/public/icon-512-maskable.png
  client/public/icon-512.png
  client/public/manifest.webmanifest
  client/public/sw.js
  client/src/main.tsx
Owners: @koveogestion/tech-leads

Fix 67 dependency vulnerabilities (54 resolved, 13 remaining in nested transitive deps)
  SECURITY_EXCEPTIONS.md
  package-lock.json
  package.json
Owners: @koveogestion/tech-leads

Add mobile install prompt banner (Task #285)
  client/src/App.tsx
  client/src/components/common/InstallPrompt.tsx
Owners: @koveogestion/tech-leads

Fix 4 dependency vulnerabilities via npm overrides
  package-lock.json
  package.json
Owners: @koveogestion/tech-leads

Update Vite dependency to resolve application preview issues
  package-lock.json
  package.json
Owners: @koveogestion/tech-leads

Task #279: Add real-Postgres integration test for delete_project MCP cascade
  server/mcp/server.ts
  tests/integration/mcp-delete-project-cascade.test.ts
Owners: @koveogestion/tech-leads

Add Gantt view to projects panel (Overview + Budget)
  client/src/components/GanttChart.tsx
  client/src/pages/dashboard/overview.tsx
  client/src/pages/manager/budget/index.tsx
  client/src/pages/manager/budget/types.ts
Owners: @koveogestion/tech-leads

Translate new Gantt view labels into French via i18n
  client/src/components/GanttChart.tsx
  client/src/lib/i18n.ts
  client/src/pages/dashboard/overview.tsx
  client/src/pages/manager/budget/index.tsx
Owners: @koveogestion/tech-leads

Translate Gantt include/exclude budget tooltips through i18n
  client/src/components/GanttChart.tsx
  client/src/lib/i18n.ts
Owners: @koveogestion/tech-leads

Fix authentication and onboarding security vulnerabilities (Task #311)
  server/api/users.ts
  server/auth.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Task #300: Gantt horizontal scroll
  client/src/components/GanttChart.tsx
Owners: @koveogestion/tech-leads

Task #246: Move project between periods
  client/src/pages/dashboard/overview.tsx
  client/src/pages/manager/budget/hooks/useBudgetProjects.ts
  client/src/pages/manager/budget/index.tsx
Owners: @koveogestion/tech-leads

fix: Organization Scope Escalation (Task #313)
  server/api/buildings.ts
  server/api/buildings/access-control.ts
  server/api/common-spaces.ts
  server/api/residences.ts
  server/api/users.ts
  server/rbac.ts
Owners: @koveogestion/tech-leads

fix: resolve broken access control in residence and assigned-user routes (Task #314)
  server/api/residences.ts
Owners: @koveogestion/tech-leads

Make budget chart preview project period shifts instantly
  client/src/lib/forecast-request.ts
  client/src/pages/manager/budget/index.tsx
  server/api/budgets.ts
  server/api/forecast-input-schema.ts
Owners: @koveogestion/tech-leads
