Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

Update document schemas to allow for flexible effective dates
  shared/schemas/documents.ts
Owners: @koveogestion/tech-leads

Improve resident demand filtering and data fetching logic
  client/src/pages/ResidentDemandsPage.tsx
  server/api/demands.ts
Owners: @koveogestion/tech-leads

Exclude demo users from active user counts and selections
  attached_assets/image_1758419437856.png
  server/optimized-db-storage.ts
Owners: @koveogestion/tech-leads

Translate the delete orphan users feature to French
  client/src/lib/i18n.ts
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Update pricing details and improve text visibility on pricing page
  client/src/pages/pricing.tsx
Owners: @koveogestion/tech-leads

Update link to filter residences by building on the buildings page
  client/src/pages/manager/buildings.tsx
Owners: @koveogestion/tech-leads

Improve user search functionality with adjusted filter placement and faster response
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Improve building data handling and fix server errors
  server/api/buildings-refactored.ts
Owners: @koveogestion/tech-leads

Update authentication routes to properly return responses
  server/auth.ts
Owners: @koveogestion/security-team

Update API to properly return responses and resolve server errors
  server/routes.ts
Owners: @koveogestion/api-team, @koveogestion/tech-leads

Improve logging and error handling for building data retrieval
  server/api/buildings-refactored.ts
Owners: @koveogestion/tech-leads

Add primary key constraints to core database tables for improved data integrity
  shared/schemas/core.ts
Owners: @koveogestion/tech-leads

Add test to verify all project tests are discovered and executed
  tests/unit/test-runner-coverage.test.ts
Owners: @koveogestion/tech-leads

Automate test execution by dynamically discovering and running all available tests
  scripts/run-tests-sequential.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Improve test setup and critical authentication checks
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/02/sessionpersistencetest_027a7c1ba34cec8ebf00291025248fa1
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/02/sessionpersistencetest_027a7c1ba34cec8ebf00291025248fa1.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/24/testrunnercoveragetest_24d168863c7dbc7e11373119b3c196a4
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/24/testrunnercoveragetest_24d168863c7dbc7e11373119b3c196a4.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/47/authenticationcriticaltest_477c0fe22f080e748dcdd6b3d0c75b48
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/47/authenticationcriticaltest_477c0fe22f080e748dcdd6b3d0c75b48.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/56/sessionpersistencetest_5604f33b7686f79997abcab35fcf9462
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/56/sessionpersistencetest_5604f33b7686f79997abcab35fcf9462.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/58/storage_582124c7243e8b21ca6876584ab5c4e6
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/58/storage_582124c7243e8b21ca6876584ab5c4e6.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/87/setup_871e18d70866455153701539d0a67931
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/87/setup_871e18d70866455153701539d0a67931.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/e2/authenticationcriticaltest_e27fedc6e15def6734b76039a60e4c9d
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/e2/authenticationcriticaltest_e27fedc6e15def6734b76039a60e4c9d.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  attached_assets/image_1758421696667.png
  attached_assets/image_1758421703933.png
  attached_assets/image_1758422311928.png
  scripts/run-tests-sequential.ts
  tests/critical/authentication-critical.test.ts
  tests/critical/session-persistence.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team, @koveogestion/security-team

Standardize building display cards across resident and manager views
  client/src/components/buildings/BuildingCard.tsx
  client/src/pages/manager/buildings.tsx
  client/src/pages/residents/building.tsx
Owners: @koveogestion/tech-leads

Safeguard user data by restricting editable fields during updates
  server/optimized-db-storage.ts
Owners: @koveogestion/tech-leads

Improve user table updates after editing user information
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Improve user update process to prevent race conditions
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Update user changes to display correctly after editing
  attached_assets/image_1758423725685.png
  server/query-cache.ts
Owners: @koveogestion/tech-leads

Add notification preferences and communication tools for property managers
  shared/schemas/operations.ts
Owners: @koveogestion/tech-leads

Add communication features for managing user notifications and preferences
  server/api/communication.ts
  server/routes.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Add ability to send calendar invites for meetings and general communications
  server/api/communication.ts
  server/services/email-service.ts
Owners: @koveogestion/tech-leads

Improve calendar invite generation for better Outlook compatibility
  server/services/email-service.ts
  server/services/microsoft-graph-integration.md
  server/services/outlook-integration.ts
Owners: @koveogestion/tech-leads

Add a new communication page to the dashboard for user notifications
  client/src/App.tsx
  client/src/pages/dashboard/communication.tsx
Owners: @koveogestion/tech-leads

Add ability to send general communications with urgency and recipient options
  client/src/pages/dashboard/communication.tsx
Owners: @koveogestion/tech-leads

Add functionality to populate default notification preferences for users
  server/api/communication.ts
  server/scripts/populate-default-notification-preferences.ts
Owners: @koveogestion/tech-leads

Add comprehensive tests for communication and translation features
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/52/testutils_52e1322e1738ee18ff297871cd862ce7
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/52/testutils_52e1322e1738ee18ff297871cd862ce7.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/6e/communicationtranslationtest_6ed2a7ff8b5f84f592d31b3bdaa8f6cd
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/6e/communicationtranslationtest_6ed2a7ff8b5f84f592d31b3bdaa8f6cd.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/93/communicationapitest_93f91cdda42522cc60e3e46b61baf4e1
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/93/communicationapitest_93f91cdda42522cc60e3e46b61baf4e1.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/c3/i18n_c364fdfda779555477c513e38f520c24
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/c3/i18n_c364fdfda779555477c513e38f520c24.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d6/communicationpagetest_d64b3a88487e5d49c40e2231731d2222
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d6/communicationpagetest_d64b3a88487e5d49c40e2231731d2222.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/e0/budgettranslationtest_e00568d5d9c8c28973c52018b6169247
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/e0/budgettranslationtest_e00568d5d9c8c28973c52018b6169247.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
Owners: @koveogestion/tech-leads

Add a communication section to the dashboard sidebar navigation
  attached_assets/image_1758456348046.png
  attached_assets/image_1758456416032.png
  attached_assets/image_1758456457217.png
  client/src/config/navigation.ts
Owners: @koveogestion/tech-leads

Set all notification frequencies to monthly by default
  client/src/pages/dashboard/communication.tsx
Owners: @koveogestion/tech-leads

Add starting date and test button to notification preferences
  shared/schemas/operations.ts
Owners: @koveogestion/tech-leads

Add ability to set notification start dates and preview emails
  server/api/communication.ts
  server/services/email-service.ts
Owners: @koveogestion/tech-leads

Add ability to send test emails and configure notification preferences
  client/src/pages/dashboard/communication.tsx
Owners: @koveogestion/tech-leads

Add debug logs to trace communication API errors
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1758457999111_1758457999112.txt
  attached_assets/image_1758457990833.png
  attached_assets/image_1758458028548.png
  server/api/communication.ts
Owners: @koveogestion/tech-leads

Add a single starting date for all user notifications
  attached_assets/image_1758458266678.png
  shared/schemas/core.ts
Owners: @koveogestion/tech-leads

Add ability to set a single starting date for all user notifications
  server/api/communication.ts
Owners: @koveogestion/tech-leads

Set a single starting date for all notification preferences
  attached_assets/image_1758458399681.png
  client/src/pages/dashboard/communication.tsx
Owners: @koveogestion/tech-leads

Update password reset emails to improve clarity and security information
  attached_assets/image_1758458869888.png
  server/services/email-service.ts
Owners: @koveogestion/tech-leads

Improve email service setup and ensure correct permissions for admins
  attached_assets/image_1758458959579.png
  server/auth.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Update bill and payment notifications to include specific details
  server/api/communication.ts
Owners: @koveogestion/tech-leads

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team
