Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team

Task #1067: Memory-bound regression test for bulk-import upload
  tests/integration/bulk-import-upload-large-batch-memory.test.ts
Owners: @koveogestion/tech-leads

Task #1080 — Make the bulk-import staging root configurable for tests and ops
  server/api/bulk-import.ts
  tests/integration/bulk-import-staging-janitor.test.ts
  tests/unit/api/bulk-import-staging-janitor.test.ts
Owners: @koveogestion/tech-leads

feat(bulk-import): inline residence picker in per-item reassign panel (Task #1083)
  client/src/pages/admin/bulk-document-import.tsx
  server/api/bulk-import.ts
  tests/unit/api/bulk-import-reassign-with-residence.test.ts
Owners: @koveogestion/tech-leads

Task #1074: Frontend test for "Retry step from scratch" button
  tests/unit/components/bulk-document-import-reset-step.test.tsx
Owners: @koveogestion/tech-leads

Document BULK_IMPORT_STAGING_ROOT for ops (Task #1087)
  docs/deployment/bulk-import-staging.md
  docs/deployment/deployment-guide.md
Owners: @koveogestion/tech-leads

Task #1086: Pin BULK_IMPORT_STAGING_ROOT across remaining bulk-import tests
  tests/integration/bulk-import-lite-fiscal-year-period-hint.test.ts
  tests/integration/bulk-import-rest-endpoints.test.ts
  tests/integration/bulk-import-screening-rotation-badge.test.ts
  tests/unit/api/bulk-import-upload-disk-streaming.test.ts
Owners: @koveogestion/tech-leads

Task #1085: Component tests for reassign residence dropdown pre-fill
  tests/unit/components/bulk-document-import-reassign-residence-prefill.test.tsx
Owners: @koveogestion/tech-leads

Add residence picker to bulk "Reassign all in group" panel
  client/src/pages/admin/bulk-document-import.tsx
  server/api/bulk-import.ts
  tests/unit/api/bulk-import-bulk-reassign-with-residence.test.ts
Owners: @koveogestion/tech-leads

Task #1081: Apply Task #1076's queryClient isolation fix to sibling bulk-document-import test files prophylactically.
  tests/helpers/queryClientIsolation.ts
  tests/unit/components/bulk-document-import-bulk-reassign.test.tsx
  tests/unit/components/bulk-document-import-period-date-picker.test.tsx
  tests/unit/components/bulk-document-import-polled-retry-spinner.test.tsx
  tests/unit/components/bulk-document-import-retry-isolation.test.tsx
  tests/unit/components/bulk-document-import-sorting-decision.test.tsx
Owners: @koveogestion/tech-leads

Task #1088: warn ops when bulk-import staging disk is filling up
  docs/deployment/bulk-import-staging.md
  server/api/bulk-import.ts
  tests/unit/api/bulk-import-staging-disk-usage.test.ts
Owners: @koveogestion/tech-leads

Task #1090: Pin AI hint disappears when admin overrides residence pick
  tests/unit/components/bulk-document-import-reassign-residence-prefill.test.tsx
Owners: @koveogestion/tech-leads

Git commit prior to merge
  attached_assets/image_1777167941992.png
  attached_assets/image_1777169828575.png
Owners: @koveogestion/tech-leads

Task #1095: Surface bulk-import staging disk usage on admin health page
  client/src/components/dashboard/PerformanceDashboard.tsx
  server/api/health-handler.ts
  server/index.ts
  tests/integration/api-health-bulk-import-staging.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Task #1096 — Catch the staging disk-low alert in an automated test
  server/api/bulk-import.ts
  tests/unit/api/bulk-import-staging-disk-low-alert.test.ts
Owners: @koveogestion/tech-leads

Task #1092: integration coverage for the bulk reassign residence picker
  tests/integration/bulk-import-rest-endpoints.test.ts
Owners: @koveogestion/tech-leads

Block reassign Save until a residence is picked (Task #1101)
  client/src/pages/admin/bulk-document-import.tsx
  tests/unit/components/bulk-document-import-reassign-residence-prefill.test.tsx
Owners: @koveogestion/tech-leads

Task #1097: Pin violet AI hint hidden after admin confirms AI residence
  tests/unit/components/bulk-document-import-reassign-residence-prefill.test.tsx
Owners: @koveogestion/tech-leads

Task #1102: pin the server-side defensive path that backs the Task #1101 client guard on the bulk-import per-item reassign endpoint.
  tests/unit/api/bulk-import-reassign-residence-without-id.test.ts
Owners: @koveogestion/tech-leads

ci: run bulk-import memory test on a regular schedule (Task #1077)
  CONTRIBUTING.md
  README.md
  package.json
Owners: @koveogestion/tech-leads

Task #1089: Pin staging-root env var in perf bulk-import upload test
  tests/integration/bulk-import-upload-large-batch-memory.test.ts
Owners: @koveogestion/tech-leads

Task #1099 — Fix the broken replace-file integration tests
  server/api/bulk-import.ts
  tests/integration/bulk-import-rest-endpoints.test.ts
Owners: @koveogestion/tech-leads

feat: edit tags inline on identification step of bulk import (Task #1103)
  client/src/pages/admin/bulk-document-import.tsx
  server/api/bulk-import.ts
Owners: @koveogestion/tech-leads

Git commit prior to merge
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-bu_1777171679895.txt
  attached_assets/image_1777171676134.png
Owners: @koveogestion/tech-leads

Task #1078: memory regression test for inline "Replace file" bulk-import upload route.
  server/api/bulk-import.ts
  tests/integration/bulk-import-replace-file-large-memory.test.ts
Owners: @koveogestion/tech-leads

fix(tests): de-flake bulk-import auto-screening tests (Task #1098)
  server/api/bulk-import.ts
  tests/integration/bulk-import-rest-endpoints.test.ts
Owners: @koveogestion/tech-leads

Fix bulk-import screen-all integration tests (Task #1106)
  server/tests/fixtures/french-upload.pdf
Owners: @koveogestion/tech-leads

Git commit prior to merge
  attached_assets/image_1777172082741.png
Owners: @koveogestion/tech-leads

Git commit prior to merge
  server/tests/fixtures/french-upload.pdf
Owners: @koveogestion/tech-leads

Task #1112: Auto-apply AI tag suggestions on bulk-import rows
  server/api/bulk-import.ts
  server/tests/bulk-import-tag-resolution.test.ts
Owners: @koveogestion/tech-leads

Task #1104: add automated coverage for bulk-import tag editor
  tests/unit/api/bulk-import-commit-tag-assignments.test.ts
  tests/unit/api/bulk-import-set-tags.test.ts
  tests/unit/components/bulk-document-import-tag-editor.test.tsx
Owners: @koveogestion/tech-leads

Task #1105 — Pre-populate tag picks in bulk-import wizard
  client/src/pages/admin/bulk-document-import.tsx
  server/api/bulk-import.ts
  tests/unit/api/bulk-import-identify-tag-mapping.test.ts
  tests/unit/components/bulk-document-import-period-date-picker.test.tsx
  tests/unit/components/bulk-document-import-polled-retry-spinner.test.tsx
  tests/unit/components/bulk-document-import-reset-step.test.tsx
  tests/unit/components/bulk-document-import-retry-isolation.test.tsx
  tests/unit/components/bulk-document-import-sorting-decision.test.tsx
Owners: @koveogestion/tech-leads

Add library for GitHub interactions and a sample PDF file
  .replit
  package-lock.json
  package.json
  server/tests/fixtures/french-upload.pdf
Owners: @koveogestion/tech-leads

Remove a test PDF file from the project fixtures
  server/tests/fixtures/french-upload.pdf
Owners: @koveogestion/tech-leads

Fix git push to GitHub origin (Task #1123)
  package-lock.json
  package.json
Owners: @koveogestion/tech-leads

Remove orphaned octokit transitive deps from package-lock.json
  package-lock.json
Owners: @koveogestion/tech-leads

Git commit prior to merge
  attached_assets/Pasted-Run-set-e-drift-check-Comparing-shared-schema-ts-agains_1777204292061.txt
Owners: @koveogestion/tech-leads

Task #1118: Speed up per-task validation
  .replit
  scripts/build-check.sh
  scripts/run-unit-tests.sh
  tsconfig.json
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Fix flaky bills template workflow tests (Task #1110)
  tests/unit/bills-template-workflow.test.tsx
Owners: @koveogestion/tech-leads

Task #1124: Keep git history clean by preventing future subrepl-* branch buildup
  CONTRIBUTING.md
  replit.md
  scripts/cleanup-subrepl-refs.sh
  scripts/post-merge.sh
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Git commit prior to merge
  server/tests/fixtures/french-upload.pdf
Owners: @koveogestion/tech-leads
