Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

Fix Type checking workflow to actually run tsc
  .replit
Owners: @koveogestion/tech-leads

Task #742: Make 'X items' messages read correctly when there's only one item
  client/src/components/common/ModularDocumentPageWrapper.tsx
  client/src/components/maintenance/projects/workflow/ElementManagementTab.tsx
  client/src/components/maintenance/projects/workflow/SubmissionTab.tsx
  client/src/hooks/use-language.tsx
  client/src/lib/i18n.ts
Owners: @koveogestion/tech-leads

Task #743: clean up split-sentence translations so French reads naturally
  client/src/components/maintenance/projects/StatusStepper.tsx
  client/src/components/maintenance/projects/workflow/PostWorkTab.tsx
  client/src/lib/i18n.ts
  client/src/pages/manager/budget/index.tsx
Owners: @koveogestion/tech-leads

Task #767: quickAnalysis in Screening, PDF/image rotation, richer Branching prompt
  client/src/pages/admin/bulk-document-import.tsx
  package-lock.json
  package.json
  server/api/bulk-import.ts
  server/mcp/bulk-import-tools.ts
  server/services/bulk-import-analyzer.ts
  server/services/bulk-import-rotation.ts
  tests/unit/services/bulk-import-analyzer.test.ts
  tests/unit/services/bulk-import-rotation.test.ts
Owners: @koveogestion/tech-leads

Task #754 — Add automated tests for ConfidenceBadge fallback behaviour
  client/src/pages/admin/bulk-document-import.tsx
  tests/unit/components/bulk-document-import-confidence-badge.test.tsx
Owners: @koveogestion/tech-leads

Show type and bucket guesses visually in the bulk-import detail view (Task #771)
  client/src/pages/admin/bulk-document-import.tsx
Owners: @koveogestion/tech-leads

Show "Rotated Xdeg" badge in Screening row when bulk-import auto-rotates a file (Task #772)
  client/src/pages/admin/bulk-document-import.tsx
  server/api/bulk-import.ts
Owners: @koveogestion/tech-leads

Task #774: Move AI confidence badge into its own file
  client/src/pages/admin/bulk-document-import.tsx
  client/src/pages/admin/bulk-import-confidence-badge.tsx
  tests/unit/components/bulk-document-import-confidence-badge.test.tsx
Owners: @koveogestion/tech-leads

Task #783: Test bulk-import detail panel hides without AI signal
  tests/unit/components/bulk-document-import-detail-panel.test.tsx
Owners: @koveogestion/tech-leads

Task #782: Show AI typeGuess + bucketGuess in post-screening item history
  client/src/pages/admin/bulk-document-import.tsx
  server/api/bulk-import.ts
Owners: @koveogestion/tech-leads

Task #768: Group Sorting step (branching) by destination + sub-category
  client/src/pages/admin/bulk-document-import.tsx
  server/api/bulk-import.ts
  server/services/bulk-import-analyzer.ts
  tests/unit/services/bulk-import-branching-subcategory.test.ts
Owners: @koveogestion/tech-leads

Git commit prior to merge
  .staging/bulk-import/7c6c7b42-3bbf-465e-b221-eb5b71257bf9/1784d4ed22a6cc00f83ed2065dfcd98932ba0c5a81f28ea15ff17872a0b293db_Etats_financiers_2021_13_NoCentris_28525705.pdf
  .staging/bulk-import/7c6c7b42-3bbf-465e-b221-eb5b71257bf9/1b641036fcce88407ee53a6fb967914aab9d713adeeebd387c732a49985c6dff_ProcÃ¨s verbal octobre 2023.pdf
  .staging/bulk-import/7c6c7b42-3bbf-465e-b221-eb5b71257bf9/25966b8a75495e9983bdf329286818f2d6ca237001133f6b2c3862440ef8e271_Reglements_7_NoCentris_28525705.pdf
  .staging/bulk-import/7c6c7b42-3bbf-465e-b221-eb5b71257bf9/28b099c8ef8d7f54ce04b775baebb3c09e05fbe3a533b9eb9b07424678ccd45c_Declaration_de_copropriete_6_NoCentris_28525705.pdf
  .staging/bulk-import/7c6c7b42-3bbf-465e-b221-eb5b71257bf9/43d9b7d4a3d03f48702620c7408ac8ce2f622351920219f64958c7b1c7a4c75c_evaluation_trienal.pdf
  .staging/bulk-import/7c6c7b42-3bbf-465e-b221-eb5b71257bf9/4d0ff327080b5f2cee78fc99febabd9486298f064692f949f01a1a72d04296b0_Centris_28525705.pdf
  .staging/bulk-import/7c6c7b42-3bbf-465e-b221-eb5b71257bf9/66a2958ae27c9181df714fb94128971343e7dc3503519b6e735b026df30f833d_Assurance_571_mte_pionnier_terrebonne_2023_2024.pdf
  .staging/bulk-import/7c6c7b42-3bbf-465e-b221-eb5b71257bf9/6d7954acce70288cc54b043ca2d6a121af6fa77ffdd98e6a462ed6dd5059c978_563-583 Mnt des Pionniers_Fonds de prÃ©voyance.pdf
  .staging/bulk-import/7c6c7b42-3bbf-465e-b221-eb5b71257bf9/8ccebfaea35594b400f5e5d456fc18b2a905939a1ae6e344f59d8fd18665c65e_Ã©tats financiers 30 septembre 2023.pdf
  .staging/bulk-import/7c6c7b42-3bbf-465e-b221-eb5b71257bf9/92b0dafa202337190676d5d6efca4be75483e4ef36aa96967ced2231dba65189_assurance_2025-2026.pdf
  .staging/bulk-import/7c6c7b42-3bbf-465e-b221-eb5b71257bf9/9de2edcebed4a42161741e6efeb7d7b0f1bb647ab0000fff02cc34425f1b07db_Budget prÃ©visionnel 2023-2024.pdf
  .staging/bulk-import/7c6c7b42-3bbf-465e-b221-eb5b71257bf9/a5f059f2b647b3163f9b7d1ac62bafac7f640b02254ae8b6fea20b119061bf35_DRCOP_annexes_8_NoCentris_28525705.pdf
  .staging/bulk-import/7c6c7b42-3bbf-465e-b221-eb5b71257bf9/ab6a59fe119894a8cca802dc035e6985f9c6866305342f71e9f59c3d99cc1a4e_Etats_financiers_2022_14_NoCentris_28525705.pdf
  .staging/bulk-import/7c6c7b42-3bbf-465e-b221-eb5b71257bf9/babfbc53c207d44b647981449ad4f193eb4d056a501502b27648952abcac7fb8_Proces_verbal_ordre_du_jour_2021_10_NoCentris_28525705.pdf
  .staging/bulk-import/7c6c7b42-3bbf-465e-b221-eb5b71257bf9/c28e94eccca9905a0dda247895fff166a120357665bb97447e4307373449bfa1_Etats_financiers_2023_preliminaire_15_NoCentris_28525705.pdf
  .staging/bulk-import/7c6c7b42-3bbf-465e-b221-eb5b71257bf9/ced8a54be167c08bc19b1405c61bedeb1c3f5912007eb49f103a57b7155b7836_ordre du jour rÃ©union 28 octobre 2023.pdf
  .staging/bulk-import/7c6c7b42-3bbf-465e-b221-eb5b71257bf9/d5e8fb7ba526440ff34f654c904d0b89916706cc54ee446ae9a21b6e4d7b7ae7_Assurance_571_mte_pionnier_terrebonne_2025-2026.pdf
  .staging/bulk-import/7c6c7b42-3bbf-465e-b221-eb5b71257bf9/dd30f6d7a2e9638cdd6a84fc2c5822e4856537a5185b3ea39ed2524eb8f5dba1_Proces_verbal_ordre_du_jour_2022_11_NoCentris_28525705.pdf
  .staging/bulk-import/7c6c7b42-3bbf-465e-b221-eb5b71257bf9/ef82c992f497e576b53aadd40d704318dc0794ae88bbd07bec1e08a659c558d6_Assurance_571_mte_pionnier_terrebonne_2024_2025.pdf
  .staging/bulk-import/7c6c7b42-3bbf-465e-b221-eb5b71257bf9/f10cdb3f887411c7f2c64a050d81b9621a885d7174f2fb7f426543bb95475f67_Certificat_de_localisation_04_10_2023_17_NoCentris_28525705.pdf
Owners: @koveogestion/tech-leads

Task #785: Add tests for screening rotation badge
  tests/integration/bulk-import-screening-rotation-badge.test.ts
  tests/unit/components/bulk-document-import-screening-rotation-badge.test.tsx
Owners: @koveogestion/tech-leads

Update image assets for property management platform
  attached_assets/image_1777091630355.png
Owners: @koveogestion/tech-leads

Fix list_bills crash: add migration 0010 to sync bills schema to deployed DB
  tests/integration/mcp-list-bills.test.ts
Owners: @koveogestion/tech-leads

Task #776: Bulk-reassign all files in a destination group at once
  client/src/pages/admin/bulk-document-import.tsx
  server/api/bulk-import.ts
Owners: @koveogestion/tech-leads

Add boundary tests for length caps on MCP create_communication, create_demand, create_meeting (Task #651)
  shared/schemas/operations.ts
  tests/unit/api/mcp-create-communication-meeting.test.ts
  tests/unit/api/mcp-demand-tools.test.ts
Owners: @koveogestion/tech-leads

Task #789: Hide assume_user/restore_acting_user from get_mcp_info for non-admins; warn admins when flag is off
  server/mcp/server.ts
  tests/unit/api/mcp-assume-user.test.ts
  tests/unit/api/mcp-get-mcp-info-tools-list.test.ts
Owners: @koveogestion/tech-leads

Git commit prior to merge
  attached_assets/image_1777092385508.png
Owners: @koveogestion/tech-leads

Task #788: Backfill Q8 cross-org demand rows by NULLing mismatched residence_id
  package.json
  server/scripts/backfill-cross-residence-demands-lib.ts
  server/scripts/backfill-cross-residence-demands.ts
  server/tests/backfill-cross-residence-demands.test.ts
Owners: @koveogestion/tech-leads

feat: Cap free-text fields on MCP create_communication, create_demand, create_meeting (Task #650)
  server/mcp/server.ts
  shared/schemas/operations.ts
Owners: @koveogestion/tech-leads

feat(bulk-import): add per-row residence picker to Sorting step (#780)
  client/src/pages/admin/bulk-document-import.tsx
  client/src/pages/admin/bulk-import-next-step-block.tsx
  replit.md
  server/api/bulk-import.ts
  server/services/bulk-import-analyzer.ts
Owners: @koveogestion/tech-leads

Git commit prior to merge
  attached_assets/image_1777092679187.png
Owners: @koveogestion/tech-leads

Task #795: Backfill cross-org links in demands.assignation_residence_id
  package.json
  server/scripts/backfill-cross-assignation-demands-lib.ts
  server/scripts/backfill-cross-assignation-demands.ts
  server/tests/backfill-cross-assignation-demands.test.ts
Owners: @koveogestion/tech-leads

Fix broken schema export so audit-log wiring tests pass (Task #798)
  shared/schema.ts
Owners: @koveogestion/database-admins, @koveogestion/tech-leads

Git commit prior to merge
  attached_assets/image_1777092921347.png
Owners: @koveogestion/tech-leads

Task #791: Sync remaining schema drift via migration 0011
  scripts/generate-drift-migration.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Suppress raw DB errors from REST 500 responses (Task #800)
  server/api/bills.ts
  server/api/documents.ts
  server/api/invoices.ts
  server/api/residences.ts
  server/api/trial-request.ts
  server/middleware/error-security.ts
  server/tests/ai-bill-analyze-route.test.ts
  server/tests/ai-suggest-payment-schedule-route.test.ts
  tests/security/no-raw-db-errors-in-responses.test.ts
Owners: @koveogestion/tech-leads

Task #801: Tag per-file AI failures in bulk import so the UI tells the truth
  client/src/pages/admin/bulk-document-import.tsx
  client/src/pages/admin/bulk-import-fallback-reason-badge.tsx
  server/api/bulk-import.ts
  server/services/bulk-import-analyzer.ts
  shared/schemas/bulk-import.ts
  tests/unit/components/bulk-document-import-fallback-hint.test.tsx
  tests/unit/components/bulk-import-fallback-reason-badge.test.tsx
  tests/unit/services/bulk-import-analyzer.test.ts
Owners: @koveogestion/tech-leads

Task #817: Branching step — real AI analysis + accept/reject + manual merge/split
  client/src/pages/admin/bulk-document-import.tsx
  client/src/pages/admin/bulk-import-next-step-block.tsx
  server/api/bulk-import.ts
  server/mcp/bulk-import-tools.ts
Owners: @koveogestion/tech-leads

Task #804: Hide rejected items from wizard steps 3-7 (Branching through Complete)
  client/src/pages/admin/bulk-document-import.tsx
  tests/unit/components/bulk-document-import-excluded-visibility.test.tsx
Owners: @koveogestion/tech-leads

feat(gantt): add inline drag-to-reschedule editing on budget Gantt
  client/src/components/GanttChart.tsx
  client/src/lib/i18n.ts
  client/src/pages/manager/budget/index.tsx
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-ad_1777094727285.txt
  attached_assets/image_1777094732440.png
Owners: @koveogestion/tech-leads

Git commit prior to merge
  .gitignore
Owners: @koveogestion/tech-leads

Task #794: DB-level guard against cross-org demand links
  jest.global-setup.cjs
  migrations/0010_demands_residence_building_check.sql
  server/index.ts
  server/tests/backfill-cross-residence-demands.test.ts
  server/tests/demands-residence-building-check-trigger.test.ts
  shared/schemas/operations.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins, @koveogestion/api-team

Git commit prior to merge
  .staging/bulk-import/9af6844d-53a1-4173-9b42-85afa90e0a91/0910ea7c082fb90f98a9c35aaf506464053a460faca0b51c1edda6a67827646e_Fiche bÃ¢timent.pdf
  .staging/bulk-import/9af6844d-53a1-4173-9b42-85afa90e0a91/1784d4ed22a6cc00f83ed2065dfcd98932ba0c5a81f28ea15ff17872a0b293db_Etats_financiers_2021_13_NoCentris_28525705.pdf
  .staging/bulk-import/9af6844d-53a1-4173-9b42-85afa90e0a91/1b641036fcce88407ee53a6fb967914aab9d713adeeebd387c732a49985c6dff_ProcÃ¨s verbal octobre 2023.pdf
  .staging/bulk-import/9af6844d-53a1-4173-9b42-85afa90e0a91/25966b8a75495e9983bdf329286818f2d6ca237001133f6b2c3862440ef8e271_Reglements_7_NoCentris_28525705.pdf
  .staging/bulk-import/9af6844d-53a1-4173-9b42-85afa90e0a91/28b099c8ef8d7f54ce04b775baebb3c09e05fbe3a533b9eb9b07424678ccd45c_Declaration_de_copropriete_6_NoCentris_28525705.pdf
  .staging/bulk-import/9af6844d-53a1-4173-9b42-85afa90e0a91/2b34e4341d8c220d314f1497d48a29e70e255c0477862ece631690e162e4b002_AGA annÃ©e 18 octobre 2025.docx
  .staging/bulk-import/9af6844d-53a1-4173-9b42-85afa90e0a91/2f27d576347cfa06c3746577e34b9f99cd88257e23232e14e17b2a1a496c2bca_Carnet d'entretien et maintenances prÃ©ventives -563-583-montee-des-pionniers-terrebonne-quebec-j6v-1s2.xlsx
  .staging/bulk-import/9af6844d-53a1-4173-9b42-85afa90e0a91/2fcd9d45baf9ec9071495a85685a6773b6032febaedc9d9d9a26dead0de1fbe9_procÃ¨s verbal 14 avril 2025.pdf
  .staging/bulk-import/9af6844d-53a1-4173-9b42-85afa90e0a91/314dc3a0a1ab62183ba1b1716de01cb49988c7e9ad4c436a55e152aec4688e1c_Carnet d'entretien et maintenances prÃ©ventives -2543-rue-de-contrecoeur-montreal-quebec-h1l-3z2.xlsx
  .staging/bulk-import/9af6844d-53a1-4173-9b42-85afa90e0a91/43d9b7d4a3d03f48702620c7408ac8ce2f622351920219f64958c7b1c7a4c75c_evaluation_trienal.pdf
  .staging/bulk-import/9af6844d-53a1-4173-9b42-85afa90e0a91/4d0ff327080b5f2cee78fc99febabd9486298f064692f949f01a1a72d04296b0_Centris_28525705.pdf
  .staging/bulk-import/9af6844d-53a1-4173-9b42-85afa90e0a91/66a2958ae27c9181df714fb94128971343e7dc3503519b6e735b026df30f833d_Assurance_571_mte_pionnier_terrebonne_2023_2024.pdf
  .staging/bulk-import/9af6844d-53a1-4173-9b42-85afa90e0a91/6d7954acce70288cc54b043ca2d6a121af6fa77ffdd98e6a462ed6dd5059c978_563-583 Mnt des Pionniers_Fonds de prÃ©voyance.pdf
  .staging/bulk-import/9af6844d-53a1-4173-9b42-85afa90e0a91/6e0e479a705100db840837801ea3b2c2108e6db649cbbe045b2e459058e45510_Maintenance prÃ©ventive.xlsx
  .staging/bulk-import/9af6844d-53a1-4173-9b42-85afa90e0a91/8ccebfaea35594b400f5e5d456fc18b2a905939a1ae6e344f59d8fd18665c65e_Ã©tats financiers 30 septembre 2023.pdf
  .staging/bulk-import/9af6844d-53a1-4173-9b42-85afa90e0a91/92b0dafa202337190676d5d6efca4be75483e4ef36aa96967ced2231dba65189_assurance_2025-2026.pdf
  .staging/bulk-import/9af6844d-53a1-4173-9b42-85afa90e0a91/9de2edcebed4a42161741e6efeb7d7b0f1bb647ab0000fff02cc34425f1b07db_Budget prÃ©visionnel 2023-2024.pdf
  .staging/bulk-import/9af6844d-53a1-4173-9b42-85afa90e0a91/a5f059f2b647b3163f9b7d1ac62bafac7f640b02254ae8b6fea20b119061bf35_DRCOP_annexes_8_NoCentris_28525705.pdf
  .staging/bulk-import/9af6844d-53a1-4173-9b42-85afa90e0a91/ab6a59fe119894a8cca802dc035e6985f9c6866305342f71e9f59c3d99cc1a4e_Etats_financiers_2022_14_NoCentris_28525705.pdf
  .staging/bulk-import/9af6844d-53a1-4173-9b42-85afa90e0a91/babfbc53c207d44b647981449ad4f193eb4d056a501502b27648952abcac7fb8_Proces_verbal_ordre_du_jour_2021_10_NoCentris_28525705.pdf
  .staging/bulk-import/9af6844d-53a1-4173-9b42-85afa90e0a91/c28e94eccca9905a0dda247895fff166a120357665bb97447e4307373449bfa1_Etats_financiers_2023_preliminaire_15_NoCentris_28525705.pdf
  .staging/bulk-import/9af6844d-53a1-4173-9b42-85afa90e0a91/ced8a54be167c08bc19b1405c61bedeb1c3f5912007eb49f103a57b7155b7836_ordre du jour rÃ©union 28 octobre 2023.pdf
  .staging/bulk-import/9af6844d-53a1-4173-9b42-85afa90e0a91/d5e8fb7ba526440ff34f654c904d0b89916706cc54ee446ae9a21b6e4d7b7ae7_Assurance_571_mte_pionnier_terrebonne_2025-2026.pdf
  .staging/bulk-import/9af6844d-53a1-4173-9b42-85afa90e0a91/dbd598c566420c407b3a940bbf181d5cec2d6d89c83346c461ca0976300b2f8b_Attestation_Copropriete_Darheim_VF.pdf
  .staging/bulk-import/9af6844d-53a1-4173-9b42-85afa90e0a91/dd30f6d7a2e9638cdd6a84fc2c5822e4856537a5185b3ea39ed2524eb8f5dba1_Proces_verbal_ordre_du_jour_2022_11_NoCentris_28525705.pdf
  .staging/bulk-import/9af6844d-53a1-4173-9b42-85afa90e0a91/e4c7e5bf04086e1599685928489bce598a099bd19f4bab6e48852778f7627fa8_procÃ¨s verbal 14 octobre 2024.pdf
  .staging/bulk-import/9af6844d-53a1-4173-9b42-85afa90e0a91/ef82c992f497e576b53aadd40d704318dc0794ae88bbd07bec1e08a659c558d6_Assurance_571_mte_pionnier_terrebonne_2024_2025.pdf
  .staging/bulk-import/9af6844d-53a1-4173-9b42-85afa90e0a91/f10cdb3f887411c7f2c64a050d81b9621a885d7174f2fb7f426543bb95475f67_Certificat_de_localisation_04_10_2023_17_NoCentris_28525705.pdf
Owners: @koveogestion/tech-leads

Task #824: Show a live page-count preview when choosing where to split a PDF
  client/src/pages/admin/bulk-document-import.tsx
  server/api/bulk-import.ts
Owners: @koveogestion/tech-leads

Git commit prior to merge
  attached_assets/image_1777095429100.png
  attached_assets/image_1777095528315.png
Owners: @koveogestion/tech-leads

Allow resizing Gantt project bars by dragging their edges
  client/src/components/GanttChart.tsx
  client/src/lib/i18n.ts
Owners: @koveogestion/tech-leads

Stop using db:push in development so the schema can't drift again
  CONTRIBUTING.md
  README.md
  docs/README.md
  docs/guides/GETTING_STARTED.md
  docs/migrations.md
  package.json
  scripts/db-push-warning.ts
  scripts/deployment-hooks.ts
  scripts/post-merge.sh
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team
