Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team

Update demand handling and schema to improve data integrity and operations
  server/auth.ts
  shared/schemas/development.ts
  shared/schemas/financial.ts
  shared/schemas/infrastructure.ts
  shared/schemas/monitoring.ts
  shared/schemas/operations.ts
  tests/unit/demands/demands-schema.test.ts
Owners: @koveogestion/security-team, @koveogestion/tech-leads

Update tests and simplify document access controls
  server/db/queries/scope-query.ts
  tests/unit/budget/bank-account-management.test.tsx
  tests/unit/budget/budget-api-integration.test.ts
  tests/unit/budget/budget-interactions.test.tsx
  tests/unit/db/query-scoping.test.ts
Owners: @koveogestion/tech-leads

Improve budget testing by refining mock data and component setup
  tests/unit/budget-test-setup.tsx
  tests/unit/budget/bank-account-management.test.tsx
  tests/unit/budget/budget-api-integration.test.ts
  tests/unit/budget/budget-calculations.test.tsx
  tests/unit/budget/budget-interactions.test.tsx
Owners: @koveogestion/tech-leads

Update test files to use manual mocks for hooks
  tests/unit/__mocks__/use-language.js
  tests/unit/budget/bank-account-management.test.tsx
  tests/unit/budget/budget-calculations.test.tsx
  tests/unit/budget/budget-interactions.test.tsx
Owners: @koveogestion/tech-leads

Ensure admin users can access buildings and have proper organization links
  tests/integration/building-access-validation.test.ts
  tests/unit/db/building-access-prevention.test.ts
Owners: @koveogestion/tech-leads

Update test suite to use Jest from Vitest
  tests/integration/buildings-api.test.ts
  tests/integration/data-modification/all-edit-buttons.test.tsx
  tests/integration/data-modification/backend-api-endpoints.test.ts
  tests/integration/data-modification/building-residence-management.test.tsx
  tests/integration/data-modification/document-bill-management.test.tsx
  tests/integration/ssl-api.test.ts
  tests/test-utils/api-mocks.ts
  tests/test-utils/providers.tsx
  tests/unit/db/building-access-prevention.test.ts
  tests/unit/ssl-service.test.ts
Owners: @koveogestion/tech-leads

Improve testing setup and mock configurations for API endpoints
  jest.config.js
  tests/integration/buildings-api.test.ts
  tests/integration/data-modification/all-edit-buttons.test.tsx
  tests/integration/data-modification/backend-api-endpoints.test.ts
  tests/integration/data-modification/building-residence-management.test.tsx
  tests/integration/data-modification/document-bill-management.test.tsx
  tests/integration/ssl-api.test.ts
  tests/setup/jest-dom.ts
  tests/test-utils/api-mocks.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Update tests to improve accuracy and add new port configurations
  .replit
  tests/integration/buildings-api.test.ts
  tests/integration/data-modification/building-residence-management.test.tsx
  tests/integration/ssl-api.test.ts
Owners: @koveogestion/tech-leads

Update port configurations for development environment stability
  .replit
Owners: @koveogestion/tech-leads

Improve testing by adding authentication to API endpoints and updating UI element selectors
  .replit
  tests/integration/buildings-api.test.ts
  tests/integration/data-modification/all-edit-buttons.test.tsx
  tests/integration/ssl-api.test.ts
Owners: @koveogestion/tech-leads

Add authorization to building creation tests for better security
  .replit
  tests/integration/buildings-api.test.ts
Owners: @koveogestion/tech-leads

Update dialogs and application ports for improved user experience
  .replit
  client/src/components/admin/organization-form-dialog.tsx
  client/src/components/admin/send-invitation-dialog.tsx
  client/src/components/dialogs/delete-confirmation-dialog.tsx
  server/api/buildings.ts
  server/api/buildings/operations.ts
Owners: @koveogestion/tech-leads

Update project ports for improved development environment accessibility
  .replit
Owners: @koveogestion/tech-leads

Fix issue preventing users from logging into their accounts
  attached_assets/image_1756004420260.png
  attached_assets/image_1756004465382.png
  attached_assets/image_1756004547253.png
Owners: @koveogestion/tech-leads

Ensure users can view residences based on their roles and associated buildings
  server/api/residences.ts
Owners: @koveogestion/tech-leads

Fix residence page to correctly display all residences and filter options
  client/src/pages/manager/residences.tsx
Owners: @koveogestion/tech-leads

Grant wider access to building and residence information
  server/api/buildings.ts
  server/api/residences.ts
Owners: @koveogestion/tech-leads

Grant administrators full access to view all buildings and residences
  server/api/buildings.ts
  server/api/residences.ts
Owners: @koveogestion/tech-leads

Add ability to show and hide password on login screen
  client/src/pages/auth/login.tsx
Owners: @koveogestion/tech-leads

Add password visibility toggle to all password input fields
  client/src/components/auth/steps/password-creation-step.tsx
  client/src/pages/auth/invitation-acceptance.tsx
  client/src/pages/auth/reset-password.tsx
Owners: @koveogestion/tech-leads

Standardize password creation using secure hashing
  attached_assets/image_1756039385930.png
Owners: @koveogestion/tech-leads

Update password management to use bcrypt for enhanced security
  package-lock.json
  package.json
  scripts/create-admin-user.ts
  server/auth.ts
  server/routes-minimal.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team, @koveogestion/security-team

Update the dashboard URL and ensure all navigation points to the new location
  client/src/App.tsx
  client/src/components/layout/sidebar.tsx
  client/src/config/navigation.ts
  client/src/hooks/use-auth.tsx
  client/src/pages/home.tsx
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1756040210458.png
Owners: @koveogestion/tech-leads

Improve roadmap page by fixing data fetching and error handling
  client/src/pages/admin/roadmap.tsx
Owners: @koveogestion/tech-leads

Improve roadmap feature status updates and item display
  attached_assets/image_1756040298109.png
  attached_assets/image_1756040365401.png
  client/src/pages/admin/roadmap.tsx
Owners: @koveogestion/tech-leads

Display all available permissions and their assignments to users
  attached_assets/image_1756040475203.png
  client/src/pages/admin/permissions.tsx
  server/api/permissions.ts
  server/storage.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Centralize all permissions management within the database
  config/index.ts
  config/permissions-schema.ts
  config/permissions.json
  config/test-permissions.ts
  config/validate-permissions.ts
  server/api/permissions.ts
  server/api/users.ts
  server/auth.ts
  server/auth/invitation-rbac.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Update permissions system to rely solely on the database
  server/auth.ts
  server/storage.ts
  tests/security/database-permissions.test.ts
  tests/security/no-config-dependencies.test.ts
  tests/security/permissions-database-only.test.ts
Owners: @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/tech-leads

Fix error when analyzing duplicate roadmap features
  client/src/components/roadmap/feature-duplicate-analysis.tsx
Owners: @koveogestion/tech-leads

Update environment port configurations for seamless application deployment
  .replit
  attached_assets/image_1756041461826.png
Owners: @koveogestion/tech-leads

Align user permission access and role hierarchy for better security
  .replit
  config/index.ts
  server/api/permissions.ts
  server/optimized-db-storage.ts
  server/routes-minimal.ts
Owners: @koveogestion/tech-leads

Improve system stability by addressing all identified test failures
  attached_assets/image_1756041931144.png
Owners: @koveogestion/tech-leads

Update role hierarchy and simplify permission data retrieval
  client/src/pages/admin/permissions.tsx
  server/optimized-db-storage.ts
Owners: @koveogestion/tech-leads

Fix input warnings and improve database logging for property management
  attached_assets/image_1756042238013.png
  attached_assets/image_1756042358996.png
  client/src/pages/admin/permissions.tsx
  server/optimized-db-storage.ts
  server/routes-minimal.ts
Owners: @koveogestion/tech-leads

Update permissions to allow management of improvement suggestions
  server/routes-minimal.ts
Owners: @koveogestion/tech-leads

Update how residence and building contacts are retrieved
  attached_assets/image_1756042489533.png
  client/src/pages/residents/residence.tsx
  server/api/contacts.ts
Owners: @koveogestion/tech-leads

Improve contact data fetching and fix user pagination caching
  client/src/pages/residents/residence.tsx
  server/api/contacts.ts
  server/optimized-db-storage.ts
Owners: @koveogestion/tech-leads

Improve residence and contact data handling for users
  client/src/pages/residents/residence.tsx
  server/optimized-db-storage.ts
Owners: @koveogestion/tech-leads

Update suggestions logic to display new entries in the admin panel
  attached_assets/image_1756043806767.png
Owners: @koveogestion/tech-leads
