Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

Saved your changes before starting work
  attached_assets/image_1756737044742.png
Owners: @koveogestion/tech-leads

Improve document handling and resolve upload errors
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Fix document upload and user authentication errors
  attached_assets/Pasted-index-BvzAe5fW-js-178-GET-https-koveo-gestion-com-api-auth-user-401-Unauthorized-queryFn-ind-1756739247136_1756739247137.txt
  attached_assets/image_1756739240392.png
Owners: @koveogestion/tech-leads

Adjust document upload to prioritize local storage when Google Cloud Storage fails
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Add ability to create simple text documents manually
  attached_assets/image_1756739434709.png
  client/src/components/common/DocumentManager.tsx
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Add ability to create text documents within the system
  attached_assets/Pasted-index-BvzAe5fW-js-178-GET-https-koveo-gestion-com-api-auth-user-401-Unauthorized-queryFn-ind-1756739739670_1756739739671.txt
  attached_assets/image_1756739686443.png
  attached_assets/image_1756739734785.png
  client/src/components/common/DocumentManager.tsx
Owners: @koveogestion/tech-leads

Add robust error handling for document uploads to prevent failures
  attached_assets/image_1756739830053.png
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Improve file upload and handling for documents
  attached_assets/image_1756739931105.png
Owners: @koveogestion/tech-leads

Add test document to storage for verification purposes
  uploads/text-documents/222f5a0d-6bc6-4f28-9f4d-32c133eed333/1756740133247.txt
Owners: @koveogestion/tech-leads

Update document migration script for better type safety
  scripts/migrate-documents.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/Pasted-DocumentManager-DF0bOko1-js-1-GET-https-koveo-gestion-com-api-documents-residenceId-5d23de5b-ba37-1756741243618_1756741243619.txt
  attached_assets/image_1756741188752.png
  uploads/text-documents/222f5a0d-6bc6-4f28-9f4d-32c133eed333/1756741230074.txt
Owners: @koveogestion/tech-leads

Improve document upload reliability by handling potential file naming conflicts
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Add text document upload functionality for residents
  uploads/residences/e27ac924-8120-4904-a791-d1e9db544d58/b31234d3-9784-4887-abc9-fee20b91560b-test 1 (1).pdf
  uploads/text-documents/222f5a0d-6bc6-4f28-9f4d-32c133eed333/361468c5-2f5d-4fe3-85fa-d8a95d90809a.txt
Owners: @koveogestion/tech-leads

Improve document upload path handling for user files
  attached_assets/Pasted-index-CSHSeBP-js-268-Download-the-React-DevTools-for-a-better-development-experience-https-react-1756742000477_1756742000478.txt
  attached_assets/image_1756741994051.png
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Improve document upload process by simplifying error handling
  attached_assets/image_1756742187012.png
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Improve document upload functionality for better user experience
  uploads/residences/e27ac924-8120-4904-a791-d1e9db544d58/4544903c-8b9b-4051-afa2-9758678138a2-test 1 (1).pdf
Owners: @koveogestion/tech-leads

Switch to basic database storage for temporary upload fixes
  attached_assets/Pasted-index-DHHS-gqx-js-178-GET-https-koveo-gestion-com-api-auth-user-401-Unauthorized-queryFn-ind-1756742706637_1756742706637.txt
  attached_assets/image_1756742699984.png
  server/optimized-db-storage.ts
  server/storage.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Update document filtering to correctly associate uploaded documents
  attached_assets/Pasted-index-CSHSeBP-js-268-Download-the-React-DevTools-for-a-better-development-experience-https-react-1756743165032_1756743165033.txt
  attached_assets/image_1756743158598.png
  server/db-storage.ts
Owners: @koveogestion/tech-leads

Add a temporary text document for testing
  uploads/text-documents/222f5a0d-6bc6-4f28-9f4d-32c133eed333/490e8091-894c-4dac-a7c3-9f172b380c7e.txt
Owners: @koveogestion/tech-leads

Fix issue preventing users from uploading documents to their accounts
  attached_assets/Pasted-index-DHHS-gqx-js-178-GET-https-koveo-gestion-com-api-auth-user-401-Unauthorized-queryFn-ind-1756743972902_1756743972902.txt
  attached_assets/image_1756743968715.png
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Add ability for residents to upload documents to their residences
  uploads/residences/e27ac924-8120-4904-a791-d1e9db544d58/33bb77b5-9af4-4d5c-8f3f-4bb55dabcf48-fichier texte (7).txt
Owners: @koveogestion/tech-leads

Fix error when fetching documents for a specific residence
  attached_assets/Pasted-DocumentManager-DF0bOko1-js-1-GET-https-koveo-gestion-com-api-documents-residenceId-5d23de5b-ba37-1756744819802_1756744819803.txt
  attached_assets/image_1756744795422.png
Owners: @koveogestion/tech-leads

Fix authentication and document retrieval errors
  attached_assets/Pasted-index-DHHS-gqx-js-178-GET-https-koveo-gestion-com-api-auth-user-401-Unauthorized-queryFn-ind-1756748202208_1756748202209.txt
Owners: @koveogestion/tech-leads

Verify deployment readiness and fix document upload errors
  scripts/verify-deployment.js
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Add detailed logging to help diagnose production issues with document uploads
  attached_assets/Pasted-index-DHHS-gqx-js-178-GET-https-koveo-gestion-com-api-auth-user-401-Unauthorized-queryFn-ind-1756748680848_1756748680848.txt
  attached_assets/image_1756748676353.png
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Update document storage logic and user data handling
  attached_assets/Pasted-DocumentManager-DF0bOko1-js-1-GET-https-koveo-gestion-com-api-documents-residenceId-5d23de5b-ba37-1756749085836_1756749085836.txt
  attached_assets/image_1756749080760.png
  server/api/cleanup.ts
  server/api/users.ts
  uploads/buildings/005b0e63-6a0a-44c9-bf01-2b779b316bba/9ae99485-e379-4eaf-8f6c-072a475322ab-potato.pdf
Owners: @koveogestion/tech-leads

Add functionality to associate uploaded documents with specific users
  attached_assets/image_1756749636364.png
  attached_assets/image_1756749644027.png
Owners: @koveogestion/tech-leads

Improve data consistency by aligning maintenance requests with existing records
  attached_assets/image_1756750115745.png
  attached_assets/image_1756750124146.png
Owners: @koveogestion/tech-leads

Update document upload functionality to include image attachments
  attached_assets/image_1756750284635.png
Owners: @koveogestion/tech-leads

Add document management schemas and address API errors
  attached_assets/Pasted-index-DHHS-gqx-js-178-GET-https-koveo-gestion-com-api-auth-user-401-Unauthorized-queryFn-ind-1756750357077_1756750357078.txt
  attached_assets/image_1756750351545.png
  shared/schema.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Add debugging logs to the document upload process
  attached_assets/image_1756750891295.png
  server/api/documents.ts
  uploads/residences/e27ac924-8120-4904-a791-d1e9db544d58/c46f0042-e9e5-4a94-8182-63dc873b42dc-fichier texte (5).txt
Owners: @koveogestion/tech-leads

Refactor document management API to use consistent naming and improve debugging
  attached_assets/Pasted-DocumentManager-DF0bOko1-js-1-GET-https-koveo-gestion-com-api-documents-residenceId-5d23de5b-ba37-1756751666358_1756751666359.txt
  attached_assets/image_1756751662277.png
  server/api/documents.ts
  server/routes.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Update document retrieval and creation methods for consistency
  attached_assets/Pasted-index-CSHSeBP-js-268-Download-the-React-DevTools-for-a-better-development-experience-https-react-1756752474351_1756752474351.txt
  attached_assets/image_1756752462648.png
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Add a text file to the document management system
  uploads/residences/e27ac924-8120-4904-a791-d1e9db544d58/8f685d49-13a8-461a-838b-b556a49317a6-fichier texte (6).txt
Owners: @koveogestion/tech-leads

Fix document upload issues by addressing authentication and server errors
  attached_assets/Pasted-index-DHHS-gqx-js-178-GET-https-koveo-gestion-com-api-auth-user-401-Unauthorized-queryFn-ind-1756752929730_1756752929730.txt
  attached_assets/image_1756752912709.png
Owners: @koveogestion/tech-leads

Update database connection to use production environment settings
  attached_assets/image_1756753056037.png
Owners: @koveogestion/tech-leads

Improve document management by refining data handling and type safety
  attached_assets/image_1756753263765.png
  attached_assets/image_1756753272359.png
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Add a new text file with content
  uploads/residences/e27ac924-8120-4904-a791-d1e9db544d58/14e60c7e-18a4-47d9-8e67-7eb17f186c5c-fichier texte (6).txt
Owners: @koveogestion/tech-leads

Improve system stability by addressing API errors and session expirations
  attached_assets/Pasted-index-DHHS-gqx-js-178-GET-https-koveo-gestion-com-api-auth-user-401-Unauthorized-queryFn-ind-1756754029938_1756754029939.txt
  attached_assets/image_1756754012629.png
Owners: @koveogestion/tech-leads

Update database schema to use string IDs and improve storage connection
  attached_assets/Pasted-index-DHHS-gqx-js-178-GET-https-koveo-gestion-com-api-auth-user-401-Unauthorized-queryFn-ind-1756754585058_1756754585058.txt
  attached_assets/image_1756754580149.png
  server/routes.ts
  shared/schemas/core.ts
  shared/schemas/documents.ts
  shared/schemas/property.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team, @koveogestion/business-team, @koveogestion/quebec-compliance

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team
