Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team

Improve document retrieval for residents accessing their properties
  attached_assets/image_1756769714033.png
  attached_assets/image_1756769723190.png
Owners: @koveogestion/tech-leads

Use memory session store for all environments due to Neon compatibility issues
  server/auth.ts
Owners: @koveogestion/security-team

Improve the application's accessibility for all users
  attached_assets/image_1756769984938.png
Owners: @koveogestion/tech-leads

Improve document serving reliability by adding a fallback to local storage
  attached_assets/image_1756770145576.png
  attached_assets/image_1756770217252.png
  server/api/documents.ts
  src/lib/gcs.ts
Owners: @koveogestion/tech-leads

Disable Google Cloud Storage integration and enforce local file storage
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Enable local document uploads after disabling cloud storage
  attached_assets/image_1756770643589.png
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Fix user session expiration redirecting to login page
  attached_assets/Pasted-index-DHHS-gqx-js-178-GET-https-koveo-gestion-com-api-auth-user-401-Unauthorized-queryFn-ind-1756770972024_1756770972024.txt
  attached_assets/image_1756770967268.png
Owners: @koveogestion/tech-leads

Integrate cloud storage for enhanced document management capabilities
  attached_assets/image_1756771291965.png
  attached_assets/image_1756771300665.png
  attached_assets/image_1756771308226.png
Owners: @koveogestion/tech-leads

Add diagnostic endpoint to help troubleshoot document API issues
  attached_assets/image_1756771622097.png
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Improve document upload functionality by fixing server errors
  attached_assets/image_1756772029661.png
Owners: @koveogestion/tech-leads

Improve user interface for managing documents and system settings
  attached_assets/image_1756772064556.png
Owners: @koveogestion/tech-leads

Enable necessary Google Cloud services for platform functionality
  attached_assets/downloaded-logs-20250901-201659_1756772229382.json
Owners: @koveogestion/tech-leads

Improve error reporting and add diagnostic information to document API
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Improve document API diagnostics by checking database table existence
  attached_assets/Pasted--api-auth-user-1-Failed-to-load-resource-the-server-responded-with-a-status-of-401-index-DHHS--1756772810663_1756772810664.txt
  attached_assets/Pasted--message-Document-API-diagnostic-gcs-disabled-true-session-fix-applied-true--1756772805567_1756772805568.txt
  attached_assets/image_1756772793904.png
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Add diagnostic tests for database connection and document table queries
  attached_assets/image_1756772971092.png
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Sync production database schema with development environment
  attached_assets/image_1756773230901.png
Owners: @koveogestion/tech-leads

Improve system diagnostics to include user role enumeration checks
  attached_assets/image_1756773357280.png
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Safely remove the 'owner' role from the user role enum
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Add functionality to fix user organization links
  .replit
  attached_assets/image_1756773790130.png
  attached_assets/image_1756773941825.png
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Add endpoints to retrieve user's organizations and residences
  attached_assets/Pasted-index-DHHS-gqx-js-58-GET-https-koveo-gestion-com-api-user-organizations-404-Not-Found-anonymo-1756774076958_1756774076959.txt
  attached_assets/image_1756774073656.png
  attached_assets/image_1756774142092.png
  server/api/users.ts
Owners: @koveogestion/tech-leads

Update database schemas with new fields for improved functionality
  shared/schemas/core.ts
  shared/schemas/development.ts
  shared/schemas/infrastructure.ts
Owners: @koveogestion/tech-leads

Add timestamp to invitation audit logs for better tracking
  attached_assets/image_1756774418838.png
  shared/schemas/core.ts
Owners: @koveogestion/tech-leads

Remove unnecessary timestamp data from invitation audit logs
  shared/schemas/core.ts
Owners: @koveogestion/tech-leads

Add image asset for visual reference
  attached_assets/image_1756774521600.png
Owners: @koveogestion/tech-leads

Update user role enumeration to include residents
  shared/schemas/core.ts
Owners: @koveogestion/tech-leads

Fix user role enum ordering and migrate data
  attached_assets/image_1756774673220.png
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Add documentation and examples for improved integration
  attached_assets/image_1756774953133.png
Owners: @koveogestion/tech-leads

Fix database errors preventing schema updates for user roles
  attached_assets/Pasted--workspace-curl-X-POST-https-koveo-gestion-com-api-documents-fix-enum-migration-message-En-1756775084758_1756775084758.txt
  attached_assets/image_1756775073132.png
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Set default value for invitations role to tenant
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Add owner role to user permissions for property management
  attached_assets/image_1756775215416.png
  shared/schemas/core.ts
Owners: @koveogestion/tech-leads

Update user roles to replace 'owner' with 'admin' across the system
  server/api/documents.ts
  shared/schemas/core.ts
Owners: @koveogestion/tech-leads

Improve the document management system for better file handling
  attached_assets/image_1756775562983.png
Owners: @koveogestion/tech-leads

Update database by removing and restoring enum default values
  attached_assets/image_1756775640292.png
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Update user roles and system defaults to ensure tenant access
  attached_assets/image_1756775779855.png
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Add document viewing functionality for users on the platform
  attached_assets/image_1756776521334.png
  attached_assets/image_1756776531402.png
Owners: @koveogestion/tech-leads

Add images to documentation for better user understanding
  attached_assets/image_1756776642326.png
Owners: @koveogestion/tech-leads

Fix issue preventing document visibility in production
  attached_assets/image_1756776829310.png
  attached_assets/image_1756776857508.png
Owners: @koveogestion/tech-leads

Update storage implementation to use optimized database
  server/storage.ts
Owners: @koveogestion/database-admins

Fix issue preventing document retrieval and display
  attached_assets/Pasted-DocumentManager-DF0bOko1-js-1-GET-https-koveo-gestion-com-api-documents-residenceId-5d23de5b-ba37-1756777492724_1756777492725.txt
  attached_assets/image_1756777487860.png
  attached_assets/image_1756777511823.png
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/Pasted-index-CSHSeBP-js-268-Download-the-React-DevTools-for-a-better-development-experience-https-react-1756777768429_1756777768429.txt
  attached_assets/image_1756777762532.png
Owners: @koveogestion/tech-leads
