Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

Improve element association for building projects
  attached_assets/image_1758750821080.png
  attached_assets/image_1758750828525.png
Owners: @koveogestion/tech-leads

Add ability to select all filtered building elements
  client/src/components/ui/building-elements-multi-select.tsx
Owners: @koveogestion/tech-leads

Add ability to view building elements linked to a project
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-U6fJ9eUo-js-48--1758751429883_1758751429883.txt
  attached_assets/image_1758751422781.png
  server/api/maintenance.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Improve maintenance item sorting and fix project display logic
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-Bx7oC-O6-js-185--1758751894638_1758751894639.txt
  attached_assets/image_1758751890595.png
  server/api/maintenance.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Fix project element association and form opening errors
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-U6fJ9eUo-js-48--1758752111381_1758752111382.txt
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-U6fJ9eUo-js-48--1758752143025_1758752143025.txt
  attached_assets/image_1758752124802.png
  server/api/maintenance.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Improve project element association and management
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-U6fJ9eUo-js-48--1758752448351_1758752448351.txt
  attached_assets/image_1758752441752.png
  client/src/components/maintenance/projects/workflow/PlannedTab.tsx
  server/api/maintenance.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Move save button to bottom and disable auto-saving for projects
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-DuhaiIGk-js-48--1758752876556_1758752876557.txt
  attached_assets/image_1758752804032.png
  client/src/components/maintenance/projects/workflow/PlannedTab.tsx
Owners: @koveogestion/tech-leads

Add ability to mark project planning as complete when all fields are filled
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-Yj-KwFCv-js-48--1758753222936_1758753222936.txt
  attached_assets/image_1758753217063.png
  client/src/components/maintenance/projects/workflow/PlannedTab.tsx
Owners: @koveogestion/tech-leads

Ensure project planning elements remain fully visible when scrolling
  attached_assets/image_1758754173939.png
  attached_assets/image_1758754232366.png
  attached_assets/image_1758754265470.png
  attached_assets/image_1758754351663.png
  client/src/components/maintenance/projects/workflow/PlannedTab.tsx
Owners: @koveogestion/tech-leads

Update project workflow to advance to the next step after completion
  client/src/components/maintenance/projects/workflow/PlannedTab.tsx
  client/src/components/maintenance/projects/workflow/ProjectWorkflowModal.tsx
Owners: @koveogestion/tech-leads

Add submission details for project vendors and their available dates
  migrations/relations.ts
  migrations/schema.ts
  shared/schemas/maintenance.ts
Owners: @koveogestion/database-admins, @koveogestion/business-team

Add vendor submission details and document uploading to projects
  client/src/components/maintenance/projects/workflow/SubmissionTab.tsx
  client/src/hooks/useProjectWorkflow.ts
Owners: @koveogestion/tech-leads

Add ability to add new vendors to project submissions
  client/src/components/maintenance/projects/workflow/SubmissionTab.tsx
Owners: @koveogestion/tech-leads

Add ability to upload and attach documents to project submissions
  client/src/components/maintenance/projects/workflow/SubmissionTab.tsx
Owners: @koveogestion/tech-leads

Add ability to create and submit new vendor information for projects
  client/src/components/maintenance/projects/workflow/SubmissionTab.tsx
Owners: @koveogestion/tech-leads

Update maintenance submission to store vendor name directly
  server/api/maintenance.ts
Owners: @koveogestion/business-team

Improve project submission form layout and scrollability
  attached_assets/image_1758814443705.png
  attached_assets/image_1758814546293.png
  client/src/components/maintenance/projects/workflow/SubmissionTab.tsx
Owners: @koveogestion/tech-leads

Add ability to upload text content as project documents
  client/src/components/maintenance/projects/workflow/SubmissionTab.tsx
Owners: @koveogestion/tech-leads

Update document handling for project submissions and fix vendor saving error
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1758829605364_1758829605364.txt
  attached_assets/image_1758829591766.png
  client/src/components/maintenance/projects/workflow/SubmissionTab.tsx
  server/api/maintenance.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Simplify document upload interface and fix vendor saving error
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1758830225333_1758830225333.txt
  attached_assets/image_1758830113273.png
  attached_assets/image_1758830210874.png
  client/src/components/maintenance/projects/workflow/SubmissionTab.tsx
Owners: @koveogestion/tech-leads

Improve projects page by fetching and displaying building data
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1758830471136_1758830471136.txt
  attached_assets/image_1758830462083.png
Owners: @koveogestion/tech-leads

Update vendor submission validation to use inline schema definitions
  server/api/maintenance.ts
Owners: @koveogestion/business-team

Adjust maintenance submission validation to accept more flexible data types
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1758830968716_1758830968717.txt
  attached_assets/image_1758830959780.png
  server/api/maintenance.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Improve submission form validation and reset functionality
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1758831158277_1758831158277.txt
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1758831170730_1758831170730.txt
  attached_assets/image_1758831136820.png
  client/src/components/maintenance/projects/workflow/SubmissionTab.tsx
  server/api/maintenance.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Allow users to edit existing vendor information in submission details
  client/src/components/maintenance/projects/workflow/SubmissionTab.tsx
Owners: @koveogestion/tech-leads

Fix inability to modify submissions
  attached_assets/image_1758831818502.png
Owners: @koveogestion/tech-leads

Add payment plans to submissions and fix vendor unmarking
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-DlSoFRfG-js-6--1758831871086_1758831871086.txt
  attached_assets/image_1758831865564.png
  client/src/components/maintenance/projects/workflow/SubmissionTab.tsx
  server/api/maintenance.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Saved your changes before starting work
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-DlSoFRfG-js-6--1758832534423_1758832534424.txt
  attached_assets/image_1758832518753.png
  attached_assets/image_1758832564507.png
Owners: @koveogestion/tech-leads

Improve vendor selection and remove redundant edit button
  client/src/components/maintenance/projects/workflow/SubmissionTab.tsx
  client/src/hooks/useProjectWorkflow.ts
  server/api/maintenance.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Add payment plan options to project submissions
  attached_assets/image_1758833100735.png
  client/src/components/maintenance/projects/workflow/SubmissionTab.tsx
Owners: @koveogestion/tech-leads

Improve payment field validation for project submissions and vendor editing
  client/src/components/maintenance/projects/workflow/SubmissionTab.tsx
Owners: @koveogestion/tech-leads

Improve vendor submission workflow and disable advancing without preferred vendor
  client/src/components/maintenance/projects/workflow/SubmissionTab.tsx
Owners: @koveogestion/tech-leads

Add project types and bulk editing for project elements
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-oSfUswsK-js-48--1758835011077_1758835011077.txt
  attached_assets/image_1758835028272.png
  client/src/components/maintenance/projects/workflow/ElementManagementTab.tsx
  server/api/maintenance.ts
  shared/schemas/maintenance.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Add element management tab to project submission workflow
  client/src/components/maintenance/projects/workflow/SubmissionTab.tsx
Owners: @koveogestion/tech-leads

Add checkbox functionality to submission tab for improved data management
  attached_assets/image_1758835387891.png
  client/src/components/maintenance/projects/workflow/SubmissionTab.tsx
Owners: @koveogestion/tech-leads

Add project type to maintenance element details
  server/api/maintenance.ts
Owners: @koveogestion/business-team

Add customizable payment plan options for bills
  attached_assets/image_1758835978053.png
  client/src/components/maintenance/projects/workflow/PaymentPlanForm.tsx
Owners: @koveogestion/tech-leads

Improve how payment plans are displayed and handled
  client/src/components/maintenance/projects/workflow/PaymentPlanForm.tsx
Owners: @koveogestion/tech-leads

Improve payment plan form to handle single and recurring payments
  attached_assets/image_1758837049210.png
Owners: @koveogestion/tech-leads

Hide payment options when a custom schedule is selected
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-C9KnHytj-js-48--1758837164498_1758837164499.txt
  client/src/components/maintenance/projects/workflow/PaymentPlanForm.tsx
Owners: @koveogestion/tech-leads

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team
