Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

Remove unused "Generate 2026" buttons from the bills page
  attached_assets/targeted_element_1757955507132.png
  client/src/pages/manager/bills.tsx
Owners: @koveogestion/tech-leads

Remove obsolete bill generation buttons from the interface
  attached_assets/image_1757955684267.png
Owners: @koveogestion/tech-leads

Update edit button icon to a more suitable symbol
  attached_assets/targeted_element_1757955717115.png
  client/src/components/buildings/building-card.tsx
  client/src/pages/manager/bills.tsx
Owners: @koveogestion/tech-leads

Improve test reliability by fixing various issues
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
Owners: @koveogestion/tech-leads

Improve testing setup with Mock Service Worker and provider configurations
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .replit
  client/src/test-utils.tsx
  jest.setup.ts
  tests/mocks/msw-handlers.ts
Owners: @koveogestion/tech-leads

Update database mocking for improved test reliability
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/37/matchersa1259dd2_372e5729eb96e6a078fcf485160cea44
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/51/index_519a64d3ed60d2b9abe18fb67db4e9d9
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/90/jestsetup_907d4c0f03dc3dc16c40653c2c6fd84b
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/90/jestsetup_907d4c0f03dc3dc16c40653c2c6fd84b.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  .replit
  jest.config.cjs
  jest.setup.ts
  tests/database-mock-integration.test.ts
  tests/enhanced-database-mock-verification.js
  tests/mocks/enhanced-database-mock.js
Owners: @koveogestion/tech-leads

Add comprehensive validation for user inputs and application data
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/24/completeformvalidationsuitetest_24b08f948e87c3624b18ec71aaa8f9d9
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/24/completeformvalidationsuitetest_24b08f948e87c3624b18ec71aaa8f9d9.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/5d/formvalidationhelpers_5dcfbb2714701b56ea9a1cc2ecdcbf56
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/5d/formvalidationhelpers_5dcfbb2714701b56ea9a1cc2ecdcbf56.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/65/passwordvalidation_65bc2a5e71bf7a50d24c1a88097553ae
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/65/passwordvalidation_65bc2a5e71bf7a50d24c1a88097553ae.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/9d/passwordvalidationtest_9ddcb6940ccfb3fd8b64b720b00f04cb
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/9d/passwordvalidationtest_9ddcb6940ccfb3fd8b64b720b00f04cb.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/f4/buildingsvalidationtest_f4f2f9997caba5547fcc19e42ef5192c
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/f4/buildingsvalidationtest_f4f2f9997caba5547fcc19e42ef5192c.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  .replit
Owners: @koveogestion/tech-leads

Optimize Jest configuration and mock implementations for faster testing
  .replit
  __mocks__/enhanced-database-mock.js
  __mocks__/fileMock.js
  jest.config.backup.cjs
  jest.config.cjs
  jest.config.optimized.cjs
  jest.config.simple.cjs
  jest.global-setup.js
  jest.global-teardown.js
  jest.setup.simple.ts
  scripts/debug-scanner.ts
  server/routes-minimal.ts
  tests/database-mock-integration.test.ts
  tests/mocks/configMock.js
  tests/mocks/database.js
  tests/mocks/database.ts
  tests/mocks/drizzleMock.js
  tests/mocks/enhanced-database-mock.js
  tests/mocks/fileMock.js
  tests/mocks/fileSystemMock.js
  tests/mocks/globalMocks.js
  tests/mocks/googleGenaiMock.js
  tests/mocks/msw-handlers.ts
  tests/mocks/pgCoreMock.js
  tests/mocks/schemaMock.js
  tests/mocks/serverApiMock.js
  tests/mocks/serverAuthMock.js
  tests/mocks/serverConfigMock.js
  tests/mocks/serverDbMock.js
  tests/mocks/serverMiddlewareMock.js
  tests/mocks/serverRoutesMock.js
  tests/mocks/serverUniversalMock.js
  tests/mocks/sharedSchemaMock.js
  tests/mocks/supertestMock.js
  tests/mocks/testUtils.js
  tests/mocks/unified-database-mock.ts
  tests/mocks/wouterMock.js
  tests/unit/demands/demand-comment-schema.test.ts.disabled
  tests/unit/demands/demands-schema.test.ts.disabled
  tests/unit/minimal.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Add a new dropdown menu for selecting property types
  package-lock.json
Owners: @koveogestion/tech-leads

Improve test reliability and mock configurations for better accuracy
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/26/jestsetup_26deb88c5e2564859499c60c9de0d359
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/26/jestsetup_26deb88c5e2564859499c60c9de0d359.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/7f/documentmanagementcomprehensivetest_7f153436330af74066988fa4b28305db
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/7f/documentmanagementcomprehensivetest_7f153436330af74066988fa4b28305db.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/8d/jestsetup_8daea069bf32e97ecc5750a184cc3d0b
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/8d/jestsetup_8daea069bf32e97ecc5750a184cc3d0b.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/91/routertestutils_91f31390647113799b715ef089c9f00a
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/91/routertestutils_91f31390647113799b715ef089c9f00a.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d7/wouter_d744e4014ddd64b62640ad403e9af1b4
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  tests/unit/document-submission-security.test.ts
  tests/unit/invitation/invitation-integration.test.ts
Owners: @koveogestion/tech-leads

Improve test stability by updating mocks and cache configurations
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/63/wouter_635ceecc385deb9178ee39a59d05e349
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/80/documentmanagementcomprehensivetest_801bacfc27f53a1deb541dd584566529
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/80/documentmanagementcomprehensivetest_801bacfc27f53a1deb541dd584566529.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  tests/integration/document-management-comprehensive.test.tsx
Owners: @koveogestion/tech-leads

Update tests for improved performance and accuracy
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/3d/schema_3d7999d90560689e8e737388f7dd4a75
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/3d/schema_3d7999d90560689e8e737388f7dd4a75.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/85/invitationintegrationtest_855845e6ac4d8f1cb9c7c74e0d52c692
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/85/invitationintegrationtest_855845e6ac4d8f1cb9c7c74e0d52c692.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/b7/documentsubmissionsecuritytest_b777eaacef40bd62f9721a4fcfcc244c
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/b7/documentsubmissionsecuritytest_b777eaacef40bd62f9721a4fcfcc244c.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
Owners: @koveogestion/tech-leads

Improve database mocking and test isolation for invitation functionality
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/0f/db_0f2f7f2256d7f6feda1b6e85e7fe3ea1
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/0f/db_0f2f7f2256d7f6feda1b6e85e7fe3ea1.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/1d/invitationintegrationtest_1dca81bb84d391bac225b55f78945640
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/1d/invitationintegrationtest_1dca81bb84d391bac225b55f78945640.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/31/routertestutils_31ee30e98fcbae55abd537f922257d69
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/31/routertestutils_31ee30e98fcbae55abd537f922257d69.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/3c/core_3c9670fc478d977af4bb4cade749a046
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/3c/core_3c9670fc478d977af4bb4cade749a046.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/53/documentmanagementcomprehensivetest_53118a0f99fb8945aa1322c39dfd3141
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/53/documentmanagementcomprehensivetest_53118a0f99fb8945aa1322c39dfd3141.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/61/invitationintegrationtest_61a11b93d14fc510948604004ad66d5e
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/61/invitationintegrationtest_61a11b93d14fc510948604004ad66d5e.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/a5/autogeneratedcomprehensivetranslationtest_a5cac90369b1fb77a7114fa51d95562c
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/a5/autogeneratedcomprehensivetranslationtest_a5cac90369b1fb77a7114fa51d95562c.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/a6/operations_a6623a187c945ca7689040c6a87e3b37
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/a6/operations_a6623a187c945ca7689040c6a87e3b37.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/c5/buildingresidencemanagementtest_c5d1457ee2a253f60e2b5717c51948d9
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/c5/buildingresidencemanagementtest_c5d1457ee2a253f60e2b5717c51948d9.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/e1/i18n_e19a6c870c5b32bd294738ac91cb43d5
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/e1/i18n_e19a6c870c5b32bd294738ac91cb43d5.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/ed/schema_ed80ec68e08927d725851c68232d271c
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/ed/schema_ed80ec68e08927d725851c68232d271c.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/f8/invitationintegrationtest_f84e4564eefcf259f799483c65c9c389
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/f8/invitationintegrationtest_f84e4564eefcf259f799483c65c9c389.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/fd/wouter_fd3f4cf22c927c48237689ef2a3b0498
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  __mocks__/enhanced-database-mock.js
  tests/unit/invitation/invitation-integration.test.ts
Owners: @koveogestion/tech-leads

Update mock database functions for improved testing
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  __mocks__/drizzle-orm/index.js
  __mocks__/enhanced-database-mock.js
Owners: @koveogestion/tech-leads

Add debugging and logging utility for server-side operations
  server/utils/debug-logger.ts
Owners: @koveogestion/tech-leads

Update database schema to include missing tables and columns
  migrations/schema.ts
Owners: @koveogestion/database-admins

Update invoice and property schemas to include new fields and types
  server/storage.ts
  shared/schemas/invoices.ts
  shared/schemas/property.ts
Owners: @koveogestion/database-admins, @koveogestion/tech-leads, @koveogestion/business-team, @koveogestion/quebec-compliance

Update invoice data to ensure proper date formatting for storage
  server/storage.ts
Owners: @koveogestion/database-admins

Update invoice data to properly handle missing building and residence IDs
  server/storage.ts
Owners: @koveogestion/database-admins

Fix error when creating new bills by correctly handling inserted bill data
  attached_assets/Pasted-bills-Bp4Pbjs8-js-11-BILLS-PAGE-Initializing-with-buildingId-bfee4e0b-aa89-44b8-b3b2-0419ba-1757988966009_1757988966010.txt
  server/api/bills.ts
  shared/schemas/financial.ts
Owners: @koveogestion/tech-leads

Update bills to include payment structure for better financial management
  attached_assets/Pasted-bills-Bp4Pbjs8-js-11-BILLS-PAGE-Initializing-with-buildingId-409986ca-8e25-4547-b00d-6dae6e-1757989219808_1757989219809.txt
Owners: @koveogestion/tech-leads

Add script to generate payment structures for all bills
  server/scripts/generate-missing-payments.ts
  server/services/payment-generation-service.ts
Owners: @koveogestion/tech-leads

Update script to ensure all bills have payment structures
  server/scripts/generate-missing-payments.ts
Owners: @koveogestion/tech-leads

Update bill payment structure across all records
  attached_assets/Pasted-bills-Bp4Pbjs8-js-11-BILLS-PAGE-Initializing-with-buildingId-409986ca-8e25-4547-b00d-6dae6e-1757989503866_1757989503866.txt
Owners: @koveogestion/tech-leads

Update payment generation logic and provide production deployment guide
  PRODUCTION_UPDATE_GUIDE.md
  attached_assets/Pasted-bills-Bp4Pbjs8-js-11-BILLS-PAGE-Initializing-with-buildingId-409986ca-8e25-4547-b00d-6dae6e-1757989547574_1757989547574.txt
  attached_assets/Pasted-bills-Bp4Pbjs8-js-11-BILLS-PAGE-Initializing-with-buildingId-409986ca-8e25-4547-b00d-6dae6e-1757989633293_1757989633293.txt
  attached_assets/Pasted-bills-Bp4Pbjs8-js-11-BILLS-PAGE-Initializing-with-buildingId-409986ca-8e25-4547-b00d-6dae6e-1757989647267_1757989647268.txt
  server/scripts/production-payment-generation.sql
  server/services/payment-generation-service.ts
Owners: @koveogestion/tech-leads

Add missing payments table and related enums to production
  server/scripts/create-missing-payments-table.sql
Owners: @koveogestion/tech-leads

Add scripts to manage payment data for bills
  server/scripts/01-production-setup-extensions.sql
  server/scripts/02-production-setup-enums.sql
  server/scripts/03-production-setup-tables.sql
  server/scripts/04-production-generate-payments.sql
  server/scripts/production-rollback.sql
  server/scripts/production-update-master.sql
Owners: @koveogestion/tech-leads

Add database update scripts for production environment
  attached_assets/image_1757990260319.png
Owners: @koveogestion/tech-leads

Add missing payment type values to production database enum
  server/scripts/00-production-fix-enums.sql
  server/scripts/production-update-fixed.sql
Owners: @koveogestion/tech-leads

Fix issue where bills are not displayed for a specific building
  attached_assets/Pasted-withHierarchicalSelection-WAHXdO6s-js-1-SELECTION-GRID-DEBUG-Button-clicked-itemId-8c6de72f-1757990488352_1757990488353.txt
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/Pasted-bills-Bp4Pbjs8-js-11-BILLS-PAGE-Initializing-with-buildingId-409986ca-8e25-4547-b00d-6dae6e-1757990896209_1757990896210.txt
Owners: @koveogestion/tech-leads

Improve bill year selection logic for better date range accuracy
  client/src/pages/manager/bills.tsx
Owners: @koveogestion/tech-leads

Ensure correct environment and database selection for production deployments
  server/config/index.ts
Owners: @koveogestion/tech-leads

Update development script to run in production mode
  package.json
Owners: @koveogestion/tech-leads

Set up development environment to use the development database
  package.json
Owners: @koveogestion/tech-leads

Correctly configure database usage based on deployment environment
  server/api/documents.ts
  server/config/index.ts
Owners: @koveogestion/tech-leads

Improve dialog accessibility by adding descriptions to modal content
  attached_assets/Pasted-withHierarchicalSelection-WAHXdO6s-js-1-SELECTION-GRID-DEBUG-Button-clicked-itemId-22134aad-1758022711006_1758022711007.txt
Owners: @koveogestion/tech-leads

Improve document retrieval by excluding bills by default
  server/optimized-db-storage.ts
Owners: @koveogestion/tech-leads

Fix issue where bills appear incorrectly within document views
  attached_assets/image_1758023722809.png
Owners: @koveogestion/tech-leads

Update document management and file handling logic
  client/src/components/common/ModularDocumentPageWrapper.tsx
  server/api/documents.ts
Owners: @koveogestion/tech-leads

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team
