Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

Improve how project costs are calculated and assigned to financial years
  attached_assets/image_1759160479035.png
Owners: @koveogestion/tech-leads

Address inventory page errors and script issues
  .replit
Owners: @koveogestion/tech-leads

Improve project cost calculation and financial year assignment
  attached_assets/image_1759161028417.png
Owners: @koveogestion/tech-leads

Fix error that occurs when running the script
  attached_assets/image_1759161139236.png
Owners: @koveogestion/tech-leads

Update project cost aggregation logic for accurate financial reporting
  attached_assets/image_1759161201219.png
Owners: @koveogestion/tech-leads

Update bill payment processing and financial reporting
  attached_assets/image_1759161261167.png
Owners: @koveogestion/tech-leads

Add debug logs to inventory and project pages for error tracking
  server/api/maintenance.ts
Owners: @koveogestion/business-team

Fix errors preventing access to inventory and project data
  attached_assets/Pasted-index-2eqvhAXt-js-26-GET-https-koveo-gestion-com-api-maintenance-buildings-409986ca-8e25-4547-b00-1759161948445_1759161948445.txt
  attached_assets/Pasted-index-2eqvhAXt-js-26-GET-https-koveo-gestion-com-assets-addDays-VqkNcfkC-js-net-ERR-ABORTED-500--1759161931249_1759161931250.txt
Owners: @koveogestion/tech-leads

Enable detailed logging to diagnose and fix production 500 errors
  .replit
  attached_assets/Pasted-index-2eqvhAXt-js-26-GET-https-koveo-gestion-com-api-maintenance-buildings-409986ca-8e25-4547-b00-1759162504942_1759162504943.txt
  attached_assets/Pasted-index-2eqvhAXt-js-26-GET-https-koveo-gestion-com-api-maintenance-buildings-409986ca-8e25-4547-b00-1759162522749_1759162522750.txt
  server/config/index.ts
  server/db.ts
Owners: @koveogestion/tech-leads

Fix errors preventing users from accessing key platform pages
  .replit
Owners: @koveogestion/tech-leads

Improve session store database detection for production environments
  server/auth.ts
Owners: @koveogestion/security-team

Fix error when fetching building maintenance elements
  attached_assets/Pasted-index-2eqvhAXt-js-26-GET-https-koveo-gestion-com-assets-terminal-CPlb1EGS-js-net-ERR-ABORTED-404-1759164894892_1759164894892.txt
  attached_assets/image_1759164873060.png
  attached_assets/image_1759164887858.png
Owners: @koveogestion/tech-leads

Improve building element data retrieval and error handling
  attached_assets/Pasted-index-2eqvhAXt-js-26-GET-https-koveo-gestion-com-api-maintenance-buildings-409986ca-8e25-4547-b00-1759165304256_1759165304257.txt
  server/api/maintenance.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Improve project data retrieval by ensuring user authentication
  .replit
  attached_assets/Pasted-index-2eqvhAXt-js-26-GET-https-koveo-gestion-com-api-maintenance-buildings-409986ca-8e25-4547-b00-1759174779875_1759174779876.txt
  attached_assets/image_1759174788537.png
  server/api/maintenance.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Refine project cost aggregation logic for accurate financial reporting
  .replit
Owners: @koveogestion/tech-leads

Fix errors occurring on the projects page in production
  attached_assets/Pasted-index-2eqvhAXt-js-26-GET-https-koveo-gestion-com-api-maintenance-buildings-409986ca-8e25-4547-b00-1759175429319_1759175429319.txt
  attached_assets/image_1759175424076.png
Owners: @koveogestion/tech-leads

Improve project cost aggregation logic for accurate financial reporting
  attached_assets/image_1759176132099.png
Owners: @koveogestion/tech-leads

Add detailed logging to maintenance auto-projects endpoint to aid debugging
  attached_assets/Pasted-index-2eqvhAXt-js-26-GET-https-koveo-gestion-com-api-maintenance-buildings-409986ca-8e25-4547-b00-1759176746519_1759176746521.txt
  server/api/maintenance.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Fix errors preventing access to maintenance and project data
  .replit
  attached_assets/Pasted-index-2eqvhAXt-js-26-GET-https-koveo-gestion-com-api-maintenance-buildings-409986ca-8e25-4547-b00-1759177493131_1759177493131.txt
Owners: @koveogestion/tech-leads

Improve handling of financial year assignments for project costs
  .replit
Owners: @koveogestion/tech-leads

Fix database error related to project element IDs and improve web vital recording
  attached_assets/Pasted-2025-09-29-16-38-13-79-dd04ff05-User-cause-2025-09-29-16-38-13-79-dd04ff05-User-stack--1759178324344_1759178324345.txt
Owners: @koveogestion/tech-leads

Update database schema to add new columns and resolve conflicts
  attached_assets/Pasted--workspace-DATABASE-URL-DATABASE-URL-KOVEO-npm-run-db-push-koveo-gestion-1-0-0-db-push-np-1759178737614_1759178737615.txt
  attached_assets/image_1759178720242.png
Owners: @koveogestion/tech-leads

Remove unnecessary columns from database tables
  attached_assets/image_1759178874997.png
Owners: @koveogestion/tech-leads

Adjust financial year handling for project cost aggregation
  attached_assets/image_1759179020832.png
Owners: @koveogestion/tech-leads

Update database schema to correctly handle warranty data type
  .replit
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1759179955143.png
Owners: @koveogestion/tech-leads

Adjust building access checks for user roles and permissions
  server/api/maintenance.ts
Owners: @koveogestion/business-team

Ensure admins can access all building maintenance data
  server/api/maintenance.ts
Owners: @koveogestion/business-team

Grant admins access to all building data to improve management capabilities
  attached_assets/image_1759182491886.png
  server/api/users.ts
Owners: @koveogestion/tech-leads

Remove all development debug logs from API endpoints
  server/api/maintenance.ts
  server/api/users.ts
Owners: @koveogestion/business-team, @koveogestion/tech-leads

Update maintenance project creation and update logic
  server/api/maintenance.ts
Owners: @koveogestion/business-team

Improve user invitation and cache invalidation processes
  server/api/users.ts
Owners: @koveogestion/tech-leads

Add SSL certificate management and automated renewal functionality
  client/src/components/bill-management/ModularBillFormRefactored.tsx
  client/src/components/bill-management/OptimizedModularBillForm.tsx
  client/src/components/ssl/SslCertificateInfo.tsx.disabled
  server/api/ssl.ts.disabled
  server/jobs/ssl_renewal_job.ts.disabled
  server/services/ssl_service.ts.disabled
Owners: @koveogestion/tech-leads

Update project status naming and badge configurations
  client/src/components/maintenance/StatusBadges.tsx
  client/src/components/maintenance/projects/ProjectCard.tsx
Owners: @koveogestion/tech-leads

Enhance card component with navigation, spacing, and action improvements
  client/src/components/common/StandardCard.tsx
Owners: @koveogestion/tech-leads

Update document display to use a new standardized card component
  client/src/components/document-management/DocumentCard.tsx
Owners: @koveogestion/tech-leads

Standardize card components and improve data display
  client/src/components/common/DemandCard.tsx
  client/src/components/maintenance/inventory/ElementCard.tsx
  client/src/components/maintenance/suggestions/SuggestionCard.tsx
Owners: @koveogestion/tech-leads

Refactor UI cards to use a new standardized component
  client/src/components/buildings/BuildingCard.tsx
  client/src/components/maintenance/auto-projects/AutoProjectCard.tsx
  client/src/components/residences/ResidenceCard.tsx
Owners: @koveogestion/tech-leads

Enhance invoice and project card displays with new layout options and details
  client/src/components/invoice-management/InvoiceCard.tsx
  client/src/components/maintenance/projects/ProjectCard.tsx
Owners: @koveogestion/tech-leads

Update invoice form to use consolidated document management pattern
  client/src/components/invoice-management/InvoiceForm.tsx
  client/src/components/invoice-management/index.ts
  client/src/components/invoices/InvoiceForm.tsx
Owners: @koveogestion/tech-leads

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team
