Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team

Improve document and demand management with enhanced filtering and sorting
  client/src/components/document-management/DocumentCreateForm.tsx
  client/src/pages/ModularDocuments.tsx
  client/src/pages/manager/ModularBuildingDocuments.tsx
  client/src/pages/manager/demands.tsx
Owners: @koveogestion/tech-leads

Add database indexes to improve query performance across multiple tables
  shared/schemas/core.ts
  shared/schemas/development.ts
  shared/schemas/documents.ts
  shared/schemas/financial.ts
  shared/schemas/infrastructure.ts
  shared/schemas/invoices.ts
  shared/schemas/maintenance.ts
  shared/schemas/monitoring.ts
  shared/schemas/operations.ts
  shared/schemas/property.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team, @koveogestion/quebec-compliance

Add indexes to improve database query performance across multiple tables
  shared/schemas/core.ts
  shared/schemas/development.ts
  shared/schemas/documents.ts
  shared/schemas/financial.ts
  shared/schemas/infrastructure.ts
  shared/schemas/invoices.ts
  shared/schemas/maintenance.ts
  shared/schemas/monitoring.ts
  shared/schemas/operations.ts
  shared/schemas/property.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team, @koveogestion/quebec-compliance

Add date indexes to various database tables for improved performance
  shared/schemas/development.ts
  shared/schemas/documents.ts
  shared/schemas/financial.ts
  shared/schemas/infrastructure.ts
  shared/schemas/invoices.ts
  shared/schemas/maintenance.ts
  shared/schemas/monitoring.ts
  shared/schemas/operations.ts
  shared/schemas/property.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team, @koveogestion/quebec-compliance

Improve budget page by calculating yearly status and enhance user management filtering
  client/src/pages/manager/budget.tsx
  client/src/pages/manager/user-management.tsx
  server/api/buildings.ts
Owners: @koveogestion/tech-leads

Improve storage cleanup and budget forecasting logic
  server/api/budgets.ts
  server/api/cleanup.ts
  server/api/permissions.ts
Owners: @koveogestion/tech-leads

Add detailed notes for unimplemented features and backend integrations
  client/src/components/invoices/InvoiceForm.tsx
  client/src/pages/ModularDocuments.tsx
  client/src/pages/manager/maintenance/inventory/InventoryPage.tsx
  server/db/queries/optimized-scope-queries.ts
  server/db/queries/scope-query.ts
  server/services/file-migration-service.ts
  server/services/monthly-budget-service.ts
  server/utils/logger.ts
Owners: @koveogestion/tech-leads

Improve code quality and application performance through extensive refactoring
  replit.md
Owners: @koveogestion/tech-leads

Improve user and document data lookup performance
  server/api/documents.ts
  server/api/optimized-documents.ts
  server/db/queries/scope-query.ts
  server/db/queries/user-queries.ts
  shared/schemas/property.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team, @koveogestion/quebec-compliance

Speed up document loading and user data lookups
  QUERY_OPTIMIZATION_VERIFICATION_REPORT.md
  server/api/documents.ts
  server/db/queries/optimized-document-queries.ts
  server/optimized-db-storage.ts
  shared/schemas/documents.ts
Owners: @koveogestion/tech-leads

Improve user and document data loading speeds
  replit.md
Owners: @koveogestion/tech-leads

Update performance metric validation and error reporting
  server/web-vitals-api.ts
Owners: @koveogestion/tech-leads

Improve security measures for demo user access and API operations
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/2c/budgetpagecomprehensivetest_2c4938d9c4f674317c73c287f5ace4b3
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/2c/budgetpagecomprehensivetest_2c4938d9c4f674317c73c287f5ace4b3.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/46/demosecurity_4611fffb6b446e5045a57a92abe9815f
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/46/demosecurity_4611fffb6b446e5045a57a92abe9815f.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/67/demosecuritybypasstest_675e6d98b42fd84b0dacd447ef2b724f
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/67/demosecuritybypasstest_675e6d98b42fd84b0dacd447ef2b724f.map
  server/middleware/demo-security.ts
Owners: @koveogestion/tech-leads

Strengthen security for demo users and improve language detection
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/20/demosecurity_202998e1b70cbf82eceec024c35b2309
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/20/demosecurity_202998e1b70cbf82eceec024c35b2309.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/6b/demosecurity_6b42b37e1780bb31bf3cfb0ca36aaa84
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/6b/demosecurity_6b42b37e1780bb31bf3cfb0ca36aaa84.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  server/middleware/demo-security.ts
Owners: @koveogestion/tech-leads

Update invoice editing form to correctly import and display invoice details
  client/src/components/invoice-management/InvoiceCard.tsx
Owners: @koveogestion/tech-leads

Add translations for inventory and projects pages
  attached_assets/image_1759249596467.png
  attached_assets/image_1759249729388.png
  attached_assets/image_1759249844668.png
  attached_assets/image_1759249872682.png
  attached_assets/image_1759250003764.png
  attached_assets/image_1759250133386.png
  client/src/lib/i18n.ts
  client/src/pages/manager/maintenance/inventory/InventoryPage.tsx
  client/src/pages/manager/maintenance/projects/ProjectsPage.tsx
Owners: @koveogestion/tech-leads

Update project documentation with new working methodology and UI/UX decisions
  replit.md
Owners: @koveogestion/tech-leads

Refine resident access to demands and common space reservations
  server/api/common-spaces.ts
  server/api/demands.ts
Owners: @koveogestion/tech-leads

Improve navigation for users with single assigned locations
  attached_assets/image_1759264898219.png
  attached_assets/image_1759265073653.png
  client/src/components/hoc/withHierarchicalSelection.tsx
  replit.md
Owners: @koveogestion/tech-leads

Improve building access for residents and managers
  client/src/components/hoc/withHierarchicalSelection.tsx
  replit.md
Owners: @koveogestion/tech-leads

Allow residents to add documents to their residences
  attached_assets/image_1759265606559.png
  attached_assets/image_1759265640422.png
  client/src/components/common/ModularDocumentPageWrapper.tsx
Owners: @koveogestion/tech-leads

Update document visibility rules for residents and tenants
  attached_assets/image_1759265865908.png
  attached_assets/image_1759265978010.png
  server/db/queries/optimized-document-queries.ts
Owners: @koveogestion/tech-leads

Add French translation and residence filtering for demands
  client/src/lib/i18n.ts
  client/src/pages/ResidentDemandsPage.tsx
Owners: @koveogestion/tech-leads

Add functionality to view demand documents and translate demand details
  client/src/components/demands/demand-details-popup.tsx
  client/src/lib/i18n.ts
Owners: @koveogestion/tech-leads

Fix duplicate translation keys in i18n configuration files
  attached_assets/image_1759268773388.png
  attached_assets/image_1759268917081.png
  client/src/lib/i18n.ts
Owners: @koveogestion/tech-leads

Improve document viewing access by including temporary upload directories
  attached_assets/image_1759268968303.png
  attached_assets/image_1759269001792.png
  attached_assets/image_1759269078605.png
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Allow residents to delete their own documents
  attached_assets/image_1759269232946.png
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Update document permissions for residents to view, edit, and create Restrict resident document management actions to specific document types.
  client/src/components/common/ModularDocumentPageWrapper.tsx
Owners: @koveogestion/tech-leads

Update demands to view and download uploaded documents
  client/src/components/demands/demand-details-popup.tsx
Owners: @koveogestion/tech-leads

Improve reservation form to correctly display reserved time slots
  client/src/pages/residents/common-spaces.tsx
Owners: @koveogestion/tech-leads

Add debug logging to common spaces booking calendar for time slot issues
  attached_assets/image_1759270114153.png
  attached_assets/image_1759270164136.png
  client/src/pages/residents/common-spaces.tsx
Owners: @koveogestion/tech-leads

Allow residents to see all residences in their building for complaint filing
  attached_assets/image_1759270273046.png
  client/src/pages/ResidentDemandsPage.tsx
  client/src/pages/residents/common-spaces.tsx
Owners: @koveogestion/tech-leads

Fix issues preventing document viewing and downloading
  attached_assets/image_1759270522366.png
Owners: @koveogestion/tech-leads

Add document upload and download tests for various pages
  server/tests/document-upload-download.test.ts
Owners: @koveogestion/tech-leads

Improve document upload security and organization logic
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Improve configuration by using coercion for environment variables
  server/config/index.ts
Owners: @koveogestion/tech-leads

Add specific document type filtering and improve file upload error handling
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/7e/documentapiintegrationtest_7e90cb75dca342168680f31622c80f7c
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/7e/documentapiintegrationtest_7e90cb75dca342168680f31622c80f7c.map
  server/api/documents.ts
  server/auth.ts
  server/db/queries/optimized-document-queries.ts
  server/middleware/auth-middleware.ts
  server/tests/document-api-integration.test.ts
  server/tests/test-app.ts
  vitest.config.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Created a checkpoint
  replit.md
Owners: @koveogestion/tech-leads

Add file attachment view and download options to demands form
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-vendor-ui-DRWoInZm-js-5-1759349540415_1759349540416.txt
  attached_assets/image_1759349410666.png
  attached_assets/image_1759349521330.png
  client/src/pages/ResidentDemandsPage.tsx
Owners: @koveogestion/tech-leads

Add INP metric to web vitals tracking for performance monitoring
  attached_assets/image_1759349791274.png
  server/web-vitals-api.ts
Owners: @koveogestion/tech-leads
