Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

Task #1151: Prevent UTC-midnight off-by-one on document, inspection, warranty, and bill date-only fields rendered in the UI.
  client/src/components/common/DocumentInlineViewer.tsx
  client/src/components/common/ModularDocumentPageWrapper.tsx
  client/src/components/document-management/DocumentCard.tsx
  client/src/components/document-management/DocumentEditForm.tsx
  client/src/components/documents/DocumentLinkPickerDialog.tsx
  client/src/components/documents/DocumentSequencePanel.tsx
  client/src/components/maintenance/inventory/HistoryTable.tsx
  client/src/lib/utils.ts
  client/src/pages/dashboard/overview.tsx
  client/src/pages/manager/maintenance/inventory/ElementDetailsPanel.tsx
  client/src/utils/bill-financial-year.ts
  tests/e2e/element-history-date-fr-ca.e2e.test.ts
  tests/unit/utils/parseDateOnlyLoose.test.ts
Owners: @koveogestion/tech-leads

Task #1154: Replace submission_vendors.vendor_name with real FK vendor_id
  client/src/components/maintenance/projects/workflow/SubmissionTab.tsx
  client/src/hooks/useProjectWorkflow.ts
  migrations/0019_submission_vendors_vendor_id_fk.sql
  migrations/relations.ts
  migrations/schema.ts
  scripts/run-migrations.ts
  scripts/setup-marketing-demo-data.ts
  server/api/maintenance.ts
  server/mcp/server.ts
  server/tests/maintenance-project-delete.test.ts
  shared/schemas/maintenance.ts
  tests/integration/mcp-delete-project-cascade.test.ts
  tests/integration/mcp/project-tools.test.ts
  tests/integration/mcp/project-workflow-tools.test.ts
  tests/integration/user-serializer-http.test.ts
  tests/unit/api/mcp-project-tools.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins, @koveogestion/quality-team, @koveogestion/business-team

Virtualize the inventory ElementTable so it stays fast at scale
  client/src/components/maintenance/DataTable.tsx
  client/src/components/maintenance/inventory/ElementTable.tsx
  package-lock.json
  package.json
Owners: @koveogestion/tech-leads

Git commit prior to merge
  attached_assets/image_1777213755668.png
Owners: @koveogestion/tech-leads

Task #1164: automated tests for the orphan-row cleanup that protects integration setup
  docs/INTEGRATION_DB_ORPHAN_CLEANUP.md
  scripts/clean-orphan-fk-rows.ts
  tests/integration/orphan-fk-cleanup.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Git commit prior to merge
  attached_assets/image_1777213839566.png
Owners: @koveogestion/tech-leads

Task #1161: Apply startTransition + useDeferredValue defer pattern to heavy manager pages to silence "[Violation] handler took N ms" warnings.
  client/src/components/common/ModularDocumentPageWrapper.tsx
  client/src/pages/manager/bills.tsx
  client/src/pages/manager/common-spaces-stats.tsx
  client/src/pages/manager/demands.tsx
  client/src/pages/manager/residences.tsx
Owners: @koveogestion/tech-leads

Git commit prior to merge
  attached_assets/image_1777213990059.png
Owners: @koveogestion/tech-leads

feat(document-tags): admin Koveo system tag toggle on create
  client/src/lib/i18n.ts
  client/src/pages/manager/document-tags.tsx
  server/api/document-tags.ts
Owners: @koveogestion/tech-leads

Lock in inventory table virtualization with a regression test
  tests/unit/components/element-table-virtualization.test.tsx
Owners: @koveogestion/tech-leads

Task #1163: Catch UI jank automatically before it ships
  tests/unit/components/inventory-page-jank.test.tsx
  tests/unit/hierarchical-navigation-jank.test.tsx
  tests/unit/utils/jank-detector.test.ts
  tests/utils/jank-detector.ts
Owners: @koveogestion/tech-leads

Pace bulk import AI queue to stop rate-limit failures (Task #1191)
  server/api/bulk-import.ts
Owners: @koveogestion/tech-leads

Task #1194: Show inline Retry on every bulk-import row
  client/src/pages/admin/bulk-document-import.tsx
Owners: @koveogestion/tech-leads

Git commit prior to merge
  attached_assets/image_1777217884310.png
Owners: @koveogestion/tech-leads

Task #1176: Extend row virtualization to large manager pages
  client/src/components/maintenance/projects/ProjectElements.tsx
  client/src/components/maintenance/projects/ProjectTable.tsx
  client/src/components/ui/data-table.tsx
  client/src/pages/manager/bills.tsx
  client/src/pages/manager/residences.tsx
Owners: @koveogestion/tech-leads

Task #1199 — Add an automated test that proves Retry shows on succeeded bulk-import rows.
  tests/unit/components/bulk-document-import-retry-on-success.test.tsx
Owners: @koveogestion/tech-leads

Catch UI jank on more pages, not just Inventory and hierarchical navigation (Task #1185)
  tests/unit/components/bills-page-jank.test.tsx
  tests/unit/components/demands-page-jank.test.tsx
  tests/unit/components/residences-page-jank.test.tsx
Owners: @koveogestion/tech-leads

Task #1184: Lock in the 'set null' branch of the orphan-row cleanup with a test
  docs/INTEGRATION_DB_ORPHAN_CLEANUP.md
  tests/integration/orphan-fk-cleanup.test.ts
Owners: @koveogestion/tech-leads

Task #1183: Comprehensive dev-only debug logging across bulk document import flow
  __mocks__/client/src/lib/debug-log.ts
  client/src/lib/debug-log.ts
  client/src/pages/admin/bulk-document-import.tsx
  jest.config.cjs
  server/api/bulk-import.ts
  server/mcp/bulk-import-tools.ts
  server/services/bulk-import-analyzer.ts
  tests/integration/bulk-import-replace-file-large-memory.test.ts
  tests/integration/bulk-import-upload-large-batch-memory.test.ts
  tests/unit/api/bulk-import-bulk-reassign-with-residence.test.ts
  tests/unit/api/bulk-import-commit-tag-assignments.test.ts
  tests/unit/api/bulk-import-fiscal-year-cache.test.ts
  tests/unit/api/bulk-import-identify-tag-mapping.test.ts
  tests/unit/api/bulk-import-per-item-retry-fire-and-forget.test.ts
  tests/unit/api/bulk-import-reassign-residence-without-id.test.ts
  tests/unit/api/bulk-import-reassign-with-residence.test.ts
  tests/unit/api/bulk-import-reset-step.test.ts
  tests/unit/api/bulk-import-set-effective-date.test.ts
  tests/unit/api/bulk-import-set-period-hint.test.ts
  tests/unit/api/bulk-import-set-residence.test.ts
  tests/unit/api/bulk-import-set-sorting-decision.test.ts
  tests/unit/api/bulk-import-set-tags.test.ts
  tests/unit/api/bulk-import-upload-disk-streaming.test.ts
  tests/unit/api/bulk-import-upload-mixed-payload.test.ts
  tests/unit/api/bulk-import-zip-upload-filter.test.ts
Owners: @koveogestion/tech-leads

Task #1187: Recognise client_document_fingerprints in upload test mock
  tests/unit/api/bulk-import-upload-disk-streaming.test.ts
Owners: @koveogestion/tech-leads

Task #1195: Cover the multi-column FK path in orphan cleanup tests
  tests/integration/orphan-fk-cleanup.test.ts
Owners: @koveogestion/tech-leads

Task #1204: Test the production-URL safety gate in clean-orphan-fk-rows
  tests/integration/orphan-fk-cleanup-production-guard.test.ts
Owners: @koveogestion/tech-leads

Task #1202: Harden bulk-import AI failures and make Retry obvious
  client/src/pages/admin/bulk-document-import.tsx
  server/api/bulk-import.ts
  server/services/bulk-import-analyzer.ts
  tests/unit/components/bulk-document-import-ai-failure-retry.test.tsx
  tests/unit/services/bulk-import-analyzer-budget.test.ts
Owners: @koveogestion/tech-leads

Task #1203: Test that orphan cleanup's report-only mode never writes to the database
  tests/integration/orphan-fk-cleanup.test.ts
Owners: @koveogestion/tech-leads

Task #1210: lock in jest.global-setup production-URL guard
  tests/integration/jest-global-setup-production-guard.test.ts
Owners: @koveogestion/tech-leads

Git commit prior to merge
  attached_assets/image_1777222788428.png
Owners: @koveogestion/tech-leads

Task #1211: Centralize the production-database safety check
  jest.global-setup.cjs
  scripts/clean-orphan-fk-rows.ts
  scripts/lib/production-url-guard.cjs
  tests/unit/production-url-guard.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Task #1208: Cancel button for in-flight bulk Retry of AI-failed items
  client/src/pages/admin/bulk-document-import.tsx
  tests/unit/components/bulk-document-import-ai-failure-retry.test.tsx
Owners: @koveogestion/tech-leads

Task #1207: surface inline AI-failure Retry on every auto step
  client/src/pages/admin/bulk-document-import.tsx
  tests/unit/components/bulk-document-import-ai-failure-retry.test.tsx
Owners: @koveogestion/tech-leads

Task #1214: Drop the third inline copy of looksLikeProductionUrl
  tests/integration/migration-runner-idempotency.test.ts
Owners: @koveogestion/tech-leads

Task #1209: Top-of-step "Anthropic looks degraded" banner
  client/src/pages/admin/bulk-document-import.tsx
  tests/unit/components/bulk-document-import-ai-failure-retry.test.tsx
Owners: @koveogestion/tech-leads

test(jank): add UI jank guards for dashboard overview & common-spaces stats
  tests/unit/components/common-spaces-stats-page-jank.test.tsx
  tests/unit/components/dashboard-page-jank.test.tsx
Owners: @koveogestion/tech-leads

Wrap dashboard filter setters in startTransition for snappier UX
  client/src/pages/dashboard/overview.tsx
Owners: @koveogestion/tech-leads

Task #1217: Degrade big PDFs to text-only in bulk import analyzer
  client/src/pages/admin/bulk-document-import.tsx
  client/src/pages/admin/bulk-import-fallback-reason-badge.tsx
  package-lock.json
  package.json
  server/api/bulk-import.ts
  server/services/bulk-import-analyzer.ts
  tests/unit/components/bulk-import-fallback-reason-badge.test.tsx
  tests/unit/services/bulk-import-analyzer.test.ts
Owners: @koveogestion/tech-leads

test: extend jank-detector coverage to budget, buildings, and calendar pages
  tests/unit/components/budget-page-jank.test.tsx
  tests/unit/components/buildings-page-jank.test.tsx
  tests/unit/components/calendar-page-jank.test.tsx
Owners: @koveogestion/tech-leads

Git commit prior to merge
  attached_assets/image_1777226006413.png
Owners: @koveogestion/tech-leads

Task #1220: Show "Analyzed from text only" badge in Sorting/Branching/Identification/Linking
  client/src/pages/admin/bulk-document-import.tsx
  server/api/bulk-import.ts
  tests/unit/components/bulk-document-import-text-only-degraded-badge.test.tsx
Owners: @koveogestion/tech-leads

Task #1219: Mirror "Anthropic degraded" warning on sessions list
  client/src/pages/admin/bulk-document-import.tsx
  server/api/bulk-import.ts
  shared/schemas/bulk-import.ts
Owners: @koveogestion/tech-leads

fix(tests): remove stale manager/calendar.tsx path from jank test comment
  tests/unit/components/calendar-page-jank.test.tsx
Owners: @koveogestion/tech-leads

Add tests for bulk-import AI degraded indicators (Task #1223)
  tests/integration/bulk-import-rest-endpoints.test.ts
  tests/unit/components/bulk-document-import-history-ai-degraded.test.tsx
Owners: @koveogestion/tech-leads

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team
