Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

Update building links to navigate to the correct manager residences page
  client/src/components/buildings/BuildingCard.tsx
Owners: @koveogestion/tech-leads

Update building links to correctly include organization ID
  client/src/components/buildings/BuildingCard.tsx
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1758479458954.png
  attached_assets/targeted_element_1758479486524.png
Owners: @koveogestion/tech-leads

Update communication and settings pages to improve data handling and clarity
  client/src/pages/dashboard/communication.tsx
  client/src/pages/settings/settings.tsx
Owners: @koveogestion/tech-leads

Update user management interface to improve data display
  attached_assets/image_1758479730481.png
  attached_assets/targeted_element_1758479760067.png
Owners: @koveogestion/tech-leads

Remove the calendar component and its related functionalities
  client/src/pages/dashboard/communication.tsx
Owners: @koveogestion/tech-leads

Update database migration script to include production backups and force push confirmations
  .gitignore
  scripts/advanced-database-migration.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Improve server health checks for reliable deployment and uptime
  server/index.ts
Owners: @koveogestion/api-team, @koveogestion/tech-leads

Improve server startup and health check reliability
  server/index.ts
  server/routes.ts
Owners: @koveogestion/api-team, @koveogestion/tech-leads

Ensure application is accessible and responds correctly to health checks
  server/index.ts
  server/scripts/populate-default-notification-preferences.ts
Owners: @koveogestion/api-team, @koveogestion/tech-leads

Improve health check to identify more monitoring services
  attached_assets/image_1758483402993.png
  server/health-check.ts
Owners: @koveogestion/tech-leads

Expand test coverage to include communication and budget functionalities
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  scripts/run-tests-sequential.sh
  scripts/run-tests-sequential.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Improve communication features and fix testing issues
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/ea/communicationpagetest_eac7bf93153a6533b3baa0842e6b86bc
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/ea/communicationpagetest_eac7bf93153a6533b3baa0842e6b86bc.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/fb/i18n_fb9558ca3a4a506ebd903bccc1463362
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/fb/i18n_fb9558ca3a4a506ebd903bccc1463362.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  client/src/lib/i18n.ts
  tests/unit/communication/communication-page.test.tsx
Owners: @koveogestion/tech-leads

Update French translations and improve testing cache configuration
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/54/i18n_545b1b465fb5a7dd501ff545107205c3
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/54/i18n_545b1b465fb5a7dd501ff545107205c3.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  client/src/lib/i18n.ts
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1758486993652.png
Owners: @koveogestion/tech-leads

Improve user selection logic by controlling components from the parent
  client/src/components/user-tabs/UserBuildingsTab.tsx
  client/src/components/user-tabs/UserResidencesTab.tsx
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Update demand data handling and notification configurations
  attached_assets/image_1758488370169.png
Owners: @koveogestion/tech-leads

Ensure user assignments cascade delete when organizations or buildings are removed
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Remove debugging logs from user assignments table
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1758488678205_1758488678206.txt
  client/src/components/UserAssignmentsTableClean.tsx
Owners: @koveogestion/tech-leads

Improve user management by refining data saving and cache handling
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1758488979362_1758488979362.txt
  attached_assets/image_1758488985104.png
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Fix infinite loop when switching organizations
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1758489265915_1758489265916.txt
  attached_assets/image_1758489271981.png
  client/src/components/user-tabs/UserBuildingsTab.tsx
  client/src/components/user-tabs/UserOrganizationsTab.tsx
  client/src/components/user-tabs/UserResidencesTab.tsx
Owners: @koveogestion/tech-leads

Improve how building and residence data displays in the table
  attached_assets/image_1758489720234.png
Owners: @koveogestion/tech-leads

Fix issue with removing buildings and residences from user assignments
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Fix issue where deselecting a building incorrectly removes all associated residences
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1758490522554_1758490522554.txt
  client/src/components/user-tabs/UserResidencesTab.tsx
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Fix issue where deselected buildings remain selected in user management
  client/src/components/user-tabs/UserBuildingsTab.tsx
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Improve user building selection logic for smoother updates
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1758490975846_1758490975847.txt
  client/src/components/user-tabs/UserBuildingsTab.tsx
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Revise user management to simplify data handling and improve state control
  client/src/components/user-tabs/UserBuildingsTab.tsx
  client/src/components/user-tabs/UserResidencesTab.tsx
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Simplify user management by removing redundant tab filters
  attached_assets/image_1758491465311.png
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Restored to '0e0b43a2828b9f3ed6985ce047ba59406e87d625'
  attached_assets/image_1758491465311.png
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Simplify user edit form to only show basic information
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Improve user management form with tabs for different sections
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Simplify user editing form by removing redundant tabs
  attached_assets/image_1758492054480.png
  attached_assets/image_1758492065989.png
  attached_assets/image_1758492071370.png
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1758492380303.png
Owners: @koveogestion/tech-leads

Filter organizations and buildings based on user access rights
  client/src/components/hoc/withHierarchicalSelection.tsx
  server/api/organizations.ts
Owners: @koveogestion/tech-leads

Filter organization and building lists based on user's residence access
  client/src/components/hoc/withHierarchicalSelection.tsx
  client/src/pages/residents/building.tsx
  client/src/pages/residents/residence.tsx
Owners: @koveogestion/tech-leads

Improve organization, building, and residence visibility for users
  attached_assets/image_1758493593613.png
Owners: @koveogestion/tech-leads

Add strict authorization and cleanup for user deletion
  attached_assets/estimation_uniformat_niveau_4_detaillee_1758493950347.xlsx
  server/api/users.ts
Owners: @koveogestion/tech-leads

Add maintenance management system and related data schemas
  shared/schema.ts
  shared/schemas/maintenance.ts
Owners: @koveogestion/database-admins, @koveogestion/tech-leads, @koveogestion/business-team

Update evaluation status enum and add Quebec UNIFORMAT catalog
  shared/data/uniformat-catalog.ts
  shared/schemas/maintenance.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Add maintenance features and improve database indexing for better performance
  server/api/maintenance.ts
  server/routes.ts
  shared/schemas/maintenance.ts
Owners: @koveogestion/business-team, @koveogestion/api-team, @koveogestion/tech-leads

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team
