Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team

Task #1117 — Show admins when their tag edits actually save
  tests/unit/components/bulk-document-import-tag-editor.test.tsx
Owners: @koveogestion/tech-leads

Wire Full unit tests into the pre-deploy gate (Task #1121)
  scripts/run-unit-tests.sh
  sed3LblOo
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

fix: cancel pending draft auto-save before any explicit sorting decision (task #1125)
  client/src/pages/admin/bulk-document-import.tsx
Owners: @koveogestion/tech-leads

Git commit prior to merge
  server/tests/fixtures/french-upload.pdf
Owners: @koveogestion/tech-leads

Task #1120: Port upload-filename-normalization integration test to Jest
  package-lock.json
  package.json
  scripts/run-unit-tests.sh
  tests/integration/upload-filename-normalization-end-to-end.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

fix: stop get_budget_settings returning null financialYearStart
  migrations/0018_buildings_financial_year_start_backfill.sql
  server/mcp/budget-tools.ts
  server/storage.ts
Owners: @koveogestion/database-admins, @koveogestion/tech-leads

fix: stop MCP create_element_history_event from regressing lastInspectionDate (task #1130)
  migrations/0018_fix_mcp_last_inspection_date.sql
  server/mcp/server.ts
  server/tests/mcp-inventory-integration.test.ts
Owners: @koveogestion/database-admins, @koveogestion/tech-leads

Stop bills shareable-URL test from intermittently timing out (Task #1122)
  tests/unit/bills-shareable-url.test.tsx
Owners: @koveogestion/tech-leads

feat(#1133): Show field-level before/after diff on edited element history entries
  client/src/components/maintenance/inventory/HistoryEditDiffDialog.tsx
  client/src/components/maintenance/inventory/HistoryTable.tsx
  client/src/lib/i18n.ts
  server/api/maintenance.ts
  server/tests/history-audit-endpoint.test.ts
  tests/unit/components/history-edit-diff-dialog.test.tsx
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Task #1134: Finish removing the legacy vitest test runner
  package-lock.json
  package.json
  tests/integration/bill-upload-ai-analysis-integration.test.ts
  tests/integration/document-api-integration.test.ts
  tests/integration/upload-filename-normalization-secondary-routes.test.ts
  tests/integration/user-serializer-http.test.ts
  vitest.config.ts
Owners: @koveogestion/tech-leads

Git commit prior to merge
  attached_assets/Pasted--Violation-setTimeout-handler-took-N-ms-Violation-setTi_1777207548749.txt
  attached_assets/image_1777207433529.png
Owners: @koveogestion/tech-leads

Task #1132: Automated tests for non-null financialYearStart in budget settings
  tests/unit/api/budget-financial-year-non-null.test.ts
Owners: @koveogestion/tech-leads

Git commit prior to merge
  attached_assets/image_1777207741553.png
Owners: @koveogestion/tech-leads

Task #1135: Recompute lastInspectionDate on history edit/delete
  server/api/maintenance.ts
  server/mcp/server.ts
  server/tests/maintenance-last-inspection-date.test.ts
  server/tests/mcp-inventory-integration.test.ts
Owners: @koveogestion/business-team, @koveogestion/tech-leads

Task #1139: Clean up old vitest snippets in pasted attachment files
  attached_assets/Pasted--Action-1-of-4-Create-the-new-React-Context-for-managing-application-state-This-will-hold-the-1757439961277_1757439961278.txt
  attached_assets/Pasted--Action-1-of-4-Create-the-new-React-Context-for-managing-application-state-This-will-hold-the-1757442392118_1757442392119.txt
Owners: @koveogestion/tech-leads

Widen building element edit form modal from lg to xl
  client/src/components/maintenance/inventory/ElementForm.tsx
Owners: @koveogestion/tech-leads

Git commit prior to merge
  attached_assets/image_1777208076997.png
Owners: @koveogestion/tech-leads

Task #1140: Verify assume_user works end-to-end on staging
  docs/MCP_STAGING_QA_HARNESS_VERIFICATION.md
Owners: @koveogestion/tech-leads

fix(migrations): resolve all 42 pre-existing statement failures in migration chain (Task #871)
  migrations/0010_demands_residence_building_check.sql
  migrations/0012_building_elements_residence_id_fk.sql
  migrations/0012_demands_assignation_check.sql
  migrations/0015_cap_title_description_lengths.sql
  migrations/0015_fix_cross_org_demand_residence_ids.sql
  migrations/0015_fix_last_inspection_date.sql
  migrations/0016_element_history_audit_log.sql
  migrations/0018_fix_mcp_last_inspection_date.sql
  migrations/0018_schema_baseline.sql
Owners: @koveogestion/database-admins

Fix migration failures by restoring and documenting database triggers
  migrations/0018_schema_baseline.sql
  scripts/generate-drift-migration.ts
Owners: @koveogestion/database-admins, @koveogestion/quality-team, @koveogestion/tech-leads

Centralize lastInspectionDate recompute (Task #1141)
  server/api/maintenance.ts
  server/mcp/server.ts
  server/services/inventory-inspection-date.ts
Owners: @koveogestion/business-team, @koveogestion/tech-leads

Fix /manager/maintenance/inventory crash from duplicate React copies
  client/src/main.tsx
  tests/unit/components/inventory-page-hoc-regression.test.tsx
  vite.config.ts
Owners: @koveogestion/tech-leads

Task #1138: Run ported integration tests against real DB
  server/api/maintenance.ts
  tests/integration/document-api-integration.test.ts
Owners: @koveogestion/business-team, @koveogestion/tech-leads

fix: replace parseISO/new Date with parseDateOnly for date-only fields (fr-CA off-by-one)
  client/src/components/maintenance/inventory/HistoryTable.tsx
  client/src/components/maintenance/projects/ProjectBudget.tsx
  client/src/pages/manager/maintenance/inventory/ElementDetailsPanel.tsx
  client/src/pages/manager/maintenance/inventory/ElementHistoryPage.tsx
  client/src/pages/manager/maintenance/inventory/InventoryOverview.tsx
  tests/e2e/element-history-date-fr-ca.e2e.test.ts
Owners: @koveogestion/tech-leads

Task #1143: Add retry + enriched logging to bulk-import AI calls
  server/services/bulk-import-analyzer.ts
  tests/unit/services/bulk-import-analyzer.test.ts
Owners: @koveogestion/tech-leads

Add HOC regression tests for the remaining manager pages (Task #1148)
  tests/unit/components/bills-page-hoc-regression.test.tsx
  tests/unit/components/budget-page-hoc-regression.test.tsx
  tests/unit/components/common-spaces-stats-page-hoc-regression.test.tsx
  tests/unit/components/projects-page-hoc-regression.test.tsx
  tests/unit/components/residences-page-hoc-regression.test.tsx
Owners: @koveogestion/tech-leads

Strengthen parseDateOnly unit test with task #1153's documented input
  tests/unit/utils/parseDateOnly.test.ts
Owners: @koveogestion/tech-leads

Task #1149: Auto-apply identification AI suggestions on bulk-document-import
  client/src/pages/admin/bulk-document-import.tsx
Owners: @koveogestion/tech-leads

Git commit prior to merge
  attached_assets/image_1777210499521.png
Owners: @koveogestion/tech-leads

Git commit prior to merge
  tests/unit/components/buildings-page-hoc-regression.test.tsx
  tests/unit/components/residents-building-page-hoc-regression.test.tsx
  tests/unit/components/residents-common-spaces-page-hoc-regression.test.tsx
  tests/unit/components/residents-residence-page-hoc-regression.test.tsx
Owners: @koveogestion/tech-leads

Task #1150: Tests proving every history write keeps inspection date in sync
  tests/unit/api/maintenance-history-recompute.test.ts
  tests/unit/api/mcp-element-history-recompute.test.ts
Owners: @koveogestion/business-team, @koveogestion/tech-leads

Defer heavy renders in manager area to fix [Violation] handler warnings
  client/src/components/hoc/withHierarchicalSelection.tsx
  client/src/components/maintenance/inventory/ElementTable.tsx
  client/src/components/maintenance/inventory/lazy-components.tsx
  client/src/pages/manager/maintenance/inventory/InventoryPage.tsx
Owners: @koveogestion/tech-leads

test(unit): assert manager pages render content, not just the picker
  tests/unit/components/bills-page-hoc-regression.test.tsx
  tests/unit/components/budget-page-hoc-regression.test.tsx
  tests/unit/components/common-spaces-stats-page-hoc-regression.test.tsx
  tests/unit/components/projects-page-hoc-regression.test.tsx
  tests/unit/components/residences-page-hoc-regression.test.tsx
Owners: @koveogestion/tech-leads

Add meta-test for HOC-driven page regression coverage (Task #1169)
  tests/unit/components/hoc-pages-regression-coverage.test.ts
Owners: @koveogestion/tech-leads

Remove date checkmark button on Identification step (Task #1168)
  client/src/pages/admin/bulk-document-import.tsx
Owners: @koveogestion/tech-leads

Task #1158 — Add automated tests for auto-apply identification useEffect
  tests/unit/components/bulk-document-import-auto-apply-identification.test.tsx
Owners: @koveogestion/tech-leads

Task #1157: Surface AI retry attempt count in bulk-import admin panel
  client/src/pages/admin/bulk-document-import.tsx
  client/src/pages/admin/bulk-import-fallback-reason-badge.tsx
  server/api/bulk-import.ts
  server/services/bulk-import-analyzer.ts
Owners: @koveogestion/tech-leads

Task #1152: Re-wire ElementDetailsPanel & add date-display tests
  client/src/pages/manager/maintenance/inventory/ElementDetailsPanel.tsx
  client/src/pages/manager/maintenance/inventory/InventoryPage.tsx
  tests/e2e/element-history-date-fr-ca.e2e.test.ts
  tests/unit/components/element-details-panel-date-display.test.tsx
Owners: @koveogestion/tech-leads

Task #1155: stop stale orphan rows from blocking integration test setup
  docs/INTEGRATION_DB_ORPHAN_CLEANUP.md
  jest.global-setup.cjs
  scripts/clean-orphan-fk-rows.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Improve AI tag identification by providing available tag names
  attached_assets/image_1777212135505.png
  server/api/bulk-import.ts
  server/services/bulk-import-analyzer.ts
  tests/unit/api/bulk-import-identify-tag-mapping.test.ts
Owners: @koveogestion/tech-leads
