Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team

Fix database connections for user residence data accuracy
  attached_assets/image_1756420241112.png
  server/api/residences.ts
  server/auth.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Correct development database connection to prevent production data exposure
  attached_assets/image_1756420507593.png
  server/db-storage.ts
Owners: @koveogestion/tech-leads

Update demo users and ensure correct database connection for local development
  attached_assets/Screenshot_20250828-232544_1756437950395.png
  client/src/pages/auth/login.tsx
  server/config/index.ts
Owners: @koveogestion/tech-leads

Detect environment based on domain rather than Node environment variable
  server/config/index.ts
Owners: @koveogestion/tech-leads

Update login process to use direct SQL queries for user lookup
  client/src/pages/auth/login.tsx
  server/auth.ts
  server/db-storage.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Fix issue where unauthorized users are displayed in lists
  attached_assets/image_1756438973766.png
  attached_assets/image_1756439005583.png
Owners: @koveogestion/tech-leads

Update demo user credentials and re-enable standard user lookup
  client/src/pages/auth/login.tsx
  server/auth.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Enhance security and testing for demo user access restrictions
  docs/DEMO_USER_SECURITY.md
  server/middleware/demo-security.ts
  tests/integration/demo-user-ui-restrictions.test.tsx
  tests/security/comprehensive-demo-user-security.test.ts
  tests/security/demo-security-test-runner.ts
  tests/utils/check-db-connection.ts
  tests/utils/verify-demo-orgs.ts
Owners: @koveogestion/tech-leads

Add comprehensive tests for demo user creation and login functionality
  tests/integration/demo-login-page-integration.test.ts
  tests/integration/demo-user-creation.test.ts
Owners: @koveogestion/tech-leads

Improve test reliability and performance by integrating with the actual database
  tests/integration/demo-login-page-integration.test.ts
  tests/integration/demo-user-creation.test.ts
  tests/security/VALIDATION_SUMMARY.md
  tests/security/comprehensive-demo-user-security.test.ts
  tests/security/demo-security-test-runner.ts
Owners: @koveogestion/tech-leads

Address cross-border data transfer concerns identified by security analysis
  reports/semgrep-results.json
Owners: @koveogestion/tech-leads

Update language switcher and provider for better internationalization
  client/src/components/ui/language-switcher.tsx
  client/src/hooks/use-language.tsx
  client/src/pages/home.tsx
Owners: @koveogestion/tech-leads

Improve language support for the property management platform
  client/src/lib/i18n.ts
Owners: @koveogestion/tech-leads

Add translations for building and demand management features
  attached_assets/image_1756442159109.png
  attached_assets/image_1756442168576.png
  attached_assets/image_1756442185364.png
  attached_assets/image_1756442197282.png
  client/src/lib/i18n.ts
  client/src/pages/ResidentDemandsPage.tsx
  client/src/pages/manager/buildings.tsx
  client/src/pages/residents/ResidenceDocuments.tsx
Owners: @koveogestion/tech-leads

Integrate Google Cloud Storage for secure document management
  .replit
  client/src/components/ObjectUploader.tsx
  client/src/components/common/DocumentManager.tsx
  client/src/pages/Documents.tsx
  pyproject.toml
  server/api/bills.ts
  server/api/buildings.ts
  server/api/cleanup.ts
  server/api/company-history.ts
  server/api/documents.ts
  server/api/organizations.ts
  server/objectStorage.ts
  upload_secure_document.py
  uv.lock
Owners: @koveogestion/tech-leads

Add secure document upload functionality to cloud storage
  upload_secure_document.py
Owners: @koveogestion/tech-leads

Add ability to generate secure document access URLs
  upload_secure_document.py
Owners: @koveogestion/tech-leads

Remove outdated documentation link from the sidebar
  client/src/config/navigation.ts
Owners: @koveogestion/tech-leads

Update document upload and URL generation to use environment variables
  upload_secure_document.py
Owners: @koveogestion/tech-leads

Update document and bill uploads to use a new secure cloud storage method
  server/api/bills.ts
  server/api/documents.ts
  server/services/gcs-document-service.ts
Owners: @koveogestion/tech-leads

Update document creation and retrieval methods for residents and buildings
  attached_assets/image_1756468505298.png
  server/api/documents.ts
  server/storage.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Integrate file uploads and streamline storage management
  server/api/buildings.ts
  server/api/cleanup.ts
  server/api/documents.ts
  server/api/organizations.ts
  server/storage.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Add functionality to upload resident documents to the cloud
  attached_assets/Pasted-dialog-tsx-38-Warning-Missing-Description-or-aria-describedby-undefined-for-DialogContent--1756468996259_1756468996259.txt
  attached_assets/image_1756468992992.png
  server/optimized-db-storage.ts
  server/storage.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Update storage to use optimized database access
  attached_assets/Pasted-use-auth-tsx-63-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756469179089_1756469179090.txt
  attached_assets/image_1756469174332.png
  server/storage.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Add secure document upload functionality with role-based access controls
  attached_assets/Pasted-use-auth-tsx-63-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756469356612_1756469356612.txt
  attached_assets/image_1756469353385.png
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Update document upload to use Google Cloud Storage and new validation logic
  attached_assets/Pasted-dialog-tsx-38-Warning-Missing-Description-or-aria-describedby-undefined-for-DialogContent--1756469591094_1756469591094.txt
  attached_assets/image_1756469587705.png
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Improve document upload logging and accessibility for dialogs
  attached_assets/Pasted-dialog-tsx-38-Warning-Missing-Description-or-aria-describedby-undefined-for-DialogContent--1756469865592_1756469865592.txt
  attached_assets/image_1756469858678.png
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Improve document upload functionality and error handling
  attached_assets/Screenshot_20250829-112949_1756481403089.png
  attached_assets/Screenshot_20250829-112949_1756481412297.png
  client/src/pages/residents/ResidenceDocuments.tsx
Owners: @koveogestion/tech-leads

Update document categories to include lease and correspondence
  attached_assets/image_1756484097534.png
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Improve dialog accessibility by adding descriptions
  attached_assets/Pasted-dialog-tsx-38-Warning-Missing-Description-or-aria-describedby-undefined-for-DialogContent--1756484208591_1756484208591.txt
  attached_assets/image_1756484205349.png
Owners: @koveogestion/tech-leads

Improve document creation response by adding detailed logging
  attached_assets/Pasted-dialog-tsx-38-Warning-Missing-Description-or-aria-describedby-undefined-for-DialogContent--1756484299851_1756484299852.txt
  attached_assets/image_1756484295184.png
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Improve authentication by handling expired sessions
  attached_assets/Pasted-use-auth-tsx-63-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756484456357_1756484456357.txt
  attached_assets/image_1756484449817.png
Owners: @koveogestion/tech-leads

Fix issue where uploaded documents were not accessible after page refresh
  attached_assets/Pasted-background-js-2-Uncaught-in-promise-Error-Duplicate-script-ID-fido2-page-script-registration-b-1756484586035_1756484586036.txt
  attached_assets/image_1756484575990.png
  attached_assets/image_1756484598817.png
  client/src/pages/residents/ResidenceDocuments.tsx
Owners: @koveogestion/tech-leads

Update file upload functionality to handle various data types and improve error handling
  attached_assets/Pasted-use-auth-tsx-63-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756484739611_1756484739612.txt
  attached_assets/image_1756484734117.png
  client/src/lib/queryClient.ts
  client/src/pages/residents/ResidenceDocuments.tsx
Owners: @koveogestion/tech-leads

Improve accessibility by adding descriptions to dialog elements
  attached_assets/Pasted-dialog-tsx-38-Warning-Missing-Description-or-aria-describedby-undefined-for-DialogContent--1756484969140_1756484969140.txt
  attached_assets/image_1756484962747.png
Owners: @koveogestion/tech-leads

Improve document upload and error handling for residents
  attached_assets/Pasted-use-auth-tsx-63-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756485185217_1756485185217.txt
  attached_assets/image_1756485178263.png
  attached_assets/image_1756485198686.png
  client/src/pages/residents/ResidenceDocuments.tsx
Owners: @koveogestion/tech-leads

Update document upload functionality and file handling logic
  attached_assets/Pasted-use-auth-tsx-63-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756485559114_1756485559115.txt
  attached_assets/image_1756485550952.png
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Use Google Cloud project ID for secure document uploads and retrieval
  attached_assets/Pasted-queryClient-ts-48-POST-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit--1756485714300_1756485714300.txt
  attached_assets/image_1756485706891.png
  upload_secure_document.py
Owners: @koveogestion/tech-leads

Improve Google Cloud Storage authentication and fix dialog accessibility
  attached_assets/Pasted-dialog-tsx-38-Warning-Missing-Description-or-aria-describedby-undefined-for-DialogContent--1756486189276_1756486189276.txt
  attached_assets/image_1756486184868.png
  upload_secure_document.py
Owners: @koveogestion/tech-leads

Add accessibility descriptions to dialog components for better user experience
  attached_assets/Pasted-dialog-tsx-38-Warning-Missing-Description-or-aria-describedby-undefined-for-DialogContent--1756486380035_1756486380035.txt
  attached_assets/image_1756486376059.png
Owners: @koveogestion/tech-leads
