Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

Fix issues with updating task due dates in project workflows
  attached_assets/image_1759031000876.png
  client/src/components/maintenance/projects/workflow/PostWorkTab.tsx
Owners: @koveogestion/tech-leads

Fix date picker to retain selected values when saving project changes
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-CmvGmM6E-js-48--1759031151537_1759031151537.txt
  attached_assets/image_1759031143869.png
Owners: @koveogestion/tech-leads

Update project workflow tasks and ensure data refresh
  client/src/components/maintenance/projects/workflow/InProgressTab.tsx
  client/src/components/maintenance/projects/workflow/PostWorkTab.tsx
  client/src/components/maintenance/projects/workflow/PreWorkTab.tsx
Owners: @koveogestion/tech-leads

Create a reusable date input component for task management
  client/src/components/maintenance/projects/workflow/InProgressTab.tsx
  client/src/components/maintenance/projects/workflow/PostWorkTab.tsx
  client/src/components/maintenance/projects/workflow/PreWorkTab.tsx
  client/src/components/maintenance/projects/workflow/TaskDateInput.tsx
Owners: @koveogestion/tech-leads

Improve projects page functionality by fetching and displaying building data
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-Dpj8js-j-js-48--1759031999870_1759031999871.txt
Owners: @koveogestion/tech-leads

Improve project completion confirmation details for building elements
  client/src/components/maintenance/projects/workflow/PostWorkTab.tsx
Owners: @koveogestion/tech-leads

Add financial year field to project planning step
  attached_assets/image_1759032236255.png
Owners: @koveogestion/tech-leads

Add project card to budget page to display and manage projects
  client/src/pages/manager/budget.tsx
Owners: @koveogestion/tech-leads

Add a project management section to the budget page
  client/src/pages/manager/budget.tsx
Owners: @koveogestion/tech-leads

Add a quick project creation dialog to the budget management page
  client/src/pages/manager/budget.tsx
Owners: @koveogestion/tech-leads

Improve budget reporting by including project costs and financial year aggregation
  client/src/pages/manager/budget.tsx
Owners: @koveogestion/tech-leads

Add dialog description component for improved UI clarity
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-BytOrC6O-js-136-R-1759033496236_1759033496236.txt
  client/src/pages/manager/budget.tsx
Owners: @koveogestion/tech-leads

Update how maintenance projects are fetched and displayed on the budget page
  attached_assets/image_1759033710143.png
  client/src/pages/manager/budget.tsx
Owners: @koveogestion/tech-leads

Improve project planning by assigning costs to financial years
  attached_assets/image_1759033954874.png
  attached_assets/image_1759033964808.png
Owners: @koveogestion/tech-leads

Include project spending in financial calculations and graphs
  client/src/pages/manager/budget.tsx
Owners: @koveogestion/tech-leads

Include project costs when calculating average budget spending
  client/src/pages/manager/budget.tsx
Owners: @koveogestion/tech-leads

Update project cost calculation to use actual costs for completed projects
  attached_assets/image_1759034446649.png
  client/src/pages/manager/budget.tsx
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1759034968443.png
Owners: @koveogestion/tech-leads

Improve cost tracking for projects and bills
  attached_assets/image_1759035842244.png
Owners: @koveogestion/tech-leads

Update financial reporting to accurately reflect project spending
  attached_assets/image_1759036033362.png
Owners: @koveogestion/tech-leads

Correctly calculate monthly bill spending by averaging costs
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  server/utils/budgetCalculations.ts
Owners: @koveogestion/tech-leads

Improve how monthly bill spending is calculated for accuracy
  attached_assets/image_1759036503717.png
Owners: @koveogestion/tech-leads

Update project budget calculations and remove deprecated money flow data
  client/src/components/maintenance/projects/ProjectBudget.tsx
  server/services/monthly-budget-service.ts
Owners: @koveogestion/tech-leads

Refactor financial calculations and caching to improve performance
  server/services/dynamic-financial-calculator.ts
  shared/schema.ts
  shared/schemas/financial-views.ts
  shared/schemas/financial.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Enhance residence management with improved UI and search capabilities
  client/src/components/residences/ResidenceCard.tsx
  client/src/pages/manager/residences.tsx
  client/src/pages/residents/residence.tsx
Owners: @koveogestion/tech-leads

Consolidate AI and communication services for improved efficiency
  server/api/ai-document-analysis.ts
  server/api/bills.ts
  server/api/communication.ts
  server/api/invoices.ts
  server/services/_base/base-service.ts
  server/services/consolidated-ai-service.ts
  server/services/consolidated-communication-service.ts
  server/services/consolidated-financial-service.ts
  server/services/money-flow-automation.ts
Owners: @koveogestion/tech-leads

Implement optimized file storage and migration system
  server/api/migration-endpoints.ts
  server/api/optimized-documents.ts
  server/demo/file-storage-optimization-demo.ts
  server/services/delayed-update-service.ts
  server/services/file-migration-service.ts
  server/services/optimized-file-storage.ts
  server/tests/optimized-storage-test.ts
  server/tests/performance-comparison.ts
  shared/config/optimized-upload-config.ts
Owners: @koveogestion/tech-leads

Enhance system performance with advanced query optimizations and caching
  server/api/residences.ts
  server/api/users.ts
  server/db/queries/optimized-scope-queries.ts
  server/index.ts
  server/init-query-optimizations.ts
  server/services/cache-invalidation-service.ts
  server/services/optimized-query-service.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Implement comprehensive performance monitoring and analysis tools
  client/src/App.tsx
  client/src/components/dashboard/PerformanceDashboard.tsx
  client/src/utils/component-complexity-analyzer.ts
  client/src/utils/performance-optimizer.ts
  client/src/utils/web-vitals-monitor.ts
  package-lock.json
  package.json
  scripts/bundle-analysis.ts
  scripts/performance-testing.ts
  server/init-database-optimizations.ts
  server/init-query-optimizations.ts
  server/performance-api.ts
  server/routes.ts
  server/web-vitals-api.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team, @koveogestion/api-team

Improve element querying and error reporting during tests
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/01/getusercodeframe_01cbc6827b16e3c0c9d69278f9ffc132
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/13/suggestions_1310014f26ec8218d07957d483924144
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/1b/DOMElementFilter_1b94c8cf86b62f3b5d90963b46ca3a8e
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/25/config_25e4d7a22ade7b5904c3a5c191095a15
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/30/queryhelpers_3005f2e27aef08f6cb15781cba02f69b
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/3b/displayvalue_3bc79b34723781c84dd9e8e119c9204d
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/44/alttext_4415c68a9324102a4e2cd8b290011145
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/45/index_4534310f69dfb445b251aaa46c3b2a3c
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/48/placeholdertext_48cc1d39fb33f21ebab7344bd43e0d03
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/5f/index_5f9e15c75598d11b6bf558be4e57ebe7
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/66/actcompat_661c57256aa1e16e70a3e01dd8046a73
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/6b/pure_6b006a87e4113029a460919b98b93c32
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/81/waitforelementtoberemoved_81599fc5cf1164b6e42b5b2ffa9a9a1d
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/8c/helpers_8cc04c677d9dc0bbc5d0a9a4a891f8da
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/9b/role_9b90035d398e4777e8a1afbb4d4eea10
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/a9/rolehelpers_a981c3fb5b5a6bb4afc65435f311dd8d
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/af/text_af105407ea072c041a96a4e139231b20
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/b5/labelhelpers_b5422cbb59d5092e3b43e50193867cd0
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/c2/prettydom_c2ab367a91ec0b7a3a6ff1be6d6666d5
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/cd/labeltext_cdef5baec918f92723483b6f48ec18bf
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d4/getnodetext_d4b94da06dab33c2dfcde6384491738f
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d5/testid_d5dbc3dfbb45f00a38999c2643c2d7e0
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d7/allutils_d743de97c85a180f2e328fc74102098c
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d8/fs_d837b3b396b4e05ce6800d8bbdebf282
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d9/jestsetup_d958b5e7cbe250004b3dc9deeb2bd70d
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d9/jestsetup_d958b5e7cbe250004b3dc9deeb2bd70d.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/da/waitfor_dab218be19199441c04089c2b67fdcb1
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/e0/matches_e01dfac8e3d4d691c6d6bf268ed81a1b
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/f8/index_f873b76160a0d5be4a64a954a41ba2ed
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/fa/index_fa35bcbd07f405eaf1bfed2c956289d2
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/fb/title_fbc8051e3d776542d3e56aa27733848f
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/fc/getqueriesforelement_fc289d79b674bb579be509fabc1d93c2
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/fc/matchersa1259dd2_fceb7c9634a65431545a898407ea041b
Owners: @koveogestion/tech-leads

Create shared components and improve app maintainability
  client/src/lib/common-hooks.ts
  client/src/lib/i18n.ts
  client/src/types/form-patterns.ts
  reports/codebase-redundancy-analysis-2025-09-28.md
Owners: @koveogestion/tech-leads

Improve application performance and maintainability with component refactoring
  client/src/components/bill-management/ModularBillFormRefactored.tsx
  client/src/components/bill-management/OptimizedModularBillForm.tsx
  client/src/components/common/AutoSaveStatusIndicator.tsx
  client/src/components/common/CurrencyInputField.tsx
  client/src/components/common/StandardFormGrid.tsx
  client/src/components/common/index.ts
  client/src/components/forms/CustomPaymentManager.tsx
  client/src/components/forms/DocumentUploadTabs.tsx
  client/src/components/forms/PaymentConfigurationSection.tsx
  client/src/components/forms/index.ts
  client/src/components/ui/VirtualizedDataTable.tsx
  client/src/lib/common-hooks.ts
  client/src/lib/i18n.ts
  client/src/lib/standardized-error-handler.ts
  client/src/lib/utils.ts
  client/src/utils/PerformanceBottleneckAnalysisReport.md
  client/src/utils/web-vitals-monitor.ts
  docs/DEVELOPMENT_GUIDELINES.md
  package-lock.json
  package.json
  reports/database-schema-optimization-analysis.md
  server/db/queries/optimized-scope-queries.ts
  server/optimized-db-storage.ts
  server/services/consolidated-financial-service.ts
  server/services/monthly-budget-service.ts
  server/utils/logger.ts
  server/utils/validation-helpers.ts
Owners: @koveogestion/tech-leads

Update mock data and test configurations for database validation
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/40/budgetsfocusedtest_404ffd94e95daa8e1ea192e01943e64c
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/40/budgetsfocusedtest_404ffd94e95daa8e1ea192e01943e64c.map
  tests/unit/api/budgets-focused.test.ts
  tests/unit/project-inventory-translation.test.tsx
Owners: @koveogestion/tech-leads

Fix issues with unit tests and improve test execution
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/0b/matchersa1259dd2_0b5a443e01646524dd449e577a67875a
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/38/invitationintegrationtest_386ff01fcb1fa3421390d9113c078095
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/38/invitationintegrationtest_386ff01fcb1fa3421390d9113c078095.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/3a/index_3a9a7ef19683e485a6c2aecd49804682
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/46/getqueriesforelement_46096f2729196e9d964b7099167c9b12
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/6f/labeltext_6f67d142138e5d83c378155f4fb3f6a9
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/73/jestsetup_73a7f1829d14437219fe634ef2f91bf6
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/73/jestsetup_73a7f1829d14437219fe634ef2f91bf6.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/7b/prettydom_7b8d850bca95c5e88c277406e5790038
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/8f/index_8f6cfe47052ad90aadf389becdc665fd
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/8f/jestsetupsimple_8f80f4540af5938e839bc0f50a5de385
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/8f/jestsetupsimple_8f80f4540af5938e839bc0f50a5de385.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/9d/config_9dc2cd5910dd7f1aa3e57604ad1f37db
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/a0/actcompat_a0796d6fa139dc60883dd1c426a24a93
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d6/index_d684d75573d21eb6c41bd9736297c531
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/ea/index_ea34c63304079b0992b117872676dd3b
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/fd/pure_fd7e1fdf079f5adb9ddb7fea849a45bc
  __mocks__/enhanced-database-mock.js
  jest.config.cjs
  jest.minimal.config.mjs
  jest.setup.simple.ts
  tests/unit/database-mock-test.test.ts
  tests/unit/database-mock-working.test.ts
  tests/unit/invitation/invitation-integration.test.ts
  tests/unit/simple-mock-test.test.ts
Owners: @koveogestion/tech-leads

Improve input sanitization to prevent malicious data submission
  server/middleware/input-sanitization.ts
Owners: @koveogestion/tech-leads

Improve test mocks for database interactions and form validation logic
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/0c/buildingsconstructiondatetest_0c67ea69c343aeb0e7da59d8401b777b
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/0c/buildingsconstructiondatetest_0c67ea69c343aeb0e7da59d8401b777b.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/14/pgcore_14a412bec476f7b5e6206d38553bc8a0
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/28/formvalidationtest_284bc29952a02c26fe8980b4601e363e
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/28/formvalidationtest_284bc29952a02c26fe8980b4601e363e.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/3b/comprehensiveformteststest_3bb14bf0b3299ed42ba329ee2083180e
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/3b/comprehensiveformteststest_3bb14bf0b3299ed42ba329ee2083180e.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/3d/buildings_3d0ddbcc5fd47cd84a330be2e8322256
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/3d/buildings_3d0ddbcc5fd47cd84a330be2e8322256.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/69/enhancedcalendarfeaturestest_692f76ba589747fa962eae9287f769d5
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/69/enhancedcalendarfeaturestest_692f76ba589747fa962eae9287f769d5.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/7b/demandcommentformtest_7bac535d7749ee6578f3664a5de6650f
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/7b/demandcommentformtest_7bac535d7749ee6578f3664a5de6650f.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/7c/geminiformintegrationtest_7c9330c784218b0f321c4c5c2743b041
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/7c/geminiformintegrationtest_7c9330c784218b0f321c4c5c2743b041.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/88/property_88ce21c7fac6b6459569a2c71c623bf2
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/88/property_88ce21c7fac6b6459569a2c71c623bf2.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/8e/budgetstest_8e6fb4d98d2bf067a69d3d6495db33b2
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/8e/budgetstest_8e6fb4d98d2bf067a69d3d6495db33b2.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/b7/i18n_b74e0259ecc700873017f847ebbe0031
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/b7/i18n_b74e0259ecc700873017f847ebbe0031.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/c5/communicationtranslationtest_c536efb061aa984ff2dc8388079be25d
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/c5/communicationtranslationtest_c536efb061aa984ff2dc8388079be25d.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/cb/comprehensiveformsubmissionteststest_cbfa8fed09a8324f23b3d07f0653b4eb
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/cb/comprehensiveformsubmissionteststest_cbfa8fed09a8324f23b3d07f0653b4eb.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/f7/pgcore_f73bcd2a1ea7a4e55d7fb81b450fcd47
  __mocks__/shared/schema.ts
Owners: @koveogestion/tech-leads

Refine project cost aggregation logic for accurate financial reporting
  .replit
Owners: @koveogestion/tech-leads

Automate database updates for production environments
  .replit
  push_to_production.js
Owners: @koveogestion/tech-leads

Update database migration script for production
  attached_assets/image_1759085275479.png
  push_to_production.js
Owners: @koveogestion/tech-leads

Add new image asset for documentation purposes
  .replit
  attached_assets/image_1759085443627.png
Owners: @koveogestion/tech-leads

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team
