Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

Refresh feature data more frequently to show latest updates
  client/src/pages/admin/roadmap.tsx
Owners: @koveogestion/tech-leads

Improve feature loading by directly querying the database for roadmap data
  client/src/pages/admin/roadmap.tsx
  server/routes.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Improve error handling for feature loading and server responses
  client/src/pages/admin/roadmap.tsx
  server/routes.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Add emergency route to bypass middleware for features data
  attached_assets/image_1755515058720.png
  server/index.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Fix issue preventing roadmap features from displaying correctly
  client/src/pages/admin/roadmap.tsx
  replit.md
  server/index.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Allow users to update the status of their features
  attached_assets/image_1755515511886.png
  server/index.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Improve performance by streamlining data handling and updating core logic
  attached_assets/image_1755515612711.png
Owners: @koveogestion/tech-leads

Improve roadmap display and status updates by prioritizing API routes
  replit.md
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1755515691407.png
Owners: @koveogestion/tech-leads

Remove two-factor authentication options from invitations
  client/src/components/admin/invitation-management.tsx
  client/src/components/admin/send-invitation-dialog.tsx
  server/routes.ts
  shared/schema.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team, @koveogestion/database-admins

Simplify user invitations by removing two-factor authentication requirements
  replit.md
Owners: @koveogestion/tech-leads

Add screenshot illustrating missing organization view
  attached_assets/Screenshot_20250818-072500_1755516313970.png
Owners: @koveogestion/tech-leads

Improve organization data fetching and filtering for user invitations
  client/src/components/admin/send-invitation-dialog.tsx
  server/routes.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Add logging to user organization access checks
  server/rbac.ts
Owners: @koveogestion/tech-leads

Improve organization data fetching and add new API route
  client/src/components/admin/send-invitation-dialog.tsx
  server/index.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Enable users to see their associated organizations
  server/index.ts
Owners: @koveogestion/api-team, @koveogestion/tech-leads

Improve invitation process by filtering out invalid organization IDs
  attached_assets/Screenshot_20250818-073713_1755517060693.png
  client/src/components/admin/send-invitation-dialog.tsx
Owners: @koveogestion/tech-leads

Improve organization filtering for invitation dialog to ensure data validity
  client/src/components/admin/send-invitation-dialog.tsx
Owners: @koveogestion/tech-leads

Improve filtering and display of organizations for invitations
  attached_assets/Screenshot_20250818-075927_1755518379290.png
  client/src/components/admin/send-invitation-dialog.tsx
Owners: @koveogestion/tech-leads

Improve organization selection by simplifying logic and removing unnecessary logging
  client/src/components/admin/send-invitation-dialog.tsx
Owners: @koveogestion/tech-leads

Update organization selection to fix invitation errors
  client/src/components/admin/send-invitation-dialog.tsx
Owners: @koveogestion/tech-leads

Improve invitation dialog by switching to native select elements
  attached_assets/Screenshot_20250818-081056_1755519086554.png
  client/src/components/admin/send-invitation-dialog.tsx
Owners: @koveogestion/tech-leads

Update project documentation with current technical details
  replit.md
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1755536579723.png
Owners: @koveogestion/tech-leads

Allow invitations to be sent without associating them with a specific building
  attached_assets/image_1755537063841.png
  server/routes.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Refine invitation validation to require residences for specific roles
  attached_assets/image_1755537238234.png
  client/src/components/admin/send-invitation-dialog.tsx
  server/routes.ts
  shared/schema.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team, @koveogestion/database-admins

Fix errors in invitation route registration for the property management platform
  attached_assets/image_1755537551008.png
  server/routes.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Add detailed invitation creation with validation and security checks
  attached_assets/image_1755537950210.png
  server/routes.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Add invitation functionality to invite new users to the platform
  attached_assets/image_1755538097452.png
  server/routes-minimal.ts
Owners: @koveogestion/tech-leads

Fix invitation sending by correcting data format and schema mapping
  attached_assets/Pasted-queryClient-ts-105-Mutation-error-Error-400-message-Invalid-invitation-data-errors-orig-1755542208548_1755542208548.txt
  attached_assets/image_1755542225649.png
  client/src/components/admin/send-invitation-dialog.tsx
  server/routes-minimal.ts
Owners: @koveogestion/tech-leads

Add invitation expiry and inviter details to new invitations
  client/src/components/admin/send-invitation-dialog.tsx
  shared/schema.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Fix issues with invitation data validation and schema
  attached_assets/image_1755542738019.png
  attached_assets/image_1755542758539.png
  server/routes-minimal.ts
  shared/schema.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Fix issues with sending invitations and form data parsing
  attached_assets/Pasted-Query-error-SyntaxError-Unexpected-token-DOCTYPE-is-not-valid-JSON-onError-queryCli-1755542969434_1755542969435.txt
  client/src/components/admin/send-invitation-dialog.tsx
  shared/schema.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Improve invitation checking for new users
  attached_assets/Pasted-Query-error-SyntaxError-Unexpected-token-DOCTYPE-is-not-valid-JSON-onError-queryCli-1755543068221_1755543068222.txt
  server/routes-minimal.ts
Owners: @koveogestion/tech-leads

Improve invitation creation by returning detailed invitation data
  attached_assets/image_1755543164953.png
  server/routes-minimal.ts
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/Pasted-Query-error-SyntaxError-Unexpected-token-DOCTYPE-is-not-valid-JSON-onError-queryCli-1755543272380_1755543272380.txt
  attached_assets/image_1755543257153.png
Owners: @koveogestion/tech-leads

Enhance invitation system logging and email service initialization
  server/routes.ts
  server/services/email-service.ts
Owners: @koveogestion/api-team, @koveogestion/tech-leads

Add visual assets for property management platform
  attached_assets/image_1755543687157.png
  attached_assets/image_1755543698426.png
  attached_assets/image_1755543723452.png
  attached_assets/image_1755543732737.png
Owners: @koveogestion/tech-leads

Fix error that appears when opening a form
  attached_assets/image_1755543867147.png
Owners: @koveogestion/tech-leads

Refine invitation data returned to the client
  server/routes-minimal.ts
Owners: @koveogestion/tech-leads

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team
