Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team

Update building construction year display to a formatted month and year
  attached_assets/image_1758648183515.png
  client/src/pages/manager/maintenance/inventory/InventoryOverview.tsx
Owners: @koveogestion/tech-leads

Update building information to use a construction date instead of just the year
  attached_assets/image_1758648350835.png
  attached_assets/image_1758648479378.png
  attached_assets/image_1758648493452.png
  client/src/pages/manager/maintenance/inventory/InventoryOverview.tsx
Owners: @koveogestion/tech-leads

Remove the YTD maintenance cost statistic from the inventory overview page
  client/src/pages/manager/maintenance/inventory/InventoryOverview.tsx
Owners: @koveogestion/tech-leads

Update how asset value is calculated to reflect current costs
  attached_assets/image_1758648608236.png
  client/src/pages/manager/maintenance/inventory/InventoryOverview.tsx
Owners: @koveogestion/tech-leads

Remove 'Due Soon' and 'Up to Date' quick stats cards
  attached_assets/image_1758648668013.png
  client/src/pages/manager/maintenance/inventory/InventoryOverview.tsx
Owners: @koveogestion/tech-leads

Remove padding and spacing from inventory tables for better display
  client/src/pages/manager/maintenance/inventory/InventoryPage.tsx
Owners: @koveogestion/tech-leads

Remove extra space around the table on the user management page
  attached_assets/image_1758648852768.png
Owners: @koveogestion/tech-leads

Update calendar input for building construction dates to match existing date pickers
  attached_assets/image_1758648944201.png
  client/src/pages/manager/maintenance/inventory/InventoryOverview.tsx
Owners: @koveogestion/tech-leads

Improve inventory page layout and user interaction for better usability
  client/src/pages/manager/maintenance/inventory/InventoryPage.tsx
Owners: @koveogestion/tech-leads

Update building data to include construction date and related fields
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1758649048477_1758649048478.txt
  attached_assets/image_1758649043695.png
  attached_assets/image_1758649111513.png
  client/src/pages/manager/maintenance/inventory/InventoryOverview.tsx
Owners: @koveogestion/tech-leads

Remove the column visibility settings from the inventory page
  client/src/pages/manager/maintenance/inventory/InventoryPage.tsx
Owners: @koveogestion/tech-leads

Remove the ability to hide and show columns from the table
  attached_assets/image_1758649275025.png
Owners: @koveogestion/tech-leads

Improve handling of building name when updating construction date
  attached_assets/image_1758649314111.png
  attached_assets/image_1758649320796.png
  client/src/pages/manager/maintenance/inventory/InventoryOverview.tsx
Owners: @koveogestion/tech-leads

Calculate total asset value by summing reconstruction costs
  client/src/pages/manager/maintenance/inventory/InventoryOverview.tsx
Owners: @koveogestion/tech-leads

Update inventory page to fetch building data and fix asset value calculation
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1758649469641_1758649469641.txt
  attached_assets/image_1758649465388.png
  attached_assets/image_1758649499955.png
  client/src/pages/manager/maintenance/inventory/InventoryOverview.tsx
Owners: @koveogestion/tech-leads

Show the correct total asset value in the inventory overview
  client/src/pages/manager/maintenance/inventory/InventoryOverview.tsx
Owners: @koveogestion/tech-leads

Improve building data fetching and asset value calculations for inventory
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1758649648490_1758649648490.txt
  attached_assets/image_1758649644613.png
  client/src/pages/manager/maintenance/inventory/InventoryOverview.tsx
Owners: @koveogestion/tech-leads

Improve handling of building data to prevent errors
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1758649767291_1758649767291.txt
  attached_assets/image_1758649772132.png
  client/src/pages/manager/maintenance/inventory/InventoryOverview.tsx
Owners: @koveogestion/tech-leads

Refine building name retrieval and update API payload for building modifications
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1758649944879_1758649944879.txt
  attached_assets/image_1758649941009.png
  client/src/pages/manager/maintenance/inventory/InventoryOverview.tsx
Owners: @koveogestion/tech-leads

Update building data to show construction date
  attached_assets/image_1758650095196.png
  client/src/pages/manager/maintenance/inventory/InventoryOverview.tsx
Owners: @koveogestion/tech-leads

Improve how building construction dates are displayed
  client/src/pages/manager/maintenance/inventory/InventoryOverview.tsx
Owners: @koveogestion/tech-leads

Update building information to exclusively use construction date
  client/src/pages/manager/maintenance/inventory/InventoryOverview.tsx
  server/api/buildings.ts
  shared/schemas/property.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team, @koveogestion/quebec-compliance

Improve element form validation and building data fetching
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1758650634089_1758650634089.txt
  attached_assets/image_1758650630206.png
Owners: @koveogestion/tech-leads

Update building information to use construction date instead of year built
  server/api/buildings.ts
  server/api/buildings/statistics.ts
  server/api/buildings/validation.ts
  server/services/monthly-budget-service.ts
  server/storage.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Improve how budgets are calculated based on building construction dates
  attached_assets/image_1758650888076.png
  server/services/monthly-budget-service.ts
Owners: @koveogestion/tech-leads

Update building data fields to use construction date for accuracy
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1758651007745_1758651007746.txt
  attached_assets/image_1758651003733.png
  server/api/buildings.ts
  server/api/buildings/operations.ts
  server/api/buildings/queries.ts
  server/api/users.ts
Owners: @koveogestion/tech-leads

Improve handling of financial data for accurate reporting
  attached_assets/image_1758651185269.png
Owners: @koveogestion/tech-leads

Update building dates to display correctly after saving
  client/src/pages/manager/maintenance/inventory/InventoryOverview.tsx
Owners: @koveogestion/tech-leads

Fix inventory page loading issues by importing useEffect
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1758651434912_1758651434913.txt
  attached_assets/image_1758651440126.png
  client/src/pages/manager/maintenance/inventory/InventoryOverview.tsx
Owners: @koveogestion/tech-leads

Fix inventory page loading issues preventing access to building element metrics
  attached_assets/image_1758651575867.png
Owners: @koveogestion/tech-leads

Improve display of building construction date for better usability
  client/src/pages/manager/maintenance/inventory/InventoryOverview.tsx
Owners: @koveogestion/tech-leads

Add debugging logs to track inventory data loading issues
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1758651741988_1758651741988.txt
  attached_assets/image_1758651738674.png
  client/src/pages/manager/maintenance/inventory/InventoryPage.tsx
Owners: @koveogestion/tech-leads

Improve inventory overview by passing building data correctly
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1758651865892_1758651865892.txt
  attached_assets/image_1758651861940.png
  client/src/pages/manager/maintenance/inventory/InventoryOverview.tsx
  client/src/pages/manager/maintenance/inventory/InventoryPage.tsx
Owners: @koveogestion/tech-leads

Improve how building elements and metrics are displayed
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1758652018345_1758652018345.txt
  attached_assets/image_1758652014299.png
Owners: @koveogestion/tech-leads

Improve building element editing to show construction date
  client/src/pages/manager/maintenance/inventory/InventoryOverview.tsx
  client/src/pages/manager/maintenance/inventory/InventoryPage.tsx
Owners: @koveogestion/tech-leads

Clean up console logs and unused code in inventory pages
  client/src/pages/manager/maintenance/inventory/InventoryOverview.tsx
  client/src/pages/manager/maintenance/inventory/InventoryPage.tsx
Owners: @koveogestion/tech-leads

Add unit tests for building construction date and inventory pages
  tests/unit/api/buildings-construction-date.test.ts
  tests/unit/components/inventory-overview.test.tsx
  tests/unit/components/inventory-page.test.tsx
Owners: @koveogestion/tech-leads

Add unit tests for building construction date API endpoint
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/0b/property_0be676876e2200566825c60faa7a3071
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/0b/property_0be676876e2200566825c60faa7a3071.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/13/buildings_1372806e7af090baa1f5cbeb3042c934
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/13/buildings_1372806e7af090baa1f5cbeb3042c934.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/24/core_2470266d6c5d850711caded05463d815
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/24/core_2470266d6c5d850711caded05463d815.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/4c/buildingsconstructiondatetest_4c5c423d87c3f5cddc9cfce297c2a064
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/4c/buildingsconstructiondatetest_4c5c423d87c3f5cddc9cfce297c2a064.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/5f/schema_5f64c583d46c1b77f281e114b41b212e
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/5f/schema_5f64c583d46c1b77f281e114b41b212e.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/84/buildings_84a9dd0b15e22dabdf14abd224e3eb7c
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/84/buildings_84a9dd0b15e22dabdf14abd224e3eb7c.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/c7/buildingsconstructiondatetest_c7d28c525a1f6eb59b8446ed715bc294
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/c7/buildingsconstructiondatetest_c7d28c525a1f6eb59b8446ed715bc294.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d0/buildingsconstructiondatetest_d0083956e2ac2ee6067e5d589fb025ad
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d0/buildingsconstructiondatetest_d0083956e2ac2ee6067e5d589fb025ad.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/e9/operations_e9773d449a089b35fdfed3c36465f638
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/e9/operations_e9773d449a089b35fdfed3c36465f638.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/fb/maintenance_fb3df45dd6eacb76caacf02650f3d24f
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/fb/maintenance_fb3df45dd6eacb76caacf02650f3d24f.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  .replit
  server/db/queries/building-queries.ts
  tests/unit/api/buildings-construction-date.test.ts
  tests/unit/components/inventory-page.test.tsx
Owners: @koveogestion/tech-leads

Refine project management page layout and controls for better usability
  .replit
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1758655233807_1758655233808.txt
  attached_assets/image_1758654685903.png
  attached_assets/image_1758655161640.png
  client/src/pages/manager/maintenance/projects/ProjectsHeader.tsx
  client/src/pages/manager/maintenance/projects/ProjectsPage.tsx
Owners: @koveogestion/tech-leads

Update project data and add building project metrics endpoint
  attached_assets/image_1758655391729.png
  server/api/maintenance.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team
