Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team

Improve document display and interaction for managers and residents
  client/src/pages/manager/BuildingDocuments.tsx
  client/src/pages/manager/ResidenceDocuments.tsx
  client/src/pages/residents/BuildingDocuments.tsx
  client/src/pages/residents/ResidenceDocuments.tsx
Owners: @koveogestion/tech-leads

Add comprehensive tests for document management features
  tests/integration/document-management-comprehensive.test.tsx
  tests/manual-document-test.md
  tests/run-document-tests.sh
Owners: @koveogestion/tech-leads

Enhance document management testing with user role variations
  tests/integration/document-management-comprehensive.test.tsx
  tests/integration/document-management-simple.test.tsx
Owners: @koveogestion/tech-leads

Improve access to residence documents by updating the URL
  attached_assets/image_1756169078026.png
  client/src/App.tsx
  client/src/pages/residents/ResidenceDocuments.tsx
Owners: @koveogestion/tech-leads

Improve access to building and residence documents with dynamic URLs
  client/src/App.tsx
  client/src/pages/manager/BuildingDocuments.tsx
  client/src/pages/manager/ResidenceDocuments.tsx
  client/src/pages/residents/BuildingDocuments.tsx
Owners: @koveogestion/tech-leads

Grant administrators and managers access to all residence documents
  attached_assets/image_1756169287946.png
  server/api/documents.ts
  tests/integration/document-authorization.test.tsx
Owners: @koveogestion/tech-leads

Improve document display and debugging capabilities
  attached_assets/image_1756169604247.png
  client/src/pages/residents/ResidenceDocuments.tsx
  tests/debug-api.js
  tests/integration/document-full-e2e.test.tsx
  tests/integration/document-real-e2e.test.tsx
Owners: @koveogestion/tech-leads

Add script to synchronize demo organization data for testing
  scripts/sync-demo-organizations.ts
  tests/debug-api.js
  tests/integration/document-real-e2e.test.tsx
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Add demo organization synchronization checks to deployment validation
  scripts/deployment-validation.ts
  scripts/enhanced-validate-all.ts
  scripts/run-demo-sync-validation.ts
  scripts/sync-demo-organizations.ts
  scripts/validate-demo-sync.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Streamline code quality checks with a new script
  scripts/quick-quality-check.ts
  scripts/run-quality-check.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Navigate to residences with building filter
  client/src/pages/manager/buildings.tsx
  client/src/pages/manager/residences.tsx
Owners: @koveogestion/tech-leads

Add new tools and fix code errors for better quality
  config/index.ts
  scripts/fix-typescript-errors.ts
  server/storage.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team, @koveogestion/database-admins

Enhance continuous improvement pillar with real-time analytics and suggestions
  client/src/components/dashboard/continuous-improvement-analytics.tsx
  client/src/components/dashboard/pillar-framework.tsx
  client/src/lib/i18n.ts
  server/routes-minimal.ts
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  package.json
Owners: @koveogestion/tech-leads

Improve application startup and deployment stability
  tsconfig.base.json
Owners: @koveogestion/tech-leads

Update core data models and add comprehensive deployment tests
  attached_assets/image_1756171965555.png
  server/storage.ts
  shared/schema.ts
  tests/deployment/deployment-validation.test.ts
  tests/deployment/simple-deployment.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Update translation keys and fix server errors for improved functionality
  attached_assets/Pasted--api-auth-user-1-Failed-to-load-resource-the-server-responded-with-a-status-of-500-index-tUpcp-1756172468586_1756172468586.txt
  attached_assets/image_1756172442781.png
  client/src/lib/i18n.ts
Owners: @koveogestion/tech-leads

Update production file serving to correctly locate build assets
  attached_assets/image_1756172709747.png
  server/index.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Improve Vite development server configuration and error handling
  server/vite.ts
Owners: @koveogestion/tech-leads

Fix error when accessing user profile information
  attached_assets/image_1756173325192.png
Owners: @koveogestion/tech-leads

Improve application health reporting with detailed status endpoints
  server/index.ts
Owners: @koveogestion/api-team, @koveogestion/tech-leads

Fix issue affecting user experience in production environments
  attached_assets/image_1756174145330.png
Owners: @koveogestion/tech-leads

Update database library to latest version for improved functionality
  package-lock.json
  package.json
Owners: @koveogestion/tech-leads

Update project dependencies for improved tooling and performance
  attached_assets/image_1756175178992.png
  package-lock.json
  package.json
Owners: @koveogestion/tech-leads

Update build tool for improved project compilation speed
  package-lock.json
  package.json
Owners: @koveogestion/tech-leads

Introduce AI-powered resident communication and issue resolution
  attached_assets/image_1756175440309.png
Owners: @koveogestion/tech-leads

Update project dependencies to latest versions
  package.json
Owners: @koveogestion/tech-leads

Update project scripts for better development workflow
  package.json
Owners: @koveogestion/tech-leads

Update project metadata and add new dependencies for improved functionality
  attached_assets/Pasted--name-koveo-gestion-version-1-0-0-description-Professional-property-managemen-1756176342104_1756176342104.txt
  attached_assets/image_1756176321330.png
Owners: @koveogestion/tech-leads

Update project dependencies and configuration for Tailwind CSS
  package-lock.json
  package.json
  postcss.config.js
Owners: @koveogestion/tech-leads

Fix broken app rendering by updating configuration
  attached_assets/image_1756176621475.png
  tailwind.config.js
Owners: @koveogestion/tech-leads

Update Tailwind CSS to a newer version for styling
  package-lock.json
  package.json
  postcss.config.js
  tailwind.config.js
Owners: @koveogestion/tech-leads

Update security settings to allow necessary scripts and styles
  attached_assets/image_1756177011300.png
  server/middleware/security-middleware.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Allow access from the primary production website domain
  attached_assets/image_1756177113766.png
  server/middleware/security-middleware.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Temporarily allow inline scripts for debugging in production
  attached_assets/image_1756177183471.png
  server/middleware/security-middleware.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Fix issue with image not displaying correctly
  attached_assets/image_1756177350474.png
Owners: @koveogestion/tech-leads

Ensure database connection is established and checked at startup
  attached_assets/image_1756177515269.png
  server/index.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Update visual elements to improve user interface clarity
  attached_assets/image_1756177746006.png
Owners: @koveogestion/tech-leads

Improve database connection handling and schema loading diagnostics
  attached_assets/image_1756177763799.png
  server/db.ts
  server/index.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Update database initialization to remove schema for relation error prevention
  attached_assets/Pasted-2025-08-25-23-12-01-50-a5713088-User-at-QueryPromise-getQuery-file-home-runner-workspace-nod-1756177942791_1756177942792.txt
  attached_assets/image_1756177908234.png
  attached_assets/image_1756177916694.png
  attached_assets/image_1756177924977.png
  server/db.ts
Owners: @koveogestion/tech-leads
