Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team

Update demo documents to use correct encoding and formatting
  scripts/create-demo-environment.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Update file search logic to prioritize user directories
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Add demo inspection report for property management platform
  residences/f7b15776-517a-43d2-bc51-cdd75fde27a3/inspection-488.txt
Owners: @koveogestion/tech-leads

Categorize financial documents and improve demo data accuracy
  buildings/5fd273e9-328f-4e31-98f0-8e82526c79e8/loan-agreement-2025.txt
  buildings/b73cb700-9b8b-4311-8795-351a6768be38/loan-agreement-2025.txt
  buildings/bfee4e0b-aa89-44b8-b3b2-0419bab47897/loan-agreement-2025.txt
  buildings/e55c083e-a5c4-4371-9aaa-a2204f23e679/loan-agreement-2025.txt
  buildings/fbc1bb8b-a63c-4712-8d1e-c03f32c5c586/loan-agreement-2025.txt
  scripts/create-demo-environment.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Add financial documents to the demo environment
  scripts/create-demo-environment.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Update financial documents for demo organizations in all environments
  buildings/b73cb700-9b8b-4311-8795-351a6768be38/financial-annual-report-2024.txt
  buildings/b73cb700-9b8b-4311-8795-351a6768be38/financial-investment-summary-2024.txt
  buildings/c4213bf1-5a5e-41f8-ba23-1cad3c299ebc/financial-bank-statement-2024.txt
  buildings/c4213bf1-5a5e-41f8-ba23-1cad3c299ebc/financial-loan-agreement-2024.txt
Owners: @koveogestion/tech-leads

Update demo creation script to correctly reference document file paths
  scripts/create-demo-environment.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Update demo environment data and tests for accurate representation
  scripts/create-demo-environment.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Update demo creation script to include new functionalities and tests
  __tests__/demo-creation.test.ts
  scripts/create-demo-environment.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Add an image file for demonstration purposes
  attached_assets/image_1757339966137.png
Owners: @koveogestion/tech-leads

Improve user experience by fixing display issues in the application
  attached_assets/image_1757341570254.png
  attached_assets/image_1757341588248.png
Owners: @koveogestion/tech-leads

Improve debugging information for building data retrieval
  client/src/pages/manager/buildings.tsx
Owners: @koveogestion/tech-leads

Update platform to resolve production-specific issues
  attached_assets/image_1757341857654.png
Owners: @koveogestion/tech-leads

Remove excessive logging and ensure consistent database usage for session storage
  client/src/pages/manager/buildings.tsx
  server/auth.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Resolve authentication issues preventing user access
  attached_assets/image_1757342349319.png
Owners: @koveogestion/tech-leads

Improve visibility of building data for managers by adding debugging
  attached_assets/image_1757342426299.png
  client/src/pages/manager/buildings.tsx
Owners: @koveogestion/tech-leads

Improve user authentication and data fetching for properties
  attached_assets/Pasted-index-DaXNxzVI-js-146-GET-https-koveo-gestion-com-api-auth-user-401-Unauthorized-queryFn-ind-1757343042414_1757343042414.txt
  attached_assets/image_1757343037716.png
Owners: @koveogestion/tech-leads

Improve building statistics retrieval with error handling and logging
  attached_assets/image_1757343157141.png
  server/api/buildings.ts
Owners: @koveogestion/tech-leads

Improve building data retrieval by simplifying statistics calculation
  attached_assets/image_1757344408561.png
  server/api/buildings.ts
Owners: @koveogestion/tech-leads

Fix issue preventing users from viewing buildings
  attached_assets/image_1757344898124.png
Owners: @koveogestion/tech-leads

Ensure specific domain uses dedicated production database
  server/auth.ts
  server/config/index.ts
Owners: @koveogestion/security-team, @koveogestion/tech-leads

Allow demo managers to view buildings within their organizations
  server/api/buildings.ts
Owners: @koveogestion/tech-leads

Remove debugging logs from building data retrieval
  client/src/pages/manager/buildings.tsx
  server/api/buildings.ts
Owners: @koveogestion/tech-leads

Remove financial documents with receipt or invoice keywords
  server/scripts/cleanup-financial-docs.ts
Owners: @koveogestion/tech-leads

Add admin endpoint to clean up financial documents with specific keywords
  server/api/admin-cleanup.ts
  server/routes.ts
  server/scripts/cleanup-financial-docs.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Add script to remove financial documents with receipt or invoice
  server/api/admin-cleanup.ts
  server/routes.ts
  server/scripts/cleanup-financial-docs.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Saved your changes before starting work
  attached_assets/Pasted--Title-Comprehensive-Plan-Implement-a-Hierarchical-Card-Based-Selection-Flow-Overall-Goal-1757347298392_1757347298393.txt
Owners: @koveogestion/tech-leads

Add a flexible component for selecting items in a hierarchical flow
  client/src/components/common/SelectionGrid.tsx
Owners: @koveogestion/tech-leads

Add hierarchical selection logic for organizations, buildings, and residences
  client/src/components/hoc/withHierarchicalSelection.tsx
Owners: @koveogestion/tech-leads

Add API endpoints to view buildings and residences with access controls
  server/api/buildings.ts
  server/api/organizations.ts
Owners: @koveogestion/tech-leads

Integrate hierarchical building selection for bill management
  client/src/pages/manager/bills.tsx
Owners: @koveogestion/tech-leads

Update URL parameters for hierarchical navigation in property management
  attached_assets/image_1757348302359.png
  client/src/components/hoc/withHierarchicalSelection.tsx
Owners: @koveogestion/tech-leads

Add debug logs to help troubleshoot navigation and selection issues
  attached_assets/image_1757348481322.png
  client/src/components/common/SelectionGrid.tsx
  client/src/components/hoc/withHierarchicalSelection.tsx
Owners: @koveogestion/tech-leads

Add necessary images for organization creation
  attached_assets/image_1757348931473.png
Owners: @koveogestion/tech-leads

Fix issue with hierarchical selection navigation and URL parsing
  client/src/components/hoc/withHierarchicalSelection.tsx
Owners: @koveogestion/tech-leads

Improve navigation and debugging for hierarchical data selection
  attached_assets/image_1757349096954.png
  client/src/components/hoc/withHierarchicalSelection.tsx
Owners: @koveogestion/tech-leads

Update working methodology to restart application before checkpoints
  replit.md
Owners: @koveogestion/tech-leads

Update organization selection to show building availability
  client/src/components/common/SelectionGrid.tsx
  client/src/components/hoc/withHierarchicalSelection.tsx
Owners: @koveogestion/tech-leads

Update navigation to correctly filter bills by building
  client/src/pages/manager/bills.tsx
Owners: @koveogestion/tech-leads

Disable building selection when no buildings are available
  attached_assets/image_1757350139934.png
  attached_assets/image_1757350290763.png
  attached_assets/image_1757350313058.png
  attached_assets/image_1757350333250.png
Owners: @koveogestion/tech-leads
