Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

Git commit prior to merge
  .gitignore
Owners: @koveogestion/tech-leads

Add CI workflow that fails builds on schema drift (Task #814)
  .github/workflows/schema-drift-check.yml
Owners: @koveogestion/devops-team, @koveogestion/tech-leads

Task #825: test coverage for branching/sorting decision flow
  tests/unit/api/bulk-import-set-sorting-decision.test.ts
  tests/unit/components/bulk-document-import-sorting-decision.test.tsx
  tests/unit/components/bulk-import-next-step-block.test.tsx
Owners: @koveogestion/tech-leads

Git commit prior to merge
  attached_assets/image_1777096091187.png
  attached_assets/image_1777096240290.png
Owners: @koveogestion/tech-leads

Show floating date chips while resizing/moving Gantt bars
  client/src/components/GanttChart.tsx
Owners: @koveogestion/tech-leads

Cap split-page input so admins can't empty one side (Task #828)
  client/src/pages/admin/bulk-document-import.tsx
Owners: @koveogestion/tech-leads

Add tests for Gantt drag-to-reschedule save flow (Task #821)
  tests/unit/components/gantt-chart-drag-save.test.tsx
Owners: @koveogestion/tech-leads

Task #816: Verify the drift-sync migration runs cleanly against the prod DB
  docs/migration-0011-prod-validation.md
  scripts/generate-drift-migration.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Stop remaining REST API files from leaking raw error.message in 500 responses (Task #812)
  server/api/common-spaces.ts
  server/api/communication.ts
  server/api/delayed-updates.ts
  server/api/demo-management.ts
  server/api/feature-management.ts
  server/api/migration-endpoints.ts
  tests/security/no-raw-db-errors-in-responses.test.ts
Owners: @koveogestion/tech-leads

Block cross-org demand links from the residence side too (Task #810)
  jest.global-setup.cjs
  server/index.ts
  server/tests/residences-demand-building-check-trigger.test.ts
  shared/schemas/operations.ts
  shared/schemas/property.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team, @koveogestion/business-team, @koveogestion/quebec-compliance

Task #807: Show item ID and session ID in bulk import AI failure logs
  server/api/bulk-import.ts
  tests/unit/api/bulk-import-per-file-ai-failure-log.test.ts
Owners: @koveogestion/tech-leads

Git commit prior to merge
  .gitignore
  shared/schemas/core.ts
Owners: @koveogestion/tech-leads

Fix French accent encoding in bulk import filenames (Task #837)
  server/api/bulk-import.ts
  server/tests/bulk-import-filename-encoding.test.ts
  server/utils/filenameNormalization.ts
Owners: @koveogestion/tech-leads

Fix 5 pre-existing test failures (Task #826)
  jest.polyfills.js
  shared/schemas/core.ts
Owners: @koveogestion/tech-leads

Task #852: Replace raw fallback codes with friendly explanations in bulk import detail panel
  client/src/pages/admin/bulk-document-import.tsx
  client/src/pages/admin/bulk-import-fallback-reason-badge.tsx
Owners: @koveogestion/tech-leads

Add automated tests for Gantt edge-resize and slide gestures (task #832)
  tests/unit/components/gantt-chart-drag-resize.test.tsx
Owners: @koveogestion/tech-leads

Task #847: Remember excluded files across bulk imports
  client/src/pages/admin/bulk-document-import.tsx
  replit.md
  server/api/bulk-import.ts
  shared/schemas/bulk-import.ts
Owners: @koveogestion/tech-leads

Fix infinite loading issue by restoring missing migration file
  .gitignore
  attached_assets/image_1777097591260.png
  migrations/0011_residences_demand_building_check.sql
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Apply cross-residence/building DB guard to documents, invoices, building_elements, invitations (Task #811)
  server/scripts/backfill-cross-residence-building-elements-lib.ts
  server/scripts/backfill-cross-residence-building-elements.ts
  server/scripts/backfill-cross-residence-documents-lib.ts
  server/scripts/backfill-cross-residence-documents.ts
  server/scripts/backfill-cross-residence-invitations-lib.ts
  server/scripts/backfill-cross-residence-invitations.ts
  server/scripts/backfill-cross-residence-invoices-lib.ts
  server/scripts/backfill-cross-residence-invoices.ts
  server/tests/cross-residence-building-triggers.test.ts
  shared/schemas/documents.ts
  shared/schemas/invoices.ts
  shared/schemas/maintenance.ts
  shared/schemas/operations.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Task #853 — Test friendly AI fallback explanation in detail panel
  tests/unit/components/bulk-document-import-detail-panel.test.tsx
Owners: @koveogestion/tech-leads

Centralise jsdom pointer-event polyfills in shared Jest setup
  jest.setup.simple.ts
  jest.setup.ts
  tests/unit/bills-template-workflow.test.tsx
  tests/unit/components/gantt-chart-drag-resize.test.tsx
Owners: @koveogestion/tech-leads

Task #858: Add automated tests for the exclusion memory flow end-to-end
  tests/integration/bulk-import-rest-endpoints.test.ts
  tests/unit/components/bulk-document-import-excluded-visibility.test.tsx
Owners: @koveogestion/tech-leads

Task #856: Add inline Slice and Merge sub-sections to Branching step card
  client/src/pages/admin/bulk-document-import.tsx
  server/api/bulk-import.ts
  tests/unit/api/bulk-import-set-sorting-decision.test.ts
  tests/unit/components/bulk-document-import-sorting-decision.test.tsx
Owners: @koveogestion/tech-leads

Task #842: Block ZIP uploads in bulk-import wizard + fix Excel AI errors
  client/src/pages/admin/bulk-document-import.tsx
  server/api/bulk-import.ts
  server/services/bulk-import-analyzer.ts
  tests/unit/api/bulk-import-upload-mixed-payload.test.ts
  tests/unit/api/bulk-import-zip-upload-filter.test.ts
  tests/unit/services/bulk-import-analyzer.test.ts
Owners: @koveogestion/tech-leads

Task #846: Stop a few last REST endpoints from leaking raw error messages
  server/api/company-history.ts
  server/api/dynamic-budgets.ts
  server/api/optimized-documents.ts
  tests/security/no-raw-db-errors-in-responses.test.ts
Owners: @koveogestion/tech-leads

Task #854: Show friendly AI error explanations in document history list
  client/src/pages/admin/bulk-document-import.tsx
Owners: @koveogestion/tech-leads

Fix accented filename mojibake in document/bill/maintenance uploads
  server/api/bills.ts
  server/api/documents.ts
  server/api/maintenance.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Snap Gantt drag/resize gestures to whole local days (task #851)
  client/src/components/GanttChart.tsx
  client/src/lib/utils.ts
  tests/unit/components/gantt-chart-drag-resize.test.tsx
  tests/unit/utils/snapToLocalDay.test.ts
Owners: @koveogestion/tech-leads

Task #864: Let admins add more files to a merge group from the expanded card
  client/src/pages/admin/bulk-document-import.tsx
Owners: @koveogestion/tech-leads

Git commit prior to merge
  attached_assets/image_1777098907631.png
Owners: @koveogestion/tech-leads

Task #838: Test friendly error message for failed Gantt date saves
  tests/unit/components/gantt-chart-drag-save.test.tsx
Owners: @koveogestion/tech-leads

Git commit prior to merge
  attached_assets/image_1777099134541.png
Owners: @koveogestion/tech-leads

Task #833: Wire schema-drift check into CI and pre-commit, point failures to docs/migrations.md
  .github/workflows/schema-drift-check.yml
  .husky/pre-commit
  scripts/check-migration-coverage.ts
Owners: @koveogestion/devops-team, @koveogestion/tech-leads, @koveogestion/quality-team

Task #866: Stop dynamic budgets endpoints from leaking raw error text
  server/api/dynamic-budgets.ts
  tests/security/no-raw-db-errors-in-responses.test.ts
Owners: @koveogestion/tech-leads

Task #849: Validate building_elements.residence_id with a real FK
  migrations/0012_building_elements_residence_id_fk.sql
  server/index.ts
  server/scripts/backfill-orphan-building-element-residence-ids-lib.ts
  server/scripts/backfill-orphan-building-element-residence-ids.ts
  shared/schemas/maintenance.ts
Owners: @koveogestion/database-admins, @koveogestion/api-team, @koveogestion/tech-leads, @koveogestion/business-team

feat: make Gantt pencil open project edit dialog (task #882)
  client/src/components/GanttChart.tsx
  client/src/pages/manager/budget/index.tsx
Owners: @koveogestion/tech-leads

fix: allow dragging quick projects on the budget Gantt chart
  client/src/pages/manager/budget/index.tsx
Owners: @koveogestion/tech-leads

Task #869: Add E2E coverage for Latin-1 mis-decoded filename round-trip
  server/api/documents.ts
  server/tests/upload-filename-normalization-integration.test.ts
Owners: @koveogestion/tech-leads

fix: correct split-part filename format and commit extension source (round 5)
  client/src/pages/admin/bulk-document-import.tsx
  server/api/bulk-import.ts
  tests/unit/api/bulk-import-set-sorting-decision.test.ts
  tests/unit/components/bulk-document-import-sorting-decision.test.tsx
Owners: @koveogestion/tech-leads

Task #844: Block cross-org links on demand assignment fields
  jest.global-setup.cjs
  migrations/0012_demands_assignation_check.sql
  migrations/0013_residences_demand_assignation_check.sql
  server/index.ts
  server/tests/backfill-cross-assignation-demands.test.ts
  server/tests/demands-assignation-check-trigger.test.ts
  server/tests/residences-demand-assignation-check-trigger.test.ts
  shared/schemas/operations.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins, @koveogestion/api-team

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team
