Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

fix(a11y): allow pinch-zoom on every page — WCAG 1.4.4 / W65
  client/index.html
  client/src/index.css
  tests/e2e/viewport-pinch-zoom.e2e.test.ts
  tests/unit/viewport-maximum-scale-lint.test.ts
Owners: @koveogestion/tech-leads

fix(a11y): bring icon hit areas up to 44×44px (WCAG 2.5.5)
  client/src/components/layout/header.tsx
  client/src/components/layout/sidebar.tsx
  client/src/components/maintenance/DataTable.tsx
  client/src/components/ui/button.tsx
  client/src/components/ui/data-table.tsx
  client/src/components/ui/language-switcher.tsx
  client/src/components/ui/toast.tsx
  tests/e2e/icon-hit-areas-wcag.e2e.test.ts
  tests/unit/__snapshots__/button-icon-hit-area.test.tsx.snap
  tests/unit/button-icon-hit-area.test.tsx
Owners: @koveogestion/tech-leads

Task #1659: Finish FR translations on quality, organizations, and user-management
  client/src/components/UserAssignmentsTableClean.tsx
  client/src/lib/i18n.ts
  client/src/pages/admin/organizations.tsx
  client/src/pages/admin/quality.tsx
  tests/e2e/fr-translations-quality-orgs-usermgmt.e2e.test.ts
  tests/unit/i18n/enum-labels-role.test.ts
Owners: @koveogestion/tech-leads

Task #1660: Stop forcing org headers to ALL-CAPS on bulk document import
  client/src/pages/admin/bulk-document-import.tsx
  tests/e2e/bulk-import-org-header-case.e2e.test.ts
  tests/unit/components/bulk-import-org-header-no-uppercase.test.ts
Owners: @koveogestion/tech-leads

Ship bilingual /help placeholder page (Task #1662)
  client/src/App.tsx
  client/src/hooks/use-auth.tsx
  client/src/hooks/use-document-title.tsx
  client/src/lib/i18n.ts
  client/src/pages/help.tsx
  tests/e2e/help-placeholder.e2e.test.ts
Owners: @koveogestion/tech-leads

fix(permissions): Add super_admin to role-hierarchy diagram on /admin/permissions
  client/src/lib/i18n.ts
  client/src/pages/admin/permissions.tsx
  tests/e2e/admin-permissions.e2e.test.ts
  tests/unit/admin-permissions-data.test.ts
Owners: @koveogestion/tech-leads

Task #1663: W37 + W38 — source discriminator + before/after audit log on element_history
  migrations/0036_element_history_source_audit_log.sql
  server/api/maintenance.ts
  server/mcp/server.ts
  server/tests/history-audit-endpoint.test.ts
  shared/schemas/maintenance.ts
Owners: @koveogestion/database-admins, @koveogestion/business-team, @koveogestion/tech-leads

Task #1653 — Keep tour popover visible below the fixed topbar
  client/src/contexts/OnboardingContext.tsx
  tests/unit/onboarding/topbar-scroll-correction.test.tsx
Owners: @koveogestion/tech-leads

fix: show 404 page to unauthenticated users on unknown routes (task #1498)
  client/src/App.tsx
  client/src/hooks/use-auth.tsx
  tests/e2e/unauthenticated-404.e2e.test.ts
Owners: @koveogestion/tech-leads

feat(404): make 404 page accessible, localized, and CTA-complete (Task #666)
  client/src/App.tsx
  client/src/pages/not-found.tsx
  tests/e2e/not-found-404.e2e.test.ts
  tests/e2e/spa-shell-hygiene.e2e.test.ts
  tests/unit/not-found-and-redirects.test.tsx
Owners: @koveogestion/tech-leads

Task #1651: Let the 'Back' button in guided tours return to the correct page
  client/src/contexts/OnboardingContext.tsx
Owners: @koveogestion/tech-leads

Surface the production hard-lock in the assume_user tool description (Task #1664)
  server/mcp/server.ts
  server/tests/mcp-tools.test.ts
Owners: @koveogestion/tech-leads

Fix issues in testing for multiple platform functionalities
  tests/unit/api/maintenance-last-inspection-date.test.ts
  tests/unit/api/mcp-assume-user.test.ts
  tests/unit/viewport-maximum-scale-lint.test.ts
Owners: @koveogestion/business-team, @koveogestion/tech-leads

Task #1671: Bulk commit button, awaiting_family_predecessor backend guard, inline errors
  client/src/pages/admin/bulk-document-import.tsx
  server/api/bulk-import.ts
Owners: @koveogestion/tech-leads

fix(inventory): preserve manual lastInspectionDate on history delete/edit (Task #994)
  server/api/maintenance.ts
  server/mcp/server.ts
  server/services/inventory-inspection-date.ts
  server/tests/maintenance-last-inspection-date.test.ts
Owners: @koveogestion/business-team, @koveogestion/tech-leads

Task #1674: Add MCP-path tests for W41/W74 manual-date preservation
  server/tests/mcp-inventory-integration.test.ts
Owners: @koveogestion/tech-leads

Fix unit tests to reflect updated inspection date logic
  tests/unit/api/maintenance-history-recompute.test.ts
  tests/unit/api/mcp-element-history-recompute.test.ts
Owners: @koveogestion/business-team, @koveogestion/tech-leads

Git commit prior to merge
  attached_assets/Pasted--Koveo-Gestion-Bugs-ouverts-apr-s-Pass-28-Build-test-35_1777393166869.txt
  attached_assets/image_1777392762603.png
Owners: @koveogestion/tech-leads

UI hygiene: pagination touch targets, dev widget gate, org-access i18n (Task #1695)
  client/index.html
  client/src/components/common/PaginationControls.tsx
  client/src/components/ui/pagination.tsx
  client/src/lib/i18n.ts
  client/src/main.tsx
  client/src/pages/auto/admin-org-access.tsx
Owners: @koveogestion/tech-leads

Task #1696: QA harness for tenant POV testing — update docs/MCP_STAGING_QA_HARNESS.md
  docs/MCP_STAGING_QA_HARNESS.md
Owners: @koveogestion/tech-leads

Fix /admin/organizations broken buildings call (task #1690)
  client/src/components/admin/organizations-card.tsx
  client/src/lib/i18n.ts
  tests/unit/api/buildings-role-access.test.ts
  tests/unit/components/admin-organizations-buildings.test.tsx
Owners: @koveogestion/tech-leads

fix(W76): reconcile mobile test plan with actual resident routes
  client/src/App.tsx
  client/src/config/resident-routes.ts
  docs/mobile-test-plan.md
  tests/unit/dashboard-quick-actions-routing.test.ts
Owners: @koveogestion/tech-leads

verify: QA Pass #28 — all 5 re-verification items confirmed fixed
  docs/PROJECT_STATUS.md
Owners: @koveogestion/tech-leads

Fix /admin/performance infinite Loading crash (task #1691)
  client/src/components/dashboard/PerformanceDashboard.tsx
  tests/unit/components/performance-dashboard-smoke.test.tsx
Owners: @koveogestion/tech-leads

Improve script reliability and test accuracy for stability
  scripts/cleanup-subrepl-refs.sh
  scripts/post-merge.sh
  tests/unit/components/admin-organizations-buildings.test.tsx
  tests/unit/components/bulk-document-import-ai-failure-retry.test.tsx
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Honor ?organization on residences and resident building pages (Task #1692)
  .replit
  client/src/components/hoc/withHierarchicalSelection.tsx
  client/src/pages/manager/residences.tsx
  client/src/pages/residents/building.tsx
  tests/unit/org-scope-hoc-buildings-fetch.test.tsx
  tests/unit/org-scope-residences-and-building-pages.test.tsx
Owners: @koveogestion/tech-leads

feat: move super_admin-only pages from /admin/* to /super_admin/* prefix
  client/src/App.tsx
  client/src/config/help-content.ts
  client/src/config/navigation.ts
  client/src/config/route-redirects.ts
  client/src/hooks/use-document-title.tsx
  client/src/pages/auto/admin-org-access.tsx
  tests/e2e/admin-spinner-watchdog.e2e.test.ts
  tests/e2e/bulk-import-ai-degraded-warning.e2e.test.ts
  tests/e2e/bulk-import-org-header-case.e2e.test.ts
  tests/e2e/fr-translations-quality-orgs-usermgmt.e2e.test.ts
  tests/pages/all-pages-integrity.test.tsx
  tests/unit/access-control/admin-document-tags-access.test.tsx
  tests/unit/help-system-comprehensive.test.ts
  tests/unit/not-found-and-redirects.test.tsx
Owners: @koveogestion/tech-leads

Remove duplicate and dead tests (Task #1711)
  tests/critical/authentication-critical.test.ts
  tests/infrastructure-test.test.tsx
  tests/integration/communication-api.test.ts
  tests/simple-infrastructure-test.test.tsx
  tests/unit/components/bulk-document-import-linking-chain-preview.test.tsx
  tests/unit/components/bulk-document-import-linking-group-card.test.tsx
  tests/unit/components/bulk-document-import-linking-keyboard-dnd.test.tsx
  tests/unit/components/bulk-document-import-linking-overrides-clear.test.tsx
  tests/unit/file-upload-forms/TEST_SUMMARY.md
Owners: @koveogestion/security-team, @koveogestion/tech-leads

Task #1712: Clean up stale file-path comments left behind by removed tests
  tests/unit/components/bulk-document-import-reset-step-fr.test.tsx
  tests/unit/components/bulk-document-import-reset-step.test.tsx
Owners: @koveogestion/tech-leads

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team
