Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team

Update documentation and improve access control logic for user data
  docs/IMPROVEMENT_REPORT.md
  server/db.ts
  server/rbac.ts
Owners: @koveogestion/tech-leads

Refine organization access and residence checks for users
  server/rbac.ts
Owners: @koveogestion/tech-leads

Improve testing setup by mocking dependencies and refining test data
  jest.config.cjs
  jest.setup.ts
  tests/unit/auth/rbac-comprehensive.test.ts
  tests/unit/demands/demands-api.test.ts
Owners: @koveogestion/tech-leads

Improve test reliability by updating mock data handling
  .replit
  tests/unit/auth/rbac-comprehensive.test.ts
  tests/unit/demands/demands-api.test.ts.disabled
Owners: @koveogestion/tech-leads

Update port configurations for development and deployment environments
  .replit
Owners: @koveogestion/tech-leads

Use real organization and user data for testing, removing mock data
  jest.config.cjs
  jest.global-setup.js
  jest.setup.ts
  tests/unit/auth/rbac-comprehensive.test.ts
  tests/unit/auth/rbac-real-data.test.ts
  tests/unit/components/common-spaces-real.test.tsx
Owners: @koveogestion/tech-leads

Improve test stability and data validation across the platform
  server/index.js
  server/index.ts
  server/routes.ts
  tests/integration/api-routes-validation.test.ts
  tests/integration/demo-organization-real.test.ts
  tests/unit/auth/rbac-comprehensive.test.ts
  tests/unit/components/common-spaces.test.tsx
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Update tests to remove unused storage interface import
  tests/integration/api-routes-validation.test.ts
Owners: @koveogestion/tech-leads

Refine database query scoping tests for improved accuracy
  tests/unit/db/query-scoping.test.ts
Owners: @koveogestion/tech-leads

Update tests to reflect French as the default language and fix phone number format
  tests/unit/hooks.test.tsx
  tests/unit/quebec-business-logic.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/quebec-compliance, @koveogestion/legal-team

Improve system logic, data handling, and testing configurations
  jest.config.cjs
  server/storage.ts
  tests/mocks/fileMock.js
  tests/unit/financial-consistency.test.ts
  tests/unit/hooks.test.tsx
  tests/unit/quebec-business-logic.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins, @koveogestion/quebec-compliance, @koveogestion/legal-team

Streamline financial management by removing obsolete money flow tracking
  shared/schemas/financial.ts
  tests/unit/bill-schema-validation.test.ts
  tests/unit/financial-consistency.test.ts
  tests/unit/roadmap-component.test.tsx
Owners: @koveogestion/tech-leads

test improvement
  .replit
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1756898394085_1756898394086.txt
  attached_assets/image_1756898385879.png
  jest.config.cjs
  jest.setup.ts
  server/api/residences-enhanced.ts
  server/api/residences.ts
  server/auth.ts
  server/db.ts
  server/index.ts
  tests/integration/demo-organization-real.test.ts
  tests/integration/user-invitation.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/api-team

Enhance security and validation for property management operations
  .replit
  tests/unit/security/api-error-handling.test.ts
  tests/unit/security/authentication-edge-cases.test.ts
  tests/unit/security/data-integrity.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Add comprehensive testing for email and login functionalities
  .replit
  tests/integration/email-service-functionality.test.ts
  tests/integration/email-service-mock.test.ts
  tests/integration/login-functionality.test.ts
Owners: @koveogestion/tech-leads

Update tests and add user assignment to suggestions
  .replit
  server/storage.ts
  tests/unit/security/authentication-edge-cases.test.ts
  tests/unit/security/data-integrity.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins, @koveogestion/security-team

Update application port configurations for enhanced connectivity
  .replit
Owners: @koveogestion/tech-leads

Update database schema to use UUIDs for all primary keys
  dev_schema.txt
  prod_schema.txt
  shared/schemas/core.ts
  shared/schemas/property.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team, @koveogestion/quebec-compliance

Saved your changes before starting work
  attached_assets/image_1756901102253.png
  attached_assets/image_1756901111781.png
Owners: @koveogestion/tech-leads

Add tests to verify building selection and create a debug endpoint for user information
  server/routes.ts
  tests/unit/building-selection-debug.test.ts
Owners: @koveogestion/api-team, @koveogestion/tech-leads

Ensure manager pages maintain consistent layout and sidebar visibility
  attached_assets/image_1756902397772.png
  client/src/pages/manager/budget.tsx
  client/src/pages/manager/common-spaces-stats.tsx
  client/src/pages/manager/user-management.tsx
  tests/unit/manager-layout-consistency.test.ts
  tests/unit/sidebar-layout.test.tsx
Owners: @koveogestion/tech-leads

Update page layouts to improve sidebar compatibility and responsiveness
  client/src/pages/dashboard/calendar.tsx
  client/src/pages/manager/budget.tsx
  client/src/pages/residents/common-spaces.tsx
  client/src/pages/residents/my-calendar.tsx
  tests/unit/manager-layout-consistency.test.ts
Owners: @koveogestion/tech-leads

Add comprehensive tests for building and residence management functionality
  server/api/buildings/operations.ts
  tests/unit/building-residence-management.test.ts
Owners: @koveogestion/tech-leads

Add functionality to automatically adjust building residence counts for admins
  attached_assets/image_1756905780603.png
  server/api/buildings.ts
  server/api/buildings/operations.ts
  tests/unit/residence-count-adjustment.test.ts
Owners: @koveogestion/tech-leads

Add endpoint to validate invitation tokens and include test cases
  server/api/users.ts
  tests/unit/invitation-validation-direct.test.ts
  tests/unit/invitation-validation.test.ts
Owners: @koveogestion/tech-leads

Improve invitation validation tests to ensure correct data handling
  tests/unit/invitation-validation-direct.test.ts
Owners: @koveogestion/tech-leads

Add error handling for token validation process
  attached_assets/image_1756907430463.png
  client/src/components/auth/steps/token-validation-step.tsx
Owners: @koveogestion/tech-leads

Add new image asset for enhanced visual presentation
  attached_assets/image_1756907684349.png
Owners: @koveogestion/tech-leads

Add support for viewing attached image files within the application
  attached_assets/image_1756907905153.png
Owners: @koveogestion/tech-leads

Improve document upload process for better user experience
  attached_assets/image_1756907958472.png
Owners: @koveogestion/tech-leads

Add basic onboarding flow and initial user setup
  attached_assets/image_1756908080742.png
Owners: @koveogestion/tech-leads

Fix issue preventing redirection after successful user creation
  attached_assets/image_1756908186899.png
Owners: @koveogestion/tech-leads

Add a new image asset to the project
  attached_assets/image_1756908238476.png
Owners: @koveogestion/tech-leads

Restored to '17313ca9b7f5827bc3057a8726518511ff1c0269'
  attached_assets/image_1756907684349.png
  attached_assets/image_1756907905153.png
  attached_assets/image_1756907958472.png
  attached_assets/image_1756908080742.png
  attached_assets/image_1756908186899.png
  attached_assets/image_1756908238476.png
Owners: @koveogestion/tech-leads

Update budget page to improve performance and stability
  client/src/pages/manager/budget.tsx
Owners: @koveogestion/tech-leads

Improve invitation validation by adding direct and API tests
  attached_assets/image_1756908419438.png
  tests/unit/invitation-validation-direct.test.ts
  tests/unit/invitation-validation.test.ts
Owners: @koveogestion/tech-leads

Add detailed budget management features for property managers
  attached_assets/image_1756908566768.png
  client/src/pages/manager/budget.tsx.bak
Owners: @koveogestion/tech-leads

Update budget page to improve financial reporting and data display
  attached_assets/image_1756908737045.png
  client/src/pages/manager/budget.tsx.bak
Owners: @koveogestion/tech-leads

Improve application startup by loading frontend in development mode asynchronously
  attached_assets/image_1756909177323.png
  server/index.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Remove budget-related features and routes to streamline the application
  client/src/App.tsx
Owners: @koveogestion/tech-leads
