Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team

Redirect users to appropriate pages based on their roles
  attached_assets/image_1755483064261.png
  client/src/pages/dashboard-simple.tsx
Owners: @koveogestion/tech-leads

Update admin redirect to show the roadmap page
  attached_assets/image_1755483281906.png
  client/src/pages/dashboard-simple.tsx
Owners: @koveogestion/tech-leads

Refine user redirection logic to prevent unintended navigation
  client/src/pages/dashboard-simple.tsx
Owners: @koveogestion/tech-leads

Update redirect logic for unauthenticated users
  client/src/App.tsx
Owners: @koveogestion/tech-leads

Improve user navigation by redirecting admins to organizational pages
  attached_assets/image_1755483661514.png
  client/src/App.tsx
  client/src/hooks/use-auth.tsx
Owners: @koveogestion/tech-leads

Update dashboard to use the main version and improve routing
  client/src/App.tsx
Owners: @koveogestion/tech-leads

Improve dashboard and component loading for property management platform
  client/src/components/ui/toaster.tsx
  client/src/pages/dashboard-broken.tsx
  client/src/pages/dashboard-simple.tsx
  client/src/pages/dashboard.tsx
  client/src/utils/component-loader.ts
Owners: @koveogestion/tech-leads

Update server port configuration and adjust dashboard export
  client/src/pages/dashboard.tsx
  server/index.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Restore previous user interface appearance and functionality
  client/src/App.tsx
Owners: @koveogestion/tech-leads

Update dashboard to a simpler version for improved performance
  attached_assets/image_1755485275755.png
  client/src/App.tsx
Owners: @koveogestion/tech-leads

Add a simplified organizations view for admins to test functionality
  attached_assets/image_1755485450800.png
  client/src/App.tsx
  client/src/pages/admin/organizations-simple.tsx
Owners: @koveogestion/tech-leads

Update routing to direct unauthenticated users to the login page
  attached_assets/image_1755485542021.png
  client/src/App.tsx
Owners: @koveogestion/tech-leads

Recreate admin pages for a simplified user experience
  client/src/App.tsx
  client/src/pages/simple-admin-organizations.tsx
  client/src/pages/simple-admin-users.tsx
  client/src/pages/simple-dashboard.tsx
Owners: @koveogestion/tech-leads

Update invitation system and server setup for improved functionality
  client/src/components/admin/send-invitation-dialog.tsx
  package-lock.json
  package.json
  server/index.ts
  server/routes-minimal.ts
  tailwind.config.js
  tailwind.config.ts.backup
  tsconfig.base.json
  tsconfig.json
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Improve the development server's initial page display
  server/index.ts
Owners: @koveogestion/api-team, @koveogestion/tech-leads

Update server setup to use Vite for development and improve fallback logic
  package-lock.json
  package.json
  server/index.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Update styling dependencies to apply visual elements correctly
  attached_assets/Screenshot_20250817-232004_1755487217693.png
  package-lock.json
  package.json
  tailwind.config.js
Owners: @koveogestion/tech-leads

Update styling and dependencies for improved visual rendering
  client/src/index.css
  package-lock.json
  package.json
  postcss.config.js
  tailwind.config.js
Owners: @koveogestion/tech-leads

Add user management section with invitation and bulk action features
  client/src/config/navigation.ts
  client/src/pages/management/user-management.tsx
Owners: @koveogestion/tech-leads

Add user management section for administrators to view and manage users
  client/src/App.tsx
  client/src/pages/management/user-management.tsx
Owners: @koveogestion/tech-leads

Organize user management under the manager menu for better navigation
  client/src/App.tsx
  client/src/config/navigation.ts
  client/src/pages/manager/user-management.tsx
  replit.md
Owners: @koveogestion/tech-leads

Make mobile menu visible and show organizations
  attached_assets/Screenshot_20250818-050602_1755508002140.png
  client/src/components/layout/header.tsx
  client/src/components/layout/sidebar.tsx
  server/api/organizations.ts
Owners: @koveogestion/tech-leads

Add ability to manage organizations and users via the platform
  server/routes-minimal.ts
Owners: @koveogestion/tech-leads

Improve user management system and API integration
  replit.md
Owners: @koveogestion/tech-leads

Improve how system alerts are handled and displayed
  tests/unit/notification-service.test.ts
Owners: @koveogestion/tech-leads

Add comprehensive documentation validation to project checks
  client/src/components/admin/organization-form-dialog.tsx
  client/src/components/admin/user-list.tsx
  client/src/components/auth/registration-wizard.tsx
  client/src/components/auth/steps/password-creation-step.tsx
  client/src/components/auth/steps/profile-completion-step.tsx
  replit.md
  scripts/docs-validation.ts
  scripts/enhanced-validation.ts
  tests/unit/quality-metrics.test.ts
  tests/unit/ssl-renewal-job.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Improve code quality and error handling throughout the application
  client/src/components/admin/organization-form-dialog.tsx
  client/src/components/admin/user-list.tsx
  client/src/components/auth/registration-wizard.tsx
  client/src/components/auth/steps/profile-completion-step.tsx
  client/src/components/auth/steps/quebec-privacy-consent-step.tsx
  client/src/components/auth/steps/token-validation-step.tsx
  client/src/components/dashboard/replit-ai-monitoring.tsx
  client/src/components/filter-sort/FilterSort.tsx
  client/src/components/forms/feature-form.tsx
  client/src/components/forms/organization-form.tsx
  client/src/components/layout/sidebar.tsx
  client/src/components/roadmap/actionable-items-panel.tsx
  client/src/pages/admin/documentation.tsx
  client/src/pages/admin/roadmap.tsx
  client/src/pages/manager/user-management.tsx
  scripts/docs-validation.ts
  server/api/ai-monitoring.ts
  server/api/ssl.ts
  server/api/users.ts
  server/services/email-routes.ts
  server/services/metric-validation.ts
  tests/unit/notification-service.test.ts
  tests/unit/quality-metrics.test.ts
  tests/unit/ssl-renewal-job.test.ts
  tools/smart-context-manager.ts
  types/global.d.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Improve form validation and error handling across the platform
  client/src/components/auth/steps/password-creation-step.tsx
  server/services/email-service.ts
  server/services/gemini-analysis.ts
Owners: @koveogestion/tech-leads

Fix hamburger menu not opening and improve error handling in permissions
  client/src/App.tsx
  client/src/components/layout/header.tsx
  server/api/permissions.ts
Owners: @koveogestion/tech-leads

Improve error handling and logging across the application
  client/src/components/layout/header.tsx
  server/api/ai-monitoring.ts
  server/api/organizations.ts
  server/api/permissions.ts
  server/api/users.ts
  server/auth/invitation-rbac.ts
  server/database-optimization.ts
  server/init-database-optimizations.ts
  server/jobs/index.ts
  server/jobs/ssl_renewal_job.ts
  server/middleware/validation-middleware.ts
  server/optimized-db-storage.ts
  server/performance-api.ts
  server/query-cache.ts
  server/rbac.ts
  server/services/email-routes.ts
  server/services/notification_service.ts
  server/services/ssl_service.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Fix issues with data insertion and validation to ensure app stability
  server/auth/invitation-rbac.ts
  server/middleware/validation-middleware.ts
  server/optimized-db-storage.ts
Owners: @koveogestion/security-team, @koveogestion/tech-leads

Fix issue preventing the mobile menu from opening on click
  client/src/App.tsx
  client/src/components/layout/header.tsx
  client/src/components/layout/sidebar.tsx
Owners: @koveogestion/tech-leads

Provide mobile menu functionality across the application
  client/src/App.tsx
  client/src/components/layout/header.tsx
Owners: @koveogestion/tech-leads

Refactor mobile menu functionality into a dedicated hook and provider
  client/src/App.tsx
  client/src/components/layout/header.tsx
  client/src/components/layout/sidebar.tsx
  client/src/hooks/use-mobile-menu.tsx
Owners: @koveogestion/tech-leads

Fix mobile menu to reliably open and close with backdrop
  replit.md
Owners: @koveogestion/tech-leads

Improve how project progress is calculated for the roadmap display
  attached_assets/Screenshot_20250818-063107_1755513072444.png
  client/src/pages/admin/roadmap.tsx
Owners: @koveogestion/tech-leads

Display all available features within their respective categories
  attached_assets/Screenshot_20250818-063245_1755513190979.png
  client/src/pages/admin/roadmap.tsx
  server/routes.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Improve feature display by debugging API calls and database queries
  server/routes.ts
Owners: @koveogestion/api-team, @koveogestion/tech-leads

Improve feature retrieval with enhanced API error handling and logging
  client/src/pages/admin/roadmap.tsx
  server/routes.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Add authentication and authorization to the features API endpoint
  client/src/pages/admin/roadmap.tsx
  server/routes.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team
