Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team

Fix calculation errors and input handling on the budget page
  client/src/pages/manager/budget.tsx
Owners: @koveogestion/tech-leads

Update documentation for effectiveness tracking and testing utilities
  tests/utils/metric-effectiveness-tracker.ts
  tests/utils/test-effectiveness-metrics.ts
  types/global.d.ts
  types/jest-dom.d.ts
Owners: @koveogestion/tech-leads

Fix various issues to improve application functionality and code quality
  client/src/components/BillCreateForm.tsx
  client/src/components/admin/invitation-management.tsx
  client/src/components/admin/user-list.tsx
  client/src/pages/manager/user-management.tsx
  package-lock.json
  scripts/build-server.js
  scripts/deploy-build.js
  scripts/deployment-bypass.js
  scripts/fix-jest-types.js
  tests/unit/notification-service.test.ts
  tests/unit/pages/budget.test.tsx
  tests/utils/test-effectiveness-metrics.ts
  tools/jsdoc-templates.ts
  types/dom.d.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Improve user interface and fix various application errors
  client/src/components/admin/invitation-management.tsx
  client/src/components/admin/user-list.tsx
  tests/unit/notification-service.test.ts
Owners: @koveogestion/tech-leads

Improve data fetching and fix UI display issues across modules
  client/src/components/BillCreateForm.tsx
  client/src/components/dashboard/development-console.tsx
  client/src/components/dashboard/law25-compliance.tsx
  client/src/components/dashboard/quality-metrics.tsx
  client/src/components/demands/demand-details-popup.tsx
  client/vite-env.d.ts
  types/browser-apis.d.ts
Owners: @koveogestion/tech-leads

Enable automatic deletion of associated data when removing organizations or buildings
  server/api/cleanup-orphans.ts
  server/api/organizations.ts
  server/utils/cleanup-orphans.ts
  shared/schemas/core.ts
  shared/schemas/property.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team, @koveogestion/quebec-compliance

Improve error logging and authentication middleware imports
  attached_assets/image_1755987826130.png
  server/api/cleanup-orphans.ts
  server/index.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Improve building display by correctly processing fetched data
  client/src/pages/manager/buildings.tsx
Owners: @koveogestion/tech-leads

Improve building data fetching and display logic for managers
  attached_assets/image_1755987961467.png
  client/src/pages/manager/buildings.tsx
Owners: @koveogestion/tech-leads

Update data fetching for manager buildings to use new API endpoint
  attached_assets/image_1755988086753.png
  client/src/pages/manager/buildings.tsx
Owners: @koveogestion/tech-leads

Update data fetching to properly parse JSON responses
  attached_assets/image_1755988197231.png
  client/src/pages/manager/buildings.tsx
Owners: @koveogestion/tech-leads

Allow managers to edit residences and admins to edit organizations
  client/src/pages/manager/user-management.tsx
  server/api/users.ts
Owners: @koveogestion/tech-leads

Update building deletion to use the correct API path
  client/src/pages/manager/buildings.tsx
Owners: @koveogestion/tech-leads

Enhance logging and port configurations for improved development and testing
  .replit
  reports/compliance-analysis.json
  tests/security/semgrep-compliance-rules.yml
Owners: @koveogestion/tech-leads

Improve testing by fixing configurations and adding utilities
  .replit
  client/src/utils/test-providers.tsx
  reports/compliance-analysis.json
  tests/integration/money-flow-residence-integration.test.ts
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1755989916605.png
Owners: @koveogestion/tech-leads

Improve building card layout to keep icons contained
  attached_assets/image_1755989998641.png
  attached_assets/image_1755990087660.png
  attached_assets/image_1755990161961.png
  client/src/components/buildings/building-card.tsx
  tests/ui/building-card-icon-positioning.test.tsx
  tests/ui/icon-positioning-final.test.tsx
  tests/ui/simple-icon-positioning.test.tsx
Owners: @koveogestion/tech-leads

Update text for navigating to the dashboard in French and English
  client/src/lib/i18n.ts
Owners: @koveogestion/tech-leads

Improve residence page stability and add comprehensive accessibility tests
  attached_assets/image_1755990406281.png
  attached_assets/image_1755990410695.png
  client/src/pages/residents/residence.tsx
  server/api/users.ts
  tests/ui/navigation-accessibility.test.tsx
  tests/ui/page-accessibility.test.tsx
  tests/ui/residence-page-errors.test.tsx
Owners: @koveogestion/tech-leads

Update greeting to display the current user's first name
  client/src/pages/dashboard.tsx
Owners: @koveogestion/tech-leads

Shorten long building names with tooltips for better display
  client/src/components/buildings/building-card.tsx
Owners: @koveogestion/tech-leads

Update tests to use Jest and mock services more efficiently
  reports/compliance-analysis.json
  tests/ui/navigation-accessibility.test.tsx
  tests/ui/page-accessibility.test.tsx
  tests/ui/residence-page-errors.test.tsx
Owners: @koveogestion/tech-leads

Adapt residence view for different user roles and improve content
  attached_assets/image_1755991363135.png
  client/src/pages/residents/residence.tsx
Owners: @koveogestion/tech-leads

Add a dashboard menu item to the sidebar navigation
  attached_assets/image_1755991540124.png
  client/src/components/layout/sidebar.tsx
  client/src/config/navigation.ts
Owners: @koveogestion/tech-leads

Enable filtering of residences by building for managers and admins
  client/src/pages/residents/residence.tsx
Owners: @koveogestion/tech-leads

Display cards for each accessible residence with contact management
  attached_assets/image_1755991935767.png
  client/src/pages/residents/residence.tsx
Owners: @koveogestion/tech-leads

Display buildings the user has access to on the resident page
  client/src/pages/residents/building.tsx
Owners: @koveogestion/tech-leads

Improve residence viewing and building selection for users
  attached_assets/image_1755992421147.png
  client/src/pages/residents/building.tsx
  client/src/pages/residents/residence.tsx
Owners: @koveogestion/tech-leads

Improve data fetching and remove debug logs from residence page
  client/src/pages/residents/building.tsx
  client/src/pages/residents/residence.tsx
Owners: @koveogestion/tech-leads

Enable residents to view and manage their demands on a dedicated page
  client/src/App.tsx
  client/src/pages/ResidentDemandsPage.tsx
Owners: @koveogestion/tech-leads

Add pagination to resident pages to limit displayed items
  client/src/pages/ResidentDemandsPage.tsx
  client/src/pages/residents/building.tsx
  client/src/pages/residents/residence.tsx
Owners: @koveogestion/tech-leads

Add pagination controls to the residences listing page
  client/src/pages/residents/residence.tsx
Owners: @koveogestion/tech-leads

Add script and tests to clean up orphaned data and ensure integrity
  server/scripts/cleanup-orphaned-records.ts
  server/tests/database/database-integrity.test.ts
  server/tests/database/orphan-detection.test.ts
Owners: @koveogestion/tech-leads

Improve cleanup of inactive or missing building residences
  attached_assets/image_1755993533707.png
  server/scripts/cleanup-orphaned-records.ts
Owners: @koveogestion/tech-leads

Improve overall code quality and fix various minor issues
  client/src/components/ObjectUploader.tsx
  client/src/components/admin/organization-form-dialog.tsx
  client/src/pages/manager/user-management.tsx
  client/src/pages/residents/building.tsx
  client/src/pages/residents/residence.tsx
  client/src/utils/test-providers.tsx
  client/vite-env.d.ts
  server/api/cleanup-orphans.ts
  server/api/users.ts
  server/scripts/cleanup-orphaned-records.ts
  server/tests/database/database-integrity.test.ts
  server/tests/database/orphan-detection.test.ts
  server/utils/cleanup-orphans.ts
  tests/ui/building-card-icon-positioning.test.tsx
  tests/ui/icon-positioning-final.test.tsx
  tests/ui/navigation-accessibility.test.tsx
  tests/ui/page-accessibility.test.tsx
  tests/ui/residence-page-errors.test.tsx
  tests/ui/simple-icon-positioning.test.tsx
  tests/unit/notification-service.test.ts
  tests/unit/routes.test.ts
  tests/unit/ssl-service.test.ts
  tests/unit/translation-validation.test.ts
  tests/utils/coverage-automation.ts
  types/browser-apis.d.ts
  types/dom.d.ts
Owners: @koveogestion/tech-leads, @koveogestion/i18n-team

Update notification system and improve file handling interfaces
  client/src/components/ObjectUploader.tsx
  server/services/notification_service.ts
  tests/unit/notification-service.test.ts
  types/browser-apis.d.ts
Owners: @koveogestion/tech-leads

Fix various issues across the application for improved stability
  client/src/components/admin/organizations-card.tsx
  client/src/components/admin/send-invitation-dialog.tsx
  client/src/components/admin/user-list.tsx
  client/src/components/ui/data-table.tsx
  tests/unit/money-flow-automation.test.ts
  types/browser-apis.d.ts
Owners: @koveogestion/tech-leads

Update testing setup for improved reliability and flexibility
  jest.config.js
  jest.setup.ts
  tests/setup/test-utils.tsx
  tests/unit/budget-test-setup.tsx
  tests/unit/money-flow-automation.test.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Update data validation schemas for improved data integrity and accuracy
  shared/schemas/core.ts
  shared/schemas/financial.ts
  shared/schemas/operations.ts
  shared/schemas/property.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team, @koveogestion/quebec-compliance

Update data validation schemas for various platform modules
  shared/schemas/development.ts
  shared/schemas/documents.ts
  shared/schemas/financial.ts
  shared/schemas/infrastructure.ts
  shared/schemas/monitoring.ts
  shared/schemas/operations.ts
Owners: @koveogestion/tech-leads
