Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team

Add a new section to display element lifespan impact data
  attached_assets/image_1759350072647.png
Owners: @koveogestion/tech-leads

Add attachment handling and details to demand submissions
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-vendor-ui-DRWoInZm-js-5-1759350149774_1759350149775.txt
  attached_assets/image_1759350145509.png
  server/api/demands.ts
Owners: @koveogestion/tech-leads

Update document viewing and downloading to use new API endpoint
  client/src/pages/Documents.tsx
Owners: @koveogestion/tech-leads

Add date selection for document effective dates and fix document retrieval
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-vendor-ui-DRWoInZm-js-5-1759350653385_1759350653385.txt
  attached_assets/image_1759350648914.png
  client/src/pages/Documents.tsx
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Add detailed logging to aid in debugging document access issues
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-vendor-ui-DRWoInZm-js-5-1759351918364_1759351918364.txt
  attached_assets/image_1759351903613.png
  attached_assets/image_1759351910191.png
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Add debug logs to help diagnose and fix persistent errors
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-vendor-ui-DRWoInZm-js-5-1759352208172_1759352208173.txt
Owners: @koveogestion/tech-leads

Improve document creation and access control logic
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Improve document creation and update processes by removing code duplication
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-vendor-ui-DRWoInZm-js-5-1759352468986_1759352468986.txt
  attached_assets/image_1759352465685.png
Owners: @koveogestion/tech-leads

Improve file handling by sanitizing filenames to prevent issues
  server/api/documents.ts
  uploads/residences/c3997e90-8768-474f-8b78-3810fb3f0ba6/e7d7a9b5-6916-43fc-b97f-83bd25c7dd4f-ImagefactureNonTaxable_texte (2) (1).jpg
Owners: @koveogestion/tech-leads

Add a financial year field to project planning
  attached_assets/image_1759353168800.png
Owners: @koveogestion/tech-leads

Fix error when attempting to view or create new documents
  attached_assets/Pasted-ModularDocumentPageWrapper-BcQBrof3-js-11-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11-1759353197606_1759353197607.txt
Owners: @koveogestion/tech-leads

Update image file for attached assets
  attached_assets/image_1759353508070.png
Owners: @koveogestion/tech-leads

Address issues with data sanitization in the user interface
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-vendor-ui-DRWoInZm-js-5-1759353603844_1759353603844.txt
  attached_assets/image_1759353599452.png
Owners: @koveogestion/tech-leads

Improve how project costs are aggregated based on their completion status
  attached_assets/image_1759354015828.png
Owners: @koveogestion/tech-leads

Add debug logs for filename sanitization during document uploads
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-vendor-ui-DRWoInZm-js-5-1759354159249_1759354159250.txt
  attached_assets/image_1759354155160.png
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Add accessibility improvements to dialog elements
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-vendor-ui-DRWoInZm-js-5-1759354333597_1759354333597.txt
Owners: @koveogestion/tech-leads

Improve file upload security by sanitizing filenames
  attached_assets/Pasted-vendor-ui-DRWoInZm-js-58-Warning-Missing-Description-or-aria-describedby-undefined-for-Dialo-1759354560606_1759354560607.txt
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Improve accessibility of dialog components by adding descriptions
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-vendor-ui-DRWoInZm-js-5-1759354740577_1759354740578.txt
  attached_assets/image_1759354733782.png
Owners: @koveogestion/tech-leads

Remove debug logging from document upload process
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Improve file handling to prevent security vulnerabilities
  attached_assets/image_1759355153354.png
  server/api/bills.ts
  server/api/bugs.ts
  server/api/documents.ts
  server/api/feature-requests.ts
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1759355290144.png
  attached_assets/image_1759355312322.png
  client/src/pages/ResidentDemandsPage.tsx
Owners: @koveogestion/tech-leads

Filter building documents to only show those specific to the building
  client/src/components/common/ModularDocumentPageWrapper.tsx
  server/db/queries/optimized-document-queries.ts
Owners: @koveogestion/tech-leads

Allow creating demands for other residences and buildings
  client/src/components/document-management/DocumentCreateForm.tsx
  shared/schemas/operations.ts
Owners: @koveogestion/tech-leads

Update document visibility for residents and tenants to improve access
  server/db/queries/optimized-document-queries.ts
Owners: @koveogestion/tech-leads

Fix documents not appearing on residence and building pages
  client/src/components/common/ModularDocumentPageWrapper.tsx
  replit.md
Owners: @koveogestion/tech-leads

Improve document display by prioritizing effective dates for clarity
  client/src/components/common/ModularDocumentPageWrapper.tsx
  client/src/components/document-management/DocumentCard.tsx
Owners: @koveogestion/tech-leads

Fix date input to correctly save user-entered effective dates
  client/src/components/document-management/DocumentCreateForm.tsx
Owners: @koveogestion/tech-leads

Update document view to show effective date instead of upload date
  attached_assets/image_1759357614014.png
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Update document saving to use effective date instead of upload date
  attached_assets/image_1759357894401.png
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Improve handling of document effective dates during uploads
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-vendor-ui-DRWoInZm-js-5-1759358056823_1759358056823.txt
  attached_assets/image_1759358053486.png
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Improve document upload by correctly handling effective dates
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-vendor-ui-DRWoInZm-js-5-1759358490807_1759358490808.txt
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-vendor-ui-DRWoInZm-js-5-1759358494538_1759358494538.txt
  attached_assets/image_1759358487231.png
  client/src/components/document-management/DocumentCreateForm.tsx
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Update user management interface to improve data visibility
  attached_assets/image_1759358771290.png
Owners: @koveogestion/tech-leads

Improve document creation by ensuring effective dates are properly formatted
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-vendor-ui-DRWoInZm-js-5-1759358774952_1759358774952.txt
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Add attachment section to demand details view
  attached_assets/image_1759359129445.png
  client/src/components/demands/demand-details-popup.tsx
Owners: @koveogestion/tech-leads

Fix error when loading demand details and attached documents
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-vendor-ui-DRWoInZm-js-5-1759359301236_1759359301237.txt
  attached_assets/image_1759359290749.png
  client/src/components/demands/demand-details-popup.tsx
Owners: @koveogestion/tech-leads

Allow users to access attachments for demands they created
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-vendor-ui-DRWoInZm-js-5-1759359603111_1759359603111.txt
  attached_assets/image_1759359595415.png
  server/routes.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Improve access controls for uploaded files and enhance logging
  attached_assets/image_1759359852267.png
  server/routes.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Improve accessibility by adding descriptions to dialog elements
  attached_assets/image_1759360000901.png
Owners: @koveogestion/tech-leads

Update demand file access control for users
  server/routes.ts
Owners: @koveogestion/api-team, @koveogestion/tech-leads

Improve document access control and error handling for demands
  server/api/documents.ts
  server/routes.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team
