Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team

Saved your changes before starting work
  attached_assets/Pasted--content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-Token-auto-validation-check-Obj-1756909514139_1756909514140.txt
  attached_assets/image_1756909508437.png
Owners: @koveogestion/tech-leads

Improve registration step validation logic for better accuracy
  client/src/components/auth/steps/password-creation-step.tsx
  client/src/components/auth/steps/profile-completion-step.tsx
  client/src/components/auth/steps/quebec-privacy-consent-step.tsx
Owners: @koveogestion/tech-leads

Add a visual representation of a registration token
  attached_assets/image_1756909766155.png
Owners: @koveogestion/tech-leads

Fix an error when users attempt to register on the platform
  attached_assets/image_1756909924899.png
Owners: @koveogestion/tech-leads

Update system to replace existing invitations for same email address
  server/api/users.ts
Owners: @koveogestion/tech-leads

Improve registration wizard by memoizing state updates
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-invitation-acceptance-C-1756910323983_1756910323984.txt
  attached_assets/image_1756910292587.png
  client/src/components/auth/registration-wizard.tsx
Owners: @koveogestion/tech-leads

Improve and secure user registration and authentication flows
  client/src/components/auth/steps/password-creation-step.tsx
  client/src/components/auth/steps/profile-completion-step.tsx
  client/src/components/auth/steps/quebec-privacy-consent-step.tsx
  server/api/users.ts
Owners: @koveogestion/tech-leads

Add tests for user registration and deletion workflows
  tests/unit/auth/user-deletion.test.ts
  tests/unit/auth/user-registration.test.ts
Owners: @koveogestion/tech-leads

Update ports for development environment configuration
  .replit
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  .replit
Owners: @koveogestion/tech-leads

Update deployment configuration and server entry point for stability
  .replit
  client/src/components/auth/steps/token-validation-step.tsx
  scripts/deployment-validation.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Update development environment port configurations
  .replit
Owners: @koveogestion/tech-leads

Fix tests and update budget dashboard components
  .replit
  client/src/pages/manager/budget.tsx
  server/api/users.ts
  server/auth.ts
  server/routes.ts
  tests/unit/invitation/user-creation-comprehensive.test.tsx
  tests/unit/sidebar-layout.test.tsx
Owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/api-team

Add endpoint to retrieve organization details and improve test coverage
  attached_assets/image_1756915388074.png
  server/api/organizations.ts
  tests/integration/document-management-comprehensive.test.tsx
  tests/unit/invitation/user-creation-comprehensive.test.tsx
  tests/unit/security/api-error-handling.test.ts
Owners: @koveogestion/tech-leads

Improve login process and error handling for better user experience
  server/auth.ts
  server/storage.ts
Owners: @koveogestion/security-team, @koveogestion/database-admins

Improve quality metrics display and fix document access tests
  client/src/components/dashboard/quality-metrics.tsx
  tests/unit/documents/document-security.test.ts
Owners: @koveogestion/tech-leads

Add manager budget page and improve bill generation logic
  client/src/App.tsx
  server/services/bill-generation-service.ts
Owners: @koveogestion/tech-leads

Update tests to accurately simulate user interactions and navigation
  attached_assets/image_1756916921529.png
  tests/integration/document-management-comprehensive.test.tsx
Owners: @koveogestion/tech-leads

Update bill generation service and fix integration tests
  server/services/bill-generation-service.ts
  tests/integration/document-management-comprehensive.test.tsx
Owners: @koveogestion/tech-leads

Add tests to ensure demo users are not accessible in the system
  tests/unit/demo-user-accessibility.test.ts
Owners: @koveogestion/tech-leads

Update bill generation tests with new properties
  attached_assets/image_1756917849879.png
  server/services/demo-management-service.ts
  tests/unit/bill-generation-service.test.ts
Owners: @koveogestion/tech-leads

Add comprehensive integration tests for the authentication system
  tests/integration/authentication-system.test.ts
Owners: @koveogestion/security-team

Add tests for user management access control and role permissions
  tests/integration/user-management-access.test.ts
Owners: @koveogestion/tech-leads

Add critical tests to ensure users can log in successfully
  attached_assets/image_1756918638619.png
  tests/critical/authentication-critical.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Saved your changes before starting work
  attached_assets/image_1756918908682.png
  attached_assets/image_1756918977922.png
  attached_assets/image_1756919026577.png
  attached_assets/image_1756919034023.png
Owners: @koveogestion/tech-leads

Enhance demo mode by fetching and displaying available demo users
  client/src/pages/auth/login.tsx
  server/api/demo-management.ts
Owners: @koveogestion/tech-leads

Update demo management to use Drizzle ORM for improved data handling
  attached_assets/image_1756919920749.png
  server/api/demo-management.ts
  server/routes.ts
  server/services/demo-management-service.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Improve test reliability and update server port configurations
  .replit
  server/auth.ts
  tests/critical/authentication-critical.test.ts
  tests/integration/authentication-system.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Update the port configuration for the application environment
  .replit
Owners: @koveogestion/tech-leads

Update tests and add missing fields for demo user security
  .replit
  server/middleware/demo-security.ts
  server/storage.ts
  tests/critical/authentication-critical.test.ts
  tests/setup.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins, @koveogestion/security-team

Update tests to prevent conflicts and ensure demo user data integrity
  tests/critical/authentication-critical.test.ts
  tests/integration/authentication-system.test.ts
  tests/integration/demo-organization-real.test.ts
  tests/unit/demo-user-accessibility.test.ts
Owners: @koveogestion/security-team, @koveogestion/tech-leads

Update demo user passwords for enhanced security
  attached_assets/Screenshot_20250903-141546_1756923355558.png
  client/src/pages/auth/login.tsx
Owners: @koveogestion/tech-leads

Improve test execution speed and specificity with new configurations
  package.json
Owners: @koveogestion/tech-leads

Enhance security and refine user permission logic
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/1e/invitationrbac_1ecf63b1ea1843d300036cec7c761e44
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/1e/invitationrbac_1ecf63b1ea1843d300036cec7c761e44.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/fb/invitationrbac_fb890ef62337404d9065ef943eb9b6bd
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/fb/invitationrbac_fb890ef62337404d9065ef943eb9b6bd.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  server/auth/invitation-rbac.ts
  server/index.ts
  tests/security/comprehensive-demo-user-security.test.ts
  tests/security/database-permissions.test.ts
  tests/unit/security/security-headers.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/api-team

Improve testing by mocking external services and refining database interactions
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/41/jestsetup_41442e1d54428d421a440a4e3e8f9974
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/41/jestsetup_41442e1d54428d421a440a4e3e8f9974.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/57/database_57af5377bb9cf11ab9553a3743fed0c1
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/57/database_57af5377bb9cf11ab9553a3743fed0c1.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/dc/jestsetup_dcb85aca9d301fefde958aabb6efc630
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/dc/jestsetup_dcb85aca9d301fefde958aabb6efc630.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  jest.setup.ts
  reports/security-summary.json
  tests/mocks/database.ts
Owners: @koveogestion/tech-leads

Improve testing mocks and update E2E test assertions
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/36/documentfulle2etest_36eff8f2e816908f2535445ed4359388
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/36/documentfulle2etest_36eff8f2e816908f2535445ed4359388.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/62/emailservicefunctionalitytest_624044e3e22abd0ff6d901c368033674
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/62/emailservicefunctionalitytest_624044e3e22abd0ff6d901c368033674.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/71/jestsetup_71e332af43a897fbfbc3b7cb52eadedf
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/71/jestsetup_71e332af43a897fbfbc3b7cb52eadedf.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/77/database_775937453294c83d51907e98e9c4b21b
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/77/database_775937453294c83d51907e98e9c4b21b.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/c6/jestsetup_c6a3d0744df99c94fae2931cc579005b
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/c6/jestsetup_c6a3d0744df99c94fae2931cc579005b.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  .replit
  attached_assets/Pasted-login-12-Refused-to-load-the-stylesheet-https-fonts-googleapis-com-css2-family-Architects-Daughte-1756928009516_1756928009517.txt
  attached_assets/image_1756927987569.png
  attached_assets/image_1756928005844.png
  jest.setup.ts
  reports/security-summary.json
  tests/integration/document-full-e2e.test.tsx
  tests/integration/email-service-functionality.test.ts
  tests/mocks/database.ts
Owners: @koveogestion/tech-leads

Add comprehensive tests to ensure secure user authentication and session management
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/58/authenticationcriticaltest_5866207588e5a86c662e8badc5191363
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/58/authenticationcriticaltest_5866207588e5a86c662e8badc5191363.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d3/database_d34b27c3b057ecd31c03f53c0544819c
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d3/database_d34b27c3b057ecd31c03f53c0544819c.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/fc/authenticationcriticaltest_fc56cd64f8a46c0b9b273d1869c9faaf
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/fc/authenticationcriticaltest_fc56cd64f8a46c0b9b273d1869c9faaf.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  tests/integration/authentication-critical.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Improve login page and adjust security settings for font and script loading
  attached_assets/Pasted-login-12-Refused-to-load-the-stylesheet-https-fonts-googleapis-com-css2-family-Architects-Daughte-1756928914145_1756928914146.txt
  client/src/pages/auth/login.tsx
  server/auth.ts
  server/index.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/api-team

Update database schema and synchronization script for property management platform
  dev_schema.txt
  prod_schema.txt
  scripts/sync-databases.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Improve user data safety by disabling cascade deletion
  scripts/verify-user-safety.ts
  server/api/buildings.ts
  server/api/buildings/operations.ts
  server/api/organizations.ts
  server/api/users.ts
  server/policies/user-retention-policy.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads
