Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team

Add ability to auto-generate bills for the next year
  attached_assets/image_1760190636884.png
  attached_assets/image_1760190654451.png
  client/src/components/bill-management/ModularBillForm.tsx
Owners: @koveogestion/tech-leads

Improve bill generation to automatically create next year's bills
  replit.md
Owners: @koveogestion/tech-leads

Improve auto-generated bill identification and payment scheduling
  attached_assets/image_1760191366193.png
  server/services/bill-generation-service.ts
Owners: @koveogestion/tech-leads

Update auto-generated bills to mark single payments and set next payment date
  server/services/bill-generation-service.ts
Owners: @koveogestion/tech-leads

Improve auto-generated bills identification and payment scheduling
  replit.md
Owners: @koveogestion/tech-leads

Fix issue with bill payment recurrence settings for single payments
  client/src/components/bill-management/ModularBillForm.tsx
Owners: @koveogestion/tech-leads

Fix issue with single payment bills becoming multiple bills on update
  attached_assets/image_1760192802662.png
  client/src/components/bill-management/ModularBillForm.tsx
Owners: @koveogestion/tech-leads

Update payment schedule logic for recurrent bills with single payments
  attached_assets/image_1760193400484.png
  server/api/bills.ts
Owners: @koveogestion/tech-leads

Update bills to create, update, or delete autogenerated bills
  server/api/bills.ts
Owners: @koveogestion/tech-leads

Improve bill generation to handle single payment recurrent bills
  server/services/bill-generation-service.ts
Owners: @koveogestion/tech-leads

Improve handling of recurrent bills and auto-generated bill synchronization
  replit.md
Owners: @koveogestion/tech-leads

Update bill forms to automatically close after successful updates
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1760196155833_1760196155834.txt
  attached_assets/image_1760196130969.png
  client/src/pages/manager/bills.tsx
Owners: @koveogestion/tech-leads

Remove bill notes field and fix console errors
  client/src/components/bill-management/ModularBillForm.tsx
  server/api/bills.ts
  server/services/bill-generation-service.ts
Owners: @koveogestion/tech-leads

Update bill creation and editing dialogs to include headers
  client/src/pages/manager/bills.tsx
Owners: @koveogestion/tech-leads

Add functionality to create bills from existing templates
  client/src/components/bill-management/ModularBillForm.tsx
  client/src/lib/i18n.ts
  client/src/pages/manager/bills.tsx
Owners: @koveogestion/tech-leads

Add workflow to create new bills from existing templates
  client/src/components/bill-management/AutoGeneratedBillWorkflow.tsx
  replit.md
Owners: @koveogestion/tech-leads

Enable automatic bill recurrence for next year's auto-generated bills
  client/src/components/bill-management/ModularBillForm.tsx
Owners: @koveogestion/tech-leads

Update bill form to pre-check auto-generation for next year
  attached_assets/image_1760198721718.png
  client/src/components/bill-management/ModularBillForm.tsx
Owners: @koveogestion/tech-leads

Ensure recurring bill option is pre-checked when creating from auto-generated templates
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1760199150010_1760199150010.txt
  attached_assets/image_1760199143636.png
  client/src/components/bill-management/ModularBillForm.tsx
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1760393392526.png
  attached_assets/image_1760393502605.png
Owners: @koveogestion/tech-leads

Improve demands management page with bulk actions and status filtering
  client/src/pages/manager/demands.tsx
Owners: @koveogestion/tech-leads

Improve demands page with bulk actions and status filtering
  client/src/pages/manager/demands.tsx
Owners: @koveogestion/tech-leads

Restore clickable demand cards to open edit form
  client/src/pages/manager/demands.tsx
Owners: @koveogestion/tech-leads

Add filters for buildings, residences, and demand creators on the manager demands page
  client/src/pages/manager/demands.tsx
Owners: @koveogestion/tech-leads

Update page title and description for managing resident demands
  client/src/pages/manager/demands.tsx
Owners: @koveogestion/tech-leads

Update demand page to use a collapsible filter component
  client/src/pages/manager/demands.tsx
Owners: @koveogestion/tech-leads

Improve how filters work to only show available options
  attached_assets/image_1760396040256.png
  client/src/pages/manager/demands.tsx
  replit.md
Owners: @koveogestion/tech-leads

Alphabetize filter options for better user experience across the app
  client/src/pages/manager/demands.tsx
  replit.md
Owners: @koveogestion/tech-leads

Update French translations for demand management filters and options
  attached_assets/image_1760396508415.png
  client/src/lib/i18n.ts
  client/src/pages/manager/demands.tsx
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1760399664379.png
Owners: @koveogestion/tech-leads

Update user management page with new filters and French translations
  client/src/lib/i18n.ts
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Update image file for asset management purposes
  attached_assets/image_1760400347706.png
Owners: @koveogestion/tech-leads

Add French translations for user management table and filters
  attached_assets/image_1760400709163.png
  client/src/components/UserAssignmentsTableClean.tsx
  client/src/lib/i18n.ts
  client/src/pages/manager/user-management.tsx
  server/api/users.ts
Owners: @koveogestion/tech-leads

Remove admin card from user management overview
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Improve security by sanitizing test commands
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  scripts/run-tests-sequential.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Improve script execution by sanitizing user input
  attached_assets/image_1760401497012.png
  attached_assets/image_1760401507767.png
  attached_assets/image_1760401515060.png
  attached_assets/image_1760401525489.png
  attached_assets/image_1760401534424.png
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1760401542796.png
  attached_assets/image_1760401553277.png
Owners: @koveogestion/tech-leads

Improve security by managing passwords and preventing SQL injection
  server/optimized-db-storage.ts
  server/storage.ts
  ssl-certificates/account-key.pem
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Improve security and query performance across the platform
  replit.md
Owners: @koveogestion/tech-leads

Improve test infrastructure to enable cleaner and more reliable test execution
  TEST_INFRASTRUCTURE_UPDATES.md
Owners: @koveogestion/tech-leads
