Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team

Update lifespan calculations for building elements to reflect current data
  attached_assets/image_1759020483246.png
Owners: @koveogestion/tech-leads

Add confirmation to project completion and update inventory
  client/src/components/maintenance/projects/workflow/PostWorkTab.tsx
Owners: @koveogestion/tech-leads

Improve post-work project completion confirmation and lifespan calculations
  client/src/components/maintenance/projects/workflow/PostWorkTab.tsx
Owners: @koveogestion/tech-leads

Update post-work form to apply inventory changes and adjust lifespan estimations
  server/api/maintenance.ts
Owners: @koveogestion/business-team

Update project actual cost when a workflow step is completed
  attached_assets/image_1759021073840.png
  server/services/workflow-service.ts
Owners: @koveogestion/tech-leads

Add financial year field to project planning to improve cost allocation
  client/src/components/maintenance/projects/workflow/PlannedTab.tsx
  shared/schemas/maintenance.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Add a quick project creation option with simplified fields
  attached_assets/image_1759021318127.png
  attached_assets/image_1759021379122.png
  attached_assets/image_1759021388206.png
  attached_assets/image_1759021406219.png
  client/src/components/maintenance/projects/ProjectForm.tsx
Owners: @koveogestion/tech-leads

Add ability to create quick projects with essential fields
  client/src/components/maintenance/projects/ProjectForm.tsx
Owners: @koveogestion/tech-leads

Streamline project table by removing timeline and assign actions
  client/src/components/maintenance/projects/ProjectTable.tsx
Owners: @koveogestion/tech-leads

Calculate actual project costs when workflow steps are completed
  server/services/workflow-service.ts
Owners: @koveogestion/tech-leads

Update API endpoint for fetching budget data and fix related console errors
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-D8pc1pXL-js-48--1759022410238_1759022410238.txt
  attached_assets/image_1759022496247.png
  client/src/components/maintenance/projects/ProjectForm.tsx
Owners: @koveogestion/tech-leads

Update project cost calculation to include preferred vendor submission cost
  server/services/workflow-service.ts
Owners: @koveogestion/tech-leads

Correctly sum costs for preferred vendor submissions to project actuals
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-9yFTxURu-js-48--1759023031949_1759023031949.txt
  server/services/workflow-service.ts
Owners: @koveogestion/tech-leads

Improve how project costs are assigned to financial years
  attached_assets/image_1759023278496.png
Owners: @koveogestion/tech-leads

Fix bug preventing users from completing the planning phase
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-9yFTxURu-js-48--1759023436610_1759023436611.txt
  attached_assets/image_1759023432543.png
  client/src/components/maintenance/projects/workflow/PlannedTab.tsx
Owners: @koveogestion/tech-leads

Improve project submission workflow completion logic
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-Bd-DSIM5-js-48--1759023636907_1759023636908.txt
  client/src/components/maintenance/projects/workflow/SubmissionTab.tsx
Owners: @koveogestion/tech-leads

Improve submission workflow by adjusting action buttons and functionality
  attached_assets/image_1759023812506.png
  client/src/components/maintenance/projects/workflow/SubmissionTab.tsx
Owners: @koveogestion/tech-leads

Ensure project actual costs only reflect completed workflow steps
  attached_assets/image_1759024046083.png
  server/services/workflow-service.ts
Owners: @koveogestion/tech-leads

Add functionality to delete projects from the configuration settings
  attached_assets/image_1759024443369.png
  client/src/components/maintenance/projects/workflow/WorkflowSkipConfigDialog.tsx
  client/src/hooks/useProjectWorkflow.ts
Owners: @koveogestion/tech-leads

Update button to advance to next step after completing planning
  client/src/components/maintenance/projects/workflow/PlannedTab.tsx
Owners: @koveogestion/tech-leads

Recalculate project actual costs when tasks are completed
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-BBuened8-js-48--1759024893411_1759024893411.txt
  attached_assets/image_1759024868587.png
  attached_assets/image_1759024888914.png
  server/api/maintenance.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Update cost calculation to include tasks from current and all completed project phases
  attached_assets/image_1759025142301.png
  server/services/workflow-service.ts
Owners: @koveogestion/tech-leads

Improve project cost calculation to include task costs
  attached_assets/image_1759025479082.png
Owners: @koveogestion/tech-leads

Enable saving task cost changes in project workflows
  client/src/components/maintenance/projects/workflow/InProgressTab.tsx
Owners: @koveogestion/tech-leads

Ensure all task changes are saved before completing a project phase
  attached_assets/image_1759025898810.png
  attached_assets/image_1759025980212.png
  client/src/components/maintenance/projects/workflow/InProgressTab.tsx
  client/src/components/maintenance/projects/workflow/PostWorkTab.tsx
  client/src/components/maintenance/projects/workflow/PreWorkTab.tsx
Owners: @koveogestion/tech-leads

Improve project workflow by automatically saving task edits
  attached_assets/image_1759026046470.png
Owners: @koveogestion/tech-leads

Adjust lifespan calculations for post-work maintenance interventions
  client/src/components/maintenance/projects/workflow/PostWorkTab.tsx
  server/api/maintenance.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Remove end date and type columns from project table view
  attached_assets/image_1759026803243.png
  attached_assets/image_1759026859339.png
  attached_assets/image_1759026896065.png
  client/src/components/maintenance/projects/ProjectTable.tsx
  client/src/pages/manager/maintenance/projects/ProjectTableView.tsx
Owners: @koveogestion/tech-leads

Preserve intervention data when confirming or unconfirming project elements
  client/src/components/maintenance/projects/workflow/PostWorkTab.tsx
Owners: @koveogestion/tech-leads

Update project completion confirmation dialog for clarity
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-Daztrr9X-js-48--1759027162250_1759027162251.txt
  attached_assets/image_1759027167863.png
  client/src/components/maintenance/projects/workflow/PostWorkTab.tsx
Owners: @koveogestion/tech-leads

Add financial year field to project planning
  attached_assets/image_1759027302335.png
Owners: @koveogestion/tech-leads

Fix post-work task date and element intervention display issues
  client/src/components/maintenance/projects/workflow/PostWorkTab.tsx
Owners: @koveogestion/tech-leads

Correctly display intervention types in the post-work section of projects
  client/src/components/maintenance/projects/workflow/PostWorkTab.tsx
Owners: @koveogestion/tech-leads

Improve task date saving in project workflows
  attached_assets/image_1759029997860.png
  client/src/components/maintenance/projects/workflow/PostWorkTab.tsx
Owners: @koveogestion/tech-leads

Remove auto-save functionality and ensure manual saving updates project dates correctly
  client/src/components/maintenance/projects/workflow/PostWorkTab.tsx
  server/api/maintenance.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Disable auto-save and revert to manual saving for project task edits
  attached_assets/image_1759030420267.png
Owners: @koveogestion/tech-leads

Fix issue where saving task edits resets date values
  client/src/components/maintenance/projects/workflow/PostWorkTab.tsx
  server/api/maintenance.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Update maintenance task data and log it for debugging purposes
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-DGrIE6D0-js-48--1759030616430_1759030616430.txt
  attached_assets/image_1759030610639.png
  server/api/maintenance.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Improve display of projects by ensuring correct data rendering
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-DGrIE6D0-js-48--1759030780140_1759030780141.txt
  attached_assets/image_1759030785301.png
Owners: @koveogestion/tech-leads

Update task due dates to use consistent naming conventions
  client/src/components/maintenance/projects/workflow/PostWorkTab.tsx
  server/api/maintenance.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team
