Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

Prepare demo organizations for production deployment with read-only access
  replit.md
  scripts/production-demo-migration.sql
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Prevent admin users from belonging to both demo organizations
  scripts/production-demo-migration.sql
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Allow users to view organizations they are associated with
  attached_assets/image_1755974097185.png
  attached_assets/image_1755974225729.png
  server/api/organizations.ts
Owners: @koveogestion/tech-leads

Limit user visibility to their associated organization for managers
  server/api/organizations.ts
  server/api/users.ts
  server/optimized-db-storage.ts
  server/storage.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Add test users for building functionalities and their credentials
  attached_assets/image_1755974738005.png
  scripts/create-test-users.ts
  test-users-credentials.txt
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Update error logging for organization route fallback
  server/api/organizations.ts
Owners: @koveogestion/tech-leads

Fix issue preventing users from viewing organizations
  attached_assets/image_1755974973484.png
  client/src/components/admin/organizations-card.tsx
Owners: @koveogestion/tech-leads

Allow admins to update existing organization details
  server/api/organizations.ts
Owners: @koveogestion/tech-leads

Add console logs to track organization update requests
  attached_assets/image_1755975220891.png
  server/api/organizations.ts
Owners: @koveogestion/tech-leads

Add comprehensive tests for all data modification features and fix organization editing
  DATA_MODIFICATION_TEST_SUMMARY.md
  server/api/organizations.ts
  tests/integration/data-modification/all-edit-buttons.test.tsx
  tests/integration/data-modification/backend-api-endpoints.test.ts
  tests/integration/data-modification/building-residence-management.test.tsx
  tests/integration/data-modification/document-bill-management.test.tsx
  tests/integration/data-modification/test-runner.ts
Owners: @koveogestion/tech-leads

Refine testing utilities and mock data for improved test reliability
  tests/integration/data-modification/all-edit-buttons.test.tsx
  tests/integration/data-modification/building-residence-management.test.tsx
  tests/test-utils/api-mocks.ts
  tests/test-utils/providers.tsx
Owners: @koveogestion/tech-leads

Improve schema validation tests for feature properties
  tests/unit/schema.test.ts
Owners: @koveogestion/tech-leads

Improve test setup by fixing mock implementations
  tests/setup.ts
  tests/unit/invitation/user-creation-comprehensive.test.tsx
Owners: @koveogestion/tech-leads

Organize test execution for improved stability and clarity
  scripts/run-tests-sequential.sh
  scripts/test-sequential.js
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Add sequential testing capabilities for improved test execution and analysis
  package.json
Owners: @koveogestion/tech-leads

Update test execution and fix assertion variable usage
  .replit
  scripts/run-tests-sequential.sh
  tests/unit/storage.test.ts
  tests/unit/utils.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Update test configurations and mock data for improved accuracy
  .replit
  tests/test-utils/component-providers.tsx
  tests/unit/budget-test-setup.tsx
  tests/unit/components/sidebar.test.tsx
  tests/unit/storage.test.ts
Owners: @koveogestion/tech-leads

Refine application logic and fix various minor issues across the platform
  client/src/components/auth/steps/password-creation-step.tsx
  client/src/components/auth/steps/profile-completion-step.tsx
  client/src/components/auth/steps/quebec-privacy-consent-step.tsx
  client/src/components/auth/steps/token-validation-step.tsx
  client/src/hooks/use-toast.ts
  client/src/lib/filter-sort/utils.ts
  client/src/pages/manager/BuildingDocuments.tsx
  client/src/pages/manager/ResidenceDocuments.tsx
  client/src/pages/manager/budget.tsx
  client/src/pages/manager/buildings.tsx
  client/src/pages/manager/user-management.tsx
  client/src/pages/residents/BuildingDocuments.tsx
  client/src/pages/residents/residence.tsx
  scripts/create-test-users.ts
  scripts/fix-corrupted-components.ts
  scripts/test-sequential.js
  server/optimized-db-storage.ts
  server/routes/law25-compliance.ts
  server/services/email-service.ts
  tests/e2e/invitation/complete-user-creation-flow.test.ts
  tests/integration/data-modification/all-edit-buttons.test.tsx
  tests/integration/data-modification/backend-api-endpoints.test.ts
  tests/integration/data-modification/building-residence-management.test.tsx
  tests/integration/data-modification/document-bill-management.test.tsx
  tests/integration/data-modification/test-runner.ts
  tests/integration/invitation/user-creation-backend.test.ts
  tests/test-utils/api-mocks.ts
  tests/test-utils/providers.tsx
  tests/unit/invitation/user-creation-comprehensive.test.tsx
  tests/unit/invitation/user-creation-validation.test.ts
  tests/utils/mock-database.ts
  tools/jsdoc-templates.ts
  types/global.d.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Improve documentation and code consistency across tools
  tools/jsdoc-templates.ts
  tools/replit-integration-enhancer.ts
  tools/smart-context-manager.ts
Owners: @koveogestion/tech-leads

Refine testing utilities and data handling for improved accuracy and clarity
  tests/unit/payment-plan-validation.test.ts
  tests/unit/quality-metrics.test.ts
  tests/unit/ssl-service.test.ts
  tests/unit/translation-validation.test.ts
  tests/utils/coverage-automation.ts
  tests/utils/metric-effectiveness-tracker.ts
  tools/intelligent-workflow-assistant.ts
Owners: @koveogestion/tech-leads, @koveogestion/i18n-team

Enable editing user details directly within the management interface
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Improve testing setup by adding missing libraries and configurations
  tests/mocks/wouter-memory-mock.js
  tsconfig.build.json
  tsconfig.json
  types/global.d.ts
Owners: @koveogestion/tech-leads

Refine AI agent context handling and data reporting
  tools/ai-agent-toolkit.ts
  tools/enhanced-agent-orchestrator.ts
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  package.json
Owners: @koveogestion/tech-leads

Fix build issues by resolving test environment and dependency problems
  jest.config.js
  scripts/build-server.js
  scripts/deploy-build.js
  tests/mocks/wouter-memory-mock.js
  tsconfig.base.json
  tsconfig.server.json
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Improve test reliability by addressing TypeScript and dependency issues
  jest.config.js
  scripts/build-server.js
  tests/setup.ts
  tsconfig.base.json
  tsconfig.json
  types/jest-dom.d.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Improve build process by skipping type checks for deployment
  package.json
  scripts/build-server.js
  scripts/deploy-build.js
  scripts/deployment-bypass.js
  scripts/fix-jest-types.js
  tsconfig.base.json
  tsconfig.deployment.json
  tsconfig.json
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Update project scripts for improved build and development workflows
  package.json
Owners: @koveogestion/tech-leads

Update project dependencies for improved functionality
  package.json
Owners: @koveogestion/tech-leads

Update project dependencies and development tools for improved performance
  package.json
Owners: @koveogestion/tech-leads

Improve data type consistency and address TypeScript errors across the application
  server/storage.ts
  server/tests/budget-database-integrity.test.ts
  server/tests/delayed-update-service.test.ts
Owners: @koveogestion/database-admins, @koveogestion/tech-leads

Fix issues preventing bills and demands from displaying correctly
  client/src/pages/manager/bills.tsx
  client/src/pages/manager/demands.tsx
Owners: @koveogestion/tech-leads

Improve demand display and data handling for managers
  client/src/pages/manager/demands.tsx
  server/api/demands.ts
Owners: @koveogestion/tech-leads

Improve visibility of essential elements on the dashboard
  attached_assets/image_1755983560045.png
  attached_assets/image_1755983595820.png
Owners: @koveogestion/tech-leads

Improve visibility of demand data and error handling
  attached_assets/image_1755983852039.png
  client/src/pages/manager/demands.tsx
Owners: @koveogestion/tech-leads

Improve how user information is accessed for better data handling
  attached_assets/image_1755984092565.png
  client/src/pages/manager/demands.tsx
Owners: @koveogestion/tech-leads

Fix issue preventing users from viewing available properties
  attached_assets/image_1755984412744.png
  client/src/pages/manager/demands.tsx
Owners: @koveogestion/tech-leads

Fix manager demands page loading and user data display
  attached_assets/image_1755984600738.png
  client/src/App.tsx
  client/src/pages/manager/demands.tsx
Owners: @koveogestion/tech-leads

Remove development debugging logs from the property management interface
  attached_assets/image_1755984735637.png
  client/src/pages/manager/demands.tsx
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1755984871004.png
Owners: @koveogestion/tech-leads

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team
