Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

Remove quick action cards from the dashboard page
  client/src/pages/dashboard.tsx
Owners: @koveogestion/tech-leads

Remove four quick action cards from the page
  attached_assets/image_1757017608221.png
Owners: @koveogestion/tech-leads

Add fullscreen button translations and enhance translation test coverage
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/0a/comprehensivebuttontranslationtest_0acbcaac7682b61df955e84ceb449222
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/0a/comprehensivebuttontranslationtest_0acbcaac7682b61df955e84ceb449222.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/4e/comprehensivebuttontranslationtest_4eab36ea244234b80296df5f2aeb3194
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/4e/comprehensivebuttontranslationtest_4eab36ea244234b80296df5f2aeb3194.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/6c/i18n_6cb3c10cb32935e3a2ab7cd42391a970
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/6c/i18n_6cb3c10cb32935e3a2ab7cd42391a970.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/bb/comprehensivebuttontranslationtest_bbdc94a2a486aeb2869ae9aca1e7faa7
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/bb/comprehensivebuttontranslationtest_bbdc94a2a486aeb2869ae9aca1e7faa7.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  client/src/lib/i18n.ts
  client/src/pages/dashboard.tsx
  tests/unit/comprehensive-button-translation.test.ts
Owners: @koveogestion/tech-leads

Add comprehensive translation tests for page titles and buttons
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/2b/comprehensivebuttontranslationtest_2b2980e9c62ac087a7d2dbec5d9e8be7
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/2b/comprehensivebuttontranslationtest_2b2980e9c62ac087a7d2dbec5d9e8be7.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  client/src/pages/dashboard.tsx
  client/src/pages/residents/residence.tsx
  tests/unit/comprehensive-button-translation.test.ts
Owners: @koveogestion/tech-leads

Expand translation tests to include French-only pages and bidirectional support
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/22/comprehensivebuttontranslationtest_2203b0e71abf8915a7bb127ceaa3c4bd
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/22/comprehensivebuttontranslationtest_2203b0e71abf8915a7bb127ceaa3c4bd.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/36/frenchonlypagestranslationtest_36855404b370fe1c64fa97fb4be75241
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/36/frenchonlypagestranslationtest_36855404b370fe1c64fa97fb4be75241.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/98/frenchonlypagestranslationtest_98477790fdf5734354f2b0bfb2ee60d7
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/98/frenchonlypagestranslationtest_98477790fdf5734354f2b0bfb2ee60d7.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/b6/comprehensivebuttontranslationtest_b63dcdb2c12fcccb73ae3c3bfe6775a5
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/b6/comprehensivebuttontranslationtest_b63dcdb2c12fcccb73ae3c3bfe6775a5.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/e6/frenchonlypagestranslationtest_e68673f9a025b9a7ef24e47b722b359f
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/e6/frenchonlypagestranslationtest_e68673f9a025b9a7ef24e47b722b359f.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/ed/frenchonlypagestranslationtest_edc3b042986152209779966cec85841e
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/ed/frenchonlypagestranslationtest_edc3b042986152209779966cec85841e.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  tests/unit/comprehensive-button-translation.test.ts
  tests/unit/french-only-pages-translation.test.ts
Owners: @koveogestion/tech-leads

Expand translation coverage to include all UI elements across the application
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/4e/i18n_4ef1b668043b78ef7ae3d2c2c1d2b98a
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/4e/i18n_4ef1b668043b78ef7ae3d2c2c1d2b98a.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/7b/comprehensiveuielementstranslationtest_7bf95969338f93927ef4c7eff0039fa1
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/7b/comprehensiveuielementstranslationtest_7bf95969338f93927ef4c7eff0039fa1.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/ae/comprehensiveuielementstranslationtest_ae7cdaec813c45b756434bd91a2e1b33
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/ae/comprehensiveuielementstranslationtest_ae7cdaec813c45b756434bd91a2e1b33.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  attached_assets/image_1757018418516.png
  attached_assets/image_1757018425585.png
  attached_assets/image_1757018442219.png
  attached_assets/image_1757018449454.png
  client/src/lib/i18n.ts
  client/src/pages/residents/building.tsx
  client/src/pages/residents/residence.tsx
  tests/unit/comprehensive-ui-elements-translation.test.ts
Owners: @koveogestion/tech-leads

Improve translation coverage for form and error messages
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/2e/comprehensiveerrormessagestranslationtest_2e3326734fedba90b101c4eb04f538ad
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/2e/comprehensiveerrormessagestranslationtest_2e3326734fedba90b101c4eb04f538ad.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/5c/i18n_5c2755db8d8093656fccc416757d3f61
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/5c/i18n_5c2755db8d8093656fccc416757d3f61.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/61/i18n_61aa86e07ae4b7769db78174d65a496a
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/61/i18n_61aa86e07ae4b7769db78174d65a496a.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/86/i18n_86bb8f2a785002789398f1f161da2ee6
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/86/i18n_86bb8f2a785002789398f1f161da2ee6.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/ac/comprehensiveformstranslationtest_ac98d68ff0fb333e395893718ff25215
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/ac/comprehensiveformstranslationtest_ac98d68ff0fb333e395893718ff25215.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/e2/comprehensiveerrormessagestranslationtest_e2d69a20f4f63b6ba76c1176b823febe
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/e2/comprehensiveerrormessagestranslationtest_e2d69a20f4f63b6ba76c1176b823febe.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  attached_assets/image_1757018676191.png
  client/src/components/admin/send-invitation-dialog.tsx
  client/src/lib/i18n.ts
  client/src/pages/auth/login.tsx
  client/src/utils/validation-schemas.ts
  tests/unit/comprehensive-error-messages-translation.test.ts
  tests/unit/comprehensive-forms-translation.test.ts
Owners: @koveogestion/tech-leads

Introduce a unified top navigation bar for consistent user experience
  attached_assets/image_1757019004909.png
  client/src/components/layout/TopNavigationBar.tsx
  client/src/lib/i18n.ts
  client/src/pages/features.tsx
  client/src/pages/home.tsx
  client/src/pages/pricing.tsx
  client/src/pages/privacy-policy.tsx
  client/src/pages/security.tsx
  client/src/pages/story.tsx
  client/src/pages/terms-of-service.tsx
Owners: @koveogestion/tech-leads

Improve page transitions with smooth scrolling to the top
  client/src/App.tsx
  client/src/components/layout/TopNavigationBar.tsx
  client/src/hooks/use-smooth-navigation.tsx
Owners: @koveogestion/tech-leads

Enlarge and adjust the Koveo logo to span beyond the top navigation bar
  client/src/components/layout/TopNavigationBar.tsx
Owners: @koveogestion/tech-leads

Standardize and translate document-related button labels
  client/src/lib/i18n.ts
  client/src/pages/manager/buildings.tsx
  client/src/pages/manager/residences.tsx
  client/src/pages/residents/building.tsx
  client/src/pages/residents/residence.tsx
Owners: @koveogestion/tech-leads

Improve document button translations and standardization
  attached_assets/Pasted-index-BVJiJMQI-js-413-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-repl-1757019494778_1757019494778.txt
  attached_assets/image_1757019490506.png
  client/src/pages/manager/buildings.tsx
  client/src/pages/manager/residences.tsx
Owners: @koveogestion/tech-leads

Add company logo to the main page for branding
  attached_assets/image_1757019693736.png
  client/src/pages/home.tsx
  client/src/pages/manager/buildings.tsx
Owners: @koveogestion/tech-leads

Translate and update the free trial button text
  client/src/lib/i18n.ts
  client/src/pages/home.tsx
Owners: @koveogestion/tech-leads

Add trial request functionality and integrate SendGrid email service
  .replit
  server/api/trial-request.ts
  server/routes.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Add translations for privacy, security, and story pages
  attached_assets/image_1757020098937.png
  client/src/lib/i18n.ts
  client/src/pages/privacy-policy.tsx
  client/src/pages/security.tsx
  client/src/pages/story.tsx
Owners: @koveogestion/tech-leads

Update Quebec French translation for official launch description
  client/src/lib/i18n.ts
Owners: @koveogestion/tech-leads

Clarify pricing currency and add logo to pages
  client/src/pages/features.tsx
  client/src/pages/pricing.tsx
  client/src/pages/terms-of-service.tsx
Owners: @koveogestion/tech-leads

Adjust layout to place logo above navigation and align top bar elements
  client/src/components/layout/TopNavigationBar.tsx
Owners: @koveogestion/tech-leads

Update Quebec French translations for launch details
  .replit
  client/src/lib/i18n.ts
Owners: @koveogestion/tech-leads

Update deployment validation script for improved accuracy
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
Owners: @koveogestion/tech-leads

Improve testing and site navigation for better user experience
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/04/home_04e4b4e055177d275d82dc8548df263c
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/04/home_04e4b4e055177d275d82dc8548df263c.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/10/comprehensiveerrormessagestranslationtest_108965318079146c882df687d50450e1
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/10/comprehensiveerrormessagestranslationtest_108965318079146c882df687d50450e1.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/37/comprehensiveformstranslationtest_373ca70d84e3909889fe9d07a9449dfc
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/37/comprehensiveformstranslationtest_373ca70d84e3909889fe9d07a9449dfc.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/44/usesmoothnavigation_44b60b24f1b79cb2bb4bafee40900afd
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/44/usesmoothnavigation_44b60b24f1b79cb2bb4bafee40900afd.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/75/bugreports_7546d9d413d54c4e8543e54f76f718f8
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/75/bugreports_7546d9d413d54c4e8543e54f76f718f8.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/75/optimizeddbstorage_75a90bb02668293a8703c7fae7fdfc8f
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/75/optimizeddbstorage_75a90bb02668293a8703c7fae7fdfc8f.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/7c/storage_7c3f2b273bedf2818f85ec467406292c
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/7c/storage_7c3f2b273bedf2818f85ec467406292c.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/82/auth_820db83243c8dd096469312fbe50b0df
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/82/auth_820db83243c8dd096469312fbe50b0df.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/87/i18n_87b59d703bb04493fbaec629163de62f
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/87/i18n_87b59d703bb04493fbaec629163de62f.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/9f/routes_9f1014c85fc96eeec8deaf7fec9c7276
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/9f/routes_9f1014c85fc96eeec8deaf7fec9c7276.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/a0/buildings_a0fac471f7aee09b89ca9b826c77aa3a
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/a0/buildings_a0fac471f7aee09b89ca9b826c77aa3a.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/b4/comprehensiveuielementstranslationtest_b4486076920b2d61d0dae8f511d005f7
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/b4/comprehensiveuielementstranslationtest_b4486076920b2d61d0dae8f511d005f7.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/b6/comprehensivebuttontranslationtest_b6342e68c0393b9e366c5b71fdc5224f
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/b6/comprehensivebuttontranslationtest_b6342e68c0393b9e366c5b71fdc5224f.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/c3/frenchonlypagestranslationtest_c37b597dcbc1e562ebad0c6444fda69d
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/c3/frenchonlypagestranslationtest_c37b597dcbc1e562ebad0c6444fda69d.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/e2/db_e2382712442cb90f1c511fee18fe0c5d
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/e2/db_e2382712442cb90f1c511fee18fe0c5d.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/eb/dashboardquickactionsroutingtest_eb5bffeb6ff34e5282f6285a8c9059f1
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/eb/dashboardquickactionsroutingtest_eb5bffeb6ff34e5282f6285a8c9059f1.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/f6/TopNavigationBar_f61a94bc4cca4ebfa18e8e9d8350d3a1
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/f6/TopNavigationBar_f61a94bc4cca4ebfa18e8e9d8350d3a1.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
Owners: @koveogestion/tech-leads

Update testing configuration and improve file caching mechanisms
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/58/index_5843d8fa08372853e88966230fe8a60b
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/58/index_5843d8fa08372853e88966230fe8a60b.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/77/routes_774b2f1fc7615a947daa6a7d2c869731
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/77/routes_774b2f1fc7615a947daa6a7d2c869731.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/8d/optimizeddbstorage_8d459c57717aaa5266fc49e91014c868
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/8d/optimizeddbstorage_8d459c57717aaa5266fc49e91014c868.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d2/storage_d2b268f64e93ba51d1830e213f29e99e
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d2/storage_d2b268f64e93ba51d1830e213f29e99e.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
Owners: @koveogestion/tech-leads

Add translations for French Quebec to the property management platform
  attached_assets/image_1757022000523.png
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/Pasted--debug-Evaluating-condition-for-step-Check-PR-requirements-debug-Evaluating-success--1757022139194_1757022139195.txt
  attached_assets/image_1757022144242.png
Owners: @koveogestion/tech-leads

Improve CI workflow resilience and database connection stability
  .github/workflows/enforce-review.yml
  .github/workflows/quality-check.yml
  .github/workflows/security-audit.yml
  server/auth.ts
  server/db.ts
Owners: @koveogestion/devops-team, @koveogestion/tech-leads, @koveogestion/security-team

workflow changes
  attached_assets/Pasted--debug-Evaluating-condition-for-step-Check-PR-requirements-debug-Evaluating-success--1757022737899_1757022737899.txt
Owners: @koveogestion/tech-leads

Add user session management for improved authentication
  .replit
  package-lock.json
  package.json
  server/@types/express-session.d.ts
Owners: @koveogestion/tech-leads

Improve bill generation service for better type safety and error handling
  server/services/bill-generation-service.ts
Owners: @koveogestion/tech-leads

Update invitation dialog to improve validation and building selection
  attached_assets/image_1757024684285.png
  client/src/components/admin/send-invitation-dialog.tsx
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1757070106003.png
Owners: @koveogestion/tech-leads

Improve handling of optional building and residence IDs for demands
  attached_assets/image_1757070244485.png
  client/src/pages/ResidentDemandsPage.tsx
  server/api/demands.ts
  shared/schemas/operations.ts
Owners: @koveogestion/tech-leads

Add tests for submitting comments on demands to ensure data integrity
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/4e/demandcommentschematest_4ec6be5026bdc982d6128b1c91155a0f
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/4e/demandcommentschematest_4ec6be5026bdc982d6128b1c91155a0f.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d6/demandcommentschematest_d6cb8b79555991ba432e7d4116da8a62
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d6/demandcommentschematest_d6cb8b79555991ba432e7d4116da8a62.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  tests/integration/demand-comment-flow.test.ts
  tests/unit/demands/demand-comment-schema.test.ts
  tests/unit/forms/demand-comment-form.test.tsx
Owners: @koveogestion/tech-leads

Add ability to upload and view attachments for demands
  client/src/components/demands/demand-details-popup.tsx
  client/src/lib/validations.ts
  client/src/pages/ResidentDemandsPage.tsx
  server/api/demands.ts
  server/routes.ts
  shared/schemas/operations.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Add tests for submitting documents with resident demands
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/3e/demandcommentformtest_3eca5a5cc6443fe780bd2cc4d4ca050e
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/3e/demandcommentformtest_3eca5a5cc6443fe780bd2cc4d4ca050e.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/45/demandcommentflowtest_45cfe698ab3b09ccd7683d77939e00a3
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/45/demandcommentflowtest_45cfe698ab3b09ccd7683d77939e00a3.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/80/validations_8066d39db36ed1d702f1fdad2a1698f6
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/80/validations_8066d39db36ed1d702f1fdad2a1698f6.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/97/ResidentDemandsPage_97029f95b4f40c6489cfa3c37478cfc0
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/97/ResidentDemandsPage_97029f95b4f40c6489cfa3c37478cfc0.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/a1/DemandFilters_a1b03b982e95db4bf0083b6b836a247e
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/a1/DemandFilters_a1b03b982e95db4bf0083b6b836a247e.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/c9/separator_c9ed1fdea1522efe3646960962d11294
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/c9/separator_c9ed1fdea1522efe3646960962d11294.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/ca/operations_cacdecccd9784f2e07e49c089fc5a554
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/ca/operations_cacdecccd9784f2e07e49c089fc5a554.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d0/demanddetailspopup_d0ee03a4bb040ade94160e9772d1737c
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d0/demanddetailspopup_d0ee03a4bb040ade94160e9772d1737c.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d3/routes_d37693f0105ac16b318cf73bca0805a5
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d3/routes_d37693f0105ac16b318cf73bca0805a5.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/e4/toastUtils_e45b2b48c102c3cfa3e72df3dda502f1
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/e4/toastUtils_e45b2b48c102c3cfa3e72df3dda502f1.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/e6/fileuploadformstest_e66c70f1f43c4e649fc8ffacc8e4b748
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/e6/fileuploadformstest_e66c70f1f43c4e649fc8ffacc8e4b748.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/fb/index_fb1bee145e0c929461af6e534218711e
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/fb/index_fb1bee145e0c929461af6e534218711e.map
  tests/unit/file-upload-forms.test.tsx
Owners: @koveogestion/tech-leads

Update database schema to reflect feature request merging and add relation definitions
  attached_assets/image_1757079493012.png
  migrations/relations.ts
  migrations/schema.ts
  shared/schemas/operations.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Update homepage buttons to display appropriate calls to action
  attached_assets/image_1757079702638.png
  client/src/pages/home.tsx
Owners: @koveogestion/tech-leads

Update footer with company logo and navigation links
  client/src/pages/home.tsx
Owners: @koveogestion/tech-leads

Add a 'Try Demo' button for easy access to demo mode
  client/src/pages/auth/login.tsx
  client/src/pages/home.tsx
Owners: @koveogestion/tech-leads

Refactor forms to use a new standardized component for improved consistency
  client/src/components/forms/StandardForm.tsx
  client/src/components/forms/StandardFormField.tsx
  client/src/pages/auth/forgot-password.tsx
  server/api/cleanup.ts
  server/api/documents.ts
  tests/unit/building-residence-management.test.ts
Owners: @koveogestion/tech-leads

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team
