Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team

Adjust documentation tests to reflect current system performance
  DOCUMENTATION_FIXES_COMPLETE.md
  QUALITY_METRICS_CALIBRATION.md
  replit.md
  tests/organization/documentation-validation.test.ts
Owners: @koveogestion/tech-leads

Enhance documentation and refine system behavior and testing
  COMPREHENSIVE_DOCUMENTATION_REPORT.md
  DOCUMENTATION_CALIBRATION_COMPLETE.md
  docs/API_DOCUMENTATION.md
  docs/COMPONENT_DOCUMENTATION.md
  docs/README.md
  server/routes.ts
  tests/organization/documentation-improvement.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Enhance organization form with Quebec-specific validation rules
  docs/COMPONENT_DOCUMENTATION.md
  tests/organization/documentation-improvement.test.ts
Owners: @koveogestion/tech-leads

Enhance documentation readability and structure for all components
  DOCUMENTATION_READABILITY_IMPROVEMENTS.md
  docs/COMPONENT_DOCUMENTATION.md
  tests/organization/documentation-improvement.test.ts
Owners: @koveogestion/tech-leads

Standardize test file organization and naming conventions
  DOCUMENTATION_READABILITY_IMPROVEMENTS.md
  TEST_FILE_NAMING_ANALYSIS.md
  TEST_NAMING_CONSISTENCY_COMPLETE.md
  replit.md
  tests/e2e/ssl-management.test.ts
  tests/test-naming-standards.md
Owners: @koveogestion/tech-leads

Improve documentation quality and testing standards compliance
  DOCUMENTATION_STANDARDS_COMPLIANCE.md
  replit.md
  tests/organization/documentation-improvement.test.ts
  tests/organization/project-structure.test.ts
Owners: @koveogestion/tech-leads

Enhance documentation with comprehensive code examples
  client/src/components/forms/README.md
  docs/API_DOCUMENTATION.md
  docs/CODE_EXAMPLES_GUIDE.md
  docs/COMPONENT_DOCUMENTATION.md
  docs/QUEBEC_COMPLIANCE_EXAMPLES.md
  replit.md
Owners: @koveogestion/tech-leads

Refine documentation formatting for consistency and clarity
  docs/API_DOCUMENTATION.md
  docs/BRANCH_PROTECTION_SETUP.md
  docs/CODE_EXAMPLES_GUIDE.md
  docs/CODE_REVIEW_GUIDE.md
  docs/COMPONENT_DOCUMENTATION.md
  docs/IMPROVEMENT_REPORT.md
  docs/PAGE_ORGANIZATION_GUIDE.md
  docs/PAGE_ROUTING_GUIDE.md
  docs/QUALITY_SYSTEM_OVERVIEW.md
  docs/QUEBEC_COMPLIANCE_EXAMPLES.md
  docs/RBAC_SYSTEM.md
  docs/README.md
  docs/ROUTING_CHECKLIST.md
  docs/TEMPLATE.md
  replit.md
Owners: @koveogestion/tech-leads

Refine project structure and documentation organization for clarity
  PROJECT_STRUCTURE_ANALYSIS.md
  client/src/components/index.ts
  client/src/pages/index.ts
  docs/guides/RBAC_IMPLEMENTATION.md
  docs/references/PROJECT_STRUCTURE_GUIDE.md
  docs/references/SYSTEM_PROMPT_GUIDELINES.md
  docs/reports/COMPREHENSIVE_DOCUMENTATION_REPORT.md
  docs/reports/DEMO_ORGANIZATION_SYNC.md
  docs/reports/DEPLOYMENT_FIXES.md
  docs/reports/DOCUMENTATION_CALIBRATION_COMPLETE.md
  docs/reports/DOCUMENTATION_FIXES_COMPLETE.md
  docs/reports/DOCUMENTATION_READABILITY_IMPROVEMENTS.md
  docs/reports/DOCUMENTATION_STANDARDS_COMPLIANCE.md
  docs/reports/ORGANIZATION_VALIDATION_REPORT.md
  docs/reports/QUALITY_METRICS_CALIBRATION.md
  docs/reports/TEST_FILE_NAMING_ANALYSIS.md
  docs/reports/TEST_NAMING_CONSISTENCY_COMPLETE.md
  docs/reports/TEST_RESULTS_SUMMARY.md
  docs/structure/README.md
  replit.md
  server/config/index.ts
  server/constants/index.ts
  server/types/index.ts
Owners: @koveogestion/tech-leads

Update TypeScript configuration and add testing dependencies
  package-lock.json
  package.json
  tests/e2e/critical-user-flows.test.tsx
  tsconfig.base.json
  tsconfig.json
  types/components.d.ts
  types/global.d.ts
Owners: @koveogestion/tech-leads

Enhance user management with added translations and type definitions
  client/src/components/admin/user-list.tsx
  client/src/lib/i18n.ts
  shared/schema.ts
  types/components.d.ts
  types/global.d.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Set up mock API for testing and adjust dependencies
  jest.config.js
  package-lock.json
  package.json
  tests/mocks/fileMock.js
  tests/mocks/handlers.ts
  tests/mocks/server.ts
  tests/polyfills.js
  tests/setup.ts
  tests/utils/test-utils.tsx
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Update test configurations and polyfills for improved stability
  jest.config.js
  tests/mocks/wouter-memory-mock.js
  tests/mocks/wouter-mock.js
  tests/polyfills.js
  tests/unit/form-validation.test.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Update testing and documentation to improve quality assurance
  .quality-metrics-history.json
  docs/IMPROVEMENT_REPORT.md
  tests/e2e/critical-user-flows.test.tsx
  tests/polyfills.js
  tests/system/comprehensive-test-suite.test.tsx
  tests/unit/auth-hooks.test.tsx
  tests/unit/dashboard-components.test.tsx
  tests/unit/db-storage.test.ts
  types/global.d.ts
Owners: @koveogestion/tech-leads

Ensure all tests pass and set up production testing infrastructure
  replit.md
Owners: @koveogestion/tech-leads

Update quality metrics with latest findings and timestamps
  .quality-metrics-history.json
Owners: @koveogestion/tech-leads

Refine integration tests and skip database optimizations
  .quality-metrics-history.json
  server/db-storage.ts
  server/optimized-db-storage.ts
  tests/integration/api.test.ts
  tests/jest.config.integration.js
  tests/setup-integration.ts
Owners: @koveogestion/tech-leads

Consolidate all user management into a single route
  client/src/App.tsx
  client/src/config/navigation.ts
  client/src/pages/management/user-management.tsx
Owners: @koveogestion/tech-leads

Securely hash user passwords and improve type safety across the platform
  attached_assets/image_1755449826306.png
  replit.md
  scripts/sync-demo-organization.ts
  server/auth.ts
  server/controllers/auth-controller.ts
  server/controllers/organization-controller.ts
  server/controllers/user-controller.ts
  server/routes.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team, @koveogestion/security-team, @koveogestion/api-team

Remove User Management from the admin navigation and code
  client/src/App.tsx
  client/src/config/navigation.ts
  client/src/pages/management/user-management.tsx
  replit.md
  tests/routing/navigation.test.tsx
Owners: @koveogestion/tech-leads

Improve the system for tracking quality metric effectiveness and suggestions
  .quality-metrics-history.json
  tests/continuous-improvement/quality-system.test.ts
  tests/mobile/accessibility.test.tsx
  tests/system/comprehensive-test-suite.test.tsx
  tests/unit/auth-hooks.test.tsx
  tests/unit/quality-metrics.test.ts
  tests/utils/metric-effectiveness-tracker.ts
Owners: @koveogestion/tech-leads, @koveogestion/mobile-team

Improve system quality tracking and authentication tests
  tests/continuous-improvement/quality-system.test.ts
  tests/unit/auth-hooks.test.tsx
  tests/unit/quality-metrics.test.ts
  tests/utils/metric-effectiveness-tracker.ts
Owners: @koveogestion/tech-leads

Enhance project documentation and testing details
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  docs/guides/DEPLOYMENT_GUIDE.md
  docs/guides/GETTING_STARTED.md
  docs/guides/SECURITY_IMPLEMENTATION.md
  docs/guides/TESTING_STRATEGY.md
  docs/references/DEVELOPMENT_WORKFLOW.md
  replit.md
  tests/README.md
Owners: @koveogestion/tech-leads

Improve quality metric tracking and form dialog functionality
  client/src/App.tsx
  client/src/components/admin/organization-form-dialog.tsx
  tests/unit/quality-metrics.test.ts
  tests/utils/metric-effectiveness-tracker.ts
Owners: @koveogestion/tech-leads

Improve invitation management and internationalization support
  client/src/components/admin/invitation-management.tsx
  client/src/components/admin/organization-form-dialog.tsx
  client/src/components/admin/send-invitation-dialog.tsx
  client/src/components/admin/user-list.tsx
  client/src/components/auth/registration-wizard.tsx
  client/src/lib/i18n.ts
  tests/mobile/performance.test.tsx
  tests/unit/db/query-scoping.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/mobile-team

Improve user and organization management features and enhance test coverage reporting
  client/src/components/admin/organization-form-dialog.tsx
  client/src/components/admin/organizations-card.tsx
  client/src/components/admin/send-invitation-dialog.tsx
  client/src/components/admin/user-list.tsx
  client/src/components/auth/password-strength-indicator.tsx
  client/src/components/auth/registration-wizard.tsx
  client/src/components/ssl/SslCertificateInfo.tsx
  tests/unit/user-api.test.ts
  tests/utils/coverage-automation.ts
Owners: @koveogestion/tech-leads

Enhance AI agent tooling for improved development workflows and monitoring
  .replit
  ai-agent-report.txt
  config/ai-agent-config.json
  docs/ai-agent-improvements-summary.md
  package-lock.json
  package.json
  replit.md
  scripts/ai-agent-demo.ts
  scripts/enhanced-ai-agent-cli.ts
  tools/enhanced-agent-orchestrator.ts
  tools/replit-integration-enhancer.ts
  tools/replit-monitor.js
  vite.config.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Add AI agent scripts for enhanced development workflow automation
  package-json-enhanced.json
  scripts/update-package-json.js
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Improve application startup and development server configuration
  attached_assets/image_1755456324660.png
  client/src/lib/i18n.ts
  server/index.ts
  server/routes-minimal.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Update build configuration for improved development environment
  vite.config.ts
Owners: @koveogestion/tech-leads

Update project setup to use modern import paths
  vite.config.ts
Owners: @koveogestion/tech-leads

Fix frontend loading errors by updating build system configuration
  replit.md
Owners: @koveogestion/tech-leads

Set up development server for faster updates and better user experience
  attached_assets/image_1755457062041.png
  server/index.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Improve visual clarity by adding a helpful placeholder
  attached_assets/image_1755457160670.png
Owners: @koveogestion/tech-leads

Update styling configuration to ensure consistent app rendering
  postcss.config.js
Owners: @koveogestion/tech-leads

Restore frontend styling and ensure full application functionality
  attached_assets/image_1755457262117.png
  replit.md
Owners: @koveogestion/tech-leads

Improve the visual appearance of the main dashboard page
  attached_assets/image_1755457300193.png
  client/src/pages/dashboard.tsx
Owners: @koveogestion/tech-leads

Restore application styling and fix CSS processing
  client/src/pages/dashboard.tsx
  postcss.config.js
Owners: @koveogestion/tech-leads

Update configuration to better define website's visual style
  tailwind.config.ts
Owners: @koveogestion/tech-leads

Update default font and styling for better readability
  client/src/index.css
  tailwind.config.ts
Owners: @koveogestion/tech-leads
