Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

Add translations for building pages to support multiple languages
  client/src/lib/i18n.ts
  client/src/pages/residents/building.tsx
Owners: @koveogestion/tech-leads

Enhance platform by adding missing translations for various pages
  client/src/lib/i18n.ts
  client/src/pages/Documents.tsx
  client/src/pages/ManagerDemandsPage.tsx
  client/src/pages/ResidentDemandsPage.tsx
Owners: @koveogestion/tech-leads

Fix translation error in French language settings
  client/src/lib/i18n.ts
Owners: @koveogestion/tech-leads

Update building creation and modification endpoints and add integration tests
  attached_assets/image_1756387015715.png
  client/src/pages/manager/buildings.tsx
  tests/integration/building-form.test.ts
Owners: @koveogestion/tech-leads

Add tests to ensure residences are automatically generated for new buildings
  attached_assets/image_1756387202389.png
  client/src/pages/manager/buildings.tsx
  tests/integration/building-residence-generation.test.ts
Owners: @koveogestion/tech-leads

Separate development and production databases for improved environment stability
  server/config/index.ts
  server/db.ts
Owners: @koveogestion/tech-leads

Add initial project setup and configuration files
  attached_assets/image_1756388058736.png
Owners: @koveogestion/tech-leads

Prefix all authentication API endpoints with /api
  attached_assets/Pasted-use-auth-tsx-57-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756388149970_1756388149971.txt
  attached_assets/image_1756388142421.png
  server/auth.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Update authentication routes and storage logic
  attached_assets/image_1756390767568.png
  server/auth.ts
  server/storage.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins

Improve resident demands page component imports and language hook usage
  client/src/pages/ResidentDemandsPage.tsx
Owners: @koveogestion/tech-leads

Improve translation accuracy and completeness across the application
  client/src/lib/i18n.ts
  client/src/pages/ResidentDemandsPage.tsx
Owners: @koveogestion/tech-leads

Improve language persistence and default settings for better internationalization
  attached_assets/image_1756392730299.png
  client/src/hooks/use-language.tsx
Owners: @koveogestion/tech-leads

Improve website navigation by correctly translating section names
  client/src/components/layout/sidebar.tsx
  cookiejar.txt
Owners: @koveogestion/tech-leads

Improve user creation by enhancing data validation and logging
  server/api/users.ts
  server/routes-minimal.ts
  server/utils/input-sanitization.ts
  server/utils/user-creation-logger.ts
  shared/schemas/core.ts
Owners: @koveogestion/tech-leads

Update building information to automatically manage residences
  server/api/buildings.ts
Owners: @koveogestion/tech-leads

Update property schemas to resolve build errors
  server/api/contacts.ts
  shared/schema.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Fixes user registration and residence assignment issues
  server/routes-minimal.ts
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1756396963681.png
  attached_assets/image_1756396991387.png
Owners: @koveogestion/tech-leads

Add functionality for managers to delete user accounts
  client/src/pages/manager/user-management.tsx
  server/api/users.ts
Owners: @koveogestion/tech-leads

Improve property management by adding maintenance requests and notifications
  attached_assets/image_1756397615435.png
  shared/schema.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Improve platform's visual appeal with updated branding assets
  attached_assets/image_1756398110222.png
Owners: @koveogestion/tech-leads

Improve user deletion logic and handle missing tables gracefully
  attached_assets/Pasted-use-auth-tsx-57-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756398914677_1756398914678.txt
  attached_assets/image_1756398908665.png
  server/api/users.ts
Owners: @koveogestion/tech-leads

Ensure user data refreshes correctly after deletion
  attached_assets/image_1756399076235.png
  client/src/pages/manager/user-management.tsx
  server/api/users.ts
Owners: @koveogestion/tech-leads

Improve session management to prevent users from losing authentication
  client/src/hooks/use-auth.tsx
  server/auth.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Redirect users to login page when their session expires
  client/src/hooks/use-auth.tsx
  client/src/lib/queryClient.ts
Owners: @koveogestion/tech-leads

Adjust validation and test scripts to prevent production database issues
  scripts/enhanced-validate-all.ts
  scripts/quick-quality-check.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Enhance testing by running in a safe, isolated environment
  attached_assets/Pasted-queryClient-ts-39-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-d-1756399968998_1756399969000.txt
  attached_assets/image_1756399964951.png
  client/src/pages/ManagerDemandsPage.tsx
  jest.config.js
  jest.global-setup.js
  scripts/database-safety-wrapper.ts
  scripts/run-security-tests.sh
  scripts/run-tests-sequential.sh
  scripts/safe-validate-all.ts
  scripts/test-auth-security.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Add ability for users to view their accessible organizations
  server/routes-minimal.ts
Owners: @koveogestion/tech-leads

Improve user creation by fixing permission checking logic
  attached_assets/image_1756400466942.png
  server/auth.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Improve user authentication by ensuring fresh data on each request
  attached_assets/image_1756400639671.png
  server/auth.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Improve user data retrieval with detailed logging
  attached_assets/image_1756400792921.png
  server/optimized-db-storage.ts
Owners: @koveogestion/tech-leads

Improve user permission checking by verifying existence and role assignments
  attached_assets/Pasted--api-auth-user-1-Failed-to-load-resource-the-server-responded-with-a-status-of-401-Unauthorized--1756400966251_1756400966252.txt
  attached_assets/image_1756400962340.png
  cookies.txt
  server/auth.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Update invitation schema to allow null residence IDs
  attached_assets/image_1756401396184.png
  cookies.txt
  shared/schemas/core.ts
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1756401927188.png
Owners: @koveogestion/tech-leads

Fix user registration loop by improving data validation and error handling
  client/src/components/auth/registration-wizard.tsx
  client/src/pages/auth/invitation-acceptance.tsx
  server/routes-minimal.ts
Owners: @koveogestion/tech-leads

Add image assets for visual reference and documentation
  attached_assets/image_1756404470154.png
  attached_assets/image_1756404477146.png
Owners: @koveogestion/tech-leads

Improve password requirements for enhanced security
  attached_assets/image_1756404907307.png
  shared/schemas/core.ts
Owners: @koveogestion/tech-leads

Improve user creation by ensuring only valid data is saved
  attached_assets/Pasted-replit-dev-banner-js-1-Failed-to-load-resource-net-ERR-BLOCKED-BY-RESPONSE-NotSameOriginAfterDefa-1756405205638_1756405205638.txt
  attached_assets/image_1756405182507.png
  server/optimized-db-storage.ts
Owners: @koveogestion/tech-leads

Improve user experience by adding a new feature to the platform
  attached_assets/image_1756406241502.png
Owners: @koveogestion/tech-leads

Add error handling and logging for user creation in the database
  server/optimized-db-storage.ts
Owners: @koveogestion/tech-leads

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team
