Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

Improve page reload behavior by correctly handling authentication states
  attached_assets/image_1755688272170.png
  client/src/App.tsx
  client/src/hooks/use-auth.tsx
Owners: @koveogestion/tech-leads

Add ability to toggle strategic path for features
  client/src/App.tsx
  server/routes-minimal.ts
Owners: @koveogestion/tech-leads

Add ability to mark features as strategic for better roadmap organization
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-react-dom-client-js-v-d690c398-17995--1755688567495_1755688567495.txt
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-react-dom-client-js-v-d690c398-17995--1755688574811_1755688574811.txt
  shared/schemas/development.ts
Owners: @koveogestion/tech-leads

Enhance feature tracking with new fields and improve roadmap display functionality
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-react-dom-client-js-v-d690c398-17995--1755688704299_1755688704300.txt
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-react-dom-client-js-v-d690c398-17995--1755688711254_1755688711254.txt
  shared/schemas/development.ts
Owners: @koveogestion/tech-leads

Improve page refresh behavior to prevent unexpected redirects
  client/src/App.tsx
  client/src/hooks/use-auth.tsx
Owners: @koveogestion/tech-leads

Add Quebec Law 25 privacy compliance features to the platform
  .semgrep.yml
  .semgrepignore
  client/src/App.tsx
  client/src/components/dashboard/law25-compliance.tsx
  client/src/config/navigation.ts
  client/src/pages/admin/compliance.tsx
  package-lock.json
  package.json
  scripts/run-quality-check.ts
  server/routes-minimal.ts
  server/routes/law25-compliance.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Enhance document management by separating building and resident documents
  attached_assets/image_1755708012976.png
  scripts/check-documents.ts
  scripts/migrate-documents.ts
  server/api/documents.ts
  server/optimized-db-storage.ts
  server/storage.ts
  shared/schema.ts
  shared/schemas/documents.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team, @koveogestion/database-admins

Add separate document sections for buildings and residences
  client/src/App.tsx
  client/src/pages/manager/BuildingDocuments.tsx
  client/src/pages/manager/ResidenceDocuments.tsx
Owners: @koveogestion/tech-leads

Update document page links for buildings and residences
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-react-dom-client-js-v-3def7921-17995--1755709094997_1755709094997.txt
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-react-dom-client-js-v-3def7921-17995--1755709134888_1755709134888.txt
  attached_assets/image_1755709108840.png
  attached_assets/image_1755709141064.png
  client/src/components/buildings/building-card.tsx
  client/src/pages/Documents.tsx
  client/src/pages/manager/residences.tsx
Owners: @koveogestion/tech-leads

Fix errors when accessing property documents and enable viewing demo data
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-react-dom-client-js-v-3def7921-17995--1755709329059_1755709329059.txt
  attached_assets/image_1755709322420.png
  client/src/pages/manager/BuildingDocuments.tsx
  client/src/pages/manager/ResidenceDocuments.tsx
Owners: @koveogestion/tech-leads

Enable uploading any type of document to the platform
  package-lock.json
  package.json
Owners: @koveogestion/tech-leads

Add file upload functionality to documents and fix related errors
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-react-dom-client-js-v-9e36b6e9-17995--1755713017217_1755713017218.txt
  attached_assets/image_1755713023423.png
  client/src/pages/Documents.tsx
  client/src/pages/manager/BuildingDocuments.tsx
  client/src/pages/manager/ResidenceDocuments.tsx
Owners: @koveogestion/tech-leads

Refine how document details are sent to the server for better data validation
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-react-dom-client-js-v-d97d192a-17995--1755713359944_1755713359944.txt
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-react-dom-client-js-v-d97d192a-17995--1755713365986_1755713365987.txt
  attached_assets/image_1755713352176.png
  client/src/pages/manager/BuildingDocuments.tsx
  client/src/pages/manager/ResidenceDocuments.tsx
Owners: @koveogestion/tech-leads

Update document date format and track uploaders for better record-keeping
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-react-dom-client-js-v-d97d192a-17995--1755713562825_1755713562826.txt
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-react-dom-client-js-v-d97d192a-17995--1755713592101_1755713592102.txt
  attached_assets/image_1755713631359.png
  client/src/pages/manager/BuildingDocuments.tsx
  client/src/pages/manager/ResidenceDocuments.tsx
  shared/schemas/documents.ts
Owners: @koveogestion/tech-leads

Ensure user ID is valid before creating documents for buildings and residences
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-react-dom-client-js-v-d97d192a-17995--1755713850624_1755713850625.txt
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-react-dom-client-js-v-d97d192a-17995--1755713858255_1755713858255.txt
  attached_assets/image_1755713831217.png
  client/src/pages/manager/BuildingDocuments.tsx
  client/src/pages/manager/ResidenceDocuments.tsx
Owners: @koveogestion/tech-leads

Fix document upload errors by cleaning user IDs
  attached_assets/image_1755713969741.png
  client/src/pages/manager/BuildingDocuments.tsx
  client/src/pages/manager/ResidenceDocuments.tsx
Owners: @koveogestion/tech-leads

Ensure document uploads use a valid user ID format
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-react-dom-client-js-v-d97d192a-17995--1755714119255_1755714119255.txt
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-react-dom-client-js-v-d97d192a-17995--1755714130128_1755714130128.txt
  attached_assets/image_1755714108584.png
  client/src/pages/manager/BuildingDocuments.tsx
  client/src/pages/manager/ResidenceDocuments.tsx
Owners: @koveogestion/tech-leads

Update document upload to use full user identifiers
  attached_assets/image_1755714226067.png
  client/src/pages/manager/BuildingDocuments.tsx
  client/src/pages/manager/ResidenceDocuments.tsx
  shared/schemas/documents.ts
Owners: @koveogestion/tech-leads

Prevent document creation while a file is uploading
  client/src/pages/manager/BuildingDocuments.tsx
  client/src/pages/manager/ResidenceDocuments.tsx
Owners: @koveogestion/tech-leads

Enable file uploads after document creation with correct endpoint and URL
  attached_assets/image_1755714712955.png
  client/src/pages/manager/BuildingDocuments.tsx
  client/src/pages/manager/ResidenceDocuments.tsx
Owners: @koveogestion/tech-leads

Update document details after successful file upload
  attached_assets/image_1755714892309.png
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Add view and edit functionality to document cards and improve category display
  attached_assets/image_1755715141038.png
  client/src/pages/manager/BuildingDocuments.tsx
  client/src/pages/manager/ResidenceDocuments.tsx
Owners: @koveogestion/tech-leads

Enable editing of building and residence documents
  client/src/pages/manager/BuildingDocuments.tsx
  client/src/pages/manager/ResidenceDocuments.tsx
Owners: @koveogestion/tech-leads

Improve document viewing and downloading by fixing file path handling
  attached_assets/image_1755715892147.png
  client/src/pages/manager/BuildingDocuments.tsx
  client/src/pages/manager/ResidenceDocuments.tsx
  server/index.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Improve document page readability by removing tab categories
  attached_assets/image_1755716269349.png
  client/src/pages/manager/BuildingDocuments.tsx
  client/src/pages/manager/ResidenceDocuments.tsx
Owners: @koveogestion/tech-leads

Add tools to find and report orphaned files in storage
  server/api/cleanup.ts
  server/routes-minimal.ts
Owners: @koveogestion/tech-leads

Automate the deletion of unused files from storage
  server/api/cleanup.ts
  server/routes-minimal.ts
  server/services/cleanup-scheduler.ts
Owners: @koveogestion/tech-leads

Improve file management by organizing assets into dedicated storage
  attached_assets/image_1755716941119.png
Owners: @koveogestion/tech-leads

Update file upload to use hierarchical storage paths for organization
  client/src/pages/manager/BuildingDocuments.tsx
  client/src/pages/manager/ResidenceDocuments.tsx
  server/api/cleanup.ts
  server/api/documents.ts
  server/objectStorage.ts
Owners: @koveogestion/tech-leads

Integrate object storage to manage building and residence file structures
  server/api/buildings.ts
  server/api/organizations.ts
  server/objectStorage.ts
Owners: @koveogestion/tech-leads

Update data storage for invitation and permission contexts
  shared/schemas/core.ts
Owners: @koveogestion/tech-leads

Improve building management features and update UI components
  client/src/App.tsx
  client/src/components/admin/organizations-card.tsx
  client/src/components/admin/send-invitation-dialog.tsx
  client/src/components/auth/steps/quebec-privacy-consent-step.tsx
  client/src/components/auth/steps/token-validation-step.tsx
  client/src/components/buildings/building-card.tsx
  client/src/components/buildings/building-form.tsx
  server/api/buildings.ts
  tests/unit/buildings-basic.test.tsx
Owners: @koveogestion/tech-leads

Improve clarity and maintainability of form components
  client/src/components/buildings/building-form.tsx
  client/src/components/dashboard/law25-compliance.tsx
  client/src/components/dialogs/delete-confirmation-dialog.tsx
  client/src/components/forms/feature-form-refactored.tsx
  client/src/components/forms/feature-form/form-sections.tsx
  client/src/components/forms/feature-form/prompt-display.tsx
  client/src/components/forms/feature-form/prompt-generator.tsx
  client/src/components/forms/feature-form/rbac-configuration.tsx
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1755719795050.png
Owners: @koveogestion/tech-leads

Reset sidebar menus to be closed by default on login
  attached_assets/image_1755719824247.png
  attached_assets/image_1755719840980.png
  client/src/components/layout/sidebar.tsx
Owners: @koveogestion/tech-leads

Ensure user initials in sidebar are capitalized for consistent display
  client/src/components/layout/sidebar.tsx
Owners: @koveogestion/tech-leads

Update brand name to a clickable logo that leads to the dashboard
  attached_assets/image_1755719926562.png
  attached_assets/image_1755719943367.png
  client/src/components/layout/sidebar.tsx
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1755720623073.png
Owners: @koveogestion/tech-leads

Add contact management for residences with filtering and detailed information
  client/src/pages/residents/residence.tsx
  server/api/contacts.ts
  server/api/residences.ts
  server/routes-minimal.ts
  server/storage.ts
  shared/schema.ts
  shared/schemas/property.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins, @koveogestion/business-team, @koveogestion/quebec-compliance

Update demo user session with resident role access
  cookies.txt
Owners: @koveogestion/tech-leads

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team
