Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

Improve user management debugging logs for better visibility
  attached_assets/image_1756828038507.png
  attached_assets/image_1756828047995.png
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Improve user interface by adding new images to the platform
  attached_assets/image_1756828139908.png
  attached_assets/image_1756828150708.png
Owners: @koveogestion/tech-leads

Add organization, building, and residence details to user list view
  client/src/components/admin/user-list.tsx
Owners: @koveogestion/tech-leads

Streamline user management by consolidating functionality
  client/src/components/admin/user-list.tsx
  client/src/components/index.ts
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Add debugging logs to user management page for easier troubleshooting
  attached_assets/image_1756828738599.png
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Improve storage fallback logic with detailed debugging information
  attached_assets/image_1756828889119.png
  server/storage.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Improve user data retrieval efficiency and reliability
  client/src/pages/manager/user-management.tsx
  server/optimized-db-storage.ts
  server/storage.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Improve user data debugging and display for management
  attached_assets/image_1756829163478.png
  client/src/pages/manager/user-management.tsx
  server/api/users.ts
Owners: @koveogestion/tech-leads

Improve user data logging for better debugging
  attached_assets/image_1756829581266.png
  server/api/users.ts
Owners: @koveogestion/tech-leads

Improve user data logging for debugging purposes
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Replace the user table with a new, more robust component
  attached_assets/image_1756829874006.png
  attached_assets/image_1756829883729.png
  client/src/components/UserAssignmentsTable.tsx
  client/src/pages/manager/user-management.tsx
  server/api/users.ts
Owners: @koveogestion/tech-leads

Revise document storage system for improved integration
  attached_assets/image_1756830049864.png
Owners: @koveogestion/tech-leads

Add user management actions to the assignments table
  client/src/components/UserAssignmentsTable.tsx
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Add a new table to display user assignments with status
  attached_assets/image_1756830212896.png
  client/src/components/UserAssignmentsTable.tsx
Owners: @koveogestion/tech-leads

Remove debug logging statements from user assignment tables and API routes
  attached_assets/image_1756830362398.png
  client/src/components/UserAssignmentsTable.tsx
  server/api/users.ts
Owners: @koveogestion/tech-leads

Remove debugging logs and green banner from the system
  attached_assets/image_1756830474600.png
  server/api/users.ts
  server/optimized-db-storage.ts
Owners: @koveogestion/tech-leads

Resolve issues with banner visibility and console errors
  attached_assets/image_1756830629360.png
Owners: @koveogestion/tech-leads

Improve user interface by updating banner styles
  attached_assets/image_1756830773350.png
Owners: @koveogestion/tech-leads

Update document management to support faster code refreshes
  attached_assets/image_1756830982672.png
Owners: @koveogestion/tech-leads

Update entry point to include cache-busting query parameter
  attached_assets/image_1756831078110.png
  client/index.html
Owners: @koveogestion/tech-leads

Update user assignments table component for better data display
  attached_assets/image_1756831180603.png
  client/src/components/UserAssignmentsTableClean.tsx
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Update application to remove version query parameter
  attached_assets/image_1756831323487.png
  client/index.html
Owners: @koveogestion/tech-leads

Remove unused images and temporary files from the application
  attached_assets/image_1756831422720.png
Owners: @koveogestion/tech-leads

Limit user access to view only their assigned residences and buildings
  client/src/pages/residents/building.tsx
  client/src/pages/residents/residence.tsx
  server/api/users.ts
Owners: @koveogestion/tech-leads

Scope data access to currently logged-in users
  attached_assets/image_1756832063083.png
  client/src/components/admin/send-invitation-dialog.tsx
  client/src/components/common/DocumentManager.tsx
  client/src/pages/Documents.tsx
  client/src/pages/residents/residence.tsx
Owners: @koveogestion/tech-leads

Restored to '4f6fce7b4ed9175e07be5c9f8401e3a6bf8d1075'
  attached_assets/image_1756832063083.png
  client/src/components/admin/send-invitation-dialog.tsx
  client/src/components/common/DocumentManager.tsx
  client/src/pages/Documents.tsx
  client/src/pages/residents/residence.tsx
Owners: @koveogestion/tech-leads

Improve static file serving with environment-specific caching strategies
  server/routes.ts
  uploads/residences/e27ac924-8120-4904-a791-d1e9db544d58/652da48d-76b4-4301-93f4-c900a80dc18d-fichier texte (6).txt
Owners: @koveogestion/api-team, @koveogestion/tech-leads

Enable running validation suite directly without requiring module
  scripts/validation-suite.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Update validation script for comprehensive data checks
  package.json
Owners: @koveogestion/tech-leads

Improve route validation to include API files
  scripts/validation-suite.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Improve access control and testing configurations for property management
  .replit
  jest.config.cjs
  server/rbac.ts
  tests/unit/auth/rbac-comprehensive.test.ts
Owners: @koveogestion/tech-leads

Improve password validation and demand comment schema
  client/src/utils/password-validation.ts
  server/index.ts
  tests/unit/demands/demands-schema.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Update documentation to reflect the latest project status and testing improvements
  docs/API_DOCUMENTATION.md
  docs/PROJECT_STATUS.md
  docs/QUALITY_SYSTEM_OVERVIEW.md
  docs/RBAC_SYSTEM.md
  docs/guides/SECURITY_IMPLEMENTATION.md
  docs/guides/TESTING_STRATEGY.md
  replit.md
Owners: @koveogestion/tech-leads

Restrict access to demands and common spaces based on user creation
  server/api/common-spaces.ts
  server/api/demands.ts
  server/auth.ts
  server/index.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/api-team

Improve error handling and logging across authentication and organization routes
  server/api/organizations.ts
  server/api/permissions.ts
  server/auth.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Improve error handling and logging across multiple API endpoints
  server/api/buildings.ts
  server/api/organizations.ts
  server/api/users.ts
  server/auth.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Add detailed logging for user and building operations
  server/api/buildings.ts
  server/api/users.ts
Owners: @koveogestion/tech-leads

Improve error handling and logging across all API endpoints
  server/api/bills.ts
  server/api/buildings.ts
  server/api/contacts.ts
  server/api/documents.ts
  server/api/feature-requests.ts
  server/api/residences.ts
  server/api/users.ts
Owners: @koveogestion/tech-leads

Improve error handling across various API endpoints for better debugging
  server/api/bills.ts
  server/api/common-spaces.ts
  server/api/contacts.ts
  server/api/documents.ts
  server/api/feature-requests.ts
  server/api/permissions.ts
  server/api/residences.ts
Owners: @koveogestion/tech-leads

Improve error handling and logging across multiple services
  server/api/common-spaces.ts
  server/api/permissions.ts
  server/auth/invitation-rbac.ts
  server/optimized-db-storage.ts
  server/query-cache.ts
  server/services/bill-generation-service.ts
  server/services/delayed-update-service.ts
  server/services/email-service.ts
  server/services/gemini-bill-analyzer.ts
  server/services/monthly-budget-service.ts
  server/storage.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team
