Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

Add email sending functionality for user invitations to the platform
  server/routes-minimal.ts
Owners: @koveogestion/tech-leads

Integrate SendGrid for sending invitation emails securely
  replit.md
  server/routes-minimal.ts
  server/routes.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Improve email sending logs with detailed SendGrid error information
  server/services/email-service.ts
Owners: @koveogestion/tech-leads

Update sender email address and add more email sending logs
  server/services/email-service.ts
Owners: @koveogestion/tech-leads

Improve email delivery by configuring sender details and categories
  attached_assets/image_1755548044228.png
  server/routes-minimal.ts
  server/services/email-service.ts
Owners: @koveogestion/tech-leads

Update sender email address for outgoing invitations
  server/services/email-service.ts
Owners: @koveogestion/tech-leads

Update invitation flow to use registration page and custom sender Update invitation routing to `/register` and utilize `FRONTEND_URL` and `EMAIL_FROM` env variables for email generation.
  attached_assets/image_1755549226157.png
  client/src/App.tsx
  client/src/components/auth/steps/token-validation-step.tsx
  server/routes-minimal.ts
  server/services/email-service.ts
Owners: @koveogestion/tech-leads

Improve invitation system to prevent duplicate invitations
  attached_assets/image_1755549520578.png
Owners: @koveogestion/tech-leads

Update invitation link to direct users to registration page
  server/services/email-service.ts
Owners: @koveogestion/tech-leads

Update invitation system to replace existing invitations
  attached_assets/image_1755549871347.png
  server/routes-minimal.ts
Owners: @koveogestion/tech-leads

Improve invitation system to handle multiple invitations
  attached_assets/image_1755550167035.png
  server/routes-minimal.ts
Owners: @koveogestion/tech-leads

Improve invitation system to replace existing ones
  attached_assets/image_1755550300966.png
  replit.md
Owners: @koveogestion/tech-leads

Define building access rules for users based on roles and residences
  server/api/buildings.ts
Owners: @koveogestion/tech-leads

Improve building management by restricting access and displaying data
  client/src/pages/manager/buildings.tsx
  server/api/buildings.ts
  server/routes-minimal.ts
Owners: @koveogestion/tech-leads

Refine access rules for managing building information
  attached_assets/image_1755551721514.png
  attached_assets/image_1755551732775.png
  replit.md
Owners: @koveogestion/tech-leads

Update loading indicator for buildings page
  client/src/pages/manager/buildings.tsx
Owners: @koveogestion/tech-leads

Update user retrieval to use session data for building API
  attached_assets/image_1755551897826.png
  server/api/buildings.ts
Owners: @koveogestion/tech-leads

Fix access error for users viewing building information
  attached_assets/image_1755552034433.png
  server/api/buildings.ts
Owners: @koveogestion/tech-leads

Fix login issue by ensuring user session is properly validated
  attached_assets/Pasted-queryClient-ts-99-Query-error-Error-401-message-Authentication-required-code-AUTH-REQUIRE-1755552186735_1755552186736.txt
  server/api/buildings.ts
Owners: @koveogestion/tech-leads

Fix issue preventing users from viewing buildings
  attached_assets/image_1755552293190.png
Owners: @koveogestion/tech-leads

Update data fetching to correctly process buildings information
  client/src/pages/manager/buildings.tsx
Owners: @koveogestion/tech-leads

Grant special access to all properties for Koveo organization members
  server/api/buildings.ts
Owners: @koveogestion/tech-leads

Grant global building access to specific organization users
  attached_assets/image_1755552617638.png
  replit.md
Owners: @koveogestion/tech-leads

Add a search feature to find buildings by name and address
  client/src/pages/manager/buildings.tsx
Owners: @koveogestion/tech-leads

Enhance building access controls and add building search functionality
  replit.md
  server/api/buildings.ts
Owners: @koveogestion/tech-leads

Add ability for admins to create new buildings with organization assignment
  client/src/pages/manager/buildings.tsx
  server/api/buildings.ts
  server/api/organizations.ts
Owners: @koveogestion/tech-leads

Fix errors when creating new buildings and submitting form data
  attached_assets/image_1755553586930.png
  client/src/pages/manager/buildings.tsx
Owners: @koveogestion/tech-leads

Allow admins to create new buildings within their organizations
  attached_assets/image_1755553728802.png
  replit.md
Owners: @koveogestion/tech-leads

Enable managers to edit building details and admins to delete them
  client/src/pages/manager/buildings.tsx
  server/api/buildings.ts
Owners: @koveogestion/tech-leads

Fix issues preventing users from editing building details
  attached_assets/Pasted-queryClient-ts-99-Query-error-Error-502-DOCTYPE-html-html-lang-en-head-title-Hmm-1755554104223_1755554104224.txt
  client/src/pages/manager/buildings.tsx
Owners: @koveogestion/tech-leads

Enhance building management with edit and delete capabilities
  replit.md
Owners: @koveogestion/tech-leads

Add comprehensive tests for building management features
  test-buildings.js
  tests/buildings-comprehensive.md
  tests/e2e/buildings-workflow.test.tsx
  tests/integration/buildings-api.test.ts
  tests/integration/buildings-validation.test.ts
  tests/unit/buildings-basic.test.tsx
  tests/unit/buildings-page.test.tsx
  tests/unit/buildings-validation.test.ts
Owners: @koveogestion/tech-leads

Enhance residence management with advanced search, filtering, and editing capabilities
  client/src/components/forms/residence-edit-form.tsx
  client/src/pages/manager/residences.tsx
  server/api/buildings.ts
  server/api/residences.ts
  server/routes-minimal.ts
  shared/schema.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Show all available buildings and floors in filters
  attached_assets/image_1755556963646.png
  attached_assets/image_1755556973033.png
  attached_assets/image_1755556998676.png
  client/src/pages/manager/residences.tsx
Owners: @koveogestion/tech-leads

Display residences in a paginated list with 10 items per page
  client/src/pages/manager/residences.tsx
Owners: @koveogestion/tech-leads

Add detailed residence management features with role-based access
  replit.md
Owners: @koveogestion/tech-leads

Refine documentation and code structure across the platform
  client/src/components/admin/send-invitation-dialog.tsx
  client/src/components/filter-sort/FilterSort.tsx
  client/src/components/forms/feature-form.tsx
  client/src/components/forms/organization-form.tsx
  client/src/components/forms/residence-edit-form.tsx
  client/src/components/roadmap/actionable-items-panel.tsx
  client/src/hooks/use-mobile-menu.tsx
  client/src/pages/manager/buildings.tsx
  client/src/pages/manager/residences.tsx
  scripts/ai-agent-demo.ts
  scripts/docs-validation.ts
  scripts/enhanced-ai-agent-cli.ts
  scripts/enhanced-validation.ts
  scripts/update-package-json.js
  server/api/buildings.ts
  server/api/organizations.ts
  server/api/residences.ts
  server/routes-minimal.ts
  server/services/metric-validation.ts
  test-buildings.js
  tests/e2e/buildings-workflow.test.tsx
  tests/integration/buildings-api.test.ts
  tests/integration/buildings-validation.test.ts
  tests/integration/complete-quality-system.test.ts
  tests/unit/buildings-basic.test.tsx
  tests/unit/buildings-page.test.tsx
  tests/unit/buildings-validation.test.ts
  tests/unit/llm-form-mapping.test.ts
  tests/unit/quality-metrics.test.ts
  tools/enhanced-agent-orchestrator.ts
  tools/replit-integration-enhancer.ts
  tools/replit-monitor.js
  tools/smart-context-manager.ts
  types/global.d.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Add a way to validate invitation tokens and verify user access
  server/routes-minimal.ts
Owners: @koveogestion/tech-leads

Enable users to register for new accounts with secure invitations
  attached_assets/image_1755558985293.png
Owners: @koveogestion/tech-leads

Improve invitation validation by adding logging
  attached_assets/image_1755559149144.png
  server/routes-minimal.ts
Owners: @koveogestion/tech-leads

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team
