Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

Move page title and description to a shared header component
  client/src/pages/manager/maintenance/projects/ProjectsHeader.tsx
  client/src/pages/manager/maintenance/projects/ProjectsPage.tsx
Owners: @koveogestion/tech-leads

Update menu bar to display title and subtitle correctly
  attached_assets/image_1758655842761.png
Owners: @koveogestion/tech-leads

Integrate building context to ensure correct data display on project pages
  .replit
  attached_assets/image_1758655977634.png
  attached_assets/image_1758656189846.png
  attached_assets/image_1758656224387.png
  client/src/pages/manager/maintenance/projects/ProjectDashboardView.tsx
  client/src/pages/manager/maintenance/projects/ProjectTableView.tsx
  client/src/pages/manager/maintenance/projects/ProjectsPage.tsx
Owners: @koveogestion/tech-leads

Remove unnecessary project import and export features
  client/src/pages/manager/maintenance/projects/ProjectsHeader.tsx
  client/src/pages/manager/maintenance/projects/ProjectsPage.tsx
Owners: @koveogestion/tech-leads

Organize project details into collapsible sections for better usability
  client/src/pages/manager/maintenance/projects/ProjectsPage.tsx
Owners: @koveogestion/tech-leads

Add context provider for building information to manage project data
  .replit
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1758656937435_1758656937436.txt
  client/src/pages/manager/maintenance/projects/ProjectsPage.tsx
Owners: @koveogestion/tech-leads

Remove the option to create projects from suggestions
  .replit
  attached_assets/image_1758657511379.png
  attached_assets/image_1758657530096.png
  attached_assets/image_1758657670181.png
  attached_assets/image_1758657708842.png
  client/src/pages/manager/maintenance/projects/ProjectsHeader.tsx
  client/src/pages/manager/maintenance/projects/ProjectsPage.tsx
Owners: @koveogestion/tech-leads

Update project data fetching and suggestion conversion logic
  .replit
  client/src/pages/manager/maintenance/projects/ProjectDashboardView.tsx
  client/src/pages/manager/maintenance/projects/ProjectDetailsPanel.tsx
  client/src/pages/manager/maintenance/projects/SuggestionsIntegration.tsx
  server/api/maintenance.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Update API endpoints for user buildings and local permissions
  .replit
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1758659264441_1758659264442.txt
  client/src/hooks/use-building-context.tsx
Owners: @koveogestion/tech-leads

Update project types to remove evaluation and add not sure option
  .replit
  client/src/components/maintenance/projects/ProjectForm.tsx
  client/src/pages/manager/maintenance/projects/ProjectsHeader.tsx
  server/api/maintenance.ts
  shared/schemas/maintenance.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Add ability to create new vendors directly from project forms
  client/src/components/maintenance/projects/ProjectForm.tsx
  client/src/components/maintenance/vendors/VendorForm.tsx
  client/src/components/maintenance/vendors/index.ts
  server/api/maintenance.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Refine the display and management of property projects
  client/src/pages/manager/maintenance/projects/ProjectsPage.tsx
Owners: @koveogestion/tech-leads

Introduce AI-generated project suggestions for proactive maintenance
  client/src/components/maintenance/auto-projects/AutoProjectCard.tsx
  client/src/components/maintenance/auto-projects/AutoProjectDialog.tsx
  client/src/components/maintenance/auto-projects/AutoProjectsSection.tsx
  client/src/components/maintenance/auto-projects/index.ts
  client/src/hooks/useAutoGeneratedProjects.ts
  client/src/pages/manager/maintenance/projects/ProjectsPage.tsx
  client/src/types/autoProjects.ts
  server/api/maintenance.ts
  shared/schemas/maintenance.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Improve inventory overview calculations for building elements
  .replit
Owners: @koveogestion/tech-leads

Introduce project workflow management and enhance auto-project creation
  .replit
  client/src/components/maintenance/auto-projects/AutoProjectDialog.tsx
  client/src/components/maintenance/projects/workflow/CompleteTab.tsx
  client/src/components/maintenance/projects/workflow/InProgressTab.tsx
  client/src/components/maintenance/projects/workflow/PlannedTab.tsx
  client/src/components/maintenance/projects/workflow/PostWorkTab.tsx
  client/src/components/maintenance/projects/workflow/PreWorkTab.tsx
  client/src/components/maintenance/projects/workflow/ProjectWorkflowModal.tsx
  client/src/components/maintenance/projects/workflow/SubmissionTab.tsx
  client/src/components/maintenance/projects/workflow/WorkflowTabNavigation.tsx
  client/src/components/maintenance/projects/workflow/index.ts
  client/src/hooks/useProjectWorkflow.ts
  client/src/pages/manager/maintenance/projects/ProjectsPage.tsx
  client/src/types/autoProjects.ts
  server/api/maintenance.ts
  server/services/project-payment-service.ts
  server/services/workflow-service.ts
  shared/schemas/maintenance.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Add ability to designate projects as quick planning-only projects
  .replit
  client/src/components/maintenance/projects/ProjectElements.tsx
  client/src/components/maintenance/projects/workflow/PostWorkTab.tsx
  server/api/maintenance.ts
  server/services/workflow-service.ts
  shared/schemas/maintenance.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Update icons used in the post-work tasks section
  client/src/components/maintenance/projects/workflow/PostWorkTab.tsx
Owners: @koveogestion/tech-leads

Improve application performance by implementing code splitting and lazy loading
  .replit
  client/src/App.tsx
  client/src/components/maintenance/auto-projects/lazy-components.tsx
  client/src/components/maintenance/inventory/lazy-components.tsx
  client/src/components/maintenance/projects/lazy-components.tsx
  client/src/components/maintenance/projects/workflow/ProjectWorkflowModal.tsx
  client/src/components/maintenance/projects/workflow/lazy-components.tsx
Owners: @koveogestion/tech-leads

Improve application performance by optimizing code splitting
  .replit
Owners: @koveogestion/tech-leads

Improve automatic project generation for building maintenance tasks
  .replit
  server/api/maintenance.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Add comprehensive maintenance suggestions based on element condition and age
  .replit
  server/services/maintenanceSuggestionService.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Improve project data management and element tracking
  .replit
Owners: @koveogestion/tech-leads

Update project creation form to streamline options and improve vendor selection
  .replit
  client/src/components/maintenance/projects/ProjectForm.tsx
  server/api/maintenance.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Update project creation form to improve vendor and submission handling
  .replit
  client/src/components/maintenance/projects/ProjectForm.tsx
Owners: @koveogestion/tech-leads

Improve project submission process by adding payment plans and preferred vendor options
  .replit
  client/src/components/maintenance/projects/workflow/PaymentPlanForm.tsx
  client/src/components/maintenance/projects/workflow/SubmissionTab.tsx
  client/src/hooks/useProjectWorkflow.ts
  server/api/maintenance.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Allow users to mark preferred submissions and manage payment plans
  .replit
  client/src/components/maintenance/projects/workflow/SubmissionTab.tsx
  client/src/hooks/useProjectWorkflow.ts
  server/api/maintenance.ts
  shared/schemas/maintenance.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Improve project workflow modal type safety and index exports
  attached_assets/image_1758672181086.png
  attached_assets/image_1758672291238.png
  attached_assets/image_1758672345935.png
  attached_assets/image_1758672384900.png
  client/src/components/maintenance/projects/workflow/ProjectWorkflowModal.tsx
  client/src/components/maintenance/projects/workflow/index.ts
Owners: @koveogestion/tech-leads

Update project creation window calendar to match inventory date input
  .replit
  client/src/components/maintenance/projects/ProjectForm.tsx
Owners: @koveogestion/tech-leads

Improve project creation by enforcing building ID and date validation
  .replit
  client/src/components/maintenance/projects/ProjectForm.tsx
  shared/schemas/maintenance.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Resolve build warnings by adjusting component import paths
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-7gSKNydv-js-53--1758673945105_1758673945105.txt
  attached_assets/image_1758673857339.png
  attached_assets/image_1758673933359.png
  client/src/components/maintenance/projects/workflow/index.ts
  client/src/pages/manager/maintenance/projects/ProjectsPage.tsx
Owners: @koveogestion/tech-leads

Update how new maintenance projects are created and stored
  server/api/maintenance.ts
Owners: @koveogestion/business-team

Improve project creation by fixing a controlled input issue
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-bTDHH-RD-js-53--1758675070479_1758675070479.txt
  attached_assets/image_1758675057151.png
Owners: @koveogestion/tech-leads

Improve the ability to create and manage projects within the platform
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-bTDHH-RD-js-53--1758675249770_1758675249770.txt
  attached_assets/image_1758675243870.png
Owners: @koveogestion/tech-leads

Add debug logging for project form and API interactions
  client/src/components/maintenance/projects/ProjectForm.tsx
  package-lock.json
  package.json
  server/api/maintenance.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Add debug logging to help identify the persistent issue
  attached_assets/image_1758676257543.png
Owners: @koveogestion/tech-leads

Improve handling of numeric project cost fields in the API
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-B01NpHfA-js-53--1758676262736_1758676262736.txt
  server/api/maintenance.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Improve project creation by correctly updating the displayed project list
  attached_assets/image_1758676730470.png
  client/src/components/maintenance/projects/ProjectForm.tsx
Owners: @koveogestion/tech-leads

Correct how project data is displayed by adjusting for backend response structure
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-Cqr-442n-js-53--1758677249634_1758677249634.txt
  attached_assets/image_1758677228873.png
  client/src/components/maintenance/projects/ProjectTable.tsx
  client/src/components/maintenance/projects/ProjectTimeline.tsx
  client/src/pages/manager/maintenance/projects/ProjectTableView.tsx
  client/src/pages/manager/maintenance/projects/ProjectTimelineView.tsx
Owners: @koveogestion/tech-leads

Improve project table layout and filtering functionality
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-CFgPeyVU-js-53--1758677848219_1758677848220.txt
  attached_assets/image_1758677715831.png
  attached_assets/image_1758677793737.png
  attached_assets/image_1758677911747.png
  client/src/components/maintenance/projects/ProjectTable.tsx
  client/src/pages/manager/maintenance/projects/ProjectTableView.tsx
  client/src/pages/manager/maintenance/projects/ProjectsPage.tsx
Owners: @koveogestion/tech-leads

Update project table to display view and edit buttons
  client/src/components/maintenance/projects/ProjectTable.tsx
Owners: @koveogestion/tech-leads

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team
