Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team

Restored to '6de8fa58431e1ea935283a1d4b7d483ef704b5e7'
  attached_assets/Pasted-use-auth-tsx-63-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756495237322_1756495237322.txt
  attached_assets/Pasted-use-auth-tsx-63-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756495494379_1756495494380.txt
  attached_assets/Pasted-use-auth-tsx-63-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756495900163_1756495900164.txt
  attached_assets/image_1756494904918.png
  attached_assets/image_1756495224316.png
  attached_assets/image_1756495500286.png
  attached_assets/image_1756495896512.png
  attached_assets/image_1756496192214.png
  attached_assets/image_1756496266746.png
  attached_assets/image_1756496397692.png
  client/src/components/common/DocumentManager.tsx
  client/src/lib/gcs.ts
  gcp-wif-config.json
  package-lock.json
  package.json
  server/api/cleanup.ts
  server/api/documents-upload.ts
  server/api/documents.ts
  server/config/index.ts
  server/index.ts
  server/lib/gcs.ts
  server/storage.ts
  shared/schema.ts
  shared/schemas/documents.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team, @koveogestion/database-admins

Add Google Cloud Storage integration to manage project documents
  package-lock.json
  package.json
Owners: @koveogestion/tech-leads

Add secure Google Cloud Storage integration using federated authentication
  src/lib/gcs.ts
Owners: @koveogestion/tech-leads

Add a unified document table with enhanced management features
  shared/schemas/documents.ts
Owners: @koveogestion/tech-leads

Add a feature to upload documents and store them securely in cloud storage
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Add ability to upload new documents with descriptions and visibility settings
  client/src/components/common/DocumentManager.tsx
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/Pasted-use-auth-tsx-63-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756497319901_1756497319902.txt
  attached_assets/image_1756497312074.png
Owners: @koveogestion/tech-leads

Replace document storage with a unified database system
  server/api/documents.ts
  server/optimized-db-storage.ts
  server/storage.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Improve document retrieval logic and remove outdated building document methods
  attached_assets/Pasted-use-auth-tsx-63-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756497802689_1756497802690.txt
  attached_assets/image_1756497798216.png
  server/api/documents.ts
  server/optimized-db-storage.ts
Owners: @koveogestion/tech-leads

Update and unify document management for all document types
  attached_assets/image_1756498136276.png
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Improve document deletion process with enhanced checks
  attached_assets/image_1756498276778.png
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Update database configuration to use development environment URL
  attached_assets/image_1756498407360.png
Owners: @koveogestion/tech-leads

Streamline document deletion and update logic for improved clarity
  attached_assets/Pasted-use-auth-tsx-63-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756498549285_1756498549286.txt
  attached_assets/image_1756498543378.png
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Update document upload functionality to use a single-step process
  attached_assets/image_1756498749316.png
  client/src/pages/manager/BuildingDocuments.tsx
  client/src/pages/manager/ResidenceDocuments.tsx
  client/src/pages/residents/ResidenceDocuments.tsx
Owners: @koveogestion/tech-leads

Update document type field for property and residence documents
  attached_assets/Pasted-use-auth-tsx-63-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756499099455_1756499099456.txt
  attached_assets/image_1756499095539.png
  client/src/pages/manager/BuildingDocuments.tsx
  client/src/pages/manager/ResidenceDocuments.tsx
  client/src/pages/residents/ResidenceDocuments.tsx
Owners: @koveogestion/tech-leads

Adjust Google Cloud integration for WIF authentication and project ID
  attached_assets/Pasted-dialog-tsx-38-Warning-Missing-Description-or-aria-describedby-undefined-for-DialogContent--1756499299682_1756499299682.txt
  attached_assets/image_1756499295302.png
  src/lib/gcs.ts
Owners: @koveogestion/tech-leads

Address unauthorized access issues affecting user authentication
  attached_assets/Pasted-use-auth-tsx-63-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756499552046_1756499552046.txt
  attached_assets/image_1756499544264.png
Owners: @koveogestion/tech-leads

Allow local file saving during development to simplify testing
  .gitignore
  .replit
  attached_assets/Pasted-ResidenceDocuments-tsx-266-POST-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picar-1756499760505_1756499760505.txt
  attached_assets/image_1756499752840.png
  server/api/documents.ts
  src/lib/gcs.ts
Owners: @koveogestion/tech-leads

Integrate Google Cloud Storage authentication for development environments
  .replit
  server/api/documents.ts
  src/lib/gcs.ts
Owners: @koveogestion/tech-leads

Improve document handling and Google Cloud authentication in development
  attached_assets/Pasted-use-auth-tsx-63-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756500337065_1756500337066.txt
  attached_assets/image_1756500325958.png
  attached_assets/image_1756500331311.png
  server/api/documents.ts
  src/lib/gcs.ts
Owners: @koveogestion/tech-leads

Improve document handling and user authentication robustness
  attached_assets/Pasted-use-auth-tsx-63-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756500625842_1756500625842.txt
  attached_assets/image_1756500622231.png
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/Pasted-dialog-tsx-38-Warning-Missing-Description-or-aria-describedby-undefined-for-DialogContent--1756500686907_1756500686908.txt
  attached_assets/image_1756500683705.png
Owners: @koveogestion/tech-leads

Restored to 'be9f70150ddc3fddc46aef561f853a0fa1bbc88b'
  attached_assets/Pasted-dialog-tsx-38-Warning-Missing-Description-or-aria-describedby-undefined-for-DialogContent--1756500686907_1756500686908.txt
  attached_assets/Pasted-use-auth-tsx-63-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756500337065_1756500337066.txt
  attached_assets/Pasted-use-auth-tsx-63-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756500625842_1756500625842.txt
  attached_assets/image_1756500325958.png
  attached_assets/image_1756500331311.png
  attached_assets/image_1756500622231.png
  attached_assets/image_1756500683705.png
  server/api/documents.ts
  src/lib/gcs.ts
Owners: @koveogestion/tech-leads

Improve document upload and management capabilities
  attached_assets/image_1756501034815.png
Owners: @koveogestion/tech-leads

Improve document upload functionality by handling multiple field names and adding local storage fallback
  server/api/documents.ts
  test.pdf
  uploads/general/38714a84-3feb-4631-a83f-cfb2ceadfe75-test.pdf
Owners: @koveogestion/tech-leads

Add ability to upload and manage documents for properties
  uploads/residences/e27ac924-8120-4904-a791-d1e9db544d58/a8b47650-3cb8-416c-9c0f-0dd5d691c694-Histoire.pdf
Owners: @koveogestion/tech-leads

Improve document visibility and access in cloud storage
  attached_assets/image_1756515489692.png
Owners: @koveogestion/tech-leads

Improve property listing search functionality for better user experience
  attached_assets/image_1756515652025.png
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1756515718783.png
Owners: @koveogestion/tech-leads

Add ability to create and edit simple text files
  client/src/components/common/DocumentManager.tsx
  client/src/components/common/TextFileEditor.tsx
Owners: @koveogestion/tech-leads

Add ability to view documents by clicking on document cards
  client/src/components/common/DocumentManager.tsx
Owners: @koveogestion/tech-leads

Add ability to view text-based documents within the application
  attached_assets/image_1756516007018.png
  client/src/pages/residents/ResidenceDocuments.tsx
Owners: @koveogestion/tech-leads

Refactor document pages to use a common document manager component
  client/src/pages/manager/BuildingDocuments.tsx
  client/src/pages/manager/ResidenceDocuments.tsx
  client/src/pages/residents/BuildingDocuments.tsx
  client/src/pages/residents/ResidenceDocuments.tsx
Owners: @koveogestion/tech-leads

Update document fetching to handle API response structure
  attached_assets/image_1756516172043.png
  client/src/components/common/DocumentManager.tsx
  client/src/pages/manager/BuildingDocuments.tsx
  client/src/pages/manager/ResidenceDocuments.tsx
  client/src/pages/residents/BuildingDocuments.tsx
  client/src/pages/residents/ResidenceDocuments.tsx
Owners: @koveogestion/tech-leads

Improve document viewing and display residence names on pages
  attached_assets/image_1756516354961.png
  client/src/components/common/DocumentManager.tsx
  uploads/residences/e27ac924-8120-4904-a791-d1e9db544d58/a98c4c2f-0f2b-402f-a894-f5533340cd01-2ieme_facture_permis.pdf
Owners: @koveogestion/tech-leads

Improve document display and fetching logic for residences
  attached_assets/image_1756516574342.png
  client/src/components/common/DocumentManager.tsx
  uploads/residences/e27ac924-8120-4904-a791-d1e9db544d58/201abee2-c446-4307-8e77-14012415f0d4-fichier texte.txt
Owners: @koveogestion/tech-leads

Improve document management display and API response handling
  attached_assets/image_1756516726775.png
  client/src/components/common/DocumentManager.tsx
Owners: @koveogestion/tech-leads

Update document display to use unit number consistently
  client/src/components/common/DocumentManager.tsx
  client/src/pages/residents/ResidenceDocuments.tsx
Owners: @koveogestion/tech-leads

Update script to properly remove orphaned residence records
  server/scripts/cleanup-orphaned-records.ts
Owners: @koveogestion/tech-leads

Display a message when a building or residence is not found
  attached_assets/image_1756516964846.png
  client/src/components/common/DocumentManager.tsx
Owners: @koveogestion/tech-leads
