Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

Cover the project period-shift preview with a unit test (Task #317)
  server/api/apply-project-year-overrides.ts
  server/api/budgets.ts
  tests/unit/budget/apply-project-year-overrides.test.ts
Owners: @koveogestion/tech-leads

Published your App
  attached_assets/Description_des_Documents_1776935436028.xlsx
  attached_assets/Description_des_Documents_1776935514691.xlsx
Owners: @koveogestion/tech-leads

Security scan completed: Security scan (10 new vulnerability(ies)).
  threat_model.md
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1776935883031.png
Owners: @koveogestion/tech-leads

Fix application errors by improving startup logging and route handling
  .replit
  server/routes.ts
  server/vite.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Fix Task #312: Object Storage and Document Binding Security Vulnerabilities
  server/api/demands.ts
  server/api/documents.ts
  server/objectStorage.ts
  server/routes.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Task #310 — automated tests for moving a project between financial years
  client/src/pages/dashboard/components/OverviewProjectCard.tsx
  client/src/pages/dashboard/overview.tsx
  client/src/pages/manager/budget/components/BudgetProjectCard.tsx
  client/src/pages/manager/budget/index.tsx
  tests/unit/budget/budget-project-card-shift.test.tsx
  tests/unit/budget/overview-project-shift-local-only.test.tsx
  tests/unit/budget/use-budget-projects-pending-year.test.tsx
Owners: @koveogestion/tech-leads

Task #318: Manager-Only Document Visibility Flag
  client/src/components/common/ModularDocumentPageWrapper.tsx
  client/src/components/document-management/DocumentCard.tsx
  client/src/components/document-management/DocumentCreateForm.tsx
  client/src/components/document-management/DocumentEditForm.tsx
  client/src/lib/i18n.ts
  migrations/schema.ts
  server/api/documents.ts
  server/api/optimized-documents.ts
  server/db/queries/optimized-document-queries.ts
  server/optimized-db-storage.ts
  server/storage.ts
  shared/schemas/documents.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Add manager-only filter toggle to document list views
  client/src/components/common/ModularDocumentPageWrapper.tsx
  client/src/lib/i18n.ts
  server/api/documents.ts
  server/db/queries/optimized-document-queries.ts
Owners: @koveogestion/tech-leads

Task #302: Expand MCP coverage for projects
  server/mcp/server.ts
Owners: @koveogestion/tech-leads

Task #301: Expand MCP coverage for inventory page
  server/mcp/server.ts
Owners: @koveogestion/tech-leads

Task #196: Expand MCP coverage for demands
  server/mcp/server.ts
  tests/unit/api/mcp-demand-tools.test.ts
Owners: @koveogestion/tech-leads

Task #195: Expand MCP coverage for the budget page
  replit.md
  server/api/budgets.ts
  server/mcp/budget-tools.ts
  server/mcp/server.ts
Owners: @koveogestion/tech-leads

Task #194: Expand MCP common-spaces coverage
  server/api/common-spaces-rules.ts
  server/api/common-spaces.ts
  server/mcp/server.ts
Owners: @koveogestion/tech-leads

Task #324: Document Tags system for Koveo Gestion
  client/src/App.tsx
  client/src/components/common/ModularDocumentPageWrapper.tsx
  client/src/components/document-management/DocumentCreateForm.tsx
  client/src/components/document-management/DocumentEditForm.tsx
  client/src/components/document-tags/TagPicker.tsx
  client/src/config/navigation.ts
  client/src/lib/i18n.ts
  client/src/pages/manager/document-tags.tsx
  replit.md
  server/api/document-tags-seed.ts
  server/api/document-tags.ts
  server/api/documents.ts
  server/mcp/server.ts
  server/routes.ts
  shared/schemas/documents.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Task #321: Add manager-only document visibility integration tests
  tests/integration/document-manager-only-visibility.test.ts
Owners: @koveogestion/tech-leads

Auto-suggest document tags on upload
  client/src/components/document-management/DocumentCreateForm.tsx
  client/src/components/document-tags/TagPicker.tsx
  client/src/lib/tag-suggestions.ts
Owners: @koveogestion/tech-leads

Task #291: Add real-Postgres integration tests for the common-space MCP tools.
  tests/integration/mcp/common-spaces-tools.test.ts
Owners: @koveogestion/tech-leads

Task #331: Surface document tags for residents/tenants and demand attachments
  client/src/components/demands/demand-details-popup.tsx
  server/mcp/server.ts
Owners: @koveogestion/tech-leads

Git commit prior to merge
  .replit
Owners: @koveogestion/tech-leads

Suggest tags in the document edit dialog
  client/src/components/document-management/DocumentEditForm.tsx
Owners: @koveogestion/tech-leads

Task #289: MCP tools to manage per-user common-space booking restrictions and time limits
  server/mcp/server.ts
Owners: @koveogestion/tech-leads

Translate document tag filter labels
  client/src/components/common/ModularDocumentPageWrapper.tsx
  client/src/lib/i18n.ts
Owners: @koveogestion/tech-leads

Translate the bulk document deletion failure toast
  client/src/components/common/ModularDocumentPageWrapper.tsx
  client/src/lib/i18n.ts
Owners: @koveogestion/tech-leads

Task #338: AI bill analysis populates every bill form field
  client/src/components/bill-management/GeminiBillExtractor.tsx
  client/src/components/bill-management/ModularBillForm.tsx
  client/src/components/bill-management/bill-form-schema.ts
  client/src/lib/i18n.ts
  server/api/bills.ts
  server/services/consolidated-ai-service.ts
  shared/schemas/financial.ts
Owners: @koveogestion/tech-leads

Task #334: Use AI to suggest tags from actual document content
  client/src/components/document-management/DocumentCreateForm.tsx
  package-lock.json
  package.json
  server/api/ai-document-analysis.ts
  server/services/consolidated-ai-service.ts
Owners: @koveogestion/tech-leads

Task #333: Cover manager-only documents in upload and edit flows
  server/api/documents.ts
  server/api/optimized-documents.ts
  tests/integration/document-manager-only-visibility.test.ts
Owners: @koveogestion/tech-leads

Task #342: Suggest tags from Word and Excel uploads too
  server/services/consolidated-ai-service.ts
Owners: @koveogestion/tech-leads

Cache AI tag suggestions so repeat uploads are instant (Task #343)
  server/api/ai-document-analysis.ts
Owners: @koveogestion/tech-leads

Task #352: Suggest tags for plain text and CSV uploads
  client/src/components/document-management/DocumentCreateForm.tsx
  server/services/consolidated-ai-service.ts
Owners: @koveogestion/tech-leads

Show vendor invoice number and issue date in bill list/detail (Task #346)
  client/src/pages/dashboard/overview.tsx
  client/src/pages/manager/bills.tsx
  server/api/bills.ts
Owners: @koveogestion/tech-leads

Share AI tag suggestion cache across users via Postgres
  scripts/post-merge.sh
  server/api/ai-document-analysis.ts
  server/services/ai-suggestion-cache.ts
  shared/schemas/infrastructure.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Test repeat document uploads skip the AI tag-suggestion call
  server/tests/ai-document-tag-suggestion.test.ts
Owners: @koveogestion/tech-leads

Add automated tests for DOCX/XLSX AI tag suggestion path
  server/tests/suggest-document-tags-office.test.ts
Owners: @koveogestion/tech-leads

Move AI suggestion cache cleanup to background maintenance job
  server/jobs/maintenanceJobs.ts
  server/services/ai-suggestion-cache.ts
Owners: @koveogestion/business-team, @koveogestion/tech-leads

Task #356: Filter bills by issue-date range
  client/src/lib/i18n.ts
  client/src/pages/manager/bills.tsx
  server/api/bills.ts
Owners: @koveogestion/tech-leads

Task #347: Backfill bill data for existing AI-extracted bills
  replit.md
  scripts/backfill-bill-ai-fields.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Add tests covering AI bill pre-fill (task #348)
  client/src/components/bill-management/GeminiBillExtractor.tsx
  tests/unit/bill-management/ModularBillForm-prefill.test.tsx
  tests/unit/bill-management/convertBillResponseToFormData.test.ts
Owners: @koveogestion/tech-leads

Task #345: Filter manager-only documents out of the resident edit path
  server/api/documents.ts
  server/optimized-db-storage.ts
  tests/integration/document-manager-only-visibility.test.ts
Owners: @koveogestion/tech-leads

Task #360: Add tests covering the shared AI suggestion cache
  server/tests/ai-suggestion-cache.test.ts
Owners: @koveogestion/tech-leads

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team
