Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

Complete all unit tests and document testing fixes
  TEST_FIX_SUMMARY.md
Owners: @koveogestion/tech-leads

Fix all unit and integration tests and improve budget calculations
  TEST_FIX_SUMMARY.md
Owners: @koveogestion/tech-leads

Update testing strategy for improved reliability and speed
  ARCHITECT_RECOMMENDATIONS.md
Owners: @koveogestion/tech-leads

Add comprehensive integration tests for the bills API functionality
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/03/billgenerationservice_03a7bfa9ae0ef64cae1ec0b349dd0662
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/03/billgenerationservice_03a7bfa9ae0ef64cae1ec0b349dd0662.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/0c/billsapiroutestest_0c7ebda301b5d01f9d10f9916a7c6b02
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/0c/billsapiroutestest_0c7ebda301b5d01f9d10f9916a7c6b02.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/12/billsapiroutestest_129e5e18b1cd2db0042f39457b5b4478
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/12/billsapiroutestest_129e5e18b1cd2db0042f39457b5b4478.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/13/billsapiroutestest_1342e4c4b5b5faa0088da46977a78a2f
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/13/billsapiroutestest_1342e4c4b5b5faa0088da46977a78a2f.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/22/fileUpload_22cc76691efcf85ff00057e0bd2ac991
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/22/fileUpload_22cc76691efcf85ff00057e0bd2ac991.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/3c/billsapiroutestest_3c982acb23f5a0c77201a4d7a9b7d120
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/3c/billsapiroutestest_3c982acb23f5a0c77201a4d7a9b7d120.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/60/billsapiroutestest_60872cb8bd12350d6123586f05fa33ff
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/60/billsapiroutestest_60872cb8bd12350d6123586f05fa33ff.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/76/billsapiroutestest_76161d118038839ab01524bf0d3a55b9
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/76/billsapiroutestest_76161d118038839ab01524bf0d3a55b9.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/b6/bills_b6648bf6134bccc4ec6c181f027a6eff
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/b6/bills_b6648bf6134bccc4ec6c181f027a6eff.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/de/billsapiroutestest_de0e533c9dd06bce1f4f1aa03db333a9
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/de/billsapiroutestest_de0e533c9dd06bce1f4f1aa03db333a9.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/ff/storage_ffacffa7112f1e190209ee24d4989c6f
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/ff/storage_ffacffa7112f1e190209ee24d4989c6f.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  tests/integration/bills-api-routes.test.ts
Owners: @koveogestion/tech-leads

Update testing infrastructure and file upload capabilities
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/39/billsapiroutestest_39d0b2ecd54c02fecd3db162b210bdbe
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/39/billsapiroutestest_39d0b2ecd54c02fecd3db162b210bdbe.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/8f/fileUpload_8fc1b9bf589af6fa2fe53694e3047331
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/8f/fileUpload_8fc1b9bf589af6fa2fe53694e3047331.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/9b/storage_9bce3977820720a7d39e508ddb630717
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/9b/storage_9bce3977820720a7d39e508ddb630717.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/a2/bills_a27b5bcdb1104e375095893f66bf022c
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/a2/bills_a27b5bcdb1104e375095893f66bf022c.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/ac/billgenerationservice_acb6d78bec6b98fc812b8d3727c20ffb
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/ac/billgenerationservice_acb6d78bec6b98fc812b8d3727c20ffb.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d6/inflationCalculationstest_d601240a145b15cd70b4d6bd57d4b0da
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d6/inflationCalculationstest_d601240a145b15cd70b4d6bd57d4b0da.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  FINAL_TEST_FIX_SUMMARY.md
Owners: @koveogestion/tech-leads

Update integration tests to cover login functionality
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
Owners: @koveogestion/tech-leads

Update and fix tests to align with production code
  TEST_FIXES_COMPREHENSIVE_SUMMARY.md
Owners: @koveogestion/tech-leads

Clarify test coverage and identify architectural issues
  TEST_REALITY_CHECK.md
Owners: @koveogestion/tech-leads

Update data schemas and push changes to development and production databases
  server/api/feature-management.ts
  server/storage.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Update bill categories and feature management logic
  PRODUCTION_DB_UPDATE.md
  server/api/feature-management.ts
  shared/schemas/financial.ts
Owners: @koveogestion/tech-leads

Filter user list to show only users in the manager's organization
  attached_assets/image_1760559384082.png
  attached_assets/image_1760559602238.png
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Update user management to pre-select manager's organizations
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Allow managers to assign buildings and residences to other users
  attached_assets/image_1760561580702.png
  client/src/components/user-tabs/UserBuildingsTab.tsx
Owners: @koveogestion/tech-leads

Allow managers to assign buildings and residences from their organizations
  client/src/components/user-tabs/UserBuildingsTab.tsx
  client/src/components/user-tabs/UserResidencesTab.tsx
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Restrict building and residence assignments for managers
  client/src/components/user-tabs/UserBuildingsTab.tsx
  client/src/components/user-tabs/UserResidencesTab.tsx
Owners: @koveogestion/tech-leads

Restrict building assignments to only those accessible by managers
  attached_assets/image_1760562062010.png
Owners: @koveogestion/tech-leads

Improve user access permissions for managing buildings and residences
  client/src/components/user-tabs/UserBuildingsTab.tsx
  client/src/components/user-tabs/UserResidencesTab.tsx
Owners: @koveogestion/tech-leads

Improve building assignment logic for users and managers
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-user-management-DS-8ybM-1760562318886_1760562318886.txt
  attached_assets/image_1760562314570.png
  client/src/components/user-tabs/UserBuildingsTab.tsx
Owners: @koveogestion/tech-leads

Improve assignment functionality for better user management
  attached_assets/image_1760562504231.png
Owners: @koveogestion/tech-leads

Add debug logs to user editing form to diagnose assignment issues
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Add debug logging to user management to diagnose access and assignment issues
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-user-management-DPXCdRk-1760562684413_1760562684414.txt
Owners: @koveogestion/tech-leads

Improve user management page by adding detailed logging
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-user-management-DPXCdRk-1760562694834_1760562694834.txt
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-user-management-DPXCdRk-1760562716697_1760562716698.txt
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Update user management data fetching to use Fetch API
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-user-management-B2SH8Ne-1760562869280_1760562869280.txt
  attached_assets/image_1760562864154.png
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Show organization names alongside building and residence data
  attached_assets/image_1760563044759.png
  client/src/components/user-tabs/UserBuildingsTab.tsx
  client/src/components/user-tabs/UserResidencesTab.tsx
  server/api/buildings.ts
Owners: @koveogestion/tech-leads

Improve user building assignment logic and remove debug logs
  client/src/components/user-tabs/UserBuildingsTab.tsx
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Filter buildings to exclude common spaces when none are assigned
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-common-spaces-stats-C07-1760563767638_1760563767638.txt
  server/api/users.ts
Owners: @koveogestion/tech-leads

Update default selection for common space to include 'all spaces' option
  client/src/pages/manager/common-spaces-stats.tsx
Owners: @koveogestion/tech-leads

Add time limits and user status to common spaces management
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-common-spaces-stats-D-c-1760564340548_1760564340548.txt
  attached_assets/image_1760564324464.png
  attached_assets/image_1760564336378.png
  shared/schemas/property.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team, @koveogestion/quebec-compliance

Add default time limits to common spaces and show user limits on stats page
  client/src/pages/manager/common-spaces-stats.tsx
Owners: @koveogestion/tech-leads

Add user blocking and custom time limits to common space statistics
  client/src/pages/manager/common-spaces-stats.tsx
  server/api/common-spaces.ts
Owners: @koveogestion/tech-leads

Add time limits and user status to common spaces
  server/api/common-spaces.ts
Owners: @koveogestion/tech-leads

Improve test mocks and assertions for common spaces page
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/2e/commonspacesstatstest_2ed31467eb98a03d72f3279fb69d3473
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/2e/commonspacesstatstest_2ed31467eb98a03d72f3279fb69d3473.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/6f/commonspacesstatstest_6f5f76ea0fb614674b4a278ba756a675
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/6f/commonspacesstatstest_6f5f76ea0fb614674b4a278ba756a675.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/7a/commonspacesstatstest_7a55c028fb8a0ffc7117789c042d3608
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/7a/commonspacesstatstest_7a55c028fb8a0ffc7117789c042d3608.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/8d/commonspacesstatstest_8d3a0f5c3f3ae117107e9477424f16c6
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/8d/commonspacesstatstest_8d3a0f5c3f3ae117107e9477424f16c6.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/af/commonspacesstatstest_af8fbf3890760114e507a0d19d529c65
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/af/commonspacesstatstest_af8fbf3890760114e507a0d19d529c65.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  tests/unit/pages/common-spaces-stats.test.tsx
Owners: @koveogestion/tech-leads

Add default time limits for common space usage
  DATABASE_MIGRATION_SUMMARY.md
Owners: @koveogestion/tech-leads

Update database schemas for financial year and project cost aggregation
  attached_assets/Screenshot_20251015-185950_1760569202335.png
Owners: @koveogestion/tech-leads

Improve chart readability by adjusting spacing and legend placement
  client/src/pages/manager/common-spaces-stats.tsx
Owners: @koveogestion/tech-leads

Add contextual help system with a floating button and overlay
  client/src/App.tsx
  client/src/components/help/HelpButton.tsx
  client/src/components/help/HelpOverlay.tsx
  client/src/config/help-content.ts
  client/src/contexts/HelpContext.tsx
Owners: @koveogestion/tech-leads

Add a contextual help system to guide users through the application
  replit.md
Owners: @koveogestion/tech-leads

Improve common spaces statistics page layout and help overlay
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-common-spaces-stats-B36-1760571910692_1760571910692.txt
  attached_assets/image_1760571916335.png
  client/src/components/help/HelpOverlay.tsx
  client/src/pages/manager/common-spaces-stats.tsx
Owners: @koveogestion/tech-leads

Add interactive element highlighting and tooltips for help system
  client/src/App.tsx
  client/src/components/help/HelpHighlighter.tsx
  client/src/contexts/HelpContext.tsx
Owners: @koveogestion/tech-leads

Improve user guidance by highlighting interactive elements on hover
  client/src/components/help/HelpHighlighter.tsx
Owners: @koveogestion/tech-leads

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team
