Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team

Task #803: Surface AI residence suggestion in bulk-import picker
  client/src/pages/admin/bulk-document-import.tsx
  replit.md
  server/api/bulk-import.ts
Owners: @koveogestion/tech-leads

test(bulk-import): cover residence picker flow (Task #802)
  tests/unit/api/bulk-import-set-residence.test.ts
  tests/unit/components/bulk-document-import-residence-picker.test.tsx
  tests/unit/services/bulk-import-branching-subcategory.test.ts
Owners: @koveogestion/tech-leads

Task #799 follow-up: Strip password hash from all user API responses
  __mocks__/server/storage.ts
  jest.setup.simple.ts
  server/api/users.ts
  server/auth.ts
  server/db/queries/user-queries.ts
  server/optimized-db-storage.ts
  server/storage.ts
  tests/unit/api/user-password-not-leaked.test.ts
  tests/unit/budget/budget-project-card-shift.test.tsx
  tests/unit/components/bulk-document-import-excluded-visibility.test.tsx
Owners: @koveogestion/database-admins, @koveogestion/tech-leads, @koveogestion/security-team

Task #796: tests for bulk group reassign feature
  tests/integration/bulk-import-rest-endpoints.test.ts
  tests/unit/components/bulk-document-import-bulk-reassign.test.tsx
Owners: @koveogestion/tech-leads

Git commit prior to merge
  attached_assets/image_1777119814200.png
  attached_assets/image_1777119869978.png
  attached_assets/image_1777119918376.png
  attached_assets/image_1777119976801.png
  attached_assets/image_1777120115616.png
Owners: @koveogestion/tech-leads

Wire upload-filename Latin-1 round-trip vitest into Fast/Full unit-test CI workflows
  scripts/run-unit-tests.sh
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Make backend integration tests runnable locally so regressions surface earlier (Task #885)
  .staging/bulk-import/6ec079f8-7144-45c1-baab-6e3aca91a77e/80948e17dae735f9730bdbaa4e046d359e6ad09f62a92f2a70deafae98f076d7_a.pdf
  jest.setup.simple.ts
  jest.setup.ts
Owners: @koveogestion/tech-leads

Fix 404 on bulk import screening step (Task #895)
  client/src/pages/admin/bulk-document-import.tsx
Owners: @koveogestion/tech-leads

Add visual improvements for AI suggestions and file handling
  attached_assets/image_1777120126814.png
Owners: @koveogestion/tech-leads

Git commit prior to merge
  attached_assets/image_1777120253361.png
Owners: @koveogestion/tech-leads

Task #903: Expand all Branching rows by default
  client/src/pages/admin/bulk-document-import.tsx
Owners: @koveogestion/tech-leads

Fix Retry buttons all spinning at once on bulk import
  client/src/pages/admin/bulk-document-import.tsx
Owners: @koveogestion/tech-leads

Git commit prior to merge
  attached_assets/image_1777120418248.png
  attached_assets/image_1777120543578.png
  attached_assets/image_1777120795243.png
Owners: @koveogestion/tech-leads

Fix Gantt drag date revert caused by timezone shifting in maintenance project PATCH route
  server/api/maintenance.ts
  tests/unit/components/gantt-chart-drag-save.test.tsx
Owners: @koveogestion/business-team, @koveogestion/tech-leads

feat: Add "+ Create new element" action to building elements dropdown in PlannedTab
  client/src/components/maintenance/projects/workflow/PlannedTab.tsx
  client/src/components/ui/building-elements-multi-select.tsx
  client/src/lib/i18n.ts
Owners: @koveogestion/tech-leads

Git commit prior to merge
  attached_assets/image_1777121082556.png
Owners: @koveogestion/tech-leads

Task #905: Inline picker on Reject — no separate "Choose manually" button
  client/src/pages/admin/bulk-document-import.tsx
  tests/unit/components/bulk-document-import-sorting-decision.test.tsx
Owners: @koveogestion/tech-leads

Task #901: Hide excluded files in Branching step (sorting internal step)
  client/src/pages/admin/bulk-document-import.tsx
  tests/unit/components/bulk-document-import-detail-panel.test.tsx
Owners: @koveogestion/tech-leads

Task #900: Add "Accept all" button on the Branching step of bulk document import
  client/src/pages/admin/bulk-document-import.tsx
  server/api/bulk-import.ts
Owners: @koveogestion/tech-leads

Git commit prior to merge
  attached_assets/image_1777122179334.png
Owners: @koveogestion/tech-leads

Task #898: Speed up bulk import Branching step
  client/src/pages/admin/bulk-document-import.tsx
  server/api/bulk-import.ts
  tests/unit/api/bulk-import-run-all-concurrency.test.ts
  tests/unit/api/bulk-import-trivially-keep.test.ts
  tests/unit/api/bulk-import-with-item-timeout.test.ts
Owners: @koveogestion/tech-leads

Restart the application server after a crash
  .staging/bulk-import/6741bd2e-6466-4315-8d98-c2e6eeba2a59/merged_9419dcaff290a691fab66f282ff41f9ea12b3db2b7891359da9a56a1bad4cf38_Etats_financiers_2021_13_NoCentris_28525705.pdf
  attached_assets/image_1777122312958.png
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/Pasted-budget-organization-22134aad-736b-4481-a8bf-bea77b7a17d_1777122548931.txt
Owners: @koveogestion/tech-leads

Improve error logging to capture underlying database issues
  server/utils/logger.ts
Owners: @koveogestion/tech-leads

Task #904: Add tests proving Retry button isolation per row on Bulk Document Import
  tests/unit/components/bulk-document-import-retry-isolation.test.tsx
Owners: @koveogestion/tech-leads

Add "Add merge" button to Branching step of Bulk Document Import wizard
  client/src/pages/admin/bulk-document-import.tsx
Owners: @koveogestion/tech-leads

Published your App
  .staging/bulk-import/6741bd2e-6466-4315-8d98-c2e6eeba2a59/1784d4ed22a6cc00f83ed2065dfcd98932ba0c5a81f28ea15ff17872a0b293db_Etats_financiers_2021_13_NoCentris_28525705.pdf
  .staging/bulk-import/6741bd2e-6466-4315-8d98-c2e6eeba2a59/1b641036fcce88407ee53a6fb967914aab9d713adeeebd387c732a49985c6dff_ProcÃ¨s verbal octobre 2023.pdf
  .staging/bulk-import/6741bd2e-6466-4315-8d98-c2e6eeba2a59/25966b8a75495e9983bdf329286818f2d6ca237001133f6b2c3862440ef8e271_Reglements_7_NoCentris_28525705.pdf
  .staging/bulk-import/6741bd2e-6466-4315-8d98-c2e6eeba2a59/28b099c8ef8d7f54ce04b775baebb3c09e05fbe3a533b9eb9b07424678ccd45c_Declaration_de_copropriete_6_NoCentris_28525705.pdf
  .staging/bulk-import/6741bd2e-6466-4315-8d98-c2e6eeba2a59/43d9b7d4a3d03f48702620c7408ac8ce2f622351920219f64958c7b1c7a4c75c_evaluation_trienal.pdf
  .staging/bulk-import/6741bd2e-6466-4315-8d98-c2e6eeba2a59/4d0ff327080b5f2cee78fc99febabd9486298f064692f949f01a1a72d04296b0_Centris_28525705.pdf
  .staging/bulk-import/6741bd2e-6466-4315-8d98-c2e6eeba2a59/66a2958ae27c9181df714fb94128971343e7dc3503519b6e735b026df30f833d_Assurance_571_mte_pionnier_terrebonne_2023_2024.pdf
  .staging/bulk-import/6741bd2e-6466-4315-8d98-c2e6eeba2a59/6d7954acce70288cc54b043ca2d6a121af6fa77ffdd98e6a462ed6dd5059c978_563-583 Mnt des Pionniers_Fonds de prÃ©voyance.pdf
  .staging/bulk-import/6741bd2e-6466-4315-8d98-c2e6eeba2a59/8ccebfaea35594b400f5e5d456fc18b2a905939a1ae6e344f59d8fd18665c65e_Ã©tats financiers 30 septembre 2023.pdf
  .staging/bulk-import/6741bd2e-6466-4315-8d98-c2e6eeba2a59/92b0dafa202337190676d5d6efca4be75483e4ef36aa96967ced2231dba65189_assurance_2025-2026.pdf
  .staging/bulk-import/6741bd2e-6466-4315-8d98-c2e6eeba2a59/9de2edcebed4a42161741e6efeb7d7b0f1bb647ab0000fff02cc34425f1b07db_Budget prÃ©visionnel 2023-2024.pdf
  .staging/bulk-import/6741bd2e-6466-4315-8d98-c2e6eeba2a59/a5f059f2b647b3163f9b7d1ac62bafac7f640b02254ae8b6fea20b119061bf35_DRCOP_annexes_8_NoCentris_28525705.pdf
  .staging/bulk-import/6741bd2e-6466-4315-8d98-c2e6eeba2a59/ab6a59fe119894a8cca802dc035e6985f9c6866305342f71e9f59c3d99cc1a4e_Etats_financiers_2022_14_NoCentris_28525705.pdf
  .staging/bulk-import/6741bd2e-6466-4315-8d98-c2e6eeba2a59/babfbc53c207d44b647981449ad4f193eb4d056a501502b27648952abcac7fb8_Proces_verbal_ordre_du_jour_2021_10_NoCentris_28525705.pdf
  .staging/bulk-import/6741bd2e-6466-4315-8d98-c2e6eeba2a59/c28e94eccca9905a0dda247895fff166a120357665bb97447e4307373449bfa1_Etats_financiers_2023_preliminaire_15_NoCentris_28525705.pdf
  .staging/bulk-import/6741bd2e-6466-4315-8d98-c2e6eeba2a59/ced8a54be167c08bc19b1405c61bedeb1c3f5912007eb49f103a57b7155b7836_ordre du jour rÃ©union 28 octobre 2023.pdf
  .staging/bulk-import/6741bd2e-6466-4315-8d98-c2e6eeba2a59/d5e8fb7ba526440ff34f654c904d0b89916706cc54ee446ae9a21b6e4d7b7ae7_Assurance_571_mte_pionnier_terrebonne_2025-2026.pdf
  .staging/bulk-import/6741bd2e-6466-4315-8d98-c2e6eeba2a59/dd30f6d7a2e9638cdd6a84fc2c5822e4856537a5185b3ea39ed2524eb8f5dba1_Proces_verbal_ordre_du_jour_2022_11_NoCentris_28525705.pdf
  .staging/bulk-import/6741bd2e-6466-4315-8d98-c2e6eeba2a59/ef82c992f497e576b53aadd40d704318dc0794ae88bbd07bec1e08a659c558d6_Assurance_571_mte_pionnier_terrebonne_2024_2025.pdf
  .staging/bulk-import/6741bd2e-6466-4315-8d98-c2e6eeba2a59/f10cdb3f887411c7f2c64a050d81b9621a885d7174f2fb7f426543bb95475f67_Certificat_de_localisation_04_10_2023_17_NoCentris_28525705.pdf
  .staging/bulk-import/6741bd2e-6466-4315-8d98-c2e6eeba2a59/merged_9419dcaff290a691fab66f282ff41f9ea12b3db2b7891359da9a56a1bad4cf38_Etats_financiers_2021_13_NoCentris_28525705.pdf
Owners: @koveogestion/tech-leads

Update database schema to match current application requirements
  attached_assets/Pasted-bills-organization-22134aad-736b-4481-a8bf-bea77b7a17d1_1777123679198.txt
Owners: @koveogestion/tech-leads

Task #927: Group merge siblings into one card on the Branching step
  client/src/pages/admin/bulk-document-import.tsx
Owners: @koveogestion/tech-leads

Task #929: Show merge group count on lead's badge
  client/src/pages/admin/bulk-document-import.tsx
Owners: @koveogestion/tech-leads

Git commit prior to merge
  attached_assets/image_1777125114516.png
  attached_assets/image_1777125259837.png
Owners: @koveogestion/tech-leads

Task #928: tests for nested merge-sibling rendering on Branching step
  tests/unit/components/bulk-document-import-sorting-decision.test.tsx
Owners: @koveogestion/tech-leads

Fix crash when deleting non-quick project from WorkflowSkipConfigDialog (#919)
  client/src/components/maintenance/projects/workflow/ProjectWorkflowModal.tsx
  client/src/hooks/useProjectWorkflow.ts
  client/src/pages/manager/budget/BudgetProjectDialogs.tsx
  client/src/pages/manager/budget/index.tsx
  server/api/maintenance.ts
  server/tests/maintenance-project-delete.test.ts
  tests/unit/budget/workflow-delete-project.test.tsx
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Fix 500 when accepting branching decision (Task #924) — full spec
  client/src/pages/admin/bulk-document-import.tsx
  server/api/bulk-import.ts
  tests/unit/api/bulk-import-set-sorting-decision.test.ts
  tests/unit/components/bulk-document-import-sorting-decision.test.tsx
Owners: @koveogestion/tech-leads

Gantt: render project-name labels column on the card surface
  client/src/components/GanttChart.tsx
Owners: @koveogestion/tech-leads

Center Gantt drag overlay on the grey bar (task #934)
  client/src/components/GanttChart.tsx
Owners: @koveogestion/tech-leads

Task #936: Accept PRODUCTION_DATABASE_URL alias and make prod migration target visible
  PRODUCTION_UPDATE_GUIDE.md
  drizzle.production.config.ts
  replit.md
  scripts/run-migrations-url.ts
  scripts/run-migrations.ts
  tests/unit/run-migrations-resolve-url.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Task #938: Let the running server pick up PRODUCTION_DATABASE_URL too
  jest.setup.ts
  server/auth.ts
  server/config/index.ts
  server/db.ts
  server/index.ts
  tests/unit/server-config-resolve-url.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/api-team

test(gantt): real-Recharts regression guard for drag overlay alignment (task #937)
  client/src/components/GanttChart.tsx
  tests/unit/components/gantt-chart-real-recharts-alignment.test.tsx
Owners: @koveogestion/tech-leads

Task #941: Stop legacy diagnostic endpoints from leaking DATABASE_URL
  server/api/documents.ts
  server/routes.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team
