Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

Enable administrators to view all user assignments for organizations and residences
  client/src/pages/manager/user-management.tsx
  server/api/users.ts
Owners: @koveogestion/tech-leads

Allow managers to view users within their organizations
  attached_assets/image_1756778061542.png
  client/src/pages/manager/user-management.tsx
  server/api/users.ts
Owners: @koveogestion/tech-leads

Restrict user visibility based on organizational roles
  attached_assets/image_1756778167467.png
Owners: @koveogestion/tech-leads

Add detailed debugging logs for user assignment data
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Add logging for user organization and residence API endpoints
  attached_assets/image_1756778413087.png
  server/api/users.ts
Owners: @koveogestion/tech-leads

Add debugging logs to user management page for better issue diagnosis
  attached_assets/image_1756778496810.png
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Improve user management by enriching user data with assignments
  attached_assets/image_1756778623168.png
  client/src/pages/manager/user-management.tsx
  server/api/users.ts
Owners: @koveogestion/tech-leads

Add enhanced logging to user data for improved debugging
  .replit
  attached_assets/image_1756778832253.png
  client/src/pages/manager/user-management.tsx
  server/api/users.ts
Owners: @koveogestion/tech-leads

Update user data fetching to include assignments for better management
  attached_assets/image_1756779104290.png
  client/src/pages/manager/user-management.tsx
  shared/schema.ts
  shared/schemas/core.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Improve user management by logging user assignment data
  attached_assets/image_1756779367762.png
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Add new placeholder image for future use
  attached_assets/image_1756779453029.png
Owners: @koveogestion/tech-leads

Add debugging logs and cache clearing for user data
  attached_assets/image_1756779489836.png
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Ensure user data with assignments is always up-to-date
  attached_assets/image_1756779598245.png
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Improve user management display by handling optional array properties
  attached_assets/image_1756779752820.png
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Update cookie settings for better session management
  attached_assets/image_1756779870758.png
  cookie.txt
Owners: @koveogestion/tech-leads

Add debugging logs for user data in the management interface
  attached_assets/image_1756779932766.png
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Improve user data fetching and cache management for accuracy
  attached_assets/image_1756780000640.png
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Remove user assignment data from user management displays
  attached_assets/image_1756780127103.png
  client/src/pages/manager/user-management.tsx
  server/api/users.ts
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1756810108374.png
Owners: @koveogestion/tech-leads

Display user assignments to organizations and properties
  server/api/users.ts
  server/optimized-db-storage.ts
  server/storage.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Improve user data retrieval with updated database caching
  attached_assets/image_1756810390336.png
  server/optimized-db-storage.ts
Owners: @koveogestion/tech-leads

Improve user data filtering and add detailed debugging logs
  attached_assets/image_1756810610242.png
  client/src/pages/manager/user-management.tsx
  server/api/users.ts
  server/optimized-db-storage.ts
Owners: @koveogestion/tech-leads

Add debugging logs to verify user organization data
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Improve filtering logic for property documents to enhance data accuracy
  attached_assets/image_1756811170258.png
Owners: @koveogestion/tech-leads

Improve user management by clearing cache and testing API
  attached_assets/image_1756811286217.png
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Update user data fetching to improve performance and reliability
  attached_assets/image_1756811417002.png
  client/src/pages/manager/user-management.tsx
  server/auth.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Improve session handling and debug redirect behavior
  attached_assets/image_1756811605109.png
  client/src/hooks/use-auth.tsx
  server/auth.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Update session management for improved security and longer user sessions
  client/src/hooks/use-auth.tsx
  server/auth.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Add debugging logs to display user assignment data
  attached_assets/image_1756812078202.png
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Address session instability and improve data retrieval efficiency
  attached_assets/image_1756814161431.png
  server/auth.ts
  server/optimized-db-storage.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Resolve session issues and improve user data display
  attached_assets/image_1756823803724.png
  server/auth.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Update session handling and improve login feedback
  server/auth.ts
Owners: @koveogestion/security-team

Saved your changes before starting work
  attached_assets/image_1756824084706.png
Owners: @koveogestion/tech-leads

Update user management page with a rebuilt user list table
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Add debugging logs for user data visibility
  attached_assets/image_1756825704058.png
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Improve debugging by adding API data logging to user management
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Improve user data visibility for debugging purposes
  attached_assets/image_1756826103856.png
  client/src/pages/manager/user-management.tsx
  server/api/users.ts
Owners: @koveogestion/tech-leads

Improve document preview functionality for better user experience
  attached_assets/image_1756826312648.png
Owners: @koveogestion/tech-leads

Improve data fetching and debugging for user management
  attached_assets/image_1756826408959.png
  client/src/pages/manager/user-management.tsx
  server/api/users.ts
Owners: @koveogestion/tech-leads

Improve user management debugging with detailed console logs
  attached_assets/image_1756827881719.png
  attached_assets/image_1756827896645.png
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team
