Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

Disable demo organization features due to authentication issues
  attached_assets/Pasted-2025-08-26-19-54-24-77-b5a0eafb-User-internalQuery-undefined-2025-08-26-19-54-24-77-b5a0eafb--1756252666018_1756252666019.txt
  server/routes-minimal.ts
  server/services/demo-management-service.ts
Owners: @koveogestion/tech-leads

Add password reset functionality for users
  attached_assets/image_1756253152767.png
Owners: @koveogestion/tech-leads

Improve login validation to require an 8-character password
  attached_assets/Pasted-api-auth-user-1-Failed-to-load-resource-the-server-responded-with-a-status-of-401-Unauthorized--1756253199449_1756253199449.txt
Owners: @koveogestion/tech-leads

Remove all demo management routes and related initialization logic
  attached_assets/Pasted-2025-08-26-20-04-05-27-95e06c02-User-internalQuery-undefined-2025-08-26-20-04-05-27-95e06c02--1756253441616_1756253441617.txt
  server/routes-minimal.ts
Owners: @koveogestion/tech-leads

Allow booking common spaces by fixing how opening hours are handled
  attached_assets/Pasted-common-spaces-tsx-197-Uncaught-TypeError-space-openingHours-find-is-not-a-function-at-isDayAva-1756253849091_1756253849091.txt
  attached_assets/image_1756253841724.png
  client/src/pages/residents/common-spaces.tsx
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/Pasted-2025-08-26-21-01-49-27-68a2eff4-User-length-75-2025-08-26-21-01-49-27-68a2eff4-User-severit-1756256637843_1756256637843.txt
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/Pasted-2025-08-27-16-06-15-65-68a2eff4-User-at-async-duplicateDemoToOpenDemo-file-home-runner-worksp-1756325377698_1756325377699.txt
Owners: @koveogestion/tech-leads

Add demo organizations and their addresses to the platform
  server/services/demo-management-service.ts
Owners: @koveogestion/tech-leads

Add initial database indexing and setup for core application features
  attached_assets/Pasted-2025-08-27-16-22-53-55-68a2eff4-User-8-22-53-PM-express-User-relationship-endpoints-registere-1756326184919_1756326184919.txt
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/Pasted-2025-08-27-16-23-03-55-68a2eff4-User-at-process-processTicksAndRejections-node-internal-process--1756326213729_1756326213730.txt
Owners: @koveogestion/tech-leads

Disable comprehensive demo synchronization functionality
  attached_assets/image_1756326311089.png
  attached_assets/image_1756326493695.png
  scripts/duplicate-demo-to-open-demo.ts
  scripts/test-demo-system.ts
  tests/demo-organizations.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Improve health check functionality and adjust demo data handling
  scripts/test-demo-system.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Improve data retrieval by updating Drizzle ORM query syntax
  attached_assets/Pasted-2025-08-27-16-35-20-14-d9e73ce3-User-params-Demo-1-2025-08-27-16-35-20-14-d9e73ce3-Us-1756326951019_1756326951019.txt
  server/index.js
  server/services/demo-management-service.ts
Owners: @koveogestion/tech-leads

Adjust database optimization to prevent deployment timeouts
  attached_assets/Pasted-2025-08-27-16-41-10-85-c6a2b093-User-Applied-CREATE-INDEX-CONCURRENTLY-IF-NOT-EXISTS-idx-actio-1756327419575_1756327419575.txt
  attached_assets/image_1756327401071.png
  server/db-storage.ts
  server/index.js
  server/index.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Optimize database by creating indexes once instead of on every deployment
  scripts/setup-database-indexes.ts
  server/database-optimization.ts
  server/index.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads, @koveogestion/api-team

Separate development and production server ports for better environment management
  server/index.ts
Owners: @koveogestion/api-team, @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/Pasted-2025-08-27T20-55-10Z-info-Deployment-758d6e12-3aac-479b-be4e-9038a1ca3189-2025-08-27T20-55-10Z-inf-1756328505644_1756328505644.txt
  attached_assets/image_1756328468740.png
  attached_assets/image_1756328475491.png
  attached_assets/image_1756328489054.png
Owners: @koveogestion/tech-leads

Update database operations and server configuration
  server/db-storage.ts
  server/index.js
  server/index.ts
  server/init-database-optimizations.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Update server to correctly launch production build
  server/index.js
Owners: @koveogestion/tech-leads

Update build and start scripts to use bundled server output
  package.json
Owners: @koveogestion/tech-leads

Improve static file serving and asset caching for production builds
  attached_assets/image_1756329383225.png
  server/index.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Move production static file serving to a dedicated file
  server/index.ts
  server/routes-minimal.ts
Owners: @koveogestion/api-team, @koveogestion/tech-leads

Fix issues preventing users from logging into the system
  attached_assets/Pasted-index-c0Z1k2Cf-js-178-GET-https-koveo-gestion-com-api-auth-user-401-Unauthorized-queryFn-ind-1756330956487_1756330956488.txt
  attached_assets/image_1756330963255.png
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1756331063487.png
  attached_assets/image_1756331115554.png
Owners: @koveogestion/tech-leads

Add Replit domains to allowed origins for production deployments
  server/middleware/security-middleware.ts
  server/routes-minimal.ts
Owners: @koveogestion/security-team, @koveogestion/tech-leads

Remove duplicate organizations to ensure correct data display
  attached_assets/Pasted-login-15-GET-https-replit-com-public-js-replit-dev-banner-js-net-ERR-BLOCKED-BY-RESPONSE-NotSame-1756332381024_1756332381025.txt
  attached_assets/image_1756332387693.png
Owners: @koveogestion/tech-leads

Fix issues with login and organization data integrity
  attached_assets/Pasted-login-15-GET-https-replit-com-public-js-replit-dev-banner-js-net-ERR-BLOCKED-BY-RESPONSE-NotSame-1756332775927_1756332775927.txt
  attached_assets/image_1756332794726.png
  scripts/fix-production-organizations.sql
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Improve login resilience by handling organization access errors
  server/auth.ts
Owners: @koveogestion/security-team

Saved your changes before starting work
  attached_assets/image_1756333267383.png
Owners: @koveogestion/tech-leads

Improve login security and session handling for production environments
  cookies.txt
  server/auth.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Improve demo data creation script for cleaner data removal
  attached_assets/image_1756333554833.png
  scripts/create-comprehensive-demo.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Improve server startup and production readiness checks
  package.json
  server/index.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Update the start script with a trailing comma
  package.json
Owners: @koveogestion/tech-leads

Update build and start scripts for production deployment
  package.json
Owners: @koveogestion/tech-leads

Update start script to support environment variable for port
  package.json
Owners: @koveogestion/tech-leads

Update build process to use Vite for frontend and esbuild for backend
  package.json
Owners: @koveogestion/tech-leads

Improve authentication and cookie handling for secure user sessions
  attached_assets/image_1756334859576.png
  server/auth.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Fix login issues causing unauthorized and internal server errors
  attached_assets/image_1756335349925.png
Owners: @koveogestion/tech-leads

Update database connection to use a shared pool and manage SSL settings
  attached_assets/image_1756335544394.png
  server/auth.ts
  server/db.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Consolidate database connections to improve performance and stability
  attached_assets/Pasted-2025-08-27-19-03-15-51-f61e9593-User-at-async-file-home-runner-workspace-node-modules-drizzle--1756335854103_1756335854104.txt
  attached_assets/Pasted-login-15-GET-https-replit-com-public-js-replit-dev-banner-js-net-ERR-BLOCKED-BY-RESPONSE-NotSame-1756335804626_1756335804626.txt
  attached_assets/image_1756335773768.png
  attached_assets/image_1756335800957.png
  server/auth.ts
  server/auth/invitation-rbac.ts
  server/db-storage.ts
  server/optimized-db-storage.ts
  server/rbac.ts
  server/services/demo-management-service.ts
  server/services/metric-validation.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team
