Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team

Improve database setup by excluding relations to prevent production errors
  server/db.ts
  server/index.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Improve startup speed by skipping database optimizations in production
  server/index.ts
Owners: @koveogestion/api-team, @koveogestion/tech-leads

Prevent heavy background operations from running in production environments
  attached_assets/Pasted-2025-08-25-23-20-30-47-89543cca-User-Refreshed-mv-financial-summary-2025-08-25-23-20-30-47-8-1756178499921_1756178499922.txt
  server/index.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Update user synchronization logic to fetch individual user data
  attached_assets/Pasted-2025-08-25-23-25-59-00-aa175290-User-at-Object-startActiveSpan-file-home-runner-workspace-nod-1756178780336_1756178780336.txt
  server/services/comprehensive-demo-sync-service.ts
Owners: @koveogestion/tech-leads

Remove financial transaction tracking and related data synchronization
  attached_assets/Pasted-2025-08-25-23-30-43-31-82f76b3f-User-internalQuery-undefined-2025-08-25-23-30-43-31-82f76b3f--1756179075962_1756179075963.txt
  server/db.ts
  server/services/comprehensive-demo-sync-service.ts
Owners: @koveogestion/tech-leads

Improve startup process by ensuring demo organizations are configured
  attached_assets/Pasted-2025-08-25-23-37-27-77-82f76b3f-User-Storage-cleanup-scheduler-started-runs-every-6-hours-20-1756179477142_1756179477142.txt
Owners: @koveogestion/tech-leads

Improve background initialization for demo data
  attached_assets/image_1756179574591.png
  server/routes-minimal.ts
Owners: @koveogestion/tech-leads

Add deployment artifact for production release
  attached_assets/Screenshot_20250825-234759_1756180089260.png
Owners: @koveogestion/tech-leads

Add visual aid for platform functionality
  attached_assets/Screenshot_20250825-234842_1756180130263.png
Owners: @koveogestion/tech-leads

Improve application startup to prioritize immediate health checks
  attached_assets/Screenshot_20250825-234912_1756180169496.png
  server/health-only.ts
  server/index.ts
  server/routes-minimal.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Address deployment issues by improving health checks and data cleanup
  server/api/organizations.ts
  server/index.ts
  server/services/comprehensive-demo-sync-service.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Enable full application initialization in production environments
  attached_assets/image_1756200864302.png
  server/index.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Make the application accessible for regular users and improve health checks
  server/index.ts
Owners: @koveogestion/api-team, @koveogestion/tech-leads

Simplify server health checks and routing for improved performance
  attached_assets/image_1756201102803.png
  server/index.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Improve deployment stability and prevent startup timeouts
  server/index.ts
  server/scripts/cleanup-orphans.ts
Owners: @koveogestion/api-team, @koveogestion/tech-leads

Ensure demo organizations exist for production deployment
  attached_assets/Pasted-2025-08-26-05-54-40-76-bb8d457f-User-9-54-40-AM-express-Residence-routes-registered-2025-08--1756202112103_1756202112104.txt
  server/services/demo-management-service.ts
Owners: @koveogestion/tech-leads

Improve data retrieval speed by adding database indexes and views
  attached_assets/Pasted-2025-08-26-05-58-10-46-bb8d457f-User-Applied-CREATE-INDEX-CONCURRENTLY-IF-NOT-EXISTS-idx-maint-1756202303491_1756202303492.txt
  attached_assets/image_1756202257980.png
Owners: @koveogestion/tech-leads

Add a visually engaging illustration to the platform's assets
  attached_assets/image_1756202364814.png
Owners: @koveogestion/tech-leads

Introduce Gemini AI to power intelligent property management workflows
  attached_assets/image_1756202406528.png
Owners: @koveogestion/tech-leads

Add visual documentation for an issue
  attached_assets/image_1756202577483.png
Owners: @koveogestion/tech-leads

Add images to showcase platform features and user interface
  attached_assets/image_1756203069237.png
  attached_assets/image_1756203084373.png
Owners: @koveogestion/tech-leads

Improve demo data creation by cleaning existing records first
  attached_assets/image_1756203286653.png
  scripts/create-comprehensive-demo.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Ensure all application routes and background tasks are properly initialized
  attached_assets/Pasted-2025-08-26-06-24-14-23-7c6d6569-User-10-24-14-AM-express-Demand-routes-registered-2025-08-26-1756203961251_1756203961251.txt
  attached_assets/image_1756203939662.png
Owners: @koveogestion/tech-leads

Make user accounts unique by adding a number to duplicate usernames
  attached_assets/Pasted-2025-08-26-06-34-14-11-ca424250-User-true-2025-08-26-06-34-14-11-ca424250-User-2025-08-26-1756204483130_1756204483130.txt
  attached_assets/image_1756204403996.png
  attached_assets/image_1756204411474.png
  server/services/comprehensive-demo-sync-service.ts
Owners: @koveogestion/tech-leads

Remove all references to the money flow feature
  attached_assets/image_1756205153206.png
  server/api/money-flow.ts
  server/index.ts
  server/jobs/index.ts
  server/jobs/money_flow_job.ts
  server/routes-minimal.ts
  server/services/money-flow-automation.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Improve server response speed for deployment health checks
  server/health-check.ts
  server/index.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Optimize server startup by deferring database and other heavy imports
  server/index.ts
Owners: @koveogestion/api-team, @koveogestion/tech-leads

Speed up server health checks and streamline deployment
  server/health-check.ts
  server/index.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Improve server startup to load full features in development
  server/health-check.ts
  server/index.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Skip non-essential background tasks during development initialization
  server/index.ts
Owners: @koveogestion/api-team, @koveogestion/tech-leads

Improve error handling to gracefully manage missing middleware
  attached_assets/image_1756207297139.png
  server/index.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Update startup sequence to prevent background job timeouts
  attached_assets/image_1756207401119.png
  server/index.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Improve deployment reliability with faster health checks
  server/health-check.ts
  server/index.ts
  server/ultra-health.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Streamline server startup for faster deployment health checks
  server/index.ts
  server/minimal-server.ts
Owners: @koveogestion/api-team, @koveogestion/tech-leads

Improve property management by adding a new AI-powered feature
  attached_assets/image_1756208456944.png
Owners: @koveogestion/tech-leads

Add new image assets to support current features
  attached_assets/image_1756208548533.png
Owners: @koveogestion/tech-leads

Enable frontend development server and update application loading
  server/index.ts
Owners: @koveogestion/api-team, @koveogestion/tech-leads

Enable login by processing request data before setting up routes
  server/index.ts
  server/routes-minimal.ts
Owners: @koveogestion/api-team, @koveogestion/tech-leads

Fix login attempts that failed due to authorization issues
  attached_assets/Pasted-use-auth-tsx-57-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756209149858_1756209149858.txt
  attached_assets/image_1756209145318.png
  cookies.txt
Owners: @koveogestion/tech-leads

Fix login issues preventing users from accessing their accounts
  attached_assets/Pasted-use-auth-tsx-57-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756209284610_1756209284610.txt
  attached_assets/image_1756209278770.png
Owners: @koveogestion/tech-leads
