Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team

Task #940: Route one-off scripts through resolveDatabaseUrl()
  scripts/advanced-database-migration.ts
  scripts/backfill-bill-ai-fields.ts
  scripts/create-admin-user.ts
  scripts/create-demo-environment.ts
  scripts/dev-db-check.ts
  scripts/migrate-document-storage.ts
  scripts/migrate-documents.ts
  scripts/normalize-stored-filenames.ts
  scripts/reconcile-documents.ts
  scripts/run-migrations-url.ts
  scripts/setup-marketing-demo-data.ts
  scripts/test-database-sync.ts
  server/auth/invitation-rbac.ts
  server/scripts/cleanup-orphans.ts
  tests/unit/run-migrations-resolve-url.test.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads, @koveogestion/security-team

Task #939: Add post-deploy migration verifier for Koveo Gestion
  PRODUCTION_UPDATE_GUIDE.md
  scripts/run-migrations-verifier-format.ts
  scripts/run-migrations.ts
  server/api/auto/index.ts
  server/api/auto/migration-status.ts
  server/index.ts
  tests/unit/run-migrations-verify.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team, @koveogestion/api-team

Git commit prior to merge
  attached_assets/image_1777148011757.png
Owners: @koveogestion/tech-leads

Task #945: reconcile live-DB drift for 0014_invitations_residence_building_check.sql
  migrations/0014_invitations_residence_building_check.sql
  server/index.ts
Owners: @koveogestion/database-admins, @koveogestion/api-team, @koveogestion/tech-leads

Translate the manager document-tags page (task #950)
  client/src/lib/i18n.ts
  client/src/pages/manager/document-tags.tsx
Owners: @koveogestion/tech-leads

Catch ghost schema_migrations rows in the post-deploy verifier (task #948)
  scripts/run-migrations-verifier-format.ts
  scripts/run-migrations.ts
  server/api/auto/migration-status.ts
  tests/unit/run-migrations-verify.test.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Git commit prior to merge
  server/tests/fixtures/french-upload.pdf
Owners: @koveogestion/tech-leads

Fix merge Accept 500 regression in bulk import (Task #957)
  server/api/bulk-import.ts
  tests/unit/api/bulk-import-set-sorting-decision.test.ts
Owners: @koveogestion/tech-leads

test(gantt): real-Recharts guard for overlay horizontal drift (#942)
  tests/unit/components/gantt-chart-real-recharts-horizontal-alignment.test.tsx
Owners: @koveogestion/tech-leads

Add real-Chromium e2e test for Gantt drag-overlay alignment (Task #943)
  tests/e2e/budget-gantt-overlay-alignment.e2e.test.ts
Owners: @koveogestion/tech-leads

Task #955: Stop AI from merging same-type docs from different periods
  server/api/bulk-import.ts
  server/services/bulk-import-analyzer.ts
  tests/unit/api/bulk-import-trivially-keep.test.ts
  tests/unit/services/bulk-import-analyzer.test.ts
Owners: @koveogestion/tech-leads

Git commit prior to merge
  attached_assets/image_1777150223170.png
Owners: @koveogestion/tech-leads

Task #956: Hide "In this merge" sibling list when admin overrides merge to Keep/Split
  client/src/pages/admin/bulk-document-import.tsx
  tests/unit/components/bulk-document-import-sorting-decision.test.tsx
Owners: @koveogestion/tech-leads

Give the seeded MCP manager building access (Task #963)
  server/mcp/seed-mcp-data.ts
Owners: @koveogestion/tech-leads

Task #972: Auto-fix legacy cross-org demand rows and add drift healthcheck
  migrations/0015_fix_cross_org_demand_residence_ids.sql
  server/index.ts
  server/tests/cross-org-demand-fix-migration.test.ts
Owners: @koveogestion/database-admins, @koveogestion/api-team, @koveogestion/tech-leads

Git commit prior to merge
  attached_assets/image_1777150498519.png
Owners: @koveogestion/tech-leads

Align Gantt blue editing overlay with the grey bar (task #949)
  client/src/components/GanttChart.tsx
  tests/unit/components/gantt-chart-horizontal-alignment.test.tsx
Owners: @koveogestion/tech-leads

feat: Branded maintenance page during deploys (task #973)
  scripts/check-maintenance-page.ts
  server/health-check.ts
  server/index.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads, @koveogestion/api-team

Show AI-detected period chip on the Sorting step (Task #960)
  client/src/pages/admin/bulk-document-import.tsx
  server/api/bulk-import.ts
Owners: @koveogestion/tech-leads

feat: Cap title/description length on create_communication, create_demand, create_maintenance_request (Task #976)
  migrations/0015_cap_title_description_lengths.sql
  server/mcp/server.ts
  shared/schemas/operations.ts
  tests/unit/api/demand-length-limits.test.ts
  tests/unit/api/maintenance-request-length-limits.test.ts
Owners: @koveogestion/database-admins, @koveogestion/tech-leads, @koveogestion/business-team

Task #961: Add end-to-end test that different-period docs are never auto-merged
  tests/integration/bulk-import-different-period-no-merge.test.ts
Owners: @koveogestion/tech-leads

Align Gantt drag overlay with grey bar (task #954)
  client/src/components/GanttChart.tsx
  tests/unit/components/gantt-chart-real-recharts-horizontal-alignment.test.tsx
Owners: @koveogestion/tech-leads

Git commit prior to merge
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-bu_1777151491177.txt
  attached_assets/image_1777151484409.png
Owners: @koveogestion/tech-leads

Backfill manager building access for pre-fix MCP environments (Task #968)
  server/mcp/seed-mcp-data.ts
Owners: @koveogestion/tech-leads

Update test file for PDF processing to ensure proper data handling
  server/tests/fixtures/french-upload.pdf
Owners: @koveogestion/tech-leads

fix(maintenance): prevent out-of-order history events from clobbering lastInspectionDate (#971)
  migrations/0015_fix_last_inspection_date.sql
  server/api/maintenance.ts
  server/tests/maintenance-last-inspection-date.test.ts
  tests/unit/api/maintenance-last-inspection-date.test.ts
Owners: @koveogestion/database-admins, @koveogestion/business-team

Git commit prior to merge
  server/tests/fixtures/french-upload.pdf
Owners: @koveogestion/tech-leads

Fix fr-CA date shift in element history table (task #970)
  client/src/App.tsx
  client/src/components/maintenance/inventory/HistoryTable.tsx
  client/src/lib/i18n.ts
  client/src/pages/manager/maintenance/inventory/ElementHistoryPage.tsx
  tests/e2e/element-history-date-fr-ca.e2e.test.ts
Owners: @koveogestion/tech-leads

Task #986: Make Financial Year Start required on every building
  migrations/0016_buildings_financial_year_start_not_null.sql
  server/api/budgets.ts
  server/api/buildings/operations.ts
  server/mcp/budget-tools.ts
  shared/schemas/property.ts
Owners: @koveogestion/database-admins, @koveogestion/tech-leads, @koveogestion/business-team, @koveogestion/quebec-compliance

Task #964: Lock down user serializer and audit past password leaks
  .semgrep.yml
  docs/security/user-password-leak-audit.md
  server/db/queries/user-queries.ts
  server/tests/user-serializer-http.test.ts
  tests/security/user-password-leak-audit.test.ts
Owners: @koveogestion/tech-leads

feat: Add "My Residences" profile widget on the Settings page (Task #979)
  client/src/components/profile-residences.tsx
  client/src/lib/i18n.ts
  client/src/pages/settings/settings.tsx
  server/api/residences.ts
  server/tests/user-residences-profile.test.ts
  shared/schemas/property.ts
  tests/unit/components/profile-residences.test.tsx
Owners: @koveogestion/tech-leads, @koveogestion/business-team, @koveogestion/quebec-compliance

Task #977: Restore list_bills after schema drift regression
  .github/workflows/schema-drift-check.yml
  migrations/0016_bills_schema_drift.sql
Owners: @koveogestion/devops-team, @koveogestion/tech-leads, @koveogestion/database-admins

Task #980: Enable assume_user on staging only and document the QA harness
  .replit
  docs/MCP_STAGING_QA_HARNESS.md
  docs/RBAC_SYSTEM.md
  docs/references/DEVELOPMENT_WORKFLOW.md
  server/mcp/index.ts
  server/mcp/server.ts
  server/utils/feature-flags.ts
  tests/unit/api/mcp-assume-user.test.ts
  tests/unit/utils/feature-flags.test.ts
Owners: @koveogestion/tech-leads

feat: stop manager-only nav links from flashing for tenants on slow networks
  __mocks__/@/hooks/use-auth.tsx
  client/src/components/layout/sidebar.tsx
  client/src/hooks/use-auth.tsx
  tests/e2e/nav-tenant-flash.e2e.test.ts
Owners: @koveogestion/tech-leads

Show period chip in Screening step (task #996)
  client/src/pages/admin/bulk-document-import.tsx
Owners: @koveogestion/tech-leads

Task #987: Audit edits to element history events
  client/src/components/maintenance/inventory/HistoryTable.tsx
  migrations/0016_element_history_audit_log.sql
  replit.md
  server/api/maintenance.ts
  server/mcp/server.ts
  server/tests/mcp-inventory-integration.test.ts
  shared/schemas/maintenance.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins, @koveogestion/business-team

Task #997: Inline edit AI period hint on Sorting rows
  client/src/pages/admin/bulk-document-import.tsx
  server/api/bulk-import.ts
Owners: @koveogestion/tech-leads

Fix fr-CA date-shift bug in maintenance inventory and project components
  client/src/components/maintenance/inventory/ElementCard.tsx
  client/src/components/maintenance/inventory/ElementHistoryForm.tsx
  client/src/components/maintenance/inventory/ElementTable.tsx
  client/src/components/maintenance/projects/ProjectCard.tsx
  client/src/components/maintenance/projects/ProjectTimeline.tsx
Owners: @koveogestion/tech-leads

Show element maintenance history inside the element detail view (task #993)
  client/src/components/maintenance/inventory/ElementForm.tsx
  client/src/lib/i18n.ts
Owners: @koveogestion/tech-leads

Task #1004: Clean up legacy bills columns from the migration chain
  migrations/0017_bills_legacy_column_cleanup.sql
Owners: @koveogestion/database-admins
