Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

Consolidate document management into a unified system
  server/api/documents.ts
  shared/schema.ts
  shared/schemas/documents.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Refine document retrieval and creation with type safety
  attached_assets/Pasted-index-DHHS-gqx-js-178-GET-https-koveo-gestion-com-api-auth-user-401-Unauthorized-queryFn-ind-1756756288904_1756756288904.txt
  attached_assets/image_1756756284611.png
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Address user session expiration and document retrieval errors
  attached_assets/Pasted-index-DHHS-gqx-js-178-GET-https-koveo-gestion-com-api-auth-user-401-Unauthorized-queryFn-ind-1756756704519_1756756704519.txt
  attached_assets/image_1756756698537.png
Owners: @koveogestion/tech-leads

Update document handling to use the correct GCS path and improve API error logging
  attached_assets/Pasted-index-DHHS-gqx-js-178-GET-https-koveo-gestion-com-api-auth-user-401-Unauthorized-queryFn-ind-1756757095359_1756757095359.txt
  attached_assets/image_1756757073679.png
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Fix login issues by ensuring proper authentication credentials
  attached_assets/Pasted-index-DHHS-gqx-js-178-GET-https-koveo-gestion-com-api-auth-user-401-Unauthorized-queryFn-ind-1756757411635_1756757411635.txt
  attached_assets/image_1756757407837.png
Owners: @koveogestion/tech-leads

Fix login issue and clear cookies for a fresh start
  attached_assets/image_1756757763296.png
  cookies.txt
Owners: @koveogestion/tech-leads

Update storage to use optimized database features
  attached_assets/image_1756758170490.png
  attached_assets/image_1756758273686.png
  attached_assets/image_1756758571312.png
  server/storage.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Saved your changes before starting work
  attached_assets/Pasted-index-DHHS-gqx-js-178-GET-https-koveo-gestion-com-api-auth-user-401-Unauthorized-queryFn-ind-1756759205548_1756759205548.txt
  attached_assets/image_1756759201439.png
Owners: @koveogestion/tech-leads

Fix document upload issues by switching storage implementation
  PRODUCTION_DEPLOYMENT_GUIDE.md
  scripts/deploy-production-fix.sh
  server/db-storage.ts
  server/storage.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team, @koveogestion/database-admins

Add image asset for project documentation
  attached_assets/image_1756759848121.png
Owners: @koveogestion/tech-leads

Add new image to asset library for broader visual content
  attached_assets/image_1756759928169.png
Owners: @koveogestion/tech-leads

Add an image asset to the project to enhance visual content
  attached_assets/image_1756760010055.png
Owners: @koveogestion/tech-leads

Improve document management by integrating AI for analysis
  attached_assets/image_1756760069488.png
  attached_assets/image_1756760077650.png
  attached_assets/image_1756760083566.png
Owners: @koveogestion/tech-leads

Improve database schema for resource types
  attached_assets/image_1756760133164.png
  shared/schemas/core.ts
  tests/security/database-permissions.test.ts
Owners: @koveogestion/tech-leads

Improve document management system with flexible storage and retrieval
  attached_assets/image_1756760263422.png
Owners: @koveogestion/tech-leads

Fix document upload errors by using a stable storage system
  SAFE_PRODUCTION_DEPLOYMENT.md
  attached_assets/image_1756760364788.png
  attached_assets/image_1756760380976.png
  scripts/deploy-safe-hotfix.sh
  shared/schemas/core.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Add demo roles to user role types for production environments
  scripts/safe-production-update.sql
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Improve document management by enhancing cloud storage integration
  attached_assets/image_1756760754642.png
Owners: @koveogestion/tech-leads

Remove the owner role from the system and update database schemas
  scripts/remove-unused-owner-role.sql
  shared/schemas/core.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Deploy database schema changes to the production environment
  drizzle.production.config.ts
Owners: @koveogestion/tech-leads

Update database schema to add unique constraints and resolve conflicts
  attached_assets/Pasted--workspace-npm-run-db-push-koveo-gestion-1-0-0-db-push-npx-drizzle-kit-push-No-config-p-1756761843458_1756761843459.txt
Owners: @koveogestion/tech-leads

Fix errors preventing users from accessing documents and uploading files
  attached_assets/Pasted-index-DHHS-gqx-js-178-GET-https-koveo-gestion-com-api-auth-user-401-Unauthorized-queryFn-ind-1756761988875_1756761988875.txt
  attached_assets/image_1756761953868.png
  attached_assets/image_1756761984305.png
Owners: @koveogestion/tech-leads

Update database schema references for invitation audit logs
  attached_assets/image_1756762216842.png
  server/db-storage.ts
Owners: @koveogestion/tech-leads

Update user role definitions and data retrieval for property pillars
  attached_assets/image_1756762594217.png
  server/db-storage.ts
Owners: @koveogestion/tech-leads

Add detailed logging to aid in debugging document upload issues
  attached_assets/Pasted-index-DHHS-gqx-js-178-GET-https-koveo-gestion-com-api-auth-user-401-Unauthorized-queryFn-ind-1756763244020_1756763244021.txt
  attached_assets/image_1756763220696.png
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Enhance document API logging for improved error diagnostics
  attached_assets/Pasted-index-DHHS-gqx-js-178-GET-https-koveo-gestion-com-api-auth-user-401-Unauthorized-queryFn-ind-1756763653653_1756763653654.txt
  attached_assets/image_1756763639751.png
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Improve logging and error handling for document retrieval
  attached_assets/Pasted-index-DHHS-gqx-js-178-GET-https-koveo-gestion-com-api-auth-user-401-Unauthorized-queryFn-ind-1756764016044_1756764016045.txt
  attached_assets/image_1756764012223.png
  attached_assets/image_1756764042689.png
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Improve server debugging and add new diagnostic endpoints
  attached_assets/Pasted-index-DHHS-gqx-js-178-GET-https-koveo-gestion-com-api-auth-user-401-Unauthorized-queryFn-ind-1756764412355_1756764412355.txt
  attached_assets/image_1756764407198.png
  server/index.ts
  server/routes.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Update database schemas and storage logic for development pillars
  attached_assets/Pasted-index-DHHS-gqx-js-178-GET-https-koveo-gestion-com-api-auth-user-401-Unauthorized-queryFn-ind-1756764901877_1756764901877.txt
  attached_assets/image_1756764897460.png
  server/db-storage.ts
  server/routes.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Fix error that occurs when fetching documents for a residence
  attached_assets/Pasted-DocumentManager-DF0bOko1-js-1-GET-https-koveo-gestion-com-api-documents-residenceId-5d23de5b-ba37-1756765331290_1756765331290.txt
  attached_assets/image_1756765327326.png
Owners: @koveogestion/tech-leads

Add support for multiple document storage options
  attached_assets/image_1756765480691.png
Owners: @koveogestion/tech-leads

Resolve issues with user authentication and document retrieval failures
  attached_assets/Pasted-index-DHHS-gqx-js-178-GET-https-koveo-gestion-com-api-auth-user-401-Unauthorized-queryFn-ind-1756766114455_1756766114456.txt
  attached_assets/image_1756766109350.png
Owners: @koveogestion/tech-leads

Update existing residence documents to ensure accurate data retrieval
  attached_assets/image_1756766707400.png
Owners: @koveogestion/tech-leads

Improve document preview functionality for better user experience
  attached_assets/image_1756767333291.png
  attached_assets/image_1756767346646.png
Owners: @koveogestion/tech-leads

Improve document retrieval by ensuring correct residence ID is used
  attached_assets/Pasted-index-DHHS-gqx-js-178-GET-https-koveo-gestion-com-api-auth-user-401-Unauthorized-queryFn-ind-1756767659299_1756767659299.txt
  attached_assets/image_1756767652519.png
Owners: @koveogestion/tech-leads

Update database connection details for production environments
  attached_assets/image_1756767805449.png
Owners: @koveogestion/tech-leads

Update database connection strings for production and staging environments
  attached_assets/image_1756768091203.png
Owners: @koveogestion/tech-leads

Improve document visibility and accessibility for all residences
  attached_assets/image_1756768266108.png
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1756768765418.png
Owners: @koveogestion/tech-leads

Improve session management and security settings
  attached_assets/image_1756769199753.png
  server/auth.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team
