Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

Improve document upload functionality for residences
  attached_assets/image_1757182145660.png
Owners: @koveogestion/tech-leads

Add ability to save custom text documents as txt files
  server/api/bugs.ts
  server/api/feature-requests.ts
Owners: @koveogestion/tech-leads

Organize document uploads into specific record type directories
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-CfN2jKyV-js-185--1757182385317_1757182385318.txt
  attached_assets/image_1757182376976.png
  attached_assets/image_1757182437319.png
  server/api/documents.ts
  shared/schemas/operations.ts
Owners: @koveogestion/tech-leads

Allow uploading documents for buildings and residences
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Update database schema and push changes to development
  attached_assets/image_1757182769741.png
Owners: @koveogestion/tech-leads

Improve document upload functionality and fix validation errors
  .replit
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-documents-residenceId-8-1757182840706_1757182840707.txt
  attached_assets/image_1757182836145.png
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Improve document handling by adding a new type field
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Ensure uploaded documents are stored and viewable on the platform
  attached_assets/image_1757183346014.png
Owners: @koveogestion/tech-leads

Add functionality to permanently store uploaded documents on disk
  server/api/documents.ts
  test-upload.txt
  uploads/buildings/6c33804f-8b37-4c89-8b5a-ff3e82c46ac1/50c7799f-45ac-4eef-828c-52166fd1a312-test-upload.txt
Owners: @koveogestion/tech-leads

Add test files to verify document upload functionality across different categories
  uploads/bugs/175d80d1-ea14-40e5-8fb5-a308e78b1c41-text-document.txt
  uploads/feature-requests/2663995a-633c-461e-be0a-a5f8a8b932a6-test-upload.txt
  uploads/feature-requests/8878cda3-c579-453c-ae8c-f200f6b9cfea-text-document.txt
  uploads/feature-requests/a049f566-88ee-47e3-9150-456644e04561-test-upload.txt
  uploads/general/592dee0c-069e-4b6e-934a-2dcda89e39c8-test-upload.txt
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1757184215421.png
  uploads/buildings/6c33804f-8b37-4c89-8b5a-ff3e82c46ac1/353c6cbd-1905-427a-99c7-ac33dddaff64-procÃ¨s verbal 14 avril 2025 (1).pdf
Owners: @koveogestion/tech-leads

Add validation for uploaded documents within idea boxes
  .replit
Owners: @koveogestion/tech-leads

Add fields to support file attachments for feature requests
  attached_assets/image_1757184360124.png
  shared/schemas/operations.ts
Owners: @koveogestion/tech-leads

Update idea submission to use shared file uploader component
  client/src/pages/settings/idea-box.tsx
Owners: @koveogestion/tech-leads

Remove in-memory storage for uploaded files
  uploads/feature-requests/0e71b772-ca2e-4a39-b433-7582ee98af14-ImagefactureNonTaxable_texte.jpg
Owners: @koveogestion/tech-leads

Update document uploads to ensure proper file handling
  uploads/buildings/6c33804f-8b37-4c89-8b5a-ff3e82c46ac1/a50cf246-9157-475a-84f5-b445a0856fe4-ImagefactureNonTaxable_texte.jpg
  uploads/prod_org_default/Assurance_571_mte_pionnier_terrebonne_2025-2026.pdf
Owners: @koveogestion/tech-leads

Add detailed logging for document data and API responses
  client/src/pages/Documents.tsx
Owners: @koveogestion/tech-leads

Improve document handling and add metadata-only document creation
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Remove unnecessary debugging logs from the documents page
  client/src/pages/Documents.tsx
Owners: @koveogestion/tech-leads

Improve bill download functionality by correcting file path references
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-B6OeFbTL-js-185--1757185329514_1757185329515.txt
  attached_assets/image_1757185325027.png
  server/api/bills.ts
Owners: @koveogestion/tech-leads

Add new invoices and billing documents to the system
  uploads/residences/876d0f76-47e9-4ea9-a0cd-5e0de9956010/3db36cdf-c5eb-4390-b02a-5de5bb038c6a-ImagefactureNonTaxable_texte.jpg
  uploads/residences/876d0f76-47e9-4ea9-a0cd-5e0de9956010/9b983963-412a-4435-80e1-4e14ecde082a-Assurance_571_mte_pionnier_terrebonne_2025-2026.pdf
Owners: @koveogestion/tech-leads

Add debugging logs to document upload, view, and download processes
  server/api/bills.ts
  uploads/buildings/6c33804f-8b37-4c89-8b5a-ff3e82c46ac1/ecabedda-a349-4449-bbf9-b65d70e46ba5-ImagefactureNonTaxable_texte (1).jpg
Owners: @koveogestion/tech-leads

Add detailed logging to document upload and management processes
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Allow image previews for document uploads by updating security policies
  server/middleware/security-middleware.ts
  uploads/buildings/6c33804f-8b37-4c89-8b5a-ff3e82c46ac1/5d25133c-2fa6-43c8-b5c5-842000ee8d39-ImagefactureNonTaxable_texte (1).jpg
Owners: @koveogestion/security-team, @koveogestion/tech-leads

Update document management to refresh lists after creating new documents
  client/src/pages/manager/ModularBuildingDocuments.tsx
Owners: @koveogestion/tech-leads

Add debugging logs to document viewing page to help troubleshoot issues
  attached_assets/image_1757186399775.png
  client/src/pages/manager/ModularBuildingDocuments.tsx
  uploads/buildings/6c33804f-8b37-4c89-8b5a-ff3e82c46ac1/6f76dfb2-4038-4273-b364-6764ea58f07f-ImagefactureNonTaxable_texte (1).jpg
Owners: @koveogestion/tech-leads

Enable uploading of image files for property documents
  attached_assets/image_1757186542659.png
  uploads/buildings/6c33804f-8b37-4c89-8b5a-ff3e82c46ac1/e8cef15f-6dd7-4ffc-99b0-62528fd16e77-ImagefactureNonTaxable_texte.jpg
Owners: @koveogestion/tech-leads

Improve document filtering and image loading policies
  client/src/components/common/ModularDocumentPageWrapper.tsx
  client/src/pages/manager/ModularBuildingDocuments.tsx
  server/middleware/security-middleware.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Update document fetching to handle new API response structure
  client/src/components/common/ModularDocumentPageWrapper.tsx
  client/src/pages/manager/ModularBuildingDocuments.tsx
Owners: @koveogestion/tech-leads

Improve document fetching and debugging for a smoother user experience
  attached_assets/image_1757186907558.png
  client/src/components/common/ModularDocumentPageWrapper.tsx
Owners: @koveogestion/tech-leads

Update document fetching logic to improve error handling and logging
  attached_assets/image_1757187062224.png
  client/src/components/common/ModularDocumentPageWrapper.tsx
Owners: @koveogestion/tech-leads

Update document fetching to correctly parse JSON responses
  attached_assets/image_1757187175403.png
  client/src/components/common/ModularDocumentPageWrapper.tsx
  client/src/pages/manager/ModularBuildingDocuments.tsx
Owners: @koveogestion/tech-leads

Improve document display and error handling on the property management platform
  attached_assets/image_1757187334909.png
Owners: @koveogestion/tech-leads

Improve document viewing by adding a form and edit options
  attached_assets/image_1757187354085.png
Owners: @koveogestion/tech-leads

Add ability to view and download documents with an edit menu
  client/src/components/common/ModularDocumentPageWrapper.tsx
Owners: @koveogestion/tech-leads

Update database schemas and push changes to development and production environments
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-vendor-ui-DpjSP-0j-js-5-1757187950240_1757187950241.txt
  attached_assets/image_1757187930826.png
  attached_assets/image_1757187965266.png
  uploads/residences/876d0f76-47e9-4ea9-a0cd-5e0de9956010/a4a9cd63-acfa-4d00-8e73-80fb1e48c0d0-ImagefactureNonTaxable_texte (1).jpg
Owners: @koveogestion/tech-leads

Improve document download functionality to ensure reliable access
  client/src/components/common/AttachedFileSection.tsx
  client/src/components/common/ModularDocumentPageWrapper.tsx
Owners: @koveogestion/tech-leads

Add functionality to edit building and residence documents
  client/src/components/document-management/DocumentEditForm.tsx
  client/src/components/document-management/index.ts
Owners: @koveogestion/tech-leads

Enable editing of building and residence documents for users
  client/src/components/common/ModularDocumentPageWrapper.tsx
Owners: @koveogestion/tech-leads

Add ability to edit building and residence documents with updated permissions
  server/api/documents.ts
Owners: @koveogestion/tech-leads

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team
