Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team

Stop two pre-existing lint errors from blocking CI (task #692)
  client/src/pages/admin/bulk-document-import.tsx
Owners: @koveogestion/tech-leads

Translate create-project modal and workflow tabs to French
  client/src/components/maintenance/projects/ProjectForm.tsx
  client/src/components/maintenance/projects/StatusStepper.tsx
  client/src/components/maintenance/projects/workflow/InProgressTab.tsx
  client/src/components/maintenance/projects/workflow/PlannedTab.tsx
  client/src/components/maintenance/projects/workflow/PostWorkTab.tsx
  client/src/components/maintenance/projects/workflow/PreWorkTab.tsx
  client/src/components/maintenance/projects/workflow/ReopenStepDialog.tsx
  client/src/components/maintenance/projects/workflow/SubmissionTab.tsx
  client/src/lib/i18n.ts
Owners: @koveogestion/tech-leads

Task #689: Fix MCP assume-user audit log so it doesn't crash at runtime
  shared/schema.ts
  tests/unit/api/mcp-assume-user.test.ts
Owners: @koveogestion/database-admins, @koveogestion/tech-leads

Task #710: Surface AI unavailability warning in bulk import
  client/src/pages/admin/bulk-document-import.tsx
  client/src/pages/admin/bulk-import-fallback-reason-badge.tsx
  server/api/bulk-import.ts
  server/services/bulk-import-analyzer.ts
  shared/schemas/bulk-import.ts
  tests/unit/components/bulk-import-fallback-reason-badge.test.tsx
  tests/unit/services/bulk-import-analyzer.test.ts
Owners: @koveogestion/tech-leads

Task #701: Expand "About this page" with per-step descriptions in bulk import
  client/src/pages/admin/bulk-document-import.tsx
Owners: @koveogestion/tech-leads

chore(lint): remove 24 unused eslint-disable directives
  server/api/organizations.ts
  server/tests/bill-upload-ai-analysis-integration.test.ts
  server/tests/upload-filename-normalization-integration.test.ts
  server/tests/upload-filename-normalization-secondary-routes.test.ts
  server/utils/heavy-module-guard.ts
  tests/e2e/admin-permissions.e2e.test.ts
  tests/integration/heavy-lazy-mounts.test.ts
  tests/integration/mcp-lazy-mount.test.ts
  tests/integration/migration-runner-idempotency.test.ts
  tests/integration/non-mcp-lazy-mount.test.ts
  tests/unit/api/budgets-focused.test.ts
  tests/unit/components/modular-document-page-combined-filters.test.tsx
  tests/unit/components/modular-document-page-linked-only-filter.test.tsx
  tests/unit/components/modular-document-page-manager-only-filter.test.tsx
  tests/unit/components/modular-document-page-url-filters.test.tsx
  tests/unit/server/heavy-module-guard.test.ts
Owners: @koveogestion/tech-leads

Task #709: Make Excel files work for AI tag suggestions too
  server/services/consolidated-ai-service.ts
  server/tests/document-tag-suggestion-office-e2e.test.ts
  server/tests/suggest-document-tags-office.test.ts
Owners: @koveogestion/tech-leads

Task #717: Allow admins to exclude/unexclude items from bulk import
  client/src/pages/admin/bulk-document-import.tsx
  server/api/bulk-import.ts
  shared/schemas/bulk-import.ts
Owners: @koveogestion/tech-leads

Task #640: FR i18n leak cleanup + /settings route fix + ESLint guard
  client/src/App.tsx
  client/src/components/maintenance/projects/ProjectTable.tsx
  client/src/components/ui/data-table.tsx
  client/src/components/ui/hamburger-menu.tsx
  client/src/config/help-content.ts
  client/src/config/navigation.ts
  client/src/lib/i18n.ts
  client/src/pages/manager/maintenance/projects/ProjectsHeader.tsx
  client/src/pages/settings/settings.tsx
  eslint.config.mjs
  tests/pages/all-pages-integrity.test.tsx
  tests/unit/help-system-comprehensive.test.ts
Owners: @koveogestion/tech-leads

Fix dead Claude model in bulk import analyzer (Task #721)
  server/services/bulk-import-analyzer.ts
Owners: @koveogestion/tech-leads

Git commit prior to merge
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-da_1777082416166.txt
Owners: @koveogestion/tech-leads

Add detailed logging for project aggregation and connection status
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-da_1777082473895.txt
Owners: @koveogestion/tech-leads

Git commit prior to merge
  attached_assets/image_1777082820556.png
Owners: @koveogestion/tech-leads

Task #720: Verify the new exclude toggle works in the database for real
  server/api/bulk-import.ts
  shared/schemas/bulk-import.ts
  tests/integration/bulk-import-rest-endpoints.test.ts
Owners: @koveogestion/tech-leads

Fix issue with bulk document import endpoint and restart application
  .staging/bulk-import/70b5e8e7-f9be-41bc-a010-4cd1beac536f/1784d4ed22a6cc00f83ed2065dfcd98932ba0c5a81f28ea15ff17872a0b293db_Etats_financiers_2021_13_NoCentris_28525705.pdf
  .staging/bulk-import/70b5e8e7-f9be-41bc-a010-4cd1beac536f/1b641036fcce88407ee53a6fb967914aab9d713adeeebd387c732a49985c6dff_ProcÃ¨s verbal octobre 2023.pdf
  .staging/bulk-import/70b5e8e7-f9be-41bc-a010-4cd1beac536f/25966b8a75495e9983bdf329286818f2d6ca237001133f6b2c3862440ef8e271_Reglements_7_NoCentris_28525705.pdf
  .staging/bulk-import/70b5e8e7-f9be-41bc-a010-4cd1beac536f/28b099c8ef8d7f54ce04b775baebb3c09e05fbe3a533b9eb9b07424678ccd45c_Declaration_de_copropriete_6_NoCentris_28525705.pdf
  .staging/bulk-import/70b5e8e7-f9be-41bc-a010-4cd1beac536f/43d9b7d4a3d03f48702620c7408ac8ce2f622351920219f64958c7b1c7a4c75c_evaluation_trienal.pdf
  .staging/bulk-import/70b5e8e7-f9be-41bc-a010-4cd1beac536f/4d0ff327080b5f2cee78fc99febabd9486298f064692f949f01a1a72d04296b0_Centris_28525705.pdf
  .staging/bulk-import/70b5e8e7-f9be-41bc-a010-4cd1beac536f/66a2958ae27c9181df714fb94128971343e7dc3503519b6e735b026df30f833d_Assurance_571_mte_pionnier_terrebonne_2023_2024.pdf
  .staging/bulk-import/70b5e8e7-f9be-41bc-a010-4cd1beac536f/6d7954acce70288cc54b043ca2d6a121af6fa77ffdd98e6a462ed6dd5059c978_563-583 Mnt des Pionniers_Fonds de prÃ©voyance.pdf
  .staging/bulk-import/70b5e8e7-f9be-41bc-a010-4cd1beac536f/8ccebfaea35594b400f5e5d456fc18b2a905939a1ae6e344f59d8fd18665c65e_Ã©tats financiers 30 septembre 2023.pdf
  .staging/bulk-import/70b5e8e7-f9be-41bc-a010-4cd1beac536f/92b0dafa202337190676d5d6efca4be75483e4ef36aa96967ced2231dba65189_assurance_2025-2026.pdf
  .staging/bulk-import/70b5e8e7-f9be-41bc-a010-4cd1beac536f/9de2edcebed4a42161741e6efeb7d7b0f1bb647ab0000fff02cc34425f1b07db_Budget prÃ©visionnel 2023-2024.pdf
  .staging/bulk-import/70b5e8e7-f9be-41bc-a010-4cd1beac536f/a5f059f2b647b3163f9b7d1ac62bafac7f640b02254ae8b6fea20b119061bf35_DRCOP_annexes_8_NoCentris_28525705.pdf
  .staging/bulk-import/70b5e8e7-f9be-41bc-a010-4cd1beac536f/ab6a59fe119894a8cca802dc035e6985f9c6866305342f71e9f59c3d99cc1a4e_Etats_financiers_2022_14_NoCentris_28525705.pdf
  .staging/bulk-import/70b5e8e7-f9be-41bc-a010-4cd1beac536f/babfbc53c207d44b647981449ad4f193eb4d056a501502b27648952abcac7fb8_Proces_verbal_ordre_du_jour_2021_10_NoCentris_28525705.pdf
  .staging/bulk-import/70b5e8e7-f9be-41bc-a010-4cd1beac536f/c28e94eccca9905a0dda247895fff166a120357665bb97447e4307373449bfa1_Etats_financiers_2023_preliminaire_15_NoCentris_28525705.pdf
  .staging/bulk-import/70b5e8e7-f9be-41bc-a010-4cd1beac536f/ced8a54be167c08bc19b1405c61bedeb1c3f5912007eb49f103a57b7155b7836_ordre du jour rÃ©union 28 octobre 2023.pdf
  .staging/bulk-import/70b5e8e7-f9be-41bc-a010-4cd1beac536f/d5e8fb7ba526440ff34f654c904d0b89916706cc54ee446ae9a21b6e4d7b7ae7_Assurance_571_mte_pionnier_terrebonne_2025-2026.pdf
  .staging/bulk-import/70b5e8e7-f9be-41bc-a010-4cd1beac536f/dd30f6d7a2e9638cdd6a84fc2c5822e4856537a5185b3ea39ed2524eb8f5dba1_Proces_verbal_ordre_du_jour_2022_11_NoCentris_28525705.pdf
  .staging/bulk-import/70b5e8e7-f9be-41bc-a010-4cd1beac536f/ef82c992f497e576b53aadd40d704318dc0794ae88bbd07bec1e08a659c558d6_Assurance_571_mte_pionnier_terrebonne_2024_2025.pdf
  .staging/bulk-import/70b5e8e7-f9be-41bc-a010-4cd1beac536f/f10cdb3f887411c7f2c64a050d81b9621a885d7174f2fb7f426543bb95475f67_Certificat_de_localisation_04_10_2023_17_NoCentris_28525705.pdf
Owners: @koveogestion/tech-leads

Translate maintenance project workflow tabs to French (task #711)
  client/src/components/maintenance/projects/workflow/CompleteTab.tsx
  client/src/components/maintenance/projects/workflow/ElementManagementTab.tsx
  client/src/components/maintenance/projects/workflow/InProgressTab.tsx
  client/src/components/maintenance/projects/workflow/PaymentPlanForm.tsx
  client/src/components/maintenance/projects/workflow/PlannedTab.tsx
  client/src/components/maintenance/projects/workflow/PreWorkTab.tsx
  client/src/components/maintenance/projects/workflow/ProjectWorkflowModal.tsx
  client/src/components/maintenance/projects/workflow/SubmissionTab.tsx
  client/src/components/maintenance/projects/workflow/WorkflowSkipConfigDialog.tsx
  client/src/lib/i18n.ts
  eslint.config.mjs
Owners: @koveogestion/tech-leads

Add AI unavailability banner to key admin pages
  client/src/components/common/AiUnavailableBanner.tsx
  client/src/components/common/ModularDocumentPageWrapper.tsx
  client/src/pages/manager/bills.tsx
  server/api/ai-document-analysis.ts
  server/services/consolidated-ai-service.ts
Owners: @koveogestion/tech-leads

Translate maintenance/project forms (Task #707)
  client/src/components/maintenance/inventory/BulkEditCostDialog.tsx
  client/src/components/maintenance/inventory/BulkEditResidenceDialog.tsx
  client/src/components/maintenance/inventory/ElementForm.tsx
  client/src/components/maintenance/projects/ProjectBudget.tsx
  client/src/components/maintenance/projects/ProjectElements.tsx
  client/src/lib/i18n.ts
  eslint.config.mjs
Owners: @koveogestion/tech-leads

Fix dashboard forecast 400 from custom bank-field labels (Task #728)
  server/index.ts
  server/middleware/input-sanitization.ts
  tests/unit/security/input-sanitization-key-probe.test.ts
  tests/unit/security/input-sanitization-lazy-mount.test.ts
Owners: @koveogestion/api-team, @koveogestion/tech-leads

Task #643: Remove redundant bug-reports and idea-box pages
  client/src/pages/admin/bulk-document-import.tsx
  server/api/bulk-import.ts
  tests/integration/bulk-import-rest-endpoints.test.ts
Owners: @koveogestion/tech-leads

Git commit prior to merge
  attached_assets/image_1777084701288.png
Owners: @koveogestion/tech-leads

Task #732: Support text substitution in translated strings
  client/src/components/maintenance/projects/workflow/ElementManagementTab.tsx
  client/src/components/maintenance/projects/workflow/PaymentPlanForm.tsx
  client/src/hooks/use-language.tsx
  client/src/lib/i18n.ts
Owners: @koveogestion/tech-leads

Translate maintenance project list and dashboard pages to French (Task #712)
  client/src/lib/i18n.ts
  client/src/pages/manager/maintenance/projects/ProjectDashboardView.tsx
  client/src/pages/manager/maintenance/projects/ProjectDetailsPanel.tsx
  client/src/pages/manager/maintenance/projects/ProjectTableView.tsx
  client/src/pages/manager/maintenance/projects/ProjectTimelineView.tsx
  client/src/pages/manager/maintenance/projects/ProjectsOverview.tsx
  client/src/pages/manager/maintenance/projects/SuggestionsIntegration.tsx
  eslint.config.mjs
Owners: @koveogestion/tech-leads

Task #748: Block Next step button while documents are still analyzing
  client/src/pages/admin/bulk-document-import.tsx
Owners: @koveogestion/tech-leads

Retire the older i18n lint rule that overlapped with the app-wide one
  eslint-rules/no-untranslated-jsx-text.mjs
  eslint.config.mjs
Owners: @koveogestion/tech-leads

Git commit prior to merge
  attached_assets/image_1777085348974.png
  attached_assets/image_1777085483178.png
Owners: @koveogestion/tech-leads

Task #713: Translate auth onboarding screens to EN/FR
  client/src/components/admin/send-invitation-dialog.tsx
  client/src/components/auth/steps/password-creation-step.tsx
  client/src/components/auth/steps/profile-completion-step.tsx
  client/src/components/auth/steps/quebec-privacy-consent-step.tsx
  client/src/components/auth/steps/token-validation-step.tsx
  client/src/components/maintenance/inventory/BulkEditCostDialog.tsx
  client/src/components/maintenance/inventory/BulkEditResidenceDialog.tsx
  client/src/components/maintenance/inventory/ElementForm.tsx
  client/src/components/maintenance/projects/ProjectBudget.tsx
  client/src/components/maintenance/projects/ProjectElements.tsx
  client/src/lib/i18n.ts
  client/src/pages/auth/forgot-password.tsx
  client/src/pages/auth/invitation-acceptance.tsx
  client/src/pages/auth/reset-password.tsx
  tests/unit/invitation/user-creation-comprehensive.test.tsx
  tests/unit/security/dangerous-input-inline-error.test.tsx
Owners: @koveogestion/tech-leads

Git commit prior to merge
  attached_assets/image_1777085587638.png
Owners: @koveogestion/tech-leads

Task #751: Clarify bulk import confidence badges
  client/src/pages/admin/bulk-document-import.tsx
Owners: @koveogestion/tech-leads

Task #749: Add automated tests for the 'still analyzing' guard on Next step
  client/src/pages/admin/bulk-document-import.tsx
  client/src/pages/admin/bulk-import-next-step-block.tsx
  tests/unit/components/bulk-import-next-step-block.test.tsx
Owners: @koveogestion/tech-leads

Translate remaining English in maintenance workflow tabs (Task #731)
  client/src/components/maintenance/projects/workflow/CompleteTab.tsx
  client/src/components/maintenance/projects/workflow/ElementManagementTab.tsx
  client/src/components/maintenance/projects/workflow/InProgressTab.tsx
  client/src/components/maintenance/projects/workflow/PaymentPlanForm.tsx
  client/src/components/maintenance/projects/workflow/PostWorkTab.tsx
  client/src/components/maintenance/projects/workflow/PreWorkTab.tsx
  client/src/components/maintenance/projects/workflow/ProjectWorkflowModal.tsx
  client/src/components/maintenance/projects/workflow/WorkflowSkipConfigDialog.tsx
  client/src/components/maintenance/projects/workflow/WorkflowTabNavigation.tsx
  client/src/lib/i18n.ts
Owners: @koveogestion/tech-leads

feat: Click any bulk-import document to preview it in a popup
  client/src/pages/admin/bulk-document-import.tsx
Owners: @koveogestion/tech-leads

Git commit prior to merge
  attached_assets/image_1777086480214.png
Owners: @koveogestion/tech-leads

Add missing tables and enums to support bulk import and document linking
  attached_assets/image_1777086951401.png
Owners: @koveogestion/tech-leads

Task #736: Translate maintenance inventory/projects pages to French
  client/src/components/maintenance/inventory/ElementCard.tsx
  client/src/components/maintenance/inventory/ElementHistoryForm.tsx
  client/src/components/maintenance/inventory/ElementTable.tsx
  client/src/components/maintenance/inventory/HistoryTable.tsx
  client/src/components/maintenance/inventory/UniformatBrowser.tsx
  client/src/components/maintenance/projects/ProjectCard.tsx
  client/src/lib/i18n.ts
  client/src/pages/manager/maintenance/inventory/ElementDetailsPanel.tsx
  client/src/pages/manager/maintenance/inventory/InventoryHeader.tsx
  client/src/pages/manager/maintenance/inventory/InventoryOverview.tsx
  tests/unit/components/inventory-overview.test.tsx
Owners: @koveogestion/tech-leads

Task #756 — Add automated tests for bulk-import row preview popup
  tests/unit/components/bulk-document-import-preview-trigger.test.tsx
Owners: @koveogestion/tech-leads

Task #757: Show sorting decision in bulk import rows
  client/src/pages/admin/bulk-document-import.tsx
  server/api/bulk-import.ts
Owners: @koveogestion/tech-leads

Task #765: Swap Sorting/Branching labels in bulk-import wizard
  client/src/pages/admin/bulk-document-import.tsx
Owners: @koveogestion/tech-leads

Translate manager projects screens to EN/FR (Task #740)
  client/src/lib/i18n.ts
  client/src/pages/manager/maintenance/projects/ProjectDashboardView.tsx
  client/src/pages/manager/maintenance/projects/ProjectDetailsPanel.tsx
  client/src/pages/manager/maintenance/projects/ProjectTableView.tsx
  client/src/pages/manager/maintenance/projects/ProjectTimelineView.tsx
  client/src/pages/manager/maintenance/projects/ProjectsOverview.tsx
  client/src/pages/manager/maintenance/projects/SuggestionsIntegration.tsx
  client/src/pages/manager/maintenance/projects/projectEnumLabels.ts
Owners: @koveogestion/tech-leads

Git commit prior to merge
  .staging/bulk-import/70b5e8e7-f9be-41bc-a010-4cd1beac536f/1784d4ed22a6cc00f83ed2065dfcd98932ba0c5a81f28ea15ff17872a0b293db_Etats_financiers_2021_13_NoCentris_28525705.pdf
  .staging/bulk-import/70b5e8e7-f9be-41bc-a010-4cd1beac536f/1b641036fcce88407ee53a6fb967914aab9d713adeeebd387c732a49985c6dff_ProcÃ¨s verbal octobre 2023.pdf
  .staging/bulk-import/70b5e8e7-f9be-41bc-a010-4cd1beac536f/25966b8a75495e9983bdf329286818f2d6ca237001133f6b2c3862440ef8e271_Reglements_7_NoCentris_28525705.pdf
  .staging/bulk-import/70b5e8e7-f9be-41bc-a010-4cd1beac536f/28b099c8ef8d7f54ce04b775baebb3c09e05fbe3a533b9eb9b07424678ccd45c_Declaration_de_copropriete_6_NoCentris_28525705.pdf
  .staging/bulk-import/70b5e8e7-f9be-41bc-a010-4cd1beac536f/43d9b7d4a3d03f48702620c7408ac8ce2f622351920219f64958c7b1c7a4c75c_evaluation_trienal.pdf
  .staging/bulk-import/70b5e8e7-f9be-41bc-a010-4cd1beac536f/4d0ff327080b5f2cee78fc99febabd9486298f064692f949f01a1a72d04296b0_Centris_28525705.pdf
  .staging/bulk-import/70b5e8e7-f9be-41bc-a010-4cd1beac536f/66a2958ae27c9181df714fb94128971343e7dc3503519b6e735b026df30f833d_Assurance_571_mte_pionnier_terrebonne_2023_2024.pdf
  .staging/bulk-import/70b5e8e7-f9be-41bc-a010-4cd1beac536f/6d7954acce70288cc54b043ca2d6a121af6fa77ffdd98e6a462ed6dd5059c978_563-583 Mnt des Pionniers_Fonds de prÃ©voyance.pdf
  .staging/bulk-import/70b5e8e7-f9be-41bc-a010-4cd1beac536f/8ccebfaea35594b400f5e5d456fc18b2a905939a1ae6e344f59d8fd18665c65e_Ã©tats financiers 30 septembre 2023.pdf
  .staging/bulk-import/70b5e8e7-f9be-41bc-a010-4cd1beac536f/92b0dafa202337190676d5d6efca4be75483e4ef36aa96967ced2231dba65189_assurance_2025-2026.pdf
  .staging/bulk-import/70b5e8e7-f9be-41bc-a010-4cd1beac536f/9de2edcebed4a42161741e6efeb7d7b0f1bb647ab0000fff02cc34425f1b07db_Budget prÃ©visionnel 2023-2024.pdf
  .staging/bulk-import/70b5e8e7-f9be-41bc-a010-4cd1beac536f/a5f059f2b647b3163f9b7d1ac62bafac7f640b02254ae8b6fea20b119061bf35_DRCOP_annexes_8_NoCentris_28525705.pdf
  .staging/bulk-import/70b5e8e7-f9be-41bc-a010-4cd1beac536f/ab6a59fe119894a8cca802dc035e6985f9c6866305342f71e9f59c3d99cc1a4e_Etats_financiers_2022_14_NoCentris_28525705.pdf
  .staging/bulk-import/70b5e8e7-f9be-41bc-a010-4cd1beac536f/babfbc53c207d44b647981449ad4f193eb4d056a501502b27648952abcac7fb8_Proces_verbal_ordre_du_jour_2021_10_NoCentris_28525705.pdf
  .staging/bulk-import/70b5e8e7-f9be-41bc-a010-4cd1beac536f/c28e94eccca9905a0dda247895fff166a120357665bb97447e4307373449bfa1_Etats_financiers_2023_preliminaire_15_NoCentris_28525705.pdf
  .staging/bulk-import/70b5e8e7-f9be-41bc-a010-4cd1beac536f/ced8a54be167c08bc19b1405c61bedeb1c3f5912007eb49f103a57b7155b7836_ordre du jour rÃ©union 28 octobre 2023.pdf
  .staging/bulk-import/70b5e8e7-f9be-41bc-a010-4cd1beac536f/d5e8fb7ba526440ff34f654c904d0b89916706cc54ee446ae9a21b6e4d7b7ae7_Assurance_571_mte_pionnier_terrebonne_2025-2026.pdf
  .staging/bulk-import/70b5e8e7-f9be-41bc-a010-4cd1beac536f/dd30f6d7a2e9638cdd6a84fc2c5822e4856537a5185b3ea39ed2524eb8f5dba1_Proces_verbal_ordre_du_jour_2022_11_NoCentris_28525705.pdf
  .staging/bulk-import/70b5e8e7-f9be-41bc-a010-4cd1beac536f/ef82c992f497e576b53aadd40d704318dc0794ae88bbd07bec1e08a659c558d6_Assurance_571_mte_pionnier_terrebonne_2024_2025.pdf
  .staging/bulk-import/70b5e8e7-f9be-41bc-a010-4cd1beac536f/f10cdb3f887411c7f2c64a050d81b9621a885d7174f2fb7f426543bb95475f67_Certificat_de_localisation_04_10_2023_17_NoCentris_28525705.pdf
Owners: @koveogestion/tech-leads
