Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

Fix login issues by correcting authorization problems
  attached_assets/Pasted-use-auth-tsx-57-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756209368448_1756209368448.txt
  attached_assets/image_1756209344666.png
Owners: @koveogestion/tech-leads

Enable credentials to be sent with login requests to allow access
  attached_assets/Pasted-use-auth-tsx-57-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756209667822_1756209667822.txt
  attached_assets/image_1756209658639.png
  client/src/hooks/use-auth.tsx
Owners: @koveogestion/tech-leads

Ensure secure cookies are used only in production environments
  attached_assets/Pasted-index-Ccr2I2Lt-js-178-GET-https-koveo-gestion-com-api-auth-user-401-Unauthorized-queryFn-ind-1756210133994_1756210133994.txt
  attached_assets/image_1756210114466.png
  server/auth.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Saved your changes before starting work
  attached_assets/Pasted-index-Ccr2I2Lt-js-178-GET-https-koveo-gestion-com-api-auth-user-401-Unauthorized-queryFn-ind-1756210833690_1756210833691.txt
  attached_assets/image_1756210823978.png
  attached_assets/image_1756210870222.png
  attached_assets/image_1756210895873.png
Owners: @koveogestion/tech-leads

Enhance access control to ensure proper data visibility for users
  server/rbac.ts
Owners: @koveogestion/tech-leads

Update building data fetching for manager pages
  client/src/pages/manager/bills.tsx
  client/src/pages/manager/budget.tsx
Owners: @koveogestion/tech-leads

Improve component documentation and update testing setup for better clarity
  client/src/components/BillEditForm.tsx
  client/src/components/BuildingSelectionGrid.tsx
  client/src/components/ObjectUploader.tsx
  jest.config.js
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Improve component documentation and error handling
  client/src/components/BillCreateForm.tsx
  client/src/components/BillEditForm.tsx
  client/src/components/BuildingSelectionGrid.tsx
  client/src/components/ObjectUploader.tsx
  client/src/components/ui/toaster.tsx
  client/src/components/ui/trial-request-form.tsx
  client/src/pages/manager/bills.tsx
  jest.config.js
  scripts/run-quality-check.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Fix error when finding buildings in the billing section of the app
  attached_assets/Pasted-bills-tsx-292-Uncaught-TypeError-buildings-find-is-not-a-function-at-Bills-bills-tsx-292-38--1756212340210_1756212340211.txt
Owners: @koveogestion/tech-leads

Improve bill management by showing loading and error states
  client/src/pages/manager/bills.tsx
  package.json
Owners: @koveogestion/tech-leads

Refine form components and update development tools
  client/src/components/BillCreateForm.tsx
  client/src/components/BillEditForm.tsx
  client/src/components/BuildingSelectionGrid.tsx
  client/src/components/ObjectUploader.tsx
  package-lock.json
  package.json
Owners: @koveogestion/tech-leads

Update building types and adjust test imports for better clarity
  server/tests/database/database-integrity.test.ts
  server/tests/database/orphan-detection.test.ts
  server/tests/monthly-budget-service.test.ts
Owners: @koveogestion/tech-leads

Display all property buildings on the management dashboard
  attached_assets/image_1756213323006.png
  attached_assets/image_1756213333477.png
Owners: @koveogestion/tech-leads

Adjust tests and ignore some files for better stability
  client/src/components/BillCreateForm.tsx
  jest.config.js
  server/tests/database/database-integrity.test.ts
  server/tests/database/orphan-detection.test.ts
  server/tests/delayed-update-service.test.ts
  server/tests/monthly-budget-service.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Update test configuration to simplify Jest setup
  jest.config.js
  package-lock.json
  package.json
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Update testing setup and component imports for improved functionality
  client/src/components/admin/user-list.tsx
  jest.config.js
  tests/website/extended-routes-translation.test.tsx
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Refine user management functions for better data handling
  client/src/components/admin/user-list.tsx
  client/src/components/ui/data-table.tsx
Owners: @koveogestion/tech-leads

Update user management APIs and data table components
  client/src/components/admin/user-list.tsx
  client/src/components/ui/data-table.tsx
Owners: @koveogestion/tech-leads

Configure Jest to support TypeScript and modern JavaScript features
  jest.config.js
  package-lock.json
  package.json
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Improve test setup and configuration for better reliability
  jest.config.js
  jest.setup.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Update project dependencies and documentation for improved stability
  docs/IMPROVEMENT_REPORT.md
  package-lock.json
  package.json
Owners: @koveogestion/tech-leads

Add TextEncoder and TextDecoder polyfills for testing
  jest.setup.ts
Owners: @koveogestion/tech-leads

Update test setup to use simpler mock implementations for browser APIs
  jest.setup.ts
Owners: @koveogestion/tech-leads

Improve user data validation rules for accuracy and security
  tests/unit/schema.test.ts
Owners: @koveogestion/tech-leads

Define access rules for viewing and managing buildings and financial data
  tests/unit/access-control/bills-budget-access.test.ts
Owners: @koveogestion/tech-leads

Fix issue preventing users from viewing property data
  attached_assets/image_1756216152599.png
  client/src/pages/manager/bills.tsx
  client/src/pages/manager/budget.tsx
Owners: @koveogestion/tech-leads

Add a new asset to the project
  attached_assets/image_1756216277211.png
Owners: @koveogestion/tech-leads

Improve build process for smoother deployments
  package.json
Owners: @koveogestion/tech-leads

Update project build scripts for successful deployment
  package.json
Owners: @koveogestion/tech-leads

Fix issues with loading application components and resources
  attached_assets/Pasted--api-auth-user-1-Failed-to-load-resource-the-server-responded-with-a-status-of-401-home-qADgFu-1756217379532_1756217379533.txt
  attached_assets/image_1756217373551.png
  server/production-check.ts
Owners: @koveogestion/tech-leads

Update demo data preparation to ensure organizations are configured
  attached_assets/Pasted-2025-08-26-10-17-42-84-b6c216f5-System-command-finished-with-error-npm-run-start-exit-status-1-1756217894293_1756217894293.txt
Owners: @koveogestion/tech-leads

Fix errors related to server communication and missing assets
  attached_assets/Pasted-index-DmwBEp4H-js-178-GET-https-koveo-gestion-com-api-auth-user-500-Internal-Server-Error-quer-1756217953334_1756217953334.txt
  attached_assets/image_1756217942416.png
Owners: @koveogestion/tech-leads

Add diagnostic endpoint to check production environment health
  server/routes-minimal.ts
Owners: @koveogestion/tech-leads

Fix user authorization and asset loading errors in production
  attached_assets/Pasted-index-DmwBEp4H-js-178-GET-https-koveo-gestion-com-api-auth-user-401-Unauthorized-queryFn-ind-1756218566451_1756218566451.txt
  attached_assets/image_1756218560947.png
  attached_assets/image_1756218582916.png
Owners: @koveogestion/tech-leads

Improve production performance and stability with optimizations
  package-lock.json
  package.json
  scripts/optimize-production-build.ts
  server/production-optimizations.ts
  server/production-server.ts
  server/routes-minimal.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Adjust server to serve frontend assets before API routes
  attached_assets/Pasted-index-DmwBEp4H-js-178-GET-https-koveo-gestion-com-api-auth-user-401-Unauthorized-queryFn-ind-1756219398319_1756219398320.txt
  attached_assets/image_1756219394017.png
  server/index.ts
  server/routes-minimal.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Enable immediate static file serving for enhanced performance
  attached_assets/Pasted-features-29dOsPY5-js-1-Failed-to-load-resource-the-server-responded-with-a-status-of-503-trian-1756220349782_1756220349783.txt
  attached_assets/image_1756220344765.png
  server/index.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Set up the production server with improved health checks and static file serving
  server/production.ts
Owners: @koveogestion/tech-leads

Update the command to start the application correctly
  package.json
Owners: @koveogestion/tech-leads

Improve development server startup for faster environment readiness
  server/dev-server.ts
  server/index.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team
