Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team

Add debugging logs to help diagnose document display issues
  client/src/components/common/DocumentManager.tsx
Owners: @koveogestion/tech-leads

Add debug logging to document retrieval API endpoint
  attached_assets/image_1756650180847.png
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Improve document upload functionality with better previews
  attached_assets/image_1756650236260.png
Owners: @koveogestion/tech-leads

Improve document fetching by adding error handling and logging
  attached_assets/image_1756650295866.png
  client/src/components/common/DocumentManager.tsx
Owners: @koveogestion/tech-leads

Improve document retrieval by handling API response structure
  attached_assets/image_1756650401415.png
  client/src/components/common/DocumentManager.tsx
Owners: @koveogestion/tech-leads

Remove unnecessary console logs and debug statements from document management
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-react-dom-client-js-v-aaff8f62-17995--1756650546912_1756650546912.txt
  attached_assets/image_1756650530265.png
  client/src/components/common/DocumentManager.tsx
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-react-dom-client-js-v-aaff8f62-17995--1756650693913_1756650693913.txt
  attached_assets/image_1756650689161.png
Owners: @koveogestion/tech-leads

Fix bug that prevents users from deleting documents
  client/src/components/common/DocumentManager.tsx
Owners: @koveogestion/tech-leads

Improve document management and refactor core services for efficiency
  client/src/components/common/DocumentManager.tsx
  client/src/components/common/DocumentManager_broken.tsx
  server/api/documents.ts
  server/optimized-db-storage.ts
  server/services/metric-validation.ts
  server/services/notification_service.ts
  server/services/ssl_service.ts
  shared/schemas/monitoring.ts
  shared/schemas/operations.ts
  tsconfig.validation.tsbuildinfo
Owners: @koveogestion/tech-leads

Improve residence form and server setup for development
  client/src/components/forms/residence-edit-form.tsx
  server/index.ts
  server/storage.ts
  shared/schemas/financial-views.ts
  tsconfig.validation.tsbuildinfo
Owners: @koveogestion/tech-leads, @koveogestion/api-team, @koveogestion/database-admins

Simplify API route setup and improve frontend serving
  server/index.ts
Owners: @koveogestion/api-team, @koveogestion/tech-leads

Update tests and improve compliance with privacy regulations
  jest.setup.ts
  tests/security/semgrep-compliance-rules.yml
  tests/unit/schema.test.ts
Owners: @koveogestion/tech-leads

Update testing setup to include Google Cloud and language defaults
  jest.config.js
  jest.global-setup.js
  jest.setup.ts
  server/config/index.js
  tests/mocks/runQuery.js
  tests/unit/language.test.tsx
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Configure database connection based on environment settings
  .replit
  server/config/index.js
Owners: @koveogestion/tech-leads

Configure database connections based on the application's environment
  server/config/index.js
Owners: @koveogestion/tech-leads

Improve database storage by adding new retrieval methods
  server/db-storage.ts
Owners: @koveogestion/tech-leads

Restore full application routes and authentication functionality
  attached_assets/Pasted-index-Wib4BgLl-js-268-Download-the-React-DevTools-for-a-better-development-experience-https-react-1756658786706_1756658786706.txt
  attached_assets/image_1756658776287.png
  server/index.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Update property management system to improve demand comment handling and Vite integration
  server/api/demands.ts
  server/index.ts
  shared/schemas/operations.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Update comment functionality to allow posting comments
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-react-dom-client-js-v-aaff8f62-17995--1756659421390_1756659421391.txt
  attached_assets/image_1756659412425.png
  client/src/components/demands/demand-details-popup.tsx
Owners: @koveogestion/tech-leads

Identify and plan for code and documentation redundancies
  .replit
  APPLICATION_REDUNDANCY_ANALYSIS_PLAN.md
Owners: @koveogestion/tech-leads

Update server to use unified route definitions for improved clarity
  server/production.ts
  server/routes.ts
  tests/integration/deployment/build-process-tests.test.ts
  tests/integration/deployment/critical-deployment-tests.test.ts
  tests/integration/deployment/pre-deployment-checklist.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Address critical security warnings for tenant financial data protection
  reports/semgrep-results.json
  server/optimized-db-storage.ts
  tests/utils/mock-translations-old.ts
  tsconfig.validation.tsbuildinfo
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1756661540164.png
Owners: @koveogestion/tech-leads

Standardize authentication routes to use consistent API path prefixes
  scripts/validate-auth-routes.ts
  server/auth.ts
  server/index.ts
  server/routes.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/api-team

Apply session middleware before authentication routes
  attached_assets/Pasted-index-Wib4BgLl-js-268-Download-the-React-DevTools-for-a-better-development-experience-https-react-1756661954719_1756661954719.txt
  attached_assets/image_1756661948690.png
  server/routes.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Enhance security by generating random passwords for users
  scripts/populate-organizations.ts
  server/api/users.ts
  server/auth.ts
  server/storage.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins

Update package dependency to resolve build warnings and errors
  attached_assets/Pasted--replit-cartographer-Error-processing-home-runner-workspace-client-src-main-tsx-TypeError-traver-1756662596891_1756662596892.txt
  package-lock.json
  package.json
Owners: @koveogestion/tech-leads

Improve data logging and storage for property management features
  server/api/users.ts
  server/storage.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Update data structures and add new fields for enhanced property management features
  server/storage.ts
Owners: @koveogestion/database-admins

Enable serving static files for production and improve error handling
  server/index.ts
  server/storage.ts
Owners: @koveogestion/api-team, @koveogestion/tech-leads, @koveogestion/database-admins

Adjust server configuration for static file serving
  attached_assets/Pasted-index-DPCp94Uk-js-268-Download-the-React-DevTools-for-a-better-development-experience-https-react-1756663394453_1756663394453.txt
  attached_assets/image_1756663387849.png
  server/index.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Update server configuration for production deployment and module imports
  attached_assets/Pasted-index-DPCp94Uk-js-268-Download-the-React-DevTools-for-a-better-development-experience-https-react-1756663742495_1756663742496.txt
  attached_assets/image_1756663738291.png
  attached_assets/image_1756663763186.png
  server/config/index.js
  server/index.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Update deployment configuration for production environment
  attached_assets/image_1756664565560.png
Owners: @koveogestion/tech-leads

Configure the application to use the production database when the environment is set to production
  attached_assets/image_1756664589007.png
Owners: @koveogestion/tech-leads

Update database connection settings for production environment
  attached_assets/image_1756732049479.png
  attached_assets/image_1756732061356.png
  attached_assets/image_1756732095111.png
Owners: @koveogestion/tech-leads

Update database connection string for production environment
  attached_assets/image_1756732280066.png
Owners: @koveogestion/tech-leads

Add comprehensive API routes for property management features
  attached_assets/image_1756733402998.png
  attached_assets/image_1756733411963.png
  attached_assets/image_1756733441116.png
  attached_assets/image_1756733599586.png
  attached_assets/image_1756733612920.png
  attached_assets/image_1756733621147.png
  attached_assets/image_1756733634302.png
  attached_assets/image_1756733643447.png
  server/routes.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Simplify database connection by always using the DATABASE_URL
  attached_assets/image_1756734587754.png
  attached_assets/image_1756734596865.png
  server/config/index.js
  server/config/index.ts
Owners: @koveogestion/tech-leads

Add new API endpoints for managing contacts and common spaces
  attached_assets/Pasted-index-DPCp94Uk-js-217-Violation-click-handler-took-170ms-index-DPCp94Uk-js-293-GET-https-723-1756734932041_1756734932042.txt
  attached_assets/image_1756734928295.png
  server/routes.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Update database to manage resident and building documents effectively
  attached_assets/image_1756735627525.png
Owners: @koveogestion/tech-leads
