Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team

Add system to automatically generate sample bookings for demonstration purposes
  attached_assets/image_1756157464118.png
  server/routes-minimal.ts
Owners: @koveogestion/tech-leads

Display a non-bookable label for common spaces
  attached_assets/image_1756157606727.png
  client/src/pages/residents/common-spaces.tsx
Owners: @koveogestion/tech-leads

Fix errors when fetching calendar data and improve API error handling
  attached_assets/Pasted-queryClient-ts-125-API-returned-HTML-instead-of-JSON-This-usually-means-Expected-JSON-response-b-1756157749302_1756157749303.txt
  attached_assets/image_1756157755575.png
  attached_assets/image_1756157864544.png
  client/src/lib/queryClient.ts
  server/routes-minimal.ts
Owners: @koveogestion/tech-leads

Add link to external calendar and improve booking export button placement
  attached_assets/Pasted-queryClient-ts-134-API-returned-HTML-instead-of-JSON-This-usually-means-Expected-JSON-response-b-1756157923455_1756157923455.txt
  attached_assets/image_1756157901406.png
  client/src/pages/residents/common-spaces.tsx
Owners: @koveogestion/tech-leads

Improve calendar loading reliability by adjusting error handling and retries
  client/src/components/common-spaces/calendar-view.tsx
  client/src/lib/queryClient.ts
Owners: @koveogestion/tech-leads

Improve API error handling and debugging for common spaces
  attached_assets/Pasted-queryClient-ts-140-API-returned-HTML-instead-of-JSON-This-usually-means-Expected-JSON-response-b-1756158096432_1756158096432.txt
  attached_assets/image_1756158093062.png
  attached_assets/image_1756158172857.png
  attached_assets/image_1756158253969.png
  server/api/common-spaces.ts
  server/routes-minimal.ts
Owners: @koveogestion/tech-leads

Allow flexible opening hours selection for common spaces
  client/src/pages/manager/common-spaces-stats.tsx
Owners: @koveogestion/tech-leads

Update sidebar to rename dashboard to quick actions
  attached_assets/Pasted-queryClient-ts-71-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-d-1756158471462_1756158471462.txt
  attached_assets/image_1756158455272.png
  client/src/components/layout/sidebar.tsx
  client/src/config/navigation.ts
Owners: @koveogestion/tech-leads

Add a calendar view to the dashboard for managing common spaces
  client/src/App.tsx
  client/src/components/layout/sidebar.tsx
  client/src/config/navigation.ts
  client/src/pages/dashboard/calendar.tsx
Owners: @koveogestion/tech-leads

Add a way for users to view their confirmed bookings
  attached_assets/image_1756158754779.png
  server/api/common-spaces.ts
Owners: @koveogestion/tech-leads

Add tests for Quebec French translations on user management pages
  tests/website/website-translation.test.tsx
Owners: @koveogestion/tech-leads

Improve booking form with scrollable calendar and consistent date display
  client/src/pages/residents/common-spaces.tsx
Owners: @koveogestion/tech-leads

Enhance website with comprehensive bilingual testing and support
  attached_assets/image_1756159256013.png
  attached_assets/image_1756159456096.png
  tests/website/extended-routes-translation.test.tsx
Owners: @koveogestion/tech-leads

Fix error when booking common spaces and changing months
  client/src/pages/residents/common-spaces.tsx
Owners: @koveogestion/tech-leads

Add ability for managers to edit common space details
  attached_assets/image_1756159753105.png
  client/src/pages/manager/common-spaces-stats.tsx
Owners: @koveogestion/tech-leads

Make the common space creation form scrollable for better usability
  client/src/pages/manager/common-spaces-stats.tsx
Owners: @koveogestion/tech-leads

Add a reusable scrollable dialog component for forms
  client/src/components/ui/scrollable-dialog.tsx
  tests/components/scrollable-dialog.test.tsx
Owners: @koveogestion/tech-leads

Add a multi-step process to link external calendars to the platform
  client/src/components/common-spaces/common-space-calendar.tsx
  client/src/pages/dashboard/calendar.tsx
Owners: @koveogestion/tech-leads

Address booking errors by adjusting past date checks and time handling
  client/src/pages/residents/common-spaces.tsx
  server/api/common-spaces.ts
Owners: @koveogestion/tech-leads

Update roadmap to reflect current implementation status
  ROADMAP.md
Owners: @koveogestion/tech-leads

Update feature descriptions and language translations for clarity
  attached_assets/image_1756160941096.png
  attached_assets/image_1756161006902.png
  client/src/lib/i18n.ts
  client/src/pages/features.tsx
  tests/utils/test-providers.tsx
  tests/website/false-representation.test.tsx
Owners: @koveogestion/tech-leads

Update profile button to direct users to the correct settings page
  client/src/components/ui/hamburger-menu.tsx
Owners: @koveogestion/tech-leads

Add a pricing page with a single plan and feature details
  client/src/App.tsx
  client/src/components/ui/hamburger-menu.tsx
  client/src/lib/i18n.ts
  client/src/pages/pricing.tsx
Owners: @koveogestion/tech-leads

Automate feature table synchronization to production during deployments
  scripts/deployment-hooks.ts
  scripts/sync-features-to-production.ts
  server/api/feature-management.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Update pricing information to include tax details
  client/src/pages/pricing.tsx
Owners: @koveogestion/tech-leads

Adjust roadmap progress calculation to include in-progress features
  attached_assets/image_1756161688907.png
  client/src/pages/admin/roadmap.tsx
Owners: @koveogestion/tech-leads

Improve UI component analysis and enhance translation validation for better code quality
  server/index.ts
  tests/code-analysis/ui-component-redundancy.test.ts
  tests/unit/i18n/language-validation.test.ts
  tests/utils/mock-translations.ts
Owners: @koveogestion/api-team, @koveogestion/tech-leads, @koveogestion/i18n-team

Standardize translation keys to snake_case for consistency
  tests/unit/i18n/language-validation.test.ts
  tests/utils/mock-translations-old.ts
  tests/utils/mock-translations.ts.bak
Owners: @koveogestion/i18n-team, @koveogestion/tech-leads

Improve language validation tests for better French translation accuracy
  tests/integration/page-language-validation.test.tsx
  tests/unit/language-validation.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/i18n-team

Improve calendar component functionality and add comprehensive tests
  client/src/components/common-spaces/calendar-view.tsx
  client/src/components/common-spaces/common-space-calendar.tsx
  client/src/components/common-spaces/user-calendar.tsx
  client/src/pages/dashboard/calendar.tsx
  client/src/pages/manager/common-spaces-stats.tsx
  client/src/pages/residents/common-spaces.tsx
  client/src/pages/residents/my-calendar.tsx
  scripts/sync-features-to-production.ts
  server/api/ai-monitoring.ts
  server/api/common-spaces.ts
  server/api/feature-management.ts
  tests/integration/calendar-booking-flow.test.ts
  tests/integration/calendar-loading-error.test.ts
  tests/integration/common-spaces-calendar.test.ts
  tests/integration/common-spaces-demo-scenarios.test.ts
  tests/integration/page-language-validation.test.tsx
  tests/security/demo-users-validation.test.ts
  tests/unit/calendar/calendar-features.test.ts
  tests/unit/components/common-spaces-stats.test.tsx
  tests/unit/components/common-spaces.test.tsx
  tests/unit/demands/demands-api.test.ts
  tests/unit/feature-request-language.test.tsx
  tests/unit/feature-requests-frontend.test.tsx
  tests/unit/filter-sort.test.ts
  tests/unit/gemini-analysis.test.ts
  tests/website/extended-routes-translation.test.tsx
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Refine filtering and sorting logic for data management
  client/src/lib/filter-sort/utils.ts
  tests/unit/demands/demands-api.test.ts
  tests/unit/feature-requests-frontend.test.tsx
  tests/unit/filter-sort.test.ts
Owners: @koveogestion/tech-leads

Improve testing by refining data cleanup and mocking components
  tests/unit/demands/demands-api.test.ts
  tests/unit/feature-requests-frontend.test.tsx
Owners: @koveogestion/tech-leads

Improve management of resident requests for better oversight
  client/src/pages/ManagerDemandsPage.tsx
Owners: @koveogestion/tech-leads

Refine tests and update feature management
  tests/unit/feature-management-real.test.ts
  tests/unit/feature-requests-frontend.test.tsx
Owners: @koveogestion/tech-leads

Improve test configurations and logging for better development Fixes issues related to test file parsing and console output in tests.
  .eslintrc.js
  server/rbac.ts
  tests/unit/budget/budget-api-integration.test.ts
  tests/unit/budget/budget-calculation-logic.test.ts
Owners: @koveogestion/tech-leads

Improve testing configurations and fix data type issues
  .eslintignore
  .eslintrc.js
  tests/unit/budget/budget-api-integration.test.ts
  tests/unit/budget/budget-calculation-logic.test.ts
Owners: @koveogestion/tech-leads

Improve test code quality by excluding specific files from linting
  .eslintignore
Owners: @koveogestion/tech-leads

Update linting rules for improved code quality and consistency
  .eslintrc.js
  eslint.config.js
  eslint.config.mjs
  package-lock.json
  package.json
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Update code linting rules and configuration for better code quality and consistency
  eslint.config.mjs
  jest.config.js
  tailwind.config.js
  tests/components/scrollable-dialog.test.tsx
  tests/utils/mock-translations-old.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Update document management system with improved error handling and UI refinements
  client/src/lib/documents.ts
  client/src/pages/manager/BuildingDocuments.tsx
  client/src/pages/manager/ResidenceDocuments.tsx
  client/src/pages/residents/BuildingDocuments.tsx
  client/src/pages/residents/ResidenceDocuments.tsx
Owners: @koveogestion/tech-leads
