Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

Task #1245: Clean up maintenance scripts that try to run deleted tests
  scripts/deployment-validation.ts
  scripts/run-quality-check.ts
  scripts/run-redundancy-analysis.ts
  scripts/test-auth-security.ts
  tests/unit/test-prod-doc-path-references.test.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Task #1263: Cover the Linking step's ArrowRight 'join next group' shortcut
  tests/unit/components/bulk-document-import-linking-keyboard-dnd.test.tsx
Owners: @koveogestion/tech-leads

Make all confirmation dialogs phone-friendly by default (Task #1264)
  client/src/components/ui/alert-dialog.tsx
  client/src/components/ui/dialog.tsx
  client/src/pages/admin/bulk-document-import.tsx
Owners: @koveogestion/tech-leads

Refresh stale doc references and shrink markdown stale-path allow-list
  docs/BUDGET_TESTING_PIPELINE.md
  docs/CODE_EXAMPLES_GUIDE.md
  docs/COMPONENT_DOCUMENTATION.md
  docs/DEMO_USER_SECURITY.md
  docs/DEMO_USER_TESTING_GUIDE.md
  docs/QUALITY_SYSTEM_OVERVIEW.md
  docs/RBAC_SYSTEM.md
  docs/ROUTING_CHECKLIST.md
  docs/ai-agent-improvements-summary.md
  docs/demo-organizations-deployment-guide.md
  docs/deployment/deployment-guide.md
  docs/security/user-password-leak-audit.md
  tests/unit/test-markdown-doc-path-references.test.ts
Owners: @koveogestion/tech-leads

Task #1271 — Org-scope hardening across endpoints and data
  client/src/pages/manager/maintenance/projects/ProjectTimelineView.tsx
  client/src/pages/manager/maintenance/projects/ProjectsOverview.tsx
  jest.global-setup.cjs
  migrations/0020_documents_residence_id_fk.sql
  migrations/0021_invoices_residence_id_fk.sql
  migrations/0022_invitations_residence_id_fk.sql
  server/api/bills.ts
  server/api/buildings.ts
  server/api/common-spaces.ts
  server/index.ts
  server/mcp/server.ts
  server/tests/ai-suggest-payment-schedule-route.test.ts
  server/tests/mcp-tools.test.ts
  server/utils/org-scope.ts
  shared/schemas/core.ts
  shared/schemas/documents.ts
  shared/schemas/invoices.ts
  shared/schemas/operations.ts
  tests/integration/bills-cross-org-write-denial.test.ts
  tests/unit/common-spaces-accessible-buildings.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins, @koveogestion/api-team

Task #1273: Bulk-import reliability and admin UX
  client/src/pages/admin/bulk-document-import.tsx
  server/api/bulk-import.ts
  tests/integration/bulk-import-rest-endpoints.test.ts
Owners: @koveogestion/tech-leads

Task #1275: Make financialYear editable on existing maintenance projects
  client/src/components/maintenance/projects/ProjectForm.tsx
  client/src/hooks/useProjectWorkflow.ts
  client/src/lib/i18n.ts
  replit.md
  server/api/maintenance.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Task #1265: Add phone-width regression test for bulk-import dialogs
  tests/unit/components/bulk-document-import-dialogs-mobile.test.tsx
Owners: @koveogestion/tech-leads

Task #1277: residents can submit maintenance requests via REST + UI
  client/src/pages/residents/residence.tsx
  server/api/auto/index.ts
  server/api/auto/maintenance-requests.ts
  tests/unit/api/rest-create-maintenance-request.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Task #1274: Date-only field timezone-shift sweep
  client/src/components/bill-management/ModularBillForm.tsx
  client/src/components/invoice-management/InvoiceCard.tsx
  client/src/components/maintenance/projects/ProjectForm.tsx
  client/src/components/maintenance/projects/workflow/SubmissionTab.tsx
  client/src/components/maintenance/suggestions/SuggestionCard.tsx
  client/src/components/maintenance/suggestions/SuggestionForm.tsx
  client/src/components/maintenance/suggestions/SuggestionTable.tsx
  client/src/pages/dashboard/overview.tsx
  client/src/pages/manager/bills-sort.ts
  client/src/pages/manager/bills.tsx
  client/src/pages/manager/budget/index.tsx
  client/src/pages/residents/common-spaces.tsx
  tests/unit/components/date-only-fields-tz-shift.test.tsx
Owners: @koveogestion/tech-leads

Task #1276: Backend write-path safety — three guards.
  server/api/users.ts
  server/mcp/server.ts
  shared/schemas/operations.ts
  tests/integration/invitation-resend-building-guard.test.ts
  tests/unit/api/mcp-demand-tools.test.ts
  tests/unit/api/mcp-resend-invitation.test.ts
Owners: @koveogestion/tech-leads

Task #1269: Surface pre-existing bidirectional linking-chain inconsistencies in bulk-import sessions so admins can repair them before edits start failing.
  scripts/audit-bulk-import-link-chains.ts
  server/api/bulk-import-link-diagnostics.ts
  tests/unit/api/bulk-import-link-diagnostics.test.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Task #1270: Route all bulk-import sibling-list builds through buildSessionItemsForStep
  server/api/bulk-import.ts
Owners: @koveogestion/tech-leads

Task #1268: mirror AI link suggestions bidirectionally in MCP
  server/mcp/bulk-import-tools.ts
  tests/unit/mcp/bulk-import-link-bidirectional.test.ts
Owners: @koveogestion/tech-leads

Task #1282 — Promote status to 'linked' on manual link edits
  server/api/bulk-import.ts
  tests/unit/api/bulk-import-set-linking-decision.test.ts
  tests/unit/components/bulk-document-import-linking-group-card.test.tsx
  tests/unit/test-prod-doc-path-references.test.ts
Owners: @koveogestion/tech-leads

Task #1298 — Confirm chains stay broken after the page refreshes
  tests/unit/components/bulk-document-import-linking-group-card.test.tsx
Owners: @koveogestion/tech-leads

feat: backend infrastructure hardening (task #1310) — lazy-mount 405 enforcement, input-scanner label-map opt-out, lite-endpoint integration tests + session-lite org-scope fix
  server/api/auto/_register.ts
  server/api/auto/index.ts
  server/middleware/input-sanitization.ts
  server/utils/lazy-mount.ts
  tests/integration/bulk-import-lite-and-buildings-lite.test.ts
Owners: @koveogestion/tech-leads

Task #1308: MCP write-tool validation and error handling
  replit.md
  server/mcp/server.ts
  server/tests/mcp-tools.test.ts
Owners: @koveogestion/tech-leads

Task #1312: Gantt editing improvements (keyboard nudge, drag chip, hover tooltip, end-date field)
  client/src/components/GanttChart.tsx
  client/src/lib/i18n.ts
  client/src/pages/manager/budget/BudgetProjectDialogs.tsx
  client/src/pages/manager/budget/index.tsx
  tests/e2e/gantt-editing-flows.e2e.test.ts
  tests/unit/components/gantt-chart-drag-edge-cases.test.tsx
  tests/unit/components/gantt-chart-keyboard-nudge.test.tsx
Owners: @koveogestion/tech-leads

Task #1314: Resident self-service maintenance flow + French translations
  client/src/components/maintenance/MaintenanceRequestDialog.tsx
  client/src/lib/i18n.ts
  client/src/pages/residents/dashboard.tsx
  client/src/pages/residents/residence.tsx
  replit.md
  server/api/auto/maintenance-requests.ts
  server/optimized-db-storage.ts
  server/storage.ts
  tests/unit/api/rest-create-maintenance-request.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team, @koveogestion/database-admins

Task #1309: Fix date and timezone correctness across the app
  client/src/components/bill-management/ModularBillForm.tsx
  client/src/components/invoice-management/InvoiceCard.tsx
  client/src/components/maintenance/projects/ProjectForm.tsx
  client/src/components/maintenance/projects/workflow/CompleteTab.tsx
  client/src/components/maintenance/projects/workflow/SubmissionTab.tsx
  client/src/components/maintenance/suggestions/SuggestionCard.tsx
  client/src/components/maintenance/suggestions/SuggestionForm.tsx
  client/src/components/maintenance/suggestions/SuggestionTable.tsx
  client/src/lib/validations.ts
  client/src/pages/dashboard/overview.tsx
  client/src/pages/manager/bills.tsx
  client/src/pages/manager/budget/index.tsx
  client/src/pages/manager/maintenance/projects/SuggestionsIntegration.tsx
  client/src/pages/residents/common-spaces.tsx
  eslint.config.mjs
  tests/unit/api/mcp-create-communication-meeting.test.ts
  tests/unit/components/gantt-chart-tz-east-alignment.test.tsx
  tests/unit/components/gantt-chart-tz-west-alignment.test.tsx
Owners: @koveogestion/tech-leads

Fix type-safety issues: remove as-any cast and multer augmentation placement
  __mocks__/server/storage.ts
  server/api/ai-document-analysis.ts
  server/api/users.ts
  server/db/queries/user-queries.ts
  server/optimized-db-storage.ts
  server/storage.ts
  server/tests/ai-document-analyze.test.ts
  server/types/multer-extensions.d.ts
  tests/unit/api/ai-error-sanitization.test.ts
  tests/unit/api/user-private-fields.test.ts
Owners: @koveogestion/database-admins, @koveogestion/tech-leads

Fix code-review rejections for Task #1313 (projects permission gating, timeline status filter, edit error test)
  client/src/components/maintenance/projects/ProjectTimeline.tsx
  client/src/pages/manager/maintenance/projects/ProjectDetailsPanel.tsx
  client/src/pages/manager/maintenance/projects/ProjectTimelineView.tsx
  client/src/pages/manager/maintenance/projects/ProjectsHeader.tsx
  client/src/pages/manager/maintenance/projects/ProjectsPage.tsx
  client/src/pages/manager/maintenance/projects/SuggestionsIntegration.tsx
  tests/unit/components/project-form-edit-error.test.tsx
Owners: @koveogestion/tech-leads

Fix test failures and broken exports from Task #1315 French i18n pass
  client/src/components/bill-management/ConfidenceIndicator.tsx
  client/src/components/maintenance/inventory/DocumentManager.tsx
  client/src/lib/i18n.ts
  client/src/pages/admin/bulk-document-import.tsx
  client/src/pages/admin/bulk-import-next-step-block.tsx
  tests/unit/components/bulk-document-import-ai-failure-retry.test.tsx
  tests/unit/components/bulk-document-import-auto-apply-identification.test.tsx
  tests/unit/components/bulk-document-import-bulk-reassign.test.tsx
  tests/unit/components/bulk-document-import-bulk-retry-progress.test.tsx
  tests/unit/components/bulk-document-import-detail-panel.test.tsx
  tests/unit/components/bulk-document-import-dialogs-mobile.test.tsx
  tests/unit/components/bulk-document-import-excluded-visibility.test.tsx
  tests/unit/components/bulk-document-import-fallback-hint.test.tsx
  tests/unit/components/bulk-document-import-history-ai-degraded.test.tsx
  tests/unit/components/bulk-document-import-linking-chain-preview.test.tsx
  tests/unit/components/bulk-document-import-linking-group-card.test.tsx
  tests/unit/components/bulk-document-import-linking-keyboard-dnd.test.tsx
  tests/unit/components/bulk-document-import-lite-poll-interrupted-banner.test.tsx
  tests/unit/components/bulk-document-import-period-date-picker.test.tsx
  tests/unit/components/bulk-document-import-polled-retry-spinner.test.tsx
  tests/unit/components/bulk-document-import-preview-trigger.test.tsx
  tests/unit/components/bulk-document-import-reassign-residence-prefill.test.tsx
  tests/unit/components/bulk-document-import-reset-step.test.tsx
  tests/unit/components/bulk-document-import-residence-picker.test.tsx
  tests/unit/components/bulk-document-import-retry-isolation.test.tsx
  tests/unit/components/bulk-document-import-retry-on-success.test.tsx
  tests/unit/components/bulk-document-import-screening-rotation-badge.test.tsx
  tests/unit/components/bulk-document-import-sorting-decision.test.tsx
  tests/unit/components/bulk-document-import-tag-editor.test.tsx
  tests/unit/components/bulk-document-import-text-only-degraded-badge.test.tsx
  tests/unit/components/bulk-import-next-step-block.test.tsx
  tests/unit/components/bulk-import-next-step-gate-cross-check.test.tsx
  tests/unit/i18n/__snapshots__/inventory-screen-snapshot.test.tsx.snap
  tests/unit/i18n/inventory-screen-snapshot.test.tsx
  tests/unit/i18n/plural-correctness.test.ts
Owners: @koveogestion/tech-leads

Task #1311: Financial Year editing and budget recomputation (complete)
  client/src/lib/i18n.ts
  client/src/pages/manager/budget/YearEndProjectionTooltipContent.tsx
  client/src/pages/manager/budget/index.tsx
  replit.md
  server/api/budgets.ts
  server/api/maintenance.ts
  server/api/project-cost-placement.ts
  server/api/project-fy-validator.ts
  tests/unit/budget/project-fy-spread.test.ts
  tests/unit/budget/project-fy-validation.test.ts
  tests/unit/budget/year-end-projection-tooltip-snapshot.test.tsx
  tests/unit/budget/year-end-projection.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

fix: bundle-12 bulk import bug fixes (Task #1317)
  tests/unit/server/upload-filename-normalization.test.ts
Owners: @koveogestion/tech-leads

feat(task-1306): add regression tests for remaining code-review gaps
  replit.md
  server/api/common-spaces.ts
  server/api/documents.ts
  server/api/invoices.ts
  server/api/users.ts
  server/mcp/server.ts
  server/scripts/check-cross-org-assignment-integrity.ts
  server/tests/document-residence-mismatch.test.ts
  server/utils/org-scope.ts
  tests/integration/bills-cross-org-write-denial.test.ts
  tests/integration/flat-list-org-scope.test.ts
  tests/integration/invoices-cross-org-write-denial.test.ts
  tests/unit/api/invitations-list-org-scope.test.ts
  tests/unit/api/mcp-invite-user-soft-replace.test.ts
Owners: @koveogestion/tech-leads

feat(bulk-import): add model_misconfigured AI error detection (#1319)
  client/src/pages/admin/bulk-import-fallback-reason-badge.tsx
  server/api/bulk-import.ts
  server/services/bulk-import-analyzer.ts
  shared/schemas/bulk-import.ts
  tests/unit/api/bulk-import-per-file-ai-failure-log.test.ts
  tests/unit/components/bulk-import-fallback-reason-badge.test.tsx
  tests/unit/services/bulk-import-analyzer.test.ts
Owners: @koveogestion/tech-leads

task #1316: Remove @ts-nocheck from 4 workflow tab components and fix type errors
  .replit
  TYPE_CHECK_DEBT.md
  client/src/components/maintenance/projects/workflow/ElementManagementTab.tsx
  client/src/components/maintenance/projects/workflow/PlannedTab.tsx
  client/src/components/maintenance/projects/workflow/PreWorkTab.tsx
  client/src/components/maintenance/projects/workflow/SubmissionTab.tsx
  client/src/hooks/useProjectWorkflow.ts
  scripts/check-ts-suppressions.sh
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Task #1323: Admin user list flatness and spinner watchdog
  client/src/components/admin/organizations-card.tsx
  client/src/pages/admin/permissions.tsx
  client/src/pages/manager/user-management.tsx
  tests/e2e/admin-spinner-watchdog.e2e.test.ts
Owners: @koveogestion/tech-leads

Add ability to remove files from merge groups during bulk import
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-bu_1777288064583.txt
  attached_assets/image_1777288058460.png
  client/src/pages/admin/bulk-document-import.tsx
  tests/unit/components/bulk-document-import-merge-group-remove.test.tsx
Owners: @koveogestion/tech-leads

fix(hygiene): resolve code-review blockers from Task #1325
  client/src/App.tsx
  client/src/config/route-redirects.ts
  client/src/pages/not-found.tsx
  migrations/0023_drop_bug_reports_idea_box.sql
  server/jobs/maintenanceJobs.ts
  server/jobs/orphan-invitation-cleanup.ts
  tests/unit/not-found-and-redirects.test.tsx
Owners: @koveogestion/tech-leads, @koveogestion/database-admins, @koveogestion/business-team

Task #1320: AI guess quality — residence chip, history tests, oversized-comment guard
  client/src/pages/admin/bulk-document-import.tsx
  tests/unit/api/bulk-import-history-ai-guess-fields.test.ts
  tests/unit/api/bulk-import-residence-chip.test.ts
  tests/unit/api/mcp-demand-comment-oversized-guard.test.ts
  tests/unit/components/bulk-document-import-ai-residence-chip.test.tsx
Owners: @koveogestion/tech-leads

feat: implement super_admin as first-class role (#1326)
  client/src/App.tsx
  client/src/components/admin/send-invitation-dialog.tsx
  client/src/config/navigation.ts
  client/src/lib/i18n.ts
  migrations/0023_super_admin_role.sql
  replit.md
  scripts/create-admin-user.ts
  server/api/users.ts
  server/auth.ts
  server/mcp/index.ts
  server/mcp/oauth-consent.ts
  server/mcp/oauth-provider.ts
  server/mcp/seed-mcp-data.ts
  server/mcp/server.ts
  server/rbac.ts
  server/routes.ts
  server/utils/org-scope.ts
  shared/schemas/core.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins, @koveogestion/quality-team, @koveogestion/security-team, @koveogestion/api-team

Task #1341: surface FK delete blockers in REST + UI
  client/src/components/bill-management/ModularBillForm.tsx
  client/src/hooks/useProjectWorkflow.ts
  client/src/lib/demo-error-handler.ts
  client/src/lib/fk-violation.ts
  server/api/bills.ts
  server/api/common-spaces.ts
  server/api/maintenance.ts
  server/utils/rest-db-error.ts
  tests/unit/common-spaces-accessible-buildings.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Fix migration issues to allow new user roles and promotions
  migrations/0023_super_admin_role.sql
  migrations/0024_super_admin_role_add_enum.sql
  migrations/0025_super_admin_role_promote_users.sql
Owners: @koveogestion/database-admins

Task #1321 — File merge group editing from the card
  tests/unit/api/bulk-import-set-sorting-decision.test.ts
  tests/unit/components/bulk-document-import-excluded-visibility.test.tsx
Owners: @koveogestion/tech-leads

Task #1342: Mirror MCP numeric guards on shared insert schemas
  shared/schemas/property.ts
  tests/unit/shared-property-insert-schemas.test.ts
Owners: @koveogestion/business-team, @koveogestion/quebec-compliance, @koveogestion/tech-leads

Task #1322: Admin org access discovery and impersonation visibility
  client/src/App.tsx
  client/src/components/admin/ImpersonationBanner.tsx
  client/src/config/navigation.ts
  client/src/lib/i18n.ts
  client/src/pages/auto/admin-impersonation-log.tsx
  server/api/auto/impersonation-log.ts
  server/api/auto/index.ts
  server/mcp/server.ts
  server/services/impersonation-audit.ts
  tests/e2e/impersonation-audit.e2e.test.ts
  tests/unit/api/mcp-assume-user.test.ts
Owners: @koveogestion/tech-leads

Task #1324: Residence picker UX, tests, and dead code removal
  TYPE_CHECK_DEBT.md
  client/src/components/common/SearchableSelectionGrid.tsx
  client/src/components/hoc/withHierarchicalSelection.tsx
  tests/e2e/residence-picker-save-refresh.e2e.test.ts
  tests/unit/residence-chooser-search-pagination.test.tsx
  tests/unit/residence-picker-skipped-picker.test.tsx
Owners: @koveogestion/tech-leads

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team
