Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team

Update UI components and data handling for property management
  client/src/components/maintenance/Calendar.tsx
  client/src/components/maintenance/DataTable.tsx
  client/src/components/maintenance/FormModal.tsx
  client/src/components/maintenance/StatusBadges.tsx
  client/src/components/maintenance/UploadDropzone.tsx
  client/src/components/maintenance/index.ts
  client/src/components/ui/calendar.tsx
  client/src/hooks/use-building-context.tsx
  client/src/hooks/use-buildings.ts
  package-lock.json
  package.json
Owners: @koveogestion/tech-leads

Enhance property maintenance with improved document categorization and organization
  client/src/components/maintenance/inventory/DocumentManager.tsx
  client/src/components/maintenance/inventory/ElementCard.tsx
  client/src/components/maintenance/inventory/ElementForm.tsx
  client/src/components/maintenance/inventory/ElementHistoryForm.tsx
  client/src/components/maintenance/inventory/ElementTable.tsx
  client/src/components/maintenance/inventory/HistoryTable.tsx
  client/src/components/maintenance/inventory/UniformatBrowser.tsx
  client/src/components/maintenance/inventory/index.ts
  server/api/maintenance.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Enhance project management with detailed budget and element tracking
  client/src/components/maintenance/projects/ProjectBudget.tsx
  client/src/components/maintenance/projects/ProjectCard.tsx
  client/src/components/maintenance/projects/ProjectElements.tsx
  client/src/components/maintenance/projects/ProjectForm.tsx
  client/src/components/maintenance/projects/ProjectNotes.tsx
  client/src/components/maintenance/projects/ProjectTable.tsx
  client/src/components/maintenance/projects/ProjectTimeline.tsx
  client/src/components/maintenance/projects/StatusStepper.tsx
  client/src/components/maintenance/projects/index.ts
Owners: @koveogestion/tech-leads

Enhance maintenance suggestions with improved UI and data visualization
  client/src/components/maintenance/suggestions/ScheduleCalendar.tsx
  client/src/components/maintenance/suggestions/SuggestionAnalytics.tsx
  client/src/components/maintenance/suggestions/SuggestionCard.tsx
  client/src/components/maintenance/suggestions/SuggestionDashboard.tsx
  client/src/components/maintenance/suggestions/SuggestionFilters.tsx
  client/src/components/maintenance/suggestions/SuggestionForm.tsx
  client/src/components/maintenance/suggestions/SuggestionTable.tsx
  client/src/components/maintenance/suggestions/SuggestionWorkflow.tsx
  client/src/components/maintenance/suggestions/index.ts
  client/src/components/maintenance/suggestions/types.ts
Owners: @koveogestion/tech-leads

Add building maintenance inventory management features
  client/src/App.tsx
  client/src/pages/manager/maintenance/inventory/ElementDetailsPanel.tsx
  client/src/pages/manager/maintenance/inventory/InventoryHeader.tsx
  client/src/pages/manager/maintenance/inventory/InventoryOverview.tsx
  client/src/pages/manager/maintenance/inventory/InventoryPage.tsx
  client/src/pages/manager/maintenance/inventory/index.tsx
Owners: @koveogestion/tech-leads

Add new section to manage maintenance projects and their details
  client/src/App.tsx
  client/src/pages/manager/maintenance/projects/ProjectDashboardView.tsx
  client/src/pages/manager/maintenance/projects/ProjectDetailsPanel.tsx
  client/src/pages/manager/maintenance/projects/ProjectTableView.tsx
  client/src/pages/manager/maintenance/projects/ProjectTimelineView.tsx
  client/src/pages/manager/maintenance/projects/ProjectsHeader.tsx
  client/src/pages/manager/maintenance/projects/ProjectsOverview.tsx
  client/src/pages/manager/maintenance/projects/ProjectsPage.tsx
  client/src/pages/manager/maintenance/projects/SuggestionsIntegration.tsx
  client/src/pages/manager/maintenance/projects/index.tsx
Owners: @koveogestion/tech-leads

Add AI-powered maintenance suggestion generation and job scheduling
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/26/schema_2690bcaf06419197a672753406de69b5
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/26/schema_2690bcaf06419197a672753406de69b5.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/9f/communicationpagetest_9f74bc5d4947f1a01af1e63987bdb55b
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/9f/communicationpagetest_9f74bc5d4947f1a01af1e63987bdb55b.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/c2/core_c2d355da887e8fed65f98807f4564fdf
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/c2/core_c2d355da887e8fed65f98807f4564fdf.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d2/operations_d200b7c61260e121c8395a01a6512d98
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d2/operations_d200b7c61260e121c8395a01a6512d98.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/f0/maintenance_f05bb1aa096c4ba8da49b73b4593ee65
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/f0/maintenance_f05bb1aa096c4ba8da49b73b4593ee65.map
  server/api/maintenance.ts
  server/jobs/index.ts
  server/jobs/maintenanceJobs.ts
  server/services/maintenanceSuggestionService.ts
  server/tests/maintenance-suggestion-service.test.ts
  server/tests/seasonShift.test.ts
  tests/unit/maintenance-suggestion-service-fixes.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Add navigation and translations for maintenance features
  client/src/config/navigation.ts
  client/src/lib/i18n.ts
Owners: @koveogestion/tech-leads

Update maintenance project filtering and seed uniformat data
  server/services/maintenanceSuggestionService.ts
  temp-seed-uniformat.js
Owners: @koveogestion/business-team, @koveogestion/tech-leads

Update project icon to a more general folder symbol
  attached_assets/image_1758508796622.png
  client/src/config/navigation.ts
Owners: @koveogestion/tech-leads

Update component to use a new icon for historical data view
  attached_assets/image_1758508878487.png
  client/src/components/maintenance/inventory/ElementCard.tsx
Owners: @koveogestion/tech-leads

Update database schema and relations for property management platform
  attached_assets/image_1758509038885.png
  migrations/relations.ts
  migrations/schema.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Restructure manager menu and fix navigation for inventory and projects
  client/src/pages/manager/maintenance/inventory/InventoryPage.tsx
Owners: @koveogestion/tech-leads

Add unified navigation and fix page errors for maintenance sections
  client/src/components/maintenance/navigation/MaintenanceNavigationHOC.tsx
  client/src/pages/manager/maintenance/inventory/InventoryPage.tsx
  client/src/pages/manager/maintenance/projects/ProjectsPage.tsx
Owners: @koveogestion/tech-leads

Update page titles and improve modal display for project management features
  attached_assets/image_1758509663060.png
  attached_assets/image_1758509685740.png
  client/src/pages/manager/maintenance/inventory/InventoryPage.tsx
  client/src/pages/manager/maintenance/projects/ProjectsPage.tsx
Owners: @koveogestion/tech-leads

Standardize navigation and titles for manager maintenance pages
  client/src/components/maintenance/navigation/MaintenanceNavigationHOC.tsx
  client/src/components/manager/navigation/ManagerNavigationHOC.tsx
  client/src/pages/manager/bills.tsx
  client/src/pages/manager/maintenance/inventory/InventoryPage.tsx
  client/src/pages/manager/maintenance/projects/ProjectsPage.tsx
  client/src/pages/manager/residences.tsx
Owners: @koveogestion/tech-leads

Update page headers to use a new Header component for consistency
  attached_assets/image_1758510184316.png
  attached_assets/targeted_element_1758510268895.png
  client/src/components/manager/navigation/ManagerNavigationHOC.tsx
  client/src/pages/manager/bills.tsx
  client/src/pages/manager/maintenance/inventory/InventoryPage.tsx
  client/src/pages/manager/maintenance/projects/ProjectsPage.tsx
  client/src/pages/manager/residences.tsx
Owners: @koveogestion/tech-leads

Update header to keep existing layout and change title and subtitle
  attached_assets/image_1758510416128.png
  attached_assets/image_1758510420671.png
  attached_assets/image_1758510425690.png
Owners: @koveogestion/tech-leads

Update page titles and subtitles for better clarity
  attached_assets/image_1758510495802.png
  client/src/pages/manager/budget.tsx
  client/src/pages/manager/buildings.tsx
  client/src/pages/manager/demands.tsx
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Organize maintenance journal with sub-menus in the sidebar navigation
  attached_assets/image_1758510576302.png
  attached_assets/image_1758510660300.png
  attached_assets/image_1758510665934.png
  client/src/config/navigation.ts
Owners: @koveogestion/tech-leads

Integrate hierarchical selection for organizations and buildings into pages
  client/src/pages/manager/maintenance/inventory/InventoryPage.tsx
  client/src/pages/manager/maintenance/projects/ProjectsPage.tsx
Owners: @koveogestion/tech-leads

Update page titles to accurately reflect building and inventory management
  attached_assets/image_1758511008939.png
  client/src/components/hoc/withHierarchicalSelection.tsx
  client/src/pages/manager/buildings.tsx
  client/src/pages/manager/maintenance/inventory/InventoryPage.tsx
  client/src/pages/manager/maintenance/projects/ProjectsPage.tsx
Owners: @koveogestion/tech-leads

Add debugging logs to hierarchical selection component
  client/src/components/hoc/withHierarchicalSelection.tsx
Owners: @koveogestion/tech-leads

Improve sidebar navigation to handle nested menu items
  client/src/components/layout/sidebar.tsx
Owners: @koveogestion/tech-leads

Improve page exports and remove debug logs
  attached_assets/Screenshot_20250922-050845_1758532149967.png
  client/src/components/hoc/withHierarchicalSelection.tsx
  client/src/pages/manager/maintenance/inventory/InventoryPage.tsx
  client/src/pages/manager/maintenance/projects/ProjectsPage.tsx
Owners: @koveogestion/tech-leads

Improve project timeline display and status stepper functionality
  client/src/pages/manager/maintenance/projects/ProjectsPage.tsx
Owners: @koveogestion/tech-leads

Add detailed logs to inventory and project management pages
  client/src/pages/manager/maintenance/inventory/InventoryPage.tsx
  client/src/pages/manager/maintenance/projects/ProjectsPage.tsx
Owners: @koveogestion/tech-leads

Improve project form handling and fix loading issues on inventory pages
  client/src/components/maintenance/inventory/ElementTable.tsx
  client/src/components/maintenance/projects/ProjectForm.tsx
Owners: @koveogestion/tech-leads

Update inventory tables to correctly display associated building data
  client/src/components/maintenance/inventory/ElementTable.tsx
  client/src/pages/manager/maintenance/inventory/InventoryPage.tsx
Owners: @koveogestion/tech-leads

Remove building element data fetching for faster loading
  client/src/components/maintenance/inventory/ElementTable.tsx
Owners: @koveogestion/tech-leads

Remove building context and related API calls from maintenance modules
  attached_assets/Screenshot_20250922-061421_1758536080938.png
  client/src/pages/manager/maintenance/inventory/InventoryHeader.tsx
  client/src/pages/manager/maintenance/inventory/InventoryOverview.tsx
Owners: @koveogestion/tech-leads

Fix inventory page to correctly display asset and maintenance data
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1758538822670_1758538822671.txt
  client/src/components/maintenance/inventory/ElementCard.tsx
  client/src/pages/manager/maintenance/inventory/InventoryOverview.tsx
Owners: @koveogestion/tech-leads

Update maintenance components to pass building and organization IDs
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1758539019302_1758539019303.txt
  client/src/components/maintenance/inventory/DocumentManager.tsx
  client/src/components/maintenance/inventory/ElementForm.tsx
  client/src/components/maintenance/inventory/HistoryTable.tsx
  client/src/pages/manager/maintenance/inventory/InventoryPage.tsx
Owners: @koveogestion/tech-leads

Improve user data handling and application stability
  attached_assets/image_1758539259234.png
Owners: @koveogestion/tech-leads

Remove navigation links from the inventory header section
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1758539352329_1758539352329.txt
  client/src/pages/manager/maintenance/inventory/InventoryHeader.tsx
Owners: @koveogestion/tech-leads

Update projects page to fix building selection error and remove breadcrumbs
  client/src/pages/manager/maintenance/projects/ProjectsHeader.tsx
  client/src/pages/manager/maintenance/projects/ProjectsOverview.tsx
  client/src/pages/manager/maintenance/projects/ProjectsPage.tsx
Owners: @koveogestion/tech-leads

Pass organization and building IDs to maintenance views
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1758571399794_1758571399795.txt
  client/src/pages/manager/maintenance/projects/ProjectDashboardView.tsx
  client/src/pages/manager/maintenance/projects/ProjectTableView.tsx
  client/src/pages/manager/maintenance/projects/ProjectTimelineView.tsx
  client/src/pages/manager/maintenance/projects/ProjectsPage.tsx
Owners: @koveogestion/tech-leads

Update project table to include organization and building IDs
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1758571638292_1758571638293.txt
  client/src/components/maintenance/projects/ProjectTable.tsx
  client/src/pages/manager/maintenance/projects/ProjectTableView.tsx
Owners: @koveogestion/tech-leads

Remove reliance on building context for project details and suggestions
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1758571828112_1758571828113.txt
  client/src/pages/manager/maintenance/projects/ProjectDetailsPanel.tsx
  client/src/pages/manager/maintenance/projects/ProjectsPage.tsx
  client/src/pages/manager/maintenance/projects/SuggestionsIntegration.tsx
Owners: @koveogestion/tech-leads

Remove building context dependency from maintenance project features
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1758571995489_1758571995490.txt
  client/src/components/maintenance/projects/ProjectForm.tsx
  client/src/components/maintenance/projects/StatusStepper.tsx
  client/src/pages/manager/maintenance/projects/ProjectDashboardView.tsx
  client/src/pages/manager/maintenance/projects/ProjectDetailsPanel.tsx
  client/src/pages/manager/maintenance/projects/ProjectTableView.tsx
  client/src/pages/manager/maintenance/projects/SuggestionsIntegration.tsx
Owners: @koveogestion/tech-leads
