Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

Refine test environment and update error logging
  client/src/lib/queryClient.ts
  jest.config.js
  tests/mocks/importMetaMock.js
  tests/mocks/scriptMock.js
  tests/unit/storage.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Refine tests and fix minor issues across the application
  tests/e2e/invitation/complete-flow.test.ts
  tests/integration/api.test.ts
  tests/unit/buildings-validation.test.ts
  tests/unit/storage.test.ts
Owners: @koveogestion/tech-leads

Update validation rules for user data and property information
  tests/unit/quebec-business-logic.test.ts
Owners: @koveogestion/quebec-compliance, @koveogestion/legal-team

Improve user registration validation and data handling
  shared/schemas/core.ts
  tests/unit/auth-hooks.test.tsx
  tests/unit/quebec-business-logic.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/quebec-compliance, @koveogestion/legal-team

Add AI monitoring and feature management API endpoints to the platform
  .replit
  server/api/ai-monitoring.ts
  server/api/documents.ts
  server/api/feature-management.ts
  server/routes-minimal.ts
  tests/unit/ai-monitoring-simple.test.ts
  tests/unit/ai-monitoring.test.ts
  tests/unit/feature-management-simple.test.ts
  tests/unit/feature-management.test.ts
Owners: @koveogestion/tech-leads

Integrate Drizzle ORM for streamlined database operations and update ports
  .replit
  server/api/feature-management.ts
  tests/unit/ai-monitoring-simple.test.ts
  tests/unit/feature-management-simple.test.ts
Owners: @koveogestion/tech-leads

Use demo organization data for running tests effectively
  .replit
  tests/unit/ai-monitoring-real.test.ts
  tests/unit/feature-management-real.test.ts
Owners: @koveogestion/tech-leads

Update application ports for improved testing and demo organization
  .replit
Owners: @koveogestion/tech-leads

Add functionality to reserve common spaces within buildings
  migrations/0001_common_spaces.sql
  shared/schema.ts
  shared/schemas/property.ts
Owners: @koveogestion/database-admins, @koveogestion/tech-leads, @koveogestion/business-team, @koveogestion/quebec-compliance

Add common spaces management with booking and restriction features
  server/api/common-spaces.ts
  server/routes-minimal.ts
Owners: @koveogestion/tech-leads

Add new navigation for common spaces for residents and managers
  client/src/components/layout/sidebar.tsx
  client/src/config/navigation.ts
Owners: @koveogestion/tech-leads

Add a feature for booking and managing common spaces
  client/src/App.tsx
  client/src/pages/residents/common-spaces.tsx
Owners: @koveogestion/tech-leads

Add common space statistics page for managers to track user activity
  client/src/App.tsx
  client/src/pages/manager/common-spaces-stats.tsx
Owners: @koveogestion/tech-leads

Add comprehensive tests for common space booking and permissions
  tests/integration/common-spaces-api.test.ts
Owners: @koveogestion/tech-leads

Add comprehensive tests for common spaces booking and statistics pages
  tests/mocks/handlers.ts
  tests/mocks/server.ts
  tests/setup/test-utils.tsx
  tests/unit/components/common-spaces-stats.test.tsx
  tests/unit/components/common-spaces.test.tsx
Owners: @koveogestion/tech-leads

Add comprehensive booking scenarios for common spaces
  tests/integration/common-spaces-demo-scenarios.test.ts
Owners: @koveogestion/tech-leads

Update tests to use real organization data instead of mock data
  tests/integration/common-spaces-demo-scenarios.test.ts
Owners: @koveogestion/tech-leads

Improve testing by mocking components and providers
  tests/integration/common-spaces-api.test.ts
  tests/setup/test-utils.tsx
  tests/unit/components/common-spaces-simplified.test.tsx
  tests/unit/components/common-spaces-stats-simplified.test.tsx
  tests/unit/components/common-spaces-stats.test.tsx
  tests/unit/components/common-spaces.test.tsx
Owners: @koveogestion/tech-leads

Update common spaces tests with new IDs and remove component mocks
  tests/integration/common-spaces-api.test.ts
  tests/unit/components/common-spaces-simplified.test.tsx
  tests/unit/components/common-spaces-stats-simplified.test.tsx
  tests/unit/components/common-spaces-stats.test.tsx
  tests/unit/components/common-spaces.test.tsx
Owners: @koveogestion/tech-leads

Fix access to common spaces statistics page for managers
  client/src/pages/manager/common-spaces-stats.tsx
Owners: @koveogestion/tech-leads

Update data fetching for common space statistics
  attached_assets/image_1756151200892.png
  client/src/pages/manager/common-spaces-stats.tsx
Owners: @koveogestion/tech-leads

Add ability for managers to create new common spaces
  client/src/pages/manager/common-spaces-stats.tsx
  server/api/common-spaces.ts
Owners: @koveogestion/tech-leads

Add user reservation time limits for common spaces
  client/src/pages/manager/common-spaces-stats.tsx
  server/api/common-spaces.ts
  shared/schemas/property.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team, @koveogestion/quebec-compliance

Add tests for manager ability to create, edit, and delete common spaces
  tests/integration/common-spaces-demo-scenarios.test.ts
Owners: @koveogestion/tech-leads

Refine booking cancellation and data validation logic for common spaces
  server/api/common-spaces.ts
  tests/integration/common-spaces-demo-scenarios.test.ts
Owners: @koveogestion/tech-leads

Add calendar view for managing and viewing common space bookings
  client/src/App.tsx
  client/src/components/common-spaces/calendar-view.tsx
  client/src/components/common-spaces/user-calendar.tsx
  client/src/pages/manager/common-spaces-stats.tsx
  client/src/pages/residents/common-spaces.tsx
  client/src/pages/residents/my-calendar.tsx
  server/api/common-spaces.ts
  tests/integration/common-spaces-calendar.test.ts
Owners: @koveogestion/tech-leads

Update common spaces statistics page to display calendar view
  attached_assets/image_1756154183678.png
  client/src/pages/manager/common-spaces-stats.tsx
Owners: @koveogestion/tech-leads

Improve common spaces calendar display and interaction
  attached_assets/image_1756154223611.png
  attached_assets/image_1756154309643.png
  attached_assets/image_1756154378281.png
  client/src/pages/residents/common-spaces.tsx
Owners: @koveogestion/tech-leads

Create a reusable calendar component for consistent display
  client/src/components/common-spaces/calendar-view.tsx
  client/src/components/common-spaces/common-space-calendar.tsx
  client/src/pages/manager/common-spaces-stats.tsx
  client/src/pages/residents/common-spaces.tsx
Owners: @koveogestion/tech-leads

Refine demo data with realistic user names and role assignments
  replit.md
  scripts/create-comprehensive-demo.ts
  scripts/populate-organizations.ts
  tests/security/demo-users-validation.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Add option to link external calendars to common spaces
  client/src/components/common-spaces/common-space-calendar.tsx
Owners: @koveogestion/tech-leads

Add comprehensive testing for calendar booking and linking features
  attached_assets/image_1756155466230.png
  replit.md
  tests/integration/calendar-booking-flow.test.ts
  tests/unit/calendar/calendar-features.test.ts
Owners: @koveogestion/tech-leads

Update calendar tests to use demo users and data for accuracy
  tests/unit/calendar/calendar-features.test.ts
Owners: @koveogestion/tech-leads

Add calendar view for common spaces to display bookings
  server/api/common-spaces.ts
Owners: @koveogestion/tech-leads

Update tests to use mocked database functions for isolation
  tests/integration/calendar-booking-flow.test.ts
  tests/integration/common-spaces-calendar.test.ts
Owners: @koveogestion/tech-leads

Improve test accuracy and mock security middleware for better testing
  tests/api/comprehensive-translation.test.ts
  tests/unit/business-logic/property-management.test.ts
  tests/unit/security/security-headers.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team, @koveogestion/quebec-compliance, @koveogestion/security-team

Adjust development environment port and improve security testing practices
  .replit
  attached_assets/image_1756156485670.png
  tests/unit/security/security-headers.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Improve calendar view to handle authentication errors gracefully and add tests
  client/src/components/common-spaces/calendar-view.tsx
  tests/integration/calendar-loading-error.test.ts
Owners: @koveogestion/tech-leads

Add calendar interaction for booking new spaces with pre-selected dates
  client/src/components/common-spaces/calendar-view.tsx
  client/src/components/common-spaces/common-space-calendar.tsx
  client/src/pages/residents/common-spaces.tsx
  tests/integration/calendar-date-clicking.test.ts
Owners: @koveogestion/tech-leads

Improve API error handling for better debugging and user feedback
  attached_assets/Pasted-queryClient-ts-115-Query-error-SyntaxError-Unexpected-token-DOCTYPE-is-not-valid-JSON-1756157261811_1756157261812.txt
  attached_assets/image_1756157250726.png
  client/src/lib/queryClient.ts
  tests/integration/calendar-date-clicking.test.ts
Owners: @koveogestion/tech-leads

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team
