Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

Saved your changes before starting work
  attached_assets/image_1756943659501.png
Owners: @koveogestion/tech-leads

Update cookie data to maintain session integrity
  attached_assets/image_1756943727344.png
  attached_assets/image_1756943741930.png
  attached_assets/image_1756943789531.png
  cookies.txt
Owners: @koveogestion/tech-leads

Add support for using a separate database for production environments
  attached_assets/image_1756944005005.png
  server/auth.ts
  server/config/index.ts
  server/db.ts
  test_cookies.txt
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Saved your changes before starting work
  attached_assets/image_1756944195794.png
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1756944393079.png
Owners: @koveogestion/tech-leads

Improve environment detection for database connection and production settings
  attached_assets/image_1756944502527.png
  attached_assets/image_1756944539347.png
  attached_assets/image_1756944720898.png
  attached_assets/image_1756944748848.png
  server/auth.ts
  server/config/index.ts
  server/index.ts
  server/types/request.d.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/api-team

Add image assets for the platform
  attached_assets/image_1756944810308.png
Owners: @koveogestion/tech-leads

Adjust server port configuration for production environments
  server/index.ts
Owners: @koveogestion/api-team, @koveogestion/tech-leads

Update user role management to support additional access levels
  attached_assets/image_1756944991222.png
Owners: @koveogestion/tech-leads

Enable automatic creation of the session table in the database
  attached_assets/Pasted-2025-09-03-20-18-50-18-0a114ac0-User-Session-middleware-configured-2025-09-03-20-18-50-18-0a1-1756945183470_1756945183471.txt
  server/auth.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Add session table to store user authentication data
  attached_assets/image_1756945434161.png
  shared/schema.ts
  shared/schemas/infrastructure.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Improve user management by fixing invitation functionality
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Improve form validation feedback and button functionality
  attached_assets/image_1756946110784.png
  attached_assets/image_1756946189752.png
Owners: @koveogestion/tech-leads

Add simplified user management for temporary component loading resolution
  client/src/App.tsx
  client/src/pages/manager/user-management-simple.tsx
Owners: @koveogestion/tech-leads

Add debugging logs to the invitation form for better error tracking
  client/src/App.tsx
  client/src/components/admin/send-invitation-dialog.tsx
Owners: @koveogestion/tech-leads

Improve debugging by logging form validation errors and values
  attached_assets/image_1756946679519.png
  attached_assets/image_1756946723930.png
  client/src/components/admin/send-invitation-dialog.tsx
Owners: @koveogestion/tech-leads

Improve invitation validation and debugging for user management
  attached_assets/image_1756946818724.png
  client/src/components/admin/send-invitation-dialog.tsx
Owners: @koveogestion/tech-leads

Update invitation form to allow empty first and last names
  client/src/components/admin/send-invitation-dialog.tsx
Owners: @koveogestion/tech-leads

Improve invitation dialog by removing unnecessary debug logs
  client/src/components/admin/send-invitation-dialog.tsx
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1756947221920.png
  attached_assets/image_1756947243499.png
Owners: @koveogestion/tech-leads

Show full property details for assigned residences
  attached_assets/image_1756947304095.png
  server/api/users.ts
Owners: @koveogestion/tech-leads

Improve demand submission by correctly handling user IDs
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1756947456544_1756947456544.txt
  attached_assets/image_1756947451608.png
  cookies.txt
  server/api/demands.ts
Owners: @koveogestion/tech-leads

Grant admin users full access to all buildings and streamline property retrieval
  server/api/common-spaces.ts
Owners: @koveogestion/tech-leads

Add comprehensive tests for all application button functionalities
  tests/unit/button-functionality/TEST_SUMMARY.md
  tests/unit/button-functionality/authentication-buttons.test.tsx
  tests/unit/button-functionality/comprehensive-button-test-suite.test.tsx
  tests/unit/button-functionality/dialog-buttons.test.tsx
  tests/unit/button-functionality/form-action-buttons.test.tsx
  tests/unit/button-functionality/management-buttons.test.tsx
  tests/unit/button-functionality/navigation-buttons.test.tsx
  tests/unit/button-functionality/ui-control-buttons.test.tsx
Owners: @koveogestion/tech-leads

Improve form submission handling and test coverage for creating drafts
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/13/formactionbuttonstest_13852e65c941d05ada8929a73319e697
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/13/formactionbuttonstest_13852e65c941d05ada8929a73319e697.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/34/formactionbuttonstest_34392d48822eb9d71718505785f125f8
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/34/formactionbuttonstest_34392d48822eb9d71718505785f125f8.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/9d/formactionbuttonstest_9dae5dba87affe2bec4b07bf45153baa
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/9d/formactionbuttonstest_9dae5dba87affe2bec4b07bf45153baa.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d8/formactionbuttonstest_d8d796a12263039b386ae30f6bf9a511
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d8/formactionbuttonstest_d8d796a12263039b386ae30f6bf9a511.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  attached_assets/Screenshot_20250903-215552_1756950975016.png
  client/src/pages/ResidentDemandsPage.tsx
  server/api/demands.ts
  tests/unit/button-functionality/form-action-buttons.test.tsx
Owners: @koveogestion/tech-leads

Remove draft functionality and create demands directly
  client/src/pages/ResidentDemandsPage.tsx
  tests/unit/button-functionality/form-action-buttons.test.tsx
Owners: @koveogestion/tech-leads

Add logging to demand creation process to help debug submission issues
  attached_assets/Screenshot_20250904-050123_1756976492287.png
  server/api/demands.ts
Owners: @koveogestion/tech-leads

Improve handling of optional fields in resident demand submissions
  client/src/pages/ResidentDemandsPage.tsx
Owners: @koveogestion/tech-leads

Update button text and logic to create demands instead of drafts
  server/api/demands.ts
  tests/unit/button-functionality/form-action-buttons.test.tsx
Owners: @koveogestion/tech-leads

Restrict resident demand status changes and remove draft functionality
  attached_assets/Screenshot_20250904-050805_1756976893279.png
  client/src/components/demands/demand-details-popup.tsx
  client/src/lib/validations.ts
  client/src/pages/ResidentDemandsPage.tsx
  server/api/demands.ts
Owners: @koveogestion/tech-leads

Allow residents to modify demands only when they are submitted
  client/src/components/demands/demand-details-popup.tsx
Owners: @koveogestion/tech-leads

Refine demand management for residents to allow commenting on open requests
  client/src/components/demands/demand-details-popup.tsx
Owners: @koveogestion/tech-leads

Update demand permissions to restrict editing and deletion
  client/src/components/demands/demand-details-popup.tsx
  client/src/lib/validations.ts
Owners: @koveogestion/tech-leads

Add hot reload system for faster development workflows
  replit.md
  scripts/dev-hot-reload.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Improve demand creation form validation and data handling
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/16/documents_167a19b800fa8150615f350e8a3e2101
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/16/documents_167a19b800fa8150615f350e8a3e2101.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/44/formvalidationfixestest_44d246494ac2d25ea538b4754c8aee37
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/44/formvalidationfixestest_44d246494ac2d25ea538b4754c8aee37.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/45/formsubmissionteststest_45097ea65a5d1190c622b5182af9acb8
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/45/formsubmissionteststest_45097ea65a5d1190c622b5182af9acb8.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/5a/validations_5ac94b1a132deabd43113dbd4eb6c187
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/5a/validations_5ac94b1a132deabd43113dbd4eb6c187.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/9a/infrastructure_9a7db5fb20696eb04dcb3861486c7720
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/9a/infrastructure_9a7db5fb20696eb04dcb3861486c7720.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/b3/property_b37f999b5058c4919786f682ca31de2b
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/b3/property_b37f999b5058c4919786f682ca31de2b.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/c0/index_c06cd92aa057dbf1b052318c6b050710
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/c0/index_c06cd92aa057dbf1b052318c6b050710.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/ec/schema_ec548d30fc818842f909790ccab6843a
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/ec/schema_ec548d30fc818842f909790ccab6843a.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  server/api/demands.ts
  shared/schemas/operations.ts
  tests/integration/form-submission-tests.test.ts
  tests/unit/form-validation-fixes.test.ts
Owners: @koveogestion/tech-leads

Add comprehensive tests for all application forms
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/0e/comprehensiveformteststest_0e4c22fd98c01fa8bf31289ff67379f8
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/0e/comprehensiveformteststest_0e4c22fd98c01fa8bf31289ff67379f8.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/15/comprehensiveformteststest_158a72aefb481b2d1ed9788c08905bf7
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/15/comprehensiveformteststest_158a72aefb481b2d1ed9788c08905bf7.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/51/comprehensiveformsubmissionteststest_5126908a11e80c319e67721f01f185af
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/51/comprehensiveformsubmissionteststest_5126908a11e80c319e67721f01f185af.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/a0/comprehensiveformsubmissionteststest_a0b2212bf596785d8c59d676c52aa563
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/a0/comprehensiveformsubmissionteststest_a0b2212bf596785d8c59d676c52aa563.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/f3/comprehensiveformteststest_f3f13b5bab81d562fa38b75bc28b5cd2
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/f3/comprehensiveformteststest_f3f13b5bab81d562fa38b75bc28b5cd2.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  tests/unit/comprehensive-form-submission-tests.test.tsx
  tests/unit/comprehensive-form-tests.test.ts
Owners: @koveogestion/tech-leads

Update project configuration to include new ports and test cache management
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/14/index_14e6eb980907194b51e04ee3a662d771
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/14/index_14e6eb980907194b51e04ee3a662d771.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/43/formvalidationfixestest_4321ded81a0ee5458d3eeec03ea56b7f
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/43/formvalidationfixestest_4321ded81a0ee5458d3eeec03ea56b7f.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/53/formactionbuttonstest_531ef8d5f226eb272e3500ccfa6cc627
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/53/formactionbuttonstest_531ef8d5f226eb272e3500ccfa6cc627.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/57/operations_57146b0810f6c038acdbc1dcfa4893a5
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/57/operations_57146b0810f6c038acdbc1dcfa4893a5.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/9c/validations_9c477bf5f85f44b549cc6aff77bce554
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/9c/validations_9c477bf5f85f44b549cc6aff77bce554.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/cf/demands_cfcd9657e4728b7c89ff7de59d72e6b0
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/cf/demands_cfcd9657e4728b7c89ff7de59d72e6b0.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  .replit
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
Owners: @koveogestion/tech-leads

Improve testing setup for database interactions and code imports
  jest.config.cjs
  jest.global-setup.js
  jest.setup.ts
  shared/schema.ts
  tests/mocks/database.js
  tests/unit/demands/demands-schema.test.ts
  tests/unit/form-validation-fixes.test.ts
  tsconfig.test.json
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Refactor document pages to use a reusable wrapper component
  client/src/components/BillCreateForm.tsx
  client/src/components/BillEditForm.tsx
  client/src/components/common/DocumentPageWrapper.tsx
  client/src/lib/queryClient.ts
  client/src/pages/Documents.tsx
  client/src/pages/manager/BuildingDocuments.tsx
  client/src/pages/manager/ResidenceDocuments.tsx
  client/src/pages/manager/user-management-simple.tsx
  client/src/pages/residents/BuildingDocuments.tsx
  client/src/pages/residents/ResidenceDocuments.tsx
  client/src/utils/form-validation-helpers.ts
  tests/unit/demands/demands-schema.test.ts
  tests/unit/form-validation-fixes.test.ts
Owners: @koveogestion/tech-leads

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team
