Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team

Improve authentication handling for public pages
  attached_assets/Pasted-queryClient-ts-32-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-1755559363915_1755559363916.txt
  client/src/hooks/use-auth.tsx
Owners: @koveogestion/tech-leads

Improve authentication logic for public pages
  attached_assets/Pasted-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-api-auth-user-40-1755559490980_1755559490980.txt
  attached_assets/image_1755559470457.png
  attached_assets/image_1755559477535.png
  client/src/hooks/use-auth.tsx
Owners: @koveogestion/tech-leads

Add detailed logging for token validation process
  attached_assets/image_1755559597305.png
  client/src/components/auth/steps/token-validation-step.tsx
Owners: @koveogestion/tech-leads

Improve token validation by adding console logs for debugging
  attached_assets/image_1755559720226.png
  client/src/components/auth/steps/token-validation-step.tsx
Owners: @koveogestion/tech-leads

Improve token validation to run once on component mount
  attached_assets/image_1755559776792.png
  client/src/components/auth/steps/token-validation-step.tsx
Owners: @koveogestion/tech-leads

Improve password validation for stronger account security
  attached_assets/image_1755559872713.png
  client/src/components/auth/steps/password-creation-step.tsx
Owners: @koveogestion/tech-leads

Improve form validation logic for user profile and privacy consent
  attached_assets/image_1755560120160.png
  client/src/components/auth/steps/profile-completion-step.tsx
  client/src/components/auth/steps/quebec-privacy-consent-step.tsx
Owners: @koveogestion/tech-leads

Simplify user profile setup by removing address fields
  attached_assets/image_1755560297089.png
  client/src/components/auth/steps/profile-completion-step.tsx
  client/src/pages/auth/invitation-acceptance.tsx
Owners: @koveogestion/tech-leads

Make phone number an optional field in user profile setup
  client/src/components/auth/steps/profile-completion-step.tsx
Owners: @koveogestion/tech-leads

Update contact information for privacy consent
  attached_assets/image_1755560781921.png
  client/src/components/auth/steps/quebec-privacy-consent-step.tsx
Owners: @koveogestion/tech-leads

Make privacy data collection settings collapsable and easier to manage
  attached_assets/image_1755561165095.png
  attached_assets/image_1755561180195.png
  client/src/components/auth/steps/quebec-privacy-consent-step.tsx
Owners: @koveogestion/tech-leads

Improve asset management and organization with updated images
  attached_assets/image_1755561489035.png
Owners: @koveogestion/tech-leads

Improve user consent form with clearer requirements and state handling
  attached_assets/image_1755561531646.png
  client/src/components/auth/steps/quebec-privacy-consent-step.tsx
Owners: @koveogestion/tech-leads

Update how user privacy preferences are submitted to the system
  attached_assets/image_1755561665031.png
  client/src/pages/auth/invitation-acceptance.tsx
Owners: @koveogestion/tech-leads

Add username to user accounts for better identification Add username field to the users table and generate it from the user's email upon invitation.
  attached_assets/image_1755561815929.png
  server/routes-minimal.ts
  shared/schema.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Complete user registration and refine invitation system
  replit.md
Owners: @koveogestion/tech-leads

Add password reset functionality for users to securely recover their accounts
  client/src/App.tsx
  client/src/pages/auth/forgot-password.tsx
  client/src/pages/auth/login.tsx
  client/src/pages/auth/reset-password.tsx
  server/auth.ts
  server/optimized-db-storage.ts
  server/services/email-service.ts
  server/storage.ts
  shared/schema.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins

Add secure password reset functionality with email notifications
  attached_assets/image_1755562902593.png
  replit.md
  server/optimized-db-storage.ts
  server/services/email-service.ts
Owners: @koveogestion/tech-leads

Update password reset to bypass link tracking for direct access
  replit.md
  server/services/email-service.ts
Owners: @koveogestion/tech-leads

Enhance password reset emails with direct links and clearer instructions
  server/auth.ts
  server/services/email-service.ts
  shared/schema.ts
Owners: @koveogestion/security-team, @koveogestion/tech-leads, @koveogestion/database-admins

Update password reset to use frontend URL variable
  replit.md
  server/auth.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Update password reset emails to show clickable link
  server/services/email-service.ts
Owners: @koveogestion/tech-leads

Allow users to access password reset and invitation pages directly Fixes an issue where users were redirected to the home page when trying to access password reset or invitation links.
  attached_assets/image_1755563821267.png
  client/src/hooks/use-auth.tsx
  replit.md
Owners: @koveogestion/tech-leads

Make email service initialization on-demand for improved stability
  server/index.ts
Owners: @koveogestion/api-team, @koveogestion/tech-leads

Complete password reset system with secure token-based authentication
  attached_assets/image_1755564079955.png
  client/src/pages/auth/reset-password.tsx
  replit.md
Owners: @koveogestion/tech-leads

Strengthen password requirements for better account security
  client/src/pages/auth/reset-password.tsx
  replit.md
  server/auth.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Update email service for sending invitations to new users
  attached_assets/image_1755564552615.png
  attached_assets/image_1755564599177.png
  attached_assets/image_1755564608246.png
  attached_assets/image_1755564712321.png
  server/auth.ts
  server/routes-minimal.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Saved your changes before starting work
  attached_assets/image_1755565110530.png
  attached_assets/image_1755565134698.png
Owners: @koveogestion/tech-leads

Add document management features for property files
  .replit
  client/src/components/ObjectUploader.tsx
  client/src/pages/Documents.tsx
  package-lock.json
  package.json
  server/api/documents.ts
  server/objectStorage.ts
  server/routes-minimal.ts
  server/storage.ts
  shared/schema.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Add document management to building and residence pages
  attached_assets/image_1755566146594.png
  attached_assets/image_1755566233676.png
Owners: @koveogestion/tech-leads

Add a button to manage documents for residences and buildings
  client/src/pages/manager/buildings.tsx
  client/src/pages/manager/residences.tsx
Owners: @koveogestion/tech-leads

Add a new section for managing and viewing documents
  client/src/App.tsx
Owners: @koveogestion/tech-leads

Update document management to fetch and display related entities
  client/src/pages/Documents.tsx
Owners: @koveogestion/tech-leads

Add ability to retrieve user organizations and residences
  server/db-storage.ts
  server/optimized-db-storage.ts
  server/storage.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Update navigation to use application routing instead of hard-coded URLs
  attached_assets/image_1755651682467.png
  client/src/pages/manager/buildings.tsx
  client/src/pages/manager/residences.tsx
Owners: @koveogestion/tech-leads

Improve document filtering to include all categories correctly
  attached_assets/image_1755651913991.png
  client/src/pages/Documents.tsx
Owners: @koveogestion/tech-leads

Update document system and fix navigation issues
  attached_assets/image_1755652118400.png
  replit.md
Owners: @koveogestion/tech-leads

Improve form display by making them scrollable when too large
  client/src/components/admin/user-list.tsx
  client/src/components/forms/organization-form.tsx
  client/src/pages/Documents.tsx
  client/src/pages/manager/residences.tsx
Owners: @koveogestion/tech-leads

Refine scrolling behavior to ensure a single scroll bar appears Improve UI by removing unnecessary scrollable containers and consolidating scrollbar behavior.
  attached_assets/image_1755652379764.png
  client/src/pages/Documents.tsx
Owners: @koveogestion/tech-leads

Make all application forms responsive and scrollable
  replit.md
Owners: @koveogestion/tech-leads
