Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team

Improve bug viewing dialog to open when bugs are clicked
  client/src/pages/settings/bug-reports.tsx
  server/api/bugs.ts
  uploads/general/483fa155-c804-48a9-a27a-4b77a47ed8ea-cdd.txt
  uploads/general/75849057-6123-4ed3-8ee3-c764fbe4ea62-cdd.txt
  uploads/general/7eda0499-60c4-4eab-9634-96bae6df95c5-image.png
  uploads/general/c8b1c5fc-08ac-4b83-93e4-85e1e32be931-image.png
Owners: @koveogestion/tech-leads

Improve bug reporting by closing dialogs before deleting
  attached_assets/image_1757007924942.png
  client/src/pages/settings/bug-reports.tsx
  server/optimized-db-storage.ts
  uploads/general/0fdf6c50-70d4-4216-8741-c1c84f967128-test.pdf
  uploads/general/1a9efc33-9c6d-4f15-ac72-4a4d204ee183-test.pdf
  uploads/general/7456089f-490b-4fcb-afe0-6c147b2c75d6-image.png
  uploads/general/a6bd3f17-6dee-4aa5-8d6f-36c71cc951f1-cdd.txt
  uploads/general/c423b292-0b5c-439d-a56a-ebb30a317347-image.png
  uploads/general/c9be5160-f568-4dc1-b576-167d9c83810f-image.png
  uploads/general/d8f321fe-0ed5-428d-8a81-b2534ae217ad-test.pdf
  uploads/general/ee164a5b-6741-4ea9-9541-6f10b423e929-image.png
Owners: @koveogestion/tech-leads

Remove environment field from bug reports and related UI elements
  attached_assets/image_1757008005854.png
  client/src/pages/settings/bug-reports.tsx
Owners: @koveogestion/tech-leads

Add options menu to bug reports for better management
  .replit
  attached_assets/image_1757008158483.png
  client/src/pages/settings/bug-reports.tsx
  server/api/bugs.ts
  server/optimized-db-storage.ts
  uploads/general/70400a33-5673-46bf-b591-fabcdff48519-sefs.txt
  uploads/general/e9fb0d01-7a6d-4187-8198-2036a3f6dbb0-image.png
Owners: @koveogestion/tech-leads

Add comprehensive tests for all file upload forms
  tests/integration/file-upload-api.test.ts
  tests/integration/file-upload-e2e.test.tsx
  tests/unit/file-upload-forms.test.tsx
  tests/unit/file-upload-forms/TEST_SUMMARY.md
Owners: @koveogestion/tech-leads

Update testing setup and database configuration for improved performance
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/27/fileuploadformstest_27858d3a856d6be0edd251a81b4ffc91
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/27/fileuploadformstest_27858d3a856d6be0edd251a81b4ffc91.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/3b/db_3bd32bee4db233dea02ffa44005c3074
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/3b/db_3bd32bee4db233dea02ffa44005c3074.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/56/optimizeddbstorage_560af1381aa721bdfdffa1a6bf538f72
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/56/optimizeddbstorage_560af1381aa721bdfdffa1a6bf538f72.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/5f/jestsetup_5f03eeb8e94ca179a9dd3bae7ece8f17
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/5f/jestsetup_5f03eeb8e94ca179a9dd3bae7ece8f17.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/72/bugreports_725251460563d3d32d7eb0e25ba6e6fe
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/72/bugreports_725251460563d3d32d7eb0e25ba6e6fe.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d8/jestsetup_d885b91b821313b1055e9abfdecd4fa4
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d8/jestsetup_d885b91b821313b1055e9abfdecd4fa4.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  jest.setup.ts
  server/db.ts
  server/optimized-db-storage.ts
  tests/unit/file-upload-forms.test.tsx
Owners: @koveogestion/tech-leads

Improve unit test accuracy by mocking dependencies and clarifying test scopes
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/0d/fileuploadformstest_0d8f565ff97bc9e8562757134ea6f6b6
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/0d/fileuploadformstest_0d8f565ff97bc9e8562757134ea6f6b6.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/28/invitationintegrationtest_280be4984f58ca26e478f673a3587668
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/28/invitationintegrationtest_280be4984f58ca26e478f673a3587668.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/67/jestsetup_6750eca8e7f1a6203439432e5b9fe5e5
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/67/jestsetup_6750eca8e7f1a6203439432e5b9fe5e5.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/6d/jestsetup_6d16dce86ade1a97d41b0d163778f1fe
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/6d/jestsetup_6d16dce86ade1a97d41b0d163778f1fe.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/90/calendarfeaturestest_901d14ddeec0d7c80c391e01d8612f22
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/90/calendarfeaturestest_901d14ddeec0d7c80c391e01d8612f22.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/bb/invitationmanagementtest_bb3b173745e73385bb3aef5fd9abf041
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/bb/invitationmanagementtest_bb3b173745e73385bb3aef5fd9abf041.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  jest.setup.ts
  tests/mocks/database.ts
  tests/unit/file-upload-forms.test.tsx
  tests/unit/invitation/invitation-integration.test.ts
  tests/unit/invitation/invitation-management.test.ts
Owners: @koveogestion/tech-leads

Improve deployment validation processes for increased reliability
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
Owners: @koveogestion/tech-leads

Update image assets to enhance visual presentation of the platform
  attached_assets/image_1757010997265.png
Owners: @koveogestion/tech-leads

Add scripts to inspect production database organizations
  attached_assets/image_1757011037265.png
  temp-check-prod.ts
  temp-check-schema.ts
Owners: @koveogestion/tech-leads

Update database URL selection for improved environment management
  server/auth.ts
  server/db.ts
  temp-check-prod.ts
  temp-check-schema.ts
Owners: @koveogestion/security-team, @koveogestion/tech-leads

Update bug report interface and display to use snake_case naming convention
  client/src/pages/settings/bug-reports.tsx
Owners: @koveogestion/tech-leads

Add new general uploads and an image file
  attached_assets/image_1757012761877.png
  uploads/general/48315907-b4fc-4da4-bdbb-1fac297d4f2b-sefs.txt
  uploads/general/6132a791-24a1-4620-b6b6-5b699368d624-image.png
Owners: @koveogestion/tech-leads

Add file attachments to the bug report editing form
  client/src/pages/settings/bug-reports.tsx
Owners: @koveogestion/tech-leads

Update script to build project for production deployment
  scripts/production-build.sh
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1757013321269.png
  attached_assets/image_1757013339857.png
Owners: @koveogestion/tech-leads

Refine bug viewing and modification permissions for different user roles
  attached_assets/image_1757013436693.png
  server/storage.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Add text document to property management system
  uploads/text-documents/3b174fcb-93a1-467a-ad61-b047156a98c2/f99d39ff-7804-4446-b9c0-9a851e805e8c.txt
Owners: @koveogestion/tech-leads

Update database schema configuration for production
  attached_assets/image_1757013641625.png
  drizzle.production.config.ts
Owners: @koveogestion/tech-leads

Run deployment validation checks on the codebase
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1757013916069.png
Owners: @koveogestion/tech-leads

Add new fields to support document uploads and attachments
  server/storage.ts
Owners: @koveogestion/database-admins

Add schema comparison to validate database environments
  scripts/advanced-database-migration.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1757014565540.png
Owners: @koveogestion/tech-leads

Refine building access rules and update tests for role-based permissions
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/32/storage_321e79c0e6433d5049406e76fcef4a02
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/32/storage_321e79c0e6433d5049406e76fcef4a02.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/46/db_46d069ab47d5c0dd7112ccc3a754fd41
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/46/db_46d069ab47d5c0dd7112ccc3a754fd41.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/50/userinvitationtest_502ccfa132a63e4588fbed666c2c025b
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/50/userinvitationtest_502ccfa132a63e4588fbed666c2c025b.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/8e/buildings_8ee177cef20d55cbccb5cfb0f38b93cb
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/8e/buildings_8ee177cef20d55cbccb5cfb0f38b93cb.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/91/optimizeddbstorage_9106657b0ef5dfdcaf0403ed1c8d56a0
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/91/optimizeddbstorage_9106657b0ef5dfdcaf0403ed1c8d56a0.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/ab/index_ab32e23c73d2eb51a343113d4840c2a5
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/ab/index_ab32e23c73d2eb51a343113d4840c2a5.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d8/billsbuildingsaccesstest_d8b97d938c9768037b81df552df36a30
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d8/billsbuildingsaccesstest_d8b97d938c9768037b81df552df36a30.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/e0/auth_e03313e4b89ec7f3aab9ab4ba7280042
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/e0/auth_e03313e4b89ec7f3aab9ab4ba7280042.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/f2/jestsetup_f2ba6bbdb8634e6985710b4194acea8a
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/f2/jestsetup_f2ba6bbdb8634e6985710b4194acea8a.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/f3/rbacbuildingsresidencestest_f38e88d52ff188dcea9467a84dc37cc9
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/f3/rbacbuildingsresidencestest_f38e88d52ff188dcea9467a84dc37cc9.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/fe/bugreports_fe9377e66ca42a0df6bdcc5ca0dab817
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/fe/bugreports_fe9377e66ca42a0df6bdcc5ca0dab817.map
  server/api/buildings.ts
  tests/integration/bills-buildings-access.test.ts
  tests/integration/rbac-buildings-residences.test.ts
Owners: @koveogestion/tech-leads

Update database configurations and enrich user data fields
  scripts/advanced-database-migration.ts
  server/optimized-db-storage.ts
  server/storage.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads, @koveogestion/database-admins

Add language switcher and home button to login page
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-CTNcg-Y4-js-413--1757015718565_1757015718566.txt
  attached_assets/image_1757015723871.png
  attached_assets/image_1757015770717.png
  client/src/pages/auth/login.tsx
Owners: @koveogestion/tech-leads

Move language switcher and login button to the main menu
  client/src/pages/home.tsx
Owners: @koveogestion/tech-leads

Update story page to correctly display company history and achievements
  client/src/pages/story.tsx
Owners: @koveogestion/tech-leads

Update contact information on privacy and terms pages
  client/src/pages/privacy-policy.tsx
  client/src/pages/terms-of-service.tsx
Owners: @koveogestion/tech-leads

Update pricing plan name and improve website navigation across all pages
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-jNDkv2My-js-413--1757016237712_1757016237712.txt
  attached_assets/image_1757015983566.png
  attached_assets/image_1757016020412.png
  attached_assets/image_1757016047478.png
  attached_assets/image_1757016189870.png
  attached_assets/image_1757016243243.png
  attached_assets/image_1757016364421.png
  client/src/lib/i18n.ts
  client/src/pages/pricing.tsx
  tests/unit/menu-navigation.test.ts
  tests/unit/website-pages-validation.test.ts
Owners: @koveogestion/tech-leads

Add tests to ensure all website pages are accessible and navigable
  attached_assets/image_1757016618473.png
  client/src/pages/security.tsx
  tests/unit/page-navigation-accessibility.test.ts
Owners: @koveogestion/tech-leads

Reposition language switcher and hamburger menu for better navigation
  client/src/pages/home.tsx
  client/src/pages/pricing.tsx
Owners: @koveogestion/tech-leads

Improve application stability by adding error handling and monitoring
  attached_assets/image_1757016688207.png
  attached_assets/image_1757016714020.png
  attached_assets/image_1757016822932.png
  scripts/monitor-dev.js
  server/index.ts
  server/stability-monitor.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team, @koveogestion/api-team

Improve server stability and prevent application shutdowns during development
  server/simple-startup.ts
Owners: @koveogestion/tech-leads

Update contact email address in the privacy policy page
  attached_assets/image_1757016974962.png
  client/src/pages/privacy-policy.tsx
Owners: @koveogestion/tech-leads

Enhance website content validation to include French translations and specific page elements
  attached_assets/image_1757016981679.png
  attached_assets/image_1757016998077.png
  tests/unit/website-pages-validation.test.ts
Owners: @koveogestion/tech-leads

Improve logo visibility and appearance across various screen sizes
  client/src/index.css
  client/src/pages/features.tsx
  client/src/pages/home.tsx
  client/src/pages/pricing.tsx
  client/src/pages/privacy-policy.tsx
  client/src/pages/security.tsx
  client/src/pages/story.tsx
  client/src/pages/terms-of-service.tsx
Owners: @koveogestion/tech-leads

Update the application logo for better visibility on mobile devices
  attached_assets/image_1757017351679.png
Owners: @koveogestion/tech-leads

Validate routing for all dashboard quick action cards
  attached_assets/image_1757017526106.png
  tests/unit/dashboard-quick-actions-routing.test.ts
Owners: @koveogestion/tech-leads
