Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team

Update user creation page to ensure proper functionality
  attached_assets/image_1756336265496.png
Owners: @koveogestion/tech-leads

Add a default admin user to test login functionality
  attached_assets/Pasted-2025-08-27-19-13-11-81-f2975812-User-at-process-processTicksAndRejections-node-internal-process--1756336423858_1756336423858.txt
  server/storage.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Prioritize stability by using in-memory storage
  server/storage.ts
Owners: @koveogestion/database-admins

Fix login issue by using a pre-hashed password for the test user
  attached_assets/Pasted-use-auth-tsx-57-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756336639382_1756336639383.txt
  attached_assets/image_1756336634686.png
  server/storage.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Update password reset domain to reflect live environment
  server/storage.ts
Owners: @koveogestion/database-admins

Restore all previous storage operations and their definitions
  server/storage.ts
  server/storage_old.ts
Owners: @koveogestion/database-admins, @koveogestion/tech-leads

Configure production static file serving and database session storage
  .replit
  attached_assets/Pasted-2025-08-27-19-36-14-48-f6408b8c-User-at-QueryOptimizer-areIndexesSetup-file-home-runner-works-1756337874633_1756337874634.txt
  attached_assets/Pasted-login-15-GET-https-replit-com-public-js-replit-dev-banner-js-net-ERR-BLOCKED-BY-RESPONSE-NotSame-1756337847294_1756337847294.txt
  attached_assets/image_1756337823803.png
  cookies.txt
  server/auth.ts
  server/index.ts
  server/routes-minimal.ts
  server/storage.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/api-team, @koveogestion/database-admins

Improve the user interface with enhanced visual elements
  attached_assets/image_1756338807665.png
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1756338847953.png
Owners: @koveogestion/tech-leads

Enable Vite for local development and fix production serving logic
  attached_assets/Pasted-025-08-27-19-53-31-25-c6aa89c0-User-Attempting-to-serve-index-html-from-home-runner-workspac-1756338885742_1756338885742.txt
  server/index.ts
  server/routes-minimal.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Improve database connection reliability and error handling for production
  server/auth.ts
  server/database-optimization.ts
  server/db.ts
  server/index.ts
Owners: @koveogestion/security-team, @koveogestion/tech-leads, @koveogestion/api-team

Add initial demo data and setup scripts for new organizations
  attached_assets/image_1756339669662.png
  attached_assets/image_1756339669831.png
  production-demo-setup.sql
Owners: @koveogestion/tech-leads

Fix database connection issue by correcting user authentication details
  attached_assets/Pasted-2025-08-27-20-08-17-37-bb88b395-User-Database-pool-error-password-authentication-failed-for-user-1756339935802_1756339935803.txt
Owners: @koveogestion/tech-leads

Add database connection instructions for improved setup
  attached_assets/image_1756340181467.png
Owners: @koveogestion/tech-leads

Improve onboarding process for new users and administrators
  attached_assets/image_1756340342053.png
Owners: @koveogestion/tech-leads

Fix login issues by addressing unauthorized access errors
  attached_assets/Pasted-use-auth-tsx-57-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756340480387_1756340480387.txt
  attached_assets/image_1756340485164.png
Owners: @koveogestion/tech-leads

Improve password validation rules for enhanced security
  attached_assets/Pasted-use-auth-tsx-57-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756340552420_1756340552421.txt
  attached_assets/image_1756340599428.png
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/Pasted-2025-08-27-20-29-42-84-7a56f3c2-User-12-29-42-AM-express-Vite-development-server-configured--1756341058289_1756341058289.txt
  attached_assets/image_1756341015606.png
Owners: @koveogestion/tech-leads

Improve session handling for production database connections
  server/auth.ts
Owners: @koveogestion/security-team

Configure production server to correctly serve frontend application files
  attached_assets/Pasted-2025-08-27-20-38-56-38-db0509ec-User-Applied-CREATE-INDEX-CONCURRENTLY-IF-NOT-EXISTS-idx-bills-1756341552159_1756341552160.txt
  attached_assets/image_1756341497062.png
  server/index.ts
  server/routes-minimal.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Improve session handling by disabling database storage in production
  attached_assets/image_1756341847422.png
  server/auth.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Improve login stability by providing a fallback storage option
  attached_assets/Pasted-2025-08-27-20-48-22-59-f038ccc8-User-Attempting-to-serve-index-html-from-home-runner-workspa-1756342370755_1756342370755.txt
  server/storage.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Add emergency login bypass for production to resolve login issues
  attached_assets/Pasted-2025-08-27-20-58-11-90-652f3f09-User-Applied-CREATE-INDEX-CONCURRENTLY-IF-NOT-EXISTS-idx-build-1756342807265_1756342807265.txt
  attached_assets/Pasted-login-15-GET-https-replit-com-public-js-replit-dev-banner-js-net-ERR-BLOCKED-BY-RESPONSE-NotSame-1756342723317_1756342723317.txt
  attached_assets/Pasted-login-15-GET-https-replit-com-public-js-replit-dev-banner-js-net-ERR-BLOCKED-BY-RESPONSE-NotSame-1756342775484_1756342775484.txt
  attached_assets/image_1756342731438.png
  attached_assets/image_1756342762581.png
  attached_assets/image_1756342787469.png
  server/auth.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Add emergency login for production environments to bypass normal authentication
  attached_assets/Pasted-2025-08-27-21-03-48-63-32458a05-User-1-03-48-AM-express-Environment-check-NODE-ENV-producti-1756343128615_1756343128615.txt
  attached_assets/Pasted-login-15-GET-https-replit-com-public-js-replit-dev-banner-js-net-ERR-BLOCKED-BY-RESPONSE-NotSame-1756343085108_1756343085108.txt
  attached_assets/image_1756343071824.png
  server/routes-minimal.ts
Owners: @koveogestion/tech-leads

Add emergency bypass for admin login during production issues
  attached_assets/image_1756343522411.png
  attached_assets/image_1756343536940.png
  server/auth.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Add emergency login for administrator access during production
  attached_assets/Pasted-2025-08-27-21-17-12-20-7f27bfed-User-Applied-CREATE-INDEX-CONCURRENTLY-IF-NOT-EXISTS-idx-maint-1756343905321_1756343905321.txt
  attached_assets/Pasted-background-js-2-Uncaught-in-promise-Error-Duplicate-script-ID-fido2-page-script-registration-b-1756343882817_1756343882818.txt
  attached_assets/image_1756343888810.png
  server/auth.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Add new image asset to the project for visual enhancement
  attached_assets/image_1756344170254.png
Owners: @koveogestion/tech-leads

Improve production error handling and database resilience
  attached_assets/Pasted-background-js-2-Uncaught-in-promise-Error-Duplicate-script-ID-fido2-page-script-registration-b-1756344240670_1756344240671.txt
  server/auth.ts
  server/database-optimization.ts
  server/db.ts
  server/index.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/api-team

Add default organization for administrator users during setup
  attached_assets/image_1756344376112.png
  server/storage.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Fix authorization issues preventing users from accessing data
  attached_assets/Pasted-organizations-15-GET-https-replit-com-public-js-replit-dev-banner-js-net-ERR-BLOCKED-BY-RESPONSE-1756344527347_1756344527348.txt
  attached_assets/image_1756344516918.png
  cookies.txt
Owners: @koveogestion/tech-leads

Improve cookie handling for secure session management
  cookies.txt
Owners: @koveogestion/tech-leads

Update configuration to use the production database for all operations
  attached_assets/image_1756344809471.png
Owners: @koveogestion/tech-leads

Remove emergency login and standardize session storage
  attached_assets/Pasted-background-js-2-Uncaught-in-promise-Error-Duplicate-script-ID-fido2-page-script-registration-b-1756345036753_1756345036754.txt
  attached_assets/image_1756345028374.png
  dev_cookies.txt
  prod_cookies.txt
  server/auth.ts
  server/storage.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins

Improve error handling and fallback mechanisms for database connectivity
  attached_assets/Pasted-2025-08-27-21-44-41-23-7892237d-User-Attempting-to-serve-index-html-from-home-runner-workspa-1756345541747_1756345541747.txt
  attached_assets/image_1756345527334.png
  server/auth.ts
  server/db.ts
  server/storage.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins

Update database connection to use HTTP and memory session storage
  attached_assets/image_1756345743011.png
  attached_assets/image_1756345755261.png
  server/auth.ts
  server/db.ts
  server/storage.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins

Fix login errors by resolving database connection issues
  attached_assets/Pasted-2025-08-27-21-53-50-24-ef6ac0ca-User-Attempting-to-serve-index-html-from-home-runner-workspa-1756346084650_1756346084650.txt
  attached_assets/Pasted-login-15-GET-https-replit-com-public-js-replit-dev-banner-js-net-ERR-BLOCKED-BY-RESPONSE-NotSame-1756346066684_1756346066684.txt
  attached_assets/image_1756346060060.png
Owners: @koveogestion/tech-leads

Improve user experience with a more organized and intuitive interface
  attached_assets/image_1756346204198.png
Owners: @koveogestion/tech-leads

Fix login issues when users enter invalid credentials
  attached_assets/Pasted-api-auth-user-1-Failed-to-load-resource-the-server-responded-with-a-status-of-401-Unauthorized--1756346467725_1756346467726.txt
  attached_assets/image_1756346463367.png
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1756346746672.png
Owners: @koveogestion/tech-leads

Update organization fetching to show all available organizations
  client/src/components/admin/send-invitation-dialog.tsx
Owners: @koveogestion/tech-leads
