Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team

Remove redundant company name from login page header
  client/src/pages/auth/login.tsx
Owners: @koveogestion/tech-leads

Remove the invitation button from the user interface
  attached_assets/image_1755379393668.png
Owners: @koveogestion/tech-leads

Add tools to manage and optimize data retrieval for large datasets
  attached_assets/image_1755379537418.png
  server/database-optimization.ts
Owners: @koveogestion/tech-leads

Improve database performance and efficiency with query optimizations
  attached_assets/image_1755379637439.png
  server/database-optimization.ts
  server/optimized-db-storage.ts
Owners: @koveogestion/tech-leads

Improve invitation system by adding organization and building selection
  client/src/components/admin/send-invitation-dialog.tsx
  shared/schema.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Saved your changes before starting work
  attached_assets/image_1755380207908.png
Owners: @koveogestion/tech-leads

Update user profile display to show correct names
  attached_assets/image_1755380378409.png
  client/src/components/layout/sidebar.tsx
Owners: @koveogestion/tech-leads

Update how user's first and last names are displayed
  client/src/components/layout/sidebar.tsx
Owners: @koveogestion/tech-leads

Restored to 'e77115f9d15b3a3ee1dd440a322194a12fbea744'
  attached_assets/image_1755380378409.png
Owners: @koveogestion/tech-leads

Add ability to create new organizations from the owner dashboard
  attached_assets/image_1755380791209.png
  client/src/components/forms/index.ts
  client/src/components/forms/organization-form.tsx
  client/src/pages/owner/dashboard.tsx
Owners: @koveogestion/tech-leads

Redirect unauthenticated users to the home page
  attached_assets/image_1755380980204.png
  attached_assets/image_1755381026627.png
  client/src/App.tsx
Owners: @koveogestion/tech-leads

Add button to create new organizations on the dashboard
  client/src/pages/admin/dashboard.tsx
Owners: @koveogestion/tech-leads

Fix redirection issue after authentication
  attached_assets/image_1755381121120.png
Owners: @koveogestion/tech-leads

Redirect unauthenticated users away from protected application sections
  attached_assets/image_1755381171858.png
  client/src/App.tsx
Owners: @koveogestion/tech-leads

Update the organization creation button to be more descriptive
  attached_assets/image_1755381300899.png
  client/src/pages/admin/dashboard.tsx
Owners: @koveogestion/tech-leads

Improve organization overview display on admin dashboard
  attached_assets/image_1755381397378.png
  client/src/pages/admin/dashboard.tsx
Owners: @koveogestion/tech-leads

Improve organization creation button on admin dashboard
  attached_assets/image_1755381487231.png
  client/src/pages/admin/dashboard.tsx
Owners: @koveogestion/tech-leads

Add organization management section to the admin dashboard
  attached_assets/image_1755381577751.png
  client/src/pages/admin/dashboard.tsx
Owners: @koveogestion/tech-leads

Add a test button to the admin dashboard page
  client/src/pages/admin/dashboard.tsx
Owners: @koveogestion/tech-leads

Remove unused code and UI elements from the admin dashboard
  client/src/pages/admin/dashboard.tsx
Owners: @koveogestion/tech-leads

Update dashboard to clearly indicate test mode and functionality
  attached_assets/image_1755381854628.png
  client/src/pages/admin/dashboard.tsx
Owners: @koveogestion/tech-leads

Update admin dashboard to show it is loading
  client/src/pages/admin/dashboard.tsx
Owners: @koveogestion/tech-leads

Set up organizational structures and assign users to them
  package-lock.json
  package.json
  scripts/populate-organizations.ts
  shared/schema.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team, @koveogestion/database-admins

Enforce granular access to organizations and their data
  RBAC_IMPLEMENTATION.md
  attached_assets/image_1755383498230.png
  scripts/test-rbac.ts
  server/auth.ts
  server/rbac.ts
  server/routes.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team, @koveogestion/security-team, @koveogestion/api-team

Update user invitation form with enhanced role-based access controls
  client/src/components/admin/send-invitation-dialog.tsx
  replit.md
  scripts/test-invitation-rbac.ts
  server/routes.ts
  shared/schema.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team, @koveogestion/api-team, @koveogestion/database-admins

Update the admin dashboard to display property organization data
  .quality-metrics-history.json
  client/src/components/admin/organization-form-dialog.tsx
  client/src/components/admin/organizations-card.tsx
  client/src/pages/admin/dashboard.tsx
Owners: @koveogestion/tech-leads

Revamp admin dashboard for complete organization management
  attached_assets/image_1755384690020.png
  client/src/pages/admin/dashboard.tsx
Owners: @koveogestion/tech-leads

Remove the administrative dashboard page and its related routes
  client/src/App.tsx
  client/src/pages/admin/dashboard.tsx
  client/src/utils/component-loader.ts
Owners: @koveogestion/tech-leads

Add a dedicated page for managing organizations within the admin section
  client/src/App.tsx
  client/src/components/layout/sidebar.tsx
  client/src/pages/admin/organizations.tsx
  client/src/utils/component-loader.ts
Owners: @koveogestion/tech-leads

Redirect old admin dashboard to the new organizations page
  client/src/App.tsx
Owners: @koveogestion/tech-leads

Update security settings to enhance platform protection
  attached_assets/image_1755385492443.png
Owners: @koveogestion/tech-leads

Enhance development methodology with automation and metrics tracking
  .development-tasks.json
  .pillar-framework.json
  ROADMAP.md
  client/src/components/admin/organization-form-dialog.tsx
  client/src/components/admin/organizations-card.tsx
  client/src/components/admin/send-invitation-dialog.tsx
  client/src/components/admin/user-list.tsx
  client/src/components/forms/organization-form.tsx
  client/src/pages/admin/organizations.tsx
  replit.md
  scripts/create-page.ts
  scripts/pillar-automation-engine.ts
  scripts/populate-organizations.ts
  scripts/test-invitation-rbac.ts
  scripts/test-rbac.ts
  server/database-optimization.ts
  server/optimized-db-storage.ts
  server/rbac.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Restored to 'a732dccc9b59d03a8c1d8880403a4072054bd7de'
  .development-tasks.json
  .pillar-framework.json
  ROADMAP.md
  client/src/components/admin/organization-form-dialog.tsx
  client/src/components/admin/organizations-card.tsx
  client/src/components/admin/send-invitation-dialog.tsx
  client/src/components/admin/user-list.tsx
  client/src/components/forms/organization-form.tsx
  client/src/pages/admin/organizations.tsx
  replit.md
  scripts/create-page.ts
  scripts/pillar-automation-engine.ts
  scripts/populate-organizations.ts
  scripts/test-invitation-rbac.ts
  scripts/test-rbac.ts
  server/database-optimization.ts
  server/optimized-db-storage.ts
  server/rbac.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Remove outdated admin dashboard redirects and access
  client/src/App.tsx
Owners: @koveogestion/tech-leads

Add new branding assets for the property management platform
  attached_assets/image_1755386992931.png
Owners: @koveogestion/tech-leads

Add logout button and improve navigation for authenticated users
  attached_assets/image_1755387279234.png
  client/src/pages/home.tsx
Owners: @koveogestion/tech-leads

Improve page routing management with comprehensive documentation and tests
  attached_assets/image_1755387662656.png
  docs/PAGE_ROUTING_GUIDE.md
  docs/ROUTING_CHECKLIST.md
  replit.md
  scripts/validate-routes.ts
  tests/routing/navigation.test.tsx
  tests/routing/route-validation.test.tsx
  validate-routes.sh
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Add script to manage and organize project tasks
  attached_assets/rbac_permission_1755387976792.xlsx
  package.json
Owners: @koveogestion/tech-leads

Organize project scripts for better clarity and efficiency
  package.json
Owners: @koveogestion/tech-leads

Refactor user management to be accessible by managers
  client/src/App.tsx
  client/src/components/layout/sidebar.tsx
  client/src/pages/admin/user-management.tsx
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads
