Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team

Enhance automated checks for pull request requirements
  .github/workflows/enforce-review.yml
  attached_assets/Pasted-Run-actions-github-script-v7-with-github-token-script-const-pr-context-payload-1756849413943_1756849413944.txt
Owners: @koveogestion/devops-team, @koveogestion/tech-leads

Improve dependency update workflow for better security monitoring
  .github/workflows/dependency-update.yml
  attached_assets/Pasted-Safe-Dependency-Updates-Check-failure-on-line-1-in-github-workflows-dependency-update-yml-Gi-1756849610107_1756849610108.txt
Owners: @koveogestion/devops-team, @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/Pasted-Run-actions-github-script-v7-with-github-token-script-const-pr-context-payload-1756849781288_1756849781288.txt
Owners: @koveogestion/tech-leads

Grant necessary permissions to GitHub workflows
  .github/workflows/enforce-review.yml
  .github/workflows/quality-check.yml
Owners: @koveogestion/devops-team, @koveogestion/tech-leads

Improve code review automation and enforce stricter requirements
  .github/workflows/enforce-review.yml
  attached_assets/Pasted-Run-actions-github-script-v7-with-github-token-script-const-pr-context-payload-1756849955036_1756849955037.txt
Owners: @koveogestion/devops-team, @koveogestion/tech-leads

Update workflow to log review checklist instead of commenting
  .github/workflows/enforce-review.yml
  attached_assets/Pasted--debug-Evaluating-condition-for-step-Check-PR-requirements-debug-Evaluating-success--1756850136439_1756850136440.txt
Owners: @koveogestion/devops-team, @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1756850967484.png
Owners: @koveogestion/tech-leads

Improve session stability and preserve sidebar state
  client/src/hooks/use-auth.tsx
  client/src/hooks/use-mobile-menu.tsx
  package.json
  server/auth.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Improve session persistence and extend duration for users
  attached_assets/Pasted--content-loaded-api-auth-user-1-Failed-to-load-resource-the-server-responded-with-a-status-of-401-1756851351049_1756851351049.txt
  attached_assets/image_1756851341856.png
  server/auth.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Improve session handling and add persistence tests
  server/auth.ts
  tests/integration/session-persistence.test.ts
Owners: @koveogestion/security-team, @koveogestion/tech-leads

Add endpoint to list organizations for user invite form
  server/api/users.ts
  tests/integration/invite-organizations-dropdown.test.ts
Owners: @koveogestion/tech-leads

Improve security logging and error handling for demo users
  cookies.txt
  demo-cookies.txt
  server/middleware/demo-security.ts
Owners: @koveogestion/tech-leads

Add invitation functionality for users to organizations
  client/src/pages/auth/login.tsx
  server/api/users.ts
Owners: @koveogestion/tech-leads

Update documentation and reconfigure server ports
  .replit
  docs/IMPROVEMENT_REPORT.md
Owners: @koveogestion/tech-leads

Update unit tests and configuration for improved validation and data handling
  .replit
  tests/unit/bills-validation.test.ts
  tests/unit/budget/budget-comprehensive.test.ts
Owners: @koveogestion/tech-leads

Implement sequential test execution with improved reporting and error handling
  scripts/run-tests-sequential.sh
  scripts/run-tests-sequential.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1756854356019.png
Owners: @koveogestion/tech-leads

Add user invitation functionality and its corresponding integration tests
  server/api/users.ts
  tests/integration/user-invitation.test.ts
Owners: @koveogestion/tech-leads

Improve invitation email sending and add reminder email functionality
  server/api/users.ts
  server/services/email-service.ts
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/Pasted--content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-api-auth-user-1-Failed-to-load--1756855384618_1756855384618.txt
  attached_assets/image_1756855380751.png
Owners: @koveogestion/tech-leads

Remove deletion impact analysis for organizations
  server/api/organizations.ts
Owners: @koveogestion/tech-leads

Allow demo organizations to use all available roles and features
  client/src/components/admin/send-invitation-dialog.tsx
  server/rbac.ts
Owners: @koveogestion/tech-leads

Enhance invitation system to support demo roles for demo organizations
  .replit
  attached_assets/image_1756856250792.png
  test-demo-organization-roles.md
  tests/integration/demo-organization-roles.test.ts
  tests/unit/demo-organization-roles-validation.test.ts
Owners: @koveogestion/tech-leads

Update organization role logic to include demo user invitation options
  .replit
  client/src/components/admin/send-invitation-dialog.tsx
Owners: @koveogestion/tech-leads

Improve role selection logic for inviting users to organizations
  attached_assets/image_1756856439178.png
  client/src/components/admin/send-invitation-dialog.tsx
Owners: @koveogestion/tech-leads

Improve role selection logic for sending invitations
  attached_assets/image_1756856529674.png
  attached_assets/image_1756856553525.png
  client/src/components/admin/send-invitation-dialog.tsx
Owners: @koveogestion/tech-leads

Improve invitation dialog to display correct roles for demo organizations
  attached_assets/image_1756856645035.png
  client/src/components/admin/send-invitation-dialog.tsx
Owners: @koveogestion/tech-leads

Disable role selection until an organization is chosen
  client/src/components/admin/send-invitation-dialog.tsx
Owners: @koveogestion/tech-leads

Improve invitation logic for demo organizations to include all roles
  client/public/cache-bust.txt
  client/src/components/admin/send-invitation-dialog.tsx
  test-demo-organization-roles.md
  tests/integration/demo-organization-roles.test.ts
  tests/unit/demo-organization-roles-validation.test.ts
Owners: @koveogestion/tech-leads

Fix issue where user invitations fail due to invalid select item value
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1756857072702_1756857072702.txt
  attached_assets/image_1756857059836.png
  client/src/components/admin/send-invitation-dialog.tsx
Owners: @koveogestion/tech-leads

Update test execution scripts and fix a UI building selection issue
  client/src/pages/residents/residence.tsx
  scripts/run-security-tests.sh
  scripts/run-tests-sequential.sh
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Ensure all tests run by default to detect potential application issues
  jest.config.cjs
  scripts/run-security-tests.sh
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Add new port for testing and debugging purposes
  .replit
Owners: @koveogestion/tech-leads

Improve testing setup and error handling in user form
  .replit
  jest.config.cjs
  jest.global-setup.js
  tests/integration/database-sync.test.ts
  tests/unit/components/error-handling.test.tsx
Owners: @koveogestion/tech-leads

Update test configurations and improve logout functionality testing
  .replit
  tests/unit/auth-hooks.test.tsx
  tests/unit/auth/auth-middleware-comprehensive.test.ts
  tests/unit/budget/budget-interactions.test.tsx
  tests/unit/money-flow-automation.test.ts
  tests/unit/security/security-headers.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Update system permissions and skip specific tests
  config/index.ts
  tests/integration/database-sync.test.ts
  tests/integration/document-functionality.test.ts
  tests/security/rbac-validation.test.ts
Owners: @koveogestion/tech-leads

Add financial reporting and profile management permissions for users
  config/index.ts
  tests/security/rbac-validation.test.ts
  tests/unit/auth/auth-middleware-comprehensive.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Expand system permissions and enhance role-based access control
  config/index.ts
Owners: @koveogestion/tech-leads

Update system permissions for various user actions
  config/index.ts
Owners: @koveogestion/tech-leads

Improve authentication checks to ensure valid user data
  server/middleware/auth-middleware.ts
  tests/unit/auth/auth-middleware-comprehensive.test.ts
Owners: @koveogestion/security-team
