Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

Improve budget suggestions by accurately calculating monthly averages
  server/api/budgets.ts
Owners: @koveogestion/tech-leads

Improve budget graph by displaying all relevant investments accurately
  attached_assets/image_1758399794248.png
  attached_assets/image_1758399822531.png
Owners: @koveogestion/tech-leads

Update budget calculations to use the correct bill start date
  server/api/budgets.ts
Owners: @koveogestion/tech-leads

Adjust budget graph to use financial year for yearly data representation
  attached_assets/image_1758399992164.png
  client/src/pages/manager/budget.tsx
Owners: @koveogestion/tech-leads

Update budget forecasting to inflate revenue annually based on financial years
  attached_assets/image_1758400495319.png
  attached_assets/image_1758400525720.png
  server/api/budgets.ts
  server/utils/inflation.ts
Owners: @koveogestion/tech-leads

Add detailed logging to budget forecast for revenue inflation
  attached_assets/image_1758401174059.png
  server/api/budgets.ts
  server/utils/budgetCalculations.ts
Owners: @koveogestion/tech-leads

Add custom revenue lines to budget forecast calculations
  attached_assets/image_1758401612074.png
  attached_assets/image_1758401618254.png
  server/api/budgets.ts
Owners: @koveogestion/tech-leads

Improve user management table updates without page reload
  attached_assets/image_1758401804834.png
Owners: @koveogestion/tech-leads

Update budget calculations to include inflated revenue and spending
  attached_assets/image_1758401827443.png
  client/src/pages/manager/budget.tsx
Owners: @koveogestion/tech-leads

Apply consistent inflation rate to all revenue sources for accurate forecasting
  attached_assets/image_1758402735385.png
  attached_assets/image_1758402742629.png
  attached_assets/image_1758402748132.png
  server/api/budgets.ts
Owners: @koveogestion/tech-leads

Add new financial views and update database schema definitions
  shared/schema.ts
  shared/schemas/financial-views.ts
Owners: @koveogestion/database-admins, @koveogestion/tech-leads

Update database schema to include new tables and enums for property management
  migrations/relations.ts
  migrations/schema.ts
Owners: @koveogestion/database-admins

Update budget calculation tests for improved accuracy and wider scope
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
Owners: @koveogestion/tech-leads

Update Jest cache mapping for efficient testing
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
Owners: @koveogestion/tech-leads

Improve how special characters are handled to prevent security risks
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Improve security by sanitizing database connection inputs
  scripts/dev-db-check.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Safely escape file paths used in script execution
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1758408566105_1758408566106.txt
  scripts/docs-validation.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Add auto-save functionality for bill management to prevent data loss
  client/src/components/bill-management/ModularBillForm.tsx
Owners: @koveogestion/tech-leads

Improve security by safely compressing build files
  scripts/optimize-production-build.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Improve security by disabling shell execution for script commands
  scripts/run-redundancy-analysis.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Improve test script security by disabling shell execution
  scripts/run-tests-sequential.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Improve password validation and file upload security measures
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/0c/billsvalidationtest_0c536d3e91da29d3be17d2a4a8a5e78c
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/0c/billsvalidationtest_0c536d3e91da29d3be17d2a4a8a5e78c.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/16/ModularBillForm_1662ed8afc7025f94aae4d179eecaedf
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/16/ModularBillForm_1662ed8afc7025f94aae4d179eecaedf.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/2b/passwordvalidation_2b0ffca5052508931aab3b9cf1216e54
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/2b/passwordvalidation_2b0ffca5052508931aab3b9cf1216e54.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/32/passwordvalidationtest_325289f14353f2dfdcb23e02ed468b82
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/32/passwordvalidationtest_325289f14353f2dfdcb23e02ed468b82.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/78/documents_78be17d9f060eda41c7b6b2f5bfca871
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/78/documents_78be17d9f060eda41c7b6b2f5bfca871.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/82/quebeccompliancetest_8235de09cd740f9be4d2d1b1da38c306
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/82/quebeccompliancetest_8235de09cd740f9be4d2d1b1da38c306.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/8c/calendarfeaturestest_8c362cf03f042a55207bcbb267140335
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/8c/calendarfeaturestest_8c362cf03f042a55207bcbb267140335.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/99/fileuploadapitest_991711cd5812d88bb768251be4addc0e
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/99/fileuploadapitest_991711cd5812d88bb768251be4addc0e.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/ad/auth_ad3f8af0380b2d814e1294242892e9d4
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/ad/auth_ad3f8af0380b2d814e1294242892e9d4.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/b5/rbacbuildingsresidencestest_b5137ed52526774dce4b3cfce0488618
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/b5/rbacbuildingsresidencestest_b5137ed52526774dce4b3cfce0488618.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/09/financialviews_093bd731ad4e9e6410141bacbc916146
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/09/financialviews_093bd731ad4e9e6410141bacbc916146.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/0f/budgetformvalidationtest_0f9a13613598d514a96e04491d04f50c
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/0f/budgetformvalidationtest_0f9a13613598d514a96e04491d04f50c.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/16/infrastructure_1686f7df62ff69e52d0d417005845ac7
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/16/infrastructure_1686f7df62ff69e52d0d417005845ac7.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/1d/operations_1d03ee2999b302007682e05e98bb3595
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/1d/operations_1d03ee2999b302007682e05e98bb3595.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/34/documents_342249d0dd3396eadcb9a1bc025b3e6f
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/34/documents_342249d0dd3396eadcb9a1bc025b3e6f.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/71/budgets_719028a0071a3148ed8f580da30d20d4
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/71/budgets_719028a0071a3148ed8f580da30d20d4.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/95/errorhandlingedgecasestest_951ea661fb1f44e444fd18c95f20e598
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/95/errorhandlingedgecasestest_951ea661fb1f44e444fd18c95f20e598.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/a2/schema_a28d172aaf3643c4bc365760e452bc0b
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/a2/schema_a28d172aaf3643c4bc365760e452bc0b.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/c9/development_c9133c8304e621189a1326e6bbf5050b
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/c9/development_c9133c8304e621189a1326e6bbf5050b.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/cd/budgettestutils_cd67bcf252f1f2176183c76694327bfa
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/cd/budgettestutils_cd67bcf252f1f2176183c76694327bfa.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d0/invoices_d03d8e1a72fad73edd7137ca319c893d
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d0/invoices_d03d8e1a72fad73edd7137ca319c893d.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/dc/monitoring_dc0aa15e86b4bcb3e4df2d7db752933a
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/dc/monitoring_dc0aa15e86b4bcb3e4df2d7db752933a.map
Owners: @koveogestion/tech-leads

Improve script security by using safer child process execution
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/19/fileuploade2etest_19730f7b75bd54eb485cd981ac78d497
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/19/fileuploade2etest_19730f7b75bd54eb485cd981ac78d497.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/4a/budgetsforecasttest_4a18aeca32fb472c622a16cbe229472b
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/4a/budgetsforecasttest_4a18aeca32fb472c622a16cbe229472b.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/4b/bugreports_4bf91fceee399c59edb734d4c8de882f
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/4b/bugreports_4bf91fceee399c59edb734d4c8de882f.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/5d/businesslogicintegrationtest_5da8b4fe26be3dcdd53131ada7bae4b5
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/5d/businesslogicintegrationtest_5da8b4fe26be3dcdd53131ada7bae4b5.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/87/ideabox_87fd946c2c0b8da63e316190b0327692
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/87/ideabox_87fd946c2c0b8da63e316190b0327692.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/c6/bankaccountoperationstest_c6e5213032a723ab7ea84ee28a2cedde
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/c6/bankaccountoperationstest_c6e5213032a723ab7ea84ee28a2cedde.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/db/capitalinvestmentscrudtest_db298243fb9ab61f3ad23da9656da2f6
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/db/capitalinvestmentscrudtest_db298243fb9ab61f3ad23da9656da2f6.map
  scripts/sync-databases.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Update language translations and add test coverage for multiple modules
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/12/budgetreactquerytest_1256fd17ee0d7244bee63ef658b754d9
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/12/budgetreactquerytest_1256fd17ee0d7244bee63ef658b754d9.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/29/paymentapitest_2907e7111a1889fca4ef0814bdd22b72
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/29/paymentapitest_2907e7111a1889fca4ef0814bdd22b72.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/30/billpaymentworkflowtest_3048d285b17835b715054ae092ef91f5
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/30/billpaymentworkflowtest_3048d285b17835b715054ae092ef91f5.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/34/hierarchicalstoragesystemtest_34db78c54aa746c55c178dcf9d8f4cdf
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/34/hierarchicalstoragesystemtest_34db78c54aa746c55c178dcf9d8f4cdf.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/52/sophieresidenceassignmenttest_526cfa939ef27235e87e87fdb6da34e6
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/52/sophieresidenceassignmenttest_526cfa939ef27235e87e87fdb6da34e6.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/63/invitationrbac_6310bff0bdfb5d6baa3b909c6121f02a
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/63/invitationrbac_6310bff0bdfb5d6baa3b909c6121f02a.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/63/withHierarchicalSelection_638fb95cebbd756ea1de4274cf9bfe85
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/63/withHierarchicalSelection_638fb95cebbd756ea1de4274cf9bfe85.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/7a/demandcommentmanageradminaccesstest_7aaccc698b9e7696c160a0ace9c51508
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/7a/demandcommentmanageradminaccesstest_7aaccc698b9e7696c160a0ace9c51508.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/80/index_8017dd3c5dce6c37649da9a5f7e6bb00
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/81/demandcommentflowtest_81beb9ea5655c50f0ceaa96fc2716c85
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/81/demandcommentflowtest_81beb9ea5655c50f0ceaa96fc2716c85.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/94/budgetsforecastinflationtest_94c7ad16dec747930ded0254f307ff42
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/94/budgetsforecastinflationtest_94c7ad16dec747930ded0254f307ff42.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/96/SelectionGrid_96650c4b33aad4fe0a318276b3722a8e
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/96/SelectionGrid_96650c4b33aad4fe0a318276b3722a8e.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/a5/usermanagementaccesstest_a5e902b8de4e564043608c0c1db5b481
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/a5/usermanagementaccesstest_a5e902b8de4e564043608c0c1db5b481.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/b5/demands_b57717ad61fbb931f61d2d68ed616615
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/b5/demands_b57717ad61fbb931f61d2d68ed616615.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/c8/hierarchicalnavigationuserflowstest_c8c0fc45bae22598dff803a1770751c0
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/c8/hierarchicalnavigationuserflowstest_c8c0fc45bae22598dff803a1770751c0.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/da/paymentgenerationservice_da6692ba3499e25b123ac4d011ffaa73
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/da/paymentgenerationservice_da6692ba3499e25b123ac4d011ffaa73.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/e1/loadingspinner_e10382ae2dec3747f70e9c1c3b6a33e0
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/e1/loadingspinner_e10382ae2dec3747f70e9c1c3b6a33e0.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/e2/index_e2b36260afde9978a32367be08a99fa3
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/e2/index_e2b36260afde9978a32367be08a99fa3.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/e8/index_e8869bed0e5cae71ae4ac5f5799e4547
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/e8/index_e8869bed0e5cae71ae4ac5f5799e4547.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/f9/nodatacard_f9e04d1980694f7fe78be55571bd1f2f
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/f9/nodatacard_f9e04d1980694f7fe78be55571bd1f2f.map
  client/src/lib/i18n.ts
Owners: @koveogestion/tech-leads

Improve script error handling and data processing by fixing vulnerabilities
  scripts/run-redundancy-analysis.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Strengthen application security by updating dependencies and preventing command injection vulnerabilities
  attached_assets/image_1758411867655.png
  attached_assets/image_1758411926901.png
  package-lock.json
  package.json
  reports/feature-coverage-report.md
  scripts/ai-agent-cli.ts
  scripts/analyze-feature-coverage.ts
  scripts/build-server.ts
  scripts/build.ts
  scripts/consolidate-redundancies.ts
  scripts/coverage-monitor.ts
  scripts/deployment-hooks.ts
  scripts/dev-db-check.ts
  scripts/docs-validation.ts
  scripts/generate-security-report.ts
  scripts/optimize-production-build.ts
  scripts/quebec-security-check.ts
  scripts/quick-quality-check.ts
  scripts/run-quality-check.ts
  scripts/validation-suite.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team

Enhance application security by addressing identified vulnerabilities
  attached_assets/image_1758412146857.png
  attached_assets/image_1758412362545.png
  attached_assets/image_1758412687899.png
  server/api/bills.ts
  server/api/budgets.ts
  server/api/cleanup.ts
  server/api/demo-management.ts
  server/api/feature-management.ts
  server/optimized-db-storage.ts
Owners: @koveogestion/tech-leads

Strengthen security by sanitizing file uploads and paths
  attached_assets/image_1758413767731.png
  attached_assets/image_1758414185036.png
  attached_assets/image_1758414245385.png
  server/api/bills.ts
  server/api/documents.ts
  server/routes.ts
  server/services/secure-file-storage.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Add HTML sanitization to protect against XSS vulnerabilities
  attached_assets/image_1758414466823.png
  attached_assets/image_1758414602493.png
  attached_assets/image_1758414776012.png
  client/src/components/common/DemandCard.tsx
  client/src/components/common/StandardDocumentAttachments.tsx
  client/src/components/demands/demand-details-popup.tsx
  client/src/components/document-management/SharedUploader.tsx
  client/src/components/forms/feature-form.tsx
  client/src/components/ui/chart.tsx
  client/src/pages/Documents.tsx
  client/src/pages/ResidentDemandsPage.tsx
  client/src/pages/manager/bills.tsx
  client/src/utils/sanitize.ts
Owners: @koveogestion/tech-leads

Restrict building access for users based on their roles and residences
  server/api/organizations.ts
Owners: @koveogestion/tech-leads

Improve building selection logic for different user roles
  client/src/components/hoc/withHierarchicalSelection.tsx
  server/api/users.ts
Owners: @koveogestion/tech-leads

Improve building and residence access control based on user roles
  client/src/components/hoc/withHierarchicalSelection.tsx
  client/src/pages/residents/building.tsx
Owners: @koveogestion/tech-leads

Limit building and residence visibility based on user roles
  client/src/components/hoc/withHierarchicalSelection.tsx
  server/api/users.ts
Owners: @koveogestion/tech-leads

Disallow residents from creating new documents in the building section
  client/src/components/common/ModularDocumentPageWrapper.tsx
Owners: @koveogestion/tech-leads

Improve navigation stability and data fetching for property management
  client/src/components/hoc/withHierarchicalSelection.tsx
Owners: @koveogestion/tech-leads

Pre-select organization for new user invitations when access is limited
  client/src/components/admin/send-invitation-dialog.tsx
Owners: @koveogestion/tech-leads

Add effective date field to document uploads for better tracking
  shared/schemas/documents.ts
Owners: @koveogestion/tech-leads

Add an optional effective date to document uploads
  client/src/components/document-management/DocumentCreateForm.tsx
Owners: @koveogestion/tech-leads

Add effective date to document uploads for better record keeping
  server/api/documents.ts
Owners: @koveogestion/tech-leads

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team
