Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team

Task #527: Add unit tests for budget MCP tools
  tests/unit/api/mcp-budget-tools.test.ts
Owners: @koveogestion/tech-leads

Task #538: Add fast mocked tests for delete_common_space and delete_inventory_element
  server/tests/mcp-tools.test.ts
Owners: @koveogestion/tech-leads

Fix 5 pre-existing failing unit-test suites
  server/utils/content-disposition.ts
  tests/unit/api/mcp-invite-user-error-sanitization.test.ts
  tests/unit/components/document-inline-viewer.test.tsx
  tests/unit/server/content-disposition.test.ts
  tests/unit/test-suite-validation.test.ts
Owners: @koveogestion/tech-leads

Task #540: Add automated tests for comment attachments showing up in the demand thread
  tests/integration/demand-comment-attachments.test.ts
  tests/unit/components/demand-details-popup-comment-attachment.test.tsx
Owners: @koveogestion/tech-leads

Git commit prior to merge
  .gitattributes
  .staging/bulk-import/8a46d8eb-e0b0-45b4-80d2-e399b8be3a37/3bcf217588ea94419b7d51e1ae82832a411b6c931c3b3b979fda1f510a8f1a77_Epson_04222026133359.pdf
  .staging/bulk-import/8a46d8eb-e0b0-45b4-80d2-e399b8be3a37/7f7abbb11b9b210208d63a05b0de30f31eeae0f9528ed3702ab2f0ae506da6fd_Epson_04222026151256.pdf
  .staging/bulk-import/8a46d8eb-e0b0-45b4-80d2-e399b8be3a37/e608b0a52a6749c240937bab3cb708d37d222227d2ea344c7d844d8db5e75d9d_Epson_04222026150453.pdf
  attached_assets/image_1777057193947.png
Owners: @koveogestion/tech-leads

Task #549: Confirm chat-logged repairs keep the inventory inspection date in sync
  server/tests/mcp-inventory-integration.test.ts
Owners: @koveogestion/tech-leads

Git commit prior to merge
  attached_assets/image_1777057288311.png
Owners: @koveogestion/tech-leads

Stop browser layout polyfills from breaking tests after a mock reset (Task #550)
  jest.setup.simple.ts
  jest.setup.ts
  tests/setup.ts
  tests/setup/budget.setup.js
  tests/unit/communication/communication-page.test.tsx
Owners: @koveogestion/tech-leads

Task #542: Stop silently rewriting AI-detected monthly schedule to yearly when saving recurring single-payment bills
  client/src/components/bill-management/ModularBillForm.tsx
  tests/unit/bill-management/GeminiBillExtractor-edge-cases.integration.test.tsx
Owners: @koveogestion/tech-leads

test(documents): cover edit-time tag suggestion endpoint (Task #543)
  server/api/documents.ts
  server/tests/document-edit-tag-suggestion.test.ts
Owners: @koveogestion/tech-leads

Task #554: Test the full bill upload + AI analysis success flow end-to-end
  server/tests/bill-upload-ai-analysis-integration.test.ts
Owners: @koveogestion/tech-leads

test(mcp): cover update/delete element history MCP tools with real-Postgres integration tests
  server/tests/mcp-inventory-integration.test.ts
Owners: @koveogestion/tech-leads

Task #557 — integration coverage for skipped-phase project completions
  tests/integration/mcp/project-tools.test.ts
Owners: @koveogestion/tech-leads

Verify "Today" indicator on dashboard and budget Gantt views (task #544)
  replit.nix
  tests/unit/components/__fixtures__/task-544/budget-today-excluded.png
  tests/unit/components/__fixtures__/task-544/budget-today-included.png
  tests/unit/components/__fixtures__/task-544/overview-today-excluded.png
  tests/unit/components/__fixtures__/task-544/overview-today-included.png
  tests/unit/components/gantt-chart-page-integration.test.tsx
  tests/unit/components/gantt-chart-sticky-scroll.test.tsx
Owners: @koveogestion/tech-leads

Add automated tests for custom investment id preservation (Task #558)
  tests/unit/api/budgets-focused.test.ts
  tests/unit/api/mcp-budget-tools.test.ts
Owners: @koveogestion/tech-leads

Task #555: Stop AI suggestion cache tests from interfering with other AI tests
  server/tests/ai-document-tag-suggestion.test.ts
Owners: @koveogestion/tech-leads

Task #561 — Test coverage for the reopen_project_status MCP write tool
  tests/integration/mcp/project-tools.test.ts
  tests/unit/api/mcp-project-tools.test.ts
Owners: @koveogestion/tech-leads

Git commit prior to merge
  .staging/bulk-import/8a46d8eb-e0b0-45b4-80d2-e399b8be3a37/3bcf217588ea94419b7d51e1ae82832a411b6c931c3b3b979fda1f510a8f1a77_Epson_04222026133359.pdf
  .staging/bulk-import/8a46d8eb-e0b0-45b4-80d2-e399b8be3a37/7f7abbb11b9b210208d63a05b0de30f31eeae0f9528ed3702ab2f0ae506da6fd_Epson_04222026151256.pdf
  .staging/bulk-import/8a46d8eb-e0b0-45b4-80d2-e399b8be3a37/e608b0a52a6749c240937bab3cb708d37d222227d2ea344c7d844d8db5e75d9d_Epson_04222026150453.pdf
  attached_assets/image_1777059752640.png
Owners: @koveogestion/tech-leads

Task #563: Stop noisy diagnostic prints from cluttering production logs
  server/api/budgets.ts
  server/mcp/index.ts
  server/objectStorage.ts
Owners: @koveogestion/tech-leads

Task #556: Run AI route tests in the unit-tier CI workflows
  .replit
  scripts/run-unit-tests.sh
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Add folder selection to bulk import upload step (Task #574)
  client/src/pages/admin/bulk-document-import.tsx
  client/src/types/globals.d.ts
Owners: @koveogestion/tech-leads

Generalize bill auto-generation to honor non-yearly cadences
  server/services/bill-generation-service.ts
  tests/unit/bill-management/bill-generation-cadences.test.ts
Owners: @koveogestion/tech-leads

Task #568: Collapsible sidebar + bulk-import label fix
  client/src/App.tsx
  client/src/components/layout/sidebar.tsx
  client/src/config/navigation.ts
  client/src/lib/i18n.ts
Owners: @koveogestion/tech-leads

Post-merge setup completed successfully
  .replit
  attached_assets/image_1777061508279.png
Owners: @koveogestion/tech-leads

Task #541: Add integration test for upfront deposit + equal recurring payments + fix setIfEmpty bug in ModularBillForm
  client/src/components/bill-management/ModularBillForm.tsx
  tests/unit/bill-management/GeminiBillExtractor-edge-cases.integration.test.tsx
Owners: @koveogestion/tech-leads

Task #575: Auto-screen all files on bulk import
  client/src/pages/admin/bulk-document-import.tsx
  server/api/bulk-import.ts
  tests/integration/bulk-import-rest-endpoints.test.ts
Owners: @koveogestion/tech-leads

Task #580: Run budget investments upsert against a real Postgres DB
  tests/integration/budgets-investments-upsert.test.ts
Owners: @koveogestion/tech-leads

Task #597: Retire dead skipped budgets unit test file
  config/budget-test-config.json
  docs/BUDGET_TESTING_PIPELINE.md
  scripts/run-tests-sequential.sh
  tests/unit/api/budgets.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Task #603: Drop the dead budget-forecast test reference from the pipeline docs.
  config/budget-test-config.json
  docs/BUDGET_TESTING_PIPELINE.md
Owners: @koveogestion/tech-leads

Remove legacy GeminiService file (finish #525)
  server/services/consolidated-ai-service.ts
  server/services/geminiService.ts
Owners: @koveogestion/tech-leads

Task #593: Stop auto-screening when an admin clears a session
  server/api/bulk-import.ts
  tests/integration/bulk-import-rest-endpoints.test.ts
Owners: @koveogestion/tech-leads

Task #595: Expand main content and show K-only logo when sidebar is collapsed
  client/src/App.tsx
  client/src/components/layout/sidebar.tsx
  client/src/hooks/use-sidebar-state.tsx
  client/src/index.css
Owners: @koveogestion/tech-leads

Task #592: Auto-run AI steps in admin Bulk Document Import wizard
  client/src/pages/admin/bulk-document-import.tsx
  server/api/bulk-import.ts
Owners: @koveogestion/tech-leads

Task #582: Prove actual-cost recalc after reopen returns the right number
  tests/integration/mcp/project-tools.test.ts
Owners: @koveogestion/tech-leads

Task #609: Clean up legacy budget block in scripts/run-tests-sequential.sh
  scripts/run-tests-sequential.sh
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Improve deletion authorization for common spaces and inventory elements
  server/mcp/server.ts
  server/tests/mcp-tools.test.ts
Owners: @koveogestion/tech-leads

Task #599: Add real-Postgres integration test for the 14 budget MCP tools.
  tests/integration/mcp-budget-tools.test.ts
Owners: @koveogestion/tech-leads

Improve error handling for bulk document import sessions
  client/src/pages/admin/bulk-document-import.tsx
Owners: @koveogestion/tech-leads

Create a reusable component for displaying file import error messages
  client/src/pages/admin/bulk-document-import.tsx
  client/src/pages/admin/bulk-import-fallback-reason-badge.tsx
  tests/unit/components/bulk-import-fallback-reason-badge.test.tsx
Owners: @koveogestion/tech-leads

Task #598: Add automated tests for document text endpoint and edit-form tag suggestions
  scripts/run-unit-tests.sh
  server/tests/document-text-endpoint.test.ts
  tests/unit/components/document-edit-form-tag-suggestions.test.tsx
Owners: @koveogestion/quality-team, @koveogestion/tech-leads
