Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team

Fix errors when fetching building elements and improve form validation feedback
  attached_assets/Pasted-index-Fi3BghTj-js-170-Web-Vitals-monitoring-initialized-index-Fi3BghTj-js-170-Performance-mon-1759085665563_1759085665564.txt
Owners: @koveogestion/tech-leads

Improve bill display and fix project loading errors
  attached_assets/Pasted-bills-B119w6m0-js-6-BILLS-PAGE-Initializing-with-buildingId-409986ca-8e25-4547-b00d-6dae6e4-1759087473186_1759087473186.txt
  attached_assets/Pasted-index-Fi3BghTj-js-170-Web-Vitals-monitoring-initialized-index-Fi3BghTj-js-170-Performance-mon-1759087430619_1759087430619.txt
  attached_assets/image_1759087394824.png
Owners: @koveogestion/tech-leads

Add visual asset for onboarding or feature illustration
  .replit
  attached_assets/image_1759087984972.png
Owners: @koveogestion/tech-leads

Improve logging and debugging by commenting out verbose console logs
  .replit
  server/api/bills.ts
  server/api/bugs.ts
  server/api/buildings.ts
  server/api/common-spaces.ts
  server/api/demands.ts
  server/api/documents.ts
  server/api/feature-requests.ts
  server/api/maintenance.ts
  server/api/organizations.ts
  server/auth.ts
  server/services/bill-generation-service.ts
  server/services/dynamic-financial-calculator.ts
  server/services/gemini-analysis.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team, @koveogestion/security-team

Improve project cost aggregation logic for accurate financial reporting
  .replit
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1759095346779.png
Owners: @koveogestion/tech-leads

Add functionality to assign specific financial years to projects
  .replit
Owners: @koveogestion/tech-leads

Address production errors in performance tracking and UI accessibility
  attached_assets/Pasted-index-2eqvhAXt-js-170-POST-https-koveo-gestion-com-api-performance-web-vitals-400-Bad-Request--1759095781327_1759095781327.txt
  attached_assets/image_1759095777775.png
Owners: @koveogestion/tech-leads

Update project cost aggregation logic for accurate financial reporting
  .replit
Owners: @koveogestion/tech-leads

Add image for production context
  attached_assets/image_1759096204153.png
Owners: @koveogestion/tech-leads

Improve accessibility by adding descriptions to dialogs
  .replit
  attached_assets/Pasted-vendor-ui-WlZwFMhz-js-53-Warning-Missing-Description-or-aria-describedby-undefined-for-Dialo-1759096208563_1759096208563.txt
Owners: @koveogestion/tech-leads

Update database schema and relationships to reflect current project structure
  migrations/relations.ts
  migrations/schema.ts
Owners: @koveogestion/database-admins

Update financial year handling for project cost aggregation
  attached_assets/image_1759096842873.png
Owners: @koveogestion/tech-leads

Add descriptive accessibility labels to dialog components
  .replit
  attached_assets/Pasted-vendor-ui-WlZwFMhz-js-53-Warning-Missing-Description-or-aria-describedby-undefined-for-Dialo-1759096862842_1759096862842.txt
Owners: @koveogestion/tech-leads

Correct an issue with how user access is handled in the system
  attached_assets/image_1759096962620.png
Owners: @koveogestion/tech-leads

Address an error when setting building element access permissions
  attached_assets/image_1759097061519.png
Owners: @koveogestion/tech-leads

Improve project cost aggregation logic for accurate financial reporting
  attached_assets/image_1759097198947.png
Owners: @koveogestion/tech-leads

Update the platform to accurately assign project costs to financial years
  attached_assets/image_1759097431811.png
Owners: @koveogestion/tech-leads

Address server errors when fetching building maintenance data
  attached_assets/Pasted-index-2eqvhAXt-js-26-GET-https-koveo-gestion-com-api-maintenance-buildings-409986ca-8e25-4547-b00-1759097536187_1759097536187.txt
  attached_assets/image_1759097529493.png
Owners: @koveogestion/tech-leads

Update project cost aggregation logic for accurate financial reporting
  attached_assets/image_1759097641339.png
Owners: @koveogestion/tech-leads

Fix errors when fetching building projects and auto-projects
  attached_assets/Pasted-index-2eqvhAXt-js-26-GET-https-koveo-gestion-com-api-maintenance-buildings-409986ca-8e25-4547-b00-1759097774241_1759097774242.txt
Owners: @koveogestion/tech-leads

Improve maintenance and project data handling and date calculations
  .replit
  server/api/maintenance.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Fix errors in financial year calculation for project costs
  .replit
  attached_assets/image_1759098344503.png
Owners: @koveogestion/tech-leads

Update project cost aggregation logic for accurate financial reporting
  attached_assets/image_1759098476550.png
Owners: @koveogestion/tech-leads

Fix issue with uploading and managing vendor documents
  attached_assets/image_1759098675633.png
Owners: @koveogestion/tech-leads

Fix errors when fetching building maintenance projects and auto-projects
  attached_assets/Pasted-index-2eqvhAXt-js-26-GET-https-koveo-gestion-com-api-maintenance-buildings-409986ca-8e25-4547-b00-1759098804706_1759098804706.txt
  attached_assets/image_1759098789536.png
Owners: @koveogestion/tech-leads

Fix errors occurring when fetching building project data
  attached_assets/Pasted-index-2eqvhAXt-js-26-GET-https-koveo-gestion-com-api-maintenance-buildings-409986ca-8e25-4547-b00-1759098907892_1759098907892.txt
  attached_assets/image_1759098899083.png
Owners: @koveogestion/tech-leads

Fix errors when fetching maintenance project data
  .replit
  attached_assets/Pasted-index-2eqvhAXt-js-26-GET-https-koveo-gestion-com-api-maintenance-buildings-409986ca-8e25-4547-b00-1759099046544_1759099046544.txt
  attached_assets/image_1759099051318.png
Owners: @koveogestion/tech-leads

Improve project cost aggregation logic for accurate financial reporting
  attached_assets/image_1759099139028.png
Owners: @koveogestion/tech-leads

Improve maintenance project budget handling and add schema comparison tool
  .replit
  attached_assets/image_1759099263504.png
  compare-schemas.js
  server/api/maintenance.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Fix missing database tables and relationships in production
  compare-schemas.js
Owners: @koveogestion/tech-leads

Improve project cost aggregation logic for accurate financial reporting
  attached_assets/image_1759099742540.png
Owners: @koveogestion/tech-leads

Add script to verify and report on columns safe for removal
  verify-column-safety.js
Owners: @koveogestion/tech-leads

Fix production database schema inconsistencies and errors
  check-production-db.js
  check-schema-differences.js
Owners: @koveogestion/tech-leads

Update database date and cost field formats for production
  .replit
  server/api/maintenance.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Integrate comprehensive maintenance and project management tables into the database
  .replit
  server/db.ts
Owners: @koveogestion/tech-leads

Expand permissions to allow demo users to create projects
  .replit
  attached_assets/image_1759104315998.png
  server/api/maintenance.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Restrict project creation to administrators and managers only
  .replit
  server/api/maintenance.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Remove vendor name from maintenance project data retrieval
  .replit
  server/api/maintenance.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Improve error handling and script execution stability
  attached_assets/image_1759160397080.png
Owners: @koveogestion/tech-leads
