Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team

Fix issues and improve performance in tests across the application
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/07/demanddetailspopup_075fb09fae46d83d7be8aa77faca420d
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/07/demanddetailspopup_075fb09fae46d83d7be8aa77faca420d.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/34/fileuploadformstest_3471409079cf870288f463eb37e649fd
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/34/fileuploadformstest_3471409079cf870288f463eb37e649fd.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/65/invitationintegrationtest_65221a816da2d29fee292133aa454139
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/65/invitationintegrationtest_65221a816da2d29fee292133aa454139.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/b3/DemandFilters_b3e69529e8c8a44581548e5817eb8237
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/b3/DemandFilters_b3e69529e8c8a44581548e5817eb8237.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/b9/toastUtils_b9622718a27b1aecaf3c85d4aca92f28
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/b9/toastUtils_b9622718a27b1aecaf3c85d4aca92f28.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/ba/validations_baabcfb661b47d97e46fb48915eb629e
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/ba/validations_baabcfb661b47d97e46fb48915eb629e.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/c4/ResidentDemandsPage_c489208280461e4988ca784b406af669
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/c4/ResidentDemandsPage_c489208280461e4988ca784b406af669.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  tests/unit/invitation/invitation-management.test.ts
Owners: @koveogestion/tech-leads

Fix unit tests for building and bill generation functionalities
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/1c/calendarfeaturestest_1cffdf8397ce7e961d8d4fba24b3d287
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/1c/calendarfeaturestest_1cffdf8397ce7e961d8d4fba24b3d287.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/46/buildingresidencemanagementtest_46f17982d4ffe28e0b5bb85c0722be25
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/46/buildingresidencemanagementtest_46f17982d4ffe28e0b5bb85c0722be25.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/51/billgenerationservicetest_5123ff13eb37a5722e0add5a0f477853
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/51/billgenerationservicetest_5123ff13eb37a5722e0add5a0f477853.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/79/operations_796ddaa6e36ab12d04cbc74eabe89d75
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/79/operations_796ddaa6e36ab12d04cbc74eabe89d75.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/8f/residenceassignmentvalidationtest_8f3e91511a5020fe50475f98278bf5d7
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/8f/residenceassignmentvalidationtest_8f3e91511a5020fe50475f98278bf5d7.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/90/existingformsvalidationtest_90837e53bb6d10c40622ad08d933b7d1
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/90/existingformsvalidationtest_90837e53bb6d10c40622ad08d933b7d1.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/9c/buildingsvalidationtest_9c2fda80beca13f290fb4819b3dd3e69
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/9c/buildingsvalidationtest_9c2fda80beca13f290fb4819b3dd3e69.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/c4/db_c471f44fd478f0ba4798ef1ffd0389fc
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/c4/db_c471f44fd478f0ba4798ef1ffd0389fc.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/cd/i18n_cd3bf5cdbf1f1498d60e38c27dd1afb4
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/cd/i18n_cd3bf5cdbf1f1498d60e38c27dd1afb4.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/dc/billgenerationservice_dc0a8d0520869eb8da3b20e9f5e9d171
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/dc/billgenerationservice_dc0a8d0520869eb8da3b20e9f5e9d171.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/e2/formcomponentstest_e2da44286c7e019e902ca4d5b42810a8
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/e2/formcomponentstest_e2da44286c7e019e902ca4d5b42810a8.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/f4/validationdocumentationtest_f4efb823ca1293be1319aed2856238f6
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/f4/validationdocumentationtest_f4efb823ca1293be1319aed2856238f6.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/fb/autogeneratedcomprehensivetranslationtest_fb162d479c6df42f05753f665b05359f
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/fb/autogeneratedcomprehensivetranslationtest_fb162d479c6df42f05753f665b05359f.map
Owners: @koveogestion/tech-leads

Fix error when displaying opening hours for common spaces
  attached_assets/Pasted-index-RS4LOZyo-js-25-TypeError-i-openingHours-map-is-not-a-function-at-common-spaces-CPgx3a8C--1757190104283_1757190104284.txt
Owners: @koveogestion/tech-leads

Fix error in resident demands page when user is not defined
  client/src/pages/ResidentDemandsPage.tsx
Owners: @koveogestion/tech-leads

Improve handling of user data in resident demands
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-BwTVbc8h-js-136-R-1757190798043_1757190798043.txt
  attached_assets/image_1757190794543.png
  client/src/pages/ResidentDemandsPage.tsx
Owners: @koveogestion/tech-leads

Add initial project setup files and configurations
  attached_assets/image_1757191203045.png
Owners: @koveogestion/tech-leads

Enhance authentication and session management for improved security and stability
  client/src/hooks/use-auth.tsx
  server/auth.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Improve logout functionality by refining cookie handling
  server/auth.ts
Owners: @koveogestion/security-team

Update demand deletion permissions to include admins and managers
  attached_assets/image_1757192318539.png
  server/api/demands.ts
Owners: @koveogestion/tech-leads

Add script to validate production database schema against application definitions
  validate-production-schema.js
Owners: @koveogestion/tech-leads

Verify production database tables match the expected schema definitions
  schema-validation-report.md
Owners: @koveogestion/tech-leads

Ensure production database tables and columns match the defined schema
  validate-production-schema.js
Owners: @koveogestion/tech-leads

Update database schema to match production environment
  attached_assets/image_1757192922916.png
Owners: @koveogestion/tech-leads

Improve security by restricting access to demand details
  server/api/demands.ts
Owners: @koveogestion/tech-leads

Update tests to include author information for comments
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .replit
  tests/unit/forms/demand-comment-form.test.tsx
Owners: @koveogestion/tech-leads

Improve form validation standards and testing setup
  .replit
  jest.config.simple.cjs
  jest.setup.simple.ts
  tests/unit/form-consistency-validation.test.ts
Owners: @koveogestion/tech-leads

Improve form validation messages to be more helpful and specific
  tests/unit/form-consistency-validation.test.ts
Owners: @koveogestion/tech-leads

Update security scan date and add basic tests
  reports/security-summary.json
  tests/minimal.test.ts
Owners: @koveogestion/tech-leads

Update tests to use mocked dashboard components for stability
  tests/unit/dashboard-components.test.tsx
Owners: @koveogestion/tech-leads

Improve clarity and helpfulness of form error messages
  tests/unit/form-consistency-validation.test.ts
Owners: @koveogestion/tech-leads

Improve test configurations and compatibility for JavaScript files
  jest.config.simple.cjs
  jest.setup.simple.ts
  tests/minimal.test.ts
Owners: @koveogestion/tech-leads

Add mocks for server API and schema validation to improve test reliability
  jest.config.simple.cjs
  jest.setup.simple.ts
  tests/mocks/configMock.js
  tests/mocks/schemaMock.js
  tests/mocks/serverApiMock.js
Owners: @koveogestion/tech-leads

Add mocks for database and routes to improve testing
  jest.config.simple.cjs
  tests/mocks/serverDbMock.js
  tests/mocks/serverRoutesMock.js
Owners: @koveogestion/tech-leads

Enhance documentation and testing infrastructure across the application
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  docs/PROJECT_STATUS.md
  docs/README.md
  docs/guides/TESTING_STRATEGY.md
  replit.md
Owners: @koveogestion/tech-leads

Update project roadmap and documentation with current status and testing details
  ROADMAP.md
  docs/DOCUMENTATION_UPDATE_SUMMARY.md
  docs/QUALITY_SYSTEM_OVERVIEW.md
  docs/references/DEVELOPMENT_WORKFLOW.md
  docs/references/PROJECT_STRUCTURE_GUIDE.md
Owners: @koveogestion/tech-leads

Update test configurations and mocks for improved testing accuracy
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/5d/formconsistencyvalidationtest_5dde4fcad727de3311499160c18d5c2f
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/5d/formconsistencyvalidationtest_5dde4fcad727de3311499160c18d5c2f.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/62/dashboardcomponentstest_62447fa7865d82724290705b69d5eef5
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/62/dashboardcomponentstest_62447fa7865d82724290705b69d5eef5.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  .replit
  jest.config.simple.cjs
  reports/security-summary.json
  tests/mocks/serverAuthMock.js
  tests/mocks/serverMiddlewareMock.js
  tests/mocks/serverUniversalMock.js
Owners: @koveogestion/tech-leads

Add user preference settings for language and theme
  .replit
Owners: @koveogestion/tech-leads

Update mock server files for improved testing and mock data
  .replit
  reports/security-summary.json
  tests/mocks/serverAuthMock.js
  tests/mocks/serverMiddlewareMock.js
  tests/mocks/serverUniversalMock.js
Owners: @koveogestion/tech-leads

Improve test stability by mocking router and fixing test data
  jest.config.simple.cjs
  tests/mocks/wouterMock.js
  tests/unit/forms/demand-comment-form.test.tsx
Owners: @koveogestion/tech-leads

Improve test mocks to support Drizzle ORM database operations
  jest.config.simple.cjs
  tests/mocks/drizzleMock.js
  tests/mocks/globalMocks.js
  tests/mocks/pgCoreMock.js
  tests/mocks/schemaMock.js
  tests/mocks/serverUniversalMock.js
  tests/mocks/sharedSchemaMock.js
  tests/mocks/testUtils.js
Owners: @koveogestion/tech-leads

Add mock for JSONB data type to aid in testing
  tests/mocks/testUtils.js
Owners: @koveogestion/tech-leads

Update test configurations and mocks for better Drizzle ORM support
  jest.config.simple.cjs
  tests/mocks/drizzleMock.js
  tests/mocks/testUtils.js
Owners: @koveogestion/tech-leads

Improve testing mocks and adjust server export configuration
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  client/src/pages/settings/bug-reports.tsx
  server/config/index.js
  tests/mocks/pgCoreMock.js
  tests/mocks/sharedSchemaMock.js
  tests/mocks/unified-database-mock.ts
Owners: @koveogestion/tech-leads

Improve test suite infrastructure and resolve module conflicts
  architect_review_request.txt
Owners: @koveogestion/tech-leads

Update testing suite for bug reporting and form components
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/11/demandcommentformtest_115e16a754bd02fb13acfab99b8467b4
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/11/demandcommentformtest_115e16a754bd02fb13acfab99b8467b4.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/a4/bugreports_a4af35c7019ff8c1f3ea5683ed1fc02c
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/a4/bugreports_a4af35c7019ff8c1f3ea5683ed1fc02c.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  .replit
Owners: @koveogestion/tech-leads

Improve testing by using the actual language provider
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d8/testutils_d8326fd78a2910b87c0691cc9f788e04
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d8/testutils_d8326fd78a2910b87c0691cc9f788e04.map
  jest.setup.simple.ts
  tests/utils/test-utils.tsx
Owners: @koveogestion/tech-leads

Update Jest cache for improved testing performance
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/72/routes_72f878e9073c310633f78bb189f896ef
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/72/routes_72f878e9073c310633f78bb189f896ef.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/78/documentsecuritytest_78c33bffe77c566472706a2071c32880
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/78/documentsecuritytest_78c33bffe77c566472706a2071c32880.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/a5/auth_a53d9f7a75d1197c46acb8bfb633f542
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/a5/auth_a53d9f7a75d1197c46acb8bfb633f542.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/b9/userdeletiontest_b9a8d3f7c251a842e6b9b0d1de589bf3
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/b9/userdeletiontest_b9a8d3f7c251a842e6b9b0d1de589bf3.map
Owners: @koveogestion/tech-leads

Improve website and resident demands page translation coverage
  client/src/lib/i18n.ts
Owners: @koveogestion/tech-leads

Enhance platform with expanded multilingual support for key features
  client/src/components/common/DemandFilters.tsx
  client/src/pages/ResidentDemandsPage.tsx
  client/src/pages/home.tsx
Owners: @koveogestion/tech-leads

Expand property management interface with multilingual support
  client/src/lib/i18n.ts
  client/src/pages/manager/buildings.tsx
  client/src/pages/manager/residences.tsx
Owners: @koveogestion/tech-leads
