Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

Update loading message for project workflow modal
  client/src/components/maintenance/projects/workflow/ProjectWorkflowModal.tsx
Owners: @koveogestion/tech-leads

Streamline project page by removing calendar and dashboard views
  client/src/pages/manager/maintenance/projects/ProjectsHeader.tsx
  client/src/pages/manager/maintenance/projects/ProjectsPage.tsx
  client/src/pages/manager/maintenance/projects/index.tsx
Owners: @koveogestion/tech-leads

Simplify project page by removing calendar and dashboard views
  attached_assets/image_1758680098040.png
Owners: @koveogestion/tech-leads

Remove redundant search and filter controls from projects page
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-Rgsp3eql-js-48--1758680162788_1758680162789.txt
  attached_assets/image_1758680122599.png
  client/src/pages/manager/maintenance/projects/ProjectsHeader.tsx
  client/src/pages/manager/maintenance/projects/ProjectsPage.tsx
Owners: @koveogestion/tech-leads

Remove search bar functionality from the projects table
  client/src/components/maintenance/projects/ProjectTable.tsx
Owners: @koveogestion/tech-leads

Add defensive checks to project workflow components for missing data
  client/src/components/maintenance/projects/workflow/CompleteTab.tsx
  client/src/components/maintenance/projects/workflow/InProgressTab.tsx
  client/src/components/maintenance/projects/workflow/PlannedTab.tsx
  client/src/components/maintenance/projects/workflow/PostWorkTab.tsx
  client/src/components/maintenance/projects/workflow/PreWorkTab.tsx
  client/src/components/maintenance/projects/workflow/ProjectWorkflowModal.tsx
  client/src/components/maintenance/projects/workflow/SubmissionTab.tsx
  client/src/hooks/useProjectWorkflow.ts
Owners: @koveogestion/tech-leads

Improve project status and general text formatting for better readability
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-DmYqmAck-js-48--1758713458012_1758713458012.txt
  client/src/components/maintenance/projects/workflow/CompleteTab.tsx
  client/src/components/maintenance/projects/workflow/InProgressTab.tsx
  client/src/components/maintenance/projects/workflow/PlannedTab.tsx
  client/src/components/maintenance/projects/workflow/PostWorkTab.tsx
  client/src/components/maintenance/projects/workflow/PreWorkTab.tsx
  client/src/components/maintenance/projects/workflow/ProjectWorkflowModal.tsx
  client/src/components/maintenance/projects/workflow/SubmissionTab.tsx
  client/src/components/maintenance/projects/workflow/WorkflowTabNavigation.tsx
  client/src/lib/utils.ts
Owners: @koveogestion/tech-leads

Improve project workflow tab navigation and error handling
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-withHierarchicalSelecti-1758729732429_1758729732429.txt
  client/src/components/maintenance/projects/workflow/WorkflowTabNavigation.tsx
Owners: @koveogestion/tech-leads

Enhance project workflow with new configuration and planned steps
  attached_assets/image_1758730210216.png
  client/src/components/maintenance/projects/workflow/ConfigurationTab.tsx
  client/src/components/maintenance/projects/workflow/PlannedTab.tsx
  client/src/components/maintenance/projects/workflow/ProjectWorkflowModal.tsx
  client/src/components/maintenance/projects/workflow/WorkflowTabNavigation.tsx
  client/src/components/maintenance/projects/workflow/lazy-components.tsx
  client/src/hooks/useProjectWorkflow.ts
  shared/schemas/maintenance.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Remove configuration step from project workflow and adjust navigation
  attached_assets/image_1758731559336.png
  client/src/components/maintenance/projects/workflow/ConfigurationTab.tsx
  client/src/components/maintenance/projects/workflow/ProjectWorkflowModal.tsx
  client/src/components/maintenance/projects/workflow/WorkflowTabNavigation.tsx
  client/src/hooks/useProjectWorkflow.ts
  server/services/workflow-service.ts
  shared/schemas/maintenance.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Improve project workflow navigation and status tracking
  server/api/maintenance.ts
Owners: @koveogestion/business-team

Add functionality to mark project steps as complete and navigate between them
  client/src/components/maintenance/projects/workflow/ProjectWorkflowModal.tsx
  client/src/components/maintenance/projects/workflow/WorkflowTabNavigation.tsx
  server/api/maintenance.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Improve project workflow navigation and state updates
  client/src/components/maintenance/projects/workflow/ProjectWorkflowModal.tsx
Owners: @koveogestion/tech-leads

Make status icons clickable and display planned menu when applicable
  attached_assets/image_1758739804693.png
  client/src/components/maintenance/projects/workflow/ConfigurationTab.tsx
  client/src/components/maintenance/projects/workflow/ProjectWorkflowModal.tsx
  client/src/components/maintenance/projects/workflow/lazy-components.tsx
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1758740343845.png
Owners: @koveogestion/tech-leads

Add ability to configure workflow steps to be skipped
  attached_assets/image_1758741512957.png
Owners: @koveogestion/tech-leads

Add functionality to configure skipped project workflow steps
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-q4JTR-1A-js-48--1758741839257_1758741839258.txt
  client/src/components/maintenance/projects/workflow/ProjectWorkflowModal.tsx
  client/src/components/maintenance/projects/workflow/WorkflowSkipConfigDialog.tsx
Owners: @koveogestion/tech-leads

Fix error when accessing project skip flags and display project data
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-CbDig6SI-js-48--1758742144174_1758742144175.txt
  client/src/components/maintenance/projects/workflow/WorkflowSkipConfigDialog.tsx
Owners: @koveogestion/tech-leads

Improve workflow skip configuration dialog layout and display
  attached_assets/image_1758742395886.png
  attached_assets/image_1758742405288.png
  client/src/components/maintenance/projects/workflow/WorkflowSkipConfigDialog.tsx
Owners: @koveogestion/tech-leads

Fix workflow progress display and configuration issues
  client/src/components/maintenance/projects/workflow/WorkflowSkipConfigDialog.tsx
  client/src/components/maintenance/projects/workflow/WorkflowTabNavigation.tsx
Owners: @koveogestion/tech-leads

Improve project workflow and configuration display
  attached_assets/image_1758743003012.png
  client/src/components/maintenance/projects/workflow/PlannedTab.tsx
  client/src/components/maintenance/projects/workflow/ProjectWorkflowModal.tsx
  client/src/components/maintenance/projects/workflow/WorkflowSkipConfigDialog.tsx
Owners: @koveogestion/tech-leads

Improve layout and visibility of project workflow planning fields
  attached_assets/image_1758743389351.png
  client/src/components/maintenance/projects/workflow/PlannedTab.tsx
  client/src/components/maintenance/projects/workflow/ProjectWorkflowModal.tsx
Owners: @koveogestion/tech-leads

Update project workflow to display progress vertically on the left panel
  attached_assets/image_1758746481354.png
  client/src/components/maintenance/projects/workflow/WorkflowTabNavigation.tsx
Owners: @koveogestion/tech-leads

Improve project workflow modal by adjusting panel layouts
  attached_assets/image_1758746746529.png
Owners: @koveogestion/tech-leads

Improve project workflow modal by showing planned step details
  client/src/components/maintenance/projects/workflow/PlannedTab.tsx
  client/src/components/maintenance/projects/workflow/ProjectWorkflowModal.tsx
  client/src/components/maintenance/projects/workflow/WorkflowTabNavigation.tsx
Owners: @koveogestion/tech-leads

Improve project view by showing planned step fields and removing skip option
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-9AVz9Z6c-js-48--1758746951683_1758746951683.txt
  attached_assets/image_1758746948023.png
Owners: @koveogestion/tech-leads

Improve project workflow modal to correctly display planned fields
  client/src/components/maintenance/projects/workflow/ProjectWorkflowModal.tsx
Owners: @koveogestion/tech-leads

Refine project workflow modal and add backend logic for tab accessibility
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-DmqguNPR-js-48--1758747087444_1758747087445.txt
  attached_assets/image_1758747092180.png
  client/src/components/maintenance/projects/workflow/PlannedTab.tsx
  client/src/components/maintenance/projects/workflow/ProjectWorkflowModal.tsx
  server/api/maintenance.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Improve maintenance workflow tab accessibility and project page loading
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-DU74lQf-js-48--1758747521874_1758747521875.txt
  attached_assets/image_1758747527498.png
  server/api/maintenance.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Improve debugging for project workflow and data display
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-DU74lQf-js-48--1758747740631_1758747740632.txt
  attached_assets/image_1758747745076.png
  client/src/components/maintenance/projects/workflow/ProjectWorkflowModal.tsx
  client/src/hooks/useProjectWorkflow.ts
Owners: @koveogestion/tech-leads

Improve project workflow data handling and logging for better debugging
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-BBR4cmqD-js-48--1758747883566_1758747883567.txt
  attached_assets/image_1758747887590.png
  client/src/hooks/useProjectWorkflow.ts
  server/api/maintenance.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Add improved user management table for better assignments
  attached_assets/image_1758748012005.png
  attached_assets/image_1758748030522.png
Owners: @koveogestion/tech-leads

Improve project creation form and fix save errors
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-KeWILx74-js-48--1758748034656_1758748034656.txt
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-KeWILx74-js-48--1758748045507_1758748045507.txt
  attached_assets/image_1758748092431.png
Owners: @koveogestion/tech-leads

Update date input for project planning and add project update API
  client/src/components/maintenance/projects/workflow/PlannedTab.tsx
  server/api/maintenance.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Update project workflow to allow progression from the planned stage
  attached_assets/image_1758749093322.png
  server/services/workflow-service.ts
Owners: @koveogestion/tech-leads

Add multi-select for building elements on project planning
  attached_assets/image_1758749613970.png
  client/src/components/ui/building-elements-multi-select.tsx
Owners: @koveogestion/tech-leads

Add ability to link projects to specific building elements
  client/src/components/maintenance/projects/workflow/PlannedTab.tsx
Owners: @koveogestion/tech-leads

Add ability to link projects to building elements
  client/src/components/maintenance/projects/workflow/PlannedTab.tsx
Owners: @koveogestion/tech-leads

Remove button for marking a project step as complete
  attached_assets/image_1758750111358.png
  client/src/components/maintenance/projects/workflow/ProjectWorkflowModal.tsx
Owners: @koveogestion/tech-leads

Remove planning completion button and display building elements
  client/src/components/maintenance/projects/workflow/PlannedTab.tsx
Owners: @koveogestion/tech-leads

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team
