Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

Improve component usability and error handling throughout the application
  client/src/components/admin/send-invitation-dialog.tsx
  client/src/components/auth/registration-wizard.tsx
  client/src/components/auth/steps/token-validation-step.tsx
  client/src/components/common-spaces/common-space-calendar.tsx
  client/src/components/common-spaces/user-calendar.tsx
  client/src/components/common/AuthErrorBoundary.tsx
  client/src/components/common/DialogWrapper.tsx
  client/src/components/common/IconButton.tsx
  client/src/components/common/form-wrappers/SelectFieldWrapper.tsx
  client/src/components/common/form-wrappers/TextAreaFieldWrapper.tsx
  client/src/components/common/form-wrappers/TextFieldWrapper.tsx
  client/src/components/common/form-wrappers/index.ts
  client/src/components/dialogs/delete-confirmation-dialog.tsx
  client/src/components/forms/feature-form.tsx
  client/src/components/layout/sidebar.tsx
  client/src/components/ui/trial-request-form.tsx
  client/src/hooks/use-auth.tsx
  client/src/hooks/use-fullscreen.ts
  client/src/lib/style-constants.ts
  client/src/pages/admin/roadmap.tsx
  client/src/pages/auth/invitation-acceptance.tsx
  client/src/pages/auth/login.tsx
  client/src/pages/dashboard/calendar.tsx
  client/src/pages/manager/common-spaces-stats.tsx
  client/src/pages/manager/demands.tsx
  client/src/pages/residents/common-spaces.tsx
  client/src/utils/component-loader.ts
  client/src/utils/memory-monitor.ts
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  attached_assets/image_1756983405419.png
Owners: @koveogestion/tech-leads

Improve component loading error logging for better debugging
  client/src/utils/component-loader.ts
Owners: @koveogestion/tech-leads

Improve residence assignment tests for demo users
  attached_assets/image_1756984009895.png
  tests/integration/sophie-residence-assignment.test.ts
  tests/unit/residence-assignment-solution-guide.test.ts
  tests/unit/residence-assignment-validation.test.ts
Owners: @koveogestion/tech-leads

Update invitation schema for better data handling and security
  shared/schemas/core.ts
Owners: @koveogestion/tech-leads

Update all primary keys from UUID to VARCHAR for improved data handling
  shared/schemas/core.ts
  shared/schemas/development.ts
  shared/schemas/financial.ts
  shared/schemas/infrastructure.ts
  shared/schemas/monitoring.ts
  shared/schemas/operations.ts
  shared/schemas/property.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team, @koveogestion/quebec-compliance

Add advanced database migration script and guide
  package.json
  scripts/MIGRATION_GUIDE.md
  scripts/advanced-database-migration.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Update demo organization search to use type filter
  server/api/demo-management.ts
Owners: @koveogestion/tech-leads

Update demo user passwords for easier system access
  attached_assets/image_1756994993658.png
  scripts/update-demo-passwords.js
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Set a default password for all demo user accounts
  scripts/update-demo-passwords.js
  server/optimized-db-storage.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Add file attachment functionality to forms across the application
  client/src/components/common/BillForm.tsx
  client/src/components/forms/feature-form.tsx
  client/src/components/ui/file-upload.tsx
  client/src/pages/settings/bug-reports.tsx
  server/auth.ts
  shared/schemas/documents.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Fix bug report form submission and priority handling
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1757002364176_1757002364176.txt
  attached_assets/image_1757002337021.png
  client/src/pages/settings/bug-reports.tsx
Owners: @koveogestion/tech-leads

Add file upload and paste functionality to the idea box
  .replit
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1757002658870_1757002658870.txt
  attached_assets/image_1757002444717.png
  attached_assets/image_1757002638538.png
  client/src/pages/settings/idea-box.tsx
  package-lock.json
  package.json
Owners: @koveogestion/tech-leads

Add ability to paste images into bug reports and improve error handling
  client/src/pages/settings/bug-reports.tsx
  server/api/bugs.ts
  server/routes.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Fix issue preventing users from uploading images in bug reports
  attached_assets/image_1757002846489.png
Owners: @koveogestion/tech-leads

Allow viewing and downloading feature request attachments in the idea box
  client/src/pages/settings/idea-box.tsx
Owners: @koveogestion/tech-leads

Add ability to attach images to bug reports and view them
  attached_assets/image_1757003210732.png
  client/src/pages/settings/bug-reports.tsx
Owners: @koveogestion/tech-leads

Improve file handling and simplify idea box settings for users
  client/src/pages/settings/idea-box.tsx
Owners: @koveogestion/tech-leads

Allow users to upload documents and images with feature requests
  .replit
  attached_assets/image_1757003475998.png
  client/src/pages/settings/idea-box.tsx
  server/storage.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Correctly submit file attachments for bug reports and feature requests
  .replit
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1757003883703_1757003883703.txt
  attached_assets/image_1757003858460.png
  client/src/pages/settings/idea-box.tsx
Owners: @koveogestion/tech-leads

Fix feature creation and ensure correct file uploads
  .replit
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1757004029743_1757004029743.txt
  attached_assets/image_1757004026072.png
  client/src/pages/settings/idea-box.tsx
  uploads/general/85c2ccfb-b900-44ad-ade0-08381052553f-image.png
Owners: @koveogestion/tech-leads

Fix issue with image display and delete button functionality
  .replit
  attached_assets/image_1757004247538.png
  client/src/pages/settings/idea-box.tsx
Owners: @koveogestion/tech-leads

Improve development experience with faster hot reloading
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1757004465232_1757004465232.txt
  attached_assets/image_1757004460938.png
  scripts/dev-fast.js
  scripts/dev-watch.js
  uploads/general/5abdda3b-9454-41ab-94a4-bd8cd05c66a3-cdd.txt
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Add document association to specific records
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Improve feature submission by adding attachment details and debug logging
  .replit
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1757004886980_1757004886981.txt
  attached_assets/image_1757004880929.png
  server/api/documents.ts
  uploads/general/04def497-44d9-444b-ba50-90a1256ff40b-sefs.txt
  uploads/general/bb3e57ad-de1b-4ab3-bded-e353517c8e54-sefs.txt
Owners: @koveogestion/tech-leads

Add ability to associate files with feature requests and view them
  attached_assets/image_1757005057401.png
  server/api/documents.ts
  server/optimized-db-storage.ts
  uploads/general/60386fde-0243-4e09-82d2-0866e1a98d9b-image.png
  uploads/general/70956cd2-3e7a-44b2-8ae7-af2c70c7c198-sefs.txt
Owners: @koveogestion/tech-leads

Improve application startup by reordering integrations
  .replit
  attached_assets/image_1757005317157.png
  attached_assets/image_1757005359637.png
  uploads/general/276771ff-837e-492f-a9e1-53fa7cb96678-image.png
  uploads/general/82642a31-cdcd-450b-a7d1-e0c3949e32cd-fichier texte (7).txt
Owners: @koveogestion/tech-leads

Improve feature request visibility and management
  attached_assets/image_1757005498954.png
Owners: @koveogestion/tech-leads

Add debugging logs for attachment counts in feature requests
  server/optimized-db-storage.ts
Owners: @koveogestion/tech-leads

Enhance feature request viewing and editing functionality
  .replit
  attached_assets/image_1757005648128.png
  attached_assets/image_1757005653784.png
  client/src/pages/settings/idea-box.tsx
  server/optimized-db-storage.ts
Owners: @koveogestion/tech-leads

Add ability to download uploaded files and fix file viewing errors
  .replit
  attached_assets/image_1757005925589.png
  attached_assets/image_1757005935425.png
  client/src/pages/settings/idea-box.tsx
  server/optimized-db-storage.ts
Owners: @koveogestion/tech-leads

Fix issue with downloading documents from the platform
  attached_assets/image_1757006126558.png
Owners: @koveogestion/tech-leads

Add ability to upload and view various files on the platform
  .replit
  attached_assets/image_1757006276795.png
  attached_assets/image_1757006320516.png
  uploads/general/3c9d28ed-38a0-43f1-b078-6f7c981c4707-image.png
  uploads/general/afadb46b-7dd1-44d2-9488-cbeb483dba0c-test.pdf
Owners: @koveogestion/tech-leads

Improve document viewing and downloading functionality for ideas
  client/src/pages/settings/idea-box.tsx
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Improve file serving by logging potential file paths
  .replit
  attached_assets/image_1757006795667.png
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Update bug reporting system to improve user experience
  attached_assets/image_1757007015212.png
Owners: @koveogestion/tech-leads

Prevent form closure when viewing or downloading attachments
  .replit
  client/src/pages/settings/idea-box.tsx
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Add secure file uploads and improve bug report visibility
  client/src/pages/settings/bug-reports.tsx
  server/api/bugs.ts
  server/optimized-db-storage.ts
Owners: @koveogestion/tech-leads

Update project configuration and add example files
  .replit
  uploads/general/843ce081-51ab-4d42-83ae-d31167c98032-image.png
  uploads/general/e0126a05-6760-4916-b728-8b30f50a794f-fichier texte (7).txt
Owners: @koveogestion/tech-leads

Update bug reporting to track who uploaded assets
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1757007711124_1757007711125.txt
  attached_assets/image_1757007703358.png
  server/api/bugs.ts
  uploads/general/94374be0-a93d-451b-8e3a-9af1465060a4-cdd.txt
  uploads/general/a92a2599-cfc8-49d6-8d0d-c7f2b40acd4a-image.png
Owners: @koveogestion/tech-leads

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team
