Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

Update capital investment scenarios automatically when page settings change
  client/src/pages/manager/budget.tsx
Owners: @koveogestion/tech-leads

Update capital investment scenarios automatically when page settings change
  client/src/pages/manager/budget.tsx
Owners: @koveogestion/tech-leads

Add comprehensive tests for budget calculation and inflation logic
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/0b/inflationCalculationstest_0b41f5a2aca21d636ea412bc87d56c2c
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/0b/inflationCalculationstest_0b41f5a2aca21d636ea412bc87d56c2c.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/39/frontendParsingtest_3902f1761f9666d2c2e0543d5e6ff94d
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/39/frontendParsingtest_3902f1761f9666d2c2e0543d5e6ff94d.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/50/budgetCalculationstest_50cf8bd2d2a94eb455095a9502efc2df
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/50/budgetCalculationstest_50cf8bd2d2a94eb455095a9502efc2df.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/57/inflation_5776c2b9c6da06ced967f37b55a44377
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/57/inflation_5776c2b9c6da06ced967f37b55a44377.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/59/budgets_595d2a15610e1c730c52ddc175e4688f
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/59/budgets_595d2a15610e1c730c52ddc175e4688f.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/c4/budgetCalculationstest_c41fecc4f4be01861d9447f2bf272d59
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/c4/budgetCalculationstest_c41fecc4f4be01861d9447f2bf272d59.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  tests/unit/utils/budgetCalculations.test.ts
  tests/unit/utils/frontendParsing.test.ts
Owners: @koveogestion/tech-leads

Add comprehensive integration tests for budget operations and business logic
  tests/integration/bank-account-operations.test.ts
  tests/integration/budget-endpoints-comprehensive.test.ts
  tests/integration/business-logic-integration.test.ts
  tests/integration/capital-investments-crud.test.ts
  tests/integration/error-handling-edge-cases.test.ts
  tests/utils/budget-test-utils.ts
Owners: @koveogestion/tech-leads

Add comprehensive tests for budget page functionality
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/0e/budget_0e872ccd49c76f6d39abc506b04df85d
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/0e/budget_0e872ccd49c76f6d39abc506b04df85d.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/1b/budgetpagecomprehensivetest_1baacf9d2ce8b4dc0027c978ae275622
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/1b/budgetpagecomprehensivetest_1baacf9d2ce8b4dc0027c978ae275622.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/46/progress_46031667fa07bbe3a3c993ae1e7f178b
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/46/progress_46031667fa07bbe3a3c993ae1e7f178b.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/5f/GeminiBillExtractor_5fb0c09d9b1e452c9f05d23610c28d02
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/5f/GeminiBillExtractor_5fb0c09d9b1e452c9f05d23610c28d02.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/7d/usetoast_7ded0c07cb52d33db9156ec7193688f9
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/7d/usetoast_7ded0c07cb52d33db9156ec7193688f9.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/80/ModularBillForm_806bd62bff0427cec1a20ea6d2924a95
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/80/ModularBillForm_806bd62bff0427cec1a20ea6d2924a95.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/86/index_8607f919e41eeba2cd53bce26378df23
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d7/StandardDocumentAttachments_d72e0d8f497ebda6ed06412fdf6fb208
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d7/StandardDocumentAttachments_d72e0d8f497ebda6ed06412fdf6fb208.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/e7/DocumentEditForm_e7cb476ae0ab8e51981be347da6d929c
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/e7/DocumentEditForm_e7cb476ae0ab8e51981be347da6d929c.map
  tests/integration/budget-form-validation.test.tsx
  tests/integration/budget-page-comprehensive.test.tsx
  tests/integration/budget-react-query.test.tsx
Owners: @koveogestion/tech-leads

Remove legacy bill data and related schemas
  shared/schemas/financial.ts
Owners: @koveogestion/tech-leads

Update data field lengths for improved data integrity and consistency
  shared/schemas/core.ts
  shared/schemas/financial.ts
  shared/schemas/property.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team, @koveogestion/quebec-compliance

Adjust financial amount precision for bills and payments
  shared/schemas/financial.ts
Owners: @koveogestion/tech-leads

Update test mocks to improve type safety and fix test execution
  tests/mocks/unified-database-mock.ts
  tests/unit/api/budgets.test.ts
  tests/unit/invitation/invitation-management.test.ts
Owners: @koveogestion/tech-leads

Fix various unit test issues across the application
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/03/budgetpagecomprehensivetest_03cded42ac1cbbf666c495cc649df286
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/03/budgetpagecomprehensivetest_03cded42ac1cbbf666c495cc649df286.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/2a/budgetsimpletest_2a1b5373fb7ea45f4e9cc7196b5bfc89
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/2a/budgetsimpletest_2a1b5373fb7ea45f4e9cc7196b5bfc89.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/50/fileuploadsimplefixedtest_501d0e2c05f293b4230ab24d6e4a47d4
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/50/fileuploadsimplefixedtest_501d0e2c05f293b4230ab24d6e4a47d4.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/53/budgetcomprehensiveminimaltest_5314944713e67c0de6b3b90f1b646583
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/53/budgetcomprehensiveminimaltest_5314944713e67c0de6b3b90f1b646583.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/6a/fileuploadsimpletest_6ab448ba394aa464d33463bb4371c4dc
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/6a/fileuploadsimpletest_6ab448ba394aa464d33463bb4371c4dc.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/6d/budgetpagecomprehensivetest_6df0d611369e23468fa7ace1bbdc78dd
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/6d/budgetpagecomprehensivetest_6df0d611369e23468fa7ace1bbdc78dd.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/93/budgetpagecomprehensivetest_938c755864e309d825985f43c1f69081
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/93/budgetpagecomprehensivetest_938c755864e309d825985f43c1f69081.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/96/budget_96faf1a0f9014407e5405660f3b9ed81
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/96/budget_96faf1a0f9014407e5405660f3b9ed81.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/a7/dashboardcomponentstest_a770c3c90f63ba39dd32926890411294
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/a7/dashboardcomponentstest_a770c3c90f63ba39dd32926890411294.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/c8/budget_c82ed700b079e377e19d8d9c52f3fc29
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/c8/budget_c82ed700b079e377e19d8d9c52f3fc29.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/cd/fileuploadformsfixedtest_cdc9d55ee483867be8f9ba3897ecf4b8
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/cd/fileuploadformsfixedtest_cdc9d55ee483867be8f9ba3897ecf4b8.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/dd/budgetpagecomprehensivefixedtest_dda2c4ecbd024e423146dd4d8e73b4e6
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/dd/budgetpagecomprehensivefixedtest_dda2c4ecbd024e423146dd4d8e73b4e6.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/fb/formcomponentstest_fb1667e00667fda45322d461620baf39
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/fb/formcomponentstest_fb1667e00667fda45322d461620baf39.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  __mocks__/client/src/pages/manager/budget.tsx
  tests/unit/budget-page-comprehensive-fixed.test.tsx
  tests/unit/budget-page-comprehensive.test.tsx
  tests/unit/file-upload-forms.test.tsx
Owners: @koveogestion/tech-leads

Add script to update production database schema automatically
  scripts/update-production-db.sh
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Update the database schema to reflect recent changes and ensure consistency
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-DzIi7VG0-js-360--1758281960807_1758281960808.txt
  attached_assets/image_1758281972292.png
Owners: @koveogestion/tech-leads

Improve user visibility and access control for demo accounts
  attached_assets/image_1758282037269.png
  server/api/users.ts
  server/optimized-db-storage.ts
  server/storage.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Improve user management by pre-selecting user assignments and clarifying error messages
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/Screenshot_20250919-093250_1758288806971.png
Owners: @koveogestion/tech-leads

Add visual aids to enhance understanding of platform features
  .replit
  attached_assets/image_1758289156014.png
  attached_assets/image_1758289167597.png
  attached_assets/image_1758289179203.png
  attached_assets/image_1758289187749.png
Owners: @koveogestion/tech-leads

Update financial calculations for monthly fees and budget periods
  attached_assets/image_1758289379693.png
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1758298099992.png
  attached_assets/image_1758298204703.png
Owners: @koveogestion/tech-leads

Improve security by restricting organization and building assignments for managers
  server/api/users.ts
Owners: @koveogestion/tech-leads

Improve user role assignment logic for administrators
  attached_assets/image_1758300696606.png
  attached_assets/image_1758300723508.png
  attached_assets/image_1758300841778.png
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Improve user role filtering logic for manager view
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Fix issue preventing users from changing roles in the management interface
  attached_assets/image_1758311466528.png
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Update user management interface to correctly display available roles
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Add debug logs to user and building assignment pages
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-355nXvwu-js-127-E-1758311804269_1758311804270.txt
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Update user management to automatically refresh data
  client/src/components/user-tabs/UserBuildingsTab.tsx
  client/src/components/user-tabs/UserOrganizationsTab.tsx
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Improve budget period window default settings
  attached_assets/image_1758312371281.png
Owners: @koveogestion/tech-leads

Update user management to reset building assignments after saving
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Streamline user management by consolidating save actions
  attached_assets/image_1758312664290.png
  attached_assets/image_1758312692651.png
  attached_assets/image_1758312702106.png
  attached_assets/image_1758312708953.png
  attached_assets/image_1758312717879.png
  client/src/components/user-tabs/UserBuildingsTab.tsx
  client/src/components/user-tabs/UserOrganizationsTab.tsx
  client/src/components/user-tabs/UserResidencesTab.tsx
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Consolidate user data saving into a single action
  client/src/components/user-tabs/UserResidencesTab.tsx
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Fix error preventing user data from being saved correctly
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-hook-js-608-Encountered-1758313335963_1758313335963.txt
  attached_assets/image_1758313330320.png
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Force a refresh of the user management page to show updates
  attached_assets/image_1758313857484.png
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Update user management table instantly after editing
  attached_assets/image_1758314546348.png
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Improve user assignment updates by refetching user data
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Improve user management updates and error handling with conditional toasts
  attached_assets/image_1758315543457.png
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Improve user management saving and fix building assignment toast
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1758316338544_1758316338545.txt
  attached_assets/image_1758316331831.png
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Improve key uniqueness for user and building data displays
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1758316580585_1758316580585.txt
  client/src/components/BuildingSelectionGrid.tsx
  client/src/components/UserAssignmentsTableClean.tsx
  client/src/components/user-tabs/UserBuildingsTab.tsx
  client/src/components/user-tabs/UserResidencesTab.tsx
Owners: @koveogestion/tech-leads

Improve uniqueness of component keys across user and building pages
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1758317315011_1758317315011.txt
  client/src/components/UserAssignmentsTableClean.tsx
  client/src/pages/manager/buildings.tsx
Owners: @koveogestion/tech-leads

Add debug logs to enhance user management component visibility
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1758318062300_1758318062302.txt
  attached_assets/image_1758318090663.png
  client/src/components/UserAssignmentsTableClean.tsx
  client/src/components/user-tabs/UserBuildingsTab.tsx
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Update user management to ensure changes are applied correctly
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1758318407852_1758318407854.txt
  attached_assets/image_1758318414204.png
Owners: @koveogestion/tech-leads

Improve user management interface with comprehensive data caching and updates
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team
