Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

Fix issue preventing new users from being created in the system
  attached_assets/Pasted-token-validation-step-tsx-161-Checking-URL-for-token-Object-anonymous-token-validation-step-1756406490818_1756406490823.txt
  attached_assets/image_1756406485378.png
  server/routes-minimal.ts
Owners: @koveogestion/tech-leads

Improve type checking process for better code quality
  scripts/enhanced-validate-all.ts
  server/optimized-db-storage.ts
  server/storage.ts
  tsconfig.validation.json
  tsconfig.validation.tsbuildinfo
Owners: @koveogestion/quality-team, @koveogestion/tech-leads, @koveogestion/database-admins

Update UI components and refactor data caching for improved performance
  client/src/components/admin/user-list.tsx
  client/src/components/buildings/building-form.tsx
  client/src/components/dashboard/replit-ai-monitoring.tsx
  client/src/components/filter-sort/FilterSort.tsx
  client/src/components/ui/data-table.tsx
  server/db-storage.ts
  tsconfig.validation.tsbuildinfo
Owners: @koveogestion/tech-leads

Update data fetching and mutation logic across components
  client/src/components/admin/user-list.tsx
  client/src/components/common/BillForm.tsx
  client/src/components/common/DocumentManager.tsx
  client/src/components/forms/feature-form.tsx
  package-lock.json
  package.json
  tsconfig.validation.tsbuildinfo
Owners: @koveogestion/tech-leads

Update application forms and document handling for better user experience
  client/src/components/common/BillForm.tsx
  client/src/components/common/DocumentManager.tsx
  client/src/components/forms/feature-form.tsx
  client/src/lib/common-hooks.ts
  client/src/lib/documents.ts
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1756409821156.png
Owners: @koveogestion/tech-leads

Update organization deletion to handle cascading data removal
  server/api/organizations.ts
  server/utils/cleanup-orphans.ts
Owners: @koveogestion/tech-leads

Update website to include new authentication routes
  attached_assets/image_1756410202704.png
  client/index.html
  client/src/App.tsx
  client/src/hooks/use-auth.tsx
Owners: @koveogestion/tech-leads

Improve organization deletion to ensure data consistency
  server/api/organizations.ts
Owners: @koveogestion/tech-leads

Delete users with no assigned organizations from the system
  server/api/organizations.ts
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1756410719877.png
  attached_assets/image_1756411102060.png
Owners: @koveogestion/tech-leads

Add demo organization and roles with read-only access
  client/src/components/forms/organization-form.tsx
  client/src/pages/auth/login.tsx
  scripts/create-demo-users.ts
  scripts/setup-demo-permissions.ts
  shared/schemas/core.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Update invitation form to streamline user onboarding and demo user creation
  attached_assets/Pasted-use-auth-tsx-63-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756411752561_1756411752561.txt
  attached_assets/image_1756411748028.png
  client/src/components/admin/send-invitation-dialog.tsx
  server/api/users.ts
Owners: @koveogestion/tech-leads

Improve user data retrieval with enhanced error logging
  attached_assets/image_1756412195283.png
  attached_assets/image_1756412265694.png
  server/storage.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Hide password from the login page display
  client/src/pages/auth/login.tsx
Owners: @koveogestion/tech-leads

Add detailed logging and a workaround for demo user authentication
  attached_assets/Pasted-use-auth-tsx-63-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756412888208_1756412888209.txt
  attached_assets/image_1756412884704.png
  server/auth.ts
  server/db-storage.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Improve session handling and user data retrieval for authentication
  attached_assets/Pasted-use-auth-tsx-63-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756413454735_1756413454735.txt
  attached_assets/image_1756413451321.png
  cookies.txt
  server/db-storage.ts
Owners: @koveogestion/tech-leads

Adjust session settings to allow user access to sidebar menu
  attached_assets/Pasted-use-auth-tsx-63-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756413682665_1756413682666.txt
  attached_assets/image_1756413679236.png
  server/auth.ts
  test-cookies.txt
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Add demo roles to the sidebar and update actions for users
  attached_assets/image_1756413998730.png
  client/src/config/navigation.ts
  client/src/pages/dashboard.tsx
Owners: @koveogestion/tech-leads

Add demo type to organization edit form for better testing
  attached_assets/image_1756414252930.png
  client/src/components/admin/organization-form-dialog.tsx
  shared/schemas/core.ts
Owners: @koveogestion/tech-leads

Fix issue where demo users cannot view demo properties
  attached_assets/image_1756414577582.png
Owners: @koveogestion/tech-leads

Add new users to the system for testing and demonstration purposes
  attached_assets/image_1756414718680.png
  server/db-storage.ts
Owners: @koveogestion/tech-leads

Grant demo managers access to residence data for improved functionality
  attached_assets/image_1756415066551.png
  server/api/residences.ts
Owners: @koveogestion/tech-leads

Expand building access permissions for tenant and resident roles
  attached_assets/image_1756415367390.png
  server/api/buildings.ts
Owners: @koveogestion/tech-leads

Improve debugging logs for building access based on user roles
  attached_assets/image_1756415561308.png
  server/api/buildings.ts
Owners: @koveogestion/tech-leads

Improve authentication to include user organization access details
  server/auth.ts
Owners: @koveogestion/security-team

Improve data retrieval by adding debugging for user data access
  attached_assets/image_1756415798528.png
  server/db-storage.ts
Owners: @koveogestion/tech-leads

Improve user data logging for debugging authentication issues
  server/db-storage.ts
Owners: @koveogestion/tech-leads

Improve user data access and organization permissions
  attached_assets/image_1756416061864.png
  server/auth.ts
  server/db-storage.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Update database configuration for development environment
  attached_assets/image_1756416321667.png
  attached_assets/image_1756416367109.png
Owners: @koveogestion/tech-leads

Clean up duplicate user data and fix display issues in residence view
  attached_assets/Pasted-use-auth-tsx-63-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756416819190_1756416819190.txt
  attached_assets/image_1756416797014.png
  server/db-storage.ts
Owners: @koveogestion/tech-leads

Improve display of residence and building information for all users
  client/src/pages/residents/residence.tsx
  server/db-storage.ts
Owners: @koveogestion/tech-leads

Improve building information display for residents on their building page
  attached_assets/image_1756417130084.png
  attached_assets/image_1756417138551.png
  client/src/pages/residents/building.tsx
Owners: @koveogestion/tech-leads

Update building data fetching to correctly parse JSON responses
  attached_assets/image_1756417342847.png
  attached_assets/image_1756417364445.png
  client/src/pages/residents/building.tsx
Owners: @koveogestion/tech-leads

Add documentation link and improve building access logic
  attached_assets/image_1756418596415.png
  client/src/config/navigation.ts
  server/api/buildings.ts
  server/db-storage.ts
Owners: @koveogestion/tech-leads

Add validation report to check demo user data integrity
  validation_report.txt
Owners: @koveogestion/tech-leads

Introduce user-friendly interface for uploading property-related documents
  attached_assets/image_1756419228767.png
Owners: @koveogestion/tech-leads

Grant demo users access to their assigned organizations
  attached_assets/image_1756419339261.png
  server/auth.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Update demo organization ID and improve user residence fetching logic
  attached_assets/image_1756419477391.png
  attached_assets/image_1756419614514.png
  server/api/residences.ts
  server/auth.ts
  server/db-storage.ts
  test_lucie_cookies.txt
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Improve residence fetching for demo users by handling UUID type issues
  attached_assets/image_1756420041406.png
  attached_assets/image_1756420052751.png
  attached_assets/image_1756420065127.png
  server/api/residences.ts
Owners: @koveogestion/tech-leads

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team
