Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team

Allow editing of attached documents for vendor submissions
  attached_assets/image_1758837209899.png
  attached_assets/image_1758837270513.png
  attached_assets/image_1758837294649.png
  client/src/components/maintenance/projects/workflow/SubmissionTab.tsx
Owners: @koveogestion/tech-leads

Update how vendor documents are handled to correctly display file information
  client/src/components/maintenance/projects/workflow/SubmissionTab.tsx
Owners: @koveogestion/tech-leads

Add first and last payment dates to submission forms
  client/src/components/maintenance/projects/workflow/SubmissionTab.tsx
Owners: @koveogestion/tech-leads

Improve how building elements are displayed on the project workflow tab
  client/src/components/maintenance/projects/workflow/ElementManagementTab.tsx
Owners: @koveogestion/tech-leads

Organize uploaded files within specific project folders
  attached_assets/image_1758838006291.png
  attached_assets/image_1758838112253.png
  shared/config/upload-config.ts
Owners: @koveogestion/tech-leads

Add project context to document uploads for better organization
  attached_assets/image_1758838255672.png
  client/src/components/maintenance/projects/workflow/SubmissionTab.tsx
Owners: @koveogestion/tech-leads

Enable element management only when a preferred vendor is selected
  attached_assets/image_1758838430745.png
  client/src/components/maintenance/projects/workflow/SubmissionTab.tsx
Owners: @koveogestion/tech-leads

Conditionally show element management tab only for preferred submissions
  client/src/components/maintenance/projects/workflow/SubmissionTab.tsx
Owners: @koveogestion/tech-leads

Restrict element management access based on submission preference
  client/src/components/maintenance/projects/workflow/SubmissionTab.tsx
Owners: @koveogestion/tech-leads

Add bulk editing and search capabilities for project elements
  client/src/components/maintenance/projects/workflow/ElementManagementTab.tsx
Owners: @koveogestion/tech-leads

Add payment date requirement for one-time payments and fix form saving
  client/src/components/maintenance/projects/workflow/SubmissionTab.tsx
Owners: @koveogestion/tech-leads

Correctly format project submission price for saving edits
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-CpuO1gPQ-js-48--1758839596843_1758839596843.txt
  attached_assets/image_1758839591479.png
  attached_assets/image_1758839682786.png
  client/src/components/maintenance/projects/workflow/SubmissionTab.tsx
Owners: @koveogestion/tech-leads

Improve the display and retrieval of project information
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-CpuO1gPQ-js-48--1758839794319_1758839794320.txt
  attached_assets/image_1758839789158.png
Owners: @koveogestion/tech-leads

Improve document handling and add delete functionality to forms
  attached_assets/image_1758839819195.png
  attached_assets/image_1758839830908.png
  attached_assets/image_1758839992947.png
  attached_assets/image_1758840030092.png
  attached_assets/image_1758840086816.png
  client/src/components/common/StandardDocumentAttachments.tsx
  client/src/components/maintenance/projects/workflow/SubmissionTab.tsx
Owners: @koveogestion/tech-leads

Add ability to delete vendor submissions from projects
  attached_assets/image_1758858374846.png
  client/src/components/maintenance/projects/workflow/SubmissionTab.tsx
Owners: @koveogestion/tech-leads

Improve vendor submission workflow and fix associated errors
  client/src/components/maintenance/projects/workflow/SubmissionTab.tsx
  client/src/hooks/useProjectWorkflow.ts
Owners: @koveogestion/tech-leads

Improve how existing vendor documents are handled when editing submissions
  client/src/components/maintenance/projects/workflow/SubmissionTab.tsx
Owners: @koveogestion/tech-leads

Update submission workflow to confirm elements and advance to management
  client/src/components/maintenance/projects/workflow/ElementManagementTab.tsx
  client/src/components/maintenance/projects/workflow/SubmissionTab.tsx
Owners: @koveogestion/tech-leads

Add a 'Select All' button to the project elements list
  client/src/components/maintenance/projects/workflow/ElementManagementTab.tsx
Owners: @koveogestion/tech-leads

Make project and available building elements collapsible in workflow
  client/src/components/maintenance/projects/workflow/ElementManagementTab.tsx
Owners: @koveogestion/tech-leads

Update project type icons to use new Lucide React icons
  client/src/components/maintenance/projects/workflow/ElementManagementTab.tsx
Owners: @koveogestion/tech-leads

Update project type icons to use a consistent planning form icon
  client/src/components/maintenance/projects/workflow/ElementManagementTab.tsx
Owners: @koveogestion/tech-leads

Update project type icons for consistency across the platform
  replit.md
Owners: @koveogestion/tech-leads

Fix projects page to correctly display attachments on edited forms
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-DFP7S-8Y-js-48--1758860353557_1758860353558.txt
  attached_assets/image_1758860323425.png
Owners: @koveogestion/tech-leads

Add file attachment support to maintenance request forms
  server/api/maintenance.ts
Owners: @koveogestion/business-team

Improve user management by updating how users are displayed
  attached_assets/image_1758860683369.png
Owners: @koveogestion/tech-leads

Fix error when viewing content and improve asset loading
  attached_assets/image_1758860916950.png
  attached_assets/image_1758860934035.png
Owners: @koveogestion/tech-leads

Improve how documents are searched for within the maintenance workflow
  server/api/maintenance.ts
Owners: @koveogestion/business-team

Update document upload to exclude AI functionality
  attached_assets/image_1758861249032.png
  attached_assets/image_1758861260947.png
  attached_assets/image_1758861343414.png
  client/src/components/maintenance/projects/workflow/SubmissionTab.tsx
Owners: @koveogestion/tech-leads

Improve file finding logic to prevent document viewing errors
  server/api/maintenance.ts
Owners: @koveogestion/business-team

Fix error when viewing or deleting file attachments
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-D5pVsllp-js-48--1758861592655_1758861592655.txt
  server/api/maintenance.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Improve document finding by checking metadata files
  server/api/maintenance.ts
Owners: @koveogestion/business-team

Fix error when viewing vendor submission documents
  replit.md
Owners: @koveogestion/tech-leads

Improve project submission workflow by validating workflow state
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-D5pVsllp-js-48--1758862713533_1758862713533.txt
  attached_assets/image_1758862708248.png
  server/api/maintenance.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Enable automatic navigation to the next step in the project workflow
  attached_assets/image_1758863083339.png
  attached_assets/image_1758863155264.png
  attached_assets/image_1758863284895.png
  client/src/components/maintenance/projects/workflow/ElementManagementTab.tsx
  client/src/components/maintenance/projects/workflow/ProjectWorkflowModal.tsx
  client/src/components/maintenance/projects/workflow/SubmissionTab.tsx
Owners: @koveogestion/tech-leads

Update project submission to remove price and improve task forms
  client/src/components/maintenance/projects/workflow/SubmissionTab.tsx
Owners: @koveogestion/tech-leads

Improve task creation and display on the pre-work tab
  client/src/components/maintenance/projects/workflow/PreWorkTab.tsx
Owners: @koveogestion/tech-leads

Update the project workflow pre-work form and submission step
  client/src/components/maintenance/projects/workflow/PreWorkTab.tsx
Owners: @koveogestion/tech-leads

Improve project workflow by displaying configured notifications and removing unnecessary fields
  client/src/components/maintenance/projects/workflow/PreWorkTab.tsx
Owners: @koveogestion/tech-leads

Update API endpoints for managing project tasks to use consistent naming
  attached_assets/image_1758866317013.png
  attached_assets/image_1758866381879.png
  client/src/hooks/useProjectWorkflow.ts
Owners: @koveogestion/tech-leads
