Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

Task #364: Add real-Postgres test for AI suggestion cache pruning
  server/tests/ai-suggestion-cache-prune.test.ts
Owners: @koveogestion/tech-leads

Catch unequal AI installment plans even when frequency isn't 'custom'
  client/src/components/bill-management/GeminiBillExtractor.tsx
  tests/unit/bill-management/convertBillResponseToFormData.test.ts
Owners: @koveogestion/tech-leads

Add end-to-end test for AI tag suggestion with real DOCX/XLSX uploads
  server/tests/document-tag-suggestion-office-e2e.test.ts
  server/tests/fixtures/sample-budget.xlsx
  server/tests/fixtures/sample-minutes.docx
Owners: @koveogestion/tech-leads

Task #357: Unit-test the bill backfill picker helpers
  scripts/backfill-bill-ai-fields.ts
  tests/unit/backfill-bill-ai-fields.test.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

test(bills): cover the GET /api/bills issueDateFrom/To filter (Task #366)
  tests/integration/bills-api-routes.test.ts
Owners: @koveogestion/tech-leads

Task #332: Restore real file streaming in document tests
  __mocks__/uuid.cjs
  jest.config.cjs
  server/services/optimized-file-storage.ts
  tests/integration/document-manager-only-visibility.test.ts
Owners: @koveogestion/tech-leads

Git commit prior to merge
  attached_assets/image_1776942472297.png
Owners: @koveogestion/tech-leads

Task #373: Make the bill issue-date filter explicitly skip undated bills
  server/api/bills.ts
  tests/integration/bills-api-routes.test.ts
Owners: @koveogestion/tech-leads

Translate building card buttons (task #375)
  client/src/components/buildings/BuildingCard.tsx
Owners: @koveogestion/tech-leads

tests: assert Content-Disposition in document streaming tests (Task #349)
  tests/integration/document-manager-only-visibility.test.ts
Owners: @koveogestion/tech-leads

Task #367: end-to-end test for inline-data path of /api/ai/suggest-document-tags
  server/tests/document-tag-suggestion-inline-e2e.test.ts
  server/tests/fixtures/sample.jpg
  server/tests/fixtures/sample.pdf
  server/tests/fixtures/sample.png
Owners: @koveogestion/tech-leads

Add automated tests for the AI tag suggestion endpoint (Task #344)
  server/tests/ai-document-tag-suggestion.test.ts
Owners: @koveogestion/tech-leads

Task #351: cover document download with missing ACL metadata
  tests/integration/document-manager-only-visibility.test.ts
Owners: @koveogestion/tech-leads

Task #376: Make downloaded filenames safe for tricky characters
  server/api/optimized-documents.ts
  server/services/document-service.ts
  server/utils/content-disposition.ts
  server/utils/index.ts
  tests/unit/server/content-disposition.test.ts
Owners: @koveogestion/tech-leads

Task #377: cover the document download flow when the file is missing from storage
  tests/integration/document-manager-only-visibility.test.ts
Owners: @koveogestion/tech-leads

Task #374: Audit-driven NULL-guard test for API date-range filters
  server/api/bills.ts
  tests/integration/api-date-range-null-guard-audit.test.ts
Owners: @koveogestion/tech-leads

Stop tricky filenames from breaking other file downloads (Task #378)
  server/api/documentation.ts
  server/api/maintenance.ts
  server/api/optimized-documents.ts
  server/api/users.ts
  server/services/document-service.ts
  server/tests/content-disposition.test.ts
  server/utils/content-disposition.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Remove workflow file (can't push without workflow scope)
  .github/workflows/quality-check.yml
Owners: @koveogestion/devops-team, @koveogestion/tech-leads

Remove workflows directory (missing workflow scope)
  .github/workflows/dependency-update.yml
  .github/workflows/enforce-review.yml
  .github/workflows/route-manifest-check.yml
  .github/workflows/security-audit.yml
  .gitignore
Owners: @koveogestion/devops-team, @koveogestion/tech-leads

Task #379: pin down /optimized-file behaviour when the on-disk file is missing
  tests/integration/document-manager-only-visibility.test.ts
Owners: @koveogestion/tech-leads

Add update_building and update_residence MCP tools
  server/mcp/server.ts
  server/tests/mcp-tools.test.ts
Owners: @koveogestion/tech-leads

docs(changelog): batch MCP tool changes under [Unreleased]
  CHANGELOG.md
Owners: @koveogestion/tech-leads

Cascade pending invitations on residence/building delete (Task #383)
  server/mcp/server.ts
  server/tests/mcp-tools.test.ts
  tests/integration/mcp-delete-building-cascade.test.ts
  tests/integration/mcp-delete-residence-cascade.test.ts
Owners: @koveogestion/tech-leads

Task #382: Return 404 instead of 403 when optimized-file is missing on disk
  server/api/optimized-documents.ts
  server/services/optimized-file-storage.ts
  tests/integration/document-manager-only-visibility.test.ts
Owners: @koveogestion/tech-leads

Task #381: Audit and sanitise unsafe HTTP header values
  server/api/maintenance.ts
  server/api/optimized-documents.ts
  server/objectStorage.ts
  server/services/document-service.ts
  server/tests/safe-header.test.ts
  server/utils/index.ts
  server/utils/safe-header.ts
Owners: @koveogestion/business-team, @koveogestion/tech-leads

Task #384: Surface real build SHA + buildTime in get_mcp_info
  scripts/write-build-info.ts
  server/mcp/server.ts
  server/tests/mcp-tools.test.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Task #380: Stop tricky filenames from breaking file uploads too
  server/api/bills.ts
  server/api/maintenance.ts
  tests/integration/upload-filename-normalization.test.ts
  tests/unit/server/upload-filename-normalization.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Rename resend audit role to callerRole (task #385)
  server/mcp/server.ts
Owners: @koveogestion/tech-leads

Task #394: One-shot cleanup for legacy unsafe filenames
  replit.md
  scripts/normalize-stored-filenames.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Saved your changes before starting work
  .replit
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-do_1776947352648.txt
  package.json
Owners: @koveogestion/tech-leads

Task #397: Date-based document sequencing with AI link suggestions
  client/src/components/common/DocumentInlineViewer.tsx
  client/src/components/common/ModularDocumentPageWrapper.tsx
  client/src/components/document-management/UnifiedDocumentViewer.tsx
  client/src/components/documents/DocumentLinkPickerDialog.tsx
  client/src/lib/i18n.ts
  server/api/documents.ts
  server/mcp/server.ts
  server/services/document-link-service.ts
  shared/schema.ts
  shared/schemas/documents.ts
  tests/unit/document-link-service.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Show issue date as a sortable column on the bills list (Task #365)
  client/src/pages/manager/bills.tsx
Owners: @koveogestion/tech-leads

Fix infinite update loop on document pages (Task #407)
  client/src/components/document-management/DocumentCreateForm.tsx
Owners: @koveogestion/tech-leads

Task #393: Make every uploaded filename safe everywhere we save it
  server/api/bills.ts
  server/api/documents.ts
  server/api/maintenance.ts
  server/services/document-service.ts
  server/tests/document-service.test.ts
  server/tests/filename-normalization.test.ts
  server/utils/filenameNormalization.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

Auto-migrate database before serving traffic (Task #399)
  README.md
  scripts/run-migrations.ts
  server/index.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team, @koveogestion/api-team

Route bug/feature attachment uploads through the canonical filename normalizer
  server/api/bugs.ts
  server/api/feature-requests.ts
  server/routes.ts
  server/services/secure-file-storage.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Add automated test for bill issue-date sort (Task #369)
  client/src/pages/manager/bills-sort.ts
  client/src/pages/manager/bills.tsx
  tests/unit/bills-issue-date-sort.test.ts
Owners: @koveogestion/tech-leads

Task #413: Make legacy disk-based file storage use the same safe-filename rules
  server/services/optimized-file-storage.ts
Owners: @koveogestion/tech-leads

Wire deploy build to run migrations even if the server crashes early
  README.md
Owners: @koveogestion/tech-leads

Task #406: E2E test for French/special-char upload filename normalization
  server/api/bills.ts
  server/api/documents.ts
  server/api/maintenance.ts
  server/services/secure-file-storage.ts
  server/tests/upload-filename-normalization-integration.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team
