Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

Enable persistent storage for application data
  attached_assets/image_1755388506374.png
  cookies.txt
  server/storage.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Update user permissions to include residents and refine tab management
  attached_assets/image_1755388824787.png
  client/src/pages/admin/permissions.tsx
  config/permissions.json
Owners: @koveogestion/tech-leads

Remove outdated user management routes and add comprehensive testing
  replit.md
  scripts/validate-routes.ts
  tests/routing/navigation.test.tsx
  tests/routing/removed-routes.test.tsx
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Update quality metrics and project dependencies
  .quality-metrics-history.json
  attached_assets/image_1755389268134.png
  package-lock.json
  package.json
  shared/schema.ts
  tests/unit/invitation/registration-wizard.test.tsx
  tsconfig.json
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Organize all application pages and update project dependencies
  client/src/pages/owner/documentation.tsx
  client/src/pages/owner/permissions.tsx
  client/src/pages/owner/pillars.tsx
  client/src/pages/owner/quality.tsx
  client/src/pages/owner/suggestions-with-filter.tsx
  client/src/pages/owner/suggestions.tsx
  client/src/pages/pillars.tsx
  client/src/pages/residents/demands.tsx
  docs/PAGE_ORGANIZATION_GUIDE.md
  package-lock.json
  package.json
  replit.md
  scripts/fix-page-duplicates.ts
  tests/integration/page-dependencies.test.tsx
  tests/routing/page-organization.test.tsx
  tests/system/comprehensive-test-suite.test.tsx
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Improve project organization and documentation validation systems
  ORGANIZATION_VALIDATION_REPORT.md
  docs/IMPROVEMENT_REPORT.md
  docs/TEMPLATE.md
  replit.md
  scripts/validate-organization.ts
  tests/README.md
  tests/organization/documentation-improvement.test.ts
  tests/organization/documentation-validation.test.ts
  tests/organization/error-detection.test.ts
  tests/organization/project-structure.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Enhance AI agent tooling with new capabilities and integrations
  .ai-agent/metrics-history.json
  package-lock.json
  package.json
  replit.md
  scripts/ai-agent-cli.ts
  scripts/demo-ai-agent-tools.ts
  scripts/test-ai-agent-tools.ts
  tools/README.md
  tools/ai-agent-dashboard.ts
  tools/ai-agent-toolkit.ts
  tools/intelligent-workflow-assistant.ts
  tools/smart-context-manager.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Improve login to support legacy passwords and upgrade them
  server/auth.ts
Owners: @koveogestion/security-team

Update project documentation and component examples for clarity
  .quality-metrics-history.json
  ROADMAP.md
  SYSTEM_PROMPT_GUIDELINES.md
  client/src/components/README.md
  client/src/components/admin/README.md
  client/src/components/forms/README.md
  client/src/components/forms/feature-form.tsx
  client/src/components/layout/README.md
  docs/BRANCH_PROTECTION_SETUP.md
  docs/PAGE_ORGANIZATION_GUIDE.md
  docs/PAGE_ROUTING_GUIDE.md
  docs/RBAC_SYSTEM.md
  docs/README.md
  server/README.md
  tests/README.md
Owners: @koveogestion/tech-leads

Consolidate and reuse components across different user roles
  client/src/App.tsx
  client/src/components/admin/bulk-actions-bar.tsx
  client/src/components/ui/chart.tsx
  client/src/index.css
  client/src/pages/admin/permissions.tsx
  package-lock.json
  package.json
  postcss.config.js
Owners: @koveogestion/tech-leads

Refine invitation permissions for enhanced organizational control
  attached_assets/image_1755392906674.png
  client/src/components/admin/send-invitation-dialog.tsx
  client/src/index.css
  server/routes.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Adjust server setup to prioritize API routes over static file serving
  attached_assets/rbac_permission_1755393140423.xlsx
  server/index.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Add placeholder interfaces for various management and settings sections
  attached_assets/image_1755393593718.png
  client/src/pages/manager/bills.tsx
  client/src/pages/manager/budget.tsx
  client/src/pages/manager/buildings.tsx
  client/src/pages/manager/demands.tsx
  client/src/pages/manager/residences.tsx
  client/src/pages/residents/building.tsx
  client/src/pages/residents/dashboard.tsx
  client/src/pages/residents/residence.tsx
  client/src/pages/settings/bug-reports.tsx
  client/src/pages/settings/idea-box.tsx
  client/src/pages/settings/settings.tsx
Owners: @koveogestion/tech-leads

Remove outdated and unused dashboard and user management routes
  client/src/App.tsx
  client/src/components/layout/sidebar.tsx
  client/src/pages/manager/user-management.tsx
  client/src/pages/owner/dashboard.tsx
  client/src/pages/residents/dashboard.tsx
Owners: @koveogestion/tech-leads

Consolidate all documentation and related owner features under the admin section
  client/src/App.tsx
  client/src/components/layout/sidebar.tsx
  client/src/pages/owner/roadmap.tsx
Owners: @koveogestion/tech-leads

Centralize navigation structure and role-based permissions for the sidebar
  client/src/components/layout/README.md
  client/src/components/layout/sidebar.tsx
  client/src/config/README.md
  client/src/config/navigation.ts
Owners: @koveogestion/tech-leads

Allow users to invite others to any organization
  client/src/components/admin/send-invitation-dialog.tsx
  server/rbac.ts
  server/routes.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Update project metrics and improve navigation and access controls
  .quality-metrics-history.json
  client/src/utils/performance-monitor.ts
  replit.md
Owners: @koveogestion/tech-leads

Update quality metrics with latest timestamps for historical data
  .quality-metrics-history.json
Owners: @koveogestion/tech-leads

Enhance project stability by fixing tests and improving server structure
  .quality-metrics-history.json
  client/src/components/ui/sidebar.tsx
  jest.config.js
  package-lock.json
  package.json
  replit.md
  server/controllers/auth-controller.ts
  server/controllers/index.ts
  server/controllers/organization-controller.ts
  server/controllers/user-controller.ts
  server/middleware/auth-middleware.ts
  server/middleware/cors-middleware.ts
  server/middleware/index.ts
  server/middleware/validation-middleware.ts
  server/utils/date-helpers.ts
  server/utils/index.ts
  server/utils/logger.ts
  server/utils/validation-helpers.ts
  tests/organization/project-structure.test.ts
  tests/unit/notification-service.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team, @koveogestion/security-team

Remove all placeholder and mock data from the application
  .quality-metrics-history.json
  client/src/components/admin/organization-form-dialog.tsx
  client/src/components/admin/send-invitation-dialog.tsx
  client/src/components/ssl/SslCertificateInfo.tsx
  client/src/pages/admin/documentation.tsx
  replit.md
  scripts/populate-organizations.ts
  scripts/validate-ssl-management.ts
  server/jobs/ssl_renewal_job.ts
  server/scripts/ssl-deployment/.env.deployment
  server/storage.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team, @koveogestion/database-admins

Enhance platform documentation with updated project overview and recent changes
  replit.md
Owners: @koveogestion/tech-leads

Improve invitation system and feature completion logic
  server/routes.ts
Owners: @koveogestion/api-team, @koveogestion/tech-leads

Add code quality and linting tools to the project
  package-lock.json
  package.json
  server/routes.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Update quality metrics to reflect recent testing and analysis findings
  .quality-metrics-history.json
Owners: @koveogestion/tech-leads

Adjust test configurations to better reflect development flexibility
  config/index.ts
  tests/organization/error-detection.test.ts
Owners: @koveogestion/tech-leads

Improve how invitation details are managed for better clarity
  shared/schema.ts
Owners: @koveogestion/database-admins, @koveogestion/tech-leads

Fix deployment errors by adding missing colors and creating resident dashboard
  client/src/index.css
  client/src/pages/residents/dashboard.tsx
  replit.md
  tailwind.config.ts
Owners: @koveogestion/tech-leads

Remove the user management page and related API calls
  attached_assets/image_1755401048229.png
  attached_assets/image_1755401212638.png
  client/src/components/admin/README.md
  client/src/components/admin/invitation-management.tsx
  client/src/components/admin/user-list.tsx
  server/routes.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Improve the admin permissions page with a clear all permissions view
  .quality-metrics-history.json
  attached_assets/image_1755401274927.png
  attached_assets/image_1755401379170.png
  attached_assets/image_1755401394483.png
  client/src/pages/admin/permissions.tsx
Owners: @koveogestion/tech-leads

Update permissions management and server configuration for better data handling
  attached_assets/image_1755401597807.png
  client/src/pages/admin/permissions.tsx
  server/api/permissions.ts
  server/index.ts
  server/optimized-db-storage.ts
  server/routes-minimal.ts
  server/routes.ts.backup
  server/storage.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team, @koveogestion/database-admins

Refine invitation permissions for Koveo organization users
  attached_assets/image_1755402682867.png
  client/src/components/admin/send-invitation-dialog.tsx
  server/routes.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Add user management to the sidebar navigation
  client/src/config/navigation.ts
Owners: @koveogestion/tech-leads

Populate organization editing form with existing data
  client/src/components/admin/organization-form-dialog.tsx
Owners: @koveogestion/tech-leads

Automate demo organization data synchronization from development to production
  .env.deployment.example
  DEMO_ORGANIZATION_SYNC.md
  replit.md
  scripts/deployment-hooks.ts
  scripts/import-demo-organization.ts
  scripts/sync-demo-organization.ts
  server/routes.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team, @koveogestion/api-team

Add a new dashboard page to display role-based navigation and information
  client/src/App.tsx
  client/src/pages/dashboard.tsx
Owners: @koveogestion/tech-leads

Organize user and permission views on the admin page
  client/src/pages/admin/permissions.tsx
Owners: @koveogestion/tech-leads

Remove user management link from the sidebar navigation
  client/src/config/navigation.ts
Owners: @koveogestion/tech-leads

Update project to support image file uploads and improve testing
  .quality-metrics-history.json
  TEST_RESULTS_SUMMARY.md
  jest.config.js
  package-lock.json
  package.json
  server/routes.ts
  tests/unit/roadmap-component.test.tsx
Owners: @koveogestion/tech-leads, @koveogestion/quality-team, @koveogestion/api-team

Standardize terminology and fix documentation links across the project
  DOCUMENTATION_FIXES_COMPLETE.md
  TEST_RESULTS_SUMMARY.md
  client/src/components/README.md
  client/src/components/admin/README.md
  docs/CODE_REVIEW_GUIDE.md
  docs/PAGE_ORGANIZATION_GUIDE.md
  docs/README.md
  docs/ROUTING_CHECKLIST.md
  docs/TEMPLATE.md
  fix-documentation-issues.js
  koveo-gestion-exhaustive-docs.md
  server/README.md
Owners: @koveogestion/tech-leads

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team
