Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

Prepare budget feature tests with mock data and UI elements
  tests/e2e/budget-user-workflows.test.tsx
  tests/integration/budget-business-logic.test.tsx
  tests/mocks/handlers.ts
  tests/unit/budget-test-setup.tsx
  tests/unit/budget/bank-account-management.test.tsx
  tests/unit/pages/budget.test.tsx
  tests/utils/test-providers.tsx
Owners: @koveogestion/tech-leads

Update tests to use demo organization data instead of mock data
  tests/unit/budget-test-setup.tsx
  tests/unit/budget/bank-account-management.test.tsx
Owners: @koveogestion/tech-leads

Enhance budget testing with more specific data scenarios and calculations
  tests/unit/budget-test-setup.tsx
  tests/unit/budget/budget-api-integration.test.ts
  tests/unit/budget/budget-calculation-logic.test.ts
  tests/unit/budget/budget-calculations.test.tsx
  tests/unit/budget/budget-comprehensive.test.ts
  tests/unit/budget/budget-interactions.test.tsx
Owners: @koveogestion/tech-leads

Enhance website testing to ensure quality and compliance
  tests/website/README.md
  tests/website/button-functionality.test.tsx
  tests/website/continuous-improvement.test.tsx
  tests/website/false-representation.test.tsx
  tests/website/index.test.tsx
  tests/website/platform-trial-forms.test.tsx
  tests/website/roadmap-features.test.tsx
  tests/website/routing-consistency.test.tsx
  tests/website/terminology-validation.test.tsx
  tests/website/ui-consistency.test.tsx
  tests/website/website-translation.test.tsx
Owners: @koveogestion/tech-leads

Add new website pages for features, security, and company story
  client/src/App.tsx
  client/src/pages/features.tsx
  client/src/pages/privacy-policy.tsx
  client/src/pages/security.tsx
  client/src/pages/story.tsx
  client/src/pages/terms-of-service.tsx
  tests/website/new-pages.test.tsx
  tests/website/privacy-terms-availability.test.tsx
Owners: @koveogestion/tech-leads

Add mobile accessibility tests for improved user experience
  tests/website/mobile-accessibility.test.tsx
Owners: @koveogestion/tech-leads

Display company history from PDF file on the story page
  client/src/pages/story.tsx
  server/api/company-history.ts
  server/routes-minimal.ts
Owners: @koveogestion/tech-leads

Ensure logo displays correctly on different screen sizes across the app
  tests/website/logo-visualization.test.tsx
Owners: @koveogestion/tech-leads

Integrate a hamburger menu to house navigation and action buttons
  client/src/components/ui/hamburger-menu.tsx
  client/src/pages/features.tsx
  client/src/pages/home.tsx
  client/src/pages/privacy-policy.tsx
  client/src/pages/security.tsx
  client/src/pages/story.tsx
  client/src/pages/terms-of-service.tsx
Owners: @koveogestion/tech-leads

Add trial request functionality for prospective users to inquire about the service
  attached_assets/Screenshot_20250822-104032_1755873664456.png
  client/src/components/ui/hamburger-menu.tsx
  client/src/components/ui/trial-request-form.tsx
  client/src/pages/home.tsx
  server/api/trial-request.ts
  server/routes-minimal.ts
Owners: @koveogestion/tech-leads

Improve hamburger menu appearance by setting a solid background color
  client/src/components/ui/hamburger-menu.tsx
Owners: @koveogestion/tech-leads

Fix persistent hamburger menu display issues by overriding styles
  client/src/components/ui/hamburger-menu.css
  client/src/components/ui/hamburger-menu.tsx
Owners: @koveogestion/tech-leads

Add translations for the home page content
  client/src/lib/i18n.ts
  client/src/pages/home.tsx
Owners: @koveogestion/tech-leads

Add demo mode login and data synchronization features
  client/src/pages/auth/login.tsx
  server/api/demo-sync.ts
  server/services/demo-sync-service.ts
Owners: @koveogestion/tech-leads

Enforce read-only access for all demo users across the platform
  attached_assets/image_1755881936170.png
  server/rbac.ts
  tests/integration/open-demo/open-demo-bills.test.ts
  tests/integration/open-demo/open-demo-documents.test.ts
  tests/integration/open-demo/open-demo-invitations.test.ts
  tests/integration/open-demo/open-demo-maintenance-organization.test.ts
  tests/integration/open-demo/open-demo-rbac.test.ts
Owners: @koveogestion/tech-leads

Add comprehensive deployment validation and testing suite
  scripts/deployment-validation.ts
  tests/integration/deployment/build-process-tests.test.ts
  tests/integration/deployment/critical-deployment-tests.test.ts
  tests/integration/deployment/deployment-health-checks.test.ts
  tests/integration/deployment/pre-deployment-checklist.test.ts
  tests/integration/deployment/production-environment-tests.test.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Restrict document downloads for open demo users
  package.json
  server/api/documents.ts
  tests/integration/open-demo/open-demo-documents.test.ts
Owners: @koveogestion/tech-leads

Add translations for the website's navigation menu
  client/src/lib/i18n.ts
  package.json
Owners: @koveogestion/tech-leads

Translate hamburger menu items and labels for better user experience
  client/src/components/ui/hamburger-menu.tsx
  package.json
Owners: @koveogestion/tech-leads

Expand testing capabilities to include detailed code quality and security checks
  package.json
  scripts/deployment-validation.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Update database connection library for improved performance and stability
  package-lock.json
  package.json
Owners: @koveogestion/tech-leads

Improve server startup reliability and testing configurations
  .replit
  server/index.ts
  server/optimized-db-storage.ts
  tests/integration/deployment/critical-deployment-tests.test.ts
  tests/integration/deployment/deployment-health-checks.test.ts
  tests/integration/deployment/pre-deployment-checklist.test.ts
  tests/mocks/handlers.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Saved your changes before starting work
  .replit
Owners: @koveogestion/tech-leads

Update language switcher component import for consistency
  attached_assets/image_1755883759661.png
  tests/integration/page-language-validation.test.tsx
Owners: @koveogestion/tech-leads

Fix error that prevents users from accessing their account details
  attached_assets/image_1755884089635.png
Owners: @koveogestion/tech-leads

Update production environment to resolve user-reported issues
  attached_assets/image_1755884368065.png
  attached_assets/image_1755884390169.png
Owners: @koveogestion/tech-leads

Enable website access through root URL for all users
  .replit
Owners: @koveogestion/tech-leads

Improve production static file serving and error reporting
  attached_assets/image_1755884813576.png
  server/index.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Improve production deployment by serving static files immediately
  server/index.ts
Owners: @koveogestion/api-team, @koveogestion/tech-leads

Improve deployment startup and health check responsiveness
  server/index.ts
Owners: @koveogestion/api-team, @koveogestion/tech-leads

Improve application startup speed and responsiveness for deployments
  attached_assets/image_1755886130369.png
Owners: @koveogestion/tech-leads

Improve root path handling to better detect health checks
  server/index.ts
Owners: @koveogestion/api-team, @koveogestion/tech-leads

Add a dedicated health check endpoint for improved system monitoring
  server/index.ts
Owners: @koveogestion/api-team, @koveogestion/tech-leads

Improve how the application serves files for users accessing the site
  server/index.ts
Owners: @koveogestion/api-team, @koveogestion/tech-leads

Ensure the application responds quickly to deployment health checks
  server/index.ts
Owners: @koveogestion/api-team, @koveogestion/tech-leads

Make the application more resilient to deployment health checks
  server/index.ts
Owners: @koveogestion/api-team, @koveogestion/tech-leads

Enable the property management platform to stay running after initialization
  .replit
  package.json
  server/index.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Improve code documentation and remove unused imports
  client/src/components/BuildingSelectionGrid.tsx
  client/src/components/admin/bulk-actions-bar-v2.tsx
  tests/utils/demo-data-helpers.ts
  tests/utils/metric-effectiveness-tracker.ts
  tools/replit-integration-enhancer.ts
Owners: @koveogestion/tech-leads

Consolidate redundant code and improve validation scripts
  client/src/lib/common-hooks.ts
  client/src/lib/documents.ts
  client/src/pages/manager/BuildingDocuments.tsx
  client/src/pages/manager/ResidenceDocuments.tsx
  reports/consolidation-report.md
  scripts/analyze-feature-coverage.ts
  scripts/consolidate-redundancies.ts
  scripts/enhanced-validation.ts
  scripts/run-consolidation-quality.ts
  scripts/validate-feature-completeness.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Fix errors in testing, routing, and AI dashboard by updating dependencies and code.
  client/src/components/forms/organization-form.tsx
  client/src/components/forms/residence-edit-form.tsx
  client/src/components/ui/standard-form.tsx
  client/src/lib/filter-sort/useFilterSort.ts
  package-lock.json
  package.json
  tools/ai-agent-dashboard.ts
Owners: @koveogestion/tech-leads

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team
