Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

Saved your changes before starting work
  attached_assets/Pasted-queryClient-ts-166-Mutation-error-SyntaxError-Unexpected-token-DOCTYPE-is-not-valid-J-1756222979481_1756222979482.txt
  attached_assets/image_1756222974525.png
Owners: @koveogestion/tech-leads

Update server startup to load API routes before serving frontend
  server/index.ts
Owners: @koveogestion/api-team, @koveogestion/tech-leads

Reorder server startup to load frontend assets before API routes
  attached_assets/image_1756223317251.png
  attached_assets/image_1756223477481.png
  server/index.ts
  server/routes-minimal.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Secure API routes before serving frontend content for improved stability
  attached_assets/Pasted-queryClient-ts-166-Mutation-error-SyntaxError-Unexpected-token-DOCTYPE-is-not-valid-J-1756223662770_1756223662771.txt
  attached_assets/image_1756223658744.png
  attached_assets/image_1756223962437.png
  server/index.ts
  server/routes-minimal.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Adjust authentication endpoint paths for better API organization
  server/auth.ts
  server/index.ts
  server/routes-minimal.ts
Owners: @koveogestion/security-team, @koveogestion/api-team, @koveogestion/tech-leads

Improve how API requests are handled for better performance
  attached_assets/image_1756224408629.png
  server/index.ts
  server/routes-minimal.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Improve API routing and session handling for authentication
  attached_assets/Pasted-queryClient-ts-166-Mutation-error-SyntaxError-Unexpected-token-DOCTYPE-is-not-valid-J-1756224784865_1756224784866.txt
  attached_assets/image_1756224780989.png
  attached_assets/image_1756225209563.png
  server/index.ts
  server/routes-minimal.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Prevent Vite from interfering with API routes
  server/vite.ts
Owners: @koveogestion/tech-leads

Ensure all pages correctly retrieve data from the database
  client/src/pages/manager/bills.tsx
Owners: @koveogestion/tech-leads

Prepare application for deployment with updated build system
  replit.md
  scripts/deploy-build.js
  scripts/production-build.js
  server/index.js
  temp_pid
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Improve property viewing by adding AI-powered resident insights
  attached_assets/image_1756226729748.png
Owners: @koveogestion/tech-leads

Update demo account passwords for secure login
  client/src/pages/auth/login.tsx
Owners: @koveogestion/tech-leads

Prioritize API routes and streamline production application loading
  server/index.ts
Owners: @koveogestion/api-team, @koveogestion/tech-leads

Standardize application startup for development and production
  attached_assets/image_1756227392887.png
  server/index.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Adjust server startup to load application features more efficiently
  server/index.ts
Owners: @koveogestion/api-team, @koveogestion/tech-leads

Improve application startup sequence for better performance and stability
  attached_assets/Screenshot_20250826-131225_1756228363454.png
  server/index.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Improve routing to correctly serve static files for the application
  server/vite.ts
Owners: @koveogestion/tech-leads

Improve routing to correctly serve static files and API requests
  server/vite.ts
Owners: @koveogestion/tech-leads

Update password reset link to use the correct production domain
  attached_assets/Screenshot_20250826-133030_1756229436789.png
  server/auth.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Fix login issue that prevents users from accessing their accounts
  attached_assets/Screenshot_20250826-133141_1756229525808.png
Owners: @koveogestion/tech-leads

Fix login error preventing users from accessing the platform
  attached_assets/Screenshot_20250826-134250_1756230194914.png
Owners: @koveogestion/tech-leads

Ensure API routes load before static files for proper functionality
  server/production.ts
Owners: @koveogestion/tech-leads

Improve production server setup to correctly handle API routes
  attached_assets/Screenshot_20250826-140046_1756231270864.png
  server/index.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Configure Vite for production and development environments
  attached_assets/image_1756232142092.png
  server/production-api-fix.ts
  server/production-entry.js
Owners: @koveogestion/tech-leads

Adapt server to handle both development and production environments seamlessly
  attached_assets/image_1756233660951.png
  server/universal-server.js
Owners: @koveogestion/tech-leads

Add enhanced server setup with improved middleware and testing
  server/index.ts
  server/production-api-fix.ts
  server/production-entry.js
  server/universal-server.js
Owners: @koveogestion/api-team, @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1756234344269.png
Owners: @koveogestion/tech-leads

Improve server configuration and routing for production and development
  server/auth.ts
  server/index.ts
  server/routes-minimal.ts
Owners: @koveogestion/security-team, @koveogestion/api-team, @koveogestion/tech-leads

Improve deployment script to better handle server start variations
  scripts/deployment-validation.ts
  server/index.js
  server/index.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads, @koveogestion/api-team

Adjust deployment checks to treat failures as warnings
  attached_assets/image_1756242898125.png
  scripts/deployment-validation.ts
  scripts/validate-demo-sync.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Remove demo data migration and synchronization for production
  scripts/deploy-with-demo-data.sh
  scripts/deployment-hooks.ts
  scripts/deployment-validation.ts
  scripts/enhanced-validate-all.ts
  scripts/import-demo-organization.ts
  scripts/production-demo-sync.ts
  scripts/run-demo-sync-validation.ts
  scripts/sync-demo-organization.ts
  scripts/sync-demo-organizations.ts
  scripts/validate-demo-sync.ts
  server/api/demo-sync.ts
  server/services/comprehensive-demo-sync-service.ts
  server/services/demo-management-service.ts
  server/services/demo-sync-service.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Remove unused demo synchronization and validation scripts
  package.json
Owners: @koveogestion/tech-leads

Add an image file to the project assets
  attached_assets/image_1756243939042.png
Owners: @koveogestion/tech-leads

Configure production database to use a specific port
  server/index.ts
Owners: @koveogestion/api-team, @koveogestion/tech-leads

Update user data handling to reflect current system structures
  attached_assets/image_1756244242257.png
  server/api/users.ts
Owners: @koveogestion/tech-leads

Correct document and maintenance request data handling for users
  server/index.js
Owners: @koveogestion/tech-leads

Prepare deployment by copying server build and verifying frontend assets
  scripts/post-build.sh
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Add deployment script to automate application build and verification
  deploy.sh
Owners: @koveogestion/tech-leads

Disable demo organization creation on server startup
  attached_assets/Pasted-2025-08-26-19-42-03-63-ae9942c1-User-internalPosition-undefined-2025-08-26-19-42-03-63-ae9942-1756251752976_1756251752977.txt
  server/routes-minimal.ts
Owners: @koveogestion/tech-leads

Disable demo organization features due to user request and authentication issues
  attached_assets/Pasted-2025-08-26-19-48-40-29-e050e604-User-internalPosition-undefined-2025-08-26-19-48-40-29-e050e6-1756252168179_1756252168180.txt
  server/services/demo-management-service.ts
Owners: @koveogestion/tech-leads

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team
