Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

Remove bulk invitation functionality from the platform
  client/src/components/admin/send-invitation-dialog.tsx
Owners: @koveogestion/tech-leads

Allow invitations to be sent without a specific residence ID
  attached_assets/Pasted-queryClient-ts-39-POST-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit--1756347222744_1756347222744.txt
  attached_assets/image_1756347219251.png
  shared/schemas/core.ts
Owners: @koveogestion/tech-leads

Ensure residents and tenants are assigned a residence
  client/src/components/admin/send-invitation-dialog.tsx
  server/routes-minimal.ts
Owners: @koveogestion/tech-leads

Redirect users to login page after account creation completion
  client/src/pages/auth/invitation-acceptance.tsx
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1756347872012.png
Owners: @koveogestion/tech-leads

Add translation tests for the organizations page in admin
  attached_assets/image_1756347890237.png
  attached_assets/image_1756347924216.png
Owners: @koveogestion/tech-leads

Add French translation tests for the dashboard quick actions page
  attached_assets/image_1756347948560.png
  attached_assets/image_1756347988404.png
  attached_assets/image_1756348019182.png
  attached_assets/image_1756348036221.png
  attached_assets/image_1756348053378.png
  tests/website/website-translation.test.tsx
Owners: @koveogestion/tech-leads

Add French translation tests for the residents residence page
  tests/website/website-translation.test.tsx
Owners: @koveogestion/tech-leads

Add French translation tests for the residents building page
  attached_assets/image_1756348302447.png
  attached_assets/image_1756348326196.png
  attached_assets/image_1756348346258.png
  attached_assets/image_1756348361714.png
  tests/website/website-translation.test.tsx
Owners: @koveogestion/tech-leads

Add French translations and tests for resident demands page
  attached_assets/image_1756348396278.png
  attached_assets/image_1756348412797.png
  attached_assets/image_1756348429718.png
  attached_assets/image_1756348444116.png
  attached_assets/image_1756348455473.png
  attached_assets/image_1756348470929.png
  attached_assets/image_1756348480347.png
  attached_assets/image_1756348496931.png
  attached_assets/image_1756348513914.png
  attached_assets/image_1756348517567.png
  attached_assets/image_1756348534346.png
  tests/website/website-translation.test.tsx
Owners: @koveogestion/tech-leads

Add translation tests for the manager buildings page
  tests/website/website-translation.test.tsx
Owners: @koveogestion/tech-leads

Add French translation tests for the manager residences page
  tests/website/website-translation.test.tsx
Owners: @koveogestion/tech-leads

Add translation tests for the manager bills page
  tests/website/website-translation.test.tsx
Owners: @koveogestion/tech-leads

Add French translation tests for the manager demands page
  tests/website/website-translation.test.tsx
Owners: @koveogestion/tech-leads

Add French translations for the manager user management page
  tests/website/website-translation.test.tsx
Owners: @koveogestion/tech-leads

Add translation tests for the settings page to ensure accurate French localization
  tests/website/website-translation.test.tsx
Owners: @koveogestion/tech-leads

Add translation tests for the bug reports page
  tests/website/website-translation.test.tsx
Owners: @koveogestion/tech-leads

Add translation tests for the idea box page to ensure proper French localization
  tests/website/website-translation.test.tsx
Owners: @koveogestion/tech-leads

Add French translation tests for the admin organizations page
  tests/website/website-translation.test.tsx
Owners: @koveogestion/tech-leads

Add French translation tests for the admin documentation page
  tests/website/website-translation.test.tsx
Owners: @koveogestion/tech-leads

Add translation tests for the admin pillars page in French
  tests/website/website-translation.test.tsx
Owners: @koveogestion/tech-leads

Add French translation tests for the admin roadmap page
  tests/website/website-translation.test.tsx
Owners: @koveogestion/tech-leads

Add translation tests for the admin quality assurance page
  tests/website/website-translation.test.tsx
Owners: @koveogestion/tech-leads

Add translation tests for the admin compliance page
  tests/website/website-translation.test.tsx
Owners: @koveogestion/tech-leads

Add translation tests for the admin permissions page
  tests/website/website-translation.test.tsx
Owners: @koveogestion/tech-leads

Add tests to verify all button translations are accurate
  tests/website/website-translation.test.tsx
Owners: @koveogestion/tech-leads

Add translation tests for registration pages with language switching functionality
  tests/website/website-translation.test.tsx
Owners: @koveogestion/tech-leads

Run all website translation tests
  tests/website/website-translation.test.tsx
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  tests/website/website-translation.test.tsx
Owners: @koveogestion/tech-leads

Verify bilingual support and French terminology across the website
  tests/i18n/website/README.md
  tests/i18n/website/accessibility.test.tsx
  tests/i18n/website/dashboard-translations.test.tsx
  tests/i18n/website/form-elements.test.tsx
  tests/i18n/website/index.test.tsx
  tests/i18n/website/language-coverage.test.tsx
  tests/i18n/website/language-switcher.test.tsx
  tests/i18n/website/page-content.test.tsx
  tests/i18n/website/quebec-compliance.test.tsx
  tests/i18n/website/test-providers.tsx
  tests/i18n/website/user-management.test.tsx
  tests/website/website-translation.test.tsx
Owners: @koveogestion/tech-leads

Remove unused testing library import from multiple test files
  tests/i18n/website/accessibility.test.tsx
  tests/i18n/website/dashboard-translations.test.tsx
  tests/i18n/website/form-elements.test.tsx
  tests/i18n/website/language-coverage.test.tsx
  tests/i18n/website/language-switcher.test.tsx
  tests/i18n/website/page-content.test.tsx
  tests/i18n/website/quebec-compliance.test.tsx
  tests/i18n/website/user-management.test.tsx
Owners: @koveogestion/tech-leads

Improve testing by mocking localStorage and updating dependencies
  attached_assets/image_1756381262797.png
  jest.config.js
  tests/i18n/website/accessibility.test.tsx
  tests/i18n/website/dashboard-translations.test.tsx
  tests/i18n/website/form-elements.test.tsx
  tests/i18n/website/language-coverage.test.tsx
  tests/i18n/website/language-switcher.test.tsx
  tests/i18n/website/page-content.test.tsx
  tests/i18n/website/quebec-compliance.test.tsx
  tests/i18n/website/test-providers.tsx
  tests/i18n/website/user-management.test.tsx
  tests/setup.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Improve language switching functionality and user interface text
  client/src/components/ui/hamburger-menu.tsx
  client/src/hooks/use-language.tsx
Owners: @koveogestion/tech-leads

Improve translation accuracy and fix validation errors
  tests/api/comprehensive-translation.test.ts
  tests/integration/i18n/form-validation-i18n.test.tsx
Owners: @koveogestion/tech-leads

Integrate internationalization for improved multilingual support in navigation
  client/src/components/layout/sidebar.tsx
  client/src/config/navigation.ts
  client/src/lib/i18n.ts
Owners: @koveogestion/tech-leads

Add internationalization support for multiple application components and labels
  client/src/components/common/BillForm.tsx
  client/src/components/common/DemandFilters.tsx
  client/src/lib/i18n.ts
  client/src/pages/ManagerDemandsPage.tsx
Owners: @koveogestion/tech-leads

Improve translation consistency across the application interface
  client/src/components/BillCreateForm.tsx
  client/src/lib/i18n.ts
  client/src/pages/ManagerDemandsPage.tsx
  client/src/pages/ResidentDemandsPage.tsx
  tests/translation-detector.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/i18n-team

Translate system interface elements to French for better usability
  attached_assets/image_1756383823323.png
  attached_assets/image_1756383832106.png
  client/src/lib/i18n.ts
  client/src/pages/dashboard.tsx
  client/src/pages/residents/residence.tsx
Owners: @koveogestion/tech-leads

Improve page functionality by adding language support
  attached_assets/image_1756385351615.png
  client/src/pages/residents/residence.tsx
Owners: @koveogestion/tech-leads

Add translations for residence page and related elements
  client/src/lib/i18n.ts
  client/src/pages/residents/residence.tsx
Owners: @koveogestion/tech-leads

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team
