Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

Refine user invitation permissions based on roles and organization
  client/src/components/admin/send-invitation-dialog.tsx
  server/auth/invitation-rbac.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Improve code quality and fix various issues across the application
  attached_assets/image_1755737782984.png
  client/src/components/demands/demand-details-popup.tsx
  client/src/components/forms/feature-form-refactored.tsx
  client/src/components/forms/feature-form/use-feature-form-data.tsx
  client/src/pages/ManagerDemandsPage.tsx
  client/src/pages/ResidentDemandsPage.tsx
  client/src/pages/manager/demands.tsx
  client/src/pages/residents/BuildingDocuments.tsx
  client/src/pages/residents/ResidenceDocuments.tsx
  client/src/pages/residents/building.tsx
  client/src/pages/residents/residence.tsx
  server/api/contacts.ts
  server/api/demands.ts
  server/auth/invitation-rbac.ts
  shared/schema.ts
  shared/schemas/core.ts
  tests/code-analysis/component-extraction.test.ts
  tests/code-analysis/redundancy-detection.test.ts
  tests/code-analysis/style-consolidation.test.ts
  tests/e2e/demands/demands-user-flow.test.tsx
  tests/e2e/i18n/content-display-i18n.test.tsx
  tests/integration/api/api-security.test.ts
  tests/integration/demands/demands-workflow.test.ts
  tests/integration/i18n/form-validation-i18n.test.tsx
  tests/performance/database-queries.test.ts
  tests/security/sql-injection.test.ts
  tests/ui/card-text-formatting.test.tsx
  tests/ui/responsive-card-layout.test.tsx
  tests/ui/visual-regression.test.tsx
  tests/unit/auth/rbac.test.ts
  tests/unit/demands/demands-api.test.ts
  tests/unit/demands/demands-schema.test.ts
  tests/unit/i18n/language-validation.test.ts
  tests/unit/i18n/quebec-compliance.test.ts
  tools/replit-monitor.js
  tools/smart-context-manager.ts
  types/global.d.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/i18n-team, @koveogestion/quebec-compliance, @koveogestion/legal-team

Streamline header and sidebar by removing redundant language options
  client/src/components/layout/header.tsx
  client/src/components/layout/sidebar.tsx
Owners: @koveogestion/tech-leads

Restore the sidebar functionality by fixing layout and rendering issues
  client/src/components/layout/sidebar.tsx
Owners: @koveogestion/tech-leads

Improve application by adding image type declarations and refining user data handling
  client/src/index.css
  client/src/pages/ResidentDemandsPage.tsx
  client/src/vite-env.d.ts
Owners: @koveogestion/tech-leads

Enhance bill management with new categories and filtering capabilities
  client/src/pages/manager/bills.tsx
  package-lock.json
  package.json
  server/api/bills.ts
  server/routes-minimal.ts
  shared/schemas/financial.ts
Owners: @koveogestion/tech-leads

Add comprehensive tests for all aspects of the bills management system
  tests/bills-test-summary.md
  tests/e2e/bills-user-flow.test.tsx
  tests/integration/bills-workflow.test.ts
  tests/unit/bills-api.test.ts
  tests/unit/bills-components.test.tsx
  tests/unit/bills-validation.test.ts
Owners: @koveogestion/tech-leads

Implement role-based access control for bills and buildings pages
  server/api/bills.ts
  server/api/buildings.ts
Owners: @koveogestion/tech-leads

Add diverse mock bills for demo organization with varying complexity
  server/api/bills.ts
Owners: @koveogestion/tech-leads

Update documentation report date to reflect current changes
  docs/IMPROVEMENT_REPORT.md
Owners: @koveogestion/tech-leads

Update testing framework to support new React version
  jest.config.js
  package-lock.json
  package.json
  tests/polyfills.js
  tests/setup.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Update routing and mocks for improved test stability
  server/routes.ts
  tests/e2e/bills-user-flow.test.tsx
  tests/integration/page-language-validation.test.tsx
  tests/setup.ts
  tests/unit/bills-components.test.tsx
Owners: @koveogestion/api-team, @koveogestion/tech-leads

Update testing infrastructure and fix database schema issues
  TEST_STATUS_SUMMARY.md
  shared/schemas/core.ts
  tests/e2e/bills-user-flow.test.tsx
  tests/setup.ts
  tests/test-utils.tsx
  tests/unit/bills-components.test.tsx
Owners: @koveogestion/tech-leads

Refine dropdown options for improved clarity and user experience
  client/src/pages/ManagerDemandsPage.tsx
  client/src/pages/manager/bills.tsx
  tests/setup.ts
Owners: @koveogestion/tech-leads

Update how bills are retrieved to include specific building details
  client/src/pages/manager/bills.tsx
Owners: @koveogestion/tech-leads

Fetch bills from the database to display them accurately
  server/api/bills.ts
Owners: @koveogestion/tech-leads

Fix bill filtering to display all available bills correctly
  server/api/bills.ts
Owners: @koveogestion/tech-leads

Validate payment plans and ensure money flow aligns with bills
  tests/integration/payment-flow-integration.test.ts
  tests/unit/financial-consistency.test.ts
  tests/unit/payment-plan-validation.test.ts
Owners: @koveogestion/tech-leads

Ensure all demo organization data migrates to production
  scripts/deploy-with-demo-data.sh
  scripts/production-migration.sql
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Update validation and data handling for building and demand information
  client/src/components/buildings/types.ts
  server/api/bills.ts
  server/api/demands.ts
  tests/unit/bills-validation.test.ts
  tests/unit/buildings-validation.test.ts
  tests/unit/demands/demands-schema.test.ts
Owners: @koveogestion/tech-leads

Update tests to include new language and mobile menu providers
  tests/unit/buildings-page.test.tsx
Owners: @koveogestion/tech-leads

Improve code quality and add documentation to the application
  client/src/pages/manager/bills.tsx
  server/api/bills.ts
  server/api/buildings.ts
  shared/schemas/financial.ts
  tests/polyfills.js
  tests/test-utils.tsx
  tests/unit/demands/demands-api.test.ts
  types/global.d.ts
Owners: @koveogestion/tech-leads

Improve demand management and reporting features
  .ai-agent/metrics-history.json
  client/src/components/demands/demand-details-popup.tsx
  client/src/components/forms/organization-form.tsx
  client/src/components/roadmap/actionable-items-panel.tsx
  server/api/bills.ts
  server/api/demands.ts
  tests/unit/bills-api.test.ts
  tests/unit/demands/demands-api.test.ts
  types/global.d.ts
Owners: @koveogestion/tech-leads

Update component dependencies and project dependencies
  client/src/components/auth/steps/password-creation-step.tsx
  client/src/components/auth/steps/profile-completion-step.tsx
  client/src/components/auth/steps/quebec-privacy-consent-step.tsx
  client/src/components/auth/steps/token-validation-step.tsx
  client/src/components/demands/demand-details-popup.tsx
  client/src/components/roadmap/feature-card.tsx
  package-lock.json
  package.json
  server/api/bills.ts
  tests/unit/buildings-page.test.tsx
Owners: @koveogestion/tech-leads

Improve descriptions for popup and form components
  client/src/components/demands/demand-details-popup.tsx
  client/src/components/filter-sort/FilterSort.tsx
  client/src/components/forms/feature-form/use-feature-form-data.tsx
Owners: @koveogestion/tech-leads

Improve UI component analysis to find and report redundancies
  tests/code-analysis/style-consolidation.test.ts
  tests/code-analysis/ui-component-redundancy.test.ts
Owners: @koveogestion/tech-leads

Add detailed reporting for code redundancy and refactoring opportunities
  scripts/run-quality-check.ts
  scripts/run-redundancy-analysis.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Enhance user management and invitation features with reusable components
  client/src/components/admin/send-invitation-dialog-v2.tsx
  client/src/components/admin/user-list.tsx
  client/src/components/ui/base-dialog.tsx
  client/src/components/ui/data-table.tsx
  client/src/components/ui/standard-form.tsx
  client/src/hooks/use-api-handler.tsx
  package.json
Owners: @koveogestion/tech-leads

Update invitation dialog and organization ID handling
  client/src/components/admin/send-invitation-dialog-v2.tsx
Owners: @koveogestion/tech-leads

Enhance property management platform with new feature and demand management
  client/src/components/demands/demand-details-popup-v2.tsx
  client/src/components/forms/feature-form-v2.tsx
Owners: @koveogestion/tech-leads

Add a new invitation management interface with enhanced functionality
  client/src/components/admin/invitation-management-v2.tsx
Owners: @koveogestion/tech-leads

Enhance organization management with detailed contact and status information
  client/src/components/admin/organizations-card-v2.tsx
Owners: @koveogestion/tech-leads

Enhance residence editing by integrating a reusable form component
  client/src/components/forms/residence-edit-form-v2.tsx
Owners: @koveogestion/tech-leads

Refactor core components for better maintainability and efficiency
  client/src/components/admin/bulk-actions-bar-v2.tsx
  client/src/components/dashboard/replit-ai-monitoring-v2.tsx
  client/src/components/filter-sort/FilterSort-v2.tsx
  client/src/components/ssl/SslCertificateInfo-v2.tsx
Owners: @koveogestion/tech-leads

Refactor UI components for improved code quality and maintainability
  client/src/components/admin/bulk-actions-bar-v2.tsx
  client/src/components/admin/invitation-management-v2.tsx
  client/src/components/admin/organizations-card-v2.tsx
  client/src/components/admin/send-invitation-dialog-v2.tsx
  client/src/components/admin/user-list.tsx
  client/src/components/dashboard/replit-ai-monitoring-v2.tsx
  client/src/components/demands/demand-details-popup-v2.tsx
  client/src/components/filter-sort/FilterSort-v2.tsx
  client/src/components/forms/feature-form-v2.tsx
  client/src/components/forms/residence-edit-form-v2.tsx
  client/src/components/ssl/SslCertificateInfo-v2.tsx
  client/src/components/ui/badge.tsx
  client/src/components/ui/base-dialog.tsx
  client/src/components/ui/button.tsx
  client/src/components/ui/data-table.tsx
  client/src/components/ui/standard-form.tsx
  client/src/hooks/use-api-handler.tsx
  scripts/run-quality-check.ts
  scripts/run-redundancy-analysis.ts
  tests/code-analysis/ui-component-redundancy.test.ts
  tests/unit/bills-components.test.tsx
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Improve quality check script with better error handling and documentation
  scripts/run-quality-check.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Update development feature schemas and translation validation logic
  shared/schemas/development.ts
  tests/unit/schema.test.ts
  tests/unit/translation-validation.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/i18n-team

Improve test configuration and validation flexibility
  jest.config.js
  tests/setup.ts
  tests/unit/translation-validation.test.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads, @koveogestion/i18n-team

Improve test stability and execution reliability
  jest.config.js
  tests/setup.ts
  tests/unit/i18n/quebec-compliance.test.ts
  tests/unit/translation-validation.test.ts
  tests/utils/test-utils.tsx
Owners: @koveogestion/quality-team, @koveogestion/tech-leads, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team

Update file paths and tests for improved language and project structure
  config/index.ts
  tests/e2e/buildings-workflow.test.tsx
  tests/e2e/demands/demands-user-flow.test.tsx
  tests/e2e/i18n/content-display-i18n.test.tsx
  tests/integration/i18n/form-validation-i18n.test.tsx
  tests/ui/card-text-formatting.test.tsx
  tests/ui/responsive-card-layout.test.tsx
  tests/ui/visual-regression.test.tsx
  tests/unit/buildings-validation.test.ts
Owners: @koveogestion/tech-leads

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team
