Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team

Update property details to include new translations and improve display
  client/src/lib/i18n.ts
  client/src/pages/manager/residences.tsx
Owners: @koveogestion/tech-leads

Improve translation coverage for budget and bills pages
  client/src/lib/i18n.ts
  client/src/pages/manager/budget.tsx
Owners: @koveogestion/tech-leads

Improve translation coverage for bills and budget pages
  client/src/pages/manager/bills.tsx
Owners: @koveogestion/tech-leads

Add comprehensive translations for the demands management section
  client/src/lib/i18n.ts
  client/src/pages/manager/demands.tsx
Owners: @koveogestion/tech-leads

Enhance the property management platform with expanded multilingual support for user demands
  client/src/pages/manager/demands.tsx
Owners: @koveogestion/tech-leads

Expand translation coverage for user management interface
  client/src/lib/i18n.ts
Owners: @koveogestion/tech-leads

Improve user management translations and error handling
  client/src/lib/i18n.ts
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Add translations for settings, bug reports, and idea box pages
  client/src/lib/i18n.ts
Owners: @koveogestion/tech-leads

Update settings page to use internationalized text labels
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1757250463320_1757250463320.txt
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1757250584026_1757250584027.txt
  attached_assets/image_1757250457973.png
  attached_assets/image_1757250580793.png
  attached_assets/image_1757250641951.png
  attached_assets/image_1757250901623.png
  attached_assets/image_1757251103336.png
  client/src/pages/settings/settings.tsx
  uploads/residences/876d0f76-47e9-4ea9-a0cd-5e0de9956010/e4982f54-446c-470e-b983-a27e894d2a42-ImagefactureNonTaxable_texte (2).jpg
Owners: @koveogestion/tech-leads

Expand translation tests to cover all admin page content
  tests/unit/admin-pages-translation.test.ts
Owners: @koveogestion/tech-leads

Add translations for all admin pages and related actions
  client/src/lib/i18n.ts
Owners: @koveogestion/tech-leads

Enhance platform with new translations and improved test coverage
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/07/adminpagestranslationtest_0731544eecb116ae80cf98a0ce7efba8
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/07/adminpagestranslationtest_0731544eecb116ae80cf98a0ce7efba8.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/78/i18n_78d2dd7dfa24e1161f2eb9b9a7fcd06b
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/78/i18n_78d2dd7dfa24e1161f2eb9b9a7fcd06b.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d3/i18n_d35ac62f5dcad53a7c1c9dddc1e714a0
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d3/i18n_d35ac62f5dcad53a7c1c9dddc1e714a0.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  client/src/lib/i18n.ts
Owners: @koveogestion/tech-leads

Improve user interface by fixing navigation and layout errors
  attached_assets/image_1757251572447.png
  attached_assets/image_1757251639980.png
Owners: @koveogestion/tech-leads

Add translation support to building management pages
  client/src/pages/manager/buildings.tsx
Owners: @koveogestion/tech-leads

Improve translation handling and detect potential errors across components
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/7c/DemandFilters_7c3b6663f4d42e1b91609230e07b1729
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/7c/DemandFilters_7c3b6663f4d42e1b91609230e07b1729.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/83/ResidentDemandsPage_833eb8600798982ea52782125501bab0
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/83/ResidentDemandsPage_833eb8600798982ea52782125501bab0.map
  tests/unit/translation-error-detection.test.ts
  tests/unit/undefined-variable-detection.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/i18n-team

Update language context hook import path
  client/src/pages/settings/settings.tsx
Owners: @koveogestion/tech-leads

Improve document management with view and download options
  client/src/components/document-management/DocumentEditForm.tsx
Owners: @koveogestion/tech-leads

Add many new translations for improved application localization
  client/src/lib/i18n.ts
  client/src/lib/i18n.ts.corrupted
  scripts/create-clean-i18n.js
  scripts/fix-i18n-duplicates.js
  scripts/fix-i18n-structure.js
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Update property listing details with new photos
  attached_assets/image_1757252901493.png
Owners: @koveogestion/tech-leads

Add script to synchronize production database schema
  drizzle.config.prod.ts
  drizzle.config.ts.backup
  scripts/sync-production-db.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Automate production database schema synchronization and updates
  drizzle.config.prod.ts
  scripts/sync-production-db.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Add tests to ensure user sessions persist across multiple requests
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/4c/sessionpersistencetest_4cf0c4b093fb8014bd6a94ac1584ffd2
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/4c/sessionpersistencetest_4cf0c4b093fb8014bd6a94ac1584ffd2.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  tests/critical/session-persistence.test.ts
Owners: @koveogestion/tech-leads

Fix session persistence issues affecting user logins
  tests/critical/session-persistence.test.ts
Owners: @koveogestion/tech-leads

Add script to investigate production user account creation errors
  scripts/investigate-production-user.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Add script to investigate user creation errors
  scripts/investigate-production-user.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Configure production database connection for automated migrations
  drizzle.config.prod.ts
Owners: @koveogestion/tech-leads

Add a new image asset to the project
  attached_assets/image_1757254057569.png
Owners: @koveogestion/tech-leads

Update property platform to address production database issues
  attached_assets/image_1757254143295.png
Owners: @koveogestion/tech-leads

Update invoice file size column to integer type
  attached_assets/image_1757254341809.png
  fix-file-size.sql
Owners: @koveogestion/tech-leads

Add visual asset for platform demonstration
  attached_assets/image_1757254542098.png
Owners: @koveogestion/tech-leads

Add initial project assets for development
  attached_assets/image_1757254577890.png
  attached_assets/image_1757254613485.png
Owners: @koveogestion/tech-leads

Update database with new column information for various tables
  attached_assets/curly-butterfly-19363204_production_neondb_2025-09-07_10-17-01_1757254647575.csv
Owners: @koveogestion/tech-leads

Update database configuration for production deployment
  drizzle.config.prod.ts
Owners: @koveogestion/tech-leads

Add detailed logging for user invitation acceptance process
  server/routes-minimal.ts
Owners: @koveogestion/tech-leads

Fix user creation error due to duplicate username
  attached_assets/Pasted-2025-09-07-10-35-31-69-01565d9d-User-Error-creating-user-DrizzleQueryError-Failed-query-inse-1757255838772_1757255838772.txt
Owners: @koveogestion/tech-leads

Improve username generation to prevent collisions with random suffixes
  server/routes-minimal.ts
Owners: @koveogestion/tech-leads

Ensure unique usernames by adding random numbers to existing ones
  attached_assets/Pasted-2025-09-07-10-51-26-71-6dd81f9c-User-true-2025-09-07-10-51-26-71-6dd81f9c-User-2025-09-07-1757256710471_1757256710472.txt
  server/optimized-db-storage.ts
Owners: @koveogestion/tech-leads

Remove extensive debug logging from production builds
  server/optimized-db-storage.ts
  server/routes-minimal.ts
Owners: @koveogestion/tech-leads

Improve system stability by resolving critical rendering errors
  attached_assets/Pasted-index-js-1-content-loaded-index-DHcY4j0d-js-360-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-0-1757257313140_1757257313141.txt
  attached_assets/image_1757257342713.png
Owners: @koveogestion/tech-leads

Add comprehensive tests to verify all application pages function correctly
  client/src/pages/privacy-policy.tsx
  tests/pages/all-pages-integrity.test.tsx
Owners: @koveogestion/tech-leads
