Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

Task #1349: Stabilise flaky bulk-import test (excluded-visibility)
  client/src/pages/admin/bulk-document-import.tsx
  tests/unit/components/bulk-document-import-excluded-visibility.test.tsx
Owners: @koveogestion/tech-leads

Task #1377: Skip files already in Koveo on bulk import upload
  client/src/pages/admin/bulk-document-import.tsx
  server/api/bulk-import.ts
  tests/integration/bulk-import-lite-fiscal-year-period-hint.test.ts
  tests/integration/bulk-import-rest-endpoints.test.ts
  tests/integration/bulk-import-screening-rotation-badge.test.ts
  tests/unit/api/bulk-import-upload-mixed-payload.test.ts
Owners: @koveogestion/tech-leads

Task #1358 — Show AI confidence band in residence reassign + picker hints
  client/src/pages/admin/bulk-document-import.tsx
  tests/unit/components/bulk-document-import-ai-residence-hint-confidence.test.tsx
Owners: @koveogestion/tech-leads

Task #1373: Use folder path as soft AI hint in bulk document import
  client/src/pages/admin/bulk-document-import.tsx
  server/api/bulk-import.ts
  server/services/bulk-import-analyzer.ts
  tests/integration/bulk-import-rest-endpoints.test.ts
  tests/unit/api/bulk-import-derive-folder-hint.test.ts
  tests/unit/services/bulk-import-analyzer.test.ts
Owners: @koveogestion/tech-leads

Task #1367: Add search box to residence/unit picker in AdminManagerHierarchyFlow
  client/src/components/hoc/withHierarchicalSelection.tsx
Owners: @koveogestion/tech-leads

Task #1372: Fix "Break chain" bidirectional inconsistency in bulk document import
  client/src/pages/admin/bulk-document-import.tsx
  client/src/pages/admin/bulk-import-linking-groups.ts
  tests/unit/components/bulk-document-import-linking-overrides-clear.test.tsx
  tests/unit/components/bulk-document-import-linking-stale-banner.test.tsx
  tests/unit/components/bulk-import-linking-drop.test.ts
Owners: @koveogestion/tech-leads

Update system by applying various post-merge setup scripts and migrations
  attached_assets/image_1777293420674.png
Owners: @koveogestion/tech-leads

Remove duplicate Bulk Document Import nav entry from Super Admin sidebar
  client/src/config/navigation.ts
Owners: @koveogestion/tech-leads

Task #1376: Add server-side idempotency guard for bulk-import linking decisions
  server/api/bulk-import.ts
  tests/unit/api/bulk-import-set-linking-decision.test.ts
Owners: @koveogestion/tech-leads

feat(#1381): Fix family authorization gap on all family-scoped document endpoints
  TYPE_CHECK_DEBT.md
  client/src/components/common/DocumentInlineViewer.tsx
  client/src/components/documents/DocumentLinkPickerDialog.tsx
  client/src/components/documents/DocumentSequencePanel.tsx
  client/src/lib/i18n.ts
  client/src/pages/manager/document-tags.tsx
  migrations/0026_document_link_families.sql
  migrations/0027_document_link_families_system_name_uniq.sql
  server/api/document-link-families-seed.ts
  server/api/document-link-families.ts
  server/api/documents.ts
  server/db.ts
  server/routes.ts
  server/services/document-link-service.ts
  shared/schemas/documents.ts
  tests/unit/document-link-service.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins, @koveogestion/api-team

Strengthen render-level tests for linkingOverrides clearing (Task #1375)
  tests/unit/components/bulk-document-import-linking-overrides-clear.test.tsx
Owners: @koveogestion/tech-leads

Move Document Tags page from Manager section to Admin section (task #1392)
  client/src/App.tsx
  client/src/config/navigation.ts
  client/src/pages/admin/document-tags.tsx
  replit.md
Owners: @koveogestion/tech-leads

test(viewer): add unit tests for multi-family viewer keyboard navigation
  tests/unit/components/document-inline-viewer.test.tsx
Owners: @koveogestion/tech-leads

Add boundary tests for DocumentInlineViewer keyboard navigation
  tests/unit/components/document-inline-viewer.test.tsx
Owners: @koveogestion/tech-leads

Task #1395: Render-level test for setLinkingDecision.onError clearing linkingOverrides
  tests/unit/components/bulk-document-import-linking-overrides-clear.test.tsx
Owners: @koveogestion/tech-leads

Remove leftover manager-role checks inside the Document Tags page
  client/src/pages/admin/document-tags.tsx
Owners: @koveogestion/tech-leads

Add a secure way to manage document import sessions
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-bu_1777296218306.txt
  attached_assets/image_1777296233890.png
  attached_assets/image_1777296281684.png
Owners: @koveogestion/tech-leads

Allow super administrators to access all features
  server/auth.ts
Owners: @koveogestion/security-team

test(access-control): guard /admin/document-tags against manager access (task #1393)
  tests/unit/access-control/admin-document-tags-access.test.tsx
Owners: @koveogestion/tech-leads

Add tests for the in-viewer document chain navigation bar (task #1396)
  tests/unit/components/document-inline-viewer.test.tsx
Owners: @koveogestion/tech-leads

Task #1400: Toggle between Tags and Link Families on Document Tags page
  client/src/lib/i18n.ts
  client/src/pages/admin/document-tags.tsx
Owners: @koveogestion/tech-leads

Add unit test for the Tags / Link Families view toggle (task #1404)
  tests/unit/admin-document-tags-toggle.test.tsx
Owners: @koveogestion/tech-leads

Remember admin Document Tags view selection across sessions
  client/src/pages/admin/document-tags.tsx
Owners: @koveogestion/tech-leads

Task #1401: AI-suggested filenames in the Sorting (Branching) step
  client/src/pages/admin/bulk-document-import.tsx
  server/api/bulk-import.ts
  server/services/bulk-import-analyzer.ts
  tests/unit/components/bulk-document-import-sorting-decision.test.tsx
  tests/unit/services/bulk-import-branching-suggested-filename.test.ts
Owners: @koveogestion/tech-leads

Fix access issues preventing users from viewing the bulk import page
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-do_1777301081706.txt
  attached_assets/image_1777301065535.png
Owners: @koveogestion/tech-leads

Task #1386 rev 3: Fix all code-review-rejected gaps in bulk-import existing-family linking
  client/src/pages/admin/bulk-document-import.tsx
  server/api/bulk-import.ts
  server/services/bulk-import-analyzer.ts
  tests/unit/api/bulk-import-set-existing-link-decision.test.ts
  tests/unit/components/bulk-document-import-linking-chain-preview.test.tsx
  tests/unit/components/bulk-document-import-linking-group-card.test.tsx
  tests/unit/components/bulk-document-import-linking-keyboard-dnd.test.tsx
  tests/unit/components/bulk-document-import-linking-overrides-clear.test.tsx
Owners: @koveogestion/tech-leads

Allow punctuation in link family description (Task #1407)
  server/middleware/input-sanitization.ts
  tests/unit/security/input-sanitization-free-text.test.ts
Owners: @koveogestion/tech-leads

Task #1406: Audit AI-suggested filenames in bulk-document-import sorting step
  client/src/App.tsx
  client/src/config/navigation.ts
  client/src/lib/i18n.ts
  client/src/pages/admin/bulk-document-import.tsx
  client/src/pages/admin/kpi-dashboard.tsx
  migrations/0028_kpi_events.sql
  replit.md
  server/api/bulk-import.ts
  server/api/kpi.ts
  server/route-manifest.json
  server/routes.ts
  server/services/kpi.ts
  shared/schema.ts
  shared/schemas/kpi.ts
  tests/unit/api/bulk-import-set-sorting-decision.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins, @koveogestion/api-team

Git commit prior to merge
  attached_assets/image_1777303047562.png
Owners: @koveogestion/tech-leads

Task #1405 — "Next AI suggestion" navigation on Sorting step
  client/src/pages/admin/bulk-document-import.tsx
  tests/unit/components/bulk-document-import-sorting-decision.test.tsx
Owners: @koveogestion/tech-leads

Task #1412: Filter the KPI dashboard by date range and organization
  client/src/App.tsx
  client/src/config/navigation.ts
  client/src/lib/i18n.ts
  client/src/pages/admin/kpi-dashboard.tsx
  server/api/kpi.ts
  server/services/kpi.ts
Owners: @koveogestion/tech-leads

Update image used for AI-suggested filenames in branching
  attached_assets/image_1777303917559.png
Owners: @koveogestion/tech-leads

Git commit prior to merge
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-re_1777304109075.txt
  attached_assets/image_1777304102088.png
Owners: @koveogestion/tech-leads

Task #1413 — automated tests for filename-suggestion KPI telemetry
  tests/unit/api/bulk-import-set-sorting-decision-kpi.test.ts
  tests/unit/services/kpi.test.ts
Owners: @koveogestion/tech-leads

Git commit prior to merge
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-bu_1777304643131.txt
  attached_assets/image_1777304550789.png
  attached_assets/image_1777304632591.png
Owners: @koveogestion/tech-leads

Task #1410: Alt+K "Accept this AI suggestion" shortcut on Sorting step
  client/src/pages/admin/bulk-document-import.tsx
  tests/unit/components/bulk-document-import-sorting-decision.test.tsx
Owners: @koveogestion/tech-leads

Task #1411: Extend AI accuracy KPI tracking to 4 more bulk-import steps (merged with Task #1412)
  client/src/lib/i18n.ts
  client/src/pages/admin/bulk-document-import.tsx
  client/src/pages/admin/kpi-dashboard.tsx
  server/api/bulk-import.ts
  server/api/kpi.ts
  server/services/kpi.ts
  shared/schemas/kpi.ts
  tests/unit/services/kpi-classifiers.test.ts
Owners: @koveogestion/tech-leads

Fix Break chain bidirectional error from stale effective state (Task #1422)
  client/src/pages/admin/bulk-import-linking-groups.ts
  tests/unit/components/bulk-import-linking-drop.test.ts
Owners: @koveogestion/tech-leads

Task #1421: Preserve existing-platform document links on Linking reset
  client/src/pages/admin/bulk-document-import.tsx
  server/api/bulk-import.ts
  tests/unit/api/bulk-import-reset-step.test.ts
  tests/unit/components/bulk-document-import-reset-step-dialog.test.tsx
  tests/unit/components/bulk-document-import-reset-step.test.tsx
Owners: @koveogestion/tech-leads

Task #1428 (rev 2): Fix code review rejections for MCP system-entity guards
  server/mcp/document-tag-mcp-tools.ts
  server/mcp/server.ts
  server/mcp/system-entity-guards.ts
  tests/unit/mcp/document-tags-system-guard.test.ts
Owners: @koveogestion/tech-leads

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team
