Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team

feat(bulk-import): show "Already in Koveo" with name and location on duplicate rows (#1002)
  client/src/pages/admin/bulk-document-import.tsx
  migrations/0017_client_document_fingerprints_source_fields.sql
  server/api/bulk-import.ts
  shared/schemas/bulk-import.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Task #969: Pin MCP-manager seed contract with end-to-end integration test
  server/tests/mcp-manager-seed-integration.test.ts
Owners: @koveogestion/tech-leads

Git commit prior to merge
  attached_assets/image_1777153778152.png
Owners: @koveogestion/tech-leads

Task #1003: Use AI-detected periodHint as document effective date during bulk import
  client/src/pages/admin/bulk-document-import.tsx
  server/api/bulk-import.ts
  server/services/bulk-import-analyzer.ts
  server/services/period-hint-parser.ts
  tests/integration/bulk-import-rest-endpoints.test.ts
  tests/unit/services/period-hint-parser.test.ts
Owners: @koveogestion/tech-leads

Task #1031: Pre-fill effective date field in bulk-import wizard from screening hint
  client/src/pages/admin/bulk-document-import.tsx
  server/api/bulk-import.ts
  tests/unit/api/bulk-import-set-effective-date.test.ts
Owners: @koveogestion/tech-leads

Task #1030: Use the building's fiscal year start when interpreting fiscal-year period hints
  server/api/bulk-import.ts
  server/services/period-hint-parser.ts
  tests/unit/services/period-hint-parser.test.ts
Owners: @koveogestion/tech-leads

task #1035: move period editor from sorting row inline chip to expanded card details panel
  client/src/components/common/DatePickerField.tsx
  client/src/pages/admin/bulk-document-import.tsx
Owners: @koveogestion/tech-leads

Task #1040: Cache fiscal-year-start lookup across bulk-import session
  server/api/bulk-import.ts
  tests/unit/api/bulk-import-fiscal-year-cache.test.ts
Owners: @koveogestion/tech-leads

Task #1038 — Cover the new Period date picker with automated tests
  tests/unit/components/bulk-document-import-period-date-picker.test.tsx
Owners: @koveogestion/tech-leads

Task #1014: Harden NoCentris PDF merge — two-stage recovery for getPageCount AND copyPages failures
  scripts/generate-test-fixtures.ts
  server/api/bulk-import.ts
  tests/fixtures/nocentris-broken-page-tree.pdf
  tests/unit/api/bulk-import-set-sorting-decision.test.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Task #1043 — Add server-side tests for the period override endpoint
  tests/unit/api/bulk-import-set-period-hint.test.ts
Owners: @koveogestion/tech-leads

Fix Calendar wrapper classNames for react-day-picker v9 (task #1048)
  client/src/components/ui/calendar.tsx
Owners: @koveogestion/tech-leads

Task #1001 (final): Full sibling detail panels, group expansion, test fixes
  client/src/pages/admin/bulk-document-import.tsx
  tests/unit/components/bulk-document-import-period-date-picker.test.tsx
  tests/unit/components/bulk-document-import-sorting-decision.test.tsx
Owners: @koveogestion/tech-leads

Task #1046: Add stage-3 per-page PDF rebuild to bulk import wizard
  server/api/bulk-import.ts
  tests/unit/api/bulk-import-set-sorting-decision.test.ts
Owners: @koveogestion/tech-leads

Task #1036: Friendly PDF-corruption errors on bulk-import sorting decisions
  client/src/pages/admin/bulk-document-import.tsx
  tests/unit/components/bulk-document-import-sorting-decision.test.tsx
Owners: @koveogestion/tech-leads

Task #1032: Add test coverage for Branching sort order and merge-group card header
  tests/unit/components/bulk-document-import-sorting-decision.test.tsx
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  .staging/bulk-import/05526003-b633-4e33-b492-e430c4d10417/1784d4ed22a6cc00f83ed2065dfcd98932ba0c5a81f28ea15ff17872a0b293db_Etats_financiers_2021_13_NoCentris_28525705.pdf
  .staging/bulk-import/05526003-b633-4e33-b492-e430c4d10417/1b641036fcce88407ee53a6fb967914aab9d713adeeebd387c732a49985c6dff_ProcÃ¨s verbal octobre 2023.pdf
  .staging/bulk-import/05526003-b633-4e33-b492-e430c4d10417/25966b8a75495e9983bdf329286818f2d6ca237001133f6b2c3862440ef8e271_Reglements_7_NoCentris_28525705.pdf
  .staging/bulk-import/05526003-b633-4e33-b492-e430c4d10417/28b099c8ef8d7f54ce04b775baebb3c09e05fbe3a533b9eb9b07424678ccd45c_Declaration_de_copropriete_6_NoCentris_28525705.pdf
  .staging/bulk-import/05526003-b633-4e33-b492-e430c4d10417/43d9b7d4a3d03f48702620c7408ac8ce2f622351920219f64958c7b1c7a4c75c_evaluation_trienal.pdf
  .staging/bulk-import/05526003-b633-4e33-b492-e430c4d10417/4d0ff327080b5f2cee78fc99febabd9486298f064692f949f01a1a72d04296b0_Centris_28525705.pdf
  .staging/bulk-import/05526003-b633-4e33-b492-e430c4d10417/66a2958ae27c9181df714fb94128971343e7dc3503519b6e735b026df30f833d_Assurance_571_mte_pionnier_terrebonne_2023_2024.pdf
  .staging/bulk-import/05526003-b633-4e33-b492-e430c4d10417/6d7954acce70288cc54b043ca2d6a121af6fa77ffdd98e6a462ed6dd5059c978_563-583 Mnt des Pionniers_Fonds de prÃ©voyance.pdf
  .staging/bulk-import/05526003-b633-4e33-b492-e430c4d10417/8ccebfaea35594b400f5e5d456fc18b2a905939a1ae6e344f59d8fd18665c65e_Ã©tats financiers 30 septembre 2023.pdf
  .staging/bulk-import/05526003-b633-4e33-b492-e430c4d10417/92b0dafa202337190676d5d6efca4be75483e4ef36aa96967ced2231dba65189_assurance_2025-2026.pdf
  .staging/bulk-import/05526003-b633-4e33-b492-e430c4d10417/9de2edcebed4a42161741e6efeb7d7b0f1bb647ab0000fff02cc34425f1b07db_Budget prÃ©visionnel 2023-2024.pdf
  .staging/bulk-import/05526003-b633-4e33-b492-e430c4d10417/a5f059f2b647b3163f9b7d1ac62bafac7f640b02254ae8b6fea20b119061bf35_DRCOP_annexes_8_NoCentris_28525705.pdf
  .staging/bulk-import/05526003-b633-4e33-b492-e430c4d10417/ab6a59fe119894a8cca802dc035e6985f9c6866305342f71e9f59c3d99cc1a4e_Etats_financiers_2022_14_NoCentris_28525705.pdf
  .staging/bulk-import/05526003-b633-4e33-b492-e430c4d10417/babfbc53c207d44b647981449ad4f193eb4d056a501502b27648952abcac7fb8_Proces_verbal_ordre_du_jour_2021_10_NoCentris_28525705.pdf
  .staging/bulk-import/05526003-b633-4e33-b492-e430c4d10417/c28e94eccca9905a0dda247895fff166a120357665bb97447e4307373449bfa1_Etats_financiers_2023_preliminaire_15_NoCentris_28525705.pdf
  .staging/bulk-import/05526003-b633-4e33-b492-e430c4d10417/ced8a54be167c08bc19b1405c61bedeb1c3f5912007eb49f103a57b7155b7836_ordre du jour rÃ©union 28 octobre 2023.pdf
  .staging/bulk-import/05526003-b633-4e33-b492-e430c4d10417/d5e8fb7ba526440ff34f654c904d0b89916706cc54ee446ae9a21b6e4d7b7ae7_Assurance_571_mte_pionnier_terrebonne_2025-2026.pdf
  .staging/bulk-import/05526003-b633-4e33-b492-e430c4d10417/dd30f6d7a2e9638cdd6a84fc2c5822e4856537a5185b3ea39ed2524eb8f5dba1_Proces_verbal_ordre_du_jour_2022_11_NoCentris_28525705.pdf
  .staging/bulk-import/05526003-b633-4e33-b492-e430c4d10417/ef82c992f497e576b53aadd40d704318dc0794ae88bbd07bec1e08a659c558d6_Assurance_571_mte_pionnier_terrebonne_2024_2025.pdf
  .staging/bulk-import/05526003-b633-4e33-b492-e430c4d10417/f10cdb3f887411c7f2c64a050d81b9621a885d7174f2fb7f426543bb95475f67_Certificat_de_localisation_04_10_2023_17_NoCentris_28525705.pdf
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-bu_1777159574164.txt
  attached_assets/image_1777159421195.png
Owners: @koveogestion/tech-leads

Task #1033: Two-row sibling layout in branching merge group
  client/src/pages/admin/bulk-document-import.tsx
Owners: @koveogestion/tech-leads

Task #1034: Show read-only AI suggestion summary in the Branching detail panel for rejected items
  client/src/pages/admin/bulk-document-import.tsx
Owners: @koveogestion/tech-leads

Show AI confidence inline on Branching AI suggestion card (Task #1054)
  client/src/pages/admin/bulk-document-import.tsx
Owners: @koveogestion/tech-leads

Task #1055: Add automated test for rejected Branching AI suggestion card
  tests/unit/components/bulk-document-import-detail-panel.test.tsx
Owners: @koveogestion/tech-leads

Task #1060 — Pre-fill the Sorting Period date picker from the AI hint
  client/src/pages/admin/bulk-document-import.tsx
  tests/unit/components/bulk-document-import-period-date-picker.test.tsx
Owners: @koveogestion/tech-leads

Task #1047: Stop bulk-import per-item retry from returning 502
  client/src/pages/admin/bulk-document-import.tsx
  server/api/bulk-import.ts
  tests/integration/bulk-import-ai-steps-file-attachment.test.ts
  tests/integration/bulk-import-different-period-no-merge.test.ts
  tests/integration/bulk-import-screen-file-attachment.test.ts
  tests/integration/bulk-import-screening-rotation-badge.test.ts
  tests/unit/api/bulk-import-per-item-retry-fire-and-forget.test.ts
  tests/unit/api/bulk-import-set-residence.test.ts
  tests/unit/components/bulk-document-import-polled-retry-spinner.test.tsx
Owners: @koveogestion/tech-leads

Git commit prior to merge
  .gitignore
  .staging/bulk-import/05526003-b633-4e33-b492-e430c4d10417/1784d4ed22a6cc00f83ed2065dfcd98932ba0c5a81f28ea15ff17872a0b293db_Etats_financiers_2021_13_NoCentris_28525705.pdf
  .staging/bulk-import/05526003-b633-4e33-b492-e430c4d10417/1b641036fcce88407ee53a6fb967914aab9d713adeeebd387c732a49985c6dff_ProcÃ¨s verbal octobre 2023.pdf
  .staging/bulk-import/05526003-b633-4e33-b492-e430c4d10417/25966b8a75495e9983bdf329286818f2d6ca237001133f6b2c3862440ef8e271_Reglements_7_NoCentris_28525705.pdf
  .staging/bulk-import/05526003-b633-4e33-b492-e430c4d10417/28b099c8ef8d7f54ce04b775baebb3c09e05fbe3a533b9eb9b07424678ccd45c_Declaration_de_copropriete_6_NoCentris_28525705.pdf
  .staging/bulk-import/05526003-b633-4e33-b492-e430c4d10417/43d9b7d4a3d03f48702620c7408ac8ce2f622351920219f64958c7b1c7a4c75c_evaluation_trienal.pdf
  .staging/bulk-import/05526003-b633-4e33-b492-e430c4d10417/4d0ff327080b5f2cee78fc99febabd9486298f064692f949f01a1a72d04296b0_Centris_28525705.pdf
  .staging/bulk-import/05526003-b633-4e33-b492-e430c4d10417/66a2958ae27c9181df714fb94128971343e7dc3503519b6e735b026df30f833d_Assurance_571_mte_pionnier_terrebonne_2023_2024.pdf
  .staging/bulk-import/05526003-b633-4e33-b492-e430c4d10417/6d7954acce70288cc54b043ca2d6a121af6fa77ffdd98e6a462ed6dd5059c978_563-583 Mnt des Pionniers_Fonds de prÃ©voyance.pdf
  .staging/bulk-import/05526003-b633-4e33-b492-e430c4d10417/8ccebfaea35594b400f5e5d456fc18b2a905939a1ae6e344f59d8fd18665c65e_Ã©tats financiers 30 septembre 2023.pdf
  .staging/bulk-import/05526003-b633-4e33-b492-e430c4d10417/92b0dafa202337190676d5d6efca4be75483e4ef36aa96967ced2231dba65189_assurance_2025-2026.pdf
  .staging/bulk-import/05526003-b633-4e33-b492-e430c4d10417/9de2edcebed4a42161741e6efeb7d7b0f1bb647ab0000fff02cc34425f1b07db_Budget prÃ©visionnel 2023-2024.pdf
  .staging/bulk-import/05526003-b633-4e33-b492-e430c4d10417/a5f059f2b647b3163f9b7d1ac62bafac7f640b02254ae8b6fea20b119061bf35_DRCOP_annexes_8_NoCentris_28525705.pdf
  .staging/bulk-import/05526003-b633-4e33-b492-e430c4d10417/ab6a59fe119894a8cca802dc035e6985f9c6866305342f71e9f59c3d99cc1a4e_Etats_financiers_2022_14_NoCentris_28525705.pdf
  .staging/bulk-import/05526003-b633-4e33-b492-e430c4d10417/babfbc53c207d44b647981449ad4f193eb4d056a501502b27648952abcac7fb8_Proces_verbal_ordre_du_jour_2021_10_NoCentris_28525705.pdf
  .staging/bulk-import/05526003-b633-4e33-b492-e430c4d10417/c28e94eccca9905a0dda247895fff166a120357665bb97447e4307373449bfa1_Etats_financiers_2023_preliminaire_15_NoCentris_28525705.pdf
  .staging/bulk-import/05526003-b633-4e33-b492-e430c4d10417/ced8a54be167c08bc19b1405c61bedeb1c3f5912007eb49f103a57b7155b7836_ordre du jour rÃ©union 28 octobre 2023.pdf
  .staging/bulk-import/05526003-b633-4e33-b492-e430c4d10417/d5e8fb7ba526440ff34f654c904d0b89916706cc54ee446ae9a21b6e4d7b7ae7_Assurance_571_mte_pionnier_terrebonne_2025-2026.pdf
  .staging/bulk-import/05526003-b633-4e33-b492-e430c4d10417/dd30f6d7a2e9638cdd6a84fc2c5822e4856537a5185b3ea39ed2524eb8f5dba1_Proces_verbal_ordre_du_jour_2022_11_NoCentris_28525705.pdf
  .staging/bulk-import/05526003-b633-4e33-b492-e430c4d10417/ef82c992f497e576b53aadd40d704318dc0794ae88bbd07bec1e08a659c558d6_Assurance_571_mte_pionnier_terrebonne_2024_2025.pdf
  .staging/bulk-import/05526003-b633-4e33-b492-e430c4d10417/f10cdb3f887411c7f2c64a050d81b9621a885d7174f2fb7f426543bb95475f67_Certificat_de_localisation_04_10_2023_17_NoCentris_28525705.pdf
  .staging/bulk-import/6ec079f8-7144-45c1-baab-6e3aca91a77e/80948e17dae735f9730bdbaa4e046d359e6ad09f62a92f2a70deafae98f076d7_a.pdf
  attached_assets/image_1777161224825.png
Owners: @koveogestion/tech-leads

Task #1045: Add "Hide files ready for next step" toggle to Bulk Document Import wizard
  client/src/pages/admin/bulk-document-import.tsx
  tests/unit/components/bulk-document-import-detail-panel.test.tsx
Owners: @koveogestion/tech-leads

Task #1063: Use building's fiscal-year-start in lite endpoint periodHint
  server/api/bulk-import.ts
  tests/integration/bulk-import-lite-fiscal-year-period-hint.test.ts
Owners: @koveogestion/tech-leads

Git commit prior to merge
  attached_assets/image_1777161285413.png
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1777161432213.png
  attached_assets/image_1777161915894.png
  attached_assets/image_1777161923035.png
Owners: @koveogestion/tech-leads

Add ability to replace corrupt files during document import
  attached_assets/image_1777162172661.png
  client/src/pages/admin/bulk-document-import.tsx
  server/api/bulk-import.ts
  tests/integration/bulk-import-rest-endpoints.test.ts
  tests/unit/components/bulk-document-import-sorting-decision.test.tsx
Owners: @koveogestion/tech-leads

Hide AI warning badges and Retry button when admin has manually overridden a row
  client/src/pages/admin/bulk-document-import.tsx
Owners: @koveogestion/tech-leads

Task #1061: Stream bulk-import uploads to disk instead of buffering in RAM
  server/api/bulk-import.ts
  tests/unit/api/bulk-import-upload-disk-streaming.test.ts
  tests/unit/api/bulk-import-upload-mixed-payload.test.ts
Owners: @koveogestion/tech-leads

Task #1069: Keep AI-failed files visible and block Next Step until reviewed
  client/src/pages/admin/bulk-document-import.tsx
  client/src/pages/admin/bulk-import-next-step-block.tsx
  tests/unit/components/bulk-document-import-detail-panel.test.tsx
Owners: @koveogestion/tech-leads

Task #1071: Stack filename and tags onto separate rows in bulk import
  client/src/pages/admin/bulk-document-import.tsx
Owners: @koveogestion/tech-leads

Task #1068: Retry-fresh button per AI step in bulk import
  client/src/pages/admin/bulk-document-import.tsx
  server/api/bulk-import.ts
  tests/unit/api/bulk-import-reset-step.test.ts
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1777164328196.png
  attached_assets/image_1777164656988.png
Owners: @koveogestion/tech-leads

Task #1066: bulk-import staging janitor
  server/api/bulk-import.ts
  server/index.ts
  tests/integration/bulk-import-staging-janitor.test.ts
  tests/unit/api/bulk-import-staging-janitor.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Git commit prior to merge
  server/tests/fixtures/french-upload.pdf
Owners: @koveogestion/tech-leads

Stop test runs from getting stuck on a loading spinner (Task #1076)
  tests/unit/components/bulk-document-import-detail-panel.test.tsx
Owners: @koveogestion/tech-leads

Task #1082: Hide manually-completed files from the incomplete list
  client/src/pages/admin/bulk-document-import.tsx
  tests/unit/components/bulk-document-import-detail-panel.test.tsx
Owners: @koveogestion/tech-leads

Git commit prior to merge
  server/tests/fixtures/french-upload.pdf
Owners: @koveogestion/tech-leads
