Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

Saved your changes before starting work
  attached_assets/Pasted--Action-1-of-4-Create-the-new-React-Context-for-managing-application-state-This-will-hold-the-1757442392118_1757442392119.txt
  attached_assets/Screenshot_20250909-142624_1757442397880.png
Owners: @koveogestion/tech-leads

Add mobile functionality to select files for upload
  client/src/components/document-management/SharedUploader.tsx
Owners: @koveogestion/tech-leads

Fix issue where file upload buttons were unresponsive on mobile devices
  attached_assets/Screenshot_20250909-143334_1757442822956.png
  client/src/components/document-management/SharedUploader.tsx
Owners: @koveogestion/tech-leads

Refine test setup for invitation management functionality
  tests/unit/invitation/invitation-management.test.ts
Owners: @koveogestion/tech-leads

Update testing setup to include necessary DOM matchers
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/67/index_677ac7dbe7d49ee4d5d1e7335f332ecc
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/ad/matchersa1259dd2_ad36fa972ec67f18a5c958555500d779
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/b8/jestsetup_b845751bdb1948b89ef75d7e4bb3a058
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/b8/jestsetup_b845751bdb1948b89ef75d7e4bb3a058.map
  jest.config.cjs
  tests/unit/hierarchical-navigation-components.test.tsx
Owners: @koveogestion/tech-leads

Update tests for invitation management to use mock data effectively
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  tests/unit/invitation/invitation-management.test.ts
Owners: @koveogestion/tech-leads

Improve user creation and translation tests for better quality and coverage
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  tests/unit/invitation/user-creation-comprehensive.test.tsx
  tests/unit/translation-error-detection.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/i18n-team

Enhance test suite with performance and coverage improvements
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  jest.config.cjs
  jest.setup.ts
  tests/unit/coverage-improvement.test.ts
  tests/unit/test-performance-monitor.test.ts
  tests/unit/test-suite-validation.test.ts
Owners: @koveogestion/tech-leads

Improve test data handling and memory management in validation tests
  tests/unit/test-suite-validation.test.ts
Owners: @koveogestion/tech-leads

Enhance application security by preventing potential threats
  scripts/test-database-sync.ts
  server/api/documents.ts
  server/index.ts
  server/middleware/input-sanitization.ts
  server/middleware/security-middleware.ts
  server/middleware/ssrf-protection.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads, @koveogestion/api-team, @koveogestion/security-team

Improve application security by implementing robust error handling
  server/index.ts
  server/middleware/error-security.ts
  server/routes.ts
Owners: @koveogestion/api-team, @koveogestion/tech-leads

Improve error handling by reordering route registration
  replit.md
  server/routes.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Update production database configuration to use the correct URL
  drizzle.production.config.ts
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/Screenshot_20250909-153933_1757446790123.png
Owners: @koveogestion/tech-leads

Improve hamburger menu visibility on mobile devices
  client/src/components/ui/hamburger-menu.tsx
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1757452692193.png
Owners: @koveogestion/tech-leads

Fix password label overlapping email input on login page
  client/src/pages/auth/login.tsx
Owners: @koveogestion/tech-leads

Temporarily disable SSL renewal job to fix build issues
  attached_assets/image_1757452913246.png
  client/src/components/ssl/SslCertificateInfo.tsx.disabled
  server/api/ssl.ts.disabled
  server/jobs/index.ts
  server/jobs/ssl_renewal_job.ts.disabled
  server/services/ssl_service.ts.disabled
Owners: @koveogestion/tech-leads

Adjust login form spacing to prevent password field overlap
  client/src/pages/auth/login.tsx
Owners: @koveogestion/tech-leads

Add filters for payment type and status on the bills page
  client/src/pages/manager/bills.tsx
Owners: @koveogestion/tech-leads

Add filters for payment type and status on the bills page
  client/src/pages/manager/bills.tsx
Owners: @koveogestion/tech-leads

Add filters for payment type and status on the bills page
  client/src/pages/manager/bills.tsx
Owners: @koveogestion/tech-leads

Update payment type translations and create a reusable clear filters component
  client/src/lib/i18n.ts
Owners: @koveogestion/tech-leads

Create a reusable component to clear all filters
  client/src/components/ui/clear-filters.tsx
Owners: @koveogestion/tech-leads

Improve bill filtering with a reusable clear filters component
  client/src/pages/manager/bills.tsx
Owners: @koveogestion/tech-leads

Add functionality to automatically generate recurring bills for properties
  shared/schemas/financial.ts
Owners: @koveogestion/tech-leads

Add automated bill generation capabilities for future property expenses
  server/services/bill-generation-service.ts
Owners: @koveogestion/tech-leads

Update bill generation to use auto generation service
  server/api/bills.ts
Owners: @koveogestion/tech-leads

Add a badge to indicate auto-generated content
  client/src/components/ui/auto-generated-badge.tsx
  client/src/components/ui/pre-populated-bill-form.tsx
Owners: @koveogestion/tech-leads

Add ability to generate and manage recurring bills automatically
  server/api/bills.ts
Owners: @koveogestion/tech-leads

Add ability to create and manage auto-generated bills
  client/src/pages/manager/bills.tsx
Owners: @koveogestion/tech-leads

Enable automatic bill generation from templates for enhanced property management
  client/src/components/ui/auto-generated-badge.tsx
  client/src/components/ui/pre-populated-bill-form.tsx
  server/api/bills.ts
Owners: @koveogestion/tech-leads

Add automated bill generation and management features
  server/api/bills.ts
  server/jobs/bill-auto-generation-job.ts
  server/services/bill-generation-service.ts
Owners: @koveogestion/tech-leads

Add automated bill generation job scheduler to the system
  server/index.ts
Owners: @koveogestion/api-team, @koveogestion/tech-leads

Improve auto-generated bill identification with visual indicators
  client/src/components/ui/auto-generated-badge.tsx
Owners: @koveogestion/tech-leads

Improve bill form to clearly distinguish auto-generated bills
  client/src/components/ui/pre-populated-bill-form.tsx
Owners: @koveogestion/tech-leads

Enhance bill creation with auto-generated templates and visual indicators
  client/src/components/bill-management/ModularBillForm.tsx
  client/src/pages/manager/bills.tsx
Owners: @koveogestion/tech-leads

Add filtering and details for auto-generated bills
  server/api/bills.ts
Owners: @koveogestion/tech-leads

Add functionality to automatically generate bills from templates
  server/api/bills.ts
Owners: @koveogestion/tech-leads

Add ability to pre-populate bill forms with extracted data
  client/src/pages/manager/bills.tsx
Owners: @koveogestion/tech-leads

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team
