Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

Improve invitation integration tests by adding type assertions
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  tests/unit/invitation/invitation-integration.test.ts
Owners: @koveogestion/tech-leads

Update user creation tests to ensure proper component rendering
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/3c/usercreationcomprehensivetest_3c63ef744648ea0414067700d47e1471
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/3c/usercreationcomprehensivetest_3c63ef744648ea0414067700d47e1471.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/5f/invitationmanagementtest_5fae38b4b88cdc1784f4cded65a36331
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/5f/invitationmanagementtest_5fae38b4b88cdc1784f4cded65a36331.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/76/invitationintegrationtest_76771a21b6cbab109007779b83f93bf4
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/76/invitationintegrationtest_76771a21b6cbab109007779b83f93bf4.map
  tests/unit/invitation/user-creation-comprehensive.test.tsx
Owners: @koveogestion/tech-leads

Improve test reliability and fix failing integration tests
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/12/invitationintegrationtest_12b8a2a81361cdbefa889175af0dce0f
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/12/invitationintegrationtest_12b8a2a81361cdbefa889175af0dce0f.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/96/fileuploadformstest_96a5194ea1f251e1636c7687440cb121
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/96/fileuploadformstest_96a5194ea1f251e1636c7687440cb121.map
  tests/unit/invitation/invitation-integration.test.ts
Owners: @koveogestion/tech-leads

Fix type assertion issues in invitation integration tests
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/f6/invitationintegrationtest_f631e67429eac845f1ce666091b5f045
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/f6/invitationintegrationtest_f631e67429eac845f1ce666091b5f045.map
  tests/unit/invitation/invitation-integration.test.ts
Owners: @koveogestion/tech-leads

Update invitation tests to use mock schema for database interactions
  tests/unit/invitation/invitation-integration.test.ts
Owners: @koveogestion/tech-leads

Fix form validation and improve test reliability
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/01/labeltext_012f280cc5d019b3313b3b95f3eb412e
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/01/labeltext_012f280cc5d019b3313b3b95f3eb412e.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/05/index_055481970ba6bb12bd6ec2601164bc6d
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/05/index_055481970ba6bb12bd6ec2601164bc6d.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/4a/formvalidationfixestest_4a09657a98b2ff2421dab7d18ed59ebf
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/4a/formvalidationfixestest_4a09657a98b2ff2421dab7d18ed59ebf.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/60/getqueriesforelement_603f1abd93508194f52ff100058f5ab5
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/60/getqueriesforelement_603f1abd93508194f52ff100058f5ab5.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/98/config_98eec72df59719028e73abd0271a64ad
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/98/config_98eec72df59719028e73abd0271a64ad.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/a5/invitationintegrationtest_a5038fcdb0b31c684c37b8c2dde901a8
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/a5/invitationintegrationtest_a5038fcdb0b31c684c37b8c2dde901a8.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/ce/reactdomclientdevelopment_ce98a2048f012584429bbfd3b0fa238e
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/ce/reactdomclientdevelopment_ce98a2048f012584429bbfd3b0fa238e.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/f6/prettydom_f6197dcf9c41ea334353733c5b539178
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/f6/prettydom_f6197dcf9c41ea334353733c5b539178.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/f9/usercreationcomprehensivetest_f9bb8705fc9563ca563bae3a2a5cdf52
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/f9/usercreationcomprehensivetest_f9bb8705fc9563ca563bae3a2a5cdf52.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/fc/index_fcad0b67847d6f17da11a5fa171d5028
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/fc/index_fcad0b67847d6f17da11a5fa171d5028.map
Owners: @koveogestion/tech-leads

Refine data handling and validation logic for core platform features
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/03/conditions_03455807b6820e037c39b781ea172905
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/06/update_06c6f6abc935385e71ed91c6cc4b97f6
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/08/aggregate_08a05c1a1e51aae04e6d9c3183acc3c4
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/11/subquery_1189f8038d2e7757be7f596f0283a51d
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/14/viewbase_1492ff6e37539b2abad16ac8f68e0e85
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/1c/query_1ccc3ba7ee47d9c7b75151536536daa0
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/22/relations_2252430891d9cee6c1df3a3cc7cfdb30
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/3c/demandschemasimpletest_3c3a3bdbe88aacbb7e2a7800d3fc948e
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/3c/demandschemasimpletest_3c3a3bdbe88aacbb7e2a7800d3fc948e.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/57/querybuilder_57e1e1857ff8d7d2d082baa69225ef88
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/58/refreshmaterializedview_5851ab063f3c312de99f97bfe638f08d
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/65/index_65ca3d540e3483ebf67e8a87c426f35e
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/66/vector_660834654240ea09aababd7c9a9492aa
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/69/session_6985b292c13a18cc45e58212796405bf
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/7f/select_7fd96336d710f8cb48f6609a5c611918
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/83/demandcommentschematest_83f5ec420d360ef37f5ed3aad584c99f
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/83/demandcommentschematest_83f5ec420d360ef37f5ed3aad584c99f.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/8b/count_8b86d4a9ccb73d25f5bd8814d9765761
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/96/roles_96993333aa4bccbf4e69512c35967173
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/a5/index_a59ca31364ac488bc33002596b699a21
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/af/operations_af03ed46df8879df14200c990a994299
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/af/operations_af03ed46df8879df14200c990a994299.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/b9/selecttypes_b9ae74461a681df518a9b3bda62ef3fb
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/c6/schema_c6cd84d53624c32952811d2492976af3
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/c7/index_c7a33f880f826bf1bc171205b4942af3
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/cb/sequence_cb980459884d23cfff59abd327b94b01
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d2/select_d29792ab8d9dcef7f00ee7cdcfa29124
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d8/index_d852e8166748063510bebfdc3d4e1984
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/e1/raw_e1e2f4f350afb85356ecf377a494e523
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/e7/insert_e78043bf8b9da88c1d5e2596600a9e94
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/e8/cache_e8da9e7734feb7751297433207add180
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/eb/property_eb416bb8137a8ef21bd8ec4b13c39739
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/eb/property_eb416bb8137a8ef21bd8ec4b13c39739.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
Owners: @koveogestion/tech-leads

Fix errors in schema validation and test execution for demands
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/4c/operationssimple_4ce8046dcdee08de681db5232155d1d2
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/4c/operationssimple_4ce8046dcdee08de681db5232155d1d2.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/68/demandsschematest_68d9809fc0bd51a1bf34b76a3e0e3256
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/68/demandsschematest_68d9809fc0bd51a1bf34b76a3e0e3256.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/a8/operationssimple_a8a3f47a9797b10fcbb2298939c3c661
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/a8/operationssimple_a8a3f47a9797b10fcbb2298939c3c661.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/ab/demandcommentschematest_abf687520aa2000e0d86a3848dd5a568
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/ab/demandcommentschematest_abf687520aa2000e0d86a3848dd5a568.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
Owners: @koveogestion/tech-leads

Update test cache to resolve existing issues
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
Owners: @koveogestion/tech-leads

Update document types to include additional categories for better data management
  scripts/test-database-sync.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Improve database schema and constraint comparison logic
  scripts/test-database-sync.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Update database test to match unique constraint name
  scripts/test-database-sync.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Strengthen session security with a minimum secret length requirement
  server/config/index.ts
Owners: @koveogestion/tech-leads

Enhance website security with HTTPS enforcement and improved content policies
  server/index.ts
  server/middleware/security-middleware.ts
Owners: @koveogestion/api-team, @koveogestion/tech-leads, @koveogestion/security-team

Improve input sanitization and security measures for user data
  server/utils/input-sanitization.ts
Owners: @koveogestion/tech-leads

Improve server logging to redact sensitive information
  server/utils/logger.ts
Owners: @koveogestion/tech-leads

Enhance website security and add domain validation for production
  server/middleware/security-middleware.ts
Owners: @koveogestion/security-team

Improve security by enforcing HTTPS in production environments
  attached_assets/image_1757431260937.png
  server/index.ts
  server/middleware/security-middleware.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team, @koveogestion/security-team

Improve security logging by capturing detailed request information
  server/middleware/security-middleware.ts
Owners: @koveogestion/security-team

Improve database connection stability and error handling
  server/config/index.ts
  server/db.ts
  server/index.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Improve database connection stability and reliability
  server/db.ts
Owners: @koveogestion/tech-leads

Enhance form fields with new input properties and test ID overrides
  client/src/components/forms/StandardFormField.tsx
Owners: @koveogestion/tech-leads

Improve login form with a reusable field component
  client/src/pages/auth/login.tsx
Owners: @koveogestion/tech-leads

Refactor form components to use reusable wrappers for consistency
  client/src/components/BillCreateForm.tsx
  client/src/components/BillEditForm.tsx
  client/src/components/common/FormInput.tsx
  client/src/components/common/FormSelect.tsx
  client/src/components/common/FormTextArea.tsx
  client/src/components/common/form-wrappers/SelectFieldWrapper.tsx
  client/src/components/common/form-wrappers/TextAreaFieldWrapper.tsx
  client/src/components/common/form-wrappers/TextFieldWrapper.tsx
  client/src/components/common/form-wrappers/index.ts
Owners: @koveogestion/tech-leads

Add standardized card and form components for consistent UI and data handling
  client/src/components/ui/standard-card.tsx
  client/src/hooks/use-standard-form.tsx
Owners: @koveogestion/tech-leads

Add a reusable form component for document management tasks
  client/src/components/forms/DocumentFormBase.tsx
  client/src/hooks/use-standard-form.tsx
Owners: @koveogestion/tech-leads

Add a simplified bill creation and editing form
  client/src/components/bill-management/SimplifiedBillForm.tsx
  client/src/components/forms/DocumentFormBase.tsx
  client/src/hooks/use-standard-form.tsx
Owners: @koveogestion/tech-leads

Update bill form fields for better user input and display
  client/src/components/bill-management/SimplifiedBillForm.tsx
Owners: @koveogestion/tech-leads

Add a dedicated test page for new form components and features
  client/src/App.tsx
  client/src/pages/test-forms.tsx
Owners: @koveogestion/tech-leads

Remove test form routes and related components
  client/src/App.tsx
  client/src/pages/test-forms.tsx
  replit.md
Owners: @koveogestion/tech-leads

Update routing to use functional components for manager and resident views
  client/src/App.tsx
Owners: @koveogestion/tech-leads

Update invoice form with new structure and simplified schema
  client/src/components/invoice-management/InvoiceForm.tsx
Owners: @koveogestion/tech-leads

Update document and invoice forms with new components and patterns
  client/src/components/document-management/DocumentEditForm.tsx
  client/src/components/invoice-management/InvoiceForm.tsx
  client/src/pages/dashboard.tsx
  client/src/pages/features.tsx
Owners: @koveogestion/tech-leads

Add context management and filtering for application data
  attached_assets/Pasted--Action-1-of-4-Create-the-new-React-Context-for-managing-application-state-This-will-hold-the-1757439961277_1757439961278.txt
Owners: @koveogestion/tech-leads

Remove extraneous console logs from invoice extractor
  client/src/components/invoices/GeminiInvoiceExtractor.tsx
Owners: @koveogestion/tech-leads

Improve card layout to prevent text and buttons from overflowing
  client/src/components/ui/standard-card.tsx
Owners: @koveogestion/tech-leads

Update UI to use a standardized card component for better consistency
  client/src/pages/features.tsx
  client/src/pages/pricing.tsx
Owners: @koveogestion/tech-leads

Improve card components to ensure content fits across devices
  client/src/components/BuildingSelectionGrid.tsx
  client/src/components/document-management/DocumentCard.tsx
  client/src/components/invoice-management/InvoiceCard.tsx
  client/src/components/ui/standard-card.tsx
Owners: @koveogestion/tech-leads

Improve invoice card display and fix invoice extraction API call
  client/src/components/invoice-management/InvoiceCard.tsx
  client/src/components/invoices/GeminiInvoiceExtractor.tsx
Owners: @koveogestion/tech-leads

Grant demo managers the same organizational visibility as administrators
  server/api/users.ts
Owners: @koveogestion/tech-leads

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team
