Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

Improve error handling for user management data loading
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-QsXTVvTP-js-380--1759595598965_1759595598965.txt
  attached_assets/image_1759595583695.png
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Adjust building visibility for specific user accounts
  attached_assets/image_1759595822710.png
Owners: @koveogestion/tech-leads

Update user interface and system functionalities to improve overall platform efficiency
  attached_assets/image_1759596627073.png
Owners: @koveogestion/tech-leads

Improve text fitting within cards to prevent overflow
  client/src/components/common/StandardCard.tsx
  client/src/components/residences/ResidenceCard.tsx
Owners: @koveogestion/tech-leads

Improve test execution speed and reliability
  jest.config.cjs
Owners: @koveogestion/tech-leads

Add mock for relations to facilitate schema testing
  __mocks__/drizzle-orm.ts
Owners: @koveogestion/tech-leads

Update tests and mock API calls for communication preferences
  tests/integration/document-management-comprehensive.test.tsx
  tests/unit/communication/communication-page.test.tsx
Owners: @koveogestion/tech-leads

Improve communication page tests and refine test suite
  replit.md
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1759604620081.png
Owners: @koveogestion/tech-leads

Fix error preventing user management page from loading correctly
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Improve user management to fix editing issues and handle data
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1759605369962_1759605369962.txt
  attached_assets/image_1759605354122.png
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Ensure user data is safely processed when mapping assignments
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1759605611628_1759605611629.txt
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Fix error when editing users by ensuring user data is properly loaded
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1759605801018_1759605801018.txt
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Improve data handling and validation on user management page
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1759606104214_1759606104215.txt
  attached_assets/image_1759606112307.png
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1759607703443.png
Owners: @koveogestion/tech-leads

Allow managers to view and edit user organization and building assignments
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Improve user management page to always show user assignments
  replit.md
Owners: @koveogestion/tech-leads

Update navigation buttons to correctly link back to buildings
  attached_assets/image_1759608338067.png
  client/src/pages/manager/budget.tsx
Owners: @koveogestion/tech-leads

Add debug logs to user management data fetching
  client/src/pages/manager/user-management.tsx
  server/api/users.ts
Owners: @koveogestion/tech-leads

Improve user assignment visibility and data fetching on the user management page
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1759609111502_1759609111504.txt
  attached_assets/image_1759609157227.png
  client/src/pages/manager/user-management.tsx
  replit.md
  server/api/users.ts
Owners: @koveogestion/tech-leads

Add French translations and improve bill form UI elements
  client/src/components/bill-management/ModularBillForm.tsx
Owners: @koveogestion/tech-leads

Improve bill management and fix related issues
  attached_assets/Pasted-Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-1759666320097_1759666320097.txt
  attached_assets/image_1759666312206.png
  client/src/lib/i18n.ts
  client/src/pages/manager/bills.tsx
  server/api/bills.ts
Owners: @koveogestion/tech-leads

Restrict maintenance access based on user roles and building assignments
  server/api/maintenance.ts
Owners: @koveogestion/business-team

Update access controls for maintenance inventory and projects
  replit.md
Owners: @koveogestion/tech-leads

Restrict manager building access to assigned buildings
  server/api/organizations.ts
  server/api/users.ts
Owners: @koveogestion/tech-leads

Update bill forms to improve payment management and add French translations
  client/src/components/bill-management/ModularBillForm.tsx
Owners: @koveogestion/tech-leads

Update bill forms with French translations and dynamic total calculation
  client/src/components/bill-management/ModularBillForm.tsx
Owners: @koveogestion/tech-leads

Update bill forms with French translations and improved payment calculations
  client/src/components/bill-management/ModularBillForm.tsx
  client/src/lib/i18n.ts
Owners: @koveogestion/tech-leads

Update bill generation to create single payment bills from recurrent templates
  server/services/bill-generation-service.ts
  server/services/consolidated-financial-service.ts
Owners: @koveogestion/tech-leads

Add robust financial management and bill generation capabilities
  replit.md
Owners: @koveogestion/tech-leads

Add a note to draft bills indicating exclusion from budget
  client/src/components/bill-management/ModularBillForm.tsx
  client/src/lib/i18n.ts
Owners: @koveogestion/tech-leads

Update bill extraction and AI model usage for improved payment handling
  attached_assets/image_1759969382127.png
  attached_assets/image_1759969461762.png
  client/src/components/bill-management/GeminiBillExtractor.tsx
  server/services/consolidated-ai-service.ts
  server/services/gemini-bill-analyzer.ts
Owners: @koveogestion/tech-leads

Translate existing English fields to French across the application
  client/src/lib/i18n.ts
Owners: @koveogestion/tech-leads

Translate English fields in French mode to French
  client/src/pages/manager/bills.tsx
Owners: @koveogestion/tech-leads

Translate UI text to French for better internationalization
  client/src/pages/manager/budget.tsx
  client/src/pages/manager/buildings.tsx
  client/src/pages/manager/demands.tsx
  client/src/pages/manager/invoices.tsx
  client/src/pages/manager/residences.tsx
  client/src/pages/manager/user-management.tsx
  client/src/pages/settings/bug-reports.tsx
  client/src/pages/settings/idea-box.tsx
Owners: @koveogestion/tech-leads

Organize all application choice bundles alphabetically for user clarity
  shared/schemas/financial.ts
Owners: @koveogestion/tech-leads

Organize all user-facing choice bundles alphabetically
  shared/schemas/operations.ts
  shared/schemas/property.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team, @koveogestion/quebec-compliance

Update bill categories to include construction and legal services
  shared/schemas/financial.ts
Owners: @koveogestion/tech-leads

Add new categories for bill and invoice management
  client/src/lib/i18n.ts
  client/src/pages/manager/bills.tsx
Owners: @koveogestion/tech-leads

Organize dropdowns alphabetically for better user experience
  replit.md
Owners: @koveogestion/tech-leads

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team
