Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team

Enhance document submission tests with new security features
  tests/integration/file-upload-api.test.ts
  tests/unit/comprehensive-form-submission-tests.test.tsx
  tests/unit/document-submission-security.test.ts
Owners: @koveogestion/tech-leads

Enhance document submission security with Semgrep tests
  tests/security/document-management-semgrep.test.ts
  tests/unit/document-submission-security.test.ts
Owners: @koveogestion/tech-leads

Improve error handling and monitoring across the application
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  client/src/pages/ManagerDemandsPage.tsx
  client/src/utils/performance-monitor.ts
  server/api/ai-monitoring.ts
  server/routes.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Fix translation errors and missing exports to enable successful deployment
  attached_assets/image_1757086943561.png
  client/src/lib/i18n.ts.backup
  client/src/utils/form-validation-helpers.ts
Owners: @koveogestion/tech-leads

Fix translation and form validation errors to enable successful deployment
  attached_assets/image_1757087900372.png
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  .replit
  attached_assets/image_1757088054038.png
Owners: @koveogestion/tech-leads

Improve database configuration and production checks
  attached_assets/image_1757088421222.png
  server/config/index.ts
  server/index.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Update schema and relations for feature requests and improvement suggestions
  migrations/relations.ts
  migrations/schema.ts
Owners: @koveogestion/database-admins

Update property management platform with new features and improvements
  attached_assets/image_1757088744927.png
Owners: @koveogestion/tech-leads

Improve application performance by optimizing code splitting and bundling
  package-lock.json
  package.json
  vite.config.ts
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1757089426512.png
  attached_assets/image_1757089473433.png
Owners: @koveogestion/tech-leads

Add functionality for selecting available days for common spaces
  attached_assets/image_1757089634655.png
  client/src/pages/manager/common-spaces-stats.tsx
  server/api/common-spaces.ts
  shared/schemas/property.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team, @koveogestion/quebec-compliance

Update database URL handling for development and production environments
  server/config/index.ts
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1757090201625.png
Owners: @koveogestion/tech-leads

Update residence role options for user assignment
  client/src/components/user-tabs/UserResidencesTab.tsx
Owners: @koveogestion/tech-leads

Add comprehensive translation tests for the user management section
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/0a/usermanagementtranslationtest_0a6a394ff31b8a8deaa9b8a8e56c2d78
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/0a/usermanagementtranslationtest_0a6a394ff31b8a8deaa9b8a8e56c2d78.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/46/i18n_462a1db02d4ffd3ecd8379c98a6424a2
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/46/i18n_462a1db02d4ffd3ecd8379c98a6424a2.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/59/jestsetup_595ac1b5e321397fbf8bb967f051fbc6
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/59/jestsetup_595ac1b5e321397fbf8bb967f051fbc6.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/70/usermanagementtranslationtest_70d7dc14f2f1830a836e44668b4c45ff
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/70/usermanagementtranslationtest_70d7dc14f2f1830a836e44668b4c45ff.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/84/usermanagementtranslationtest_84693e9279b2c470b3628dce890cf567
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/84/usermanagementtranslationtest_84693e9279b2c470b3628dce890cf567.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  tests/unit/user-management-translation.test.ts
Owners: @koveogestion/tech-leads

Add common action buttons and improve translation validation scripts
  TRANSLATION_SUMMARY.md
  attached_assets/image_1757091063013.png
  client/src/lib/i18n.ts
  scripts/auto-translation-validator.ts
  scripts/debug-scanner.ts
  scripts/simple-translation-scanner.ts
  scripts/translation-scanner.ts
  scripts/translation-validation-report.ts
  tests/unit/auto-generated-comprehensive-translation.test.ts
  translation-validation-report.json
Owners: @koveogestion/tech-leads, @koveogestion/quality-team, @koveogestion/i18n-team

Implement role-based access control for managing property demands
  cookies.txt
  server/api/demands.ts
  tests/integration/demand-access-permissions.test.ts
Owners: @koveogestion/tech-leads

Improve translation accuracy and expand test coverage across multiple languages
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/0d/autogeneratedcomprehensivetranslationtest_0d04547f7f0720f811052ace98dd3669
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/0d/autogeneratedcomprehensivetranslationtest_0d04547f7f0720f811052ace98dd3669.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/20/i18n_20d532cd822bad8eaaad6fdc039b2527
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/20/i18n_20d532cd822bad8eaaad6fdc039b2527.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/62/i18n_6221c53e88e2cfafcc40fd67502ec22c
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/62/i18n_6221c53e88e2cfafcc40fd67502ec22c.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/72/i18n_7214c3ec7ecef0e6f5b81b3a3d631ea7
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/72/i18n_7214c3ec7ecef0e6f5b81b3a3d631ea7.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d3/i18n_d3313fae7624a6184092cba0ea32a9c5
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d3/i18n_d3313fae7624a6184092cba0ea32a9c5.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  client/src/lib/i18n.ts
  tests/integration/demand-access-permissions.test.ts
Owners: @koveogestion/tech-leads

Update internationalization for document management features
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/0e/i18n_0ed35944ee24917028a3d1b10704a4b2
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/0e/i18n_0ed35944ee24917028a3d1b10704a4b2.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/39/autogeneratedcomprehensivetranslationtest_39e55f6dae042a876c5bed92aeadef74
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/39/autogeneratedcomprehensivetranslationtest_39e55f6dae042a876c5bed92aeadef74.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/7a/i18n_7a9cb98ea049cdb06376a7ee8aa5f8c6
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/7a/i18n_7a9cb98ea049cdb06376a7ee8aa5f8c6.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  client/src/lib/i18n.ts
  client/src/pages/manager/demands.tsx
Owners: @koveogestion/tech-leads

Update translations for improved user experience across the platform
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/00/i18n_00806f5c6e71375f07fa3d4498f5dc4e
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/00/i18n_00806f5c6e71375f07fa3d4498f5dc4e.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/1d/i18n_1ddacb7428b85592850ed3b2efddf8bd
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/1d/i18n_1ddacb7428b85592850ed3b2efddf8bd.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/30/i18n_309feeaa622ed944a72ae84e4c8d568d
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/30/i18n_309feeaa622ed944a72ae84e4c8d568d.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/3a/i18n_3af827acacb5224d509720010613ece4
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/3a/i18n_3af827acacb5224d509720010613ece4.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/3b/i18n_3b75c1f2eeca91b151436138068eff93
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/3b/i18n_3b75c1f2eeca91b151436138068eff93.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/65/autogeneratedcomprehensivetranslationtest_65fe2b2c13468d7aa083cb48344aa003
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/65/autogeneratedcomprehensivetranslationtest_65fe2b2c13468d7aa083cb48344aa003.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d5/i18n_d5a28f9ec7b8b9d3063467eefd2ca4cc
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d5/i18n_d5a28f9ec7b8b9d3063467eefd2ca4cc.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/e3/i18n_e3157669185ca4d2227e17b65dc84ba3
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/e3/i18n_e3157669185ca4d2227e17b65dc84ba3.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/e8/i18n_e8d657ed53bd7b2cf1b715f021d247c0
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/e8/i18n_e8d657ed53bd7b2cf1b715f021d247c0.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  client/src/lib/i18n.ts
  tests/unit/auto-generated-comprehensive-translation.test.ts
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1757097015346.png
Owners: @koveogestion/tech-leads

Add comprehensive tests and logic to ensure user accounts and associated data are fully deleted
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/35/routes_356ac138d3363a505ec754c1b52c2bec
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/35/routes_356ac138d3363a505ec754c1b52c2bec.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/3d/property_3d5a3586e2dac1a3cb8b765ebaac6346
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/3d/property_3d5a3586e2dac1a3cb8b765ebaac6346.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/67/userdeletiontest_67d8f04c01f0386c7d74dfe7be6ae85a
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/67/userdeletiontest_67d8f04c01f0386c7d74dfe7be6ae85a.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  server/api/users.ts
  tests/unit/auth/user-deletion.test.ts
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1757097701370_1757097701371.txt
Owners: @koveogestion/tech-leads

Update building documents button to be static text
  attached_assets/image_1757097752163.png
  client/src/pages/manager/buildings.tsx
Owners: @koveogestion/tech-leads

Remove redundant dashboard button from navigation
  client/src/components/layout/TopNavigationBar.tsx
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1757099185985.png
Owners: @koveogestion/tech-leads

Grant demo managers access to common spaces statistics
  client/src/pages/manager/common-spaces-stats.tsx
  server/api/common-spaces.ts
Owners: @koveogestion/tech-leads

Implement comprehensive testing for demo user security restrictions
  docs/DEMO_USER_TESTING_GUIDE.md
  scripts/validate-demo-security.ts
  tests/security/automated-demo-restrictions.test.ts
  tests/security/demo-user-comprehensive-validation.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Saved your changes before starting work
  attached_assets/image_1757100004496.png
Owners: @koveogestion/tech-leads

Enhance common space booking with detailed availability and closure periods
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/24/enhancedcalendarfeaturestest_2451abb1c699a045fbbd8537d53502ed
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/24/enhancedcalendarfeaturestest_2451abb1c699a045fbbd8537d53502ed.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/7f/enhancedcalendarfeaturestest_7f5d413da339dd10e59c83f722a96909
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/7f/enhancedcalendarfeaturestest_7f5d413da339dd10e59c83f722a96909.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  client/src/pages/residents/common-spaces.tsx
  shared/schemas/property.ts
  tests/unit/calendar/enhanced-calendar-features.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team, @koveogestion/quebec-compliance

Saved your changes before starting work
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-C2gkqdAR-js-136-R-1757101926980_1757101926981.txt
  attached_assets/image_1757101805622.png
Owners: @koveogestion/tech-leads

Improve common space booking calendar and form functionality
  client/src/pages/residents/common-spaces.tsx
Owners: @koveogestion/tech-leads

Update calendar tests with new features and structure
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/23/enhancedcalendarfeaturestest_23c629b63e7f236c10727fec4f7c2fef
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/23/enhancedcalendarfeaturestest_23c629b63e7f236c10727fec4f7c2fef.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  tests/unit/calendar/enhanced-calendar-features.test.ts
Owners: @koveogestion/tech-leads

Fix error when booking available hours in common spaces
  attached_assets/image_1757102715162.png
Owners: @koveogestion/tech-leads

Improve booking request validation to prevent errors
  attached_assets/image_1757103525224.png
  server/api/common-spaces.ts
Owners: @koveogestion/tech-leads

Improve authentication checks to provide more detailed session information
  server/auth.ts
Owners: @koveogestion/security-team

Saved your changes before starting work
  attached_assets/Pasted-index-js-1-content-loaded-index-MospuJzB-js-360-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-0-1757104205741_1757104205742.txt
  attached_assets/image_1757104200698.png
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1757104519902.png
  attached_assets/image_1757104604579.png
  uploads/buildings/6c33804f-8b37-4c89-8b5a-ff3e82c46ac1/409c59a3-49f4-48d8-9c4b-1135eeac4ecb-procÃ¨s verbal 14 avril 2025.pdf
Owners: @koveogestion/tech-leads

Improve document access control with enhanced security checks
  server/api/documents.ts
  tests/integration/document-file-access.test.ts
Owners: @koveogestion/tech-leads
