Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

Fix errors preventing users from accessing parts of the platform
  attached_assets/image_1759360566303.png
Owners: @koveogestion/tech-leads

Update demand document uploads to include original file names
  client/src/pages/ResidentDemandsPage.tsx
  server/api/demands.ts
  server/routes.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Update attachment names for improved clarity and accuracy
  attached_assets/image_1759360880217.png
Owners: @koveogestion/tech-leads

Improve dialog accessibility by providing descriptions
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-vendor-ui-DRWoInZm-js-5-1759443332699_1759443332700.txt
  attached_assets/image_1759443328604.png
Owners: @koveogestion/tech-leads

Add input sanitization to demand data handling to improve security
  server/middleware/input-sanitization.ts
Owners: @koveogestion/tech-leads

Update demand file search to use full file path
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1759443639763_1759443639764.txt
  attached_assets/image_1759443616584.png
  attached_assets/image_1759443645183.png
  server/routes.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Fix error preventing users from retrieving uploaded files
  attached_assets/image_1759443935441.png
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1759546708769.png
  attached_assets/image_1759546753292.png
Owners: @koveogestion/tech-leads

Allow residents to see who booked common spaces
  client/src/pages/residents/common-spaces.tsx
Owners: @koveogestion/tech-leads

Update common spaces booking to refresh relevant data
  client/src/pages/residents/common-spaces.tsx
Owners: @koveogestion/tech-leads

Improve common space booking and display of booked time slots
  attached_assets/image_1759548117746.png
  client/src/pages/residents/common-spaces.tsx
  server/api/common-spaces.ts
Owners: @koveogestion/tech-leads

Fix common spaces booking issues and improve time slot visibility
  replit.md
Owners: @koveogestion/tech-leads

Update how time slots are displayed to show start and end times
  attached_assets/image_1759550918646.png
  client/src/pages/residents/common-spaces.tsx
Owners: @koveogestion/tech-leads

Update booking time display to show start and end hours
  client/src/pages/residents/common-spaces.tsx
Owners: @koveogestion/tech-leads

Correct booking times and statuses for common spaces
  attached_assets/image_1759551399818.png
  attached_assets/image_1759551412309.png
  client/src/pages/residents/common-spaces.tsx
Owners: @koveogestion/tech-leads

Improve availability of specific times for system operations
  attached_assets/image_1759552119320.png
  attached_assets/image_1759552126056.png
Owners: @koveogestion/tech-leads

Allow users to book 30-minute time slots for common spaces
  client/src/pages/residents/common-spaces.tsx
Owners: @koveogestion/tech-leads

Improve booking availability to exclude end-of-day reservations
  attached_assets/image_1759552463913.png
  attached_assets/image_1759552533540.png
  client/src/pages/residents/common-spaces.tsx
Owners: @koveogestion/tech-leads

Improve calendar to show user's bookings in green
  replit.md
Owners: @koveogestion/tech-leads

Improve opening hours check to accurately assess booking times
  attached_assets/image_1759576912508.png
  attached_assets/image_1759576921186.png
  server/api/common-spaces.ts
Owners: @koveogestion/tech-leads

Update opening hours check to account for specific time zones
  attached_assets/image_1759578262656.png
  server/api/common-spaces.ts
Owners: @koveogestion/tech-leads

Improve time zone accuracy for opening hours validation
  replit.md
Owners: @koveogestion/tech-leads

Add debug logs to manager section pages
  attached_assets/image_1759578744031.png
  client/src/pages/manager/BuildingDocuments.tsx
  client/src/pages/manager/ModularBuildingDocuments.tsx
  client/src/pages/manager/ResidenceDocuments.tsx
  client/src/pages/manager/bills.tsx
  client/src/pages/manager/budget.tsx
  client/src/pages/manager/buildings.tsx
  client/src/pages/manager/common-spaces-stats.tsx
  client/src/pages/manager/demands.tsx
  client/src/pages/manager/invoices.tsx
  client/src/pages/manager/maintenance/inventory/InventoryPage.tsx
  client/src/pages/manager/maintenance/projects/ProjectsHeader.tsx
  client/src/pages/manager/maintenance/projects/ProjectsPage.tsx
  client/src/pages/manager/residences.tsx
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Separate user building assignments from residence assignments
  server/api/users.ts
  server/optimized-db-storage.ts
  shared/schemas/property.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team, @koveogestion/quebec-compliance

Restrict manager access to view only assigned buildings
  attached_assets/image_1759580816132.png
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1759581309692.png
  attached_assets/image_1759582279993.png
  attached_assets/image_1759582585867.png
  attached_assets/image_1759584462939.png
Owners: @koveogestion/tech-leads

Restrict manager building view to assigned properties and hide organization button for single org users
  client/src/pages/manager/buildings.tsx
  server/api/buildings.ts
Owners: @koveogestion/tech-leads

Fix user management and building access issues for managers
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-buildings-DWHBkvnq-js-1-1759586039931_1759586039931.txt
  attached_assets/image_1759586033483.png
  client/src/pages/manager/user-management.tsx
  replit.md
Owners: @koveogestion/tech-leads

Add bulk document deletion functionality for buildings
  client/src/components/document-management/DocumentCard.tsx
  client/src/pages/manager/ModularBuildingDocuments.tsx
Owners: @koveogestion/tech-leads

Add bulk document deletion to manager buildings page
  replit.md
Owners: @koveogestion/tech-leads

Enable selection mode for document management to allow bulk editing
  attached_assets/image_1759592090436.png
  client/src/pages/manager/ModularBuildingDocuments.tsx
Owners: @koveogestion/tech-leads

Add functionality to select and delete multiple documents at once
  attached_assets/image_1759592340148.png
  attached_assets/image_1759592345289.png
  client/src/components/common/ModularDocumentPageWrapper.tsx
Owners: @koveogestion/tech-leads

Enable bulk document selection and deletion on the building management page
  client/src/components/common/ModularDocumentPageWrapper.tsx
  client/src/pages/manager/ModularBuildingDocuments.tsx
Owners: @koveogestion/tech-leads

Improve document management and clean up duplicate pages
  replit.md
Owners: @koveogestion/tech-leads

Organize application pages and ensure all pages exist only once
  client/src/pages/Documents.tsx
  client/src/pages/ManagerDemandsPage.tsx
  client/src/pages/ModularDocuments.tsx
  client/src/pages/admin/suggestions-with-filter.tsx
  client/src/pages/index.ts
Owners: @koveogestion/tech-leads

Remove duplicate and unused pages from the application codebase
  replit.md
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1759594614786.png
Owners: @koveogestion/tech-leads

Update residence card text to fit within its boundaries
  attached_assets/image_1759594757154.png
  attached_assets/image_1759594763129.png
  client/src/components/residences/ResidenceCard.tsx
Owners: @koveogestion/tech-leads

Restrict manager access to only assigned residences and buildings
  client/src/pages/manager/residences.tsx
Owners: @koveogestion/tech-leads

Restrict building access for managers to only those they manage
  attached_assets/image_1759595247776.png
  client/src/components/hoc/withHierarchicalSelection.tsx
  server/api/users.ts
Owners: @koveogestion/tech-leads

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team
