Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

Improve suggestion filtering and data retrieval for administrators
  attached_assets/image_1756044292906.png
  client/src/pages/admin/suggestions-with-filter.tsx
  client/src/pages/admin/suggestions.tsx
Owners: @koveogestion/tech-leads

Enhance application speed by optimizing database queries and caching
  server/database-optimization.ts
  server/query-cache.ts
Owners: @koveogestion/tech-leads

Improve application performance through memory management and cache optimization
  client/src/App.tsx
  client/src/lib/queryClient.ts
  client/src/utils/component-loader.ts
  client/src/utils/memory-monitor.ts
Owners: @koveogestion/tech-leads

Enhance API with comprehensive error handling and validation
  server/api/residences-enhanced.ts
  server/index.ts
  server/middleware/error-handler.ts
  server/types/errors.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Enhance testing for core functionalities and access controls
  tests/unit/auth/auth-middleware-comprehensive.test.ts
  tests/unit/auth/rbac-comprehensive.test.ts
  tests/unit/auth/rbac.test.ts
  tests/unit/business-logic/property-management.test.ts
  tests/unit/components/error-handling.test.tsx
Owners: @koveogestion/security-team, @koveogestion/tech-leads, @koveogestion/business-team, @koveogestion/quebec-compliance

Add comprehensive security measures and rate limiting for enhanced protection
  package-lock.json
  package.json
  server/index.ts
  server/middleware/security-middleware.ts
  tests/unit/security/security-headers.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team, @koveogestion/security-team

Update project dependencies and enhance server security configurations
  package-lock.json
  package.json
  server/index.ts
  server/middleware/security-middleware.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team, @koveogestion/security-team

Enhance server security and optimize memory usage
  server/index.ts
  server/middleware/dev-security.ts
  server/middleware/memory-optimization.ts
Owners: @koveogestion/api-team, @koveogestion/tech-leads

Improve application stability and error handling across the platform
  attached_assets/image_1756046938395.png
  attached_assets/image_1756046951771.png
  client/src/lib/queryClient.ts
  client/src/pages/residents/residence.tsx
  config/index.ts
  server/api/residences-enhanced.ts
  server/auth.ts
  server/middleware/dev-security.ts
  server/middleware/error-handler.ts
  server/middleware/memory-optimization.ts
  server/middleware/security-middleware.ts
  server/types/errors.ts
  tests/integration/building-access-validation.test.ts
  tests/security/database-permissions.test.ts
  tests/security/no-config-dependencies.test.ts
  tests/security/permissions-database-only.test.ts
  tests/setup/jest-dom.ts
  tests/unit/auth/auth-middleware-comprehensive.test.ts
  tests/unit/auth/rbac-comprehensive.test.ts
  tests/unit/business-logic/property-management.test.ts
  tests/unit/components/error-handling.test.tsx
  tests/unit/db/building-access-prevention.test.ts
  tests/unit/i18n/language-validation.test.ts
  tests/unit/llm-form-mapping.test.ts
  tests/unit/security/security-headers.test.ts
  tools/enhanced-agent-orchestrator.ts
  types/browser-apis.d.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/business-team, @koveogestion/quebec-compliance, @koveogestion/i18n-team

Improve testing accuracy and data type definitions
  tests/unit/auth/auth-middleware-comprehensive.test.ts
  tests/unit/auth/rbac-comprehensive.test.ts
  tests/unit/auth/rbac.test.ts
  tests/unit/budget/budget-api-integration.test.ts
  tests/unit/buildings-validation.test.ts
  tests/unit/db/building-access-prevention.test.ts
  tests/unit/db/query-scoping.test.ts
  tests/unit/demands/demands-api.test.ts
  tests/unit/i18n/language-validation.test.ts
  tests/unit/i18n/quebec-compliance.test.ts
  tests/unit/money-flow-calculations.test.ts
  tools/intelligent-workflow-assistant.ts
Owners: @koveogestion/security-team, @koveogestion/tech-leads, @koveogestion/i18n-team, @koveogestion/quebec-compliance, @koveogestion/legal-team

Update password verification to use secure hashing
  cookies.txt
  server/auth.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Update password handling to exclusively use bcrypt for security
  cookies.txt
  server/auth.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Add performance optimization rules to improve application speed
  .replit
  tests/security/semgrep-performance-rules.yml
Owners: @koveogestion/tech-leads

Improve security testing and role-based access controls
  .replit
  tests/security/sql-injection-advanced.test.ts
  tests/unit/auth/rbac.test.ts
  tests/unit/i18n/language-validation.test.ts
  tests/utils/mock-translations.ts
Owners: @koveogestion/tech-leads, @koveogestion/i18n-team

Improve error handling and add missing translations for demand statuses
  tests/security/sql-injection-advanced.test.ts
  tests/unit/ui-components.test.tsx
  tests/utils/mock-translations.ts
Owners: @koveogestion/tech-leads

Improve translation testing by using imported utility functions
  tests/unit/i18n/language-validation.test.ts
  tests/utils/mock-translations.ts
  tmp/mock-translations.js
Owners: @koveogestion/i18n-team, @koveogestion/tech-leads

Improve language translation tests for better accuracy
  tests/unit/i18n/language-validation.test.ts
Owners: @koveogestion/i18n-team

Introduce reusable form components for streamlined application development
  client/src/components/common/BillForm.tsx
  client/src/components/common/DemandCard.tsx
  client/src/components/common/DemandFilters.tsx
  client/src/components/common/DocumentManager.tsx
  client/src/components/common/FilterDropdown.tsx
  client/src/components/common/FormInput.tsx
  client/src/components/common/FormSelect.tsx
  client/src/components/common/FormTextArea.tsx
  client/src/components/common/PaginationControls.tsx
  client/src/components/common/SearchInput.tsx
  client/src/lib/apiHelpers.ts
  client/src/lib/formUtils.ts
  client/src/lib/validations.ts
Owners: @koveogestion/tech-leads

Enhance document and demand management with improved filtering and search
  client/src/pages/Documents.tsx
  client/src/pages/ManagerDemandsPage.tsx
  client/src/pages/ResidentDemandsPage.tsx
Owners: @koveogestion/tech-leads

Update document and demand management features for improved user experience
  client/src/pages/Documents.tsx
  client/src/pages/ManagerDemandsPage.tsx
  client/src/pages/ResidentDemandsPage.tsx
Owners: @koveogestion/tech-leads

Standardize page layouts and loading states for consistency
  attached_assets/image_1756078616543.png
  client/src/components/common/LoadingState.tsx
  client/src/components/common/PageHeader.tsx
  client/src/components/common/PageLayout.tsx
  client/src/lib/constants.ts
  client/src/lib/toastUtils.ts
  client/src/pages/ManagerDemandsPage.tsx
  client/src/pages/ResidentDemandsPage.tsx
Owners: @koveogestion/tech-leads

Improve suggestions page functionality by integrating advanced filtering and sorting
  client/src/lib/filter-sort/useFilterSort.ts
  client/src/pages/admin/suggestions-with-filter.tsx
Owners: @koveogestion/tech-leads

Adjust user roles and organization display for dashboard
  client/src/pages/dashboard.tsx
  server/middleware/security-middleware.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Saved your changes before starting work
  attached_assets/image_1756079248345.png
Owners: @koveogestion/tech-leads

Fix password reset process to address various user-reported issues
  attached_assets/image_1756079276662.png
  client/src/pages/auth/forgot-password.tsx
  client/src/pages/auth/reset-password.tsx
Owners: @koveogestion/tech-leads

Improve the system's visual appeal and user interface responsiveness
  attached_assets/image_1756079502721.png
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1756079741138.png
Owners: @koveogestion/tech-leads

Improve how document viewing pages are rendered for better performance
  client/src/App.tsx
Owners: @koveogestion/tech-leads

Update navigation paths and fix document upload/fetching for properties
  client/src/pages/dashboard.tsx
  client/src/pages/manager/BuildingDocuments.tsx
  client/src/pages/manager/ResidenceDocuments.tsx
  client/src/pages/residents/BuildingDocuments.tsx
  server/middleware/security-middleware.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Saved your changes before starting work
  attached_assets/image_1756080176201.png
  attached_assets/image_1756080193594.png
Owners: @koveogestion/tech-leads

Fix errors on the demands page by correcting import paths
  client/src/pages/ResidentDemandsPage.tsx
Owners: @koveogestion/tech-leads

Organize validation logic and improve demand creation interface
  attached_assets/image_1756080338091.png
  client/src/lib/validations.ts
  client/src/pages/ResidentDemandsPage.tsx
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/Pasted-queryClient-ts-71-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-d-1756080537981_1756080537981.txt
  attached_assets/image_1756080529666.png
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  .replit
  attached_assets/Pasted-queryClient-ts-71-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-d-1756080788232_1756080788232.txt
  attached_assets/image_1756080773388.png
Owners: @koveogestion/tech-leads

Update server port configurations to ensure proper application functionality
  .replit
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  .replit
Owners: @koveogestion/tech-leads

Update demo login credentials for better security practices
  client/src/pages/auth/login.tsx
Owners: @koveogestion/tech-leads

Improve script to safely handle server port for application warmup
  scripts/deployment-hooks.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Update demo login credentials for testing
  attached_assets/image_1756081220833.png
  client/src/pages/auth/login.tsx
Owners: @koveogestion/tech-leads

Update user interface to improve visual consistency and appeal
  attached_assets/image_1756081273535.png
Owners: @koveogestion/tech-leads

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team
