Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team

Task #477: Redirect /dashboard to /dashboard/overview
  client/src/App.tsx
Owners: @koveogestion/tech-leads

Add a regression test that proves MCP doesn't load until first hit (task #458)
  __mocks__/server/auth.ts
  server/tests/mcp-lazy-mount.test.ts
Owners: @koveogestion/security-team, @koveogestion/tech-leads

Task #455: Send real document files to Anthropic for richer AI suggestions
  server/api/bulk-import.ts
  server/mcp/bulk-import-tools.ts
  server/services/bulk-import-analyzer.ts
  tests/unit/services/bulk-import-analyzer.test.ts
Owners: @koveogestion/tech-leads

Enhance document import tool with visual building selection and file previews
  client/src/pages/admin/bulk-document-import.tsx
  server/api/bulk-import.ts
Owners: @koveogestion/tech-leads

Task #475: Lock the lazy-mount contract for the OAuth consent UI
  tests/integration/mcp-lazy-mount.test.ts
Owners: @koveogestion/tech-leads

Surface a per-item fallbackReason from the bulk-import analyzer (Task #461)
  client/src/pages/admin/bulk-document-import.tsx
  server/services/bulk-import-analyzer.ts
  shared/schemas/bulk-import.ts
Owners: @koveogestion/tech-leads

Task #471: Lock the lazy-mount contract for the seven heavy /api modules
  server/routes.ts
  tests/integration/heavy-lazy-mounts.test.ts
Owners: @koveogestion/api-team, @koveogestion/tech-leads

Task #463: Cover Anthropic file-upload path with a real-PDF integration test
  tests/integration/bulk-import-screen-file-attachment.test.ts
Owners: @koveogestion/tech-leads

Add comprehensive integration tests for bulk import REST endpoints
  tests/integration/bulk-import-rest-endpoints.test.ts
Owners: @koveogestion/tech-leads

Cache Claude analyses per (contentHash, step, model) — Task #462
  server/services/bulk-import-analyzer.ts
  tests/unit/services/bulk-import-analyzer.test.ts
Owners: @koveogestion/tech-leads

Add startup guard preventing eager imports of lazy-mounted /api modules
  server/routes.ts
  server/utils/heavy-module-guard.ts
  tests/unit/server/heavy-module-guard.test.ts
Owners: @koveogestion/api-team, @koveogestion/tech-leads

Task #483: Cover the analyzer cache with a real-Postgres integration test
  server/tests/bulk-import-analyzer-cache.test.ts
Owners: @koveogestion/tech-leads

Task #479: Cover the rest of the bulk-import AI steps with real-PDF integration tests
  tests/integration/bulk-import-ai-steps-file-attachment.test.ts
Owners: @koveogestion/tech-leads

Task #478 — Lock the lazy-mount contract for non-MCP route modules
  tests/integration/non-mcp-lazy-mount.test.ts
Owners: @koveogestion/tech-leads

Add a history view to display past document import sessions
  client/src/pages/admin/bulk-document-import.tsx
Owners: @koveogestion/tech-leads

Task #488: Add static guard for new heavy server/api modules
  tests/unit/server/heavy-api-modules-guard.test.ts
Owners: @koveogestion/tech-leads

Task #489: Defer the six largest eager API modules behind lazyMount
  server/routes.ts
  tests/integration/heavy-lazy-mounts.test.ts
  tests/unit/server/heavy-api-modules-guard.test.ts
Owners: @koveogestion/api-team, @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/Pasted-index-BD905jU-js-2-O11Y-DatadogRUM-Initialized-Object-i_1777041096607.txt
  attached_assets/image_1777041082203.png
Owners: @koveogestion/tech-leads

Saved progress at the end of the loop
  .replit
Owners: @koveogestion/tech-leads

Fix 2 high-severity dependency vulnerabilities in xlsx@0.18.5
  package-lock.json
  package.json
  server/services/bulk-import-analyzer.ts
  server/services/consolidated-ai-service.ts
  server/tests/document-tag-suggestion-office-e2e.test.ts
  server/tests/suggest-document-tags-office.test.ts
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1777045166450.png
Owners: @koveogestion/tech-leads

Prevent migration script from auto-executing when bundled
  scripts/run-migrations.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Add fallbackReason regression tests for bulk-import analyzer (Task #493)
  tests/unit/services/bulk-import-analyzer.test.ts
Owners: @koveogestion/tech-leads

Sweep orphaned invitations created before the cascade fix (task #392)
  scripts/sweep-orphaned-invitations.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Stop diagnostic headers from leaking into normal API responses (Task #398)
  server/api/optimized-documents.ts
  server/tests/optimized-documents-diagnostics.test.ts
Owners: @koveogestion/tech-leads

Add real-Postgres integration tests for MCP update_building/update_residence
  server/tests/mcp-property-update-integration.test.ts
Owners: @koveogestion/tech-leads

Git commit prior to merge
  attached_assets/Pasted--index-1-Banner-not-shown-beforeinstallpromptevent-prev_1777046138247.txt
Owners: @koveogestion/tech-leads

Task #391: Add invitations FK constraints
  tests/integration/invitations-fk-constraints.test.ts
  tests/integration/mcp-delete-building-cascade.test.ts
  tests/integration/mcp-delete-residence-cascade.test.ts
Owners: @koveogestion/tech-leads

Task #388: MCP update_building keeps residences in sync
  server/mcp/server.ts
  tests/integration/mcp/update-building-residence-sync.test.ts
Owners: @koveogestion/tech-leads

Cover AI bill data extraction with mocked unit/route tests (Task #358)
  server/tests/ai-document-analyze.test.ts
Owners: @koveogestion/tech-leads

Refine document edit tag suggestions using extracted text
  client/src/components/document-management/DocumentEditForm.tsx
  server/api/documents.ts
  server/services/document-text-extractor.ts
Owners: @koveogestion/tech-leads

Task #327: Add coverage for the manager-only document filter
  tests/integration/document-manager-only-visibility.test.ts
  tests/unit/components/modular-document-page-manager-only-filter.test.tsx
Owners: @koveogestion/tech-leads

Task #296 — Surface delete_project in MCP docs
  CHANGELOG.md
  replit.md
Owners: @koveogestion/tech-leads

Task #295: Add mocked unit test for delete_project MCP tool
  server/tests/mcp-tools.test.ts
Owners: @koveogestion/tech-leads

Add integration test for AI bill extraction installment detection (Task #370)
  client/src/components/bill-management/ModularBillForm.tsx
  tests/unit/bill-management/GeminiBillExtractor-installment.integration.test.tsx
Owners: @koveogestion/tech-leads

Task #298: Make get_mcp_info enumerate every registered MCP tool
  tests/unit/api/mcp-get-mcp-info-tools-list.test.ts
Owners: @koveogestion/tech-leads

Allow MCP demand and demand-comment tools to attach files
  server/mcp/server.ts
  shared/schemas/operations.ts
  tests/unit/api/mcp-demand-tools.test.ts
Owners: @koveogestion/tech-leads

Add MCP tools for post-work element project updates (Task #308)
  server/mcp/server.ts
Owners: @koveogestion/tech-leads

Show period column header on the Gantt timeline (Task #303)
  client/src/components/GanttChart.tsx
Owners: @koveogestion/tech-leads

Task #316: Let AI assistants reopen and revert project workflow stages
  server/mcp/server.ts
Owners: @koveogestion/tech-leads
