Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team

Add user authentication and authorization features to the platform
  attached_assets/image_1757258050220.png
  attached_assets/image_1757258194246.png
Owners: @koveogestion/tech-leads

Streamline bill creation and editing by unifying form components
  client/src/components/BillCreateForm.tsx
  client/src/components/BillEditForm.tsx
  client/src/components/common/CollapsibleGroup.tsx
  client/src/components/common/StandardCard.tsx
  client/src/components/common/StandardUploadForm.tsx
  client/src/pages/manager/bills.tsx
Owners: @koveogestion/tech-leads

Update bill form to use modular component for receipt uploads
  tests/unit/file-upload-forms.test.tsx
Owners: @koveogestion/tech-leads

Update project configuration for enhanced testing and database integration
  drizzle.config.ts.backup
  jest.config.cjs.backup
Owners: @koveogestion/tech-leads

Update project dependencies to newer versions
  attached_assets/image_1757259446596.png
  package.json
Owners: @koveogestion/tech-leads

Add comprehensive translations for all application features and user management actions
  client/src/lib/i18n.ts.backup
  client/src/lib/i18n.ts.corrupted
  jest.setup.ts.backup
Owners: @koveogestion/tech-leads

Remove unused image assets from the project
  attached_assets/image_1757259829901.png
  attached_assets/image_1757259855158.png
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1757259972019.png
Owners: @koveogestion/tech-leads

Create a reusable card component for displaying no data states
  client/src/components/ui/no-data-card.tsx
Owners: @koveogestion/tech-leads

Add common components for displaying no data messages
  client/src/lib/i18n.ts
  package-lock.json
Owners: @koveogestion/tech-leads

Introduce a reusable component for displaying "no data available" messages
  client/src/lib/i18n.ts
  client/src/pages/manager/buildings.tsx
Owners: @koveogestion/tech-leads

Improve consistency by using a shared component for no data messages
  client/src/pages/residents/residence.tsx
Owners: @koveogestion/tech-leads

Add a reusable card component to display no data messages across the application
  client/src/lib/i18n.ts
  client/src/pages/manager/common-spaces-stats.tsx
Owners: @koveogestion/tech-leads

Add tests for the common no data card component
  tests/unit/no-data-card.test.tsx
Owners: @koveogestion/tech-leads

Create a reusable component for displaying no data messages
  client/src/components/dashboard/law25-compliance.tsx
  client/src/components/ssl/SslCertificateInfo.tsx
  client/src/lib/i18n.ts
Owners: @koveogestion/tech-leads

Add translations for the user invitation management tab
  client/src/lib/i18n.ts
Owners: @koveogestion/tech-leads

Add translations for the user invitation management tab
  client/src/components/InvitationManagement.tsx
Owners: @koveogestion/tech-leads

Add translation tests for the invitation tab in user management
  tests/unit/invitation-tab-translation.test.tsx
Owners: @koveogestion/tech-leads

Improve invitation tab translation coverage and component functionality
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/0d/InvitationManagement_0dc1e527605fcfe571e607061f5d6bb3
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/0d/InvitationManagement_0dc1e527605fcfe571e607061f5d6bb3.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/13/index_1305d0108ba6faafd6e6c6748c20b2ed
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/13/index_1305d0108ba6faafd6e6c6748c20b2ed.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/5e/invitationtabtranslationtest_5ec52eb331ef7351d05c210f910842fe
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/5e/invitationtabtranslationtest_5ec52eb331ef7351d05c210f910842fe.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/62/alertdialog_62dbc7b8283a192636a9d7ea24a0f6b2
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/62/alertdialog_62dbc7b8283a192636a9d7ea24a0f6b2.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/62/table_62d7abb56269d2a0fec17ea59dee58d9
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/62/table_62d7abb56269d2a0fec17ea59dee58d9.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/6a/invitationtabtranslationtest_6a04ab6514a5965a6affe1e28051b98f
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/6a/invitationtabtranslationtest_6a04ab6514a5965a6affe1e28051b98f.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/7f/nodatacard_7f425c942884555b72753863b8ba5ca8
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/7f/nodatacard_7f425c942884555b72753863b8ba5ca8.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/ce/invitationtabtranslationtest_ceece583b361739809af8551d3912f1e
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/ce/invitationtabtranslationtest_ceece583b361739809af8551d3912f1e.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/e8/invitationtabtranslationtest_e84098de29e14a08b6d4a6d5a19b2374
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/e8/invitationtabtranslationtest_e84098de29e14a08b6d4a6d5a19b2374.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  tests/unit/invitation-tab-translation.test.tsx
Owners: @koveogestion/tech-leads

Update property types to include only condos and apartments
  shared/schemas/property.ts
Owners: @koveogestion/business-team, @koveogestion/quebec-compliance

Update building categories to condo and appartement
  client/src/components/buildings/building-card.tsx
  client/src/components/buildings/building-form.tsx
  client/src/lib/i18n.ts
  client/src/pages/manager/buildings.tsx
Owners: @koveogestion/tech-leads

Update building types to include condos and apartments
  client/src/lib/i18n.ts
Owners: @koveogestion/tech-leads

Improve documentation retrieval and content generation for the platform
  server/api/documentation.ts
  server/routes.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Improve and expand documentation details for admin users
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1757263002814_1757263002815.txt
  client/src/pages/admin/documentation.tsx
Owners: @koveogestion/tech-leads

Update documentation to include project overview and version details
  client/src/pages/admin/documentation.tsx
Owners: @koveogestion/tech-leads

Update documentation page to display system component statistics
  client/src/pages/admin/documentation.tsx
Owners: @koveogestion/tech-leads

Enhance documentation generation with LLM and Git integration
  client/src/pages/admin/documentation.tsx
  package-lock.json
  package.json
  server/api/documentation.ts
Owners: @koveogestion/tech-leads

Improve bill management with translated labels and month selection
  client/src/pages/manager/bills.tsx
Owners: @koveogestion/tech-leads

Update caching and file transformations for improved test performance
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/25/DocumentEditForm_2562d10c575953b4acf9a8d30049d67d
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/25/DocumentEditForm_2562d10c575953b4acf9a8d30049d67d.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/34/bills_345fd99b18c4b5dfb96217d37441ea9b
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/34/bills_345fd99b18c4b5dfb96217d37441ea9b.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/34/routes_340bc77759b215b9341369b91eb4bb94
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/34/routes_340bc77759b215b9341369b91eb4bb94.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/53/i18n_53d889af084d76c729bfed5abd9efa96
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/53/i18n_53d889af084d76c729bfed5abd9efa96.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/5d/translationerrordetectiontest_5d7640584b6dcfe97a753ffc8a86ae76
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/5d/translationerrordetectiontest_5d7640584b6dcfe97a753ffc8a86ae76.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/7a/optimizeddbstorage_7abebeac665c9fb35962efdd7d584e71
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/7a/optimizeddbstorage_7abebeac665c9fb35962efdd7d584e71.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/86/budget_8638b019ac1d8f7572616b61f43b81d1
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/86/budget_8638b019ac1d8f7572616b61f43b81d1.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/88/nodatacardtest_88c1a072355302c46a8ee3d4af48fba3
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/88/nodatacardtest_88c1a072355302c46a8ee3d4af48fba3.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/c2/fileuploadformstest_c2c6d8725f6e0ce650310da9587d3126
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/c2/fileuploadformstest_c2c6d8725f6e0ce650310da9587d3126.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d1/buildings_d154eabeef517f88bc03efa115ef9d37
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d1/buildings_d154eabeef517f88bc03efa115ef9d37.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d4/undefinedvariabledetectiontest_d454e3d4e79816f6bb20ed782e39dd1d
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d4/undefinedvariabledetectiontest_d454e3d4e79816f6bb20ed782e39dd1d.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d7/property_d7e4e75c524039a74e37d4e4684e4950
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d7/property_d7e4e75c524039a74e37d4e4684e4950.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
Owners: @koveogestion/tech-leads

Update translations to remove duplicate invitation management entries
  client/src/lib/i18n.ts
Owners: @koveogestion/tech-leads

Improve error handling for copying and saving feature prompts
  client/src/components/common/StandardUploadForm.tsx
  client/src/components/forms/feature-form/prompt-display.tsx
  client/src/components/forms/feature-form/use-feature-form-data.tsx
  client/src/components/roadmap/actionable-items-panel.tsx
Owners: @koveogestion/tech-leads

Update translations to enhance platform's multilingual capabilities
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/dd/i18n_dd7e6913acdb151cb763711e9048ea38
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/dd/i18n_dd7e6913acdb151cb763711e9048ea38.map
Owners: @koveogestion/tech-leads

Improve test reliability by fixing cache issues
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
Owners: @koveogestion/tech-leads

Summarize ongoing test infrastructure issues and recent fixes
  test_issues_context.md
  test_issues_summary.txt
Owners: @koveogestion/tech-leads

Update database schemas for development and production environments
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1757266693369_1757266693370.txt
  attached_assets/image_1757266698278.png
  attached_assets/image_1757266763188.png
Owners: @koveogestion/tech-leads

Update production database configuration for schema migrations
  drizzle.config.production.ts
Owners: @koveogestion/tech-leads

Update database schemas for production and development environments
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1757266847049_1757266847050.txt
  attached_assets/image_1757266843404.png
  drizzle.config.production.ts
Owners: @koveogestion/tech-leads

Add translations for bill management and improve testing accessibility
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1757266889380_1757266889381.txt
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1757266971397_1757266971398.txt
  attached_assets/image_1757266885097.png
  attached_assets/image_1757266967766.png
  client/src/pages/manager/bills.tsx
Owners: @koveogestion/tech-leads

Enhance testing to include accessibility checks across all application pages
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1757267008700_1757267008700.txt
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1757267040666_1757267040667.txt
  attached_assets/image_1757267001731.png
  attached_assets/image_1757267033095.png
  tests/integration/page-accessibility.test.tsx
Owners: @koveogestion/tech-leads

Improve test coverage by adding accessibility checks to all pages
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1757267066374_1757267066374.txt
  attached_assets/image_1757267062858.png
Owners: @koveogestion/tech-leads
