Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team

Update bulk action labels and descriptions for a better user experience
  client/src/components/admin/bulk-actions-bar-v2.tsx
Owners: @koveogestion/tech-leads

Add comprehensive security tests to protect against common vulnerabilities
  .semgrep.yml
  package.json.security
  reports/semgrep-results.json
  scripts/run-security-tests.sh
  tests/security/semgrep-security.test.js
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Improve security by addressing data transfer and code vulnerabilities
  reports/owasp-results.json
  reports/semgrep-results.json
Owners: @koveogestion/tech-leads

Update dependencies and address security vulnerabilities
  package-lock.json
  package.json
  server/api/delayed-updates.ts
  server/api/money-flow.ts
  server/auth.ts
  tools/ai-agent-toolkit.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Fix errors in system updates and authentication processes
  server/api/delayed-updates.ts
  server/api/money-flow.ts
  server/auth.ts
  tools/ai-agent-toolkit.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Improve error handling and type safety throughout the application
  server/auth.ts
  server/routes-minimal.ts
  tests/security/sql-injection-unit.test.ts
Owners: @koveogestion/security-team, @koveogestion/tech-leads

Fix compilation errors and undeclared variables in tools and tests
  tests/utils/test-utils.tsx
  tools/enhanced-agent-orchestrator.ts
  tools/intelligent-workflow-assistant.ts
Owners: @koveogestion/tech-leads

Improve test suite error handling and reporting
  tests/test-utils.tsx
  tests/ui/card-text-formatting.test.tsx
  tests/ui/responsive-card-layout.test.tsx
  tests/ui/visual-regression.test.tsx
  tests/unit/quality-metrics.test.ts
  tests/unit/translation-validation.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/i18n-team

Improve testing infrastructure and refine translation validation logic
  package.json
  tests/ui/card-text-formatting.test.tsx
  tests/ui/responsive-card-layout.test.tsx
  tests/ui/visual-regression.test.tsx
  tests/unit/translation-validation.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/i18n-team

Improve error handling for document management operations
  client/src/components/BillCreateForm.tsx
  client/src/pages/Documents.tsx
Owners: @koveogestion/tech-leads

Fix user data and test errors for reliable deployments
  tests/e2e/buildings-workflow.test.tsx
  tests/unit/user-api.test.ts
  tests/utils/coverage-automation.ts
Owners: @koveogestion/tech-leads

Improve test stability by fixing type errors and mock configurations
  package-lock.json
  tests/e2e/buildings-workflow.test.tsx
  tests/unit/db/query-scoping.test.ts
  tsconfig.build.json
Owners: @koveogestion/tech-leads

Update tables to use modern data access methods and improve organization display
  client/src/components/admin/invitation-management-v2.tsx
  client/src/components/admin/organizations-card-v2.tsx
Owners: @koveogestion/tech-leads

Refine invitation and organization tables for better clarity
  client/src/components/admin/invitation-management-v2.tsx
  client/src/components/admin/organizations-card-v2.tsx
  client/src/components/admin/send-invitation-dialog-v2.tsx
  client/src/components/admin/send-invitation-dialog.tsx
  client/src/components/admin/user-list.tsx
  client/src/components/auth/registration-wizard.tsx
  tests/unit/buildings-validation.test.ts
  tests/unit/demands/demands-api.test.ts
Owners: @koveogestion/tech-leads

Improve data table and form handling for better user experience
  client/src/components/dashboard/replit-ai-monitoring-v2.tsx
  client/src/components/demands/demand-details-popup-v2.tsx
  client/src/components/dialogs/delete-confirmation-dialog.tsx
  client/src/components/forms/feature-form-refactored.tsx
  client/src/components/forms/feature-form-v2.tsx
Owners: @koveogestion/tech-leads

Fix role case mismatches and missing properties in test files
  client/src/components/forms/feature-form-v2.tsx
  tests/unit/auth/rbac.test.ts
  tests/unit/gemini-analysis.test.ts
  tests/unit/roadmap-component.test.tsx
Owners: @koveogestion/tech-leads

Update system permissions and refine Gemini API testing Refactor RBAC permissions and improve Gemini API test mocks.
  tests/unit/auth/rbac.test.ts
  tests/unit/gemini-analysis.test.ts
Owners: @koveogestion/tech-leads

Fix logging and permission errors across the application
  client/src/components/forms/feature-form.tsx
  client/src/components/forms/feature-form/use-feature-form-data.tsx
  config/permissions-schema.ts
  server/jobs/index.ts
  server/jobs/ssl_renewal_job.ts
  tests/unit/auth/rbac.test.ts
Owners: @koveogestion/tech-leads

Improve permission checks and refine test assertions
  tests/unit/auth/rbac.test.ts
  tests/unit/gemini-analysis.test.ts
Owners: @koveogestion/tech-leads

Update test configuration to correctly mock assets and paths
  jest.config.js
Owners: @koveogestion/quality-team

Improve test configuration for more reliable test execution
  package.json
Owners: @koveogestion/tech-leads

Refine system tests and update validation rules for better accuracy
  client/src/hooks/use-auth.tsx
  tests/unit/auth/rbac.test.ts
  tests/unit/buildings-basic.test.tsx
  tests/unit/components.test.tsx
  tests/unit/demands/demands-schema.test.ts
  tests/utils/test-providers.tsx
Owners: @koveogestion/tech-leads

Update tests to use demo organization data instead of mock data
  .replit
  tests/routing/route-validation.test.tsx
  tests/unit/demands/demands-schema.test.ts
  tests/unit/i18n/language-validation.test.ts
  tests/unit/payment-plan-validation.test.ts
  tests/utils/demo-data-helpers.ts
  tests/utils/mock-database.ts
  tests/utils/mock-translations.ts
Owners: @koveogestion/tech-leads, @koveogestion/i18n-team

Adjust application ports for external access and local development
  .replit
Owners: @koveogestion/tech-leads

Enhance user roles and improve testing coverage for compliance features
  attached_assets/image_1755833728033.png
  shared/schemas/operations.ts
  tests/unit/auth/rbac.test.ts
  tests/unit/components.test.tsx
  tests/unit/i18n/quebec-compliance.test.ts
  tests/utils/test-providers.tsx
Owners: @koveogestion/tech-leads, @koveogestion/quebec-compliance, @koveogestion/legal-team

Update documentation to reflect test suite improvements
  replit.md
Owners: @koveogestion/tech-leads

Redirect unauthorized users to the homepage for a smoother experience
  client/src/hooks/use-auth.tsx
Owners: @koveogestion/tech-leads

Improve error reporting for all quality check scripts
  scripts/run-quality-check.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Fix TypeScript errors in deployment configurations
  client/src/pages/manager/budget.tsx
  scripts/run-quality-check.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Ensure Demo organization data is ready for production deployment
  replit.md
Owners: @koveogestion/tech-leads

Update project dependencies and fix deployment configuration errors
  package-lock.json
  package.json
Owners: @koveogestion/tech-leads

Enhance security and quality with expanded code analysis tests
  tests/security/semgrep-compliance.test.ts
  tests/security/semgrep-extended-rules.yml
  tests/security/semgrep-extended.test.ts
  tests/security/semgrep-performance.test.ts
  tests/security/semgrep-security.test.ts
Owners: @koveogestion/tech-leads

Enhance security by adding more tests for role-based access control validation
  tests/security/rbac-integration.test.ts
  tests/security/rbac-middleware.test.ts
  tests/security/rbac-validation.test.ts
Owners: @koveogestion/tech-leads

Add comprehensive tests for Demo Organization operations
  tests/integration/demo-organization.test.ts
Owners: @koveogestion/tech-leads

Expand user permissions and enhance system administration capabilities
  config/permissions.json
  server/index.ts
  tests/integration/demo-organization.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Add fullscreen functionality to enhance user experience on key pages
  client/src/hooks/use-fullscreen.ts
  client/src/pages/dashboard.tsx
  client/src/pages/manager/budget.tsx
  client/src/pages/residents/dashboard.tsx
Owners: @koveogestion/tech-leads

Improve sidebar translation for better user experience
  client/src/components/layout/sidebar.tsx
Owners: @koveogestion/tech-leads

Enhance testing to cover more user flows and component behaviors
  attached_assets/Screenshot_20250822-090947_1755868195316.png
  tests/api/comprehensive-translation.test.ts
  tests/e2e/comprehensive-user-flows.test.tsx
  tests/integration/budget-mobile-responsiveness.test.tsx
  tests/integration/dashboard-fullscreen.test.tsx
  tests/performance/component-performance.test.tsx
  tests/unit/components/sidebar.test.tsx
  tests/unit/hooks/fullscreen.test.tsx
Owners: @koveogestion/tech-leads

Update sidebar to use language directly for translations
  client/src/components/layout/sidebar.tsx
Owners: @koveogestion/tech-leads

Expand testing coverage for the budget page's functionality
  tests/e2e/budget-user-workflows.test.tsx
  tests/integration/budget-business-logic.test.tsx
  tests/unit/budget/bank-account-management.test.tsx
  tests/unit/pages/budget.test.tsx
Owners: @koveogestion/tech-leads
