Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team

Improve accessibility by adding autocomplete attributes to password fields
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1757267107928_1757267107928.txt
  attached_assets/image_1757267095019.png
Owners: @koveogestion/tech-leads

Remove summary statistics from the documentation page
  attached_assets/image_1757267139885.png
  client/src/pages/admin/documentation.tsx
Owners: @koveogestion/tech-leads

Add new endpoints for pillar suggestions and quality metrics
  attached_assets/image_1757267375139.png
  attached_assets/image_1757267387103.png
  attached_assets/image_1757267405894.png
  attached_assets/image_1757267426658.png
  server/api/pillars-suggestions.ts
  server/api/quality-metrics.ts
  server/routes.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Add feature management and synchronization capabilities to the platform
  server/api/feature-management.ts
  server/routes.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Update quality metrics to fetch latest data reliably
  attached_assets/image_1757268965574.png
  client/src/components/dashboard/quality-metrics.tsx
Owners: @koveogestion/tech-leads

Update Law 25 compliance endpoint to improve error handling and data accuracy
  server/routes.ts
  server/routes/law25-compliance.ts
Owners: @koveogestion/api-team, @koveogestion/tech-leads

Update access control for viewing user permissions
  server/api/permissions.ts
Owners: @koveogestion/tech-leads

Improve password input fields for better security and usability
  client/src/pages/settings/settings.tsx
Owners: @koveogestion/tech-leads

Improve bug report filtering to respect user roles
  client/src/pages/settings/bug-reports.tsx
Owners: @koveogestion/tech-leads

Add integration tests for admin page functionality and fixes
  tests/integration/admin-pages-functionality.test.ts
Owners: @koveogestion/tech-leads

Enhance bug report access controls to ensure proper user permissions
  tests/integration/bug-reports-rbac.test.ts
Owners: @koveogestion/tech-leads

Improve password field functionality and add autocomplete attributes
  tests/unit/settings-autocomplete.test.tsx
Owners: @koveogestion/tech-leads

Enhance API authorization and form validation for improved security and user experience
  tests/integration/api-authorization-fixes.test.ts
  tests/unit/form-fixes-validation.test.ts
Owners: @koveogestion/tech-leads

Improve document page layout with new design elements and navigation
  client/src/components/common/ModularDocumentPageWrapper.tsx
Owners: @koveogestion/tech-leads

Improve the layout and functionality of the idea submission page
  client/src/pages/settings/idea-box.tsx
Owners: @koveogestion/tech-leads

Update document page structure with new header and back button layout
  client/src/components/common/ModularDocumentPageWrapper.tsx
Owners: @koveogestion/tech-leads

Improve document page layout and category filtering
  client/src/components/common/ModularDocumentPageWrapper.tsx
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1757271082987.png
Owners: @koveogestion/tech-leads

Move pagination to bottom and fix page number display
  attached_assets/image_1757271162661.png
  attached_assets/image_1757271204838.png
  client/src/pages/ResidentDemandsPage.tsx
Owners: @koveogestion/tech-leads

Adjust property listing pagination and correct page number display
  uploads/residences/876d0f76-47e9-4ea9-a0cd-5e0de9956010/c62ed08d-779c-4797-8d76-8c5c553f5da8-ImagefactureNonTaxable_texte (2).jpg
Owners: @koveogestion/tech-leads

Add ability to view and delete documents in edit mode
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1757271279594_1757271279594.txt
Owners: @koveogestion/tech-leads

Add document deletion and viewing capabilities, fixing download errors
  attached_assets/image_1757271338560.png
  client/src/components/common/ModularDocumentPageWrapper.tsx
  client/src/components/document-management/DocumentEditForm.tsx
Owners: @koveogestion/tech-leads

Add ability to view documents and delete them from edit pages
  client/src/components/common/ModularDocumentPageWrapper.tsx
Owners: @koveogestion/tech-leads

Improve bug visibility for different user roles
  attached_assets/image_1757271454815.png
Owners: @koveogestion/tech-leads

Improve bug report display by correctly parsing API responses
  client/src/pages/settings/bug-reports.tsx
Owners: @koveogestion/tech-leads

Fix issue where delete button functionality was not working
  client/src/components/document-management/DocumentEditForm.tsx
Owners: @koveogestion/tech-leads

Improve hamburger menu interactions for better user experience
  attached_assets/image_1757271648958.png
  client/src/components/ui/hamburger-menu.tsx
Owners: @koveogestion/tech-leads

Update the platform to include new image assets
  attached_assets/image_1757271799267.png
Owners: @koveogestion/tech-leads

Improve application performance with optimized loading and database queries
  client/src/utils/component-loader.ts
  server/optimized-db-storage.ts
  server/query-cache.ts
Owners: @koveogestion/tech-leads

Improve French translations for a more comprehensive user experience
  client/src/lib/i18n.ts
  fix-translations.js
Owners: @koveogestion/tech-leads

Fix testing issues by mocking AI dependencies and improving translation script
  fix-translations.js
  jest.config.cjs
  tests/mocks/googleGenaiMock.js
Owners: @koveogestion/tech-leads

Improve test reliability by updating database and server configuration mocks
  jest.config.cjs
  tests/mocks/serverConfigMock.js
  tests/mocks/serverDbMock.js
Owners: @koveogestion/tech-leads

Improve test reliability by mocking file system and network operations
  jest.config.cjs
  tests/mocks/fileSystemMock.js
  tests/mocks/supertestMock.js
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/Pasted-index-kOYrTnP7-js-360-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-repl-1757274055708_1757274055709.txt
  attached_assets/image_1757274046593.png
Owners: @koveogestion/tech-leads

Improve application stability by fixing an issue with the roadmap page
  server/routes.ts
Owners: @koveogestion/api-team, @koveogestion/tech-leads

Fix error occurring when viewing roadmap information
  uploads/buildings/6c33804f-8b37-4c89-8b5a-ff3e82c46ac1/66d0c28f-f60e-4a14-931d-ebeb0711f88c-facture_rÃ©servation_nom_entreprise.pdf
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1757274296477.png
Owners: @koveogestion/tech-leads

Improve hamburger menu behavior by closing it when clicking outside
  client/src/components/ui/hamburger-menu.tsx
Owners: @koveogestion/tech-leads

Remove unused French translations from the application
  client/src/lib/i18n.ts
Owners: @koveogestion/tech-leads

Improve hamburger menu behavior by closing it when clicking outside
  client/src/components/ui/hamburger-menu.tsx
Owners: @koveogestion/tech-leads
