Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

Restrict user invitations to organization members
  client/src/components/admin/send-invitation-dialog.tsx
  server/auth/invitation-rbac.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Saved your changes before starting work
  attached_assets/Pasted-queryClient-ts-99-Query-error-SyntaxError-Unexpected-token-DOCTYPE-is-not-valid-JSON--1755652943159_1755652943160.txt
  attached_assets/image_1755652935606.png
Owners: @koveogestion/tech-leads

Add ability to view and create organizations on the platform
  client/src/components/forms/organization-form.tsx
  server/api/organizations.ts
  shared/schema.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Add a delete confirmation dialog with impact analysis
  attached_assets/image_1755655010812.png
  client/src/components/admin/organizations-card.tsx
  client/src/components/dialogs/delete-confirmation-dialog.tsx
  client/src/pages/manager/buildings.tsx
  server/api/buildings.ts
  server/api/organizations.ts
Owners: @koveogestion/tech-leads

Add ability to view and update actionable items for features
  attached_assets/image_1755655148040.png
  server/routes-minimal.ts
Owners: @koveogestion/tech-leads

Automatically create residences when a new building is added
  attached_assets/image_1755655232874.png
Owners: @koveogestion/tech-leads

Fix organization deletion to accurately count associated documents
  attached_assets/image_1755655453476.png
  server/api/organizations.ts
Owners: @koveogestion/tech-leads

Improve roadmap feature loading and data handling for better performance
  attached_assets/image_1755655585781.png
  client/src/pages/admin/roadmap.tsx
Owners: @koveogestion/tech-leads

Update pagination to allow direct page entry and show total pages
  attached_assets/image_1755655644903.png
  client/src/pages/manager/residences.tsx
Owners: @koveogestion/tech-leads

Show what will be deleted when an organization is removed
  server/api/organizations.ts
Owners: @koveogestion/tech-leads

Fix errors preventing users from viewing roadmap feature details
  client/src/pages/admin/roadmap.tsx
Owners: @koveogestion/tech-leads

Adjust document access rules and data structure for better organization
  attached_assets/image_1755656187019.png
  server/storage.ts
  shared/schema.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Fix error when opening feature details in the roadmap
  client/src/components/forms/feature-form.tsx
Owners: @koveogestion/tech-leads

Improve code quality and consistency across the platform
  client/src/components/ObjectUploader.tsx
  client/src/components/auth/steps/quebec-privacy-consent-step.tsx
  client/src/components/dialogs/delete-confirmation-dialog.tsx
  client/src/components/filter-sort/FilterSort.tsx
  client/src/components/forms/organization-form.tsx
  client/src/pages/Documents.tsx
  client/src/pages/auth/forgot-password.tsx
  client/src/pages/auth/reset-password.tsx
  server/api/buildings.ts
  server/api/documents.ts
  server/api/organizations.ts
  server/objectStorage.ts
  server/optimized-db-storage.ts
  server/services/email-service.ts
  server/storage.ts
  shared/schema.ts
  tests/unit/invitation/password-validation.test.ts
  tests/unit/language-validation.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins, @koveogestion/i18n-team

Improve documentation, component logic, and data handling across the platform
  client/src/components/ObjectUploader.tsx
  client/src/components/admin/organizations-card.tsx
  server/storage.ts
  tests/unit/db/query-scoping.test.ts
  tests/unit/hooks.test.tsx
  tests/unit/language-validation.test.ts
  types/global.d.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins, @koveogestion/i18n-team

Update documentation and refine query scoping tests
  docs/IMPROVEMENT_REPORT.md
  tests/unit/db/query-scoping.test.ts
Owners: @koveogestion/tech-leads

Improve search, sorting, and quality metric accuracy
  tests/unit/filter-sort.test.ts
  tests/unit/quality-metrics.test.ts
Owners: @koveogestion/tech-leads

Update suggestions page to show the latest improvements automatically
  attached_assets/Screenshot_20250819-225918_1755658776541.png
  client/src/pages/admin/suggestions.tsx
  server/routes-minimal.ts
Owners: @koveogestion/tech-leads

Add comprehensive tests to guard against SQL injection attacks
  tests/security/README.md
  tests/security/sql-injection-advanced.test.ts
  tests/security/sql-injection-summary.test.ts
  tests/security/sql-injection-unit.test.ts
  tests/security/sql-injection.test.ts
Owners: @koveogestion/tech-leads

Update organization deletion impact to include invitations
  server/api/organizations.ts
Owners: @koveogestion/tech-leads

Enhance feature planning and AI prompt generation capabilities
  client/src/components/forms/feature-form-refactored.tsx
  client/src/components/forms/feature-form/form-sections.tsx
  client/src/components/forms/feature-form/index.ts
  client/src/components/forms/feature-form/prompt-display.tsx
  client/src/components/forms/feature-form/prompt-generator.tsx
  client/src/components/forms/feature-form/rbac-configuration.tsx
  client/src/components/forms/feature-form/use-feature-form-data.tsx
  client/src/components/forms/feature-form/use-feature-form-mutations.tsx
  client/src/components/roadmap/actionable-items-list.tsx
  client/src/components/roadmap/feature-card.tsx
  client/src/components/roadmap/feature-duplicate-analysis.tsx
  client/src/components/roadmap/feature-status-badges.tsx
  client/src/components/roadmap/llm-help-form.tsx
  client/src/components/roadmap/roadmap-section.tsx
  client/src/pages/admin/roadmap.tsx
  server/api/buildings-refactored.ts
  server/api/buildings/access-control.ts
  server/api/buildings/index.ts
  server/api/buildings/operations.ts
  server/api/buildings/queries.ts
  server/api/buildings/statistics.ts
  server/api/buildings/validation.ts
  shared/schema.ts
  shared/schemas/core.ts
  shared/schemas/development.ts
  shared/schemas/documents.ts
  shared/schemas/financial.ts
  shared/schemas/infrastructure.ts
  shared/schemas/monitoring.ts
  shared/schemas/operations.ts
  shared/schemas/property.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins, @koveogestion/business-team, @koveogestion/quebec-compliance

Improve building management by introducing new components and refining data handling
  client/src/components/buildings/building-card.tsx
  client/src/components/buildings/building-form.tsx
  client/src/components/buildings/index.ts
  client/src/components/buildings/types.ts
  client/src/hooks/use-buildings.ts
  client/src/pages/manager/buildings.tsx
  server/api/buildings.ts
  server/api/buildings/operations.ts
  server/api/buildings/queries.ts
Owners: @koveogestion/tech-leads

Update roadmap and building views for better feature display and building management
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-react-dom-client-js-v-d690c398-17995--1755685213000_1755685213000.txt
  attached_assets/image_1755685095909.png
  client/src/pages/admin/roadmap.tsx
  client/src/pages/manager/buildings.tsx
Owners: @koveogestion/tech-leads

Add quality metrics to display system performance and code health
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-react-dom-client-js-v-d690c398-17995--1755685264008_1755685264009.txt
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-react-dom-client-js-v-d690c398-17995--1755685326454_1755685326455.txt
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-react-dom-client-js-v-d690c398-17995--1755685335966_1755685335967.txt
  attached_assets/image_1755685253167.png
  server/routes-minimal.ts
Owners: @koveogestion/tech-leads

Make duplicate feature analysis safer by handling undefined inputs
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-react-dom-client-js-v-d690c398-17995--1755685392844_1755685392844.txt
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-react-dom-client-js-v-d690c398-17995--1755685405315_1755685405316.txt
  attached_assets/image_1755685413798.png
  client/src/components/roadmap/feature-duplicate-analysis.tsx
Owners: @koveogestion/tech-leads

Fix inability to view suggestions by ordering data correctly
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-react-dom-client-js-v-d690c398-17995--1755685481794_1755685481795.txt
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-react-dom-client-js-v-d690c398-17995--1755685488320_1755685488321.txt
  server/routes-minimal.ts
Owners: @koveogestion/tech-leads

Add comprehensive permission system for granular access control
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-react-dom-client-js-v-d690c398-17995--1755685598987_1755685598987.txt
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-react-dom-client-js-v-d690c398-17995--1755685604956_1755685604956.txt
  attached_assets/Pasted-queryClient-ts-32-POST-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit--1755685660318_1755685660319.txt
  attached_assets/Pasted-queryClient-ts-32-POST-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit--1755685665486_1755685665486.txt
  shared/schema.ts
  shared/schemas/core.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Update system to allow for more detailed action tracking
  shared/schemas/core.ts
Owners: @koveogestion/tech-leads

Update invitation handling and schema for enhanced security and tracking
  server/routes-minimal.ts
  shared/schemas/core.ts
Owners: @koveogestion/tech-leads

Grant permission to delete suggestions and improve system stability
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-react-dom-client-js-v-d690c398-17995--1755686043826_1755686043826.txt
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-react-dom-client-js-v-d690c398-17995--1755686051607_1755686051607.txt
  attached_assets/image_1755686059035.png
  config/permissions.json
Owners: @koveogestion/tech-leads

Add pagination to the user permissions page to improve navigation
  attached_assets/Pasted-client-733-vite-connecting-react-dom-client-js-v-d690c398-17995-Download-the-React-DevTools-fo-1755686193989_1755686193990.txt
  attached_assets/Pasted-client-733-vite-connecting-react-dom-client-js-v-d690c398-17995-Download-the-React-DevTools-fo-1755686201678_1755686201679.txt
  attached_assets/image_1755686208479.png
  client/src/pages/admin/permissions.tsx
Owners: @koveogestion/tech-leads

Update permission display to show roles and single category
  client/src/pages/admin/permissions.tsx
Owners: @koveogestion/tech-leads

Add JSDoc documentation to exported functions and classes
  server/middleware/auth-middleware.ts
  server/rbac.ts
  server/services/email-service.ts
  server/services/gemini-analysis.ts
  server/utils/validation-helpers.ts
Owners: @koveogestion/security-team, @koveogestion/tech-leads

Fix issue preventing display of actionable roadmap items
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-react-dom-client-js-v-d690c398-17995--1755687437857_1755687437858.txt
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-react-dom-client-js-v-d690c398-17995--1755687448384_1755687448385.txt
  attached_assets/image_1755687350047.png
  attached_assets/image_1755687471347.png
  server/routes-minimal.ts
  shared/schema.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Add pagination to the user management page showing 10 users at a time
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-react-dom-client-js-v-d690c398-17995--1755687519967_1755687519967.txt
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-react-dom-client-js-v-d690c398-17995--1755687525831_1755687525831.txt
  attached_assets/image_1755687531639.png
  client/src/pages/manager/user-management.tsx
Owners: @koveogestion/tech-leads

Allow admins to mark suggestions as completed on the platform
  server/routes-minimal.ts
Owners: @koveogestion/tech-leads

Fix error preventing access to admin permissions page
  client/src/pages/admin/permissions.tsx
Owners: @koveogestion/tech-leads

Improve how roadmap action items are retrieved and updated
  server/routes-minimal.ts
Owners: @koveogestion/tech-leads

Fix error that prevents the permissions page from rendering correctly
  client/src/pages/admin/permissions.tsx
Owners: @koveogestion/tech-leads

Fix issue preventing actionable items from displaying on the roadmap
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-react-dom-client-js-v-d690c398-17995--1755688063146_1755688063146.txt
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-react-dom-client-js-v-d690c398-17995--1755688073457_1755688073457.txt
  attached_assets/image_1755688049873.png
  server/routes-minimal.ts
Owners: @koveogestion/tech-leads

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team
