Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

Add detailed logging for orphan user deletion process
  server/api/users.ts
Owners: @koveogestion/tech-leads

Add detailed logging for deleting orphan users from the system
  server/optimized-db-storage.ts
Owners: @koveogestion/tech-leads

Add endpoint to delete orphan users and fix related frontend issues
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1757282127312_1757282127312.txt
  server/api/users.ts
Owners: @koveogestion/tech-leads

Fix error when deleting orphaned user data from the system
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1757282320584_1757282320585.txt
Owners: @koveogestion/tech-leads

Add functionality to delete all users except for the administrator
  server/optimized-db-storage.ts
Owners: @koveogestion/tech-leads

Remove unnecessary logs from database connection and initialization
  server/db.ts
Owners: @koveogestion/tech-leads

Remove unnecessary logging statements from document handling
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Remove unnecessary log messages from document download endpoints
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Remove unnecessary logs from the server configuration and security middleware
  server/config/index.ts
  server/middleware/security-middleware.ts
  server/utils/cleanup-orphans.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Remove unnecessary logging statements throughout the application
  server/auth.ts
  server/optimized-db-storage.ts
Owners: @koveogestion/security-team, @koveogestion/tech-leads

Improve test reliability by mocking database dependencies
  jest.config.cjs
  tests/mocks/serverDbMock.js
  tests/unit/minimal.test.ts
Owners: @koveogestion/tech-leads

Add new translations for property management features and privacy policy
  client/src/lib/i18n.ts
Owners: @koveogestion/tech-leads

Fix tests for sidebar layout consistency
  tests/unit/sidebar-layout.test.tsx
Owners: @koveogestion/tech-leads

Improve unit tests by mocking components and adjusting progress simulation
  tests/unit/file-upload-forms.test.tsx
Owners: @koveogestion/tech-leads

Improve application stability by detecting and fixing orphaned elements
  attached_assets/image_1757283871849.png
  tests/unit/orphan-element-detection.test.tsx
Owners: @koveogestion/tech-leads

Improve the demo user login flow with pagination and better layout
  client/src/pages/auth/login.tsx
Owners: @koveogestion/tech-leads

Add translations for common UI elements in the application
  client/src/lib/i18n.ts
Owners: @koveogestion/tech-leads

Improve test execution speed by removing unnecessary waits and processing pages in parallel
  tests/unit/orphan-element-detection.test.tsx
Owners: @koveogestion/tech-leads

Improve application by removing unused translation keys
  attached_assets/image_1757284613040.png
  client/src/lib/i18n.ts
Owners: @koveogestion/tech-leads

Add historical bill data generation for property management
  scripts/create-demo-environment.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Add demo documents for bills with invoices and receipts
  scripts/create-demo-environment.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Add demo documents and update environment creation script
  scripts/create-demo-environment.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Improve demo environment script to create document files
  scripts/create-demo-environment.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Ensure all generated bills include associated documents
  scripts/create-demo-environment.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Update script to correctly generate and store demo documents
  scripts/create-demo-environment.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Ensure every residence has 1-2 documents for each category
  scripts/create-demo-environment.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Ensure all bills have associated documents in the demo environment
  scripts/create-demo-environment.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Add demo data for initial platform testing
  attached_assets/image_1757288181805.png
Owners: @koveogestion/tech-leads

Correctly create a limited number of buildings for demo organizations
  attached_assets/image_1757289032443.png
  scripts/create-demo-environment.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Remove demands not linked to users or residences
  attached_assets/image_1757289409491.png
Owners: @koveogestion/tech-leads

Display all documents associated with bills, not just direct uploads
  client/src/pages/manager/bills.tsx
Owners: @koveogestion/tech-leads

Improve demo data creation to generate 2-3 demands with comments per user
  scripts/create-demo-environment.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Remove inactive users and their associated data
  attached_assets/image_1757289799302.png
Owners: @koveogestion/tech-leads

Improve document filtering to include bill attachments
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Remove users not associated with specific organizations
  attached_assets/image_1757290083778.png
Owners: @koveogestion/tech-leads

Add debugging logs to help diagnose missing bill attachments
  client/src/pages/manager/bills.tsx
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Add debugging logs for bill attachment issues
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-nfie8W1p-js-185--1757290276857_1757290276858.txt
  attached_assets/image_1757290271491.png
Owners: @koveogestion/tech-leads

Update bill details to show uploaded documents and adjust button placement
  client/src/pages/manager/bills.tsx
Owners: @koveogestion/tech-leads

Update document viewing and download links
  attached_assets/image_1757290472564.png
  client/src/pages/manager/bills.tsx
Owners: @koveogestion/tech-leads

Add bill documents to the system and improve file path resolution
  attached_assets/image_1757290599184.png
  server/api/documents.ts
Owners: @koveogestion/tech-leads

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team
