Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team

Integrate common file uploader for bill document management
  attached_assets/image_1758106352986.png
  attached_assets/image_1758106621822.png
  client/src/components/bill-management/AutoGeneratedBillWorkflow.tsx
Owners: @koveogestion/tech-leads

Update recurrent bills to regenerate payment schedules when modified
  attached_assets/image_1758106922968.png
  attached_assets/image_1758107001706.png
  attached_assets/image_1758107021847.png
  server/api/bills.ts
  server/services/payment-generation-service.ts
  server/types/transaction.ts
Owners: @koveogestion/tech-leads

Standardize document attachment section across all forms
  client/src/components/bill-management/AutoGeneratedBillWorkflow.tsx
  client/src/components/bill-management/ModularBillForm.tsx
  client/src/components/common/StandardDocumentAttachments.tsx
Owners: @koveogestion/tech-leads

Fix error preventing document creation on bills
  attached_assets/image_1758120756776.png
  client/src/components/bill-management/ModularBillForm.tsx
Owners: @koveogestion/tech-leads

Update bill editing to handle Neon driver limitations and payment updates
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-nr-ext-dom-detector-js--1758121107988_1758121107989.txt
  attached_assets/image_1758121021356.png
  attached_assets/image_1758121031974.png
  attached_assets/image_1758121102775.png
  server/api/bills.ts
Owners: @koveogestion/tech-leads

Correctly handle recurring bill payments with various payment amounts
  attached_assets/image_1758125179052.png
  attached_assets/image_1758125190321.png
  client/src/components/bill-management/ModularBillForm.tsx
Owners: @koveogestion/tech-leads

Add auto-generated payment type to bill filtering options
  attached_assets/image_1758125589865.png
  attached_assets/image_1758125661332.png
  client/src/pages/manager/bills.tsx
Owners: @koveogestion/tech-leads

Streamline bill creation form by consolidating AI and manual entry tabs
  attached_assets/image_1758125763445.png
  client/src/components/bill-management/AutoGeneratedBillWorkflow.tsx
  uploads/bills/org_default/building_c3052c3c-b694-41a6-bd65-3bc3ae9a5984/role_admin/ImagefactureNonTaxable_texte (2) (1)-2025-09-17T16-15-28-755Z.jpg
  uploads/bills/org_default/building_c3052c3c-b694-41a6-bd65-3bc3ae9a5984/role_admin/ImagefactureNonTaxable_texte (2) (1)-2025-09-17T16-15-28-755Z.jpg.metadata.json
Owners: @koveogestion/tech-leads

Improve bill creation by adding file upload support
  server/api/bills.ts
Owners: @koveogestion/tech-leads

Update bill creation forms to include payment scheduling and recurrence options
  client/src/components/bill-management/AutoGeneratedBillWorkflow.tsx
Owners: @koveogestion/tech-leads

Update building information to include inflation rate settings
  attached_assets/Pasted-Navigate-to-server-api-budgets-ts-and-create-a-new-endpoint-POST-api-budgets-buildingId-forecas-1758127439545_1758127439545.txt
  shared/schemas/property.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team, @koveogestion/quebec-compliance

Update budget management with bank account and inflation rate details
  server/api/budgets.ts
Owners: @koveogestion/tech-leads

Enhance budget page with interactive forecasting and settings
  client/src/pages/manager/budget.tsx
Owners: @koveogestion/tech-leads

Add budget endpoints to the application for managing financial data
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-bills-aMLPf20r-js-11--1758140303572_1758140303573.txt
  server/routes.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Add detailed debug logs for budget functionality
  client/src/pages/manager/budget.tsx
  server/api/budgets.ts
  server/routes.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Update budget management terminology for better clarity
  attached_assets/image_1758141346860.png
  attached_assets/image_1758141386215.png
  attached_assets/targeted_element_1758141405780.png
  client/src/lib/i18n.ts
Owners: @koveogestion/tech-leads

Add configuration options to manage financial planning and investments
  client/src/pages/manager/budget.tsx
Owners: @koveogestion/tech-leads

Add detailed financial configuration options for budget planning
  client/src/pages/manager/budget.tsx
  server/api/budgets.ts
Owners: @koveogestion/tech-leads

Fix budget page access by removing unused dependencies
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-lNXxGeUi-js-83-Ma-1758142771585_1758142771586.txt
  client/src/pages/manager/budget.tsx
Owners: @koveogestion/tech-leads

Improve budget settings initialization and prevent unnecessary data refetches
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-BmVTdB2Y-js-83-Ma-1758143158585_1758143158586.txt
  client/src/pages/manager/budget.tsx
Owners: @koveogestion/tech-leads

Add filtering options to the budget page for better financial overview
  client/src/pages/manager/budget.tsx
Owners: @koveogestion/tech-leads

Update budget configuration to reflect new revenue requirements
  client/src/pages/manager/budget.tsx
Owners: @koveogestion/tech-leads

Remove the inflation configuration card from the budget page
  client/src/pages/manager/budget.tsx
Owners: @koveogestion/tech-leads

Allow adding custom bank account fields for budget configuration
  attached_assets/image_1758145721926.png
  attached_assets/image_1758145868001.png
  attached_assets/image_1758145914602.png
  attached_assets/image_1758145952029.png
  attached_assets/image_1758146013865.png
  client/src/pages/manager/budget.tsx
  server/api/budgets.ts
Owners: @koveogestion/tech-leads

Add inflation rate options and unplanned bills to budget configuration
  client/src/pages/manager/budget.tsx
Owners: @koveogestion/tech-leads

Add functionality to manage and display special capital investments
  client/src/pages/manager/budget.tsx
Owners: @koveogestion/tech-leads

Make budget filters collapsible for a cleaner user interface
  client/src/pages/manager/budget.tsx
Owners: @koveogestion/tech-leads

Remove budget settings functionality from the platform
  client/src/pages/manager/budget.tsx
Owners: @koveogestion/tech-leads

Update budget forecasts to include monthly residence fees and revenue
  server/api/budgets.ts
Owners: @koveogestion/tech-leads

Adjust budget page layout to fix rendering issues
  attached_assets/image_1758152186637.png
  client/src/pages/manager/budget.tsx
Owners: @koveogestion/tech-leads

Add capital investment management to the property platform
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-BZiM8vKI-js-23-V-1758153839605_1758153839606.txt
  attached_assets/Pasted-index-js-1-content-loaded-index-59b2ae62-js-3-Content-Script-Initializing-index-BZiM8vKI-js-240--1758153856293_1758153856294.txt
  attached_assets/image_1758153901133.png
  attached_assets/image_1758154119185.png
  server/api/budgets.ts
  shared/schema.ts
  shared/schemas/financial.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Adjust budget configuration cards to display one per row
  client/src/pages/manager/budget.tsx
Owners: @koveogestion/tech-leads

Update budget calculation to correctly sum monthly revenue from residences
  attached_assets/image_1758154232500.png
  client/src/pages/manager/budget.tsx
Owners: @koveogestion/tech-leads

Separate budget and bill configuration sections onto different rows
  attached_assets/image_1758154471923.png
  client/src/pages/manager/budget.tsx
Owners: @koveogestion/tech-leads

Adjust layout to prevent overlapping elements on the budget page
  attached_assets/image_1758154694301.png
  attached_assets/image_1758154795764.png
  client/src/pages/manager/budget.tsx
Owners: @koveogestion/tech-leads

Simplify budget filters by removing ownership and time window options
  attached_assets/image_1758154904319.png
  client/src/pages/manager/budget.tsx
Owners: @koveogestion/tech-leads

Improve calculation of monthly residence fees for accurate revenue reporting
  client/src/pages/manager/budget.tsx
Owners: @koveogestion/tech-leads

Improve revenue calculation by summing monthly fees from residences
  attached_assets/targeted_element_1758155497490.png
  client/src/pages/manager/budget.tsx
  server/api/buildings.ts
Owners: @koveogestion/tech-leads

Add ability to track and manage starting bank account balances annually
  client/src/pages/manager/budget.tsx
Owners: @koveogestion/tech-leads

Add capital investments to budget charts for better financial oversight
  attached_assets/image_1758156182693.png
  client/src/pages/manager/budget.tsx
Owners: @koveogestion/tech-leads
