Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team

Streamline document uploads by removing the need for explicit Google Cloud credentials
  server/services/gcs-document-service.ts
  test_gcs_minimal.py
  upload_secure_document_simple.py
Owners: @koveogestion/tech-leads

Update Google Cloud libraries and integrate Workload Identity Federation for secure document handling
  package-lock.json
  package.json
  pyproject.toml
  server/services/gcs-document-service.ts
  uv.lock
Owners: @koveogestion/tech-leads

Update Google Cloud Storage initialization to use environment authentication
  server/services/gcs-document-service.ts
Owners: @koveogestion/tech-leads

Improve Google Cloud Storage integration for Replit environments
  attached_assets/Pasted-dialog-tsx-38-Warning-Missing-Description-or-aria-describedby-undefined-for-DialogContent--1756487370327_1756487370328.txt
  attached_assets/image_1756487366489.png
  server/services/gcs-document-service.ts
Owners: @koveogestion/tech-leads

Improve Google Cloud Storage authentication and session handling
  attached_assets/Pasted-use-auth-tsx-63-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756487500785_1756487500785.txt
  attached_assets/image_1756487495875.png
  server/services/gcs-document-service.ts
Owners: @koveogestion/tech-leads

Improve authentication and Google Cloud integration settings
  attached_assets/Pasted-use-auth-tsx-63-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756487706184_1756487706185.txt
  attached_assets/image_1756487700364.png
  server/services/gcs-document-service.ts
Owners: @koveogestion/tech-leads

Improve Google Cloud Storage authentication for server environments
  attached_assets/Pasted-use-auth-tsx-63-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756487804874_1756487804875.txt
  attached_assets/image_1756487800941.png
  server/services/gcs-document-service.ts
Owners: @koveogestion/tech-leads

Improve authentication by fixing session expiration errors
  attached_assets/Pasted-use-auth-tsx-63-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756487947592_1756487947592.txt
  attached_assets/image_1756487943872.png
  server/services/gcs-document-service.ts
Owners: @koveogestion/tech-leads

Update Google Cloud storage to use Workload Identity Federation
  attached_assets/Pasted-dialog-tsx-38-Warning-Missing-Description-or-aria-describedby-undefined-for-DialogContent--1756488043338_1756488043338.txt
  attached_assets/image_1756488037638.png
  server/services/gcs-document-service.ts
Owners: @koveogestion/tech-leads

Configure Google Cloud Storage authentication with provided credentials
  attached_assets/Pasted-use-auth-tsx-63-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756488277085_1756488277085.txt
  attached_assets/image_1756488268793.png
  gcp-wif-config.json
  server/services/gcs-document-service.ts
Owners: @koveogestion/tech-leads

Improve Google Cloud Storage credential handling and fix authentication issue
  attached_assets/Pasted-use-auth-tsx-63-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756489333218_1756489333219.txt
  attached_assets/image_1756489329225.png
  server/services/gcs-document-service.ts
Owners: @koveogestion/tech-leads

Improve Google Cloud Storage configuration validation and logging
  attached_assets/Pasted-use-auth-tsx-63-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756489438275_1756489438275.txt
  attached_assets/image_1756489433471.png
  server/services/gcs-document-service.ts
Owners: @koveogestion/tech-leads

Improve how Google Cloud credentials are handled for document storage
  attached_assets/image_1756489611189.png
  attached_assets/image_1756489622744.png
  server/services/gcs-document-service.ts
Owners: @koveogestion/tech-leads

Adapt document uploads to use OIDC credentials for authentication
  attached_assets/Pasted-queryClient-ts-48-POST-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit--1756489737431_1756489737432.txt
  attached_assets/image_1756489728946.png
  attached_assets/image_1756489840598.png
  gcp-wif-config.json
  server/services/gcs-document-service.ts
Owners: @koveogestion/tech-leads

Improve Google Cloud storage authentication handling and fix session expiration
  attached_assets/2ieme_facture_permis_1756489985634.pdf
  attached_assets/Pasted-use-auth-tsx-63-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756489981923_1756489981923.txt
  attached_assets/image_1756489977632.png
  server/services/gcs-document-service.ts
Owners: @koveogestion/tech-leads

Update Google Cloud configuration for token authentication
  attached_assets/2ieme_facture_permis_1756490148785.pdf
  gcp-wif-config.json
Owners: @koveogestion/tech-leads

Integrate Replit OIDC for secure Google Cloud authentication
  server/services/gcs-document-service.ts
  server/services/replit-oidc-exchange.ts
Owners: @koveogestion/tech-leads

Improve dialog accessibility by adding necessary descriptive elements
  attached_assets/Pasted-dialog-tsx-38-Warning-Missing-Description-or-aria-describedby-undefined-for-DialogContent--1756490792501_1756490792501.txt
  attached_assets/image_1756490789138.png
Owners: @koveogestion/tech-leads

Add temporary debugging for Workload Identity Federation token
  server/services/gcs-document-service.ts
Owners: @koveogestion/tech-leads

Update Google Cloud authentication to use correct OIDC token
  server/services/gcs-document-service.ts
  server/services/replit-oidc-exchange.ts
Owners: @koveogestion/tech-leads

Update authentication to use environment variables for token exchange
  attached_assets/Pasted-use-auth-tsx-63-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756492450324_1756492450325.txt
  attached_assets/image_1756492437863.png
  attached_assets/image_1756492446762.png
  server/services/replit-oidc-exchange.ts
Owners: @koveogestion/tech-leads

Update authentication to use new environment variable for identity
  server/services/gcs-document-service.ts
Owners: @koveogestion/tech-leads

Improve Google Cloud authentication methods for robust access
  attached_assets/Pasted-use-auth-tsx-63-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756492637041_1756492637041.txt
  attached_assets/image_1756492633003.png
  server/services/replit-oidc-exchange.ts
Owners: @koveogestion/tech-leads

Use JWT token from REPLIT_ID_TOKEN_PATH for authentication
  server/services/replit-oidc-exchange.ts
Owners: @koveogestion/tech-leads

Update document upload functionality with improved cloud storage integration
  attached_assets/image_1756493045538.png
Owners: @koveogestion/tech-leads

Remove all Google Cloud Storage integrations and related dependencies
  attached_assets/image_1756493252028.png
  client/src/lib/documents.ts
  package-lock.json
  package.json
  server/api/bills.ts
  server/api/company-history.ts
  server/api/documents.ts
  server/services/gcs-document-service.ts
  server/services/replit-oidc-exchange.ts
  server/storage.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Add integration with Google Cloud Storage for file management
  package-lock.json
  package.json
Owners: @koveogestion/tech-leads

Add Google Cloud Storage integration using federated authentication
  client/src/lib/gcs.ts
Owners: @koveogestion/tech-leads

Unify document storage and simplify database structure
  gcp-wif-config.json
  shared/schema.ts
  shared/schemas/documents.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Integrate Google Cloud Storage for document uploads and management
  package-lock.json
  package.json
  server/api/documents-upload.ts
  server/api/documents.ts
  server/lib/gcs.ts
  server/storage.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Add ability to upload documents and files to the platform
  client/src/components/common/DocumentManager.tsx
  server/api/cleanup.ts
  server/lib/gcs.ts
Owners: @koveogestion/tech-leads

Temporarily disable storage cleanup and implement GCS fallback for uploads
  attached_assets/image_1756494904918.png
  server/api/cleanup.ts
  server/lib/gcs.ts
Owners: @koveogestion/tech-leads

Improve application startup by optimizing frontend and API route loading order
  server/index.ts
Owners: @koveogestion/api-team, @koveogestion/tech-leads

Implement simplified authentication routes using the development database
  attached_assets/Pasted-use-auth-tsx-63-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756495237322_1756495237322.txt
  attached_assets/image_1756495224316.png
  server/index.ts
  server/routes-simple.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Add fallback routes to prevent server crashes during authentication issues
  attached_assets/Pasted-use-auth-tsx-63-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756495494379_1756495494380.txt
  attached_assets/image_1756495500286.png
  server/index.ts
  server/routes-simple.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Update environment detection to use NODE_ENV for database selection
  server/config/index.ts
Owners: @koveogestion/tech-leads

Implement direct authentication routes and fix login functionality
  attached_assets/Pasted-use-auth-tsx-63-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-replit-dev-1756495900163_1756495900164.txt
  attached_assets/image_1756495896512.png
  server/index.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Update database connection details for development environment
  attached_assets/image_1756496192214.png
Owners: @koveogestion/tech-leads

Restore original authentication system to ensure proper user access
  attached_assets/image_1756496266746.png
  server/index.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Update visual elements to enhance user interface clarity
  attached_assets/image_1756496397692.png
Owners: @koveogestion/tech-leads
