Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

Saved your changes before starting work
  attached_assets/image_1755371342288.png
Owners: @koveogestion/tech-leads

Improve user management access and features for specific roles
  client/src/lib/i18n.ts
  client/src/pages/admin/user-management.tsx
  server/routes.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Add new administrative user for improved system management and oversight
  attached_assets/image_1755371626672.png
Owners: @koveogestion/tech-leads

Fix error when retrieving user information after login
  client/src/hooks/use-auth.tsx
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  .quality-metrics-history.json
Owners: @koveogestion/tech-leads

Ensure user management features are accessible and resolve storage issues
  server/routes.ts
  server/storage.ts
Owners: @koveogestion/api-team, @koveogestion/tech-leads, @koveogestion/database-admins

Add initial default users with hashed passwords for testing
  attached_assets/image_1755372067155.png
  attached_assets/image_1755372089093.png
  server/storage.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Add an administrator user account to the development environment
  server/storage.ts
Owners: @koveogestion/database-admins

Add a new user for managing property data and access
  server/storage.ts
Owners: @koveogestion/database-admins

Securely store and verify user passwords using salt and hash
  attached_assets/image_1755372560594.png
  server/auth.ts
  server/storage.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins

Improve user access control and debugging in user management
  attached_assets/image_1755372690112.png
  client/src/pages/admin/user-management.tsx
Owners: @koveogestion/tech-leads

Improve user management data display and filtering logic
  attached_assets/image_1755372823505.png
  client/src/pages/admin/user-management.tsx
Owners: @koveogestion/tech-leads

Improve user permission checks for managing users
  attached_assets/image_1755373040460.png
  client/src/pages/admin/user-management.tsx
Owners: @koveogestion/tech-leads

Improve role checking and add authentication testing
  attached_assets/image_1755373120857.png
  client/src/hooks/use-auth.tsx
  client/src/pages/admin/user-management.tsx
  test-auth.js
  test-auth.mjs
Owners: @koveogestion/tech-leads

Refine user role checks and loading states for better access control
  attached_assets/image_1755373441859.png
  client/src/hooks/use-auth.tsx
  client/src/pages/admin/user-management.tsx
  test-auth.js
  test-auth.mjs
Owners: @koveogestion/tech-leads

Add debugging logs to user management component for easier troubleshooting
  attached_assets/image_1755373668146.png
  client/src/pages/admin/user-management.tsx
Owners: @koveogestion/tech-leads

Remove default user data that is no longer needed
  server/storage.ts
Owners: @koveogestion/database-admins

Add a new administrator user with default credentials
  server/storage.ts
Owners: @koveogestion/database-admins

Replace 'owner' role with 'admin' across the system
  attached_assets/image_1755374187903.png
  client/src/components/auth/steps/token-validation-step.tsx
  client/src/components/ssl/SslCertificateInfo.tsx
  client/src/pages/owner/dashboard.tsx
  client/src/pages/owner/permissions.tsx
  server/auth.ts
  server/auth/invitation-rbac.ts
  server/db/queries/index.ts
  server/db/queries/scope-query.ts
  server/db/queries/user-queries.ts
  tests/integration/invitation/rbac-system.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team

Add initial user data for testing login functionality
  server/storage.ts
Owners: @koveogestion/database-admins

Allow managers to access the user management section
  client/src/components/layout/sidebar.tsx
Owners: @koveogestion/tech-leads

Show loading indicator while user authentication is in progress
  attached_assets/image_1755374435656.png
  client/src/pages/admin/user-management.tsx
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1755374553272.png
Owners: @koveogestion/tech-leads

Add owner-specific pages and improve user management routing
  client/src/App.tsx
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1755374751589.png
Owners: @koveogestion/tech-leads

Enable user access to management and admin sections based on roles
  client/src/components/layout/sidebar.tsx
Owners: @koveogestion/tech-leads

Improve role type safety for admin users
  server/storage.ts
Owners: @koveogestion/database-admins

Improve user management page permission checks
  attached_assets/image_1755375207096.png
  client/src/pages/admin/user-management.tsx
Owners: @koveogestion/tech-leads

Add logging to user management pages for better debugging
  attached_assets/image_1755375388434.png
  client/src/App.tsx
  client/src/pages/admin/user-management.tsx
Owners: @koveogestion/tech-leads

Improve role checking logic for menu access
  client/src/components/layout/sidebar.tsx
Owners: @koveogestion/tech-leads

Update security compliance for property management platform
  attached_assets/image_1755376574777.png
Owners: @koveogestion/tech-leads

Expand system to manage various property-related data entities
  attached_assets/image_1755376973382.png
  server/optimized-db-storage.ts
  server/routes.ts
  server/storage.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team, @koveogestion/database-admins

Update quality check script to improve build and test performance monitoring
  .quality-metrics-history.json
  scripts/run-quality-check.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Add a new resident role to the property management system
  client/src/components/admin/send-invitation-dialog.tsx
  client/src/components/auth/steps/token-validation-step.tsx
  client/src/lib/i18n.ts
  config/index.ts
  config/permissions-schema.ts
  config/permissions.json
  server/api/permissions.ts
  server/api/users.ts
  server/auth/index.ts
  server/db/queries/index.ts
  server/db/queries/scope-query.ts
  server/db/queries/user-queries.ts
  shared/schema.ts
Owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins

Update documentation and refine user role permissions and testing
  attached_assets/image_1755377758661.png
  docs/RBAC_SYSTEM.md
  replit.md
  server/optimized-db-storage.ts
  server/storage.ts
  tests/integration/api/rbac-endpoints.test.ts
  tests/unit/auth/rbac.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Remove company name and description from website header
  client/src/pages/auth/login.tsx
  client/src/pages/home.tsx
Owners: @koveogestion/tech-leads

Remove the 'I have an invitation' button from the home page
  client/src/pages/home.tsx
Owners: @koveogestion/tech-leads

Update role hierarchy and documentation for resident and tenant levels
  attached_assets/image_1755378166432.png
  config/index.ts
  docs/RBAC_SYSTEM.md
  tests/unit/auth/rbac.test.ts
Owners: @koveogestion/tech-leads

Update user management and invitation dialog functionality
  client/src/App.tsx
  client/src/components/admin/send-invitation-dialog.tsx
  client/src/lib/queryClient.ts
Owners: @koveogestion/tech-leads

Improve code comments and logging across the application
  attached_assets/image_1755378557623.png
  client/src/components/admin/send-invitation-dialog.tsx
  client/src/components/admin/user-list.tsx
  client/src/components/auth/password-strength-indicator.tsx
  client/src/components/auth/registration-wizard.tsx
  client/src/components/auth/steps/password-creation-step.tsx
  client/src/components/auth/steps/profile-completion-step.tsx
  client/src/components/auth/steps/quebec-privacy-consent-step.tsx
  client/src/components/auth/steps/token-validation-step.tsx
  client/src/components/dashboard/replit-ai-monitoring.tsx
  client/src/components/dashboard/workspace-status.tsx
  client/src/components/forms/feature-form.tsx
  client/src/pages/admin/documentation.tsx
  client/src/pages/admin/user-management.tsx
  client/src/pages/owner/documentation.tsx
  client/src/utils/performance-monitor.ts
Owners: @koveogestion/tech-leads

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team
