Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

Restore gantt-bar-click testid for inline editing (Task #1594)
  client/src/components/GanttChart.tsx
  tests/e2e/gantt-editing-flows.e2e.test.ts
  tests/unit/components/gantt-chart-drag-edge-cases.test.tsx
Owners: @koveogestion/tech-leads

Task #1596: Fix Budget capital-mode click jank (>500ms)
  client/src/pages/manager/budget/index.tsx
Owners: @koveogestion/tech-leads

test: stabilize bulk-retry dismiss timeout test (Task #1595)
  tests/unit/components/bulk-document-import-ai-failure-retry.test.tsx
Owners: @koveogestion/tech-leads

Task #1593: Reconcile manager private-fields tests with policy
  tests/unit/api/user-private-fields.test.ts
Owners: @koveogestion/tech-leads

Task #1589 code-review fixes (round 3)
  client/src/pages/admin/bulk-document-import.tsx
  client/src/pages/admin/bulk-import-linking-groups.ts
  migrations/0034_bulk_import_family_sequence.sql
  server/api/bulk-import.ts
  shared/schemas/bulk-import.ts
  tests/unit/api/bulk-import-family-memberships.test.ts
  tests/unit/components/bulk-document-import-reset-step.test.tsx
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Git commit prior to merge
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-bu_1777342949237.txt
  attached_assets/image_1777342944680.png
Owners: @koveogestion/tech-leads

Fix stale onboarding-register path reference (Task #1605)
  scripts/onboarding-health.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Restore maintenance-request test isolation from real DB
  tests/unit/api/rest-create-maintenance-request.test.ts
Owners: @koveogestion/tech-leads

feat(onboarding): manager tour catalog — fourth-pass review fixes (Task #1590)
  client/src/components/InvitationManagement.tsx
  client/src/components/admin/send-invitation-dialog.tsx
  client/src/components/buildings/BuildingCard.tsx
  client/src/components/common/StandardCard.tsx
  client/src/components/layout/sidebar.tsx
  client/src/config/navigation.ts
  client/src/content/onboarding/manager/buildings.ts
  client/src/content/onboarding/manager/communications.ts
  client/src/content/onboarding/manager/financials.ts
  client/src/content/onboarding/manager/index.ts
  client/src/content/onboarding/manager/invitations.ts
  client/src/content/onboarding/manager/predicates.ts
  client/src/content/onboarding/manager/requests.ts
  client/src/content/onboarding/manager/settings.ts
  client/src/content/onboarding/manager/welcome.ts
  client/src/content/onboarding/smoke.ts
  client/src/content/onboarding/types.ts
  client/src/contexts/OnboardingContext.tsx
  client/src/pages/auto/settings-onboarding.tsx
  client/src/pages/dashboard.tsx
  client/src/pages/dashboard/communication.tsx
  client/src/pages/manager/bills.tsx
  client/src/pages/manager/buildings.tsx
  client/src/pages/manager/demands.tsx
  client/src/pages/manager/user-management.tsx
  migrations/0035_manager_onboarding_tours.sql
  server/api/auto/onboarding-content.ts
  tests/e2e/onboarding.manager.spec.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Git commit prior to merge
  attached_assets/image_1777344390101.png
Owners: @koveogestion/tech-leads

Speed up task close pipeline (Task #1611)
  scripts/post-merge.sh
  scripts/run-unit-tests.sh
  tsconfig.json
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Fix communication-page test timeouts blocking publish (Task #1615)
  tests/unit/communication/communication-page.test.tsx
Owners: @koveogestion/tech-leads

Replace vulnerable xlsx@0.18.5 with exceljs@4.4.0
  client/src/components/common/DocumentInlineViewer.tsx
  package-lock.json
  package.json
  server/services/bulk-import-analyzer.ts
  server/services/consolidated-ai-service.ts
  server/services/document-text-extractor.ts
  tests/unit/services/bulk-import-analyzer.test.ts
  tests/unit/services/bulk-import-spreadsheet-support.test.ts
Owners: @koveogestion/tech-leads

Persist TypeScript build cache across task environments (Task #1613)
  .replit
  .tscache/tsbuildinfo
  scripts/type-check.sh
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Task #1612: Include key unit tests in the smoke fallback so critical paths stay covered on large diffs
  scripts/run-unit-tests.sh
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Task #1623: Speed up post-merge environment update
  scripts/post-merge.sh
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Task #1614: Force prod DB on deploy migrate step
  .replit
  docs/deployment/database-sync.md
  docs/migrations.md
  replit.md
  scripts/run-migrations-url.ts
  tests/unit/run-migrations-url.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Task #1608: Multi-family AI suggestions and rearrangeable family cards
  .tscache/tsbuildinfo
  client/src/pages/admin/bulk-document-import.tsx
  client/src/pages/admin/bulk-import-linking-groups.ts
  server/api/bulk-import.ts
  server/services/bulk-import-analyzer.ts
  tests/unit/api/bulk-import-family-memberships.test.ts
Owners: @koveogestion/tech-leads

Published your App
  .tscache/tsbuildinfo
Owners: @koveogestion/tech-leads

Git commit prior to merge
  .tscache/tsbuildinfo
  attached_assets/image_1777367391781.png
  attached_assets/image_1777367471494.png
  attached_assets/image_1777367518143.png
  attached_assets/image_1777367640058.png
  attached_assets/image_1777367698641.png
Owners: @koveogestion/tech-leads

Git commit prior to merge
  .gitignore
  .tscache/tsbuildinfo
  attached_assets/image_1777367715263.png
  attached_assets/image_1777367743247.png
  attached_assets/image_1777367781778.png
Owners: @koveogestion/tech-leads

Task #1616 — Show drop-zone indicator between rows when reordering family card items
  client/src/pages/admin/bulk-document-import.tsx
Owners: @koveogestion/tech-leads

Git commit prior to merge
  attached_assets/image_1777368090237.png
Owners: @koveogestion/tech-leads

Sort link families alphabetically everywhere (Task #1630)
  client/src/components/common/DocumentInlineViewer.tsx
  client/src/components/documents/DocumentLinkPickerDialog.tsx
  client/src/lib/system-family-display.ts
  client/src/pages/admin/bulk-document-import.tsx
  client/src/pages/admin/document-tags.tsx
  server/api/bulk-import.ts
  server/services/document-link-service.ts
Owners: @koveogestion/tech-leads

Task #1631: Bulk import — restack file row layout (sequence first, buttons on own line, full name on hover)
  client/src/pages/admin/bulk-document-import.tsx
Owners: @koveogestion/tech-leads

Git commit prior to merge
  attached_assets/image_1777368327287.png
Owners: @koveogestion/tech-leads

Task #1617: persist family-card collapse preference across reloads
  client/src/pages/admin/bulk-document-import.tsx
  tests/unit/components/bulk-document-import-collapse-persistence.test.ts
Owners: @koveogestion/tech-leads

feat(scripts): create dev manager user kevhervieux@gmail.com
  scripts/create-kev-manager.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Task #1635: Show AI-suggested document name in Linking step rows
  client/src/pages/admin/bulk-document-import.tsx
  client/src/pages/admin/bulk-import-linking-groups.ts
  tests/unit/components/bulk-import-linking-groups.test.ts
Owners: @koveogestion/tech-leads

Task #1634: Up/down jump across families in Bulk Import preview
  client/src/components/common/DocumentInlineViewer.tsx
  client/src/pages/admin/bulk-document-import.tsx
Owners: @koveogestion/tech-leads

feat(onboarding): auto-sync tour versions at startup without SQL migrations (task #1639)
  .replit
  TYPE_CHECK_DEBT.md
  replit.md
  server/api/onboarding-versions-seed.ts
  server/routes.ts
  tests/unit/api/onboarding-versions-seed.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

fix(onboarding): address code-review feedback on Task #1642
  TYPE_CHECK_DEBT.md
  __mocks__/wouter.js
  client/src/content/onboarding/manager/buildings.ts
  client/src/content/onboarding/manager/communications.ts
  client/src/content/onboarding/manager/financials.ts
  client/src/content/onboarding/manager/invitations.ts
  client/src/content/onboarding/manager/predicates.ts
  client/src/content/onboarding/manager/requests.ts
  client/src/content/onboarding/manager/settings.ts
  client/src/content/onboarding/manager/welcome.ts
  client/src/content/onboarding/smoke.ts
  client/src/content/onboarding/types.ts
  client/src/contexts/OnboardingContext.tsx
  server/api/auto/onboarding-schemas.ts
  server/api/auto/onboarding.ts
  tests/unit/onboarding/progress-payload-validation.test.ts
  tests/unit/onboarding/start-navigates-to-entry-path.test.tsx
  tests/unit/onboarding/step-index-clamping.test.tsx
Owners: @koveogestion/tech-leads

Task #1636 – Merge same-name link families into one card on Bulk Document Import linking step
  client/src/pages/admin/bulk-document-import.tsx
  client/src/pages/admin/bulk-import-linking-groups.ts
  client/src/pages/admin/document-tags.tsx
  server/api/bulk-import.ts
  server/api/document-link-families.ts
  server/routes.ts
  server/services/canonical-family-resolver.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Git commit prior to merge
  attached_assets/image_1777374422772.png
  attached_assets/pass27_remaining_fix_prompts_1777374250061.md
Owners: @koveogestion/tech-leads

feat(onboarding): cross-page nav, sidebar collapse, scroll fix (Task #1650)
  client/src/content/onboarding/manager/buildings.ts
  client/src/content/onboarding/manager/communications.ts
  client/src/content/onboarding/manager/financials.ts
  client/src/content/onboarding/manager/invitations.ts
  client/src/content/onboarding/manager/requests.ts
  client/src/content/onboarding/manager/settings.ts
  client/src/content/onboarding/types.ts
  client/src/contexts/OnboardingContext.tsx
  tests/unit/onboarding/start-navigates-to-entry-path.test.tsx
  tests/unit/onboarding/step-index-clamping.test.tsx
Owners: @koveogestion/tech-leads

Fix errors in user impersonation logs and organization filtering
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-do_1777374730919.txt
  attached_assets/image_1777374719186.png
  server/api/auto/impersonation-log.ts
  server/optimized-db-storage.ts
Owners: @koveogestion/tech-leads

Task #1643 — Also deduplicate family names shown in the main Link Families settings page
  client/src/lib/dedupe-link-families.ts
  client/src/pages/admin/document-tags.tsx
  tests/unit/admin-document-tags-families-dedup.test.tsx
  tests/unit/api/document-link-families-list-dedup.test.ts
  tests/unit/lib/dedupe-link-families.test.ts
Owners: @koveogestion/tech-leads

Task #1644: Add automated tests for the duplicate-family prevention and merge logic
  tests/unit/api/document-link-families-collisions.test.ts
  tests/unit/canonical-family-merge.test.ts
  tests/unit/canonical-family-resolver-utils.test.ts
Owners: @koveogestion/tech-leads

Task #1652 — Add automated tests for cross-page guided-tour navigation.
  client/src/contexts/OnboardingContext.tsx
  tests/unit/onboarding/cross-page-navigation.test.tsx
Owners: @koveogestion/tech-leads

Task #1655: Bulk import — reliable, instant reorder
  client/src/pages/admin/bulk-document-import.tsx
  server/api/bulk-import.ts
Owners: @koveogestion/tech-leads

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team
