Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team

Update contact form to allow new contacts with optional email and phone Allow users to add contacts with a name and optional email and phone fields.
  attached_assets/image_1755721563849.png
  client/src/pages/residents/residence.tsx
  cookies.txt
  server/api/contacts.ts
  shared/schemas/property.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team, @koveogestion/quebec-compliance

Allow residents to delete contact information
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-react-dom-client-js-v-d97d192a-17995--1755722094206_1755722094207.txt
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-react-dom-client-js-v-d97d192a-17995--1755722149833_1755722149834.txt
  server/api/contacts.ts
Owners: @koveogestion/tech-leads

Add functionality to create new tenants and associate them with residences
  admin-cookies.txt
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-react-dom-client-js-v-d97d192a-17995--1755722245093_1755722245094.txt
  cookies.txt
Owners: @koveogestion/tech-leads

Update session cookie to maintain user login
  cookies.txt
Owners: @koveogestion/tech-leads

Add functionality to manage property documents and related user interactions
  client/src/pages/residents/residence.tsx
  cookies.txt
Owners: @koveogestion/tech-leads

Add an emergency contact category for better contact organization
  client/src/pages/residents/residence.tsx
  shared/schemas/property.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team, @koveogestion/quebec-compliance

Display building contacts for residents and restrict adding them Add a new API endpoint and frontend component to show building contacts, with only managers able to add them.
  attached_assets/image_1755722934498.png
  attached_assets/image_1755722940756.png
  client/src/pages/residents/residence.tsx
  server/api/contacts.ts
Owners: @koveogestion/tech-leads

Allow residents to view documents specific to their assigned properties
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Add filtering and viewing options to resident documents
  client/src/pages/residents/residence.tsx
  shared/schemas/documents.ts
Owners: @koveogestion/tech-leads

Add ability to upload documents for residences using a similar form
  client/src/pages/residents/residence.tsx
Owners: @koveogestion/tech-leads

Add document upload functionality to resident management
  client/src/pages/residents/residence.tsx
Owners: @koveogestion/tech-leads

Add ability to view and edit assigned users for each residence
  client/src/pages/residents/residence.tsx
  server/api/residences.ts
Owners: @koveogestion/tech-leads

Allow users to edit existing contact information for residences
  client/src/pages/residents/residence.tsx
Owners: @koveogestion/tech-leads

Add a link to view unit specific documents within the platform
  attached_assets/image_1755724504046.png
  client/src/pages/residents/residence.tsx
Owners: @koveogestion/tech-leads

Improve retrieval of user residences by querying directly from the database
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-react-dom-client-js-v-d97d192a-17995--1755724609335_1755724609335.txt
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-react-dom-client-js-v-d97d192a-17995--1755724617746_1755724617747.txt
  attached_assets/image_1755724603821.png
  server/db-storage.ts
Owners: @koveogestion/tech-leads

Fix issue preventing users from viewing associated residence documents
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-react-dom-client-js-v-d97d192a-17995--1755724832255_1755724832255.txt
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-react-dom-client-js-v-d97d192a-17995--1755724838026_1755724838026.txt
  attached_assets/image_1755724843827.png
Owners: @koveogestion/tech-leads

Improve user residence data retrieval with optimized database queries
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-react-dom-client-js-v-d97d192a-17995--1755725006442_1755725006443.txt
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-react-dom-client-js-v-d97d192a-17995--1755725013471_1755725013472.txt
  attached_assets/image_1755725020922.png
  server/db-storage.ts
  server/optimized-db-storage.ts
Owners: @koveogestion/tech-leads

Improve document access to support various residence data structures
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Improve document access checks for various residence data structures
  server/api/documents.ts
Owners: @koveogestion/tech-leads

Add a documents page for residents with a link from their residence details
  client/src/App.tsx
  client/src/pages/residents/ResidenceDocuments.tsx
  client/src/pages/residents/residence.tsx
Owners: @koveogestion/tech-leads

Update resident residence page to show correct document counts
  client/src/pages/residents/residence.tsx
Owners: @koveogestion/tech-leads

Update resident documents to display related files and information
  attached_assets/image_1755726052498.png
  client/src/pages/residents/ResidenceDocuments.tsx
Owners: @koveogestion/tech-leads

Add pagination to view property documents with 10 items per page
  client/src/pages/residents/ResidenceDocuments.tsx
Owners: @koveogestion/tech-leads

Add tenant visibility option to documents and filter by it
  client/src/pages/residents/ResidenceDocuments.tsx
Owners: @koveogestion/tech-leads

Add a building view page with document access and switching capabilities
  client/src/App.tsx
  client/src/pages/residents/BuildingDocuments.tsx
  client/src/pages/residents/building.tsx
  package-lock.json
  package.json
Owners: @koveogestion/tech-leads

Fix issue preventing users from viewing building documents
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-react-dom-client-js-v-a2bbd25e-17995--1755727146827_1755727146828.txt
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-react-dom-client-js-v-a2bbd25e-17995--1755727151952_1755727151953.txt
  attached_assets/image_1755727140169.png
Owners: @koveogestion/tech-leads

Add tenant visibility filter and document viewing capabilities
  client/src/pages/residents/BuildingDocuments.tsx
Owners: @koveogestion/tech-leads

Ensure document pagination accurately reflects available documents
  attached_assets/image_1755727630111.png
  attached_assets/image_1755727844017.png
  client/src/pages/residents/BuildingDocuments.tsx
Owners: @koveogestion/tech-leads

Show documents assigned to a specific building by type
  client/src/pages/residents/BuildingDocuments.tsx
Owners: @koveogestion/tech-leads

Introduce and manage resident and manager demands for properties
  client/src/App.tsx
  client/src/pages/ManagerDemandsPage.tsx
  client/src/pages/ResidentDemandsPage.tsx
  server/api/demands.ts
  server/routes-minimal.ts
  server/storage.ts
  shared/schemas/operations.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Improve security and testing practices throughout the application
  tests/security/sql-injection-unit.test.ts
  tests/security/sql-injection.test.ts
  tests/setup-integration.ts
  tests/unit/buildings-basic.test.tsx
  types/global.d.ts
Owners: @koveogestion/tech-leads

Improve testing and fix various minor issues across the application
  attached_assets/image_1755734515296.png
  client/src/components/filter-sort/FilterSort.tsx
  client/src/components/forms/feature-form-refactored.tsx
  client/src/components/forms/feature-form.tsx
  client/src/components/forms/feature-form/use-feature-form-data.tsx
  tests/security/sql-injection.test.ts
  tests/setup-integration.ts
  tools/smart-context-manager.ts
  types/global.d.ts
Owners: @koveogestion/tech-leads

Expand test coverage across unit, integration, and end-to-end scenarios
  tests/e2e/demands/demands-user-flow.test.tsx
  tests/integration/api/api-security.test.ts
  tests/integration/demands/demands-workflow.test.ts
  tests/performance/database-queries.test.ts
  tests/test-coverage-report.md
  tests/unit/auth/rbac.test.ts
  tests/unit/demands/demands-api.test.ts
  tests/unit/demands/demands-schema.test.ts
Owners: @koveogestion/tech-leads

Enhance card text formatting and responsiveness for better display
  attached_assets/image_1755735202254.png
  client/src/index.css
  client/src/styles/card-utilities.css
  tests/test-summary.md
  tests/ui/card-text-formatting.test.tsx
  tests/ui/responsive-card-layout.test.tsx
  tests/ui/visual-regression.test.tsx
Owners: @koveogestion/tech-leads

Expand French and English language validation and testing coverage
  replit.md
  tests/e2e/i18n/content-display-i18n.test.tsx
  tests/i18n-validation-summary.md
  tests/integration/i18n/form-validation-i18n.test.tsx
  tests/unit/i18n/language-validation.test.ts
  tests/unit/i18n/quebec-compliance.test.ts
Owners: @koveogestion/tech-leads, @koveogestion/i18n-team, @koveogestion/quebec-compliance, @koveogestion/legal-team

Add tests to identify and reduce code redundancies across components
  replit.md
  tests/code-analysis-summary.md
  tests/code-analysis/component-extraction.test.ts
  tests/code-analysis/redundancy-detection.test.ts
  tests/code-analysis/style-consolidation.test.ts
Owners: @koveogestion/tech-leads

Add language switching functionality to the website's top menu
  client/src/components/layout/header.tsx
Owners: @koveogestion/tech-leads

Add language switching functionality to the main page
  attached_assets/image_1755736571885.png
  attached_assets/image_1755736579051.png
  client/src/pages/home.tsx
Owners: @koveogestion/tech-leads

Remove company name to display only the logo
  client/src/pages/home.tsx
Owners: @koveogestion/tech-leads

Make demand cards clickable to view details and remove redundant buttons
  client/src/components/demands/demand-details-popup.tsx
  client/src/pages/ResidentDemandsPage.tsx
  client/src/pages/manager/demands.tsx
Owners: @koveogestion/tech-leads
