Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team

Improve button functionality tests across the application
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .replit
  tests/unit/button-functionality/TEST_SUMMARY.md
  tests/unit/button-functionality/authentication-buttons.test.tsx
  tests/unit/button-functionality/comprehensive-button-test-suite.test.tsx
  tests/unit/button-functionality/dialog-buttons.test.tsx
  tests/unit/button-functionality/form-action-buttons.test.tsx
  tests/unit/button-functionality/management-buttons.test.tsx
  tests/unit/button-functionality/navigation-buttons.test.tsx
  tests/unit/button-functionality/ui-control-buttons.test.tsx
Owners: @koveogestion/tech-leads

Update test suite to pass additional unit tests for core functionalities
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
Owners: @koveogestion/tech-leads

Improve testing infrastructure and ensure accurate results
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
Owners: @koveogestion/tech-leads

Improve form validation tests for better error reporting
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/79/formcomponentstest_79b3a325028f7a514706f066cefbf844
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/79/formcomponentstest_79b3a325028f7a514706f066cefbf844.map
  tests/unit/form-components.test.tsx
Owners: @koveogestion/tech-leads

Improve form validation error message clarity and test suite robustness
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/3e/formcomponentstest_3eb1a1ab38a9c6b27fda7c87f6c169bb
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/3e/formcomponentstest_3eb1a1ab38a9c6b27fda7c87f6c169bb.map
  tests/unit/form-components.test.tsx
  tests/unit/forms/demand-comment-form.test.tsx
  tests/unit/forms/demand-submission-form.test.tsx
Owners: @koveogestion/tech-leads

Improve form submission and validation testing for better user experience
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/39/demandsubmissionformtest_39a11870974b7188fdd700966f0caf44
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/39/demandsubmissionformtest_39a11870974b7188fdd700966f0caf44.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/6f/demandcommentformtest_6f887cc3e3c60a20fd0eb941e40e4b2f
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/6f/demandcommentformtest_6f887cc3e3c60a20fd0eb941e40e4b2f.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/bf/formcomponentstest_bfc98bc35ef0b283d4020b30d3ef651c
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/bf/formcomponentstest_bfc98bc35ef0b283d4020b30d3ef651c.map
  tests/unit/forms/demand-submission-form.test.tsx
Owners: @koveogestion/tech-leads

Enhance form validation testing with improved element selection and error handling
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/bc/demandsubmissionformtest_bcddb6502ad5879a5914ccd2726d894d
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/bc/demandsubmissionformtest_bcddb6502ad5879a5914ccd2726d894d.map
  replit.md
Owners: @koveogestion/tech-leads

Update test suite to ensure accuracy and reliability
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
Owners: @koveogestion/tech-leads

Improve clarity and robustness of form validation tests
  tests/unit/form-components.test.tsx
  tests/unit/forms/demand-submission-form.test.tsx
Owners: @koveogestion/tech-leads

Improve form validation error message testing and mock setup
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/44/demandsubmissionformtest_44efbd7b67821da5844386a2fc7db8e6
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/44/demandsubmissionformtest_44efbd7b67821da5844386a2fc7db8e6.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/70/formcomponentstest_70d474cd2176586fec3f7f5d3db418e3
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/70/formcomponentstest_70d474cd2176586fec3f7f5d3db418e3.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/72/jestsetup_72a11b726f240105c9300a07ce5a9721
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/72/jestsetup_72a11b726f240105c9300a07ce5a9721.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/86/formcomponentstest_864bbe109c659b470990a69742ec4f6a
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/86/formcomponentstest_864bbe109c659b470990a69742ec4f6a.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d7/formcomponentstest_d7ed6c13ae79929c98f0032b464738e7
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d7/formcomponentstest_d7ed6c13ae79929c98f0032b464738e7.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/f4/formcomponentstest_f4db01a068dd81c5aa231a2fd5641f61
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/f4/formcomponentstest_f4db01a068dd81c5aa231a2fd5641f61.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  tests/unit/form-components.test.tsx
Owners: @koveogestion/tech-leads

Improve form validation tests for better reliability
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/96/demandsubmissionformtest_966347e9f44e7553dc00e6f43690bebb
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/96/demandsubmissionformtest_966347e9f44e7553dc00e6f43690bebb.map
  tests/unit/form-components.test.tsx
Owners: @koveogestion/tech-leads

Update project documentation to reflect current features and configurations
  replit.md
Owners: @koveogestion/tech-leads

Test Gemini integration for AI-powered form filling and identify issues
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/b7/geminiformintegrationtest_b70f73880e21ca4786ab8fe123c2cef5
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/b7/geminiformintegrationtest_b70f73880e21ca4786ab8fe123c2cef5.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  tests/unit/gemini-form-integration-issues-report.md
  tests/unit/gemini-form-integration.test.tsx
Owners: @koveogestion/tech-leads

Improve AI analysis and test accuracy for document processing
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/06/formcomponentstest_065c544aa5f7598ffd5b32062c9c3e6c
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/06/formcomponentstest_065c544aa5f7598ffd5b32062c9c3e6c.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/54/geminiformintegrationtest_543745eefd56e4e99fd0a9184a4e209e
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/54/geminiformintegrationtest_543745eefd56e4e99fd0a9184a4e209e.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  server/services/gemini-analysis.ts
  tests/unit/gemini-form-integration.test.tsx
Owners: @koveogestion/tech-leads

Improve AI response processing by sanitizing and validating all data inputs
  server/services/gemini-bill-analyzer.ts
Owners: @koveogestion/tech-leads

Add warnings for AI analysis with low confidence scores
  client/src/components/common/BillForm.tsx
  client/src/lib/i18n.ts
Owners: @koveogestion/tech-leads

Improve data validation and security for AI-generated responses
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
Owners: @koveogestion/tech-leads

Update test cache and security scan results
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/1c/BillForm_1c32da8c1483153e7fc387f2f34cd12d
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/1c/BillForm_1c32da8c1483153e7fc387f2f34cd12d.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/4f/index_4f9fdce44a0a746c0721ffd703f4c7bc
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/4f/index_4f9fdce44a0a746c0721ffd703f4c7bc.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/6c/geminibillanalyzer_6c9655e9ef014e1ed0b87a83dab584fe
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/6c/geminibillanalyzer_6c9655e9ef014e1ed0b87a83dab584fe.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/98/geminiformintegrationtest_987e5064be6c2b9e606862d8839ece1d
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/98/geminiformintegrationtest_987e5064be6c2b9e606862d8839ece1d.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/cf/i18n_cffdde98d1b6fb8521bf4ed2d131d6d7
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/cf/i18n_cffdde98d1b6fb8521bf4ed2d131d6d7.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  reports/security-summary.json
Owners: @koveogestion/tech-leads

Wrap test providers with router for better integration testing
  tests/utils/test-utils.tsx
Owners: @koveogestion/tech-leads

Improve test reliability by mocking database operations
  jest.setup.ts
Owners: @koveogestion/tech-leads

Improve test setup by mocking all database connections
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/14/usebrowserlocation_14ceecf461ae9aab3b8d4d6ecbd8aba3
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/14/usebrowserlocation_14ceecf461ae9aab3b8d4d6ecbd8aba3.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/1e/testutils_1e0a4b9845655dcd0509ef55ee85b5d1
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/1e/testutils_1e0a4b9845655dcd0509ef55ee85b5d1.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/34/index_34a0d1b5b74c55569fadee24343bf293
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/34/index_34a0d1b5b74c55569fadee24343bf293.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/cc/jestsetup_cc07c5136b29cdb6525021c28f84cf9a
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/cc/jestsetup_cc07c5136b29cdb6525021c28f84cf9a.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d7/reactdeps_d7b581256ae104ab6532b15dcde6668d
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d7/reactdeps_d7b581256ae104ab6532b15dcde6668d.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/dc/index_dcae3331b3216683999407101206f429
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/dc/index_dcae3331b3216683999407101206f429.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
Owners: @koveogestion/tech-leads

Improve test environment by mocking database connections
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/0d/jestsetup_0d68292147cbd1f3fb8b0e559df2855e
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/0d/jestsetup_0d68292147cbd1f3fb8b0e559df2855e.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/eb/jestsetup_eb84fb7316ef3e25c90c1c676addd16a
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/eb/jestsetup_eb84fb7316ef3e25c90c1c676addd16a.map
  .jest-cache/perf-cache-3fede1bed77e9c1c5b5cae9862f31169-da39a3ee5e6b4b0d3255bfef95601890
  jest.setup.ts
Owners: @koveogestion/tech-leads

Improve test stability by refining mocking for database operations
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  jest.setup.ts
Owners: @koveogestion/tech-leads

Improve test environment by mocking dependencies and simplifying database interactions
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d5/jestsetup_d523a3ad9ab7b7dcfb1914c9b0bd83e9
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d5/jestsetup_d523a3ad9ab7b7dcfb1914c9b0bd83e9.map
  jest.setup.ts
Owners: @koveogestion/tech-leads

Update Jest configuration to use comprehensive setup files
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/1b/jestglobalsetup_1b6b2c4de330ec26167316eca8465568
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/1b/jestglobalsetup_1b6b2c4de330ec26167316eca8465568.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/1c/jestsetup_1cf89b5d039e48c47026b8a7595428a2
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/1c/jestsetup_1cf89b5d039e48c47026b8a7595428a2.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/40/index_40e5910de550895d06d4c60f770715cb
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/40/index_40e5910de550895d06d4c60f770715cb.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d0/matchersa1259dd2_d01a91ee4a22c2c595eaebf6c2bcbce8
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d0/matchersa1259dd2_d01a91ee4a22c2c595eaebf6c2bcbce8.map
  jest.config.cjs
  jest.setup.minimal.ts
Owners: @koveogestion/tech-leads

Update test mocks to improve testing accuracy and reliability
  .jest-cache/haste-map-3fede1bed77e9c1c5b5cae9862f31169-23cc088b75f4c8a007250b5f7d09226a-e7d39015cd4d7f2d2fb02510eaff59be
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/14/testutils_14bda6a05b453a8c612605010e05a950
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/14/testutils_14bda6a05b453a8c612605010e05a950.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/17/usebrowserlocation_1785284c5641c0e6f9557c2a3b399248
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/17/usebrowserlocation_1785284c5641c0e6f9557c2a3b399248.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/1b/demandcommentformtest_1b1c3999d8c1d605d0a17392b748a596
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/1b/demandcommentformtest_1b1c3999d8c1d605d0a17392b748a596.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/69/jestsetup_69cd041f2ceffea59f120e9e17750874
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/69/jestsetup_69cd041f2ceffea59f120e9e17750874.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/76/index_76ffd22e0c7b6344404aaf0c4c998dca
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/76/index_76ffd22e0c7b6344404aaf0c4c998dca.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/b8/reactdeps_b871607fae6039692d86cb652252a19b
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/b8/reactdeps_b871607fae6039692d86cb652252a19b.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/ca/BillForm_caa4f5489c238b18ea744ada9e71ca3a
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/ca/BillForm_caa4f5489c238b18ea744ada9e71ca3a.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/cb/fileuploadformstest_cbb0ca5b5bb110600ace960a35189a6d
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/cb/fileuploadformstest_cbb0ca5b5bb110600ace960a35189a6d.map
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d2/index_d2184e726424a5968518bf72b59f84a9
  .jest-cache/jest-transform-cache-3fede1bed77e9c1c5b5cae9862f31169-869b39dc6cbce45b421081a30f024109/d2/index_d2184e726424a5968518bf72b59f84a9.map
  jest.setup.ts
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/Pasted--Objective-Create-a-foundational-set-of-reusable-React-components-for-a-comprehensive-document-m-1757163000391_1757163000392.txt
Owners: @koveogestion/tech-leads

Add a versatile uploader component for files and text
  client/src/components/document-management/SharedUploader.tsx
Owners: @koveogestion/tech-leads

Add a visual card to display document details and metadata
  client/src/components/document-management/DocumentCard.tsx
Owners: @koveogestion/tech-leads

Add a modal to view detailed information about property documents
  client/src/components/document-management/DocumentViewModal.tsx
Owners: @koveogestion/tech-leads

Add modal for creating, editing, and deleting documents
  client/src/components/document-management/DocumentEditModal.tsx
  client/src/components/document-management/index.ts
Owners: @koveogestion/tech-leads

Add detailed types for managing and displaying documents with associated metadata
  shared/schemas/documents.ts
Owners: @koveogestion/tech-leads

Add modular components for managing building documents
  client/src/pages/manager/ModularBuildingDocuments.tsx
Owners: @koveogestion/tech-leads

Add documentation for document management components
  client/src/components/document-management/README.md
Owners: @koveogestion/tech-leads

Add invoice management form with AI-powered data extraction
  attached_assets/Pasted--Objective-Implement-the-invoice-management-form-by-extending-the-core-document-system-This-imp-1757163908241_1757163908242.txt
Owners: @koveogestion/tech-leads

Add invoice management system to track financial records and AI extraction
  shared/schema.ts
  shared/schemas/invoices.ts
Owners: @koveogestion/database-admins, @koveogestion/tech-leads

Add invoice file upload and AI extraction capabilities
  server/middleware/fileUpload.ts
  server/services/geminiService.ts
Owners: @koveogestion/tech-leads

Add AI-powered invoice data extraction and processing capabilities
  server/api/invoices.ts
  server/routes.ts
  server/services/geminiService.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Add AI-powered invoice data extraction capability using Gemini
  client/src/components/invoices/GeminiInvoiceExtractor.tsx
  client/src/components/invoices/index.ts
Owners: @koveogestion/tech-leads

Add a form component for creating and editing invoices
  client/src/components/invoices/InvoiceForm.tsx
  client/src/components/invoices/index.ts
Owners: @koveogestion/tech-leads
