Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team

Improve error handling and logging throughout the application
  server/auth/invitation-rbac.ts
  server/database-optimization.ts
  server/optimized-db-storage.ts
  server/performance-monitoring.ts
  server/services/monthly-budget-service.ts
Owners: @koveogestion/security-team, @koveogestion/tech-leads

Refine invitation permissions and budget data handling
  server/auth/invitation-rbac.ts
  server/services/monthly-budget-service.ts
  uploads/buildings/005b0e63-6a0a-44c9-bf01-2b779b316bba/dab46f25-1726-49af-b398-7096a191c8b2-fichier texte (5).txt
Owners: @koveogestion/security-team, @koveogestion/tech-leads

Fix syntax error in query client configuration for error handling
  client/src/lib/queryClient.ts
Owners: @koveogestion/tech-leads

Update document storage to use local file system instead of Google Cloud
  client/src/components/common/DocumentManager.tsx
  client/src/lib/documents.ts
  package-lock.json
  package.json
  pyproject.toml
  server/api/cleanup.ts
  server/api/documents.ts
  shared/schemas/documents.ts
  src/lib/gcs.ts
  uv.lock
Owners: @koveogestion/tech-leads

Improve dashboard compliance display and document serving
  client/src/components/auth/registration-wizard.tsx
  client/src/components/auth/steps/token-validation-step.tsx
  client/src/components/dashboard/law25-compliance.tsx
  server/api/documents.ts
  server/index.ts
Owners: @koveogestion/tech-leads, @koveogestion/api-team

Add error handling and logging to improve application stability
  client/src/components/common-spaces/calendar-view.tsx
  client/src/components/common-spaces/user-calendar.tsx
  client/src/components/layout/sidebar.tsx
  client/src/components/ui/trial-request-form.tsx
  client/src/hooks/use-auth.tsx
  client/src/hooks/use-fullscreen.ts
  client/src/pages/admin/roadmap.tsx
  client/src/pages/manager/budget.tsx
  client/src/pages/manager/buildings.tsx
  client/src/pages/manager/common-spaces-stats.tsx
  client/src/pages/manager/demands.tsx
  client/src/utils/component-loader.ts
  client/src/utils/memory-monitor.ts
Owners: @koveogestion/tech-leads

Improve error handling and display for various application sections
  client/src/components/common-spaces/calendar-view.tsx
  client/src/pages/admin/roadmap.tsx
  client/src/pages/manager/buildings.tsx
  client/src/pages/manager/common-spaces-stats.tsx
Owners: @koveogestion/tech-leads

Improve error handling and debugging for feature form and roadmap
  client/src/components/forms/feature-form.tsx
  client/src/pages/admin/roadmap.tsx
Owners: @koveogestion/tech-leads

Fix error handling when clearing draft features
  client/src/components/forms/feature-form.tsx
Owners: @koveogestion/tech-leads

Improve error handling for prompt copying functionality
  client/src/components/forms/feature-form.tsx
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1756842769354.png
  uploads/residences/e27ac924-8120-4904-a791-d1e9db544d58/cc5792ca-5345-4ebb-b9e3-53c4f44f6314-fichier texte (5).txt
Owners: @koveogestion/tech-leads

Add ability to edit document metadata for better organization
  client/src/components/common/DocumentManager.tsx
  uploads/residences/e27ac924-8120-4904-a791-d1e9db544d58/65b4ebc0-cf51-46a3-896d-ebc79bef34d8-fichier texte (5).txt
Owners: @koveogestion/tech-leads

Update document cards to display only an edit button
  attached_assets/image_1756843579225.png
  client/src/components/common/DocumentManager.tsx
Owners: @koveogestion/tech-leads

Fix error when displaying building information due to undefined variable
  attached_assets/Pasted-index-pPa8jt1U-js-413-GET-https-723dd16d-7686-454e-a8f7-5701a0c98535-00-26q11uzml0jwy-picard-repl-1756843702341_1756843702341.txt
  client/src/pages/manager/buildings.tsx
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/Pasted-DocumentManager-Bg5ywja-js-1-GET-https-koveo-gestion-com-api-documents-buildingId-409986ca-8e25--1756844754016_1756844754016.txt
  attached_assets/image_1756844741990.png
Owners: @koveogestion/tech-leads

Update document retrieval to use creation date
  attached_assets/image_1756844852052.png
  server/optimized-db-storage.ts
Owners: @koveogestion/tech-leads

Implement dual database synchronization for schema changes
  replit.md
  scripts/sync-databases.ts
  sync-db.sh
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Add tests to ensure database consistency between development and production environments
  scripts/test-database-sync.ts
  tests/integration/database-sync.test.ts
  tests/integration/document-functionality.test.ts
  tests/unit/sync-validation.test.ts
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Improve database sync testing for easier development
  db-status.sh
  scripts/dev-db-check.ts
  sync-test.sh
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Update testing configurations and add new test scripts
  package.json
Owners: @koveogestion/tech-leads

Adjust test configurations and add database management commands
  package.json
Owners: @koveogestion/tech-leads

Saved your changes before starting work
  attached_assets/image_1756847001505.png
Owners: @koveogestion/tech-leads

Improve pull request review process with automated checks
  .github/workflows/enforce-review.yml
  attached_assets/Pasted-Run-actions-github-script-v7-with-github-token-script-const-context-github--1756847173082_1756847173082.txt
Owners: @koveogestion/devops-team, @koveogestion/tech-leads

Add automated checks for pull request quality and standards
  attached_assets/Pasted-Run-actions-github-script-v7-with-github-token-script-const-context-github--1756847341098_1756847341098.txt
  attached_assets/image_1756847332204.png
Owners: @koveogestion/tech-leads

Add checks for pull request requirements to improve code quality
  attached_assets/Pasted--debug-Evaluating-condition-for-step-Check-PR-requirements-debug-Evaluating-success--1756847587440_1756847587441.txt
  attached_assets/image_1756847482300.png
  attached_assets/image_1756847597963.png
Owners: @koveogestion/tech-leads

Update workflow to prepare for script execution
  .github/workflows/quality-check.yml
Owners: @koveogestion/devops-team, @koveogestion/tech-leads

Add automated checks for pull request quality and requirements
  attached_assets/Pasted-name-Enforce-Code-Review-Requirements-on-pull-request-target-types-opened-edited-synch-1756847749817_1756847749818.txt
Owners: @koveogestion/tech-leads

Add automated checks for pull request quality and compliance
  attached_assets/Pasted-Run-actions-github-script-v7-with-github-token-script-const-context-github--1756847843653_1756847843653.txt
Owners: @koveogestion/tech-leads

Add new component for displaying property information
  attached_assets/image_1756847950570.png
Owners: @koveogestion/tech-leads

Add automated checks for pull request requirements and quality
  attached_assets/Pasted-Run-actions-github-script-v7-with-github-token-script-const-context-github--1756848125898_1756848125898.txt
  attached_assets/image_1756848107673.png
  attached_assets/image_1756848119632.png
Owners: @koveogestion/tech-leads

Update enforce-review.yml
  .github/workflows/enforce-review.yml
Owners: @koveogestion/devops-team, @koveogestion/tech-leads

Update quality-check.yml
  .github/workflows/quality-check.yml
Owners: @koveogestion/devops-team, @koveogestion/tech-leads

Improve document management with enhanced cloud storage integration
  attached_assets/image_1756848592638.png
  attached_assets/image_1756848597304.png
Owners: @koveogestion/tech-leads

Improve the platform's ability to store and manage important documents effectively
  attached_assets/image_1756848814107.png
Owners: @koveogestion/tech-leads

Improve user experience by adding new file upload functionality
  attached_assets/image_1756848913750.png
Owners: @koveogestion/tech-leads

Add new image to the attached assets folder
  attached_assets/image_1756848980143.png
Owners: @koveogestion/tech-leads

Update GitHub Actions to correctly post review comments
  attached_assets/Pasted-Run-actions-github-script-v7-Checking-PR-requirements-RequestError-HttpError-Resource-not-1756849054259_1756849054259.txt
Owners: @koveogestion/tech-leads

Add automated checks for pull request quality and compliance
  attached_assets/Pasted-Run-actions-github-script-v7-with-github-token-script-const-pr-context-payload-1756849176257_1756849176258.txt
Owners: @koveogestion/tech-leads

Improve code review process with automated checks and guidelines
  attached_assets/Pasted-Run-actions-github-script-v7-with-github-token-script-const-pr-context-payload-1756849251125_1756849251125.txt
Owners: @koveogestion/tech-leads

Improve interactivity on the dashboard for better user experience
  attached_assets/image_1756849313220.png
Owners: @koveogestion/tech-leads
