Repository kevinhervieux-koveo/koveo-gestion-saas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @koveogestion/tech-leads, @koveogestion/security-team, @koveogestion/database-admins, @koveogestion/devops-team, @koveogestion/quality-team, @koveogestion/quebec-compliance, @koveogestion/legal-team, @koveogestion/i18n-team, @koveogestion/accessibility-team, @koveogestion/mobile-team, @koveogestion/api-team, @koveogestion/business-team

Improve project setup to handle different module systems
  config/index.ts
  config/validate-permissions.ts
  jest.config.js
  server/api/contacts.ts
  tests/mocks/viteMock.js
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Automate future financial entries based on recurring bills and fees
  server/api/bills.ts
  server/api/money-flow.ts
  server/jobs/index.ts
  server/jobs/money_flow_job.ts
  server/routes-minimal.ts
  server/services/money-flow-automation.ts
Owners: @koveogestion/tech-leads

Enhance money flow feature with extensive integration and unit tests
  tests/integration/money-flow-api.test.ts
  tests/integration/money-flow-bill-integration.test.ts
  tests/integration/money-flow-job.test.ts
  tests/integration/money-flow-residence-integration.test.ts
  tests/unit/money-flow-automation.test.ts
  tests/unit/money-flow-calculations.test.ts
Owners: @koveogestion/tech-leads

Enhance bill management with auto-generation and reference tracking
  server/api/bills.ts
  server/services/bill-generation-service.ts
  server/services/money-flow-automation.ts
  shared/schemas/financial.ts
Owners: @koveogestion/tech-leads

Add extensive tests for all bill management functionalities
  attached_assets/image_1755789524951.png
  tests/bills-comprehensive-test-summary.md
  tests/integration/bill-relationships-integration.test.ts
  tests/integration/bill-workflow-end-to-end.test.ts
  tests/unit/advanced-bill-api.test.ts
  tests/unit/bill-generation-service.test.ts
  tests/unit/bill-schema-validation.test.ts
  tests/unit/payment-logic-comprehensive.test.ts
Owners: @koveogestion/tech-leads

Add ability to filter bills by multiple months and view future years
  client/src/pages/manager/bills.tsx
  server/api/bills.ts
Owners: @koveogestion/tech-leads

Update bill details to reflect new payment methodologies
  server/api/bills.ts
Owners: @koveogestion/tech-leads

Add historical bills for the Demo Organization to showcase past data
  server/api/bills.ts
Owners: @koveogestion/tech-leads

Show all available bills by default on the manager page
  client/src/pages/manager/bills.tsx
Owners: @koveogestion/tech-leads

Update bill filtering to include all years by default
  attached_assets/image_1755791501192.png
  client/src/pages/manager/bills.tsx
Owners: @koveogestion/tech-leads

Update bills page to default to current year and remove 'All Years' filter
  client/src/pages/manager/bills.tsx
Owners: @koveogestion/tech-leads

Add mock future bills for 2025 and 2026 to showcase functionality
  attached_assets/image_1755791623085.png
  attached_assets/image_1755791636975.png
  server/api/bills.ts
Owners: @koveogestion/tech-leads

Remove mock data, prepare for real demo data integration
  attached_assets/image_1755792182304.png
  server/api/bills.ts
  shared/schemas/financial.ts
Owners: @koveogestion/tech-leads

Improve bill data handling and creation process
  server/api/bills.ts
Owners: @koveogestion/tech-leads

Improve bill generation to automatically create future bills based on schedules
  server/services/bill-generation-service.ts
Owners: @koveogestion/tech-leads

Adjust year filter to show recent years with an option to view more
  attached_assets/image_1755794260822.png
  client/src/pages/manager/bills.tsx
Owners: @koveogestion/tech-leads

Improve bill management with recurrence end dates and duplicate prevention
  client/src/pages/manager/bills.tsx
  server/api/bills.ts
  server/services/bill-generation-service.ts
Owners: @koveogestion/tech-leads

Add document upload and AI analysis for bills
  .replit
  attached_assets/image_1755795309726.png
  client/src/components/BillEditForm.tsx
  client/src/pages/manager/bills.tsx
  package-lock.json
  package.json
  server/api/bills.ts
  server/services/gemini-bill-analyzer.ts
Owners: @koveogestion/tech-leads

Display cards for each building when no building is selected
  client/src/components/BuildingSelectionGrid.tsx
  client/src/pages/manager/bills.tsx
Owners: @koveogestion/tech-leads

Add a feature to create new bills with manual entry or AI analysis
  client/src/components/BillCreateForm.tsx
  client/src/pages/manager/bills.tsx
Owners: @koveogestion/tech-leads

Add monthly budget tracking and automated population for all properties
  server/scripts/populate-monthly-budgets.ts
  server/services/monthly-budget-service.ts
  shared/schema.ts
  shared/schemas/financial.ts
Owners: @koveogestion/tech-leads, @koveogestion/database-admins

Introduce delayed updates for financial calculations and budgeting
  server/api/bills.ts
  server/api/delayed-updates.ts
  server/api/residences.ts
  server/routes-minimal.ts
  server/services/delayed-update-service.ts
  test-delayed-updates.js
Owners: @koveogestion/tech-leads

Finalize and test the comprehensive budget management system
  budget-system-summary.md
  server/tests/budget-api-integration.test.ts
  server/tests/budget-database-integrity.test.ts
  server/tests/delayed-update-service.test.ts
  server/tests/monthly-budget-service.test.ts
  test-delayed-updates.js
Owners: @koveogestion/tech-leads

Refine bill creation and editing, and improve data processing
  client/src/components/BillCreateForm.tsx
  client/src/components/BillEditForm.tsx
  client/src/pages/manager/bills.tsx
  scripts/enhanced-ai-agent-cli.ts
  scripts/run-quality-check.ts
  server/api/bills.ts
  server/api/delayed-updates.ts
  server/api/money-flow.ts
  server/jobs/money_flow_job.ts
  server/scripts/populate-monthly-budgets.ts
  server/services/bill-generation-service.ts
  server/services/delayed-update-service.ts
  server/services/gemini-bill-analyzer.ts
  server/services/money-flow-automation.ts
  server/services/monthly-budget-service.ts
  tests/integration/bill-relationships-integration.test.ts
  tests/integration/bill-workflow-end-to-end.test.ts
  tests/integration/money-flow-job.test.ts
  tests/integration/money-flow-residence-integration.test.ts
  tests/unit/advanced-bill-api.test.ts
  tests/unit/bill-generation-service.test.ts
  tests/unit/bill-schema-validation.test.ts
  tests/unit/i18n/language-validation.test.ts
  tests/unit/i18n/quebec-compliance.test.ts
  tests/unit/money-flow-automation.test.ts
  tests/unit/money-flow-calculations.test.ts
  tests/unit/payment-logic-comprehensive.test.ts
  types/components.d.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team, @koveogestion/i18n-team, @koveogestion/quebec-compliance, @koveogestion/legal-team

Improve application stability and code quality across modules
  client/src/components/BillCreateForm.tsx
  client/src/components/BillEditForm.tsx
  scripts/enhanced-ai-agent-cli.ts
  tests/unit/demands/demands-api.test.ts
  tests/unit/form-validation.test.ts
  tests/unit/hooks.test.tsx
  tests/unit/i18n/language-validation.test.ts
  tests/unit/language-validation.test.ts
  tests/unit/language.test.tsx
  tools/replit-integration-enhancer.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team, @koveogestion/i18n-team

Refine type safety and error handling across the application
  client/src/components/ui/standard-form.tsx
  client/src/hooks/use-auth.tsx
  scripts/enhanced-ai-agent-cli.ts
  tests/unit/bill-schema-validation.test.ts
  tests/unit/bills-api.test.ts
  tests/unit/db/query-scoping.test.ts
  tools/replit-integration-enhancer.ts
Owners: @koveogestion/tech-leads, @koveogestion/quality-team

Add pre-commit checks to enforce code quality before commits
  .husky/pre-commit
  package-lock.json
  package.json
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Improve code quality checks with automated pre-commit hooks
  .husky/_/husky.sh
  .lintstagedrc.json
Owners: @koveogestion/quality-team, @koveogestion/tech-leads

Adjust bill year filtering to show years before building construction
  attached_assets/image_1755803892452.png
  client/src/pages/manager/bills.tsx
Owners: @koveogestion/tech-leads

Adjust the default year range for property bill management views
  attached_assets/image_1755804136554.png
  attached_assets/image_1755804174520.png
  client/src/pages/manager/bills.tsx
Owners: @koveogestion/tech-leads

Update year display to show a dynamic range of years
  client/src/pages/manager/bills.tsx
Owners: @koveogestion/tech-leads

Update money flow entries to correctly categorize expenses and income
  server/services/money-flow-automation.ts
Owners: @koveogestion/tech-leads

Add budget overview page with yearly and monthly views
  client/src/pages/manager/budget.tsx
  server/api/budgets.ts
  server/routes-minimal.ts
  shared/schemas/property.ts
Owners: @koveogestion/tech-leads, @koveogestion/business-team, @koveogestion/quebec-compliance

Add sample data to budget dashboard when no data exists
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-react-dom-client-js-v-d17d27d5-17995--1755805711948_1755805711949.txt
  attached_assets/image_1755805718146.png
  client/src/pages/manager/budget.tsx
  server/api/budgets.ts
Owners: @koveogestion/tech-leads

Fix error preventing dashboard display on the budget page
  attached_assets/Pasted-client-733-vite-connecting-client-827-vite-connected-react-dom-client-js-v-d17d27d5-17995--1755805837668_1755805837668.txt
  server/api/budgets.ts
Owners: @koveogestion/tech-leads

Add year filtering to the budget view for better financial tracking
  client/src/pages/manager/budget.tsx
Owners: @koveogestion/tech-leads

Move bank account management section to the dashboard view
  attached_assets/image_1755806198841.png
  attached_assets/image_1755806234423.png
  attached_assets/image_1755806244003.png
  client/src/pages/manager/budget.tsx
Owners: @koveogestion/tech-leads

Update budget categories to display translated and correct names
  client/src/pages/manager/budget.tsx
  client/src/pages/manager/budget.tsx.backup
Owners: @koveogestion/tech-leads

Improve budget reporting with internationalization and data transformation
  client/src/pages/manager/budget.tsx
Owners: @koveogestion/tech-leads

Organize filters for better readability and user experience
  client/src/components/ui/collapsible-filters.tsx
  client/src/pages/manager/budget.tsx
Owners: @koveogestion/tech-leads

.github/CODEOWNERS:

# Global codeowners for Koveo Gestion
# Every PR requires approval from at least one codeowner

# Default owners for all files
* @koveogestion/tech-leads

# Security and authentication related files
/server/auth/ @koveogestion/security-team
/lib/auth/ @koveogestion/security-team
**/auth*.ts @koveogestion/security-team
**/security*.ts @koveogestion/security-team

# Database and schema changes
/shared/schema.ts @koveogestion/database-admins @koveogestion/tech-leads
/migrations/ @koveogestion/database-admins
**/storage.ts @koveogestion/database-admins
drizzle.config.ts @koveogestion/database-admins

# Critical infrastructure files
package.json @koveogestion/tech-leads
package-lock.json @koveogestion/tech-leads
tsconfig.json @koveogestion/tech-leads
vite.config.ts @koveogestion/tech-leads
tailwind.config.ts @koveogestion/tech-leads

# CI/CD and quality assurance
/.github/ @koveogestion/devops-team @koveogestion/tech-leads
/scripts/ @koveogestion/quality-team @koveogestion/tech-leads
eslint.config.js @koveogestion/quality-team
jest.config.js @koveogestion/quality-team
.husky/ @koveogestion/quality-team

# Quebec compliance and legal requirements
**/quebec*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/compliance*.ts @koveogestion/quebec-compliance @koveogestion/legal-team
**/privacy*.ts @koveogestion/quebec-compliance @koveogestion/legal-team

# Internationalization and accessibility
**/language*.ts @koveogestion/i18n-team
**/translation*.ts @koveogestion/i18n-team
**/accessibility*.ts @koveogestion/accessibility-team

# Mobile and responsive design
**/mobile/ @koveogestion/mobile-team
**/responsive/ @koveogestion/mobile-team

# API and backend critical paths
/server/routes.ts @koveogestion/api-team @koveogestion/tech-leads
/server/index.ts @koveogestion/api-team @koveogestion/tech-leads

# Property management business logic
**/property*.ts @koveogestion/business-team @koveogestion/quebec-compliance
**/maintenance*.ts @koveogestion/business-team
**/billing*.ts @koveogestion/business-team @koveogestion/security-team
